@charset "EUC-JP";

/**
 * ブラウザスタイルのリセットと初期設定
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	color: #000000;
	font-size: 12px;
	/*background: #000;*/
	background: #f7f7f7;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before, q:after {
	content: "";
}
abbr, acronym {
	border: 0;
}
a:link, a:visited {
	color: #fff;
}
a:hover, a:active {
	color: #ccc881;
}

/**
 * サイト内共通のレイアウトスタイル
 */
#header, #headerExtended {
	background: url(../images/appendixNav-back_new.gif) repeat-x 0px 0px;
	margin-bottom:15px;
}

#header {
	margin-bottom: 30px;
}
#header .inner, #headerExtended .inner {
	width: 950px;
	height: 62px;
	margin: 0 auto;
}

#siteLogo {
	float: left;
	width: 404px;
	height: 38px;
	margin: 11px 0 0;
}
#siteLogo a {
	display: block;
	width: 404px;
	height: 38px;
	overflow: hidden;
	text-indent: -9999px;
	background: transparent url("../images/sitelogo_new.gif") no-repeat 0 0;
}
#headerNav {
	float: right;
	padding-top: 10px;
	/*width:145px;*/
	/*border:solid 1px #CC0033;*/
}
#headerNav li {
	float: left;
	padding-top: 3px;
	color: #cdcdcd;
	font-size: 10px;
}

#headerRnav{
	width:460px;
	float:right;
}

#sitemapLink {
	padding-left: 16px;
	background: transparent url("../images/sitemapLink-icon.gif") no-repeat 0 4px;
}
.sitemapLinkHover {
	background-image: url("../images/sitemapLink-icon-hover.gif") !important;
}
.sitemapLinkHover a {
	color: #ccc881 !important;
}
#headerNav a:link, #headerNav a:visited, #headerNav a:hover, #headerNav a:active {
	color: #cdcdcd;
	text-decoration: none;
}
#textsizecontroller dl {
	padding-left: 0px;
}
#textsizecontroller dt {
	float: left;
	padding: 0 5px 0 10px;
}
#textsizecontroller dd {
	float: left;
	margin-top: -6px;
}
#textsizecontroller a {
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/tsbg_new.gif");
	background-repeat: no-repeat;
	margin-right:3px;
}

#textsizecontroller li.ts_large a {
	margin-right:0px;
}

#siteSearch {
	float: left;
	position: relative;
	width: 313px;
	height: 20px;
	margin-top: 10px;
}
#siteSearch dt {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 8px 0 0px;
	color: #cccccc;
	font-size: 10px;
}
#siteSearch dd {
	position: absolute;
	top: 0;
	right: 0;
	width: 214px;
	height: 20px;
}
#siteSearch .textBox {
	position: absolute;
	top: 0;
	right:55px;
	width: 164px;
	height: 20px;
	border: 1px solid #4f4f4f;
	color: #fff;
	background: #626262;
}
#siteSearch .button {
	position: absolute;
	top: 0;
	right: 5px;
	border: 0;
	width: 46px;
	height: 20px;
	cursor: pointer;
	text-indent: -9999px;
	background: transparent url("../images/siteSearch-button_new.gif") no-repeat 0 0;
}
#siteSearch .buttonHover {
	background-position: 0px -20px;
}
#header2 {
	width:270px;
	height:22px;
	float:right;
}
#appendixNav {
	height: 22px;
}
#appendixNav .inner {
	width: 270px;
}
#appendixNav li {
	float: left;
	height: 22px;
	line-height: 0;
	font-size: 0;
}
#appendixNav a {
	display: block;
	height: 22px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/appendixNav-item_new.gif");
	background-repeat: no-repeat;
}
#appendixNavGuide, #appendixNavGuide a {
	width: 93px;
}
#appendixNavLogout, #appendixNavLogout a {
	width: 90px;
}
#appendixNavLogout, #appendixNavSitemap a {
	width: 87px;
}

#appendixNavGuide a:link, #appendixNavGuide a:visited {
	background-position: 0 0;
}
#appendixNavGuide a:hover, #appendixNavGuide a:active {
	background-position: 0 -22px;
}
#appendixNavLogout a:link, #appendixNavLogout a:visited {
	background-position: -180px 0;
}
#appendixNavLogout a:hover, #ppendixNavLogout a:active {
	background-position: -180px -22px;
}
#appendixNavSitemap a:link, #appendixNavSitemap a:visited {
	background-position: -90px 0;
}
#appendixNavSitemap a:hover, #ppendixNavSitemap a:active {
	background-position: -90px -22px;
}

#personalInfo {
	height: 23px;
	background-color:#cccccc;
}
#personalInfo .inner {
	width: 950px;
	height: 23px;
	margin: 0 auto;
}
#welcomeMessage {
	float: left;
	font-weight: bold;
}
#historyLink, #contactMailLink, #inCharge {
	float: right;
}
#historyLink {
	width: 83px;
	height: 19px;
	margin-left: 3px;
}
#historyLink a {
	display: block;
	width: 83px;
	height: 19px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/historyLink_new.gif");
	background-repeat: no-repeat;
}
#historyLink a:link, #historyLink a:visited {
	background-position: 0 0;
}
#historyLink a:hover, #historyLink a:active {
	background-position: 0 -19px;
}
#contactMailLink {
	width: 195px;
	height: 19px;
	margin-left: 7px;
}
#contactMailLink a {
	display: block;
	width: 195px;
	height: 19px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/contactMailLink_new.gif");
	background-repeat: no-repeat;
}
#contactMailLink a:link, #contactMailLink a:visited {
	background-position: 0 0;
}
#contactMailLink a:hover, #contactMailLink a:active {
	background-position: 0 -19px;
}
#inCharge {
}
#globalNav {
	width: 100%;
	margin:0px;
	background:url("../images/globalNavbg_new.gif") repeat-x 0px 0px;
	height:42px;
}
#globalNav .globalNavinner {
	width: 950px;
	height:38px;
	margin:0px auto;
	background:url("../images/globalNav-item_new.gif") repeat-x 0px 0px;
}

#globalNav li {
	float: left;
	height: 38px;
}
#globalNav01 {
	width: 99px;
	background-position: 590px 0px;
}
#globalNav02 {
	width: 203px;
	background-position: 153px 0px;
}
#globalNav03 {
	width: 144px;
	background-position: 356px 0px;
}
#globalNav04 {
	width: 90px;
	background-position: 500px 0px;
}
#globalNav05 {
	width: 153px;
	background-position: 0px 0px;
}
#globalNav06 {
	width: 261px;
	background-position: 689px 0px;
}
#globalNav .globalNavinner a {
	display: block;
	height: 38px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/globalNav-item_new.gif");
	background-repeat: no-repeat;
}
#globalNav01 a {
	width: 99px;
    overflow:hidden;
}
#globalNav01 a:link, #globalNav01 a:visited {
	background-position: -590px 0;
}
#globalNav01 a:hover, #globalNav01 a:active {
	background-position: -590px -38px;
}
#globalNav02 a {
	width: 203px;
    overflow:hidden;
}
#globalNav02 a:link, #globalNav02 a:visited {
	background-position: -153px 0;
}
#globalNav02 a:hover, #globalNav02 a:active {
	background-position: -153px -38px;
}
#globalNav03 a {
	width: 144px;
    overflow:hidden;
}
#globalNav03 a:link, #globalNav03 a:visited {
	background-position: -356px 0;
}
#globalNav03 a:hover, #globalNav03 a:active {
	background-position: -356px -38px;
}
#globalNav04 a {
	width: 90px;
    overflow:hidden;
}
#globalNav04 a:link, #globalNav04 a:visited {
	background-position: -500px 0;
}
#globalNav04 a:hover, #globalNav04 a:active {
	background-position: -500px -38px;
}
#globalNav05 a {
	width: 153px;
    overflow:hidden;
}
#globalNav05 a:link, #globalNav05 a:visited {
	background-position: 0px 0;
}
#globalNav05 a:hover, #globalNav05 a:active {
	background-position: 0px -38px;
}
#globalNav06 a {
	width: 261px;
    overflow:hidden;
}
#globalNav06 a:link, #globalNav06 a:visited {
	background-position: -689px 0;
}
#globalNav06 a:hover, #globalNav06 a:active {
	background-position: -689px -38px;
}
#topicPath {
	width: 950px;
	margin: 0 auto;
	/*padding: 0 7px;*/
	/*background: #c2bfb6*/
	margin-bottom:10px;
}
#topicPath li {
	float: left;
	margin-right: 6px;
	padding-right: 10px;
	background: transparent url("../images/topicPath-separator.gif") no-repeat 100% 45%;
	color: #000;
	}
#topicPath a:link, #topicPath a:visited {
	color: #000;
	/*text-decoration: none;*/
	text-decoration: underline;
}
#topicPath a:hover, #topicPath a:active {
	/*color: #000;*/
	/*text-decoration: underline;*/
	color: #8f8246;
	text-decoration: none;
}
#presentLocation {
	margin-right: 0 !important;
	padding-right: 0 !important;
	font-weight: bold;
	background: transparent !important;
}
#publication {
	width: 950px;
	margin: 0 auto 15px;
	background:url(../images/publication_line.gif) repeat-x 0px 0px;
}
#aboutPlatinumSalon {
	float: left;
	width: 430px;
	padding:20px 20px 0px 0px;
}
#aboutMobile {
	float: left;
	width: 440px;
	padding:15px 0px 15px 20px;
	background:url(../images/publication_line2.gif) repeat-y left 0px;
}
#aboutSeibuShibuya {
	float: left;
	width: 470px;
	background:url(../images/publication_line2.gif) repeat-y left 0px;
	padding:20px 0px 20px 20px;
}
#publication h2 {
	height: 15px;
	margin-bottom: 15px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#aboutPlatinumSalon h2 {
	background-image: url("../images/PlatinumSalon-title.gif");
}

#aboutMobile h2 {
	background-image: url("../images/MobileSite.gif");
}

#aboutSeibuShibuya h2 {
	background-image: url("../images/SeibuShibuya.gif");
}
#publication p, #publication dt, #publication dd {
	color: #aaa;
}
#info div {
	margin-bottom: 10px;
}
#info p {
	font-size:10px;
	color:#000000;
}
#info p.infotex {
	margin: 15px 0px;
}
#aboutPlatinumSalon #info p.infotex span.ttl{
	font-weight: bold;
	display:block;
}

#info p.infotex span.ttl2{
	font-weight: bold;
	font-size:14px;
	display:block;
}


#info .desc {
	margin: -.25em 0 9px;
}
#platinumSalonTel {
	width: 174px;
	height: 109px;
	text-indent: -9999px;
	background: transparent url("../images/platinumSalonTel.gif") no-repeat 0 0;
}
#inCharge2 {
	padding-top: 10px;
	width:420px;
	word-break: break-all;
}
#inCharge2 p {
	padding-bottom: 3px;
	font-weight: bold;
}
#inCharge2 li {
	width: 300px;
	height: 35px;
	margin-bottom: 5px;
}
#inCharge2 li.contactLink{
	width:195px;
	float:left;
}
#inCharge2 li a {
	display: block;
	width: 195px;
	height: 19px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/contactMailLink_new.gif");
	background-repeat: no-repeat;
}
#inCharge2 .contactLink a:link, #inCharge2 .contactLink a:visited {
	background-position: 0 0;
}
#inCharge2 .contactLink a:hover, #inCharge2 .contactLink a:active {
	background-position: 0 -19px;
}
#inCharge2 .reserveLink a:link, #inCharge2 .reserveLink a:visited {
	background-position: -195px 0;
}
#inCharge2 .reserveLink a:hover, #inCharge2 .reserveLink a:active {
	background-position: -195px -15px;
}
#inCharge2 .chargeName{
	font-size:12px;
	color:#000000;
	float:left;
}

#aboutMobile h3 {
	height: 13px;
	margin-bottom: 14px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#aboutSeibuShibuya div {
	float: left;
}

#aboutSeibuShibuya p {
	font-weight:bold;
	color:#000000;
	font-size:12px;
}
#aboutSeibuShibuya dd {
	color:#000000;
	font-size:10px;
}


#aboutSeibuShibuya h3 {
	height: 13px;
	margin-bottom: 14px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#mobileSiteInfo {
	width: 440px;	
}
#mobileSiteInfo h3 {
	background-image: url("../images/mobileSiteInfo-title.gif");
}
#mobileSiteInfo div {
	width: 140px;
	float:left;
	margin:0px;
}
#mobileSiteInfo dl{
}
#mobileSiteInfo dt{
	font-size:0.88em;
	color:#000000;
}
#mobileSiteInfo dd{
	font-size:1.00em;
	color:#000000;
	font-weight:bold;
	margin:30px 0px 0px;
}

#mailQRCode {
	margin-top: 10px;
}
#mailQRCode a {
	display: block;
	width: 170px;
	height: 18px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/mailQRCode.gif");
	background-repeat: no-repeat;
}
#mailQRCode a:link, #mailQRCode a:visited {
	background-position: 0 0;
}
#mailQRCode a:hover, #mailQRCode a:active {
	background-position: 0 -18px;
}
#businessTimeInfo {
	width: 260px;
}
#aboutSeibuShibuya #businessTimeInfo p{
	font-size:1.06em;
}
#businessTimeInfo h3 {
	background-image: url("../images/businessTimeInfo-title.gif");
}
#offDayInfo {
	width: 175px;
	padding-left: 30px;
}
#aboutSeibuShibuya #offDayInfo  p{
	font-size: 1.06em;
}
#offDayInfo h3 {
	background-image: url("../images/offDayInfo-title.gif");
}
#footer {
	background-color:#000000;
}
#footer .inner {
	width: 950px;
	height: 70px;
	margin: 0 auto;
	padding: 14px 0 0;
}
#footerNav {
	float: left;
	width: 430px;
}
#footerMenu {
	background-color:#222222;
}
#footerMenu .inner {
	width: 950px;
	height: 255px;
	margin: 0 auto;
	padding: 14px 0 0;
}
#footerNav {
	float: left;
	width: 430px;
}
#footerMenu h2 {
	height: 10px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#footerMenu #mainContents h2 {
	background-image: url("../images/footerNav_main.gif");
}
#footerMenu #guide h2 {
	background-image: url("../images/footerNav_guide.gif");
}
#footerMenu #infoma h2 {
	background-image: url("../images/footerNav_info.gif");
}
#footerMenu #mainContents{
	width:575px;
	float:left;
}
#footerMenu #guide{
	width:140px;
	height:220px;
	padding:0px 0px 0px 20px;
	float:left;
	border-left: solid 1px #393939;
}
#footerMenu #infoma{
	width:170px;
	height:220px;
	padding:0px 0px 0px 20px;
	float: right;
	border-left: solid 1px #393939;
}

#footerMenu #mainContents div{
	width: 160px;
	float:left;
}
#footerMenu #mainContents div.boxr{
	width: 250px;
	float:left;
}
#footerMenu dl{
	margin: 0px 0px 15px;
}
#footerMenu dt{
	background:url(../images/footer_icon01.gif) no-repeat 0px 5px;
	padding:0px 0px 0px 10px;
	margin-bottom:5px;
	color:#cccccc;
	font-size: 1.00em;
}
#footerMenu dd{
	background:url(../images/footer_icon02.gif) no-repeat 0px 6px;
	padding:0px 0px 0px 10px;
	color:#888888;
	font-size: 1.00em;
}
#footerMenu dt a:link,#footerMenu dt a:visited{
	color:#cccccc;
	text-decoration:none;
}
#footerMenu dt a:hover,#footerMenu dt a:active{
	color:#8f8246;
	text-decoration:none;
}
#footerMenu dd a:link,#footerMenu dd a:visited{
	color:#888888;
	text-decoration: underline;
}
#footerMenu dd a:hover,#footerMenu dd a:active{
	color:#8f8246;
	text-decoration:none;
}
#footerMenu #guide{
}



#footerNav li {
	float: left;
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
	/*border-right: 1px solid #fff;*/
}
#footerNavQuit {
	border: 0 !important;
}
#footerNav li a {
	display: block;
	height: 11px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/footerNav-item.gif");
	background-repeat: no-repeat;
}
#footerNavContact a {
	width: 168px;
}
#footerNavContact a:link, #footerNavContact a:visited {
	background-position: 0 0;
}
#footerNavContact a:hover, #footerNavContact a:active {
	background-position: 0 -11px;
}
#footerNavTerms a {
	width: 80px;
}
#footerNavTerms a:link, #footerNavTerms a:visited {
	background-position: -168px 0;
}
#footerNavTerms a:hover, #footerNavTerms a:active {
	background-position: -168px -11px;
}
#footerNavPrivacy a {
	width: 112px;
}
#footerNavQuit a:link, #footerNavQuit a:visited {
	background-position: -360px 0;
}
#footerNavQuit a:hover, #footerNavQuit a:active {
	background-position: -360px -11px;
}
#footerNavPrivacy a{
	background:url(../images/footer_icon03.gif) no-repeat 0px 3px;
	padding:0px 0px 0px 10px;
	margin-bottom:5px;
	color:#cccccc;
	padding-right:20px;
}
#footerNavPrivacy a:link,#footerNavPrivacy a:visited{
	color:#cccccc;
	text-decoration:none;
}
#footerNavPrivacy a:hover,#footerNavPrivacy a:active{
	color:#8f8246;
	text-decoration:none;
}



#footerNav p {
	padding-top: 10px;
	float:left;
}
#copyright {
	float: right;
	text-align: right;
	color:#ffffff;
}

.fortop{
	width: 950px;
	margin: 0 auto;
}


.fortop a{
	display: block;
	overflow: hidden;
	text-indent:-9999px;
	width: 118px;
	height: 26px;
	background-color: transparent;
	background-image: url("../images/footer_fortop.gif");
	background-repeat: no-repeat;
	text-align:left;
}


.fortop a:link{
	background-position: 0 0;
}
.fortop a:hover{
	background-position: 0 -26px;
}
/**
 * サイト内共通のブラウザ間調整
 */
#headerNav, #textsizecontroller, #appendixNav .inner, #personalInfo .inner, #globalNav, #topicPath, #publication, #info, #aboutSeibuShibuya, #footer .inner, #footerNav ul {
	display: inline-block;
}
#headerNav, #textsizecontroller, #appendixNav .inner, #personalInfo .inner, #globalNav, #topicPath, #publication, #info, #aboutSeibuShibuya, #footer .inner, #footerNav ul {
	display: block;
}
#headerNav:after, #textsizecontroller:after, #appendixNav .inner:after, #personalInfo .inner:after, #globalNav:after, #topicPath:after, #publication:after, #info:after, #aboutSeibuShibuya:after, #footer .inner:after, #footerNav ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.ErrorHeader {
	border:1px solid #CC0000;
	padding:10px;
	margin:10px 0;
	background: #fff;
	color: #000;
}
.Error {
	font-weight:bold;
	color:#CC0000;
	margin-bottom:5px;
}
.LoginPage .Error {
	font-weight:bold;
	color:#CC0000;
	margin:-5px 0 5px;
}

.clearBoth{
	clear:both;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
	height:0;
	width:0;
}

