@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
.fl {float:left !important;}
.fr {float:right !important;}


/*#main*/
#main a {
	color:#000;
}
#main a:hover {
	text-decoration: none;
}
#main a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha(opacity=60)";
}


/*#sec_header*/
#main #sec_header {
	width:100%;
	overflow:hidden;
	background:#400101;
	position:relative;
	height:500px;
	min-width:950px;
	margin:auto;
}

.index2 {
	height:423px !important;
}

#main #sec_header .wrapper {
	margin:0 auto;
	width:1100px;
	padding-bottom:30px;
	background:url(../images/main_bnr.jpg) no-repeat center top;
	position:absolute;
	left:50%;
	margin-left: -550px;
}
#main #sec_header .inner {
	margin:0 auto;
	width:950px;
}
#main #sec_header .inner h1 {
	margin:0;
	width:950px;
	height:130px;
}
#main #sec_header .inner .articleBox {
	clear:both;
	padding-top:20px;
}

/*#prd_listArea*/
#main #prd_listArea_wrp {
	margin:0 auto;
	width:950px;
	clear:both;
	overflow:hidden;
}

#main #prd_listArea {
	margin:0;
	margin-left:-75px;
	width:1025px;
	padding:60px 0 0 75px;
	clear:both;
}
#main #prd_listArea #sorts {
	margin-bottom:60px;
	height:50px;
}
#main #prd_listArea .isotope div {
	float:left;
	width:280px;
	height:280px;
	margin:0 54px 40px 0;
	position:relative;
}
#main #prd_listArea .isotope div img {
	width:280px;
	height:210px;
	border:#dddddd 1px solid;
}
#main #prd_listArea .isotope div h1 {
	margin-top:7px;
}
#main #prd_listArea .isotope div p.symbol {
	display: none;
}
#main #prd_listArea .isotope div a {
	color:#4D392A;
}
#main #prd_listArea .isotope div a:hover {
	color: #ccc881;
}
#main #prd_listArea:after {
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

/*newMark*/
#main #prd_listArea .isotope div p.new {
	position:absolute;
	top:0;
	left:0;
}
#main #prd_listArea .isotope div p.new img {
	width:67px;
	height:68px;
	border:none;
}

/*button-group*/
.button-group:after {
  content: '';
  display: block;
  clear: both;
}
.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 20px;
}

/*button*/
.button {
  display: inline-block;
  width:220px;
  padding:0;
  background: none;
  border: none;
  background-image:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.button:active {
  box-shadow: none;
}

