@charset "EUC-JP";

.marginbottom10 {
	margin-bottom: 10px;
}
.positionabsolute {
	position:absolute;
	top:11px;
	left:622px;
}
#messageArea {
	width: 860px;
	margin: 0 auto;
	padding: 15px 45px;
	background: #fff;
}
#main {
	width: 100%;
	margin: 0 auto 50px;
	color: #4d392a;
	background: #fff;
}

#header {
	background: #748a90;
	width: 100%;
	border:none;
}
#header .inner {
	margin:0 auto;
	width:950px;
	height:101px;
}
#catalog{
	background: #FFFFFF;
	margin: 0 auto;
	width: 950px;
}


/*注記*/
#main .guide{
	margin:0px 0px 20px;
	font-size:12px;
}

#main .bnav{
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	padding:25px 0px;
	margin: 50px auto 0px;
	width:950px;
	color: #888888;
}


#main .bnav .flL{
	float:left;
	width:430px;
	color: #888888;
}

#main .bnav .flR{
	float:right;
	width:400px;
}

#main .bnav .flR table th,
#main .bnav .flR table td{
	text-align:left;
	vertical-align:top;
	font-size:10px;
}

#main .bnav .flR table th{
	padding:0px 10px 15px 0px;
}

#main .bnav .flR table td{
	padding-bottom:15px;
}


#main .bnav ul li{
	line-height:1.3em;
	font-size:10px;
}

#main .bnav .flL a:link,
#main .bnav .flR a:link,
#main .bnav .flL a:visited,
#main .bnav .flR a:visited{
	color: #888888;
	
}



#main .bnav .flL a:hover,
#main .bnav .flR a:hover,
#main .bnav .flL a:active,
#main .bnav .flR a:active{
	color: #8f8246;
	text-decoration:none;
}


/*カタログ*/

div.catalog{
width:500px;
margin:40px auto 60px auto;
}


div.cata_01{
width:218px;
float:left;
}

div.cata_02{
width:218px;
float:right;
}

div.cata_img{
width:176px;
margin:18px auto;
}


#main #mainBox{
	position: relative;
	width: 100%;
	height: 412px;
}

.btn_cata a,
.btn_cata a:link,
.btn_cata a:visited,
.btn_cata a:hover,
.btn_cata a:active,
.btn_pdf a,
.btn_pdf a:link,
.btn_pdf a:visited,
.btn_pdf a:hover,
.btn_pdf a:active{
	margin-bottom:10px;
	width:218px;
	height:44px;
	display:block;
}

.btn_cata{
	background:url(../images/btn_cata.gif) no-repeat 0px 0px;
	overflow: hidden;
	text-indent:-9999px;
	width:219px;
	height:46px;
	margin:0px 0px 8px;
}

.btn_pdf{
	background:url(../images/btn_pdf.gif) no-repeat 0px 0px;
	overflow: hidden;
	text-indent:-9999px;
	width:219px;
	height:46px;
	margin:0px 0px 0px;
}

/*お問い合わせ*/
.footer {
	background: #EDEDED;
	text-align: center;
	width:910px;
	margin: 30px auto 10px auto;
	padding: 20px;
	color: #000;
	font-size: 120%;
}
.footer p {
	margin-top: 20px;
}