<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>お酒によく合う旬の肴 |  旬が際立つ美味銘品 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="../static/?f=page/summer/index_g&{%%svid%%}">旬が際立つ美味銘品</a></li>
<li id="presentLocation">お酒によく合う旬の肴</li>
</ul>

<div id="main" class="brand">

<div id="sec_header">
	<div class="inner">
		<h1><img src="../page/summer/images/header_ttl.gif" alt="夏の逸品会 会期：7月1日（水）〜8月9日（日）" /></h1>
		<p><img src="../page/summer/images/brand_g_03_ttl.jpg" alt="お酒によく合う旬の肴" /></p>
	</div>
</div><!--/#sec_header-->



<div id="sec_contents">

	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5843&{%%svid%%}">
			<img src="../page/summer/images/G_25_yushima-maruaka_01.jpg" width="278" height="208" alt="湯島 丸赤　夏の干物セット" />
			<p>湯島 丸赤　夏の干物セット</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5842&{%%svid%%}">
			<img src="../page/summer/images/G_26_tamuratyou_01.jpg" width="278" height="208" alt="福井 田村長　若狭甘鯛一汐・のどぐろの干物（大各1枚）" />
			<p>福井 田村長　若狭甘鯛一汐・のどぐろの干物（大各1枚）</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5841&{%%svid%%}">
			<img src="../page/summer/images/G_27_asadaya_01.jpg" width="278" height="208" alt="浅田屋　能登献上あわび（150ｇ）・あわび御飯の素（2合炊き）" />
			<p>浅田屋　能登献上あわび（150ｇ）・あわび御飯の素（2合炊き）</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5840&{%%svid%%}">
			<img src="../page/summer/images/G_28_hakatahukuichi_01.jpg" width="278" height="208" alt="博多ふくいち　辛子明太子と炙り辛子明太子セット" />
			<p>博多ふくいち　辛子明太子と炙り辛子明太子セット</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5839&{%%svid%%}">
			<img src="../page/summer/images/G_29_sakamotoya_01.jpg" width="278" height="208" alt="坂本屋　東坡煮 15個入" />
			<p>坂本屋　東坡煮 15個入</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5838&{%%svid%%}">
			<img src="../page/summer/images/G_30_kinjohro_01.jpg" width="278" height="208" alt="料亭 金城樓　鴨治部（かもじぶ）" />
			<p>料亭 金城樓　鴨治部（かもじぶ）</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5837&{%%svid%%}">
			<img src="../page/summer/images/G_31_kinjohro_02.jpg" width="278" height="208" alt="料亭 金城樓　のど黒と天然ぶりの味噌粕漬" />
			<p>料亭 金城樓　のど黒と天然ぶりの味噌粕漬</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5836&{%%svid%%}">
			<img src="../page/summer/images/G_32_unagiyagennai_01.jpg" width="278" height="208" alt="うなぎや源内　うなぎ炭火蒲焼（国内産）1尾×2（たれ付き）／やまつ辻田朝倉粉山椒10g（専用缶付き）" />
			<p>うなぎや源内　うなぎ炭火蒲焼（国内産）1尾×2（たれ付き）／やまつ辻田朝倉粉山椒10g（専用缶付き）</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5835&{%%svid%%}">
			<img src="../page/summer/images/G_33_katokipeishouten_01.jpg" width="278" height="208" alt="中村屋　カナダ産キングスモークサーモン" />
			<p>中村屋　カナダ産キングスモークサーモン</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5834&{%%svid%%}">
			<img src="../page/summer/images/G_34_iberikoya_01.jpg" width="278" height="208" alt="イベリコ屋　イベリコ・ベジョータBBQセット" />
			<p>イベリコ屋　イベリコ・ベジョータBBQセット</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5833&{%%svid%%}">
			<img src="../page/summer/images/G_35_lesenfantsgates_01.jpg" width="278" height="208" alt="ラ ボンヌ テリーヌ ラトゥリエ レザンファン ギャテ　野菜と魚介のテリーヌ・スイーツテリーヌ" />
			<p>ラ ボンヌ テリーヌ ラトゥリエ レザンファン ギャテ　野菜と魚介のテリーヌ・スイーツテリーヌ</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5832&{%%svid%%}">
			<img src="../page/summer/images/G_36_kirn_01.jpg" width="278" height="208" alt="キルン シャルキュトリーセット" />
			<p>キルン シャルキュトリーセット</p>
		</a>
		</li>
	</ul>
	
	
</div><!--/#sec_contents-->



<div id="sec_footer">
	<h2><img src="../page/summer/images/footer_ttl.gif" alt="夏の逸品会" /></h2>
	<div class="inner">
		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_a&{%%svid%%}">珠玉のウオッチ</a></dt>
					<dd><a href="../static/?f=page/summer/brand_a_01&{%%svid%%}">ブライトリング</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_02&{%%svid%%}">ショパール</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_03&{%%svid%%}">ジャガー・ルクルト</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_04&{%%svid%%}">オメガ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_05&{%%svid%%}">ロジェ・デュブイ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_06&{%%svid%%}">セイコー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_07&{%%svid%%}">サマーワールドウオッチ コレクション 2015</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_b&{%%svid%%}">魅惑のジュエリー</a></dt>
					<dd><a href="../static/?f=page/summer/brand_b_01&{%%svid%%}">ピアジェ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_02&{%%svid%%}">ブシュロン</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_03&{%%svid%%}">ショーメ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_04&{%%svid%%}">ダミアーニ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_05&{%%svid%%}">オンリー ユー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_06&{%%svid%%}">ビービージー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_07&{%%svid%%}">The Beauties of Nature</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_08&{%%svid%%}">彩りのアイウエア</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_c&{%%svid%%}">至極の芸術品</a></dt>
					<dd><a href="../static/?f=page/summer/brand_c_01&{%%svid%%}">谷川 泰宏</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_02&{%%svid%%}">三岸 節子</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_03&{%%svid%%}">柳沢 正人</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_04&{%%svid%%}">櫻井 孝美</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_05&{%%svid%%}">ガレ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_06&{%%svid%%}">中田 一於</a></dd>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/summer/index_d&{%%svid%%}">ラグジュアリーコレクション</a></dt>
					<dd><a href="../static/?f=page/summer/brand_d_01&{%%svid%%}">アレクサンドル ドゥ パリ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_02&{%%svid%%}">クロエ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_03&{%%svid%%}">ディオール</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_04&{%%svid%%}">ルシアン ペラフィネ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_05&{%%svid%%}">ジョルジオ アルマーニ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_06&{%%svid%%}">サルヴァトーレ フェラガモ</a></dd>
				</dl>
			</li>
		</ul>

		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_e&{%%svid%%}">粋に楽しむ着物と帯</a></dt>
					<dd><a href="../detail/?a=Item_detail&id=5831&{%%svid%%}">阿部 容子 作　手描きロウケツ染訪問着「シルエット四季草花」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5830&{%%svid%%}">阿部 容子 作　手描きロウケツ染訪問着「四季草花総詰」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5829&{%%svid%%}">阿部 容子 作　手描きロウケツ染 名古屋帯「つた染上」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5828&{%%svid%%}">西陣　服部織物　プラチナ金箔　手織り袋帯「更紗華文」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5827&{%%svid%%}">西陣　服部織物　本金箔　手織り袋帯「オリエント更紗」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5826&{%%svid%%}">西陣　服部織物　全通織　袋帯「松壽文」</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_f&{%%svid%%}">彩りのインテリア雑貨</a></dt>
					<dd><a href="../static/?f=page/summer/brand_f_01&{%%svid%%}">自分らしく、暮らしスタイルアップ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_f_02&{%%svid%%}">知的好奇心を刺激する知られざる世界の逸品</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_g&{%%svid%%}">旬が際立つ美味銘品</a></dt>
					<dd><a href="../static/?f=page/summer/brand_g_01&{%%svid%%}">ひんやり季節のスイーツ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_g_02&{%%svid%%}">贅を尽くした旨い酒</a></dd>
					<dd><a href="../static/?f=page/summer/brand_g_03&{%%svid%%}">お酒によく合う旬の肴</a></dd>
				</dl>
			</li>
		</ul>

	</div>
</div><!--/#sec_footer-->
	



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
