@charset "EUC-JP";

/*--{ 01. BASE }------------------------------------------------------*/
body {
	background-color: #fff;
}

/*-------------------------------------------------{ end 01. BASE }--*/

/*--{ 02. CONTENTS }-------------------------------------------------*/

/*_ COMMON STYLES _*/

#main {
	position: relative;
	width: 950px;
	margin: 0 auto;
	font-size: 14px;
}

/* #sideNav */
#main #side {
	float: left;
	width: 240px;
}
#main #side h1 {
	margin-bottom: 30px;
}
#main #side .navList p {
	float: right;
	margin-top: 20px;
	margin-left: 34px;
	margin-right: 10px;
}
#main #side .navList ul li {
	float: right;
}
#main #side .navList ul li a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha(opacity=60)";
}
#main #side .anunc {
	margin-top: 30px;
	padding: 30px 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#main #side .navigtr {
	padding: 20px 0 30px 0;
}
#main #side .backnumber {
	border-top: 4px double #cccccc;
	border-bottom: 4px double #cccccc;
}
#main #side .backnumber p {
	padding: 20px 0;
}
#main #side .backnumber ul li {
	border-top: 1px solid #cccccc;
}

/* #contents */
#main #contents {
	float: right;
	width: 655px;
	padding-left: 30px;
	border-left: 4px double #cccccc;
}
#main #contents .section {
	position: relative;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main #contents .section .secColumnL {
	float: left;
}
#main #contents .section .secColumnR {
	float: right;
}
#main #contents .section p {
	text-indent: 1em;
}
#main #contents .section .text {
	text-align: left !important;
}

/* asides */
#main #contents .pnav {
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 11px !important;
	height: 11px !important;
}
#main #contents .section .pnav {
	bottom: 15px !important;
}
#main #contents .small {
	font-size: 10px;
	margin-top: 20px;
}

/* pnav */
.ftr.pnav {
	width: 950px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: right;
}


/*_ JANUARY 2014 _*/
#main.jan2014 #contents .section.sec02 div {
	min-height: 425px;
	height: auto !important;
	height: 425px;
}
#main.jan2014 #contents .section.sec04 {
	border-bottom: none;
}
#main.jan2014 #contents .section.sec04 div {
	min-height: 428px;
	height: auto !important;
	height: 428px;
}
#main.jan2014 #contents .section .photo { }
#main.jan2014 #contents .section .photo ul {
	text-align: center;
}
#main.jan2014 #contents .section .photo ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
#main.jan2014 #contents .section.sec01 .secColumnL {
	width: 80px;
	height: 466px;
}
#main.jan2014 #contents .section.sec02 .secColumnL{
	width: 249px;
}
#main.jan2014 #contents .section.sec03 .secColumnL {
	width: 34px;
	height: 420px;
}
#main.jan2014 #contents .section.sec01 .secColumnR {
	width: 516px;
}
#main.jan2014 #contents .section.sec02 .secColumnR {
	width: 81px;
}
/* 1401152000 */
#main.jan2014 #contents .section.sec04 .secColumnL {
	float: left;
	width: 210px;
}
#main.jan2014 #contents .section.sec04 .secColumnR {
	float: right;
	width: 360px;
	padding: 0;
}
#main.jan2014 #contents .section.sec04 .secColumnR h3 {
	float: right;
}
#main.jan2014 #contents .section.sec04 .secColumnR .text {
	width: 240px;
	/*padding-left: 40px;*/
}
/* 1401152000 */


/* infomation */
#main.jan2014 #contents .info {
	position: relative;
	padding-bottom: 50px;
	border: 1px solid #cccccc;
}
#main.jan2014 #contents .section.info h4 {
	position: relative;
	height: 25px;
	padding-left: 10px;
	background-color: #cccccc;
}
#main.jan2014 #contents .section.info h4 img {
	position: absolute;
	top: 50%;
	margin-top: -7px;
}
#main.jan2014 #contents .section.info p {
	text-indent: 0 !important;
}
#main.jan2014 #contents .section.info .secColumnL {
	width: 259px;
	height: 171px;
}

/*_  FEBRUARY 2014 _*/
#main.feb2014 #contents .section.sec01 {
	position: relative;
	padding-bottom: 300px;
}

* html #main.feb2014 #contents .section.sec01 {
	position: relative;
	padding-bottom: 300px;
}

#main.feb2014 #contents .section.sec01 h3 {
	position: absolute;
	top: 0;
	left: 20px;
}
#main.feb2014 #contents .section.sec01 .text {
	padding-left: 140px;
}
#main.feb2014 #contents .section.sec02 {
	width: 655px;
	float: right;
	margin-top: 30px;
}
#main.feb2014 #contents .section.sec02 h3 {
	padding-right: 20px;
}
#main.feb2014 #contents .section.sec02 .photo {
	text-align: right;
}
#main.feb2014 #contents .section.sec02 .text {
	width: 520px;
	margin-top: 30px;
}

#main.feb2014 #contents .section.sec03 {

}
#main.feb2014 #contents .section.sec03 .secColumnL {
	width: 80px;
}
#main.feb2014 #contents .section.sec03 .secColumnR {
	width: 516px;
}
#main.feb2014 #contents .section.sec03 .secColumnR .text {
	float: left;
	width: 253px;
}
#main.feb2014 #contents .section.sec03 .secColumnR .photo {
	float: right;
	width: 234px;
}

#main.feb2014 #contents .section.sec04 {
	border-bottom: 0;
}
#main.feb2014 #contents .section.sec04 .secColumnL {
	width: 520px;
}
#main.feb2014 #contents .section.sec04 .secColumnR {
	width: 80px;
}


/*_  MARCH 2014 _*/
#main.mar2014 #contents .section.sec01 {
	position: relative;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main.mar2014 #contents .section.sec01 h3 {
	position: absolute;
	top: 0;
	left: 20px;
}
#main.mar2014 #contents .section.sec01 .text {
	padding-left: 140px;
}

#main.mar2014 #contents .section.sec01 .text .photo {
	float: right;
	width: 234px;
}

#main.mar2014 #contents .section.sec02 {
	width: 655px;
	float: right;
	margin-top: 40px;
	padding-bottom: 50px;
}
#main.mar2014 #contents .section.sec02 h3 {
	padding-right: 20px;
}
#main.mar2014 #contents .section.sec02 .photo {
	text-align: right;
}
#main.mar2014 #contents .section.sec02 .text {
	width: 520px;
	margin-top: 0;
}

#main.mar2014 #contents .section.sec03 {
	padding-bottom: 60px;
}
#main.mar2014 #contents .section.sec03 .secColumnL {
	width: 80px;
}
#main.mar2014 #contents .section.sec03 .secColumnR {
	width: 518px;
}
#main.mar2014 #contents .section.sec03 .secColumnR .text {
	/*float: left;
	width: 253px;*/
}
#main.mar2014 #contents .section.sec03 .secColumnR .photo {
	/*float: right;
	width: 234px;*/
}

#main.mar2014 #contents .section.sec04 {
	border-bottom: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main.mar2014 #contents .section.sec04 .secColumnL {
	width: 520px;
}
#main.mar2014 #contents .section.sec04 .secColumnR {
	padding-right: 20px;
	width: 80px;
}

#main.mar2014 #contents .section.sec04 .secColumnL .photo{
	float:left;
	width:150px;
}

#main.mar2014 #contents .section.sec04 .secColumnL .text{
	float:left;
	width:330px;
}

#main.mar2014 #contents .section.sec05{
	border: 1px solid #cccccc;
	padding-bottom: 0;
}

#main.mar2014 #contents .section.sec05 .innerbox{
	padding:30px;
}

#main.mar2014 #contents .section.sec05 .innerbox a{
	font-weight:bold;
	color:#000;
}

#main.mar2014 #contents .section.sec05 .innerbox .photo{
	float:left;
	width:259px;
}

#main.mar2014 #contents .section.sec05 .innerbox .text{
	float:right;
	width:310px;
}

#main.mar2014 #contents .caption{
	font-size:80%;
}


/*_  APRIL 2014 _*/
#main.apr2014 #contents .section.sec01 {
	position: relative;
	padding-bottom: 150px;
	border-bottom: 1px solid #cccccc;
}

* html #main.apr2014 #contents .section.sec01 {
	position: relative;
	padding-bottom: 170px;
	border-bottom: 1px solid #cccccc;
}

#main.apr2014 #contents .section.sec01 h3 {
	position: absolute;
	top: 0;
	left: 20px;
}
#main.apr2014 #contents .section.sec01 .text {
	padding-left: 140px;
}

#main.apr2014 #contents .section.sec01 .text .photo {
	float: right;
	width: 234px;
}

#main.apr2014 #contents .section.sec02 {
	border-bottom: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main.apr2014 #contents .section.sec02 .secColumnL {
	width: 520px;
}
#main.apr2014 #contents .section.sec02 .secColumnR {
	padding-right: 20px;
	width: 80px;
}

#main.apr2014 #contents .section.sec02 .secColumnL .photo{
	float:left;
	width:200px;
}

#main.apr2014 #contents .section.sec02 .secColumnL .text{
	float:left;
	width:300px;
}


#main.apr2014 #contents .section.sec03 {
	border-bottom: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main.apr2014 #contents .section.sec03 .secColumnL {
	width: 440px;
}
#main.apr2014 #contents .section.sec03 .secColumnR {
	width: 184px;
}

#main.apr2014 #contents .section.sec03 .secColumnL .photo{
	float:left;
	width:120px;
}

#main.apr2014 #contents .section.sec03 .secColumnL .text{
	float:left;
	width:300px;
}

#main.apr2014 #contents .section.sec04 {
	border-bottom: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
#main.apr2014 #contents .section.sec04 .secColumnL {
	width: 520px;
}
#main.apr2014 #contents .section.sec04 .secColumnR {
	padding-right: 15px;
	width: 85px;
}

#main.apr2014 #contents .section.sec05{
	border: 1px solid #cccccc;
	padding-bottom: 0;
}

#main.apr2014 #contents .section.sec05 .innerbox{
	padding:30px;
}

#main.apr2014 #contents .section.sec05 .innerbox a{
	font-weight:bold;
	color:#000;
}

#main.apr2014 #contents .section.sec05 .innerbox span{
	font-weight:bold;
	color:#000;
}


#main.apr2014 #contents .caption{
	font-size:80%;
}

/*_ BACKNUMBER _*/
#main.jan2014 #side .backnumber .jan2014,
#main.feb2014 #side .backnumber .feb2014,
#main.mar2014 #side .backnumber .mar2014,
#main.apr2014 #side .backnumber .apr2014{
	display: none;
}


/*---------------------------------------------{ end 01. CONTENTS }--*/



/*--{ 00. MODULE }--------------------------------------------------*/

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb70 {
  margin-bottom: 70px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.pr50 {
  padding-right: 50px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb50 {
  padding-bottom: 50px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl50 {
  padding-left: 50px;
}

.txtAlignR {
  text-align: right;
}

.txtAlignL {
  text-align: left;
}

.txtAlignC {
  text-align: center;
}

.fntB {
  font-weight: bold;
}

.disN {
  display: none;
}

.disB {
  display: block;
}

.disInB {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.clearfix {
	*zoom: 1;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

/*----------------------------------------------{ end 00. MODULE }--*/
