<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>モワナ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/moynat/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	
       <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック --> 
<script src="../_common/js/api/html5media.min.js"></script>
    <!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">モワナ</li>
	</ul>
	<div id="brand" class="clearfix">
		<div class="txt"><img src="../page/luxury/moynat/images/moynat_txt.gif" alt="" /></div>
		<div class="video video_md">
	        <video controls="controls" muted="muted" poster="../page/luxury/moynat/images/moynat_img.jpg">
				<source src="../page/luxury/moynat/videos/moynat_161101_01.mp4">
        	</video>
		</div>
		<div class="video video_ie">
	        <video controls="controls" muted="muted" poster="images/moynat_img.jpg">
				<source src="videos/moynat_161101_01.mp4">
        	</video>
		</div>
	</div>
	<div id="main">
		<div id="itemCatalog">
       <!--2017春の逸品会追加分ここから-->
   		    	<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/moynat/images/170222_moynat_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ガブリエル＞ バッグ（カラー：ピーチ）</h1></a>
				</div>
     			 <div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/moynat/images/170222_moynat_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ガブリエル＞ バッグ（カラー：ベージュ）／バッグ（カラー：ネイビー×ブラウン）</h1></a>
				</div>
			     <div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/moynat/images/170222_moynat_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜レジェンヌ BB＞ バッグ（カラー：プリムローズ）</h1></a>
				</div>
  			    <div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/moynat/images/170222_moynat_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜トレイン GM＞ ポーチ</h1></a>
				</div>
       <!--2017春の逸品会追加分ここまで-->
       
        <!--冬の逸品会2016追加分ここから-->
        		<div>
					<a href="../detail/?a=Item_detail&id=8752&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_01_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8752&{%%svid%%}">
					<h1>＜マドレーヌ＞ ハンドバッグ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8741&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_02_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8741&{%%svid%%}">
					<h1>＜ミニ ヴァニティ＞ イブニングバッグ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8739&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_04_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8739&{%%svid%%}">
					<h1>＜ダンス＞ 2WAYバッグ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8738&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_05_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8738&{%%svid%%}">
					<h1>＜リムジン＞ スーツケース</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8737&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_06_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8737&{%%svid%%}">
					<h1>＜マンボー＞ ポーチ GM</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8736&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_07_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8736&{%%svid%%}">
					<h1>＜マンボー＞ パスポートケース</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8735&{%%svid%%}"><img src="../page/luxury/moynat/images/moyna_08_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8735&{%%svid%%}">
					<h1>＜マンボー＞ スカーフ</h1></a>
				</div>
        <!--冬の逸品会2016追加分ここまで-->
				<div>
					<a href="../detail/?a=Item_detail&id=8308&{%%svid%%}"><img src="../page/luxury/moynat/images/A_moynat_0815_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8308&{%%svid%%}">
					<h1>＜ガブリエル アリゲーター＞ バッグ（カラー：バーガンディー）</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8307&{%%svid%%}"><img src="../page/luxury/moynat/images/A_moynat_0815_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8307&{%%svid%%}">
					<h1>＜バレリーヌ アリゲーター＞ バッグ</h1></a>
				</div>
                   <div>
					<a href="../detail/?a=Item_detail&id=8306&{%%svid%%}"><img src="../page/luxury/moynat/images/A_moynat_0815_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8306&{%%svid%%}">
					<h1>＜レジェンヌ BB アリゲーター＞ バッグ（カラー：ナチュラ）</h1></a>
				</div>
                   <div>
					<a href="../detail/?a=Item_detail&id=8305&{%%svid%%}"><img src="../page/luxury/moynat/images/A_moynat_0815_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8305&{%%svid%%}">
					<h1>＜レジェンヌ BB アリゲーター＞ バッグ（カラー：インディアンピンク）</h1></a>
				</div>
                
				<div>
					<a href="../detail/?a=Item_detail&id=7948&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160711_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7948&{%%svid%%}">
					<h1>＜ミニ レジェンヌ＞ バッグ（カラー：ルージュレッド）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7947&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160711_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7947&{%%svid%%}">
					<h1>＜ガブリエル ぺーエム＞ バッグ（カラー：モカ）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7946&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160711_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7946&{%%svid%%}">
					<h1>＜ホリゾンタル エムエム＞ トートバッグ</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7827&{%%svid%%}"><img src="../page/luxury/moynat/images/A_16sm_moynat_01_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7827&{%%svid%%}">
					<h1>アタッシュケース</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7826&{%%svid%%}"><img src="../page/luxury/moynat/images/A_16sm_moynat_02_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7826&{%%svid%%}">
					<h1>メンズ クラッチバッグ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7825&{%%svid%%}"><img src="../page/luxury/moynat/images/A_16sm_moynat_03_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7825&{%%svid%%}">
					<h1>チャーム</h1></a>
				</div>


				<div>
					<a href="../detail/?a=Item_detail&id=7464&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7464&{%%svid%%}">
					<h1>＜クアトロ テぺーエム＞ リバーシブル2WAYバッグ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7463&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7463&{%%svid%%}">
					<h1>＜ガーデンキャンバス エムエム＞ トートバッグ</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7462&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7462&{%%svid%%}">
					<h1>＜レガッタキャンバス ぺーエム＞ トートバッグ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7461&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7461&{%%svid%%}">
					<h1>＜レジェンヌクラッチ＞ クラッチバッグ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7460&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_05.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn" style="float:left;"></span><div class="closeDate">2016.4.29.9</div><img class="item_icon" style="" src="../_common/images/Icon_01.gif" width="36" height="13"><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7460&{%%svid%%}">
					<h1>＜シャーロット＞ ミニバッグ</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7459&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_06.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7459&{%%svid%%}">
					<h1>＜カー＞ ポーチ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7458&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_07.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn" style="float:left;"></span><div class="closeDate">2016.4.29.9</div><img class="item_icon" style="" src="../_common/images/Icon_01.gif" width="36" height="13"><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7458&{%%svid%%}">
					<h1>＜カー＞ ノートカバー（ぺーエム）／ノートブック（ぺーエム）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7457&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160415_08.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.29.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7457&{%%svid%%}">
					<h1>＜トレイン＞ スカーフ</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7117&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160219_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7117&{%%svid%%}">
					<h1>＜レジェンヌ ペーエム＞ ハンドバッグ（カラー：アニス）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7116&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160219_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7116&{%%svid%%}">
					<h1>＜プティ ポーリーヌ＞ ハンドバッグ（カラー：コーラル）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7115&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160219_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7115&{%%svid%%}">
					<h1>＜クアトロ＞ トートバッグ</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7114&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160219_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn" style="float:left;"></span><div class="closeDate">2016.3.4.9</div><img class="item_icon" style="" src="../_common/images/Icon_01.gif" width="36" height="13"><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7114&{%%svid%%}">
					<h1>＜フルール＞ トートバッグ／キャンバストートバッグ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7113&{%%svid%%}"><img src="../page/luxury/moynat/images/moynat_160219_05.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7113&{%%svid%%}">
					<h1>＜トレイン＞ クラッチバッグ</h1></a>
				</div>
			
				
</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
