<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>呉服 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			if (jQuery.support.opacity) {
				$('#main').addClass('over');
			}
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">呉服</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="cnts01">
		<h2><img src="../page/summer2016/images/hd_ttl.gif" alt="" /></h2>
		<a class="btn" href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../page/summer2016/images/hd_btn01.gif" alt="" /></a>
	</div>
</div>
<!-- /header -->

<!-- sec_ttl -->
<div class="sec_ttl2">
	<h4>五代目 田畑 喜八</h4>
	<p>手描友禅の名家として、江戸時代から二百年続く田畑家。友禅染で初の人間国宝となった先々代など、先人達の感性を今に受け継ぐ“五代目 田畑 喜八（たばた きはち）”が描いた、訪問着と名古屋帯をご用意しました。代々当主は、染めの技術の前に日本画の素養を身につけるのが習わしとなっており、その絵画的な美しさにご注目ください。</p>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts3">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7753&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_01_01.jpg" alt="" /><p>五代目 田畑 喜八　訪問着「雲下の景」</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7752&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_02_01.jpg" alt="" /><p>五代目 田畑 喜八　名古屋帯「流水四季図」／「雪輪に疋田」</p></a></li>
		
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl2">
	<h4>帯・和装小物</h4>
	<p>美術織物に新しい分野を確立し、締めやすさでも高く評価される「龍村の帯」。さらには色使いや組みの美しさはもちろん、着崩れないことでも人気の帯締め・帯揚げを、厳選してご紹介します。バッグや草履は、純度99.9％の金箔や白蝶貝・白珊瑚など、素材からこだわった品々をラインアップ。どちらの商品も、職人の技が光ります。</p>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts3">
	<ul class="clfx">
    <li><a href="../detail/?a=Item_detail&id=7751&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_03_01.jpg" alt="" /><p>龍村美術織物　袋帯「富貴瑞祥文」／「花兎鶏頭文」</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7750&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_04_01.jpg" alt="" /><p>渡敬　変わり綾組帯締め／帯揚げ「市松宝づくし」</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7749&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_05_01.jpg" alt="" /><p>長嶋成織物　瀞金錦 草履・バッグセット</p></a></li>
	
	</ul>
</div>
<div class="sec_cnts cnts3">
	<ul class="clfx">
   	<li><a href="../detail/?a=Item_detail&id=7748&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_06_01.jpg" alt="" /><p>山菱　純金蒔絵 草履・バッグセット</p></a></li>
		
		<li><a href="../detail/?a=Item_detail&id=7747&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_07_01.jpg" alt="" /><p>白梅　錦織帯地 草履・バッグセット</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7746&{%%svid%%}"><img src="../page/summer2016/images/E_04_gofuku_08_01.jpg" alt="" /><p>白梅　唐織 草履・バッグセット</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
