
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>絵画・工芸| ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			if (jQuery.support.opacity) {
				$('#main').addClass('over');
			}
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">絵画・工芸</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="cnts01">
		<h2><img src="../page/summer2016/images/hd_ttl.gif" alt="" /></h2>
		<a class="btn" href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../page/summer2016/images/hd_btn01.gif" alt="" /></a>
	</div>

	<div class="cnts02">
		<h3><img src="../page/summer2016/images/hd_sttl01.gif" alt="" /></h3>
		<ul class="clfx ul2">
			<li><a href="#2016_ja03_01"><img src="../page/summer2016/images/hd_btn02_01.gif" alt="" /></a></li>
			<li><a href="#2016_ja03_02"><img src="../page/summer2016/images/hd_btn02_02.gif" alt="" /></a></li>
		</ul>
		
	</div>

</div>
<!-- /header -->

<!-- sec_ttl -->
<div class="sec_ttl" id="2016_ja03_01">
	<table><tbody>
		<tr>
			<th>絵画：<br />小磯 良平</th>
			<td>清楚な女性像に代表される人物画を始め、昭和の美術史に刻まれる傑作を残す「小磯 良平（こいそ りょうへい）」。市民的でありながら、モダンな感覚と気品あふれる作風が高く評価されている画家です。欧州絵画の古典的な技法を日本の洋画に根付かせたほか、東京・赤坂にある迎賓館の壁画を担当した「昭和の巨匠」として知られています。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7770&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_01_01.jpg" alt="" /><p>帽子の女B</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7769&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_02_01.jpg" alt="" /><p>婦人像</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7768&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_03_01.jpg" alt="" /><p>バレリーナ（三人）</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7767&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_04_01.jpg" alt="" /><p>小港</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl">
	<table><tbody>
		<tr>
			<th>絵画：<br />中川 一政</th>
			<td>鮮やかな色彩と大胆な構図が多くのファンを魅了する「中川 一政（なかがわ かずまさ）」。日本の洋画壇に貢献し、文化勲章を受章したことでも知られています。東洋美術の深い精神性や主観的な表現を、豪快な筆使いと美しい原色対比で描き、油彩のみならず、水墨岩彩、書、陶芸の分野にも優れた作品を数多く残しています。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7766&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_05_01.jpg" alt="" /><p>天女</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7765&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_06_01.jpg" alt="" /><p>黒田武士</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7764&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_07_01.jpg" alt="" /><p>瀬戸内海</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7763&{%%svid%%}"><img src="../page/summer2016/images/E_03_kaiga_08_01.jpg" alt="" /><p>椿</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl" id="2016_ja03_02">
	<table><tbody>
		<tr>
			<th>工芸：<br />石橋 裕史</th>
			<td>陶芸界に新しい世界観を切り拓く「石橋 裕史（いしばし ゆうし）」。氏の代表的な作品「彩刻磁（さいこくじ）」は、焼きあがった器の表面を「サンドブラスト」加工で段階的に削る作風。模様は植物モチーフなどを繊細に描き、器の表面に出る色の濃淡と陰影が多様な表情を見せます。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7762&{%%svid%%}"><img src="../page/summer2016/images/E_01_kogei_01_01.jpg" alt="" /><p>彩刻磁壷</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7761&{%%svid%%}"><img src="../page/summer2016/images/E_01_kogei_02_01.jpg" alt="" /><p>彩刻磁花生</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7760&{%%svid%%}"><img src="../page/summer2016/images/E_01_kogei_03_01.jpg" alt="" /><p>彩刻磁茶碗「ひつじ」</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7759&{%%svid%%}"><img src="../page/summer2016/images/E_01_kogei_04_01.jpg" alt="" /><p>彩刻磁碗皿</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl">
	<table><tbody>
		<tr>
			<th>工芸：<br />十五代 酒井田柿右衛門</th>
			<td>江戸時代初期に創業した色絵磁器の名門“酒井田柿右衛門”窯。伝統「濁手（にごしで）素地」に、柿右衛門様式と呼ばれる余白を大きく残した独特の絵付が特長です。人間国宝だった十四代の後を継承し、十五代目当主が若い感性で時代に則した作風を創造しています。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7758&{%%svid%%}"><img src="../page/summer2016/images/E_02_aritayaki_01_01.jpg" alt="" /><p>濁手松文花瓶</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl">
	<table><tbody>
		<tr>
			<th>工芸：<br />庄村 久喜</th>
			<td>繊細な白磁に、絹のような光沢感を含ませた素地「白妙磁（しろたえじ）」を生み出し、オリジナルな世界観を創造する「庄村 久喜（しょうむら ひさき）」。ろくろ成形したフォルムに微妙な陰影をつけることで、多彩な表情を生み出しました。豊かな感性と、誰も挑戦したことのない技法で新たな有田焼の一面を開拓します。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7757&{%%svid%%}"><img src="../page/summer2016/images/E_02_aritayaki_02_01.jpg" alt="" /><p>白妙彩磁鉢</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7756&{%%svid%%}"><img src="../page/summer2016/images/E_02_aritayaki_03_01.jpg" alt="" /><p>白妙彩磁花入</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sec_ttl -->
<div class="sec_ttl">
	<table><tbody>
		<tr>
			<th>工芸：<br />中尾 純</th>
			<td>白磁の純粋な色の表現と、凛々しいフォルムとのバランスに絶妙な感性が冴える「中尾 純（なかお じゅん）」。白磁本来の美しさを追求する中で、器自体に「動き」をもたらす作風にたどり着きました。勢いのあるろくろ捌きや大胆な削りによって、わずかに青みがかった繊細な白磁の美しさをより引き出しています。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7755&{%%svid%%}"><img src="../page/summer2016/images/E_02_aritayaki_04_01.jpg" alt="" /><p>白磁面取花器</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7754&{%%svid%%}"><img src="../page/summer2016/images/E_02_aritayaki_05_01.jpg" alt="" /><p>白磁面取壷</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
