<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>セイコー腕時計 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			if (jQuery.support.opacity) {
				$('#main').addClass('over');
			}
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">セイコー腕時計</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="cnts01">
		<h2><img src="../page/summer2016/images/hd_ttl.gif" alt="" /></h2>
		<a class="btn" href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../page/summer2016/images/hd_btn01.gif" alt="" /></a>
	</div>


<div class="cnts03" id="2016_ja02_01">
		<h3>セイコー</h3>
		<p>1881年、日本で創業。国産では初の懐中時計を発表し、東京オリンピックの公式時計を製作したことを機に、さらなる精度を追及した電子時計を開発。月差±3秒という当時では驚異的な精度を実現したクオーツ時計は、世界トップレベルの性能を誇り、時計界から称賛を浴びる。</p>
	</div>
</div>
<!-- /header -->


<!-- sec_cnts_4 -->
<div class="sec_cnts cnts3">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7663&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_01_01.jpg" alt="" /><p>プロスペックス　＜マリーンマスター オーシャンクルーザー SBED003＞ メンズウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7662&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_02_01.jpg" alt="" /><p>グランドセイコー　＜ブラック セラミックス リミテッドコレクション SBGE037＞ メンズウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7661&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_03_01.jpg" alt="" /><p>グランドセイコー　＜STGF106＞ レディースウオッチ</p></a></li>
	</ul>
</div>
<div class="sec_cnts cnts3">
	<ul class="clfx">
    <li><a href="../detail/?a=Item_detail&id=7659&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_05_01.jpg" alt="" /><p>クレドール　＜シグノ GCAR056＞ メンズウオッチ</p></a></li>
    <li><a href="../detail/?a=Item_detail&id=7660&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_04_01.jpg" alt="" /><p>クレドール　＜シグノ GSAS056＞ レディースウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7658&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_06_01.jpg" alt="" /><p>ガランテ　＜STLL001＞ レディースウオッチ</p></a></li>
		
	</ul>
</div>

<div class="sec_cnts cnts3">
	<ul class="clfx">
    <li><a href="../detail/?a=Item_detail&id=7548&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_07_01.jpg" alt="" /><p>クレドール　＜JURI パート・ド・ヴェール 限定モデル＞ レディースウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7547&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_08_01.jpg" alt="" /><p>グランドセイコー　＜スモールレディス＞ レディースウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7546&{%%svid%%}"><img src="../page/summer2016/images/B1_09_seiko_09_01.jpg" alt="" /><p>ガランテ　＜スプリングドライブ クロノグラフ GMT DLC ベゼルモデル＞ メンズウオッチ</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->




</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
