<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ウオッチ・ジュエリー・メガネ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			if (jQuery.support.opacity) {
				$('#main').addClass('over');
			}
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ウオッチ・ジュエリー・メガネ</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="cnts01">
		<h2><img src="../page/summer2016/images/hd_ttl.gif" alt="" /></h2>
		<a class="btn" href="#"><img src="../page/summer2016/images/hd_btn01.gif" alt="" /></a>
	</div>

	<div class="cnts02">
		<h3><img src="../page/summer2016/images/hd_sttl01.gif" alt="" /></h3>
		<ul class="clfx ul2">
			<li><a href="#"><img src="../page/summer2016/images/hd_btn02_01.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn02_02.gif" alt="" /></a></li>
		</ul>
		<ul class="clfx ul2">
			<li><a href="#"><img src="../page/summer2016/images/hd_btn02_01.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn02_02.gif" alt="" /></a></li>
		</ul>
		<ul class="clfx ul4">
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_01.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_02.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_03.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_04.gif" alt="" /></a></li>
		</ul>
		<ul class="clfx ul4">
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_01.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_02.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_03.gif" alt="" /></a></li>
			<li><a href="#"><img src="../page/summer2016/images/hd_btn03_04.gif" alt="" /></a></li>
		</ul>
	</div>

	<h3 class="sttl"><img src="../page/summer2016/images/hd_sttl02_01.gif" alt="" /></h3>

	<div class="cnts03">
		<h3>セイコー</h3>
		<p>1881年、日本で創業。国産では初の懐中時計を発表し、東京オリンピックの公式時計を製作したことを機に、さらなる精度を追及した電子時計を開発。月差±3秒という当時では驚異的な精度を実現したクオーツ時計は、世界トップレベルの性能を誇り、時計界から称賛を浴びる。</p>
	</div>

</div>
<!-- /header -->



<!-- sec_ttl -->
<div class="sec_ttl2">
	<h4>五代目 田畑 喜八</h4>
	<p>手描友禅の名家として、江戸時代から二百年続く田畑家。友禅染で初の人間国宝となった先々代など、先人達の感性を今に受け継ぐ“五代目 田畑 喜八（たばた きはち）”が描いた、訪問着と名古屋帯をご用意しました。代々当主は、染めの技術の前に日本画の素養を身につけるのが習わしとなっており、その絵画的な美しさにご注目ください。</p>
</div>
<!-- /sec_ttl -->
<!-- sec_ttl -->
<div class="sec_ttl2">
	<h4>五代目 田畑 喜八</h4>
	<p>美術織物に新しい分野を確立し、締めやすさでも高く評価される「龍村の帯」。さらには色使いや組みの美しさはもちろん、着崩れないことでも人気の帯締め・帯揚げを、厳選してご紹介します。バッグや草履は、純度99.9％の金箔や白蝶貝・白珊瑚など、素材からこだわった品々をラインアップ。どちらの商品も、職人の技が光ります。</p>
</div>
<!-- /sec_ttl -->



<!-- sec_ttl -->
<div class="sec_ttl">
	<table><tbody>
		<tr>
			<th>ダミー：<br />ダミーダミー</th>
			<td>ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。ダミーのテキスト。ここにテキストが入ります。</td>
		</tr>
	</tbody></table>
</div>
<!-- /sec_ttl -->



<!-- sttl -->
<h4 class="sttl">Dummy ダミーのタイトル</h4>
<!-- sttl -->



<!-- sec_cnts_3 -->
<div class="sec_cnts cnts3">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_01_01.jpg" alt="" /><p>ダミーのタイトル01</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_02_01.jpg" alt="" /><p>ダミーのタイトル02</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_03_01.jpg" alt="" /><p>ダミーのタイトル03</p></a></li>
	</ul>
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_04_01.jpg" alt="" /><p>ダミーのタイトル04</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_05_01.jpg" alt="" /><p>ダミーのタイトル05</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_3 -->



<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_01_01.jpg" alt="" /><p>ダミーのタイトル01</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_02_01.jpg" alt="" /><p>ダミーのタイトル02</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_03_01.jpg" alt="" /><p>ダミーのタイトル03</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_04_01.jpg" alt="" /><p>ダミーのタイトル04</p></a></li>
	</ul>
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_05_01.jpg" alt="" /><p>ダミーのタイトル05</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_06_01.jpg" alt="" /><p>ダミーのタイトル06</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->



<!-- sec_cnts_5 -->
<div class="sec_cnts cnts5">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_01_01.jpg" alt="" /><p>ダミーのタイトル01</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_02_01.jpg" alt="" /><p>ダミーのタイトル02</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_03_01.jpg" alt="" /><p>ダミーのタイトル03</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_04_01.jpg" alt="" /><p>ダミーのタイトル04</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_05_01.jpg" alt="" /><p>ダミーのタイトル05</p></a></li>
	</ul>
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_05_01.jpg" alt="" /><p>ダミーのタイトル06</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_06_01.jpg" alt="" /><p>ダミーのタイトル07</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=9999&{%%svid%%}"><img src="../page/summer2016/images/A0_00_dummy_01_01.jpg" alt="" /><p>ダミーのタイトル08</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_5 -->



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
