<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ジュエリーコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			if (jQuery.support.opacity) {
				$('#main').addClass('over');
			}
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ジュエリーコレクション</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="cnts01">
		<h2><img src="../page/summer2016/images/hd_ttl.gif" alt="" /></h2>
		<a class="btn" href="/rps/static/?f=page/summer2016/index&{%%svid%%}" ><img src="../page/summer2016/images/hd_btn01.gif" alt="" /></a>
	</div>

	<h3 class="sttl"><img src="../page/summer2016/images/hd_sttl02_01.gif" alt="" /></h3>
</div>
<!-- /header -->
<!-- sttl -->
<h4 class="sttl">Annamaria アンナマリア</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7628&{%%svid%%}"><img src="../page/summer2016/images/B2_04_annamaria_01_01.jpg" alt="" /><p>＜デューン＞ K18オレンジゴールドダイヤモンドリング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7627&{%%svid%%}"><img src="../page/summer2016/images/B2_04_annamaria_02_01.jpg" alt="" /><p>＜サルタナ＞ K18スリーカラーゴールドダイヤモンドリング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7626&{%%svid%%}"><img src="../page/summer2016/images/B2_04_annamaria_03_01.jpg" alt="" /><p>＜サルタナ＞ K18ホワイトゴールドダイヤモンドペンダント</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">Boucheron ブシュロン</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7879&{%%svid%%}"><img src="../page/summer2016/images/B2_14_boucheron_01_01.jpg" alt="" /><p>＜エリソン＞ ペンダント</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7878&{%%svid%%}"><img src="../page/summer2016/images/B2_14_boucheron_02_01.jpg" alt="" /><p>＜トルチュ＞ リング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7553&{%%svid%%}"><img src="../page/summer2016/images/B2_14_boucheron_03_02.jpg" alt="" /><p>＜ヘラ＞ リング</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7552&{%%svid%%}"><img src="../page/summer2016/images/B2_14_boucheron_04_01.jpg" alt="" /><p>＜プリュム ドゥ パオン＞ ペンダント／イヤリング</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">CHAUMET ショーメ</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7877&{%%svid%%}"><img src="../page/summer2016/images/B2_15_chaumet_01_01.jpg" alt="" /><p>＜オルタンシア ヴォア・ラクテ＞ ブレスレット</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7551&{%%svid%%}"><img src="../page/summer2016/images/B2_15_chaumet_02_01.jpg" alt="" /><p>＜オルタンシア ヴォア・ラクテ シークレットウオッチ＞ レディースウオッチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7550&{%%svid%%}"><img src="../page/summer2016/images/B2_15_chaumet_03_01.jpg" alt="" /><p>＜オルタンシア ヴォア・ラクテ＞ リング</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7549&{%%svid%%}"><img src="../page/summer2016/images/B2_15_chaumet_04_01.jpg" alt="" /><p>＜オルタンシア ヴォア・ラクテ＞ イヤリング</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">FRED フレッド</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7847&{%%svid%%}"><img src="../page/summer2016/images/B2_05_fred_01_01.jpg" alt="" /><p>＜フォース10＞ LM ブレスレット（ダイヤモンド・ホワイトケーブル）</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7846&{%%svid%%}"><img src="../page/summer2016/images/B2_05_fred_02_01.jpg" alt="" /><p>＜フォース10＞ LM ブレスレット LM（マザーオブパール・イエローゴールドケーブル）</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7845&{%%svid%%}"><img src="../page/summer2016/images/B2_05_fred_03_01.jpg" alt="" /><p>＜フォース10＞ LM ブレスレット LM（タイガーアイ・イエローゴールドケーブル）</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7844&{%%svid%%}"><img src="../page/summer2016/images/B2_05_fred_04_01.jpg" alt="" /><p>＜フォース10＞ ウオッチ</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">LUCA CARATI ルカ・カラーティ</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7622&{%%svid%%}"><img src="../page/summer2016/images/B2_09_lucacarati_04_01.jpg" alt="" /><p>＜クラウズ＞ K18YG/WGダイヤモンドペンダント</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7625&{%%svid%%}"><img src="../page/summer2016/images/B2_09_lucacarati_01_01.jpg" alt="" /><p>＜クロシェ＞ K18WGダイヤモンドリング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7624&{%%svid%%}"><img src="../page/summer2016/images/B2_09_lucacarati_02_01.jpg" alt="" /><p>＜リーヴス＞ K18WG/PGダイヤモンドリング</p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7623&{%%svid%%}"><img src="../page/summer2016/images/B2_09_lucacarati_03_01.jpg" alt="" /><p>＜ピューマ＞ K18PG/WGダイヤモンドリング</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">scavia スカヴィア</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7839&{%%svid%%}"><img src="../page/summer2016/images/B2_11_scavia_01_01.jpg" alt="" /><p>＜アメイジング ニュー＞ WG/YGダイヤモンドリング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7838&{%%svid%%}"><img src="../page/summer2016/images/B2_11_scavia_02_01.jpg" alt="" /><p>＜アメイジング ニュー＞ WGダイヤモンドリング</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7837&{%%svid%%}"><img src="../page/summer2016/images/B2_11_scavia_03_01.jpg" alt="" /><p>＜アメイジング ニュー＞ WGダイヤモンド・サファイヤリング</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

<!-- sttl -->
<h4 class="sttl">Cameo Jewelry カメオ ジュエリー</h4>
<!-- sttl -->
<!-- sec_cnts_4 -->
<div class="sec_cnts cnts4">
	<ul class="clfx">
		<li><a href="../detail/?a=Item_detail&id=7843&{%%svid%%}"><img src="../page/summer2016/images/B2_06_fov_01_01.jpg" alt="" /><p>＜スザンナ＞ シトリン カメオブローチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7842&{%%svid%%}"><img src="../page/summer2016/images/B2_06_fov_02_01.jpg" alt="" /><p>＜スザンナ＞ グリーンアメシスト カメオブローチ</p></a></li>
		<li><a href="../detail/?a=Item_detail&id=7841&{%%svid%%}"><img src="../page/summer2016/images/B2_06_fov_03_01.jpg" alt="" /><p>＜マラッツォ シェルカメオ＞ ピアス／リング </p></a></li>
        <li><a href="../detail/?a=Item_detail&id=7840&{%%svid%%}"><img src="../page/summer2016/images/B2_06_fov_04_01.jpg" alt="" /><p>＜マラッツォ シェルカメオ＞ ネックレス／イヤリング</p></a></li>
	</ul>
</div>
<!-- /sec_cnts_4 -->

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
