<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>SPECIAL SELECT デジタルカタログ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">SPECIAL SELECT デジタルカタログ</li>
	</ul>
	<div id="main">
    <div><img src="../page/specialselect/images/millecore_tit.gif" alt="スペシャルセレクト デジタルカタログ" /></div>
    <div style="margin-top:20px;"><img src="../page/specialselect/images/lead01.gif" alt="パソコン上で、以下のカタログをご覧いただけます。デジタルカタログをご覧になれない方は、PDFファイルをご覧ください。" /></div>
    
<!--カタログ-->
    <div class="catalog">
    
    <div class="cata_01">
    <div><img src="../page/specialselect/images/cata_tit01.gif" alt="ジュエリー&ウオッチ" /></div>
    <div class="cata_img"><img src="../page/specialselect/images/cata_img01.jpg" alt="" /></div>
    <div class="btn_cata2"><a href="http://e-catalog.seibu.jp/common/20120907/002/index.html" target="_blank" title="デジタルカタログを見る">デジタルカタログを見る</a></div>
    <div class="btn_pdf2"><a href="../page/specialselect/pdf/specialselect01.pdf" target="_blank" title="PDFでカタログを見る">PDFでカタログを見る</a></div>
    </div>
    
    <div class="cata_02">
    <div><img src="../page/specialselect/images/cata_tit02.gif" alt="ファッション&バッグ" /></div>
    <div class="cata_img"><img src="../page/specialselect/images/cata_img02.jpg" alt="" /></div>
    <div class="btn_cata"><a href="http://e-catalog.seibu.jp/common/20120907/001/index.html" target="_blank" title="デジタルカタログを見る">デジタルカタログを見る</a></div>
    <div class="btn_pdf"><a href="../page/specialselect/pdf/specialselect02.pdf" target="_blank" title="PDFでカタログを見る">PDFでカタログを見る</a></div>
    </div>
    
    </div>
    
    <div class="clearBoth"></div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/specialselect/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/specialselect/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/specialselect/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※掲載商品のご確認や詳細につきましては、こちらの「担当者へのお問い合わせ」よりご用命ください。</p>
		</div>


<!--注記-->
<div class="bnav">

<div class="flL">

<div class="guide"><a href="https://www2.seibu.jp/common/d_catalog/howto/index.html" target="_blank">≫デジタルカタログ　使い方ガイドはこちら</a></div>
<ul>
<li>【推奨環境】</li>
<li>デジタルカタログをご覧いただくためには、下記の動作環境が必要です。</li>
<li>・Microsoft Internet Explorer 6以上のブラウザ</li>
<li>・横800ピクセル以上　縦600ピクセル以上の解像度</li>
<li>・Adobe Flash プラグイン</li>
<li>・JavaScriptが動作する環境<br />
また、ADSL・CATV・FTTHなどのブロードバンド環境でお楽しみいただくことを推奨します。</li>
</ul>

</div>

<div class="flR">

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="../page/specialselect/images/cmn_flash.png" alt="" /></a></th>
    <td>デジタルカタログをご覧いただくためには、Adobe Flash Playerが必要です。<a href="http://get.adobe.com/jp/flashplayer/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
  <tr>
    <th><a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/specialselect/images/cmn_pdf.png" alt="" /></a></th>
    <td>PDFをご覧いただくためには、Adobe Readerが必要です。<a href="http://get.adobe.com/jp/reader/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
</table>


</div>




<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
