<!--緊急時コメント
<div style="background:red;">
	<div style="text-align:center; color:#ffffff;">---重要なお知らせ---</div>
	<div style="color:#ffffff;">ｻｰﾊﾞｰﾒﾝﾃﾅﾝｽ中など｡｡｡｡｡</div>
</div>
-->


<!--a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img border="0" src="./images/cpbn150217_mtop.jpg" /></a>
<br /-->

<a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=5&{%%svid%%}&sid={tpl_var name=sid}"><img border="0" alt="luxury" src="./images/bnr_luxury.gif" /></a>
<br />
<div style="text-align:right;"><a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=5&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#aaaaaa;">&gt;&gt;ﾌﾞﾗﾝﾄﾞ一覧へ</span></a></div>
<br />

<!--<div style="background:#dcdbc9;">
<br />
<a href="/rps/m/static/?f=mbpage/coat/index&{%%svid%%}&{%%sid%%}">
<span style="color:#cc0000;">&gt;&gt;</span><span style="color:#000000;">ｺｰﾄ特集</span></a><br />
<a href="/rps/m/static/?f=mbpage/bemygift/index&{%%svid%%}&{%%sid%%}">
<span style="color:#cc0000;">&gt;&gt;</span><span style="color:#000000;">be my Gift</span></a><br />-->
<!--
<a href="/rps/m/static/?f=mbpage/vermeer/index&{%%svid%%}&{%%sid%%}">
<span style="color:#cc0000;">&gt;&gt;</span><span style="color:#000000;">ﾌｪﾙﾒｰﾙ特集</span></a><br />
-->
<!--<br />
</div>-->