﻿@charset "utf-8";

/* =======================================

	CommonElements

======================================= */
body {
	font-size: 100%;
	line-height: 140%;
	font-family: Arial,Helvetica,sans-serif;
	color: #000;
	text-align: center;
	background: #000;
}

a:link { text-decoration:none; color: #000;}
a:visited { text-decoration:none; color: #000;}
a:active { text-decoration:none; color: #000;}
a:hover { text-decoration:none; color: #000;}

h1 {
	margin-bottom: 0px;
	padding: 40px 0;
	text-align: center;
}
h2 {
	padding: 30px 0;
	width: 100%;
	font-size: 12px;
}

#container {
	width: 100%;
	text-align: center;
}

.wideslider {
	width: 100%;
	height: 650px;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.wideslider ul,
.wideslider ul li {
	float: left;
	display: inline;
	overflow: hidden;
}

.wideslider ul li img {
	width: 100%;
	display: none;
}

.wideslider_base {
	top: 0;
	position: absolute;
}
.wideslider_wrap {
	top: 0;
	position: absolute;
	overflow: hidden;

}
.slider_prev,
.slider_next {
	top: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}
/*
.slider_prev {background: #fff url(../img/prev.jpg) no-repeat right center;}
.slider_next {background: #fff url(../img/next.jpg) no-repeat left center;}
*/

.slider_prev {background: #000 no-repeat right center;}
.slider_next {background: #000 no-repeat left center;}

.pagination {
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 15px;
	text-align: center;
	position: absolute;
	z-index: 200;
}

.pagination a {
	margin: 0 5px;
	width: 9px;
	height: 9px;
	display: inline-block;
	overflow: hidden;
	background: url(../img/pagination_off.gif) no-repeat;
}
.pagination a.active {
	background: url(../img/pagination_on.gif) no-repeat;
}


/* =======================================
	ClearFixElements
======================================= */
.wideslider ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.wideslider ul {
	display: inline-block;
	overflow: hidden;
}






/* =======================================
	textarea
======================================= */
#textarea		{width: 868px;margin: 20px auto 40px auto;text-align: left;font-size: 13px;color: #ccc;line-height: 160%;}
#textarea p	{margin-bottom: 20px;}

#btn			{text-align: center;margin: 50px auto 0 auto;}
#seibu		{text-align: center;margin: 36px auto 50px auto;}



/* =======================================
	footer
======================================= */
#footer			{text-align: left;margin: 0 auto;position: relative;width: 868px;height: 80px;}
#footer #copyright	{position: absolute;left: 0;}
#footer #pageback	{position: absolute;right: 0;}








