@charset "EUC-JP";

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main*/
#main {
	position:relative;
	width:100%;
	margin-top: 20px;
	margin-bottom:35px;
	color: #4c4c4c;
	font-size: 1.333em;
	overflow: hidden;
}
#main .in {
	width:950px;
	margin:0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a {
	color: #000;
}
#main a:hover {
	text-decoration:none;
}
@media screen and (min-width:1px) {
	#main a:hover img,
	#main .hover:hover {
		opacity:.7;
		filter:alpha(opacity=70);
		-ms-filter: "alpha( opacity=70 )";
	}
}

/*main_bottom*/
#main #main_bottom {
	background: url(../images/index_bottom_bg01.jpg) no-repeat center top;
	height: 120px;
	box-sizing: border-box;
	padding-top: 28px;
}
#main #main_bottom ul {
	position: relative;
	text-align: center;
	width: 950px;
	margin: 0 auto;
}
#main #main_bottom ul li {
	display: inline-block;
	vertical-align: top;
}
#main #main_bottom ul li + li {
	margin-left: 25px;
}
#main #main_bottom ul li.li_index {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -32px;
}
#main #main_bottom ul li.li_index + li {
	margin-left: 0;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
index
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main_header*/
#main.index #main_header {
	text-align: center;
	height: 50px;
	background: url(../images/index_hd_bg01.png) repeat-x center top;
	position: relative;
	z-index: 1;
}

/*main_sec01*/
#main.index #main_sec01 {
	box-sizing: border-box;
	margin-top: -9px;
	height: 554px;
	padding-top: 40px;
	background: url(../images/index_01_bg01.jpg) repeat-x center top;
	text-align: center;
}
#main.index #main_sec01 .txt02 {
	margin-top: 18px;
}
#main.index #main_sec01 .txt03 {
	margin-top: 20px;
	line-height: 2;
}

/*main_sec02*/
#main.index #main_sec02 {
	background: #fffffa;
}
#main.index #main_sec02 .in {
	position: relative;
	height: 270px;
}
#main.index #main_sec02 ul {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: -53px;
	width: 100%;
	box-sizing: border-box;
}
#main.index #main_sec02 ul li {
	float: left;
	width: 304px;
	height: 274px;
	box-sizing: border-box;
	padding-top: 14px;
	background: url(../images/index_02_bg01.png) no-repeat;
	text-align: center;
}
#main.index #main_sec02 ul li + li {
	margin-left: 19px;
}
#main.index #main_sec02 ul li h3 {
	margin-top: 24px;
}
#main.index #main_sec02 ul li .btn {
	width: 262px;
	height: 64px;
	margin: 22px auto 0;
}
#main.index #main_sec02 ul li .btn a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
#main.index #main_sec02 ul li.li01 .btn a {
	background-image: url(../images/index_02_btn01.png);
}
#main.index #main_sec02 ul li.li02 .btn a {
	background-image: url(../images/index_02_btn02.png);
}
#main.index #main_sec02 ul li.li03 .btn a {
	background-image: url(../images/index_02_btn03.png);
}
#main.index #main_sec02 ul li .btn a:hover {
	background-position: center -64px;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
present
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#main.present {
	background: #fffefa;
}

/*main_sec01*/
#main.present #main_sec01 {
	box-sizing: border-box;
	height: 214px;
	padding-top: 14px;
	text-align: center;
	background: url(../images/present_01_bg01.jpg) no-repeat center top;
}
#main.present #main_sec01 #main_sec01in {
	background: url(../images/present_01_bg02.png) no-repeat;
	width: 616px;
	height: 194px;
	box-sizing: border-box;
	padding-top: 30px;
	margin: 0 auto;
}
#main.present #main_sec01 p {
	margin-top: 10px;
}

/*main_sec02*/
#main.present #main_sec02 {
	margin-top: 20px;
}
#main.present #main_sec02 .ul_cnts li {
	display: table;
	width: 100%;
	padding: 24px 0;
	border-bottom: 1px solid #d8d8c8;
}
#main.present #main_sec02 .ul_cnts li .block {
	display: table-cell;
	vertical-align: middle;
}
#main.present #main_sec02 .ul_cnts li .block.block01 {
	width: 140px;
}
#main.present #main_sec02 .ul_cnts li .block.block02 {
	width: 460px;
}
#main.present #main_sec02 .ul_cnts li .block.block03 {
	text-align: right;
}
#main.present #main_sec02 .ul_cnts li .block h3 + .txt01,
#main.present #main_sec02 .ul_cnts li .block .txt01 + h3 {
	margin-top: 10px;
}
#main.present #main_sec02 .ul_cnts li .block h3 + .txt02,
#main.present #main_sec02 .ul_cnts li .block .txt01 + .txt02 {
	margin-top: 15px;
}
#main.present #main_sec02 .ul_cnts li .block .txt02 + .txt03 {
	margin-top: 10px;
}
#main.present #main_sec02 .ul_cnts li .block .txt04 {
	margin-top: 5px;
}
#main.present #main_sec02 .ul_note {
	margin-top: 30px;
}
#main.present #main_bottom {
	margin-top: 35px;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
part1
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main_sec01*/
#main.part1 #main_sec01 {
	background: url(../images/part1_01_bg01.jpg) no-repeat center top;
	height: 302px;
	box-sizing: border-box;
	padding-top: 33px;
	text-align: center;
}
#main.part1 #main_sec01 p {
	padding-top: 35px;
}
#main.part1 #main_sec01 p .strong {
	font-size: 1.25em;
	font-weight: bold;
}
#main.part1 #main_sec02 {
	background: #fffefa;
	padding-bottom: 60px;
}
#main.part1 #main_sec02 #main_sec02in {
	position: relative;
	background: url(../images/part1_02_bg01_01.png) repeat-y center top;
	padding-bottom: 55px;
		
}
#main.part1 #main_sec02 #main_sec02in:before,
#main.part1 #main_sec02 #main_sec02in:after {
	content: "";
	display: block;
	width: 990px;
	position: absolute;
	left: 50%;
	margin-left: -495px;
}
#main.part1 #main_sec02 #main_sec02in:before {
	background: url(../images/part1_02_bg01_02.png) no-repeat;
	height: 60px;
	top: -60px;
}
#main.part1 #main_sec02 #main_sec02in:after {
	background: url(../images/part1_02_bg01_03.png) no-repeat;
	height: 40px;
	bottom: -40px;
}
#main.part1 #main_sec02 h2 {
	text-align: center;
}
#main.part1 #main_sec02 ul {
	position: relative;
	width: 720px;
	height: 976px;
	margin: 50px auto 0;
}
#main.part1 #main_sec02 ul li {
	position: absolute;
	background: url(../images/part1_02_bg02.png) no-repeat;
	width: 320px;
	height: 248px;
	box-sizing: border-box;
	padding: 34px 0 0 28px;
}
#main.part1 #main_sec02 ul li .figure,
#main.part1 #main_sec02 ul li .txt01 {
	position: absolute;
	right: -47px;
	bottom: 142px;
}
#main.part1 #main_sec02 ul li .txt01 {
	display: none;
}
#main.part1 #main_sec02 ul li.active .figure {
	display: none;
}
#main.part1 #main_sec02 ul li.active .txt01 {
	display: block;
}
#main.part1 #main_sec02 ul li .txt02 {
	margin-top: 10px;
}
#main.part1 #main_sec02 ul li.li01,#main.part1 #main_sec02 ul li.li03,#main.part1 #main_sec02 ul li.li05 {
	left: 0;
}
#main.part1 #main_sec02 ul li.li02,#main.part1 #main_sec02 ul li.li04 {
	right: 0;
}
#main.part1 #main_sec02 ul li.li01 {
	top: 0;
}
#main.part1 #main_sec02 ul li.li02 {
	top: 114px;
}
#main.part1 #main_sec02 ul li.li03 {
	top: 364px;
}
#main.part1 #main_sec02 ul li.li04 {
	top: 478px;
}
#main.part1 #main_sec02 ul li.li05 {
	bottom: 0;
}
#main.part1 #main_sec02 ul li .btn {
	background: #fff;
	position: absolute;
	right: -16px;
	bottom: -18px;
}
#main.part1 #main_sec02 .in {
	position: relative;
}
#main.part1 #main_sec02 .figure01 {
	position: absolute;
	right: 68px;
	top: 115px;
}
#main.part1 #main_sec02 .figure02 {
	position: absolute;
	left: 24px;
	bottom: 280px;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
note
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main_sec01*/
#main.note #main_sec01 h1 {
	text-align: center;
	background: #eb9cac;
}

/*main_sec02*/
#main.note #main_sec02 {
	margin-top: 40px;
	line-height: 2;
}
#main.note #main_sec02 ul + ul {
	margin-top: 30px;
}
#main.note #main_sec02 ul li {
	padding-left:1em;
	text-indent:-1em;
}
#main.note #main_sec02 ul li dl {
	padding-left: 1em;
}
#main.note #main_sec02 .btn {
	margin-top: 30px;
	text-align: center;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
entry
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#main.entry {
	background: #fffefa;
}

/*main_sec01*/
#main.entry #main_sec01 {
	padding-top: 30px;
	text-align: center;
}
#main.entry #main_sec01 p {
	margin-top: 30px;
}

/*main_sec02*/
#main.entry #main_sec02 {
	margin-top: 40px;
	padding-bottom: 40px;
}
#main.entry #main_sec02 #ul_part .li_part {
	position: relative;
	height: 272px;
}
#main.entry #main_sec02 #ul_part .li_part + .li_part {
	margin-top: 16px;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 {
	background: url(../images/entry_02_bg01_off.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1.active {
	background: url(../images/entry_02_bg01_on.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 {
	background: url(../images/entry_02_bg02_off.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2.active {
	background: url(../images/entry_02_bg02_on.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 {
	background: url(../images/entry_02_bg03_off.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3.active {
	background: url(../images/entry_02_bg03_on.jpg) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part h2 {
	position: absolute;
	left: 24px;
	top: 40px;
}
#main.entry #main_sec02 #ul_part .li_part ul li {
	position: absolute;
	top: 8px;
	width: 140px;
	height: 256px;
}
#main.entry #main_sec02 #ul_part .li_part ul li.active {
	background: none !important;
}
#main.entry #main_sec02 #ul_part .li_part ul li.li01 {
	left: 228px;
}
#main.entry #main_sec02 #ul_part .li_part ul li.li02 {
	left: 336px;
}
#main.entry #main_sec02 #ul_part .li_part ul li.li03 {
	left: 443px;
}
#main.entry #main_sec02 #ul_part .li_part ul li.li04 {
	left: 548px;
}
#main.entry #main_sec02 #ul_part .li_part ul li.li05 {
	left: 652px;
}
#main.entry #main_sec02 #ul_part .li_part ul li img {
	display: none;
}
#main.entry #main_sec02 #ul_part .li_part ul li.active img {
	display: inline-block;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 ul li.li01 {
	background: url(../images/entry_02_ico01_01_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 ul li.li02 {
	background: url(../images/entry_02_ico01_02_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 ul li.li03 {
	background: url(../images/entry_02_ico01_03_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 ul li.li04 {
	background: url(../images/entry_02_ico01_04_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part1 ul li.li05 {
	background: url(../images/entry_02_ico01_05_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 ul li.li01 {
	background: url(../images/entry_02_ico02_01_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 ul li.li02 {
	background: url(../images/entry_02_ico02_02_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 ul li.li03 {
	background: url(../images/entry_02_ico02_03_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 ul li.li04 {
	background: url(../images/entry_02_ico02_04_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part2 ul li.li05 {
	background: url(../images/entry_02_ico02_05_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 ul li.li01 {
	background: url(../images/entry_02_ico03_01_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 ul li.li02 {
	background: url(../images/entry_02_ico03_02_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 ul li.li03 {
	background: url(../images/entry_02_ico03_03_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 ul li.li04 {
	background: url(../images/entry_02_ico03_04_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part#li_part3 ul li.li05 {
	background: url(../images/entry_02_ico03_05_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part .btn01 {
	position: absolute;
	left: 19px;
	top: 203px;
}
#main.entry #main_sec02 #ul_part .li_part .btn02 {
	position: absolute;
	right: 30px;
	top: 80px;
	width: 128px;
	height: 112px;
	background: url(../images/entry_02_btn02_off.png) no-repeat;
}
#main.entry #main_sec02 #ul_part .li_part .btn02 a {
	display: none;
}
#main.entry #main_sec02 #ul_part .li_part.active .btn02 a {
	display: block;
}
#main.entry #main_sec02 .ul_note {
	margin-top: 20px;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
module
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
.txt_n {
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	overflow: hidden;
}