<div align="center" style="text-align:center;">
<div>---CATEGORY---</div>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=5&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#ae3cae;"><font color="#ae3cae">▼ﾗｸﾞｼﾞｭｱﾘｰ</font></span></a>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=3&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#6497ee;"><font color="#6497ee">▼ﾌｧｯｼｮﾝ</font></span></a>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=2&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#e0681c;">▼ｺｽﾒ&amp;ﾋﾞｭｰﾃｨｰ</span></a>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=4&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#167e7f;"><font color="#167e7f">▼ﾗｲﾌｽﾀｲﾙ</font></span></a>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=6&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#afa303;"><font color="#afa303">▼ｶﾙﾁｬｰ</font></span></a>
 <a href="{tpl_var name=sys_mb_path}item/?a=Pitem_list&category=1&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#9c0001;"><font color="#9c0001">▼ﾌｰﾄﾞ</font></span></a>
</div>

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="3" />

<div>
<a href="{tpl_var name=sys_mb_path}static/?f=mbpage/guide/introduction&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#ffffff;"><font color="#ffffff">&gt;&gt;本ｻｲﾄについて</font></span></a><br />
<a href="{tpl_var name=sys_mb_path}static/?f=mbpage/guide/index&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#ffffff;"><font color="#ffffff">&gt;&gt;ご利用ｶﾞｲﾄﾞ</font></span></a><br />
<a href="{tpl_var name=sys_mb_path}?a=Phistory&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#ffffff;"><font color="#ffffff">&gt;&gt;履歴一覧</font></span></a><br />
{tpl_var name=f_contact_btn_mb|unescape}
<br />
<a href="{tpl_var name=sys_mb_path}?a=Ptop&{%%svid%%}&sid={tpl_var name=sid}"><span style="color:#ffffff;"><font color="#ffffff">&gt;&gt;ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝTOPへ</font></span></a>
</div>

<br />
<span style="color:#aaaaaa;">※本ｻｲﾄの表示価格は､本体価格に8%の消費税額を加えたお支払総額となっております｡(履歴一覧に掲載の商品を除く)<br />
※写真と実物では､色､素材感が多少異なる場合がございます｡あらかじめご了承ください｡<br />
※掲載商品につきましては､数に限りがございますので品切れの際はご容赦ください｡</span><br />
<div align="center" style="text-align:center; color:#ffffff; background-color:#333333;">
(C) Sogo&amp;Seibu
</div>
