<div id="pagetop" name="pagetop">

<div id="h1" style="text-align:center;"><img border="0" alt="ROYAL PLATINUM SELECTION" src="./images/header_home.gif" /></div>

<div style="text-align:center;">
	<div style="background-color:#8d895d; border-bottom:1px solid #64635b; color:#efeee5;">ようこそ､{tpl_var name=f_c_name|mobile}様</div>
	<div style="background:#a8a474; color:#efeee5;">
		{tpl_var name=f_m_name_view_m|mobile}
		{tpl_var name=h_contact_btn_mb|mobile}
	</div>
	<div style="background:#dcdac9; color:#5d5a37;">
		<img src="{tpl_var name=sys_mb_path}images/no01.gif" /><a href="/rps/m/static/?f=mbpage/guide/first&{%%svid%%}&{%%sid%%}" accesskey="1"><span style="color:#5d5a37;">初めての方へ</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no02.gif" /><a href="/rps/m/static/?f=mbpage/guide/introduction&{%%svid%%}&{%%sid%%}" accesskey="1"><span style="color:#5d5a37;">本ｻｲﾄについて</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no03.gif" /><a href="/rps/m/static/?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}" accesskey="2"><span style="color:#5d5a37;">ご利用ｶﾞｲﾄﾞ</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no04.gif" /><a href="{tpl_var name=sys_mb_path}?a=Phistory&svid={%%svid%%}&sid={tpl_var name=sid}" accesskey="3"><span style="color:#5d5a37;">履歴一覧</span></a>
		<div style="color:#000000; border-top:1px solid #000000;">
			▼<a href="#Pickup"><span style="color:#000000;">PICKUP</span></a>
			 | ▼<a href="#Category"><span style="color:#000000;">ｶﾃｺﾞﾘ</span></a>
			 | ▼<a href="#Search"><span style="color:#000000;">検索</span></a>
		</div>
	</div>
</div>