@charset "EUC-JP";

#main {
	/*
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background-color: #fff;
	background-position: 35px;
	*/
	width:100%;
}

/*お問い合わせ*/
.footer {
	background: #EDEDED;
	text-align: center;
	width:810px;
	margin: 30px auto 10px auto;
	padding: 20px;
	color: #000;
	font-size: 120%;
}
.footer p { margin-top: 20px; }



#ss_wrap {
	margin:35px auto 50px auto;
	padding-bottom:35px;
	position:relative;
	width:950px;
	background:url(../images/ss_bg.gif) left top no-repeat #efefef;
}
#ss_wrap h1 {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 35px;
}
#ss_wrap #copy_txt {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 35px;
}
#ss_wrap select {
	border:1px solid #dadada;
	position:absolute;
	top:130px;
	right:35px;
	background:url(../page/bs_specialselect/images/ss_icn_pdown.gif) left top no-repeat #ffffff;
}
#ss_wrap select:hover {
	background:#ffffff;
}



#contents {
	margin:0 auto;
	width:880px;
}
#contents ul.anchor {
	width:880px;
}


#contents ul.anchor:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#contents ul.anchor { min-height: 1px; }
* html #contents ul.anchor {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}



#contents ul.anchor li {
	margin:0;
	padding:0;
	line-height:0;
	width:430px;
	font-size:0;
}
#contents ul.anchor li.lf { float:left; }
#contents ul.anchor li.rf { float:right; }

#contents ul.anchor li.btn1{  
  float: left;  
  width: 287px;  
  margin: 0;  
  padding-right: 9px;  
}  

#contents ul.anchor li.btn2{  
  float: left;  
  width: 287px;  
  margin: 0;  
  padding: 0;  
}  

#contents .section {
	clear:both;
	background:#ffffff;
}
#contents .section .btn_detail {
	margin:15px 0 20px 0;
	float:left;
	width:607px;
	text-align:right;
}
#contents .section .btn_change {
	margin:15px 0 20px 0;
	float:right;
	width:74px;
}
/* #pullDown */
#bkntitle {
	position:absolute;
	right:35px;
	width:auto;
	top: 112px;
}

#pullDown {
	position:absolute;
	right:35px;
	width:auto;
	top: 132px;
}
#pullDown dt {
	margin:0;
	padding:0;
	border-top:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	line-height:0;
	float:right;
	width:24px;
	height:24px;
	font-size:0;
}
#pullDown dt img { vertical-align:top; }
#pullDown dt a { cursor:pointer !important; }
#pullDown dd {
	display:block;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	float:right;
	line-height:24px;
/*	width:7em;*/
	width:100px;
	min-height:24px;
	height:auto !important;
	height:24px;
	color:#000000;
	text-align:center;
	background-color: #ffffff;
	background-image: url(../images/ss_bg_pdown.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#pullDown dd a {
	color:#333333;
	text-decoration:none;
	cursor:pointer !important;
}
#pullDown dd ul#sub {
	margin-left:-1px;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
/*	width:7em !important;*/
	width:100px; !important;
	color:#333333;
	z-index:100;
}
#pullDown dd ul#sub li { color:#333333; }
#pullDown dd ul#sub li a {
	display:block;
	width:100%;
	background:#cccccc;
}
#pullDown dd ul#sub li a:hover { background:#eeeeee; }

.disNone { display:none; }

.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }

a.alpha:hover img {
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter:"alpha( opacity=70 )";
}
a.alpha2:hover img {
	opacity:0.9;
	filter:alpha(opacity=90);
	-ms-filter:"alpha( opacity=90 )";
}


/*コンポラックスcssここから*/
.compolux {
	background: url(../images/compolux_main.jpg) no-repeat;
	width:880px;
	height:438px;
}

.compolux ul{
	padding-top:346px;
	padding-bottom:23px;
}

.compolux li{
	float:left;
}

.btn_left{
	padding:0 13px 0 23px;
	}


/*コンポラックスcssここまで*/