@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
.fl {float:left !important;}
.fr {float:right !important;}


/*#main*/
#main a {
	color:#000;
}
#main a:hover {
	text-decoration: none;
}
#main a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha(opacity=60)";
}



/*#sec_header*/
#main #sec_header {
	position:relative;
	width:100%;
	overflow-x:hidden;
	border-bottom:1px solid #e1e5ea;
}
#main #sec_header.category {
	height:349px;
}
#main.brand #sec_header {
	height:219px;
}
#main #sec_header .inner {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-475px;
}
#main #sec_header .inner h1,
#main #sec_header .inner p {
	position:absolute;
	left:0;
	top:0;
}
#main #sec_header .inner h1 {
	z-index:1;
	border-bottom:1px solid #005094;
}



/*#sec_contents*/
#main #sec_contents {
	width:950px;
	margin:0 auto;
	padding-top:60px;
}
#main #sec_contents ul {
	margin-bottom:48px;
}
#main #sec_contents ul li {
	float:left;
}
#main #sec_contents ul li a {
	display:block;
}
#main #sec_contents ul li a p {
	width:280px;
	font-size:116.7%;
}
#main #sec_contents ul li.li_center {
	margin:0 24px;
}
#main.brand #sec_contents ul li.li_center {
	margin:0 54px;
}

#main #sec_contents ul li a img {
	border:1px solid #cccccc;
	margin-bottom:10px;
}



/*#sec_footer*/
#sec_footer {
	width:100%;
	background:#f1f1f1;
	border-top:1px solid #e1e5ea;
	padding:27px 0 20px;
	margin-bottom:20px;
}
#sec_footer h2 {
	text-align:center;
	margin-bottom:25px;
}
#sec_footer .inner {
	width:950px;
	margin:0 auto;
}
#sec_footer .inner ul {
	margin-bottom:20px;
}
#sec_footer .inner ul li {
	border-right:1px dotted #787c8e;
	padding:0 12px;
	width:212px;
	float:left;
}
#sec_footer .inner ul li.li_end {
	border-right:none;
}
#sec_footer .inner ul li dl dt,
#sec_footer .inner ul li dl dd {
	background:url(../images/footer_ico01.gif) no-repeat left 0.5em;
	padding-left:10px;
	line-height:1.45;
}
#sec_footer .inner ul li dl dt {
	font-size:116.7%;/*14px*/
	margin-bottom:10px;
}
#sec_footer .inner ul li dl dd {
	margin-bottom:5px;
}
#sec_footer .inner ul li dl dt a,
#sec_footer .inner ul li dl dd a {
	text-decoration:none;
}
#sec_footer .inner ul li dl dt a:hover,
#sec_footer .inner ul li dl dd a:hover {
	text-decoration:underline;
}