@charset "UTF-8";

/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/default     _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}


body {
 line-height:1.5;
 color:#524132;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

ol, ul {
	list-style:none;
}

fieldset, img {
	border:0;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	border-spacing:0;
}

caption, th {
	text-align: left;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

a{text-decoration:underline; color:#75695e;}
a:hover{text-decoration:none; color:#75695e;}

/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/
/*common*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/
.fl_l{
	float:left;
}
.clr{clear:both;}
.block{display:block;}

/*
.clearfix:after { 
	content: url(../images/common/spacer.gif); 
	display: block; 
	clear: both; 
	height: 0; 
} 
.clearfix { 
	display: inline-block;
	overflow:hidden;
} 
.clearfix { 
	display: block; 
}*/

.clearfix {zoom:1; overflow:hidden;}
.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;}

table td.pad_b20{
	padding-bottom:20px;
}

.pos_abs{
	position:absolute;
}

a.anchor{
	display:block;
padding-top:75px;
margin-top:-75px
}



/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/font     _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/


body {
	font-size: 90%; /* IE */
}

html>/**/body {
	font-size: 13px; /* Except IE */
	font-size /*\**/: 90%\9;  
}


.font_8 {
	font-size:66.6%;
}

.font_9 {
	font-size:75%;
}

.font_10 {
	font-size:83.3%;
}

.font_11 {
	font-size:91.6%;
}

.font_12 {
	font-size:100%;
}

.font_13 {
	font-size:108.3%;
}

.font_14 {
	font-size:116.6%;
}

.color_xxx {
}



.mt5		{margin-top: 5px;}
.mt10	{margin-top: 10px;}
.mt15	{margin-top: 15px;}
.mt20	{margin-top: 20px;}
.mt25	{margin-top: 25px;}
.mt30	{margin-top: 30px;}
.mt35	{margin-top: 35px;}
.mt40	{margin-top: 40px;}

.mb5		{margin-bottom: 5px;}
.mb10	{margin-bottom: 10px;}
.mb15	{margin-bottom: 15px;}
.mb20	{margin-bottom: 20px;}
.mb25	{margin-bottom: 25px;}
.mb30	{margin-bottom: 30px;}
.mb35	{margin-bottom: 35px;}
.mb40	{margin-bottom: 40px;}



/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/layout      _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/



body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: url(../images/bg.gif) no-repeat center top #be9d6d;
}


#container{
	width:960px;
	margin:0 auto;
	background: #fff;
}

#header{
	width:800px;
	margin:0 auto;
}


#contents{
	width:800px;
	margin:0 auto;
	padding:30px 0px;
}


#footer{
	width:960px;
	margin:0 auto 50px auto;
}



/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/logo    _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/

#logo{
	position:relative;
	height:83px;
}

#print	{
	position: absolute;
	left: 749px;
	top: 0;
}

#seibu{
	position: absolute;
	left: 819px;
	top: 14px;
}

#sogo{
	position: absolute;
	left: 884px;
	top: 14px;
}



/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/header    _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/


/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*/contents    _/_/_/_/_/_/_/_/_/_/_/*/
/*/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/

#contents #navi{
	position:relative;
	height:92px;
}

#contents #navi li{
	position:absolute;
	height:92px;
}

#contents #navi li#navi01{
	top:0px;
	left:0px;	
}

#contents #navi li#navi02{
	top:0px;
	left:134px;	
}

#contents #navi li#navi03{
	top:0px;
	left:268px;	
}

#contents #navi li#navi04{
	top: 0px;
	left: 402px;
}


#contents #navi li#navi05{
	top: 0px;
	left: 536px;
}


#contents #navi li#navi06{
	top: 0px;
	left: 670px;
}


#contents #navi li#navi01_b{
	top:0px;
	left:0px;	
}

#contents #navi li#navi02_b{
	top:0px;
	left:161px;	
}

#contents #navi li#navi03_b{
	top:0px;
	left:322px;	
}

#contents #navi li#navi04_b{
	top: 0px;
	left: 483px;
}


#contents #navi li#navi05_b{
	top: 0px;
	left: 644px;
}












/* brand ==================================== */
#brand #burberry{
	margin: 10px 0 0 0;
}





/* special ==================================== */
#special dl {float: left;}
#special dl dd			{padding-top: 10px;padding-bottom: 15px;font-size:12px;line-height: 160%;color: #000;}
#special dl dd p			{letter-spacing: -0px;}
#special dl dd p span		{color:#b81c22;font-weight: bold;}
#special dl dd p span.price	{font-size: 16px;color:#b81c22;}

#special dl.w256{width: 256px;margin-right: 16px;}
#special dl.w188{width: 188px;margin-right: 16px;}
#special dl.end{margin-right: 0px;}

#special .special_data		{padding-bottom: 25px;}



#ladieswear				{background: #fdf6ed;padding: 6px;margin-top: 40px;}
#ladieswear .inner			{background: #fefaf5;padding: 27px 61px 24px 62px;border: 1px solid #e9ddcd;}
#ladieswear #d_brand		{padding-left: 5px;}
#ladieswear #d_higawari	{padding-left: 5px;}


#ladieswear #date		{margin-top: 10px;padding-left: 5px;}
#ladieswear #date ul li		{float: left;}
#ladieswear #date ul li.date1	{width: 200px;padding: 10px 10px 10px 0;}
#ladieswear #date ul li.date2	{width: 195px;padding: 10px 10px 10px 15px;border-left: 1px solid #d3c0a5;border-right: 1px solid #d3c0a5;}
#ladieswear #date ul li.date3	{width: 202px;padding: 10px 0 10px 15px;}
#ladieswear #date ul li p		{font-size: 12px;letter-spacing: -1px;}
#ladieswear #date ul li p span		{color:#b81c22;font-weight: bold;letter-spacing: 0;}
#ladieswear #date ul li p span.price	{font-size: 16px;color:#b81c22;}



/* sale ==================================== */
#sale dl 			{float: left;}
#sale dl dd			{padding-top: 10px;font-size:12px;line-height: 160%;color: #000;}
#sale dl dd p		{}
#sale dl dd p span		{color:#b81c22;font-weight: bold;}
#sale dl dd p span.price	{font-size: 16px;color:#b81c22;}

#sale dl.w256		{width: 256px;margin-right: 16px;}
#sale dl.end			{margin-right: 0px;}

.line1px			{border-bottom: 1px solid #be9d6d;margin-bottom: 25px;}



/* interior ==================================== */
#interior .left		{float: left;width: 544px;letter-spacing: -0px;}
#interior .right		{float: right;width: 256px;margin-bottom: 17px;}

#t_nigawarisale		{margin: 30px 0 5px 0;}

#interior p			{font-size: 12px;}
#interior p span		{color:#b81c22;font-weight: bold;}
#interior p span.price	{font-size: 16px;color:#b81c22;}

#interior div.w256	{width: 256px;margin-right: 16px;float: left;font-size: 12px;}
#interior div.end		{margin-right: 0px;}


/* jewelry ==================================== */
#jewelry_bg		{position: relative;width: 800px;height: 622px;background: url(../images/jewelry_bg.jpg) #ac8750;}
#jewelry_bg_title		{position: absolute;left: 30px;top: 42px;}
#jewelry_01		{position: absolute;left: 38px;top: 91px;}
#jewelry_01_kome	{position: absolute;left: 229px;top: 315px;}
#jewelry_01_text		{position: absolute;left: 351px;top: 90px;}
#jewelry_02		{position: absolute;left: 38px;top: 358px;}
#jewelry_02_text		{position: absolute;left: 351px;top: 358px;}
#jewelry_02_detail	{position: absolute;left: 351px;top: 438px;width: 420px;font-size: 12px;line-height: 160%;color: #000;}
#jewelry_02_detail span	{color:#b81c22;font-weight: bold;}
#jewelry_02_detail span.price	{font-size: 16px;color:#b81c22;}

#jewelry p.point		{font-size: 14px;padding: 18px 0 40px 30px;}
#jewelry p.point span	{font-size: 11px;}






/* login ==================================== */
#contents #login{
	margin-bottom: 49px;
}

#contents #login #input_area{
	width:800px;
	height:108px;
	background:#f2ece3;
	position:relative;
}

#contents #login #input_area .input01{
	position:absolute;
	top:20px;
	left:123px;
	height:28px;
	width:245px;
	border: 1px solid #d9cfc0;
	font-size: 14px;
}

#contents #login #input_area .input02{
	position:absolute;
	top:59px;
	left:123px;
	height:28px;
	width:245px;
	border: 1px solid #d9cfc0;
	font-size: 14px;
}

#contents #login #input_area .mail{
	position: absolute;
	top: 27px;
	left: 18px;
}

#contents #login #input_area .btn_login{
	position: absolute;
	top: 20px;
	left: 378px;
}

#contents #login #input_area .link01{
	position: absolute;
	top: 20px;
	left: 550px;
}

#contents #login #input_area .link02{
	position: absolute;
	top: 67px;
	left: 550px;
}





/* btn_pagetop ==================================== */
.btn_pagetop{
	text-align:right;
}






#access .title	{margin-bottom: 20px;}
#access .left	{float: left;margin-left: 18px;}
#access .right	{float: right;margin-bottom: 48px;margin-right: 20px;}
#access p		{margin-bottom: 9px;}















