@charset "UTF-8";

.noprint	{display: none;}

body	{background-image: none;background-color: #fff;}

#seibu{
	position: absolute;
	left: 774px;
	top: 17px;
}

#sogo{
	position: absolute;
	left: 839px;
	top: 17px;
}



