<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>八ヶ岳高原音楽堂 サロンコンサート | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/yatsugatake/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/yatsugatake/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/yatsugatake/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/yatsugatake/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/yatsugatake/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>

<!--[if lt IE 9]>
<script src="../page/yatsugatake/js/ie9.js"></script>
<![endif]-->

</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">八ヶ岳高原音楽堂 サロンコンサート</li>
	</ul>
	<div id="brand"><img src="../page/yatsugatake/images/yatsugatake.jpg" alt="この場所でしか、出会えない音があります。八ヶ岳高原音楽堂 サロンコンサート" /></div>
	<div id="main">
	<div id="tokuten"><img src="../page/yatsugatake/images/yatsugatake_tokuten.jpg" alt="［会員さま特典］1：コンサートチケット料金10％ご優待【コンサートのみ、ご宿泊プラン共通】　2：ウェルカムドリンク券（喫茶またはカクテル）をプレゼント（ご人数さま分）【ご宿泊プラン限定】※満室・満席の際は、ご予約をお受けできない場合もございます。" /></div>
	<div id="itemCatalog">
		<div id="itemList">
			
			<div>
			<a href="../detail/?a=Item_detail&id=6955&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160108_04.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年4月23日（土）</p>
				<a href="../detail/?a=Item_detail&id=6955&{%%svid%%}">	
				<h1>佐藤しのぶ</h1>
				<p>ソプラノ・リサイタル</p>
				</a></div>
			</div>
			
			<div>
			<a href="../detail/?a=Item_detail&id=6954&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160108_03.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年4月24日（日）</p>
				<a href="../detail/?a=Item_detail&id=6954&{%%svid%%}">	
				<h1>渡辺貞夫</h1>
				<p >with ピーター・アースキン・トリオ</p></a>
				</div>
			</div>
			
			<div class="end">
			<a href="../detail/?a=Item_detail&id=7108&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_01.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年5月21日（土）</p>
				<a href="../detail/?a=Item_detail&id=7108&{%%svid%%}">	
				<h1>湯川れい子ナビゲート　亀渕友香＆VOJA</h1>
				<p>スペシャル・ゴスペルコンサート</p>
				</a></div>
			</div>
			
			<div>
			<a href="../detail/?a=Item_detail&id=7107&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_02.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年5月28日（土）</p>
				<a href="../detail/?a=Item_detail&id=7107&{%%svid%%}">	
				<h1>中村恵理</h1>
				<p>ソプラノ・リサイタル</p>
				</a></div>
			</div>
			
			<div>
			<a href="../detail/?a=Item_detail&id=7106&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_03.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年6月4日（土）</p>
				<a href="../detail/?a=Item_detail&id=7106&{%%svid%%}">	
				<h1>加古隆</h1>
				<p>「パリは燃えているか」を心に響かせて</p>
				</a></div>
			</div>
			
			<div class="end">
			<a href="../detail/?a=Item_detail&id=7105&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_04.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年6月11日（土）</p>
				<a href="../detail/?a=Item_detail&id=7105&{%%svid%%}">	
				<h1>宮田 大</h1>
				<p>チェロ・リサイタル</p>
				</a></div>
			</div>
			
			<div>
			<a href="../detail/?a=Item_detail&id=7104&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_05.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年6月18日（土）</p>
				<a href="../detail/?a=Item_detail&id=7104&{%%svid%%}">	
				<h1>ジャン=ギアン・ケラス</h1>
				<p>無伴奏チェロ・リサイタル</p>
				</a></div>
			</div>
			
			<div>
			<a href="../detail/?a=Item_detail&id=7103&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_06.jpg" alt="" /></a>				
				<div class="info">
				<p class="date">2016年7月2日（土）</p>
				<a href="../detail/?a=Item_detail&id=7103&{%%svid%%}">	
				<h1>堤 剛＆萩原麻未</h1>
				<p>デュオ・リサイタル</p>
				</a></div>
			</div>
			
			<div class="end">
			<a href="../detail/?a=Item_detail&id=7102&{%%svid%%}">
			<img src="../page/yatsugatake/images/yatsugatake_160212_07.jpg" alt="" /></a>				
				<div class="info yutai">
				<p class="date">2016年7月18日（月・祝）</p>
				<p class="rps">ロイヤル・プラチナ セレクション会員さま
				<br /><span>＜先行予約＆特別ご優待のご案内＞</span></p>
				<a href="../detail/?a=Item_detail&id=7102&{%%svid%%}">	
				<h1 class="inline">森山良子</h1>
				<p class="inline">&nbsp;&nbsp;アコースティックコンサート</p></a>
				</div>
			</div>
	
		</div>
		</div>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
