<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>八ヶ岳高原音楽堂 サロンコンサート | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/yatsugatake/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/yatsugatake/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/yatsugatake/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/yatsugatake/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/yatsugatake/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>

<!--[if lt IE 9]>
<script src="../page/yatsugatake/js/ie9.js"></script>
<!--[endif]-->

</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">八ヶ岳高原音楽堂 サロンコンサート</li>
	</ul>
	<div id="brand"><img src="../page/yatsugatake/images/yatsugatake.jpg" alt="この場所でしか、出会えない音があります。八ヶ岳高原音楽堂 サロンコンサート" /></div>
	<div id="main">
    <div id="tokuten"><img src="../page/yatsugatake/images/yatsugatake_tokuten.jpg" alt="［会員さま特典］1：コンサートチケット料金10％ご優待【コンサートのみ、ご宿泊プラン共通】　2：ウェルカムドリンク券（喫茶またはカクテル）をプレゼント（ご人数さま分）【ご宿泊プラン限定】※満室・満席の際は、ご予約をお受けできない場合もございます。" /></div>
	<div id="itemCatalog">
		<div id="itemList">
        
            <div>
            <a href="../detail/?a=Item_detail&id=6957&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_06.jpg" alt="" /></a>				
                <div class="info">
				<p class="date">2016年2月6日（土）</p>
                <a href="../detail/?a=Item_detail&id=6957&{%%svid%%}">	
                <h1>小原 孝 featuring 押尾コータロー</h1>
                <p>アコースティック・コンサート</p>
                </a></div>
			</div>
            
            <div>
            <a href="../detail/?a=Item_detail&id=6956&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_05.jpg" alt="" /></a>				
                <div class="info">
				<p class="date">2016年2月13日（土）</p>
                <a href="../detail/?a=Item_detail&id=6956&{%%svid%%}">	
                <h1>レ・フレール</h1>
                <p>バレンタイン・スペシャルコンサート</p>
                </a></div>
			</div>
            
           <div class="end">
            <a href="../detail/?a=Item_detail&id=6955&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_04.jpg" alt="" /></a>				
                <div class="info">
				<p class="date">2016年4月23日（土）</p>
                <a href="../detail/?a=Item_detail&id=6955&{%%svid%%}">	
                <h1>佐藤しのぶ</h1>
                <p>ソプラノ・リサイタル</p>
                </a></div>
			</div>
            
             <div>
            <a href="../detail/?a=Item_detail&id=6954&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_03.jpg" alt="" /></a>				
                <div class="info yutai">
				<p class="date">2016年4月24日（日）</p>
                <p class="rps">ロイヤル・プラチナ セレクション会員さま
                <br /><span>＜先行予約＆特別ご優待のご案内＞</span></p>
                <a href="../detail/?a=Item_detail&id=6954&{%%svid%%}">	
                <h1 class="inline">渡辺貞夫</h1>
                <p class="inline">&nbsp;&nbsp;ジャズ・ナイト（仮題）</p></a>
                                </div>
			</div>
            
            <div>
            <a href="../detail/?a=Item_detail&id=6953&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_02.jpg" alt="" /></a>				
                <div class="info">
				<p class="date">2016年4月29日（金・祝）</p>
                <a href="../detail/?a=Item_detail&id=6953&{%%svid%%}">	
                <h1>ウラディーミル・アシュケナージ＆ヴォフカ・アシュケナージ</h1>
                <p>ピアノ・デュオ</p>
                </a></div>
			</div>
            
           <div class="end">
            <a href="../detail/?a=Item_detail&id=6952&{%%svid%%}">
            <img src="../page/yatsugatake/images/yatsugatake_160108_01.jpg" alt="" /></a>				
                <div class="info">
				<p class="date">2016年5月7日（土）</p>
                <a href="../detail/?a=Item_detail&id=6952&{%%svid%%}">	
                <h1>小椋 佳</h1>
                <p>アコースティック・ライブ</p>
                </a></div>
			</div>
	
		</div>
		</div>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
