<!----------- 編集エリアここから ----------->
<style>
#main .sec_header {width:950px; height:100px; position:relative; margin-top:30px;margin-bottom:40px;}
#main .sec_header h1 {position:absolute; text-indent: 0px!important; margin:0px!important; height:100px!important;}
#main .sec_header a {position:absolute;left:670px;top:25px;margin:0; text-indent:inherit;}
</style>

<h1>フード</h1>
<div style="width:934px; margin-top:20px; background-color:#fff;">
<p>
美食家の方々にもご満足いただける、“美味しさ”を追い求めて。<br />目利きバイヤーたちが、日本各地、世界中から、吟味してお届けいたします。丹精し、磨きをかけた「味の逸品」を、心ゆくまでご堪能ください。
</p>
</div>

<div class="sec_header">
<h1><img src="../_common/images/summer2016/cmn_header_ttl.jpg" alt="2016 夏の逸品会 公開期間：6月15日（水）〜7月15日（金）" /></h1>
<a href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../_common/images/summer2016/cmn_header_btn.gif" alt="逸品会トップへ戻る" /></a>
</div>

<!----------- 編集エリアここまで ----------->