<div id="catchFlash">

<!-- Flash_area　ここから -->

<!-- Flash_area(凸版編集エリア)　ここから -->
<!-- ここから -->
<div class="catchFlash-inner">
<h2><img src="_common/images/Top/top_h2.png" width="472" height="171" alt="ロイヤル・プラチナ セレクション 春の逸品会 会期：3月2日（月）〜4月12日（日） あなたさまを真に満たす、逸品との出合いがここに……。 選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>

<div class="slide_all">
<div class="slide_wrap">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="_common/css/Top/jquery.bxslider.css">
<style>
#main a:hover img {
	filter:alpha(opacity=60) !important;
	opacity:0.60 !important;
}

.catchFlash-inner {
	background: url(_common/images/Top/top_catchFlash-inner_bg.jpg) repeat-x center top transparent;
	height: 787px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 167px;
	width:100%;
}

.catchFlash-inner h2 {
	padding: 30px 0;
	text-align: center;
}

.nxtBtn a, .prvBtn a {
display: block;
position: absolute;
width: 50px;
height: 250px;
background: #f00;
top: 0;
}
.prvBtn a {
left: -50px;
}
.nxtBtn a {
right: -50px;
}

.nxtBtn2 a, .prvBtn2 a {
display: block;
position: absolute;
width: 38px;
height: 60px;
top: 165px;
font-size: 0;
}
*:first-child+html .nxtBtn2, 
*:first-child+html .prvBtn2 {
display: block;
position: absolute;
width: 38px;
height: 60px;
top: 165px;
font-size: 0;
zoom: 1;
}
.prvBtn2 a, 
*:first-child+html .prvBtn2 {
background: url(_common/images/Top/top_prev_btn.png) no-repeat left top transparent;
	right: 50%;
	margin-right: 437px;
}
.nxtBtn2 a, 
*:first-child+html .nxtBtn2 {
background: url(_common/images/Top/top_next_btn.png) no-repeat left top transparent;
	left: 50%;
	margin-left: 437px;
}
*:first-child+html .prvBtn2 {
	margin-left: 433px;
}
.slider {
position: relative;
}

div.slide_wrap div.slider div.bx-wrapper {
	margin: 0 auto;
}

#bx-pager {
/* display: inline-block;
position: absolute; left: 50%; margin-left: -605px; */
margin: 0 auto;
width: 950px;
}
#bx-pager a img{
width: 100px;
display: inline-block;
margin: 0 3px;
}

#bx-pager a {
	display: block;
	float: left;
}

#bx-pager .active {
	position: relative;
}

#bx-pager .active img {
	/* border: 5px solid #eee;
	box-sizing: border-box; */
}

#bx-pager .active span.bdr {
	background: url(_common/images/Top/top_bx-pager_bdr.png) no-repeat left top transparent;
	display: inline-block;
	height: 120px;
	left: 5px;
	position: absolute;
	top: 0;
	width: 120px;
}

.pagerWrap {
text-align: center;
overflow: hidden;
width:100%;
}

.slide_all {width: 950px; margin: 0 auto; height: 405px; position: relative; zoom: 1;}
.slide_wrap {width: 2850px; height: 390px; position: absolute; left: 50%; margin-left: -1425px;}
/* .slide_wrap {width: 950px; position: absolute; left: 50%; margin-left: -475px;} */
.bxslider { *margin-left: 4px; }
.bxslider li {width: 950px; height: 390px;}
.bxslider li img {width: 100%; height: 390px;}
.bx-viewport {
	border: none !important;
	box-shadow: none !important;
	left: 0 !important;
	/* transform: skew(-20deg,-20deg) !important; */
	transform: none !important;
}

#view {
	margin: 800px 0 0 0;
}

#view p.top-bnr {
	margin: 0 0 20px 0;
}

</style>
<script src="_common/js/jquery.bxslider.js"></script>
<script type="text/javascript">
$(window).load(function(){
	
var st = false;
var slider = $('.bxslider').bxSlider({
pagerCustom: '#bx-pager',
nextSelector: '.nxtBtn, .nxtBtn2',
prevSelector: '.prvBtn, .prvBtn2',
slideWidth: 950,
minSlides: 3,
maxSlides: 3,
moveSlides: 1,
slideMargin: 0,
//auto: false,
auto: true,
useCSS: false,
onSlideBefore: function(){
	st = false;
},
onSlideAfter: function(){
	st = false;
	slider.startAuto();
}
});

var bxpager = $('#bx-pager');
var bxpagerChild = bxpager.find('a');
var bxpagerNum = bxpagerChild.index();
var s = $('.bxslider');

//bxpagerChild.mousemove(function(){
bxpagerChild.click(function(){
	bxpagerNum = $(this).index();
	slider.goToSlide(bxpagerNum);
	if(st) {
//		s.stop(true, true);
	}
	st = true;
})

});

</script>
<script>
/* $(function(){
	if($('#bx-pager a').hasClass('active'))
		$(this).prepend('<span class="btn"></span>');
}); */
</script>


<div class="slider">
<ul class="bxslider">
<li><a href="/rps/static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="_common/images/Top/index_I.jpg" width="950" height="390" alt="日本全国から選りすぐった、珠玉の酒・名店の味をお届けいたします 厳選グルメ特集" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="_common/images/Top/index_A.jpg" width="950" height="390" alt="装いに気品と華やぎを添える、この春のラグジュアリーバッグ 春の新作バッグコレクション" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="_common/images/Top/index_B.jpg" width="950" height="390" alt="本物だけが持つ魅力を堪能させてくれる時を刻む芸術品たち プレステージ ウオッチ特集" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="_common/images/Top/index_C.jpg" width="950" height="390" alt="確かな技と感性に魅了される。日本ブランドの名品たち ジャパンクオリティー特集" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="_common/images/Top/index_D.jpg" width="950" height="390" alt="アートを身近にするという、この上ない贅沢をこの機会に 至高の美術コレクション" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="_common/images/Top/index_E.jpg" width="950" height="390" alt="名門ブランドが発信。大人の気品で魅せる洗練アイテム 優雅に美しく、春のレディースウエア" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="_common/images/Top/index_F.jpg" width="950" height="390" alt="着こなしにクリエーティブを。遊び心を楽しむ紳士のワードローブ メンズ デザイナーズコレクション" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="_common/images/Top/index_G.jpg" width="950" height="390" alt="アクティブな毎日のパートナーに。インドアからアウトドアまで、高機能なギアをセレクト スポーツギアコレクション" /></a></li>
<li><a href="/rps/static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="_common/images/Top/index_H.jpg" width="950" height="390" alt="心満たされる、より上質な毎日を。理想の暮らしを叶える家電・家具 空間を豊かに彩るインテリア" /></a></li>
</ul>

<!--div class="prvBtn"></div>
<div class="nxtBtn"></div-->



</div>

<!-- ここまで -->
<div class="prvBtn2"></div>
<div class="nxtBtn2"></div>
</div></div>
<div class="pagerWrap">
<div id="bx-pager">
<a data-slide-index="0" href=""><img src="_common/images/Top/index_A_thum.jpg" width="100" height="100" alt=""  style="margin-left:1px"/></a>
<a data-slide-index="1" href=""><img src="_common/images/Top/index_B_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="2" href=""><img src="_common/images/Top/index_C_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="3" href=""><img src="_common/images/Top/index_D_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="4" href=""><img src="_common/images/Top/index_E_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="5" href=""><img src="_common/images/Top/index_F_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="6" href=""><img src="_common/images/Top/index_G_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="7" href=""><img src="_common/images/Top/index_H_thum.jpg" width="100" height="100" alt="" /></a>
<a data-slide-index="8" href=""><img src="_common/images/Top/index_I_thum.jpg" width="100" height="100" alt=""  style="margin-right:1px"/></a>
</div>
</div>

</div>
<!-- <div id="catchFlash"> -->


<!-- Flash_area　ここから -->
<div id="view">
<p class="top-bnr"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" width="950" height="115" alt="西武・そごう　ROYAL PLATINUM SELECTION 会員さま限定 今アンケートにご協力いただくと、クラブ・オン／ミレニアムポイント300ポイントプレゼント！ クラブ・オン／ミレニアムカード セゾン ゴールド 2月18日（水）〜4月12日（日） Webアンケートキャンペーン くわしくはこちら" /></a></p>

<script src="../_common/js/rollover.js" type="text/javascript"></script>



<div id="flashArea">
<a href="item/?a=item_list&category=5&{%%svid%%}"><img alt="洗練を極めた逸品をあなたさまへ　Luxury Brand" src="_common/images/Top/top_main_img.jpg" width="719" height="572"></a>
</div><!-- /flashArea -->
