<div id="catchFlash">


<!--ここからがテンプレート「flash.html」のエリア-->

<!-- Flash_area　ここから -->
<div id="view">

<style>
<!--
#header_area img {vertical-align:bottom;}
#header_area {width:950px;margin:20px auto 60px;}
#header_area .block01 {position:relative;width:100%;height:103px;background:#8d455b;}
#header_area .block01 h2 {position:absolute;left:255px;top:12px;}
#header_area .cnts {position:relative;height:707px;background:url(_common/images/Top/autumn2016/hd_bg01.jpg) no-repeat;}
#header_area .cnts p {position:absolute;left:85px;top:14px;}
#header_area .cnts .block02 {position:absolute;left:20px;top:67px;width:504px;height:620px;background:url(_common/images/Top/autumn2016/hd_02_bg.jpg);}
#header_area .cnts .block02 .btn01 {display:block;position:absolute;left:20px;top:30px;}
#header_area .cnts .block02 .btn02 {display:block;position:absolute;left:7px;bottom:13px;}
#header_area .cnts .block03 {position:absolute;right:20px;top:67px;width:400px;}
#header_area .cnts .block03 ul li {float:left;padding-left:15px;padding-bottom:11px;}
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
@media screen and (min-width:1px) {
	#header_area a:hover {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
}
-->
</style>

<div id="header_area">
	<div class="block01">
		<h2><img src="_common/images/Top/autumn2016/hd_01_ttl.gif" alt="" /></h2>
	</div>
	<div class="cnts">
		<p><img src="_common/images/Top/autumn2016/hd_txt01.png" alt="" /></p>
		<div class="block02">
			<a href="/rps/static/?f=page/autumn2016/index_b&{%%svid%%}" class="btn01"><img src="_common/images/Top/autumn2016/hd_02_img01.png" alt="" /></a>
			<a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}" class="btn02"><img src="_common/images/Top/autumn2016/hd_02_img02.png" alt="" /></a>
		</div>
		<div class="block03">
			<ul class="clfx">
				<li><a href="/rps/item/?a=Item_list&category=5&{%%svid%%}"><img src="_common/images/Top/autumn2016/hd_03_img01.png" alt="" /></a></li>
				<li><a href="/rps/static/?f=page/autumn2016/index9&{%%svid%%}"><img src="_common/images/Top/autumn2016/hd_03_img02.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category286"><img src="_common/images/Top/autumn2016/hd_03_img03.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category288"><img src="_common/images/Top/autumn2016/hd_03_img04.png" alt="" /></a></li>
				<li><a href="/rps/static/?f=page/autumn2016/index8&{%%svid%%}"><img src="_common/images/Top/autumn2016/hd_03_img05.png" alt="" /></a></li>
				<li><a href="/rps/static/?f=page/autumn2016/index7&{%%svid%%}"><img src="_common/images/Top/autumn2016/hd_03_img06.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category66"><img src="_common/images/Top/autumn2016/hd_03_img07.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category270"><img src="_common/images/Top/autumn2016/hd_03_img08.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category91"><img src="_common/images/Top/autumn2016/hd_03_img09.png" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}#category274"><img src="_common/images/Top/autumn2016/hd_03_img10.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
</div><!--/#header_area-->

<script src="_common/js/rollover.js" type="text/javascript"></script>

<!-- cpbnr（特設バナーエリア）ここから -->
<!--div class="cpbnr" style="margin-top:15px;"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" alt="" width="950" height="115" usemap="#cpbn" /></a></div-->

<!--map name="cpbn">
	<area shape="rect" coords="0,0,465,130" href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}" alt="花とみどりで、人と人をつなぐ日比谷花壇。日比谷花壇フラワーサービス">
	<area shape="rect" coords="484,0,949,130" href="/rps/detail/?a=Item_detail&id=4558&{%%svid%%}" alt="八ヶ岳のきらめく星空と皆既月食をご堪能いただきます。皆既月食ピアノコンサートツアーin 八ヶ岳高原ロッジ 【10月8日（水）出発／1拍2日】">
</map> -->
<!-- cpbnr（特設バナーエリア）ここまで -->



<div id="flashArea">
<script>
$(function(){
	$setElm = $('.wideslider');
	baseWidth = 620;
	baseHeight = 572;
	minWidth = 620;

	slideSpeed = 700;
	delayTime = 5000;
	easing = 'linear';
	autoPlay = '1'; // notAutoPlay = '0'

	btnOpacity = 0.5;
	pnOpacity = 0.5;

	$(window).load(function(){
		$setElm.find('img').css({display:'block'});
		$setElm.each(function(){
			targetObj = $(this);
			targetObj.children('ul').wrapAll('<div class="wideslider_base"><div class="wideslider_wrap"></div><div class="slider_prev"></div><div class="slider_next"></div></div>');

			var findBase = targetObj.find('.wideslider_base'),
			findWrap = targetObj.find('.wideslider_wrap'),
			findPrev = targetObj.find('.slider_prev'),
			findNext = targetObj.find('.slider_next');

			var pagination = $('<div class="pagination"></div>');
			targetObj.append(pagination);
			var baseList = findWrap.find('li');
			baseList.each(function(i){
				$(this).css({width:(baseWidth),height:(baseHeight)});
				pagination.append('<a href="javascript:void(0);" class="pn'+(i+1)+'"></a>');
			});

			var findPagi = targetObj.find('.pagination'),
			baseListCount = findWrap.find('li').length;

			setSlide();
			function setSlide(){
				windowWidth = $(window).width();
				findList = findWrap.find('li');
				setParts = (findBase,findWrap,findPrev,findNext,$setElm);

				setWrapLeft = parseInt(findWrap.css('left'));
				setlistWidth = findList.find('img').width();
				setLeft = setWrapLeft / setlistWidth;

				if(windowWidth < baseWidth){
					if(windowWidth > minWidth){
						findList.css({width:(windowWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					} else if(windowWidth <= minWidth){
						findList.css({width:(minWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					}
				} else if(windowWidth >= baseWidth){
					findList.css({width:(baseWidth),height:(baseHeight)});
					setParts.css({height:(baseHeight)});
				}

				setWidth = findList.find('img').width();
				setHeight = findList.find('img').height();
				baseWrapWidth = (setWidth)*(baseListCount);

				ulCount = findWrap.find('ul').length;
				if(ulCount == 1){
					var makeClone = findWrap.children('ul');
					makeClone.clone().prependTo(findWrap);
					makeClone.clone().appendTo(findWrap);
					findWrap.children('ul').eq('1').addClass('mainList');
					var mainList = findWrap.find('.mainList').children('li');
					mainList.eq('0').addClass('mainActive')

					allListCount = findWrap.find('li').length;
				}
				allLWrapWidth = (setWidth)*(allListCount),
				posAdjust = ((windowWidth)-(setWidth))/2;

				findBase.css({left:(posAdjust),width:(setWidth),height:(setHeight)});
				findPrev.css({left:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});
				findNext.css({right:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});

				findWrap.css({width:(allLWrapWidth),height:(setHeight)});
				findWrap.children('ul').css({width:(baseWrapWidth),height:(setHeight)});

				posResetNext = -(baseWrapWidth)*2,
				posResetPrev = -(baseWrapWidth)+(setWidth);

				adjLeft = setWidth * setLeft;
				findWrap.css({left:(adjLeft)});

			}
			findWrap.css({left:-(baseWrapWidth)});

			var pnPoint = pagination.children('a'),
			pnFirst = pagination.children('a:first'),
			pnLast = pagination.children('a:last'),
			pnCount = pagination.children('a').length;
			pnFirst.addClass('active');
			pnPoint.click(function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				var setNum = pnPoint.index(this),
				moveLeft = ((setWidth)*(setNum))+baseWrapWidth;
				findWrap.stop().animate({left: -(moveLeft)},slideSpeed,easing);
				pnPoint.removeClass('active');
				$(this).addClass('active');
				activePos();
				if(autoPlay == '1'){wsTimer();}
			});

			if(autoPlay == '1'){wsTimer();}

			function wsTimer(){
				wsSetTimer = setInterval(function(){
					findNext.click();
				},delayTime);
			}
			findNext.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}
					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)-(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left'));
						if(adjustLeft <= posResetNext){
							findWrap.css({left: -(baseWrapWidth)});
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(pnCount == listCount){
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						} else {
							pnPointActive.removeClass('active').next().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			findPrev.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}

					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)+(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left')),
						adjustLeftPrev = (posResetNext)+(setWidth);
						if(adjustLeft >= posResetPrev){
							findWrap.css({left: (adjustLeftPrev)});
							pnPointActive.removeClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(1 == listCount){
							pnPointActive.removeClass('active');
							pnLast.addClass('active');
						} else {
							pnPointActive.removeClass('active').prev().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			function activePos(){
				var posActive = findPagi.find('a.active');
				posActive.each(function(){
					var posIndex = pnPoint.index(this),
					setMainList = findWrap.find('.mainList').children('li');
					setMainList.removeClass('mainActive').eq(posIndex).addClass('mainActive');
				});
			}

			$(window).on('resize',function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				setSlide();
				if(autoPlay == '1'){wsTimer();}
			});
		});
	});
});
</script>



<div class="wideslider">
<div class="cover"></div>
<ul>
<li><a href="/rps/static/?f=page/tokinoaji_1609/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160912_tokinoaji.jpg" alt="季の味倶楽部" /></a></li>
<!--li><a href="/rps/detail/?a=Item_detail&id=8311&{%%svid%%}"><img src="_common/images/Top/main_160819_millecolle.jpg" alt="Millennium Collection 2016 Fall-Winter" /></a></li-->
<li><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160725_ss.jpg" alt="スペシャルセレクト　大型モニターで体感する、新しいパット練習機。" /></a></li>
<!--li><a href="/rps/static/?f=page/tour1605/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160630_tour.jpg" alt="ラグジュアリーなひとときが、心を満たす旅" /></a></li-->
<li><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150410_hibiya.jpg" alt="日比谷花壇" /></a></li>
<!--li><a href="/rps/static/?f=page/earlysummer/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160606_watchjewelry.jpg" alt="Early Summer Watch &amp; Jewelry Collection" /></a></li-->
<li><a href="item/?a=item_list&category=4&{%%svid%%}#category265"><img src="_common/images/Top/main_bnr_160603_yamano.jpg" alt="心やすらぐ、美しい音色" /></a></li>
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category28"><img src="_common/images/Top/main_bnr_160422_yatsugatake.jpg" alt="八ヶ岳高原音楽堂・リゾートホテル「八ヶ岳高原ロッジ」" /></a></li>
<li><a href="item/?a=item_list&category=5&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_luxury.jpg" alt="ラグジュアリー" /></a></li>
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category8"><img src="_common/images/Top/main_bnr_130830_tur.jpg" alt="ツアー" /></a></li>
<li><a href="/rps/static/?f=page/cosmetic/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_cosme.jpg" alt="コスメ" /></a></li>
</ul>
</div><!--/.wideslider-->
</div><!-- /flashArea -->
