<div id="catchFlash">

<!-- Flash_area　ここから -->

    	<!-- Flash_area(凸版編集エリア)　ここから -->

<!--ここからがテンプレート「flash.html」のエリア-->

<!-- Flash_area　ここから -->
<div id="view">

<style>
<!--
#header_area {position:relative;background:url(_common/images/Top/summer2016/hd_bg_01.jpg) no-repeat;width:950px;height:658px;margin:20px 0 60px;}
#header_area a:hover {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
#header_area .block01 {position:absolute;background:url(_common/images/Top/summer2016/hd_bg_02.jpg) no-repeat;width:950px;height:75px;left:0;top:20px;}
#header_area .block01 h2 {position:absolute;left:22px;top:14px;}
#header_area .block01 p {position:absolute;left:436px;top:33px;}
#header_area .block02 {position:absolute;left:20px;top:113px;}
#header_area .block02 h3 {margin-top:17px;}
#header_area .block02 ul {margin-top:8px;}
#header_area .block02 ul li {float:left;margin-left:8px;}
#header_area .block02 ul li:first-child {margin-left:0;}
#header_area .bnr {position:absolute;right:19px;top:71px;}
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
-->
</style>

<div id="header_area">
	<div class="block01">
		<h2><img src="_common/images/Top/summer2016/hd_ttl.png" alt="" /></h2>
		<p><img src="_common/images/Top/summer2016/hd_txt_01.png" alt="" /></p>
	</div>
	<div class="block02">
		<p><img src="_common/images/Top/summer2016/hd_txt_02.png" alt="" /></p>
		<h3><img src="_common/images/Top/summer2016/hd_sttl_01.png" alt="" /></h3>
		<ul class="clfx">
			<li><a href="/rps/static/?f=page/summer2016/ja_index1&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_01_01.png" alt="" /></a></li>
			<li><a href="/rps/static/?f=page/summer2016/ja_index2&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_01_02.png" alt="" /></a></li>
			<li><a href="/rps/static/?f=page/summer2016/ja_index3&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_01_03.png" alt="" /></a></li>
			<li><a href="/rps/static/?f=page/summer2016/ja_index4&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_01_04.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category88"><img src="_common/images/Top/summer2016/hd_img_01_05.png" alt="" /></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category270"><img src="_common/images/Top/summer2016/hd_img_01_06.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category271"><img src="_common/images/Top/summer2016/hd_img_01_07.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category66"><img src="_common/images/Top/summer2016/hd_img_01_08.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}#category96"><img src="_common/images/Top/summer2016/hd_img_01_09.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_01_10.png" alt="" /></a></li>
		</ul>
		<h3><img src="_common/images/Top/summer2016/hd_sttl_02.png" alt="" /></h3>
		<ul class="clfx">
			<li><a href="/rps/item/?a=Item_list&category=5&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_02_01.png" alt="" /></a></li>
			<li><a href="/rps/static/?f=page/summer2016/wo_index1&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_02_02.png" alt="" /></a></li>
			<li><a href="/rps/static/?f=page/summer2016/wo_index2&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_img_02_03.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category156"><img src="_common/images/Top/summer2016/hd_img_02_04.png" alt="" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category89"><img src="_common/images/Top/summer2016/hd_img_02_05.png" alt="" /></a></li>
		</ul>
	</div>
	<div class="bnr"><a href="/rps/static/?f=page/cp_summer2016/index&{%%svid%%}"><img src="_common/images/Top/summer2016/hd_bnr.png" alt="" /></a></div>
</div><!--/#header_area-->

<script src="_common/js/rollover.js" type="text/javascript"></script>

<!-- cpbnr（特設バナーエリア）ここから -->
<!--div class="cpbnr" style="margin-top:15px;"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" alt="" width="950" height="115" usemap="#cpbn" /></a></div-->

<!--map name="cpbn">
	<area shape="rect" coords="0,0,465,130" href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}" alt="花とみどりで、人と人をつなぐ日比谷花壇。日比谷花壇フラワーサービス">
	<area shape="rect" coords="484,0,949,130" href="/rps/detail/?a=Item_detail&id=4558&{%%svid%%}" alt="八ヶ岳のきらめく星空と皆既月食をご堪能いただきます。皆既月食ピアノコンサートツアーin 八ヶ岳高原ロッジ 【10月8日（水）出発／1拍2日】">
</map> -->
<!-- cpbnr（特設バナーエリア）ここまで -->



<div id="flashArea">
<script>
$(function(){
	$setElm = $('.wideslider');
	baseWidth = 620;
	baseHeight = 572;
	minWidth = 620;

	slideSpeed = 700;
	delayTime = 5000;
	easing = 'linear';
	autoPlay = '1'; // notAutoPlay = '0'

	btnOpacity = 0.5;
	pnOpacity = 0.5;

	$(window).load(function(){
		$setElm.find('img').css({display:'block'});
		$setElm.each(function(){
			targetObj = $(this);
			targetObj.children('ul').wrapAll('<div class="wideslider_base"><div class="wideslider_wrap"></div><div class="slider_prev"></div><div class="slider_next"></div></div>');

			var findBase = targetObj.find('.wideslider_base'),
			findWrap = targetObj.find('.wideslider_wrap'),
			findPrev = targetObj.find('.slider_prev'),
			findNext = targetObj.find('.slider_next');

			var pagination = $('<div class="pagination"></div>');
			targetObj.append(pagination);
			var baseList = findWrap.find('li');
			baseList.each(function(i){
				$(this).css({width:(baseWidth),height:(baseHeight)});
				pagination.append('<a href="javascript:void(0);" class="pn'+(i+1)+'"></a>');
			});

			var findPagi = targetObj.find('.pagination'),
			baseListCount = findWrap.find('li').length;

			setSlide();
			function setSlide(){
				windowWidth = $(window).width();
				findList = findWrap.find('li');
				setParts = (findBase,findWrap,findPrev,findNext,$setElm);

				setWrapLeft = parseInt(findWrap.css('left'));
				setlistWidth = findList.find('img').width();
				setLeft = setWrapLeft / setlistWidth;

				if(windowWidth < baseWidth){
					if(windowWidth > minWidth){
						findList.css({width:(windowWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					} else if(windowWidth <= minWidth){
						findList.css({width:(minWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					}
				} else if(windowWidth >= baseWidth){
					findList.css({width:(baseWidth),height:(baseHeight)});
					setParts.css({height:(baseHeight)});
				}

				setWidth = findList.find('img').width();
				setHeight = findList.find('img').height();
				baseWrapWidth = (setWidth)*(baseListCount);

				ulCount = findWrap.find('ul').length;
				if(ulCount == 1){
					var makeClone = findWrap.children('ul');
					makeClone.clone().prependTo(findWrap);
					makeClone.clone().appendTo(findWrap);
					findWrap.children('ul').eq('1').addClass('mainList');
					var mainList = findWrap.find('.mainList').children('li');
					mainList.eq('0').addClass('mainActive')

					allListCount = findWrap.find('li').length;
				}
				allLWrapWidth = (setWidth)*(allListCount),
				posAdjust = ((windowWidth)-(setWidth))/2;

				findBase.css({left:(posAdjust),width:(setWidth),height:(setHeight)});
				findPrev.css({left:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});
				findNext.css({right:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});

				findWrap.css({width:(allLWrapWidth),height:(setHeight)});
				findWrap.children('ul').css({width:(baseWrapWidth),height:(setHeight)});

				posResetNext = -(baseWrapWidth)*2,
				posResetPrev = -(baseWrapWidth)+(setWidth);

				adjLeft = setWidth * setLeft;
				findWrap.css({left:(adjLeft)});

			}
			findWrap.css({left:-(baseWrapWidth)});

			var pnPoint = pagination.children('a'),
			pnFirst = pagination.children('a:first'),
			pnLast = pagination.children('a:last'),
			pnCount = pagination.children('a').length;
			pnFirst.addClass('active');
			pnPoint.click(function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				var setNum = pnPoint.index(this),
				moveLeft = ((setWidth)*(setNum))+baseWrapWidth;
				findWrap.stop().animate({left: -(moveLeft)},slideSpeed,easing);
				pnPoint.removeClass('active');
				$(this).addClass('active');
				activePos();
				if(autoPlay == '1'){wsTimer();}
			});

			if(autoPlay == '1'){wsTimer();}

			function wsTimer(){
				wsSetTimer = setInterval(function(){
					findNext.click();
				},delayTime);
			}
			findNext.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}
					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)-(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left'));
						if(adjustLeft <= posResetNext){
							findWrap.css({left: -(baseWrapWidth)});
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(pnCount == listCount){
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						} else {
							pnPointActive.removeClass('active').next().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			findPrev.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}

					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)+(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left')),
						adjustLeftPrev = (posResetNext)+(setWidth);
						if(adjustLeft >= posResetPrev){
							findWrap.css({left: (adjustLeftPrev)});
							pnPointActive.removeClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(1 == listCount){
							pnPointActive.removeClass('active');
							pnLast.addClass('active');
						} else {
							pnPointActive.removeClass('active').prev().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			function activePos(){
				var posActive = findPagi.find('a.active');
				posActive.each(function(){
					var posIndex = pnPoint.index(this),
					setMainList = findWrap.find('.mainList').children('li');
					setMainList.removeClass('mainActive').eq(posIndex).addClass('mainActive');
				});
			}

			$(window).on('resize',function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				setSlide();
				if(autoPlay == '1'){wsTimer();}
			});
		});
	});
});
</script>


<div class="wideslider">
<div class="cover"></div>
<ul>
<li><a href="/rps/static/?f=page/tokinoaji_1609/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160912_tokinoaji.jpg" alt="季の味倶楽部" /></a></li>
<li><a href="/rps/static/?f=page/tour1605/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160630_tour.jpg" alt="ラグジュアリーなひとときが、心を満たす旅" /></a></li>
<li><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150410_hibiya.jpg" alt="日比谷花壇" /></a></li>
<!--li><a href="/rps/static/?f=page/earlysummer/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160606_watchjewelry.jpg" alt="Early Summer Watch &amp; Jewelry Collection" /></a></li-->
<li><a href="item/?a=item_list&category=4&{%%svid%%}#category265"><img src="_common/images/Top/main_bnr_160603_yamano.jpg" alt="心やすらぐ、美しい音色" /></a></li>
<li><a href="/rps/static/?f=page/dior2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160523_dior.jpg" alt="Dior" /></a></li>
<li><a href="/rps/static/?f=page/louisvuitton2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160520_ss.jpg" alt="LOUIS VITTON" /></a></li>
<li><a href="/rps/static/?f=page/sleep/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160516_sleep.jpg" alt="スペシャルセレクト　心地良く眠る、夏　快眠を演出する、こだわりのアイテム特集" /></a></li>
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category28"><img src="_common/images/Top/main_bnr_160422_yatsugatake.jpg" alt="八ヶ岳高原音楽堂・リゾートホテル「八ヶ岳高原ロッジ」" /></a></li>
<!--li><a href="item/?a=item_list&category=5&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_luxury.jpg" alt="ラグジュアリー" /></a></li-->
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category8"><img src="_common/images/Top/main_bnr_130830_tur.jpg" alt="ツアー" /></a></li>
<li><a href="/rps/static/?f=page/cosmetic/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_cosme.jpg" alt="コスメ" /></a></li>
</ul></div><!--/.wideslider-->
</div><!-- /flashArea -->

