<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャルセレクト　心地良く眠る、夏　快眠を演出する、こだわりのアイテム特集 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sleep/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sleep/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sleep/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sleep/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/sleep/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
    
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  	<li><a href="../static/?f=page/bs_specialselect/index&{%%svid%%}">スペシャルセレクト</a></li>
		<li id="presentLocation">快眠を演出する、こだわりのアイテム特集</li>
	</ul>
	
    <div id="mainvisual">
    <h1><img src="../page/sleep/images/kaimin_h1.jpg" alt="スペシャルセレクト　心地良く眠る、夏　快眠を演出する、こだわりのアイテム特集" width="950" height="142" /></h1>
    <p><img src="../page/sleep/images/kaimin_visual.jpg" alt="まもなく今年も、むせ返るような夏がやってきます。気象庁によると暑さは、少なくとも平年並み、場合によってはそれ以上に達するそう。また雨は全国的に多く、ジメジメが長く続く見込みのようです。ロイヤル・プラチナ セレクションでは夏に向け、快眠を演出する、こだわりのアイテムをご提案いたします。布団やマットレスはもちろん、お部屋の明るさや空調にまで着目し、夏の睡眠を、爽やかなものへと導きます。" width="950" height="640"/>    
	</div>
    
	<div id="main" class="clearfix">
	  <div class="itemList bg_blue">
        <h2><img src="../page/sleep/images/kaimin_ttl1.jpg" alt="寝具" width="236" height="50" /></h2>
        <p>眠りを妨げるのは暑さと、それによる寝汗。布団は吸水・発散に優れた素材を選び、寝苦しさを和らげましょう。</p>
				<div  class="thum"><a href="../detail/?a=Item_detail&id=7535&{%%svid%%}"><img src="../page/sleep/images/kaimin_img1.jpg" alt="" width="216" height="166"/></a></div>
				<a href="../detail/?a=Item_detail&id=7535&{%%svid%%}">
		<h3>昭和西川<br />ニット編みリネンケット</h3></a>
       </div>
       <div class="itemList bg_glay">
        	<h2><img src="../page/sleep/images/kaimin_ttl2.jpg" alt="ベッド" width="236" height="50" /></h2>
        	<p>寝心地が良いだけでも、すんなりと眠れたりします。体重を均等に分散してくれるマットレスがおすすめです。</p>
				<div  class="thum"><a href="../detail/?a=Item_detail&id=7533&{%%svid%%}"><img src="../page/sleep/images/kaimin_img2.jpg" alt="" width="216" height="166"/></a></div>
				<a href="../detail/?a=Item_detail&id=7533&{%%svid%%}">
		<h3>シモンズ<br />＜シモンズマキシマ デューク＞<br />電動リクライニングベッド</h3></a>
       </div>
       <div class="itemList bg_blue">
        <h2><img src="../page/sleep/images/kaimin_ttl3.jpg" alt="照明" width="236" height="50" /></h2>
        <p>強い光は、睡眠ホルモン「メラトニン」の分泌を妨げます。シェード付きのスタンドなら、明るさを抑えられます。</p>
				<div  class="thum"><a href="../detail/?a=Item_detail&id=7532&{%%svid%%}"><img src="../page/sleep/images/kaimin_img3.jpg" alt="" width="216" height="166"/></a></div>
				<a href="../detail/?a=Item_detail&id=7532&{%%svid%%}">
		<h3>フロス<br />＜TATOU F＞タトウ エフ（フロア）ライト</h3></a>
       </div>
       <div class="itemList bg_glay end">
        	<h2><img src="../page/sleep/images/kaimin_ttl4.jpg" alt="空調" width="236" height="50" /></h2>
        	<p>花粉やホコリ、タバコの臭いを取り除いて、眠りやすい空間にしましょう。蚊も撃退できれば、なお完璧です。</p>
				<div  class="thum"><a href="../detail/?a=Item_detail&id=7534&{%%svid%%}"><img src="../page/sleep/images/kaimin_img4.jpg" alt="" width="216" height="166"/></a></div>
				<a href="../detail/?a=Item_detail&id=7534&{%%svid%%}">
		<h3>シャープ<br />空気清浄機（FU-GK50-B）</h3></a>
       </div>
	</div>
        
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
