@charset "EUC-JP";

body {
	background: #fff;
}

#main {
	width: 950px;
	margin: 0 auto;
}

#rpsGold_idx_mainSec {
	
}

#rpsGold_idx_mainSec .rpsGold_images {
	float: left;
	width: 405px;
}

#rpsGold_idx_mainSec .rpsGold_text {
	float: right;
	width: 545px;
}

.rpsGold_idx_courseList01,
.rpsGold_idx_courseList03 {
	float: left;
	width: 473px;
}

.rpsGold_idx_courseList02,
.rpsGold_idx_courseList04 {
	float: right;
	width: 477px;
}

