<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>商品お取り寄せサービス | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/otoriyose/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/otoriyose/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/otoriyose/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/otoriyose/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">商品お取り寄せサービス</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
    <div><img src="../page/otoriyose/images/otoriyose_img.jpg" alt="池袋本店をはじめ、全国の西武・そごうでお取り扱いしているファッションプレステージブランドやインテリア雑貨などお気に入りのお品をお取り寄せいたします。くわしくは、担当セールスまでお気軽にお問い合わせください。※お取り寄せ除外品もございますのでご了承ください。" width="860" height="388" border="0" /></div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/otoriyose/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/otoriyose/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/otoriyose/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」よりご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>

		</div>


<!--注記--><br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
