<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャル セレクト | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/bs_specialselect/js/page.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">スペシャル セレクト</li>
</ul>

<div id="main">
<div id="ss_wrap">
<h1><img src="../page/bs_specialselect/images/ss_ttl.gif" width="403" height="105" alt="名品との出合いから始まる、上質な生活 スペシャル セレクト" /></h1>
<p id="copy_txt"><img src="../page/bs_specialselect/images/ss_txt_copy.gif" width="880" height="75" alt="ロイヤル・プラチナ セレクションが厳選した名品をご紹介いたします。日々の暮らしを彩る名品をピックアップしました。" /></p>

<p id="bkntitle"><img src="../page/bs_specialselect/images/ss_bkn.gif" width="129" height="20" /></p>
<dl id="pullDown">
<dt><a class="alpha2"><img src="../page/bs_specialselect/images/ss_icn_pdown.gif" width="24" height="24" alt="" /></a></dt>
<dd><a>2014年1月31日</a>
    <ul id="sub" class="disNone">
	<li><a class="pdNo" id="no1401_1">2014年1月31日</a></li>
	<li><a class="pdNo" id="no1401_1-2">2014年1月27日</a></li>
	<li><a class="pdNo" id="no1401_1-3">2014年1月20日</a></li>	
	<li><a class="pdNo" id="no1312_2">2013年12月24日</a></li>	
    <li><a class="pdNo" id="no1312_1">2013年12月11日</a></li>	
    <li><a class="pdNo" id="no1311_2">2013年11月27日</a></li>	
    <li><a class="pdNo" id="no1311_1">2013年11月5日</a></li>
    <li><a class="pdNo" id="no1310_2">2013年10月21日</a></li>
    <li><a class="pdNo" id="no1310_1">2013年10月7日</a></li>
    <li><a class="pdNo" id="no1309_1">2013年9月27日</a></li>
    <li><a class="pdNo" id="no1308_1">2013年8月28日</a></li>
    <li><a class="pdNo" id="no1307_1">2013年7月31日</a></li>
    <li><a class="pdNo" id="no1306_1">2013年6月25日</a></li>
    </ul>
</dd>
</dl><!-- /#pullDown -->

<div id="contents">

<!-- ▼1月更新分▼ -->
<div class="sectionNo" id="boxno1401_1">
<ul class="anchor">
<li class="btn1"><a href="#prd1401_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_1.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1401_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_2.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1401_3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_3.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1401_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201401_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4155&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>

<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1401_2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201401_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4154&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>

<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1401_3" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201401_1.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4153&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>

<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▼1月更新分▼ -->

<!-- ▼2013年12月24日▼ -->
<div class="sectionNo disNone" id="boxno1312_2">
<div id="prd1312_2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201312_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4091&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年12月24日▲ -->


<!-- ▼2013年12月11日▼ -->
<div class="sectionNo disNone" id="boxno1312_1">
<div id="prd1312_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201312_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4073&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年12月11日▲ -->

<!-- ▼2013年11月27日▼ -->
<div class="sectionNo disNone" id="boxno1311_2">
<div id="prd1311_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201311_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4066&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年11月27日▲ -->

<!-- ▼2013年11月5日▼ -->
<div class="sectionNo disNone" id="boxno1311_1">
<div id="prd1311_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201311_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3985&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年11月5日▲ -->

<!-- ▼2013年10月21日▼ -->
<div class="sectionNo disNone" id="boxno1310_2">
<div id="prd1311_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201310_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3967&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年10月21日▲ -->

<!-- ▼2013年10月▼ -->
<div class="sectionNo disNone" id="boxno1310_1">
<ul class="anchor">
<li class="lf"><a href="#prd1310_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201310_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1310_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201310_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1310_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201310_1.jpg" width="880" height="752" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3904&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1310_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1310_2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201310_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3903&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1310_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年10月▲ -->

<!-- ▼2013年9月▼ -->
<div class="sectionNo disNone" id="boxno1309_1">
<ul class="anchor">
<li class="lf"><a href="#prd1309_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201309_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1309_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201309_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1309_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201309_1.jpg" width="880" height="752" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3872&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1309_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1309_2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201309_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3873&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1309_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年9月▲ -->

<!-- ▼2013年8月▼ -->
<div class="sectionNo disNone" id="boxno1308_1">
<ul class="anchor">
<li class="lf"><a href="#prd1308_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201308_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1308_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201308_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1308_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201308_1.jpg" width="880" height="752" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3754&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1308_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1308_2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201308_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3753&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1308_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年8月▲ -->

<!-- ▼2013年7月▼ -->
<div class="sectionNo disNone" id="boxno1307_1">
<ul class="anchor">
<li class="lf"><a href="#prd1307_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201307_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1307_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201307_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1307_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201307_1.jpg" width="880" height="752" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3656&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1307_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1307_2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201307_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3657&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1307_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年7月▲ -->

<!-- ▼2013年6月▼ -->
<div class="sectionNo disNone" id="boxno1306_1">

<div id="prd1306_2" class="section">
<p><img src="../page/bs_specialselect/images/ss_img_201306_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=3519&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年6月▲ -->





</div><!-- /#contents -->

</div><!-- /#ss_wrap -->
</div><!-- /#main -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
