<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャル セレクト | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/bs_specialselect/js/page.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">スペシャル セレクト</li>
</ul>

<div id="main">
<div id="ss_wrap">
<h1><img src="../page/bs_specialselect/images/ss_ttl.gif" width="403" height="105" alt="名品との出合いから始まる、上質な生活 スペシャル セレクト" /></h1>
<p id="copy_txt"><img src="../page/bs_specialselect/images/ss_txt_copy.gif" width="880" height="75" alt="ロイヤル・プラチナ セレクションが厳選した名品をご紹介いたします。日々の暮らしを彩る名品をピックアップしました。" /></p>

<p id="bkntitle"><img src="../page/bs_specialselect/images/ss_bkn.gif" width="129" height="20" /></p>
<dl id="pullDown">
<dt><a class="alpha2"><img src="../page/bs_specialselect/images/ss_icn_pdown.gif" width="24" height="24" alt="" /></a></dt>
<dd><a>2014年7月11日</a>
    <ul id="sub" class="disNone">
      <li><a class="pdNo" id="no1408_1">2014年7月11日</a></li>
    <li><a class="pdNo" id="no1408_1-2">2014年7月4日</a></li>
    <li><a class="pdNo" id="no1406_1">2014年6月19日</a></li>
    <li><a class="pdNo" id="no1407_1">2014年6月12日</a></li>
    <li><a class="pdNo" id="no1406_1-2">2014年6月2日</a></li>
     <li><a class="pdNo" id="no1405_1">2014年5月26日</a></li>
     <li><a class="pdNo" id="no1405_1-2">2014年5月19日</a></li>
    <li><a class="pdNo" id="no1405_1-3">2014年5月9日</a></li>
    <li><a class="pdNo" id="no1404_1">2014年4月24日</a></li>
    <li><a class="pdNo" id="no1404_1-2">2014年4月14日</a></li>
    <li><a class="pdNo" id="no1404_1-3">2014年4月7日</a></li>
    <li><a class="pdNo" id="no1403_1">2014年3月14日</a></li>
    <li><a class="pdNo" id="no1403_1-2">2014年3月7日</a></li>
    <li><a class="pdNo" id="no1402_1">2014年2月28日</a></li>
	<li><a class="pdNo" id="no1402_1-2">2014年2月10日</a></li>
	<li><a class="pdNo" id="no1401_1">2014年1月31日</a></li>
	<li><a class="pdNo" id="no1401_1-2">2014年1月27日</a></li>
	<li><a class="pdNo" id="no1401_1-3">2014年1月20日</a></li>	
    </ul>
</dd>
</dl><!-- /#pullDown -->

<div id="contents">



<!-- ▼2014年7月更新分▼ -->

<div class="sectionNo" id="boxno1408_1">
<ul class="anchor">
<li class="lf"><a href="#prd1408_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140711.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1408_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140704.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1408_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201407_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4612&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1408_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1408_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201407_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4597&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1408_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->



</div>
<!-- ▲2014年7月更新分▲ -->



<!-- ▼2014年6月（コンポラックス）更新分▼ -->
<div class="sectionNo disNone" id="boxno1407_1">

<div class="compolux">

<ul>
<li class="btn_left"><a href="#prd1407_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140612_1.jpg" width="410" height="65" alt="" /></a></li>
<li><a href="#prd1407_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140612_2.jpg" width="410" height="65" alt="" /></a></li>
</ul>
    
</div>
<div class="clearBoth"></div>


<div id="prd1407_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201406_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4552&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1407_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


<div id="prd1407_2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201406_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4551&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1407_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>
<!-- ▲2014年6月（コンポラックス）更新分▲ -->

<!-- ▼2014年6月更新分▼ -->
<div class="sectionNo disNone" id="boxno1406_1">
<ul class="anchor">
<li class="lf"><a href="#prd1406_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201406_2.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1406_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201406_1.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1406_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201406_4.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4553&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1406_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1406_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201406_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4549&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1406_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->



</div>
<!-- ▲2014年6月更新分▲ -->


<!-- ▼2014年5月更新分▼ -->
<div class="sectionNo disNone" id="boxno1405_1">
<ul class="anchor">
<li class="btn1"><a href="#prd1405_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201405_01.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1405_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201405_02.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1405_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201405_03.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>


<div id="prd1405_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201405_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4514&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1405_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1405_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201405_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4490&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1405_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1405_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1405_1-3" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201405_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4458&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1405_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>
<!-- ▲2014年5月更新分▲ -->


<!-- ▼2014年4月更新分▼ -->
<div class="sectionNo disNone" id="boxno1404_1">
<ul class="anchor">
<li class="btn1"><a href="#prd1404_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201404_01.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1404_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201404_02.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1404_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201404_03.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1404_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201404_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4426&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1404_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1404_1-2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201404_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4402&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1404_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1404_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1404_1-3" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201404_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4399&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1404_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

</div>
<!-- ▲2014年4月更新分▲ -->

<!-- ▼2014年3月更新分▼ -->
<div class="sectionNo disNone" id="boxno1403_1">
<ul class="anchor">
<li class="lf"><a href="#prd1403_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201403_2.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1403_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201403_1.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1403_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201403_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4352&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1403_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1403_1-2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201403_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4344&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1403_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

</div>
<!-- ▲2014年3月更新分▲ -->

<!-- ▼2014年2月更新分▼ -->
<div class="sectionNo disNone" id="boxno1402_1">
<ul class="anchor">
<li class="lf"><a href="#prd1402_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201402_2.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1402_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201402_1.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1402_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201402_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4258&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1402_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1402_1-2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201402_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4259&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1402_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2014年2月更新分▲ -->


<!-- ▼2014年1月更新分▼ -->
<div class="sectionNo disNone" id="boxno1401_1">
<ul class="anchor">
<li class="btn1"><a href="#prd1401_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_1.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1401_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_2.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1401_3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_20140131_3.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1401_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201401_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4155&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1401_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1401_2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201401_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4154&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1401_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1401_3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1401_3" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201401_1.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=4153&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1401_2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▼2014年1月更新分▼ -->






</div><!-- /#contents -->

</div><!-- /#ss_wrap -->
</div><!-- /#main -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
