<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャル セレクト | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/bs_specialselect/js/page.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">スペシャル セレクト</li>
</ul>

<div id="main">
<div id="ss_wrap">
<h1><img src="../page/bs_specialselect/images/ss_ttl.gif" width="403" height="71" alt="名品との出会いからはじまる、上質な生活 スペシャル セレクト" /></h1>
<p id="copy_txt"><img src="../page/bs_specialselect/images/ss_txt_copy.gif" width="880" height="53" alt="ロイヤル・プラチナ セレクションが厳選した名品を毎月ご紹介いたします。日々の暮らしを彩る名品をピックアップしました。" /></p>

<dl id="pullDown">
<dt><a class="alpha2"><img src="../page/bs_specialselect/images/ss_icn_pdown.gif" width="24" height="24" alt="" /></a></dt>
<dd><a id="pd_201303">2013年3月</a>
    <ul id="sub" class="disNone">
    <li><a id="pd_201302">2013年2月</a></li>
    <li><a id="pd_201301">2013年1月</a></li>
    <li><a id="pd_201212">2012年12月</a></li>
    </ul>
</dd>
</dl><!-- /#pullDown -->

<div id="contents">


<!-- ▼2013年3月▼ -->
<div id="y2013m03">
<ul class="anchor">
<li class="lf"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201303_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201303_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201303_1.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_201303_2.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年3月▲ -->


<!-- ▼2013年2月▼ -->
<div id="y2013m02" class="disNone">
<ul class="anchor">
<li class="lf"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年2月▲ -->


<!-- ▼2013年1月▼ -->
<div id="y2013m01" class="disNone">
<ul class="anchor">
<li class="lf"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2013年1月▲ -->


<!-- ▼2012年12月▼ -->
<div id="y2012m12" class="disNone">
<ul class="anchor">
<li class="lf"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_dummy.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd2" class="section mt35">
<p><img src="../page/bs_specialselect/images/ss_img_dummy.jpg" width="880" height="730" alt="" /></p>
<p class="btn_detail"><a href="#" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2012年12月▲ -->


</div><!-- /#contents -->

</div><!-- /#ss_wrap -->
</div><!-- /#main -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
