@charset "EUC-JP";

p.txt {
	font-size: 80%;
	clear: both;
	text-align: center;
}
.clear {
	clear: both;
}
#bnrBox {
	width: 713px;
	position:relative;
	padding:1px;
	background-color:#ffffff;
}
/* forIE6 */
* html body #bnrBox {
	width: 713px;
	padding:1px;
	background-color:#ffffff;
	position:relative;
}
/* forIE7 */
*:first-child+html #bnrBox {
	width: 713px;
	padding:1px;
	background-color:#ffffff;
	position:relative;
}
/* forIE8 */
#bnrBox {
	width: 713px\9;
	padding:1px;
	position:relative\9;
}

#bnrBox #banner ul {
	list-style: none;
	position: relative;
	margin-left: 0px;
	overflow: hidden;
	width:713px;
	height: 281px;
}
#bnrBox #banner ul li {
	width: 713px;
	position: absolute;
}

/*-----ボタン全体の位置調整と大きさ-----*/
div#pagenation {
  position:absolute;
  overflow: hidden;
  top:265px;
  left:280px;
  width:420px;
  margin-bottom:5px;
}
/* forIE6 */
* html body div#pagenation {
  top:265px;
  left:280px;
}
/* forIE7 */
*:first-child+html div#pagenation {
  top:265px;
  left:280px;
}
/* forIE8 */
div#pagenation {
  top:265px\9;
  left:280px\9;
}

/*バナー増加調整用（3-97% 2-98% 1-99%）*/
div#pagenation ul {
	position:relative;
	left:16%;
	float:left;
	list-style: none;
}
/*バナー増加調整用*/
div#pagenation li {
  position:relative;
  left:-10%;
  float:left;
  margin:0 3px;
}
div#pagenation li a {
	width:50px;
	height:8px;
	overflow:hidden;
	display:block;
	background-image:url(../../images/Top/pagenation2.png);
	background-position:0 0;
}
div#pagenation li.active a,
div#pagenation li a:hover {
	background-position:0 8px;
}
div#pagenation li a img {
	visibility:hidden;
	display: none;
}
#btn-prev {
	position: relative;
	left: -40px;
	top: -130px;
}
#btn-next {
	position: relative;
	left: 305px;
	top: -130px;
}
