@charset "EUC-JP";

/*main*/
#main {
	width:950px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:40px;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*sec_header*/
#main #sec_header .item01 {
	position:relative;
	height:112px;
}
#main #sec_header .item01 .in {
	position:absolute;
	width:300%;
	height:112px;
	left:-100%;
	top:0;
	background:#415980 url(../images/cmn_01_bg.jpg) no-repeat center top;
}
#main #sec_header .item01 .cnts {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-475px;
	width:950px;
}
#main #sec_header .item01 h2 {
	position:absolute;
	left:0;
	top:18px;
	margin:0;
	padding:0;
	background:none;
}
#main #sec_header .item01 .btn {
	position:absolute;
	right:0;
	top:36px;
}



/*sec_cnts*/
#main #sec_cnts {
	padding-top:20px;
}
#main #sec_cnts .item01_01 h3 {
	float:left;
}
#main #sec_cnts .item01_01 p {
	margin-left:200px;
	height:92px;
	padding:20px 30px;
	background:#f0f0f0;
	font-size:116.7%
}
#main #sec_cnts .item01_02 {
	padding:10px 20px;
	background:url(../images/cmn_02_bg.jpg) no-repeat;
	color:#445a81;
	margin-top:60px;
	margin-botom:30px;
}
#main #sec_cnts .item01_02:first-child{
	margin-top:0px;
}
#main #sec_cnts .item01_02 h3 {
	font-size:200%;
}
#main #sec_cnts .item01_02 p {
	font-size:116.7%;
	margin-top:5px;
}


#main #sec_cnts .item02 {
	margin-top:40px;
}
#main #sec_cnts .item02 ul + ul {
	margin-top:40px;
}
#main #sec_cnts .item02 ul li {
	float:left;
	margin-left:10px;
	width:230px;
}
#main #sec_cnts .item02 ul li:first-child {
	margin-left:0;
}
#main #sec_cnts .item02 ul li a img {
	width:228px;
	border:solid 1px #d3d3d3; 
}
#main #sec_cnts .item02 ul li a p {
	color:#000;
	padding-top:5px;
	text-decoration:underline;
}
#main #sec_cnts .item03{
	background:url(../images/cmn_03_ico.gif) no-repeat left center;
	padding-left:25px;
	font-size:166.7%;
	margin-bottom:15px;
	margin-top:60px;
}


/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}