<div id="mainBnrArea">
<ul>
<li class="pb"><a href="/rps/static/?f=page/tokinoaji_2015_sm/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_150901_tokinoaji.jpg" alt="季の味" width="220" height="92" /></a></li>
<li  class="pb"><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_ss.jpg" alt="スペシャルセレクト" width="220" height="92" /></a></li>
<li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_seibushibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" width="220" height="92" /></a></li>
</ul>
</div><!-- /mainBnrArea -->


</div><!--/view-->
<!-- Flash_area　ここまで -->


</div><!-- /catchFlash -->
