<div id="mainBnrArea">
<ul>
<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/takanawa2015_2016/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_2015takanawa_4b.jpg" alt="2015-2016 高輪会・千種会 デジタルカタログ" width="220" height="68" /></a></li>
<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/tokinoaji_2015_sm/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_150901_tokinoaji_4b.jpg" alt="季の味" width="220" height="68" /></a></li>
<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_ss_4b.jpg" alt="スペシャルセレクト" width="220" height="68" /></a></li>
<li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_seibushibuya_4b.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" width="220" height="68" /></a></li>
</ul>
</div><!-- /mainBnrArea -->


</div><!--/view-->
<!-- Flash_area　ここまで -->


</div><!-- /catchFlash -->
