<div id="catchFlash">

<div id="view">


<style>
<!--
.main_feature{
	text-align:center;
	margin:20px 0px;
	}
.ft_img{
	margin-right:10px;
}
	.main_feature a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
-->
</style>

<div class="main_feature"><a href="/rps/static/?f=page/point_cp_2016/index&{%%svid%%}"><img class="ft_img" src="_common/images/Top/feature_bnr_ln.jpg" alt="特別企画 サイトでラッキーナンバーを見つけた方に1,000ポイントプレゼント" width="630" height="86"></a>
<a href="/rps/static/?f=page/nihonnowaza/index&{%%svid%%}" ><img src="_common/images/Top/feature_bnr_jp.jpg" alt="特集 日本の技" width="300" height="86"></a></div>


<script src="_common/js/rollover.js" type="text/javascript"></script>

<!-- cpbnr（特設バナーエリア）ここから -->
<!--div class="cpbnr" style="margin-top:15px;"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" alt="" width="950" height="115" usemap="#cpbn" /></a></div-->

<!--map name="cpbn">
	<area shape="rect" coords="0,0,465,130" href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}" alt="花とみどりで、人と人をつなぐ日比谷花壇。日比谷花壇フラワーサービス">
	<area shape="rect" coords="484,0,949,130" href="/rps/detail/?a=Item_detail&id=4558&{%%svid%%}" alt="八ヶ岳のきらめく星空と皆既月食をご堪能いただきます。皆既月食ピアノコンサートツアーin 八ヶ岳高原ロッジ 【10月8日（水）出発／1拍2日】">
</map> -->
<!-- cpbnr（特設バナーエリア）ここまで -->



<div id="flashArea">
<script>
$(function(){
	$setElm = $('.wideslider');
	baseWidth = 620;
	baseHeight = 572;
	minWidth = 620;

	slideSpeed = 700;
	delayTime = 5000;
	easing = 'linear';
	autoPlay = '1'; // notAutoPlay = '0'

	btnOpacity = 0.5;
	pnOpacity = 0.5;

	$(window).load(function(){
		$setElm.find('img').css({display:'block'});
		$setElm.each(function(){
			targetObj = $(this);
			targetObj.children('ul').wrapAll('<div class="wideslider_base"><div class="wideslider_wrap"></div><div class="slider_prev"></div><div class="slider_next"></div></div>');

			var findBase = targetObj.find('.wideslider_base'),
			findWrap = targetObj.find('.wideslider_wrap'),
			findPrev = targetObj.find('.slider_prev'),
			findNext = targetObj.find('.slider_next');

			var pagination = $('<div class="pagination"></div>');
			targetObj.append(pagination);
			var baseList = findWrap.find('li');
			baseList.each(function(i){
				$(this).css({width:(baseWidth),height:(baseHeight)});
				pagination.append('<a href="javascript:void(0);" class="pn'+(i+1)+'"></a>');
			});

			var findPagi = targetObj.find('.pagination'),
			baseListCount = findWrap.find('li').length;

			setSlide();
			function setSlide(){
				windowWidth = $(window).width();
				findList = findWrap.find('li');
				setParts = (findBase,findWrap,findPrev,findNext,$setElm);

				setWrapLeft = parseInt(findWrap.css('left'));
				setlistWidth = findList.find('img').width();
				setLeft = setWrapLeft / setlistWidth;

				if(windowWidth < baseWidth){
					if(windowWidth > minWidth){
						findList.css({width:(windowWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					} else if(windowWidth <= minWidth){
						findList.css({width:(minWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					}
				} else if(windowWidth >= baseWidth){
					findList.css({width:(baseWidth),height:(baseHeight)});
					setParts.css({height:(baseHeight)});
				}

				setWidth = findList.find('img').width();
				setHeight = findList.find('img').height();
				baseWrapWidth = (setWidth)*(baseListCount);

				ulCount = findWrap.find('ul').length;
				if(ulCount == 1){
					var makeClone = findWrap.children('ul');
					makeClone.clone().prependTo(findWrap);
					makeClone.clone().appendTo(findWrap);
					findWrap.children('ul').eq('1').addClass('mainList');
					var mainList = findWrap.find('.mainList').children('li');
					mainList.eq('0').addClass('mainActive')

					allListCount = findWrap.find('li').length;
				}
				allLWrapWidth = (setWidth)*(allListCount),
				posAdjust = ((windowWidth)-(setWidth))/2;

				findBase.css({left:(posAdjust),width:(setWidth),height:(setHeight)});
				findPrev.css({left:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});
				findNext.css({right:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});

				findWrap.css({width:(allLWrapWidth),height:(setHeight)});
				findWrap.children('ul').css({width:(baseWrapWidth),height:(setHeight)});

				posResetNext = -(baseWrapWidth)*2,
				posResetPrev = -(baseWrapWidth)+(setWidth);

				adjLeft = setWidth * setLeft;
				findWrap.css({left:(adjLeft)});

			}
			findWrap.css({left:-(baseWrapWidth)});

			var pnPoint = pagination.children('a'),
			pnFirst = pagination.children('a:first'),
			pnLast = pagination.children('a:last'),
			pnCount = pagination.children('a').length;
			pnFirst.addClass('active');
			pnPoint.click(function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				var setNum = pnPoint.index(this),
				moveLeft = ((setWidth)*(setNum))+baseWrapWidth;
				findWrap.stop().animate({left: -(moveLeft)},slideSpeed,easing);
				pnPoint.removeClass('active');
				$(this).addClass('active');
				activePos();
				if(autoPlay == '1'){wsTimer();}
			});

			if(autoPlay == '1'){wsTimer();}

			function wsTimer(){
				wsSetTimer = setInterval(function(){
					findNext.click();
				},delayTime);
			}
			findNext.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}
					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)-(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left'));
						if(adjustLeft <= posResetNext){
							findWrap.css({left: -(baseWrapWidth)});
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(pnCount == listCount){
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						} else {
							pnPointActive.removeClass('active').next().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			findPrev.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}

					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)+(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left')),
						adjustLeftPrev = (posResetNext)+(setWidth);
						if(adjustLeft >= posResetPrev){
							findWrap.css({left: (adjustLeftPrev)});
							pnPointActive.removeClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(1 == listCount){
							pnPointActive.removeClass('active');
							pnLast.addClass('active');
						} else {
							pnPointActive.removeClass('active').prev().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			function activePos(){
				var posActive = findPagi.find('a.active');
				posActive.each(function(){
					var posIndex = pnPoint.index(this),
					setMainList = findWrap.find('.mainList').children('li');
					setMainList.removeClass('mainActive').eq(posIndex).addClass('mainActive');
				});
			}

			$(window).on('resize',function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				setSlide();
				if(autoPlay == '1'){wsTimer();}
			});
		});
	});
});
</script>


<div class="wideslider">
<div class="cover"></div>
<ul>

<li><a href="/rps/static/?f=page/yatsugatake/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160108_yatsugatake.jpg" alt="八ヶ岳高原音楽堂・リゾートホテル「八ヶ岳高原ロッジ」サロンコンサート&宿泊プラン" /></a></li>
<li><a href="/rps/static/?f=page/luxury/chloe/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160208_chloe.jpg" alt="クロエ" /></a></li>
<li><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160205_ss.jpg" alt="スペシャルセレクト" /></a></li>
<li><a href="/rps/static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160205_feragamo.jpg" alt="フェラガモ" /></a></li>
<li><a href="/rps/static/?f=page/valentine2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160122_valentine.jpg" alt="バレンタイン プレミアム ギフト" /></a></li>
<li><a href="/rps/static/?f=page/luxury/jilsander/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160205_jilsander.jpg" alt="ジルサンダー" /></a></li>
<li><a href="/rps/static/?f=page/mille_cole201601/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160108_milecole.jpg" alt="ミレニアムコレクション" /></a></li>

<li><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150410_hibiya.jpg" alt="日比谷花壇 フラワーサービス" /></a></li>
<!--li><a href="/rps/static/?f=page/luxury/baccarat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160115_baccarat.jpg" alt="バカラ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/meissen/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_160115_meissen.jpg" alt="マイセン" /></a></li-->

<li><a href="/rps/static/?f=page/horizon/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130924_horizon.jpg" alt="ホライズン" /></a></li>
<!--li><a href="/rps/static/?f=page/luxury/meissen/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151211_meissen.jpg" alt="マイセン" /></a></li-->
<!--li><a href="/rps/static/?f=page/osechi2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151030_osechi2016.jpg" alt="西武・そごうのおせち" /></a></li-->
<li><a href="item/?a=item_list&category=5&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_luxury.jpg" alt="ラグジュアリー" /></a></li>
<!--li><a href="item/?a=item_list&category=6&{%%svid%%}#category8"><img src="_common/images/Top/main_bnr_130830_tur.jpg" alt="ツアー" /></a></li-->
<!--li><a href="/rps/static/?f=page/cosmetic/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_cosme.jpg" alt="コスメ" /></a></li-->



<!--li><a href="/rps/static/?f=page/otoriyose/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_otoriyose.jpg" alt="お取り寄せサービス" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/moynat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151104_moynat.jpg" alt="モワナ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/armani/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150525_armani.jpg" alt="ジョルジオ アルマーニ" /></a></li-->

<!--li><a href="/rps/static/?f=page/felisi/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130912_felisi.jpg" alt="フェリージ" /></a></li-->
<!--li><a href="item/?a=item_list&category=4&{%%svid%%}#category130"><img src="_common/images/Top/main_bnr_150129_hina.jpg" alt="ひな人形" /></a></li-->
<!--li><a href="/rps/static/?f=page/tokinoaji_2014/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140901_tokinoaji.jpg" alt="季の味倶楽部" /></a></li-->
<!--li><a href="/rps/static/?f=page/ikebukuro_shoppingguide/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_syoppingugaido.jpg" alt="池袋ショッピングガイド" /></a></li-->
<!--li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140117_shibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" /></a></li-->
</ul>
</div><!--/.wideslider-->
</div><!-- /flashArea -->
