@charset "EUC-JP";

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main*/
#main {
	position:relative;
	width:100%;
	margin-top: 25px;
	margin-bottom:15px;
}
#main .in {
	width:950px;
	margin:0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img,
#main .hover:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
pre
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#main.pre {
	background:url(../images/pre_bg01.jpg) no-repeat center 41px;
}

/*main_header*/
#main.pre #main_header {
	background:#de757b;
	text-align: center;
}

/*sec01*/
#main.pre #sec01 {
	text-align: center;
}
#main.pre #sec01 .txt01 {
	margin-top:21px;
}

/*sec02*/
#main.pre #sec02 {
	margin-top:35px;
}
#main.pre #sec02 .txt01 {
	text-align: center;
}
#main.pre #sec02 .ul01 {
	width:690px;
	margin:0 auto;
	padding-left: 30px;
}
#main.pre #sec02 .ul01 li {
	background-repeat: no-repeat;
	background-position: left center;
	min-height: 12px;
	padding-left: 25px;
	margin-top: 10px;
}
#main.pre #sec02 .ul01 li.li01 {
	background-image: url(../images/pre_02_ico01_01.gif);
}
#main.pre #sec02 .ul01 li.li02 {
	background-image: url(../images/pre_02_ico01_02.gif);
}

/*sec03*/
#main.pre #sec03 {
	background: url(../images/pre_03_bg01.jpg) no-repeat center center;
	width: 100%;
	overflow: hidden;
	height: 572px;
	margin-top: 20px;
	position: relative;
}
#main.pre #sec03 .in {
	padding-top:50px;
}
#main.pre #sec03 .slider {
	width: 4950px;
	margin-left: -5px;
}
#main.pre #sec03 .slider li {
	float: left;
	position: relative;
	margin-right: 30px;
}
#main.pre #sec03 .slider li.active:after {
	display: none;
}
#main.pre #sec03 .slider li .btn {
	position: absolute;
	right: 167px;
	bottom: 27px;
}
#main.pre #sec03 .slider li .mask {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 950px;
	height: 340px;
	background: url(../images/pre_03_bg02.png) repeat;
}
#main.pre #sec03 .navi li {
	position: absolute;
	top: 212px;
	z-index: 1;
	cursor: pointer;
}
#main.pre #sec03 .navi li.li_prev {
	display: none;
	left: 50%;
	margin-left: -555px;
}
#main.pre #sec03 .navi li.li_next {
	right: 50%;
	margin-right: -555px;
}
#main.pre #sec03 .navi li:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
#main.pre #sec03 .pager {
	text-align: center;
	margin-top: 15px;
}
#main.pre #sec03 .pager li {
	display: inline-block;
	width: 133px;
	height: 130px;
	background-repeat: no-repeat;
	margin-left: 27px;
	cursor: pointer;
	text-indent: -9999px;
}
#main.pre #sec03 .pager li.active,
#main.pre #sec03 .pager li.comingsoon {
	cursor: default;
}
#main.pre #sec03 .pager li:first-child {
	margin-left: 0;
}
#main.pre #sec03 .pager li.li01 {
	background-image: url(../images/pre_03_btn03_01_off.png);
}
#main.pre #sec03 .pager li.li02 {
	background-image: url(../images/pre_03_btn03_02_off.png);
}
#main.pre #sec03 .pager li.li03 {
	background-image: url(../images/pre_03_btn03_03_off.png);
}
#main.pre #sec03 .pager li.li04 {
	background-image: url(../images/pre_03_btn03_04_off.png);
}
#main.pre #sec03 .pager li.li05 {
	background-image: url(../images/pre_03_btn03_05_off.png);
}
#main.pre #sec03 .pager li.li01:hover,#main.pre #sec03 .pager li.li01.active {
	background-image: url(../images/pre_03_btn03_01_on.png);
}
#main.pre #sec03 .pager li.li02:hover,#main.pre #sec03 .pager li.li02.active {
	background-image: url(../images/pre_03_btn03_02_on.png);
}
#main.pre #sec03 .pager li.li03:hover,#main.pre #sec03 .pager li.li03.active {
	background-image: url(../images/pre_03_btn03_03_on.png);
}
#main.pre #sec03 .pager li.li04:hover,#main.pre #sec03 .pager li.li04.active {
	background-image: url(../images/pre_03_btn03_04_on.png);
}
#main.pre #sec03 .pager li.li05:hover,#main.pre #sec03 .pager li.li05.active {
	background-image: url(../images/pre_03_btn03_05_on.png);
}
#main.pre #sec03 .pager li.li02.comingsoon,#main.pre #sec03 .pager li.li02.comingsoon:hover {
	background-image: url(../images/pre_03_btn03_02_cs.png);
}
#main.pre #sec03 .pager li.li03.comingsoon,#main.pre #sec03 .pager li.li03.comingsoon:hover {
	background-image: url(../images/pre_03_btn03_03_cs.png);
}
#main.pre #sec03 .pager li.li04.comingsoon,#main.pre #sec03 .pager li.li04.comingsoon:hover {
	background-image: url(../images/pre_03_btn03_04_cs.png);
}
#main.pre #sec03 .pager li.li05.comingsoon,#main.pre #sec03 .pager li.li05.comingsoon:hover {
	background-image: url(../images/pre_03_btn03_05_cs.png);
}

/*sec03*/
#main.pre #sec04 {
	margin-top: 25px;
	line-height: 1.75;
}
#main.pre #sec04 .bnr {
	position: relative;
	margin-top: 30px;
}
#main.pre #sec04 .bnr .btn {
	position: absolute;
	left: 31px;
	bottom: 11px;
}



/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}