@charset "EUC-JP";
@import url("../global-fontsizemedium.css");

#attention, #platinumSalonNews li, #luxuryNews li, #pickUp h3, #category li li {
	font-size: 12px;
}
#pickUp .desc {
	font-size: 12px;
}
#publication #aboutSeibuShibuya p, #publication #aboutPlatinumSalon .infotex .ttl {
	font-size: 14px;
}
#aboutPlatinumSalon #info p.infotex{
	font-size:12px;
}
#welcomeMessage {
	padding-top: 2px;
	font-size: 12px;
}
