<!----------- 編集エリアここから ----------->
<style>
#main .sec_header {background:url(../_common/images/spring2016/header_bg.jpg) no-repeat; width:100%;height:305px;position:relative;margin-top:30px;margin-bottom:20px;}
#main .sec_header h1 {position:absolute;left:240px;top:20px;margin:0; text-indent:inherit;}
#main .sec_header p {position:absolute;left:320px;top:84px;}
#main .sec_header ul {position:absolute;left:21px;top:121px;}
#main .sec_header ul li {float:left;margin-right:5px;padding:0;width:auto;}
#main .sec_header ul li a:hover img, #main .sec_cnav ul li a:hover img {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
#main .txt01 {font-size:116.7%;color:#ff5b5b;padding:10px 0;margin-bottom:30px;}
#main .txt01 img {margin-bottom:5px; vertical-align:bottom;}
#main .sec_cnav {background:#edebf2;padding:20px 0 20px 20px;}
#main .sec_cnav ul li {float:left;padding:0;margin-right:15px;width:auto;}
</style>

		<h1>ファッション</h1>
        <div style="width:934px; margin-top:20px; background-color:#fff;">
            <p>
                新しい季節の着こなしに、新鮮なスタイリングを先取りしたいあなたさまへ。<br />洗練を極めたプレタポルテブランドや紳士服、コーディネート小物、アクセサリーなど、限定品も交えながらご紹介いたします。
            </p>
        </div>

<div class="sec_header">
<h1><img src="../_common/images/spring2016/header_ttl.jpg" alt="逸品会〜2016春〜" /></h1>
<p><img src="../_common/images/spring2016/header_txt.jpg" alt="公開期間：3月1日（火）〜3月31日（木）" /></p>
<ul class="clfx">
<li><a href="/rps/item/?a=Item_list&category=5&{%%svid%%}"><img src="../_common/images/spring2016/header_img01.jpg" alt="ブランドコレクション" /></a></li>
<li><a href="/rps/static/?f=page/spring2016/index_a&{%%svid%%}"><img src="../_common/images/spring2016/header_img02.jpg" alt="ウオッチ・ジュエリー・メガネ" /></a></li>
<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}"><img src="../_common/images/spring2016/header_img03.jpg" alt="ファッション" /></a></li>
<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}"><img src="../_common/images/spring2016/header_img04.jpg" alt="インテリア・ホビー・スポーツ" /></a></li>
<li><a href="/rps/static/?f=page/spring2016/index_b&{%%svid%%}"><img src="../_common/images/spring2016/header_img05.jpg" alt="美術・呉服" /></a></li>
<li><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}"><img src="../_common/images/spring2016/header_img06.jpg" alt="グルメ" /></a></li>
</ul>
</div>

<div class="sec_cnav">
<ul class="clfx">
<li><a href="#category106"><img src="../_common/images/spring2016/cnav_img_fashion01.gif" alt="婦人服" /></a></li>
<li><a href="#category260"><img src="../_common/images/spring2016/cnav_img_fashion02.gif" alt="婦人フォーマル" /></a></li>
<li><a href="#category88"><img src="../_common/images/spring2016/cnav_img_fashion03.gif" alt="バッグ" /></a></li>
<li><a href="#category5"><img src="../_common/images/spring2016/cnav_img_fashion04.gif" alt="紳士服" /></a></li>
<li><a href="#category138"><img src="../_common/images/spring2016/cnav_img_fashion05.gif" alt="紳士小物" /></a></li>
</ul>
</div>

<p class="txt01"><img src="../_common/images/spring2016/ico01.png" alt="★" />印は逸品会の新着商品です。</p>
<!----------- 編集エリアここまで ----------->