<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Royal Platinum News 2月号 FEBRUARY 2014 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/rpn_news/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/rpn_news/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">ロイヤル・プラチナ  ニュース 2月号</li>
</ul>

<div id="main" class="feb2014 clearfix">

<div id="fontSize">
<div id="contents">

<h2 class="mb40"><img src="../page/rpn_news/images/rpn02_ttl.jpg" width="656" height="378" alt="早春 スポーツに目覚める スポーツイヤーの今年は、早春から心が沸き立つ。アスリートの活躍でスポーツに目覚め、自らも、より健康的により美しく。"></h2>

<div class="clearfix">
<div id="sec01" class="section sec01 clearfix">
<h3><img src="../page/rpn_news/images/rpn02_sttl01.png" width="81" height="506" alt="テレビ観戦とはひと味違”リアル観戦“を楽しむ"></h3>

<div class="text">
<p>球場や競技場などへ出かける“リアルな観戦”は、チケットを手に入れたり、会場まで移動しなければならなかったりして面倒なものです。しかし、その面倒なことも楽しみのひとつと思うことで、奥深い世界が広がります。</p>
<p>サッカーなどのボールゲームをテレビで観戦していると、両チームが左右に見えるカメラの位置で横長の画面が普通のように思えますが、各チームの戦術的な動きは縦長の位置で見る方がよくわかります。サッカーでいうと、ゴールの後ろから見ることになります。ちょうど、サポーター席のあたりですから、熱心なファンはよく試合経過を見ていることになります。</p>
<p>また“リアルな観戦”では、マイクを通した音声では味わえない迫力のあるボールを打ったりする音や、選手たちの緊張感のある声などが聞こえます。テレビと違う臨場感を堪能するためにも“リアルな観戦”はおすすめです。</p>
</div>	
<!-- /.sec01 --></div>

<div id="sec02" class="section sec02 clearfix">
<div class="secColumnL">
<div class="photo"><img src="../page/rpn_news/images/rpn02_photo01.jpg" width="377" height="230" alt=""></div>
<div class="text">
<p>私は、現役引退と同時に体育の先生になり、ある程度体を動かしてはいましたが、時速200kmで走れる車が、時速60kmくらいで走るような生活に変わりました。体が空回りしているような感覚です。</p>
<p>そうなると、自律神経がおかしくなり、体が熱くなって大汗をかいたり、眠れなくなったりと、体調が悪くなっていきました。これではいけないと、学校のトラックを毎日10kmくらい走るなどしていました。</p>
<p>ところがある日、膝を脱臼してしまって、しばらく走れなくなったのです。無理をしていたことに気づき、また走りを再開するときには筋力を落とさない程度に２日に１回くらいにしようと思いました。以後、そのペースで無理なく続けています。</p>
</div>
</div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn02_sttl02.png" width="81" height="342" alt="現役時代は 時速200kmの車"></h3>
</div>
<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /.sec01-02 --></div>
</div>

<div id="sec03" class="section sec03 mt45 clearfix">
<div class="secColumnL pl20">
<h3><img src="../page/rpn_news/images/rpn02_sttl03.png" width="80" height="465" alt="運動しない体はメンテナンスのない家"></h3>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<div class="text">
<p>40年以上メンテナンスしていない車が安全に走れるでしょうか？メンテナンスをしていない築50年の家に住もうと思いますか？そう考えると、体を動かすことの大切さがわかっていただけると思います。</p>
<p>40代以降になると、体力・筋力が急速に落ちていきます。加齢による衰えは当たり前のことですが、衰える速度をゆるやかにすることは必要です。</p>
<p>特に、40〜50代は健康への意識が高い年代です。体を動かすことを何かしなければと、使命感にも似た気持ちを抱いています。ただ、その気持ちを実行に移してメラメラと燃える気持ちのままに運動を始めてしまうと、長続きしません。導入期は、寝る前のストレッチなど１日24時間のどこかに10〜15分、体を動かす時間を“もぐり込ませる”ことから始めましょう。</p>
</div>
<div class="photo"><img src="../page/rpn_news/images/rpn02_photo02.jpg" width="234" height="468" alt=""></div>
</div>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /#sec02 --></div>


<div id="sec04" class="section sec04 mt45 clearfix">
<div class="secColumnL pl20">
<div class="text">
<p>体力・筋力のほかに、加齢とともに衰えるのは“神経系統”です。例えば、歩きながらバッグから何かを取り出すことが出来ないなど、複数の行動を一度に行えない状態になります。運動は、筋肉が勝手に動いてするものではないので、脳がたくさんの情報を処理できなくなると運動能力も低下します。</p>
<p>ボールゲームなどチームで行うスポーツはオープンスキルといいます。これは一度に複数の情報を処理する必要があるものですが、神経系統が衰えると難しくなります。逆にゴルフは年齢に関係なく長くできるスポーツといわれますが、それは、クローズドスキルだからです。ほかに、ウオーキングやジョギング、サイクリング、水泳などもそうです。</p>
<p>衰えるとはいえ、生活の質を下げないためには筋力を維持する“貯筋”は必要です。体を動かす習慣をつけ、気軽に始められて長く続けられそうなスポーツを選んで楽しんでみてはいかがでしょうか。</p>
</div>
<div class="photo mt30"><img src="../page/rpn_news/images/rpn02_photo03.jpg" width="517" height="270" alt=""></div>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn02_sttl04.png" width="80" height="365" alt="オープンスキルとクローズドスキル"></h3>
</div>

<!--div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->
<!-- /#sec03 --></div>


<!-- /#contents --></div>

<div id="side">
<h1><img src="../page/rpn_news/images/rpn02_logo01.jpg" width="240" height="240" alt="Royal Platinum News 2月号 February 2014"></h1>

<div class="navList clearfix">
<p><img src="../page/rpn_news/images/rpn02_lead.png" width="27" height="334" alt="早春　スポーツに目覚める"></p>
<ul>
<li class="ml30"><a href="#sec01"><img src="../page/rpn_news/images/rpn02_nav01.png" width="15" height="405" alt="テレビ観戦とはひと味違う リアルな観戦 を楽しむ"></a></li>
<li class="ml30"><a href="#sec02"><img src="../page/rpn_news/images/rpn02_nav02.png" width="16" height="244" alt="現役時代は時速200kmの車"></a></li>
<li class="ml30"><a href="#sec03"><img src="../page/rpn_news/images/rpn02_nav03.png" width="15" height="314" alt="運動しない体はメンテナンスのない家"></a></li>
<li><a href="#sec04"><img src="../page/rpn_news/images/rpn02_nav04.png" width="14" height="295" alt="オープンスキルとクローズドスキル"></a></li>
</ul>		
</div>

<div class="anunc">
<p>ロイヤル・プラチナ会員さまへ毎月お届けする「ロイヤル・プラチナ ニュース」の特集をさらにくわしくご紹介いたします。</p>
</div>

<div class="navigtr">
<p class="mb20"><img src="../page/rpn_news/images/rpn02_navigator.jpg" width="240" height="100" alt="今月のナビゲーター 三屋 裕子(みつや　ゆうこ) スポーツ プロデューサー"></p>
<p>1958年福井県勝山市生まれ。筑波大学大学院修士課程コーチ学専攻修了。元バレーボール全日本代表選手。ロサンゼルスオリンピックで銅メダルを獲得している。現在、筑波スポーツ科学研究所副所長、公益財団法人日本体育協会日本スポーツ少年団副本部長、学校法人藤村学園（東京女子体育大学）理事、国立大学法人筑波大学経営協議会委員ほかを務める。</p>
</div>

<!-- .backnumber -->
<div class="backnumber">
<p><img src="../page/rpn_news/images/rpn01_ssttl02.png" width="140" height="16" alt="バックナンバー"></p>
<ul>
<li class="jan2014"><a href="/rps/static/?f=page/rpn_news/index&{%%svid%%}
"><img src="../page/rpn_news/images/rpn01_bk_01.png" width="240" height="110" alt="1月号「初春、いざ城へ」"></a></li>
<li class="feb2014"><a href="/rps/static/?f=page/rpn_news/index_02&{%%svid%%}
"><img src="../page/rpn_news/images/rpn02_bk_02.jpg" width="240" height="110" alt="2月号「早春　スポーツに目覚める」"></a></li>
<li class="mar2014"><a href="/rps/static/?f=page/rpn_news/index_03&{%%svid%%}
"><img src="../page/rpn_news/images/rpn03_bk_03.jpg" width="240" height="110" alt="3月号「愉楽の大人修学旅行」" onContextMenu="return false"></a></li>
</ul>
</div>

<!-- /.backnumber -->

<!-- /.sideNav --></div>

<!-- /#fontSize --></div>

<!-- /#main --></div>

<!--div class="ftr pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

					

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
