<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Royal Platinum News 1月号 January 2014 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/rpn_news/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/rpn_news/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">ロイヤル・プラチナ  ニュース 1月号</li>
</ul>


<div id="main" class="jan2014 clearfix">

<div id="fontSize">

<div id="contents">
<h2 class="mb40"><img src="../page/rpn_news/images/rpn01_ttl.jpg" width="656" height="378" alt="初春、いざ城へ 城は、主の夢が詰まった大舞台。数々の戦、歴史のうねりを乗り越えて、今の世に遺る美しくも勇ましいその姿。時は初春。自らの夢を城主の夢により添わせ、いざ。"></h2>

<div id="sec01" class="section sec01 clearfix">
<div class="secColumnL pl20">
<h3><img src="../page/rpn_news/images/rpn01_sttl01.png" width="80" height="466" alt="戦国時代は城が多く造られた時期"></h3>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<div class="photo"><img src="../page/rpn_news/images/rpn01_photo01.jpg" width="516" height="250" alt="姫路城（兵庫県姫路市）"></div>

<div class="text mt30">
<p>文化庁の指導で都道府県ごとに中世城館跡を調べたとき、戦国時代の城が圧倒的に多く見つかっています。「戦国時代は城の時代だった」と言っても過言ではないでしょう。</p>
<p>私は、戦国時代に城が多かったのは、戦国大名の家臣団が「兵農未分離」だったからだと考えています。上層家臣は専業武士でしたが、下層家臣は普段は農作業をして、戦になったら鎧を着て槍や鉄砲を持って戦いに行きました。そういう下層家臣が自分の城を持っていたのです。</p>
<p class="mt20">戦国時代も後半になると、大名の城下に家臣たちを住まわせるようになり、兵農分離が進んで城の数も淘汰されていきました。江戸時代の一国一城令は、この流れの中で出されたものです。</p>
</div>
<!-- /.secColumnR --></div>
<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /.section --></div>


<div id="sec02" class="section sec02 mt50 clearfix">
<div class="secColumnR pl40 pr20">
<h3><img src="../page/rpn_news/images/rpn01_sttl02.png" width="81" height="358" alt="関ヶ原の合戦後の「築城ラッシュ」"></h3>
<!-- /.secColumnL --></div>

<div class="secColumnL pr40">
<div class="photo"><img src="../page/rpn_news/images/rpn01_photo02.jpg" width="249" height="425" alt="彦根城（滋賀県彦根市）"></div>
</div>

<div class="text">
<p>近年「だれだれ築城400年」というイベントが全国各地で行われましたが、それは、関ヶ原の合戦後に新しい領地を与えられた大名が競って城を造ったからです。関ヶ原の合戦後10年くらいは我が国の築城の黄金期と言ってもいいでしょう。</p>
<p class="mt20">現存する12の城のうち、愛知県の犬山城、福井県の丸岡城、長野県の松本城は、関ヶ原の合戦以前の古い城ですが、そのほかは合戦以降の城です。大坂冬の陣・夏の陣の後は、戦のない世の中となりましたから、戦うための城というよりは、今の役所のような機能を持つようになりました。</p>
</div>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /.section --></div>


<div id="sec03" class="section sec03 clearfix mt50">
<div class="secColumnL pl20 pr40">
<h3><img src="../page/rpn_news/images/rpn01_sttl03.png" width="34" height="420" alt="城の見どころは天守"></h3>
<!-- /.secColumnL --></div>

<div class="text">
<p>天守のかたちは大別して、上層部に行くに従って小さくなる「層塔型」と、二階、三階まで以上は別の建物が載るというような「望楼型」があります。松本城、島原城は層塔型の典型的な城で、犬山城は望楼型の典型です。</p>
<p>また、城の特徴としては、城の外観に黒漆の板を使った「黒い城」と、白漆喰の「白い城」があります。黒い城は、黒漆塗りの下見板張（仕上げに横板が使われている外壁）で、瓦の金箔が映るため、派手好きの秀吉が好んだ城といわれています。秀吉の家臣の多くはそれに倣って黒い城を造ったといわれ、宇喜多秀家の岡山城も黒い城だったようです。</p>
<p>対抗して家康は、瓦に金箔を載せる趣味はなかったようで、防火兼防水のための白漆喰の「白い城」にしたようです。火の付いた矢を射込まれると火災になってしまうので白漆喰は実用的な効果が期待されました。井伊直孝の彦根城、池田輝政の造った姫路城も白い城です。池田輝政は家康の娘婿で、大坂方の武力を封じ込めたい家康からの援助があって、あれだけのものができたといわれています。</p>

<div class="photo">
<ul class="mt30">
<li class="pr25"><img src="../page/rpn_news/images/rpn01_photo03.jpg" width="265" height="205" alt="松本城（長野県松本市）"></li><!--
--><li><img src="../page/rpn_news/images/rpn01_photo04.jpg" width="265" height="205" alt="犬山城（愛知県犬山市）"></li>
</ul>
</div>
</div>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /.section --></div>



<div id="sec04" class="section sec04 mt50 clearfix">
<!-- 1401152000 -->
<div class="secColumnL pr40">
<div class="photo"><img src="../page/rpn_news/images/rpn01_photo05.jpg" width="249" height="425" alt="姫路城（兵庫県姫路市）"></div>
</div>

<div class="secColumnR pl40 pr20">
<h3><img src="../page/rpn_news/images/rpn01_sttl04.png" width="79" height="344" alt="姫路城見物のおすすめポイント"></h3>
<div class="text">
<p>姫路城に皆さんが行かれる際、正面から行くのが当たり前ですが、裏の方から見るとまた違った楽しさがあります。</p>
<p>兵庫県立歴史博物館が姫路城のちょうど後ろ側となり、そこから眺めると姫路城が小高い丘の上に建てられている「平山城」であることが、とてもよくわかります。玄人好みの景観といえるでしょうか。</p>
<p>とくに、歴史博物館の喫茶コーナーでコーヒーを飲みながら見ると、贅沢な気分になるのでおすすめです。私は、大学を定年退職したら喫茶コーナーのマスターになって毎日姫路城を眺めたいと思ったほどです。姫路城の修繕が終われば、またたくさんの方が足を運ぶことでしょう。</p>
</div>
<!-- /.secColumnR --></div>
<!-- 1401152000 -->

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /.section --></div>




<div class="section info clearfix mt50">
<h4><img src="../page/rpn_news/images/rpn01_ssttl01.png" width="85" height="13" alt="infomation"></h4>

<p class="mt30 pl30"><img src="../page/rpn_news/images/rpn01_sttl05.png" width="195" height="26" alt="「天空の白鷺」"></p>
<p class="mt20 mb30 pl30"><img src="../page/rpn_news/images/rpn01_text01.png" width="360" height="38" alt="姫路城天守閣を真横から見る最後のチャンス。修理が完了した大天守の外観を見学できます。"></p>

<div class="secColumnL pl30 pr30 pb30">
<div class="photo"><img src="../page/rpn_news/images/rpn01_photo06.jpg" width="259" height="171" alt=""></div>
</div>
<div class="text">
<p>◎お問い合わせ<br>
姫路城大天守修理見学施設「天空の白鷺」<br>
http://www.himejijo-syuri.jp/<br>
兵庫県姫路市本町68番地<br>
電話：079（287）2013<br>
※開館時間：午前9時15分〜午後4時30分<br>
【入館は午後4時15分まで】<br>
※平成26年1月15日（水）まで</p>
</div>
<!-- /.section.info --></div>

<div class="small">写真提供：姫路市広報課、松本城管理事務所、犬山市観光協会、彦根市役所観光振興課</div>

<!-- /#contents --></div>

<div id="side">
<h1><img src="../page/rpn_news/images/rpn01_logo01.png" width="240" height="240" alt="Royal Platinum News 1月号 January 2014"></h1>

<div class="navList clearfix">
<p><img src="../page/rpn_news/images/rpn01_lead.png" width="27" height="217" alt="初春、いざ城へ"></p>
<ul>
<li class="ml30"><a href="#sec01"><img src="../page/rpn_news/images/rpn01_nav01.png" width="15" height="286" alt="戦国時代は城が多く造られた時期"></a></li>
<li class="ml30"><a href="#sec02"><img src="../page/rpn_news/images/rpn01_nav02.png" width="14" height="279" alt="関ヶ原の合戦後の「築城ラッシュ」"></a></li>
<li class="ml30"><a href="#sec03"><img src="../page/rpn_news/images/rpn01_nav03.png" width="14" height="177" alt="城の見どころは天守"></a></li>
<li><a href="#sec04"><img src="../page/rpn_news/images/rpn01_nav04.png" width="14" height="261" alt="姫路城見物のおすすめポイント"></a></li>
</ul>		
</div>

<div class="anunc">
<p>ロイヤル・プラチナ会員さまへ毎月お届けする「ロイヤル・プラチナ ニュース」の特集をさらにくわしくご紹介いたします。</p>
</div>

<div class="navigtr">
<p class="mb20"><img src="../page/rpn_news/images/rpn01_navigator.png" width="240" height="100" alt="今月のナビゲーター 小和田 哲男(おわだ　てつお) 公益財団法人 日本城郭協会理事長"></p>
<p>1944年静岡生まれ。早稲田大学大学院文学研究科博士課程修了。文学博士。<br>
現在、静岡大学名誉教授。専門は日本中世史で、戦国時代史研究の第一人者として知られる。主著は、『後北条氏研究』『近江浅井氏の研究』。NHKの歴史番組の解説や、大河ドラマの時代考証も務める。平成26年の「軍師官兵衛」も担当。</p>
</div>

<!-- .backnumber -->
<div class="backnumber">
<p><img src="../page/rpn_news/images/rpn01_ssttl02.png" width="140" height="16" alt="バックナンバー"></p>
<ul>
<li class="jan2014"><a href="/rps/static/?f=page/rpn_news/index&{%%svid%%}
"><img src="../page/rpn_news/images/rpn01_bk_01.png" width="240" height="110" alt="1月号「初春、いざ城へ」"></a></li>
<li class="feb2014"><a href="/rps/static/?f=page/rpn_news/index_02&{%%svid%%}
"><img src="../page/rpn_news/images/rpn02_bk_02.jpg" width="240" height="110" alt="2月号「早春　スポーツに目覚める」"></a></li>
<li class="mar2014"><a href="/rps/static/?f=page/rpn_news/index_03&{%%svid%%}
"><img src="../page/rpn_news/images/rpn03_bk_03.jpg" width="240" height="110" alt="3月号「愉楽の大人修学旅行」" onContextMenu="return false"></a></li>
</ul>
</div>

<!-- /.backnumber -->

<!-- /.sideNav --></div>

</div>

<!-- /#main --></div>

<!--div class="ftr pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

					

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
