@charset "UTF-8";

/*----------------------------

for la base

creation date: WED 15th Jul, 2015

----------------------------*/

@import url("../../../_common/css/default.css");

/*general controls
----------------------------------------------*/
img {vertical-align:middle;}

.pull-left{float:left !important;}
.pull-right{float:right !important;}
.pull-none{float:none !important;}

.mT0{margin-top:0 !important;}
.mT5{margin-top:5px !important;}
.mT10{margin-top:10px !important;}
.mT15{margin-top:15px !important;}
.mT20{margin-top:20px !important;}
.mT25{margin-top:25px !important;}
.mT30{margin-top:30px !important;}
.mT35{margin-top:35px !important;}
.mT40{margin-top:40px !important;}
.mT45{margin-top:45px !important;}
.mT50{margin-top:50px !important;}

.mR0{margin-right:0 !important;}
.mL0{margin-left:0 !important;}

.txtRight{text-align:right !important;}
.txtLeft{text-align:left !important;}
.txtCenter{text-align:center !important;}



/*style
----------------------------------------------*/

.labase-container{width:950px; margin:0 auto;}

#labase-header{text-align:center; padding-bottom:50px;}
@media screen and (min-width: 1186px) {.labase-mainvisual img{width:100%;}}
@media screen and (max-width: 1185px) {
	.labase-mainvisual img{display:none;}
	.labase-mainvisual{background:url(../images/mainvisual.jpg) center top no-repeat; height:260px;}
}
@media screen and (max-width: 950px) {
	.labase-mainvisual{background:url(../images/mainvisual.jpg) -117px top no-repeat; height:260px;}
	body{width:950px;}
}

#labase-article{background:#ededed; margin-bottom:30px; padding-top:40px;}
#labase-article a:hover img{opacity:0.75; -moz-opacity:0.75; filter:alpha(opacity = 75);/*IE8*/}
.labase-section{background:#fff;}
.labase-section>ul{padding:30px 0;}
.labase-section>ul>li{width:278px; height:240px; overflow:hidden;}

.labase-section.icon1>ul{width:336px;}
.labase-section.icon1>ul>li{ margin:0 auto;}

.labase-section.icon2>ul{width:612px; padding-left:30px;}
.labase-section.icon2>ul>li{ float:left; margin-right:28px;}

.labase-section.icon3>ul{padding:30px;}
.labase-section.icon3>ul>li{float:left; margin-right:28px;}

.labase-aside{ background:#fff; padding:80px 0 0; margin:40px 0 0;}
.labase-aside dl.labase-aside1{background:url(../images/photo01.jpg) right top no-repeat; height:240px; padding-right:280px;}
.labase-aside dl.labase-aside1 dt{border-top:1px solid #d1d1d1; padding-top:29px;}
.labase-aside dl.labase-aside1 dd{border-bottom:1px solid #d1d1d1; padding:36px 0 29px;}
.labase-aside dl.labase-aside2{padding-top:80px;}
.labase-aside dl.labase-aside2 dt{text-align:center;}
.labase-aside dl.labase-aside2 dd div{
	background:url(../images/img_map.png) left top no-repeat;
	padding-left:360px;
	height:211px;
	overflow:hidden;
}
.labase-aside dl.labase-aside2 dd ul li{float:left; width:230px; height:160px; overflow:hidden; margin-right:10px;}



