@charset "EUC-JP";

body, 
#main {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#main {
	margin-bottom: 15px;
}

img { border: none; }

#main h1 {
	background: transparent;
	border: none;
	height: auto;
	margin: 0;
	padding: 0;
}

#main h1 img {
	display: block;
	margin: 0 auto;
	width: 1151px;
}

#main a, 
#main a:active, 
#main a:link, 
#main a:visited {
	color: #000;
}

#main a:hover {
	text-decoration: none;
}

#main a:hover img {
	filter:alpha(opacity=60) !important;
	opacity:0.60 !important;
}

#main div#brand {
	background: #f8f7f6;
	height: auto;
	overflow: hidden;
	padding: 50px 0 30px;
	width: 100%;
}

#main div#brand ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	width: 984px;
}

#main div#brand ul li {
	float: left;
	font-size: 14px;
	margin: 0 23px 0 24px;
	min-height: 233px;
	/* text-align: center; */
	width: 281px;
}

#main div#brand ul li img {
	vertical-align: bottom;
}

#main div#brand ul li span {
	display: block;
	padding: 20px 0;
}

#main div.footer-bnr {
	background: url(../images/footerbnr_bg.jpg) no-repeat center top transparent;
	height: 142px;
	margin: 50px auto 0;
	width: 950px;
}

#main div.footer-bnr h2, 
#main div.footer-bnr dl, 
#main div.footer-bnr dl dd {
	float: left;
	margin: 0;
}

#main div.footer-bnr dl {
	padding: 0 3px 3px 0;
	width: 615px;
}

#main div.footer-bnr dl dt, 
#main div.footer-bnr dl dd {
	line-height: 0;
	overflow: hidden;
}

#main div.footer-bnr dl dt img, 
#main div.footer-bnr dl dd img {
	vertical-align: bottom;
}

#main div.footer-bnr dl dd {
	margin :0 4px 4px 0;
}

#main p.pagetop {
	clear: both;
	margin: 40px auto 10px;
	text-align: right;
	width: 950px;
}


/**********************************
brand
**********************************/
#main.brand-detail h1 img {
	display: block;
	margin: 0 auto;
	width: 948px;
}

#main.brand-detail-all h1 img {
	display: block;
	margin: 0 auto;
	width: 1151px;
}

#main.brand-detail div#brand ul {
	background: url(../images/brand_list_bg.png) repeat-x 25px bottom transparent;
	margin: 0 auto 20px;
	width: 993px;
}

#main.brand-detail div#brand .item1block,
#main.brand-detail div#brand .item2block {
	margin: 0 auto 20px;
	width: 993px;
}
#main.brand-detail div#brand .item1block ul {
	width: 331px !important;
	margin: 0 0 20px !important;
}
#main.brand-detail div#brand .item2block ul {
	width: 662px !important;
	margin: 0 0 20px !important;
}

#main.brand-detail div#brand ul li {
	margin: 0 25px;
	min-height: 282px;
}

#main.brand-detail div#brand ul li a {
	display: block;
}

#main.brand-detail div#brand ul li a:hover {
	cursor: pointer;
}

#main.brand-detail div#brand ul li a img {
	border-right: solid 1px #c6c6c4;
	width: 280px;
}

#main.brand-detail div#brand ul li span {
	border-top: solid 1px #f0f0f0;
	padding: 20px 10px 30px;
	width: 260px;
}

#main.brand-detail dl.otherbrand {
	border-bottom: solid 1px #dcdcdc;
	margin: 15px auto 0;
	padding: 0 0 15px;
	text-align: center;
	width: 950px;
}

#main.brand-detail dl.otherbrand dt {
	margin: 0 0 10px;
}

#main.brand-detail dl.otherbrand dd {
	display: inline;
	margin: 0 15px;
}











