<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ゴールド会員さま 特別ご優待 期間限定企画 『春のエステティック ご優待コース』特別販売 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/g_kaiin_yutai01/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/g_kaiin_yutai01/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/special_week/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ゴールド会員さま 特別ご優待 期間限定企画 『春のエステティック ご優待コース』特別販売</li>
	</ul>
<div id="main">
<h1><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_ttl01.png" alt="ゴールド会員さま特別ご優待 期間限定企画" width="950" height="52" /><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_ttl02.png" alt="お申し込み期間：1月20日（月）〜2月28日（金）「エステティックサロン ソシエ」「たかの友梨 ビューティクリニック」「エステティック ミス・パリ」「エステティックサロン ゲラン パリ」「ソワンド・セレネ」 合同企画（プレミアムコース有効期間 ご購入時から2年間）" width="950" height="153" /><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_ttl03.png" alt="『春のエステティック ご優待コース』特別販売" width="950" height="79" /></h1>
   
<div id="rpsGold_idx_mainSec">
    	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_img01.png" alt="西武・そごうにある各エステティックサロンから、期間限定のエステティック特別ご優待プランをご案内いたします｡" width="411" height="163" /><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_img02.png" alt="お得なエステティックコースを“今”この価格で さらに永久不滅ポイントが2倍貯まります" width="539" height="163" />   	
</div>
<!-- /#rpsGold_idx_mainSec -->

<div id="rpsGold_idx_sec01">
    	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_img04.png" alt="［お申し込み・お問い合わせ］ 下記の店舗で承ります。※サービス内容が各サロンによって異なりますので､くわしくはお申し込みのサロンへお問い合わせください｡" width="950" height="112" />
    	
    <div class="rpsGold_idx_courseList01">
	     <img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_sttl01.jpg" alt="1. まずはお試しください 1回トライアルコース まずは体験してみたいという方に、気軽にお試しいただけるフェイシャルやボディーなどを、ご優待価格でご体験いただけます｡ 特別ご優待価格：お一人さま1回 10,500円プラン（税込）※新規ご利用の方に限ります。※エステティックサロン ゲラン パリは14,700円（税込）となります。" width="467" height="303" />
	     <div class="rpsGold_idx_shop rpsGold_idx_shop01">
	     	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img01.jpg" alt="エステティックサロン ソシエ ◆入会金無料 （通常税込21,000円）※プレミアムコースご購入のお客さまのみ対象・西武渋谷店・西武所沢店・西武秋田店・西武春日部店・そごう千葉店・そごう大宮店・そごう西神店・そごう徳島店 ソシエ フリーダイヤル 0120（04）1136 ※各店へおつなぎいたします。" width="467" height="384" />
	     	<a href="/rps/static/?f=page/g_kaiin_yutai01/page04&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_btn01.png" alt="コース内容・特典" width="216" height="46" /></a>
	     </div>
	     <div class="rpsGold_idx_shop rpsGold_idx_shop02">
	     	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img02.jpg" alt="たかの友梨 ビューティクリニック ◆入会金無料 （通常税込31,500円） ※プレミアムコースご購入のお客さまのみ対象・西武船橋店 047（423）2871・西武筑波店 029（854）1107・そごう柏店 04（7162）1107 ※電話番号は各サロン直通番号となります。" width="467" height="307" />
	     	<a href="/rps/static/?f=page/g_kaiin_yutai01/page03&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_btn01.png" alt="コース内容・特典" width="216" height="46" /></a>
	     </div>
    </div>
    <div class="rpsGold_idx_courseList02">
    	  <img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_sttl02.jpg" alt="2. 効果を実感された方には… お得なプレミアムコース 特別ご優待コースをまとめてご購入いただける、お得なバリュープランを3種類ご用意いたしました。特別ご優待価格：105,000円プラン（税込） 210,000円プラン（税込）315,000円プラン（税込）" width="467" height="303" />
	     <div class="rpsGold_idx_shop rpsGold_idx_shop03">
	     	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img03.jpg" alt="エステティック ミス・パリ ・西武東戸塚店 045（828）1016・西武高槻店 072（668）2193※電話番号は各サロン直通番号となります。" width="467" height="230" />
	     	<a href="/rps/static/?f=page/g_kaiin_yutai01/page01&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_btn01.png" alt="コース内容・特典" width="216" height="46" /></a>
	     </div>
	     <div class="rpsGold_idx_shop rpsGold_idx_shop04">
	     	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img04.jpg" alt="エステティックサロン ゲラン パリ ・そごう広島店 082（512）7570 ※電話番号はサロン直通番号となります。" width="467" height="229" />
	     	<a href="/rps/static/?f=page/g_kaiin_yutai01/page02&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_btn01.png" alt="コース内容・特典" width="216" height="46" /></a>
	     </div>
	     <div class="rpsGold_idx_shop rpsGold_idx_shop05">
	     	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img05.jpg" alt="ソワンド・セレネ ・西武大津店 077（510）0755・そごう神戸店 078（221）0099 ※電話番号は各サロン直通番号となります。" width="467" height="233" />
	     	<a href="/rps/static/?f=page/g_kaiin_yutai01/page05&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec01_btn01.png" alt="コース内容・特典" width="216" height="46" /></a>
	     </div>
    </div>
    <!-- /.rpsGold_idx_courseList -->
</div>
<!-- /#rpsGold_idx_sec01 -->

<div id="rpsGold_idx_sec02">
    	<div class="rpsGold_idx_sec02_inner01">
    		<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec02_img01.png" alt="【ロイヤル・プラチナ セレクション会員さま限定特典】ロイヤル・プラチナ セレクション 会員さま限定の特典といたしまして、「エステティックサロン ソシエ」「たかの友梨 ビューティクリニック」「エステティック ミス・パリ」「エステティックサロン ゲラン パリ」「ソワンド・セレネ」から、ご優待コースご予約の方に、ささやかなプレゼントをご用意いたしました。※くわしくは、各サロンの「コース内容・特典」をご覧いただくか、各サロンへ直接お問い合わせください。" width="466" height="221" />
    	</div>
    	<div class="rpsGold_idx_sec02_inner02">
    	<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec02_img02.png" alt="［同時開催］ご優待期間 1月20日（月）〜2月28日（金） そごう横浜店 クレ・ド・ポー ボーテ サロン 全メインメニューを通常価格から10％ご優待 ※％OFF表示は、クレ・ド・ポー ボーテ サロンの通常価格からの割引率表示です。※くわしくはサロンにお問い合わせください。TEL 045（440）5533" width="476" height="221" />
    	</div>
<img src="../page/g_kaiin_yutai01/images/rps_gold_idx01_sec02_img03.png" alt="※サービス内容が各サロンによって異なりますので､くわしくはお申し込みのサロンへお問い合わせください｡［お申し込み・お問い合わせ］ 下記の店舗で承ります。※写真はすべてイメージです。" width="950" height="107" />
</div>
<!-- /#rpsGold_idx_sec02 -->


    
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
