<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ゴールド会員さま 特別ご優待 期間限定企画 『春のエステティック ご優待コース』特別販売 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/g_kaiin_yutai01/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/g_kaiin_yutai01/css/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="../page/g_kaiin_yutai01/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/g_kaiin_yutai01/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="rpsGold_itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ゴールド会員さま 特別ご優待 期間限定企画 『春のエステティック ご優待コース』特別販売</li>
	</ul>
<div id="main">
	<div class="rpsGold_ttl">
				<img src="../page/g_kaiin_yutai01/images/rps_gold_p01_ttl01.png" alt="ゴールド会員さま特別ご優待 期間限定企画" width="792" height="40"><a href="/rps/static/?f=page/g_kaiin_yutai01/index&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_btn01.png" alt="前のページにもどる" width="158" height="40"></a>
			</div>
			<h1><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_cat04_ttl01.png" alt="エステティックサロン ソシエ ・西武渋谷店 ・西武所沢店 ・西武秋田店 ・西武春日部店 ・そごう千葉店 ・そごう大宮店 ・そごう西神店 ・そごう徳島店 ソシエ フリーダイヤル 0120（04）1136 ※各店へおつなぎいたします。
" width="950" height="162" /></h1>
			<div class="rpsGold_table">
				<table>
					<tr>
						<th class="rpsGold_table_ttl01" colspan="2">コース名</th>
						<th class="rpsGold_table_ttl02" colspan="2">内　容</th>
					</tr>
					<tr class="rpsGold_table_course01">
						<td class="rpsGold_table_sttl"><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_sttl01.png" alt="1. 1回トライアルコース" width="209" height="47"></td>
						<td class="rpsGold_table_price">10,500円プラン（税込）</td>
						<td>フェイシャルまたはボディー</td>
						<td class="rpsGold_table_attention">※初回の方に限る<br />※どちらかをお選びください</td>
					</tr>
					<tr class="rpsGold_table_course02">
						<td class="rpsGold_table_sttl" rowspan="3"><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_sttl02.png" alt="2. お得なプレミアムコース" width="209" height="65"></td>
						<td class="rpsGold_table_price">105,000円プラン（税込）</td>
						<td colspan="2">・エステティック（75分） 4回<br />・タラソテラピーorハンドケア（20分） 5回</td>
					</tr>
					<tr class="rpsGold_table_course03">
						<td class="rpsGold_table_price">210,000円プラン（税込）</td>
						<td colspan="2">・エステティック（75分） 10回<br />・タラソテラピーorハンドケア（20分） 5回
</td>
					</tr>
					<tr class="rpsGold_table_course04">
						<td class="rpsGold_table_price">315,000円プラン（税込）</td>
						<td colspan="2">・エステティック（75分） 14回<br />・タラソテラピーorハンドケア（20分） 8回<br />・オーガニック美容飲料プレゼント<br />・3カ月までの優先予約<br /></td>
					</tr>
				</table>
			</div>
			<!-- /.rpsGold_table -->
			<div class="rpsGold_coupon rpsGold_cat04">
				<img src="../page/g_kaiin_yutai01/images/rps_gold_p01_cat04_bg01.png" alt="" width="930" height="235" class="rpsGold_coupon_bg">
				<img src="../page/g_kaiin_yutai01/images/rps_gold_p01_img01.png" alt="【ロイヤル・プラチナ セレクション 会員さま限定特典】" width="843" height="68">
				<img src="../page/g_kaiin_yutai01/images/rps_gold_p01_cat04_img02.png" alt="・「１回トライアルコース（フェイシャルまたはボディー）」ご予約の方に、エステダム化粧品サンプル3点セットをプレゼント。・「お得なプレミアムコース（315,000円プラン）」ご成約の方に、エステダム化粧品ミニ3点セットをプレゼント。" width="930" height="71">
				<img src="../page/g_kaiin_yutai01/images/rps_gold_p01_cat04_img03.png" alt="プレゼントのお受け取りは、本画面を印刷したものをご来店時にご持参いただくか、携帯電話またはスマートフォンの本画面を受付にご提示ください。※タラソテラピーは店舗により施設が異なりますので、くわしくはサロンまでお問い合わせください。" width="549" height="79">
				<div class="rpsGold_btnArea01">
					<a href="javascript:window.print();"><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_btn02.png" alt="プリントアウト" width="210" height="51"></a>
				</div>
			</div>
			<!-- /.rpsGold_coupon -->
			<div class="rpsGold_btnArea02">
				<a href="/rps/static/?f=page/g_kaiin_yutai01/index&{%%svid%%}"><img src="../page/g_kaiin_yutai01/images/rps_gold_p01_btn03.png" alt="前のページにもどる" width="158" height="30"></a>
			</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
