@charset "EUC-JP";
@import url("../global-fontsizelarge.css");

#main #IntroductionWrapper .IntroductionInner {
 font-size:16px;
}
#main #IntroductionWrapper p {
 font-size:14px;
}
#mainBorder {
 font-size:14px;
}
#mainBorder #acceptBottom h3, #mainBorder #acceptTop h2 {
 font-size:16px;
}