@charset "EUC-JP";
@import url("../global-fontsizesmall.css");

#main #IntroductionWrapper .IntroductionInner {
 font-size:12px;
}
#main #IntroductionWrapper p {
 font-size:10px;
}
#mainBorder {
 font-size:10px;
}
#mainBorder #acceptBottom h3, #mainBorder #acceptTop h2 {
 font-size:12px;
}