<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>季の味倶楽部 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/2014tokinoaji/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/2014tokinoaji/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/2014tokinoaji/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/2014tokinoaji/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/2014tokinoaji/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/2014tokinoaji/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/2014tokinoaji/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li><a href="/rps/static/?f=page/2014tokinoaji/index&svid=2">季の味倶楽部</a></li>
		<li id="presentLocation">『名店・名宿のご馳走づくし』</li>
	</ul>
    
	<div id="main">
    
    <div class="btnarea2 mb75">
    <p class="pt30 mb20"><img src="../page/2014tokinoaji/images/btnarea2_tl01.png" width="880" height="69" alt="季の味倶楽部 名店・名宿のご馳走づくし" /></p>
    <p class="mb20"><img src="../page/2014tokinoaji/images/btnarea2_tl02.png" width="643" height="38" alt="『名店・名宿のご馳走づくし』で紹介した6店の中から、京都の2店をさらにくわしくご紹介いたします。旬素材のお料理が、職人の手から作り出される様子をお楽しみください。" /></p>
    
    <div class="btnareainner clearfix">
    <p class="mr15"><a href="#october"><img src="../page/2014tokinoaji/images/pagelink201_off.png" width="435" height="105" alt="瓢亭（ひょうてい） 鰆・かます・ぐじの味噌幽庵漬け" /></a></p>
    <p><a href="#june"><img src="../page/2014tokinoaji/images/pagelink202_off.png" width="435" height="105" alt="山ばな平八茶屋（やまばなへいはちぢゃや） 鱧三彩 香味焼" /></a></p>
    </div>
    </div><!--btnarea2-->
    
    <div id="october" class="mainbox clearfix mb50">
    <div class="leftbox"><p><img src="../page/2014tokinoaji/images/hyo_img01.jpg" width="410" height="600" alt="瓢亭（ひょうてい） 鰆・かます・ぐじの味噌幽庵漬け" /></p></div>
    <div class="rightbox">
    <p class="pt15 mb30"><img src="../page/2014tokinoaji/images/hyo_tl01.gif" width="540" height="141" alt="〔京都 南禅寺畔〕 10月お届け 瓢亭（ひょうてい） 鰆・かます・ぐじの 味噌幽庵漬け" /></p>
    <div class="mb35"><img src="../page/2014tokinoaji/images/hyo_txt01.gif" width="490" height="89" alt="創業から400年以上の歴史を持ち、京都で随一の茶懐石の店として知られる老舗。ご紹介する味噌幽庵漬けは、煮切り酒、みりん、薄口・濃口醤油を合わせた幽庵地に、白味噌の荒粒味噌を混ぜ、柚子の輪切りとともに魚の切り身を漬け込んでいます。白味噌と麹と柚子の香りが旨味を引き立てる名品をどうぞ。" /></div>
    <div class="innerbox mb35 clearfix"><p><img src="../page/2014tokinoaji/images/hyo_txt02.gif" width="320" height="97" alt="〔逸品素材〕近海の鮮魚 瀬戸内海、九州、四国沖で収獲された鮮魚を選びました。味噌幽庵は主人が考案したもので、杉板で焼きあげれば香ばしさも楽しめます。" /></p>
    <p><img src="../page/2014tokinoaji/images/hyo_img02.jpg" width="170" height="138" alt="〔逸品素材〕近海の鮮魚 " /></p>
    </div>
    <div class="infobox">
    <div class="leftbox"><p><img src="../page/2014tokinoaji/images/hyoinfo_img01.gif" width="168" height="119" alt="瓢亭（ひょうてい）" /></p></div>
    <div class="rightbox">
    <p><img src="../page/2014tokinoaji/images/hyoinfo_tx01.gif" width="320" height="53" alt="瓢亭（ひょうてい）" /></p>
    <p><img src="../page/2014tokinoaji/images/hyoinfo_tx02.gif" width="320" height="28" alt="京都府京都市左京区南禅寺草川町35" /></p>
    <div class="btnbg"><p><a href="http://hyotei.co.jp" target="_blank"><img src="../page/2014tokinoaji/images/linkbtn01_off.gif" width="129" height="20" alt="http://hyotei.co.jp" /></a></p></div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="mb70">
    <img src="../page/2014tokinoaji/images/hyo_ph01.jpg" width="325" height="253" alt="お料理ができあがるまで 腕をふるった人 主人 ?橋英一（14代目）" /><img src="../page/2014tokinoaji/images/hyo_ph02.jpg" width="304" height="253" alt="1 この時期（お届け：10月）美味しい新鮮な魚を仕入れる。" /><img src="../page/2014tokinoaji/images/hyo_ph03.jpg" width="321" height="253" alt="2 魚を水洗いして、主人自ら出刃庖丁で鰆を3枚におろす。" /><img src="../page/2014tokinoaji/images/hyo_ph04.jpg" width="325" height="254" alt="3 一人前に切り分けた後、味噌幽庵地に柚子の輪切りとともに漬け込む。" /><img src="../page/2014tokinoaji/images/hyo_ph05.jpg" width="304" height="254" alt="4 杉板の上に、椎茸をはさむように鰆を挟み焼きあげる（かます、くじも同様）。" /><img src="../page/2014tokinoaji/images/hyo_ph06.jpg" width="321" height="254" alt="5 皿に盛り付け、輪切りにしたすだちを散らして完成。" />
    </div>
    
    <div class="cataarea tline mb70">
    <div class="bline">
    <div class="inner clearfix">
    <div class="leftbox"><img src="../page/2014tokinoaji/images/catalog_tl01.gif" width="305" height="57" alt="「季の味倶楽部」カタログ 掲載商品はこちらから" /></div>
    <div class="rightbox">
    <p class="mr20"><a href="../page/2014tokinoaji/pdf/tokiaji.pdf" target="_blank"><img src="../page/2014tokinoaji/images/catabtn01_off.gif" width="205" height="60" alt="PDFでカタログを見る" /></a></p>
    <p><a href="http://e-catalog.seibu.jp/common/20140228/001/index.html" target="_blank"><img src="../page/2014tokinoaji/images/catabtn02_off.gif" width="205" height="60" alt="デジタルカタログを見る" /></a></p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div id="june" class="mainbox clearfix mb50">
    <div class="leftbox"><p><img src="../page/2014tokinoaji/images/yama_img01.jpg" width="410" height="600" alt="山ばな平八茶屋（やまばなへいはちぢゃや） 鱧三彩 香味焼" /></p></div>
    <div class="rightbox">
    <p class="pt15 mb30"><img src="../page/2014tokinoaji/images/yama_tl01.gif" width="540" height="141" alt="〔京都〕 6月お届け 山ばな平八茶屋（やまばなへいはちぢゃや） 鱧三彩 香味焼" /></p>
    <div class="mb50"><img src="../page/2014tokinoaji/images/yama_txt01.gif" width="489" height="65" alt="創業から400年以上の歴史を持ち、京の風情ゆかしい料亭として知られる老舗。「鱧三彩 香味焼」は淡路・徳島産の鱧を丁寧に骨切りし、塩麹地、白味噌地、柚庵地に漬け込み、味を染み込ませました。ご家庭で焼きあげてどうぞ。" /></div>
    <div class="innerbox mb40 clearfix"><p><img src="../page/2014tokinoaji/images/yama_txt02.gif" width="319" height="127" alt="〔逸品素材〕瀬戸内の鱧 自然に恵まれた淡路、徳島の海で水揚げされる、味わい豊かな鱧を使用。主人 園部晋吾が受け継がれる技で鱧の旨みを引き出しました。酒の肴やご飯のお供に食べくらべてお楽しみください。" /></p>
    <p><img src="../page/2014tokinoaji/images/yama_img02.jpg" width="170" height="138" alt="〔逸品素材〕瀬戸内の鱧" /></p>
    </div>
    <div class="infobox">
    <div class="leftbox"><p><img src="../page/2014tokinoaji/images/yamainfo_img01.gif" width="168" height="119" alt="山ばな平八茶屋（やまばなへいはちぢゃや）" /></p></div>
    <div class="rightbox">
    <p><img src="../page/2014tokinoaji/images/yamainfo_tx01.gif" width="320" height="53" alt="山ばな平八茶屋（やまばなへいはちぢゃや）" /></p>
    <p><img src="../page/2014tokinoaji/images/yamainfo_tx02.gif" width="320" height="28" alt="京都府京都市左京区山端川岸町8-1" /></p>
    <div class="btnbg"><p><a href="http://www.heihachi.co.jp" target="_blank"><img src="../page/2014tokinoaji/images/linkbtn02_off.gif" width="178" height="18" alt="http://www.heihachi.co.jp" /></a></p></div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="mb70">
    <img src="../page/2014tokinoaji/images/yama_ph01.jpg" width="325" height="262" alt="お料理ができあがるまで 腕をふるった人 主人 園部晋吾（21代目）" /><img src="../page/2014tokinoaji/images/yama_ph02.jpg" width="305" height="262" alt="1 京都中央市場から、活け締めの状態で鮮度の良い淡路・徳島産の鱧（お届け：6月）を仕入れる。" /><img src="../page/2014tokinoaji/images/yama_ph03.jpg" width="320" height="262" alt="2 ぬめりを取って、水洗いした鱧を出刃包丁で開き、骨切包丁で小骨の多い鱧の骨切りをする。" /><img src="../page/2014tokinoaji/images/yama_ph04.jpg" width="325" height="246" alt="3 一人前のサイズに切ったのち、塩麹地に一日漬け込む（柚庵漬は6時間、白味噌漬は2日間漬け込む）。" /><img src="../page/2014tokinoaji/images/yama_ph05.jpg" width="305" height="246" alt="4 身の面を上にして焼き、ある程度火が通ったら返して、皮面をしっかりと焼くのがポイント。" /><img src="../page/2014tokinoaji/images/yama_ph06.jpg" width="320" height="246" alt="5 鱧の塩麹漬の焼きあがり。ほかに柚庵漬、白味噌漬があります。" />
    </div>
    
    <div class="cataarea tline mb30">
    <div class="bline">
    <div class="inner clearfix">
    <div class="leftbox"><img src="../page/2014tokinoaji/images/catalog_tl01.gif" width="305" height="57" alt="「季の味倶楽部」カタログ 掲載商品はこちらから" /></div>
    <div class="rightbox">
    <p class="mr20"><a href="../page/2014tokinoaji/pdf/tokiaji.pdf" target="_blank"><img src="../page/2014tokinoaji/images/catabtn01_off.gif" width="205" height="60" alt="PDFでカタログを見る" /></a></p>
    <p><a href="http://e-catalog.seibu.jp/common/20140228/001/index.html" target="_blank"><img src="../page/2014tokinoaji/images/catabtn02_off.gif" width="205" height="60" alt="デジタルカタログを見る" /></a></p>
    </div>
    </div>
    </div>
    </div>
    
    <div class="infoarea mb30">
    <div class="inner clearfix">
    <div class="leftbox">
    <p class="mb40"><img src="../page/2014tokinoaji/images/info_txt01.gif" width="254" height="23" alt="お申し込み承りについて" /></p>
    <p class="mb20"><img src="../page/2014tokinoaji/images/info_txt02.gif" width="288" height="39" alt="お申し込み承り期間 2014年4月30日（水）までにお申し込みください。" /></p>
    <p class="mb15"><img src="../page/2014tokinoaji/images/info_txt03.gif" width="288" height="69" alt="商品のお問い合わせ・お申し込み方法 ご注文は、お客さまの担当者または西武各店のプラチナサロン、そごう各店のロイヤルサロンにお問い合わせください。" /></p>
    <p><img src="../page/2014tokinoaji/images/info_txt04.gif" width="288" height="69" alt="お品物のお届け 2014年5月〜10月各月に産地やメーカーからお届けいたします。（一部お届けが、翌月になるお品物がございます）" /></p>
    </div>
    
     <div class="rightbox">
     <p class="mb30"><img src="../page/2014tokinoaji/images/info_txt05.gif" width="503" height="56" alt="単品でのお申し込みについて 毎月お届けコース1〜4のお申し込みをいただいた方に限り、追加で単品A〜Dのご注文を承ります。単品ABの中から3品以上のお申し込みで、単独でもご注文を承ります。" /></p>
     <p><img src="../page/2014tokinoaji/images/info_txt06.gif" width="482" height="133" alt="毎月お届けコース 1 季の味倶楽部 2 にっぽんのお米 3 季節のスープ 4 お酒コレクション A 特別限定品（単品のご注文） B 名店・名宿のご馳走づくし（単品のご注文） 3品以上のお申し込みで単独でもご注文いただけます。 C にっぽんのお米（単品のご注文） D 季節のスイーツ（単品のご注文）" /></p>
    </div>
    </div>
    </div>
    
    </div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
