<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>季の味倶楽部 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/2014tokinoaji/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/2014tokinoaji/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/2014tokinoaji/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/2014tokinoaji/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/2014tokinoaji/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/2014tokinoaji/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/2014tokinoaji/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">季の味倶楽部</li>
	</ul>
    <div id="bg1">
    <div id="bg2">
	<div id="main">
    
    <div id="mainimg">
    <p><img src="../page/2014tokinoaji/images/main.jpg" width="950" height="398" alt="季の味倶楽部 ときのあじくらぶ 「季の味倶楽部」は、全国各地の地元で愛されつづける老舗の美味や、
自然が育んだみずみずしい旬の幸、また通常ではなかなか入手し難いお品物などを集めた「頒布会」です。今回の特集では、評判の6つの名店・名宿からとっておきの食材で楽しむ「ご馳走づくし」をご紹介いたします。" /></p>
	<div class="btn01"><a href="../page/2014tokinoaji/pdf/tokiaji.pdf" target="_blank"><img src="../page/2014tokinoaji/images/btn01_off.gif" width="215" height="58" alt="PDFでカタログを見る" /></a></div>
    <div class="btn02"><a href="http://e-catalog.seibu.jp/common/20140228/001/index.html" target="_blank"><img src="../page/2014tokinoaji/images/btn02_off.gif" width="215" height="58" alt="デジタルカタログを見る" /></a></div>
	</div>
    
    <div class="btnarea mb75">
    <p class="pt30 mb20"><img src="../page/2014tokinoaji/images/btnarea_tl01.png" width="765" height="66" alt="名店・名宿のご馳走づくし" /></p>
    <p class="mb20"><img src="../page/2014tokinoaji/images/btnarea_tl02.png" width="645" height="41" alt="『名店・名宿のご馳走づくし』で紹介した6店の中から、京都の2店をさらにくわしくご紹介いたします。旬素材のお料理が、職人の手から作り出される様子をお楽しみください。" /></p>
    
    <div class="btnareainner clearfix">
    <p class="mr15"><a href="/rps/static/?f=page/2014tokinoaji/index02&{%%svid%%}"><img src="../page/2014tokinoaji/images/pagelink01_off.png" width="435" height="208" alt="10月お届け 瓢亭（ひょうてい） 鰆・かます・ぐじの 味噌幽庵漬け  〔逸品素材〕近海の鮮魚" /></a></p>
    <p><a href="/rps/static/?f=page/2014tokinoaji/index02&{%%svid%%}#june"><img src="../page/2014tokinoaji/images/pagelink02_off.png" width="435" height="208" alt="6月お届け 山ばな平八茶屋（やまばなへいはちぢゃや） 鱧三彩 香味焼 〔逸品素材〕瀬戸内の鱧" /></a></p>
    </div>
    </div>
    
    <div class="infoarea tline mb50">
    <div class="bline">
    
    <div class="inner clearfix">
    <div class="leftbox">
    <p class="mb40"><img src="../page/2014tokinoaji/images/info_txt01.gif" width="254" height="23" alt="お申し込み承りについて" /></p>
    <p class="mb20"><img src="../page/2014tokinoaji/images/info_txt02.gif" width="288" height="39" alt="お申し込み承り期間 2014年4月30日（水）までにお申し込みください。" /></p>
    <p class="mb15"><img src="../page/2014tokinoaji/images/info_txt03.gif" width="288" height="69" alt="商品のお問い合わせ・お申し込み方法 ご注文は、お客さまの担当者または西武各店のプラチナサロン、そごう各店のロイヤルサロンにお問い合わせください。" /></p>
    <p><img src="../page/2014tokinoaji/images/info_txt04.gif" width="288" height="69" alt="お品物のお届け 2014年5月〜10月各月に産地やメーカーからお届けいたします。（一部お届けが、翌月になるお品物がございます）" /></p>
    </div>
    
     <div class="rightbox">
     <p class="mb30"><img src="../page/2014tokinoaji/images/info_txt05.gif" width="503" height="56" alt="単品でのお申し込みについて 毎月お届けコース1〜4のお申し込みをいただいた方に限り、追加で単品A〜Dのご注文を承ります。単品ABの中から3品以上のお申し込みで、単独でもご注文を承ります。" /></p>
     <p><img src="../page/2014tokinoaji/images/info_txt06.gif" width="482" height="133" alt="毎月お届けコース 1 季の味倶楽部 2 にっぽんのお米 3 季節のスープ 4 お酒コレクション A 特別限定品（単品のご注文） B 名店・名宿のご馳走づくし（単品のご注文） 3品以上のお申し込みで単独でもご注文いただけます。 C にっぽんのお米（単品のご注文） D 季節のスイーツ（単品のご注文）" /></p>
     </div>
    </div>
    
    </div>
    </div>
    
    </div>
    </div><!--bg2-->
    </div><!--bg1-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
