<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>季の味倶楽部 デジタルカタログ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/tokinoaji_2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/tokinoaji_2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/tokinoaji_2014/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/tokinoaji_2014/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">季の味倶楽部 デジタルカタログ</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
    <div><img src="../page/tokinoaji_2014/images/tokinoaji_img.jpg" alt="季の味倶楽部 デジタルカタログ" border="0" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="420,343,618,387" href="../page/tokinoaji_2014/pdf/20140826.pdf" target="_blank" alt="PDFでカタログを見る" />
<area shape="rect" coords="632,343,830,387" href="http://e-catalog.seibu.jp/common/20140826/001/index.html" target="_blank" alt="デジタルカタログを見る" />
</map></div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/tokinoaji_2014/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/tokinoaji_2014/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/tokinoaji_2014/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※掲載商品のご確認や詳細につきましては、こちらの「担当者へのお問い合わせ」からご用命ください。</p>
		</div>


<!--注記-->
<div class="bnav">

<div class="flL">

<div class="guide"><a href="https://www2.seibu.jp/common/d_catalog/howto/index.html" target="_blank">≫デジタルカタログ　使い方ガイドはこちら</a></div>
<ul>
<li>【推奨環境】</li>
<li>デジタルカタログをご覧いただくためには、下記の動作環境が必要です。</li>
<li>・Microsoft Internet Explorer 6以上のブラウザ</li>
<li>・横800ピクセル以上　縦600ピクセル以上の解像度</li>
<li>・Adobe Flash プラグイン</li>
<li>・JavaScriptが動作する環境<br />
また、ADSL・CATV・FTTHなどのブロードバンド環境でお楽しみいただくことを推奨します。</li>
</ul>

</div>

<div class="flR">

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="../page/tokinoaji_2014/images/cmn_flash.png" alt="" /></a></th>
    <td>デジタルカタログをご覧いただくためには、Adobe Flash Playerが必要です。<a href="http://get.adobe.com/jp/flashplayer/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
  <tr>
    <th><a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/tokinoaji_2014/images/cmn_pdf.png" alt="" /></a></th>
    <td>PDFをご覧いただくためには、Adobe Readerが必要です。<a href="http://get.adobe.com/jp/reader/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
</table>


</div>




<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
