<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>“エステティックサロン ソシエ”　特別ご優待プラン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/socie201603/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/socie201603/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/socie201603/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">“エステティックサロン ソシエ”　特別ご優待プラン</li>
	</ul>

<div id="main_bg">
<div id="main">
<div class="socie201603">
<h1><img src="../page/socie201603/images/socie1603_01.jpg" width="950" height="410" alt="SICIE より上質な美しさをあなたに “エステティックサロン ソシエ” 特別ご優待プラン 初めてご利用される方、すでにソシエ会員の方の両方に、期間限定のご優待プランをご用意いたしました。ハンドの充実やオーダーメードサービスの提供、完全個室制などにこだわる本サロンだから味わえる至極の時間を、この機会にぜひご堪能ください。 ご利用期限3月31日（木）まで" /></h1>
<p><img src="../page/socie201603/images/socie1603_02.jpg" width="950" height="329"  alt="初めてご利用の方 限定プラン ブライトニングとエイジングケア※をダブルで行う ホワイトリフト 限定ご優待価格7,560円（フェイシャル／85分）※年齢にあわせたお手入れ" /></p>
<p><img src="../page/socie201603/images/socie1603_03.jpg" width="950" height="639"  alt="注目のエンダモロジーを導入したコースもご用意 専用マシン「mobilift M6（R）」が生み出す3つの動き、「つまむ」「広げる」「引っ張りあげる」で刺激を与えていきます。 注入しない美肌術 メカノフィラー ビューティ エヴォリューション 限定ご優待価格7,560円（フェイシャル／40分） ※メカノフィラーの取り扱いのない店舗は別メニューをご案内させていただきます。くわしくは下記フリーダイヤルまでお問い合わせください。 理想の美ボディーにアプローチ エンダモデラージュ 限定ご優待価格5,400円（ボディー／60分）" /></p>
<p><img src="../page/socie201603/images/socie1603_04.jpg" width="950" height="358"  alt="お得な複数回プランもございます 6回プラン（フェイシャルまたはボディー） 通常136,080円のところ（1回あたり22,680円×6回）7%OFF 限定ご優待価格129,794円 さらに特典 入会金21,600円をサービス！" /></p>
<p><img src="../page/socie201603/images/socie1603_05.jpg" width="950" height="494"  alt="すでにソシエ会員の方 限定特別プラン ホワイトセレクトプラン 通常311,040円のところ（1回あたり25,920円×12回） 15%OFF 限定ご優待価格264,384円 ※事前にご予約のうえご来店ください。ご予約の際は「ロイヤル・プラチナ セレクション」または「ロイヤル・ プラチナ ニュース3月号」を ご覧になった旨をお伝えください。※掲載のメニューは、お一人さまにつきいずれか1コース限りとさせていただきます。なお、ほかの特典との併用はできません。※ほかにもおすすめのコースがございます。くわしくは下記フリーダイヤルまでお問い合わせください。" /></p>
<p style="margin-bottom:50px;"><img src="../page/socie201603/images/socie1603_06.jpg" width="950" height="218"  alt="〜西武・そごうの“エステティックサロン ソシエ”グループサロン〜 西武渋谷店、西武所沢店、西武秋田店（4月5日（火）西武八尾店オープン予定） そごう千葉店、そごう 大宮店、そごう西神店、そごう徳島店 ご予約・お問い合わせ フリーダイヤル0120（04）1136 受付時間：午前10時〜午後8時※各店へおつなぎいたします。" /></p>

</div><!--socie201603--></div><!--main-->
</div><!--main_bg-->
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
