<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Watch | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/watch/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">Watch</li>
	</ul>
	<div id="main">
	<ul id="idxArticle">
		<li class="idxMainBtn01"><a href="../static/?f=page/luxury/watch/index02&amp;{%%svid%%}"><img src="../page/luxury/watch/images/idx140515_img01.jpg" alt="Men’s Watch" width="465" height="414" /></a></li>
		<li class="idxMainBtn02"><a href="../static/?f=page/luxury/watch/index03&amp;{%%svid%%}"><img src="../page/luxury/watch/images/idx140603_img02.jpg" alt="Ladies’ Watch" width="465" height="414" /></a></li>
	</ul>

</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
