<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Watch | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/watch/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script>
		//ロールオーバー（aタグのclassに"rollover"を設定、差し替えファイル名の最後に"_ov"をつける）
		$(function(){
		  $(".rollover").hover(function(){
		    var str = $(this).children("img").attr("src");
		　  if(str.indexOf("_ov")==-1){
		      str = str.replace(".png","_ov.png");
		      $(this).children("img").attr("src",str);
		    }
		  },function(){
		    var str = $(this).children("img").attr("src");
		    str = str.replace("_ov.png",".png");
		    $(this).children("img").attr("src",str);
		  }).click(function(){
		    var str = $(this).children("img").attr("src");
		    str = str.replace("_ov.png",".png");
		    $(this).children("img").attr("src",str);
		  });
		});
	</script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
	<script src="../page/luxury/watch/js/jquery.isotope.min.js" charset="EUC-JP"></script>
	<script>
$(function(){
var list = $('#itemList .inner');
list.isotope({
  getSortData : {
    brand01 : function ( $elem ) {
      return $elem.find('.brand01').text();
    },
    brand02 : function ( $elem ) {
      return $elem.find('.brand02').text();
    },
    brand03 : function ( $elem ) {
      return $elem.find('.brand03').text();
    },
    brand04 : function ( $elem ) {
      return $elem.find('.brand04').text();
    },
    brand05 : function ( $elem ) {
      return $elem.find('.brand05').text();
    },
    brand06 : function ( $elem ) {
      return $elem.find('.brand06').text();
    },
    brand07 : function ( $elem ) {
      return $elem.find('.brand07').text();
    },
    brand08 : function ( $elem ) {
      return $elem.find('.brand08').text();
    },
    brand09 : function ( $elem ) {
      return $elem.find('.brand09').text();
    },
	brand10 : function ( $elem ) {
      return $elem.find('.brand10').text();
    },
	brand11 : function ( $elem ) {
      return $elem.find('.brand11').text();
    }
  }
});
list.isotope({ layoutMode : 'fitRows' });
$('#sort-by a').click(function(){
  var sortName = $(this).attr('href').slice(1);
  list.isotope({ sortBy : sortName });
  return false;
});

});
</script>

</head>
<body id="sogo_seibu" class="itemPage category01 ladies">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li><a href="/rps/static/?f=page/luxury/watch/index&{tpl_var name=svid_get}">Watch</a></li>
		<li id="presentLocation">Ladies’</li>
	</ul>
	<div id="article"><span><img src="../page/luxury/watch/images/ladies130805_ttl01.png" alt="Ladies' Watch" width="825" height="42" /></span><a href="../static/?f=page/luxury/watch/index02&{%%svid%%}" class="rollover"><img src="../page/luxury/watch/images/ladies130805_btn01.png" alt="Men's Watch" width="125" height="42" /></a></div>

<div id="main">
		
<div id="itemCatalog">
	<ul id="sort-by">
    <li id="sort23"><a href="#brand11"><img src="../page/luxury/watch/images/btn_newarrival.png" alt="新着商品一覧" /></a></li>
    <li id="sort02"><a href="#brand02"><img src="../page/luxury/watch/images/ladies130805_nav_btn02.png" alt="ベダ&amp;カンパニー" /></a></li>
    <li id="sort04"><a href="#brand04"><img src="../page/luxury/watch/images/ladies130805_nav_btn04.png" alt="クレドール" /></a></li>
    <li id="sort08"><a href="#brand08"><img src="../page/luxury/watch/images/ladies_nav_btn08.png" alt="フランク・ミュラー" /></a></li>
    <li id="sort12"><a href="#brand10"><img src="../page/luxury/watch/images/nav_btn_gp.png" alt="ジラール・ペルゴ" /></a></li>  
    <li id="sort05"><a href="#brand05"><img src="../page/luxury/watch/images/ladies130805_nav_btn05.png" alt="オメガ" /></a></li>
	<!--li id="sort06"><a href="#brand06"><img src="../page/luxury/watch/images/ladies_nav_btn06.png" alt="ボヴェ" /></a></li-->
	<!--li id="sort07"><a href="#brand07"><img src="../page/luxury/watch/images/ladies_nav_btn07.png" alt="センチュリー" /></a></li-->
	<li id="sort09"><a href="#brand09"><img src="../page/luxury/watch/images/ladies_nav_btn09.png" alt="ジャガー・ルクルト" /></a></li>
	<!--li id="sort01"><a href="#brand01"><img src="../page/luxury/watch/images/ladies130805_nav_btn01.png" alt="ボーム&amp;メルシェ" /></a></li-->
	<li id="sort03"><a href="#brand03"><img src="../page/luxury/watch/images/ladies130805_nav_btn03.png" alt="カール　F.　ブヘラ" /></a></li>
    <li id="sort00"></li>
    <li id="sort10"></li>
    
	</ul>

<!-- アイテム高さ調整 -->
<style>
	.element {
		height: 420px;
	}
</style>
<div id="itemList">
<div class="inner ladiesList">

<!-- item140519_01 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">02</p> 
		<p class="brand02">01</p> 
		<p class="brand03">05</p> 
		<p class="brand04">04</p> 
		<p class="brand05">03</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=4483&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140519_item_img01.jpg" alt="＜Ref.384 ジャパン・リミテッド・エディション＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">ベダ&amp;カンパニー</li>
<li><h3><a href="../detail/?a=Item_detail&id=4483&{%%svid%%}">＜Ref.384 ジャパン・リミテッド・<br />エディション＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->

<!-- item140508_01 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">02</p> 
		<p class="brand02">01</p> 
		<p class="brand03">05</p> 
		<p class="brand04">04</p> 
		<p class="brand05">03</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">01</p>
	</div>
<a href="../detail/?a=Item_detail&id=4451&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140508_item_img01.jpg" alt="＜エクストラヴァガンザ＞（ストラップ）" width="313" height="246" /></a>
<ul class="new">
<li class="itemCat">ベダ&amp;カンパニー</li>
<li><h3><a href="../detail/?a=Item_detail&id=4451&{%%svid%%}">＜エクストラヴァガンザ＞（ストラップ）</a></h3></li>
</ul>
</div>
<!-- /.element -->



<!-- item02 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">02</p> 
		<p class="brand02">01</p> 
		<p class="brand03">05</p> 
		<p class="brand04">04</p> 
		<p class="brand05">03</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3676&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130805_item_img02.jpg" alt="＜No.3コレクション Ref:384＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">ベダ&amp;カンパニー</li>
<li><h3><a href="../detail/?a=Item_detail&id=3676&{%%svid%%}">＜No.3コレクション Ref:384＞<br />（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->

<!-- item140519_02 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">04</p> 
		<p class="brand02">03</p> 
		<p class="brand03">02</p> 
		<p class="brand04">01</p> 
		<p class="brand05">05</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=4482&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140519_item_img02.jpg" alt="＜ジュリ/GTWE892＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">クレドール</li>
<li><h3><a href="../detail/?a=Item_detail&id=4482&{%%svid%%}">＜ジュリ/GTWE892＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->

<!-- item04 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">04</p> 
		<p class="brand02">03</p> 
		<p class="brand03">02</p> 
		<p class="brand04">01</p> 
		<p class="brand05">05</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3674&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130805_item_img04.jpg" alt="＜シグノ　SSメッシュ＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">クレドール</li>
<li><h3><a href="../detail/?a=Item_detail&id=3674&{%%svid%%}">＜シグノ　SSメッシュ＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->

<!-- item140519_03 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">10</p> 
		<p class="brand02">10</p> 
		<p class="brand03">10</p> 
		<p class="brand04">10</p> 
		<p class="brand05">10</p>
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">01</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=4487&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/men140519_item_img03.jpg" alt="＜ロングアイランド＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">フランク・ミュラー</li>
<li><h3><a href="../detail/?a=Item_detail&id=4487&{%%svid%%}">＜ロングアイランド＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->


<!-- item140519_03 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">10</p> 
		<p class="brand02">10</p> 
		<p class="brand03">10</p> 
		<p class="brand04">10</p> 
		<p class="brand05">10</p>
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">01</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=4481&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140519_item_img03.jpg" alt="＜トノウ・カーベックス　レリーフ＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">フランク・ミュラー</li>
<li><h3><a href="../detail/?a=Item_detail&id=4481&{%%svid%%}">＜トノウ・カーベックス　レリーフ＞<br />（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->

<!-- item130820_01 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">10</p> 
		<p class="brand02">10</p> 
		<p class="brand03">10</p> 
		<p class="brand04">10</p> 
		<p class="brand05">10</p>
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">01</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3036&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130820_item_img07.jpg" alt="＜トノウ・カーベックス＞（ストラップカラー：ホワイト）" width="313" height="246" /></a>
<ul>
<li class="itemCat">フランク・ミュラー</li>
<li><h3><a href="../detail/?a=Item_detail&id=3036&{%%svid%%}">＜トノウ・カーベックス＞<br />（ストラップカラー：ホワイト）</a></h3></li>
</ul>
</div>
<!-- /.element -->


<!-- item140515_01 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">02</p> 
		<p class="brand02">06</p> 
		<p class="brand03">05</p> 
		<p class="brand04">04</p> 
		<p class="brand05">03</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">01</p>
        <p class="brand11">01</p>
	</div>
<a href="../detail/?a=Item_detail&id=4472&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140515_item_img01.jpg" alt="＜ヴィンテージ1945 レディ　日本・スイス国交 150 周年-記念モデル＞（ストラップ）" width="313" height="246" /></a>
<ul class="new">
<li class="itemCat">ジラール・ペルゴ</li>
<li>
  <h3><a href="../detail/?a=Item_detail&id=4472&{%%svid%%}">＜ヴィンテージ1945 レディ<br />日本・スイス国交 150 周年-記念モデル＞<br />（ストラップ）</a></h3></li>
</ul>
</div>
<!-- /.element -->




<!-- item07 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">05</p> 
		<p class="brand02">04</p> 
		<p class="brand03">03</p> 
		<p class="brand04">02</p> 
		<p class="brand05">01</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=4450&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies140508_item_img02.jpg" alt="＜レディマティック セドナゴールド＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">オメガ</li>
<li><h3><a href="../detail/?a=Item_detail&id=4450&{%%svid%%}">＜レディマティック セドナゴールド＞<br />（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->


<!-- item07 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">05</p> 
		<p class="brand02">04</p> 
		<p class="brand03">03</p> 
		<p class="brand04">02</p> 
		<p class="brand05">01</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3671&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130805_item_img07.jpg" alt="＜レディマティック＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">オメガ</li>
<li><h3><a href="../detail/?a=Item_detail&id=3671&{%%svid%%}">＜レディマティック＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->





<!-- item130820_01 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">10</p> 
		<p class="brand02">10</p> 
		<p class="brand03">10</p> 
		<p class="brand04">10</p> 
		<p class="brand05">10</p>
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">01</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3725&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130820_item_img09.jpg" alt="＜ランデヴー ナイト&#38;デイ29＞ レディースウオッチ（ストラップ）" width="313" height="246" /></a>
<ul>
<li class="itemCat">ジャガー・ルクルト</li>
<li><h3><a href="../detail/?a=Item_detail&id=3725&{%%svid%%}">＜ランデヴー ナイト&amp;デイ29＞（ストラップ）</a></h3></li>
</ul>
</div>
<!-- /.element -->




<!-- item03 -->
<div class="element transition" data-category="metalloid">
	<div class="infoBox">
		<p class="brand01">03</p> 
		<p class="brand02">02</p> 
		<p class="brand03">01</p> 
		<p class="brand04">05</p> 
		<p class="brand05">04</p> 
		<p class="brand06">10</p>
		<p class="brand07">10</p>
		<p class="brand08">10</p>
		<p class="brand09">10</p>
        <p class="brand10">10</p>
        <p class="brand11">10</p>
	</div>
<a href="../detail/?a=Item_detail&id=3675&{%%svid%%}" class="figure"><img src="../page/luxury/watch/images/ladies130805_item_img03.jpg" alt="＜アラクリア　ミニ＞（ブレスレット）" width="313" height="246" /></a>
<ul>
<li class="itemCat">カール　F.　ブヘラ</li>
<li><h3><a href="../detail/?a=Item_detail&id=3675&{%%svid%%}">＜アラクリア　ミニ＞（ブレスレット）</a></h3></li>
</ul>
</div>
<!-- /.element -->







</div>
<!-- /.inner -->
</div>
<!-- /#itemList -->

</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
