<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Royal Platinum News 4月号 APRIL 2014 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/rpn_news/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/rpn_news/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">ロイヤル・プラチナ  ニュース 4月号</li>
</ul>

<div id="main" class="apr2014 clearfix">

<div id="fontSize">
<div id="contents">

<h2 class="mb40"><img src="../page/rpn_news/images/rpn04_ttl.jpg" width="656" height="378" alt="華のタカラヅカ、まばゆい世界へ 100年の歴史を刻むタカラヅカのステージは、日常から遠く離れた夢の世界。一度扉を開いたら魅了せずにはおかないまばゆい世界に今年、いざなわれる。"></h2>

<div class="clearfix">
<div id="sec01" class="section sec01 clearfix">
<h3><img src="../page/rpn_news/images/rpn04_sttl01.png" width="82" height="351" alt="タカラヅカ、華麗な舞台の歴史"></h3>

<div class="text clearfix">
<p>宝塚歌劇は、1914年に現在の宝塚歌劇団の前身「宝塚少女歌劇養成会」が上演した宝塚少女歌劇第一回公演から始まりました。</p>
<p>演目は、北村季晴の歌劇「ドンブラコ」、本居長世の喜歌劇「浮れ達磨」、ダンス「胡蝶の夢」でした。各15分ほどの作品でしたが評判となりました。以後、お伽噺、神話、翻訳童話、オペラ、オペレッタなどから題材を取った創作歌劇を中心に公演が行われ、さまざまな新しい試みが取り入れられていき、現在に至ります。</p>
<p>現在は主に芝居とショーの2本立ての形式を取っていますが、初めて取り入れたレビューは、1927年上演の「モン・パリ」。歌劇団演出家の岸田辰彌が、研修先のフランスで当時流行していたシャンソンを日本で最初に紹介した作品です。タカラヅカのシンボル的な、大階段や銀橋、背負い羽などの登場やラインダンスもこの作品が最初となっています。</p>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

</div>	

<!-- /.sec01 --></div>

<div id="sec02" class="section sec02 mt45 clearfix">
<div class="secColumnL">
<div class="photo pr20"><img src="../page/rpn_news/images/rpn04_photo01.jpg" width="199" height="492" alt="「小田 一三」像" class="mb10" ></div>
<div class="text">
<p>タカラヅカが100年ものあいだ繁栄し続けたのは、創設者・小林一三の理念をつなぐ、独特の養成システムにあります。「清く、正しく、美しく」をモットーに、品格ある舞台をつくるため、タカラジェンヌほか、劇団専属の演出家、音楽家、照明、衣装などのすべてのスタッフは日々修練を積んでいます。</p>
<p>宝塚音楽学校を卒業した生徒は、歌劇団に入団し、数年は本公演のラインダンスに参加したり、「新人公演」でさらに舞台経験を積みます。本公演スケジュール中の1日だけ、入団7年目までのタカラジェンヌのみで同じ演目を上演する「新人公演」は、同時に若手演出家の育成の場にもなっています。</p>
<p>現役トップスターが主役を演じる本公演以外の舞台で主役をつとめる、限られた若手タカラジェンヌがスターとなる教育を受け、その中から次世代のトップスターが育っていきます。</p>
</div>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn04_sttl02.png" width="81" height="424" alt="人を育て、歴史を重ねるシステム"></h3>

</div>

<!--div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /#sec02 --></div>

<div id="sec03" class="section sec03 mt45 clearfix">
<div class="secColumnL">
<div class="photo pl20"><h3><img src="../page/rpn_news/images/rpn04_sttl03.png" width="81" height="274" alt="宝塚大劇場と東京宝塚劇場"></h3></div>
<div class="text">
<p>タカラヅカの本公演は、宝塚大劇場と東京宝塚劇場で行われます。</p>
<p>宝塚市にある宝塚大劇場とその周辺は、地元だけに街全体が盛り上がる感じがします。とくに、100周年の今年は、街のあちこちにポスターが飾られたり、駅に記念のディスプレーがされていたりしてお祝いムードが感じられます。</p>
<p>宝塚大劇場の2階と3階は衣装や小道具などの展示室になっており、4月5日（土）から、宝塚歌劇の発展に貢献した方々をたたえる「宝塚歌劇の殿堂」が、100周年を記念してオープンするようです。</p>
<p>東京宝塚劇場は、アクセスの良さから日本全国からお客さまがいらっしゃいます。本公演は先に宝塚大劇場で上演されますが、公演を重ねるごとにブラッシュアップされて、東京宝塚劇場での初日には、また違った味わいの舞台になります。それを楽しみに、宝塚にも東京にも、繰り返し劇場に足を運ばれるファンがいるほどです。</p>
</div>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<div class="photo pr20"><img src="../page/rpn_news/images/rpn04_photo02.jpg" width="184" height="499" alt="東京宝塚劇場（東京都千代田区）" class="mb10" ></div>

</div>

<!--div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /#sec03 --></div>


<div id="sec04" class="section sec04 mt35 clearfix">
<div class="secColumnL">
<div class="text">
<p>タカラジェンヌはもちろんすべてのスタッフに至るまでの、お客さまに対する姿勢には「日本古来のおもてなしの心」を感じることができます。</p>
<p>たとえば、タカラヅカでは常にお客さまに楽しんでいただけるよう、場面転換中にライトを落として暗転したりはしません。銀橋やセリを利用して、時間や空間を別のものに演出することで次の場面をつないだりするほど工夫をして、間をつくらないのです。また、歴史ものの演目の時代考証には細心の注意をはらい、隙のない舞台づくりをしています。</p>
<p>さらに、人気のゲームやテレビドラマを題材にするなど、新しいことに挑戦もしています。舞台効果にCG映像を流したり、大掛かりな仕掛けをつくったりと、お客さまを引きつける努力をし、進化し続けています。</p>
<p>災害などの際に募金活動をするなど、華やかだけではない社会的な側面もあります。こうした、一過性の人気とは違った確かな存在感で、夢と勇気をくれるのがタカラヅカなのです。</p>
</div>
<div class="photo mt15"><img src="../page/rpn_news/images/rpn04_photo03.jpg" width="517" height="330" alt="東京宝塚劇場（東京都千代田区）" ></div>
</div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn04_sttl04b.png" width="85" height="382" alt="“お客さまのために”進化し続ける"></h3>
</div>
<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /.sec04 --></div>
</div>


<div id="sec5" class="section sec05 mt45 clearfix">
<img src="../page/rpn_news/images/rpn04_infotl.png" width="654" height="24" alt="!information">

<div class="innerbox">
<img src="../page/rpn_news/images/rpn04_info_sub01.png" width="545" height="28" alt="東京宝塚劇場 宝塚歌劇『月組』公演" class="mb15">

<img src="../page/rpn_news/images/rpn04_info_sub02.png" width="511" height="38" alt="100周年を迎えた宝塚歌劇『月組』公演のチケットを、先行販売いたします。ファンのみならず注目の人気チケットです。ご予約はお早めに。" class="mb15">

<div class="text"><span>公演：「宝塚をどり」「明日への指針―センチュリー号の航海日誌―」「TAKARAZUKA 花詩集100!!」</span><br />
日時：5月17日（土）・24日（土）／午前11時開演、6月3日（火）／午後1時30分開演<br />
場所：東京宝塚劇場（日比谷）<br />
※くわしくは、ホームページ <a href="http://www.7cs-card.jp" target="_blank">http://www.7cs-card.jp</a>からNetアンサーをご確認ください。</div>

</div>
</div>

<div class="caption mt10">写真提供：東京宝塚劇場</div>
<!-- /#contents --></div>

<div id="side">
<h1><img src="../page/rpn_news/images/rpn04_logo01.jpg" width="240" height="240" alt="Royal Platinum News 4月号 APRIL 2014"></h1>

<div class="navList clearfix">
<p><img src="../page/rpn_news/images/rpn04_lead.png" width="25" height="383" alt="華のタカラヅカ、まばゆい世界へ"></p>
<ul>
<li class="ml30"><a href="#sec01"><img src="../page/rpn_news/images/rpn04_nav01.png" width="15" height="254" alt="タカラヅカ、華麗な舞台の歴史"></a></li>
<li class="ml30"><a href="#sec02"><img src="../page/rpn_news/images/rpn04_nav02.png" width="16" height="275" alt="人を育て、歴史を重ねるシステム"></a></li>
<li class="ml30"><a href="#sec03"><img src="../page/rpn_news/images/rpn04_nav03.png" width="15" height="231" alt="宝塚大劇場と東京宝塚劇場"></a></li>
<li><a href="#sec04"><img src="../page/rpn_news/images/rpn04_nav04.png" width="19" height="284" alt="“お客さまのために”進化し続ける"></a></li>
</ul>		
</div>

<div class="anunc">
<p>ロイヤル・プラチナ会員さまへ毎月お届けする「ロイヤル・プラチナ ニュース」の特集をさらにくわしくご紹介いたします。</p>
</div>

<div class="navigtr">
<p class="mb20"><img src="../page/rpn_news/images/rpn04_navigator.jpg" width="240" height="114" alt="今月のナビゲーター 加藤　暁子(かとう　あきこ) 十文字学園女子大学 短期大学部 表現文化学科准教授"></p>
<p>1964年東京都生まれ。大妻女子大学家政学部被服学科卒業。東京経済大学大学院コミュニケーション学研究科博士後期課程単位取得。専門は「芸術文化」。宝塚歌劇を中心に年間100公演近い舞台を観劇し、十文字学園女子大学短期大学部にて「宝塚研究」の講義も担当する。宝塚歌劇に関しては、舞台内容だけでなく、その独特の衣装や経営戦略などにも着目して魅力を世に紹介。主著は、『宝塚歌劇団スタディーズ』（夷光祥出版・共著）。</p>
</div>

<!-- .backnumber -->
<div class="backnumber">
<p><img src="../page/rpn_news/images/rpn01_ssttl02.png" width="140" height="16" alt="バックナンバー"></p>
<ul>
<li class="jan2014"><a href="/rps/static/?f=page/rpn_news/index&{%%svid%%}
"><img src="../page/rpn_news/images/rpn01_bk_01.png" width="240" height="110" alt="1月号「初春、いざ城へ」"></a></li>
<li class="feb2014"><a href="/rps/static/?f=page/rpn_news/index_02&{%%svid%%}
"><img src="../page/rpn_news/images/rpn02_bk_02.jpg" width="240" height="110" alt="2月号「早春　スポーツに目覚める」"></a></li>
<li class="mar2014"><a href="/rps/static/?f=page/rpn_news/index_03&{%%svid%%}
"><img src="../page/rpn_news/images/rpn03_bk_03.jpg" width="240" height="110" alt="3月号「愉楽の大人修学旅行」" onContextMenu="return false"></a></li>
<li class="apr2014"><a href="/rps/static/?f=page/rpn_news/index_04&{%%svid%%}
"><img src="../page/rpn_news/images/rpn04_bk_04.png" width="240" height="110" alt="4月号「華のタカラヅカ、まばゆい世界へ」"></a></li>
</ul>
</div>

<!-- /.backnumber -->

<!-- /.sideNav --></div>

<!-- /#fontSize --></div>

<!-- /#main --></div>

<!--div class="ftr pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

					

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
