@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}



/*main*/
#main {
	width:950px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:40px;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
#main .sec_cnts li img {
border: 1px solid #dcdcdc;
}

/*title*/
.sec_title {
	margin-bottom:30px;
}
.sec_title h2 {
	background:url(../images/title_bg.jpg) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:20px;
}



/*header*/
.sec_header {
	background:url(../images/header_bg.jpg) no-repeat;
	width:100%;
	height:305px;
	position:relative;
}
.sec_header h1 {
	position:absolute;
	left:240px;
	top:20px;
}
.sec_header p {
	position:absolute;
	left:320px;
	top:84px;
}
.sec_header ul {
	position:absolute;
	left:21px;
	top:121px;
}
.sec_header ul li {
	float:left;
	margin-right:5px;
}



/*cnav*/
.sec_cnav {
	background:#edebf2;
	padding:20px 0 20px 20px;
}
.sec_cnav ul li {
	float:left;
	margin-right:14px;
}



/*nav*/
.sec_nav {
	background:#e9e9e9;
	padding:20px 0 20px 20px;
}
.sec_nav .sttl {
	margin-top:-10px;
	margin-bottom:10px;
}
.sec_nav ul li {
	float:left;
}
.sec_nav ul.ul5 li {
	margin-right:20px;
}
.sec_nav ul.ul2 li {
	margin-right:30px;
}



/*parts*/
#main .txt01 {
	font-size:116.7%;
	color:#ff5b5b;
	padding:10px 0;
}
#main .txt01 img {
	margin-bottom:5px;
}
#main ul li.last {
	margin-right:0 !important;
}



/*nav*/
.sec_cnts {
	padding-top:55px;
}
.sec_cnts .sttl {
	background:url(../images/ico02.gif) no-repeat left center;
	font-size:150%;
	padding-left:20px;
	margin-bottom:20px;
}
.sec_cnts ul li {
	float:left;
}
.sec_cnts ul li.last {
	margin-right:0 !important;
}
.sec_cnts ul.ul5 li {
	width:182px;
	margin-right:10px;
}
.sec_cnts ul li a {
	color:#000;
}
.sec_cnts ul li p {
	margin-top:5px;
}




/*module*/
.mr0 {
	margin-right:0 !important;
}
.ml20 {
	margin-left:20px !important;
}
.mb10 {
	margin-bottom:10px !important;
}
.mb20 {
	margin-bottom:20px !important;
}
.mb25 {
	margin-bottom:25px !important;
}
.mb40 {
	margin-bottom:40px !important;
}
.mb50 {
	margin-bottom:50px !important;
}
.pt5 {
	padding-top:5px !important;
}
.pt20 {
	padding-top:20px !important;
}
