
@charset "EUC-JP";
body {
	background:#fff;
}

#main {
	background: url(../images/bg_repeat.jpg) repeat-x center top;
	margin-bottom: 30px;
}
#inner {
	margin: 0 auto;
	width: 950px;
	position: relative;
}
#inner p.link01 {
	position: absolute;
	left: 333px;
	top: 360px;
	z-index:20;
}
#inner p.link02 {
	position: absolute;
	left: 364px;
	top: 569px;
	z-index:20;
}
#inner p.link03 {
	position: absolute;
	left: 115px;
	top: 760px;
	z-index:20;
}
#inner p.link04 {
	position: absolute;
	left: 559px;
	top: 907px;
	z-index:20;
}


#inner p.link01ph {
	position: absolute;
	left: 411px;
	top: 0px;
	z-index:5;
}
#inner p.link02ph {
	position: absolute;
	left: 7px;
	top: 363px;
	z-index:10;
}
#inner p.link03ph {
	position: absolute;
	left: 194px;
	top: 711px;
	z-index:10;
}
#inner p.link04ph {
	position: absolute;
	left: 688px;
	top: 792px;
	z-index:10;
}