@charset "EUC-JP";
@import url("../../../_common/css/global-fontsizemedium.css");

.sidebar ul .Linetwo a, .sidebar ul .Linetwo span{
	padding:6px 0;
	line-height:1.5 !important;
}
.sidebar ul .Linethree a, .sidebar ul .Linethree span {
	padding:6px 0;
	line-height:1.5 !important;
}
.sidetrial ul .Linetwo a,.sidetrial ul .Linetwo span {
	padding:6px 0;
	line-height:1.5 !important;
}
#guideleft, .box, .gotoPagetop, .anchorList, .guidebox {
	font-size:12px;
}
.guidemain .box h3, .guidebox h3 {
	font-size:14px;
}