<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>コート特集 | ファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/coat_2013/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/coat_2013/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/coat_2013/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/coat_2013/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/coat_2013/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>
		<li id="presentLocation">2013-2014秋冬 レディース コート・コレクション</li>
	</ul>
	<div id="main">
    <h1 class="ttl"><img src="../page/coat_2013/images/title.jpg" alt="2013-14秋冬 レディース コート・コレクション 大人の女性の秋冬スタイルを演出する、エレガントなコートをそろえました。西武・そごうの限定品も交えてご紹介いたします。" /></h1>
		<div id="itemCatalog">
			<ul class="clearfix">
            <li><a href="../detail/?a=Item_detail&id=3855&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn01_off.jpg" alt="マックスマーラ　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3856&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn02_off.jpg" alt="エポカ　ファーコート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3857&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn03_off.jpg" alt="ストラネス　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3858&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn04_off.jpg" alt="ユキトリヰ　コート" /></a></li>
            <li class="RBlk"><a href="../detail/?a=Item_detail&id=3859&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn05_off.jpg" alt="ヨシエイナバ　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3860&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn06_off.jpg" alt="ダックス　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3861&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn07_off.jpg" alt="ポール カ　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3862&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn08_off.jpg" alt="バジーレ28　コート" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3863&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn09_off.jpg" alt="ランバンコレクション　ダウンコート" /></a></li>
            <li class="RBlk"><a href="../detail/?a=Item_detail&id=3864&{%%svid%%}"><img src="../page/coat_2013/images/cnt_btn10_off.jpg" alt="コトゥー　ダウンコート" /></a></li>
            </ul>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
