<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ホライズン ホーム・フィットネス・マシン | ライフスタイル | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/horizon/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/horizon/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/horizon/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/horizon/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/horizon/css/colorbox.css" type="text/css" media="screen" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/horizon/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/horizon/js/jquery.colorbox.js" type="text/javascript" charset="EUC-JP"></script>
    <script>
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				$(".iframe").colorbox({iframe:true, width:"640px", height:"380px"});
			});
	</script>
    
          <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('.h_new').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->
    
<!--[if IE 6]>
<script src="../page/horizon/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ライフスタイル</a></li>
		<li id="presentLocation">ホライズン ホーム・フィットネス・マシン</li>
	</ul>
<div id="maincontainer" class="mb30">
<div id="main">
    <h1><img src="../page/horizon/images/main.jpg" width="950" height="220" alt="Designed For Life? デザインド フォー ライフ? ホーム フィットネス マシン HOME FITNESS MACHINE ご自宅で、いつでも気軽に、本格的なフィットネスを。優れた性能を誇る“ホライズン”のマシンは、あなたさまの健康維持、増進をサポートします。" /></h1>
</div>
</div>

<div id="wrapper_horizon">



<div class="innerbox mb40 clearfix">

<div class="btnbox mr30">
<p class="mb10"><a href="../detail/?a=Item_detail&id=5563&{%%svid%%}"><img src="../page/horizon/images/horizon_150427_1.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2015.5.11.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜アドニス ベンチ＋バーラック＞ アドニス</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=5563&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">自宅で本格的なウエイトトレーニングができる<br />
バーベルラックとベンチのセット</div>
</div>
</div><!--btnbox-->

<div class="btnbox">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4577&{%%svid%%}"><img src="../page/horizon/images/horizon_140715_1.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2014.7.29.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜トレッドミル＞ エヴォルブCS</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4577&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">前ハンドル部にグリップ心拍センサーを搭載<br />
スタイリッシュなルームランナー</div>
</div>
</div><!--btnbox-->

</div>


<div class="innerbox mb40 clearfix">

<div class="btnbox mr30">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4393&{%%svid%%}"><img src="../page/horizon/images/horizon_140410_1.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2014.4.24.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜リカンベントバイク＞ コンフォートR</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4393&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">乗り降りしやすいステップスルー構造の<br />背もたれ付き安心リカンベントバイク</div>
</div>
</div><!--btnbox-->

<div class="btnbox">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4322&{%%svid%%}"><img src="../page/horizon/images/horizon_01.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2014.3.21.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜ホームジムマシン＞ トーラス4</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4322&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">一台で数十種類ものワークアウトが可能な<br />高い耐久性のホームジムマシン</div>
</div>
</div><!--btnbox-->

</div>


<div class="innerbox mb40 clearfix">

<div class="btnbox mr30">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4321&{%%svid%%}"><img src="../page/horizon/images/horizon_02.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2014.3.21.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜インドアサイクル＞ エス3</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4321&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">ハードなトレーニングにも耐えられる<br />本格仕様のインドアサイクル</div>
</div>
</div><!--btnbox-->

<div class="btnbox">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4081&{%%svid%%}"><img src="../page/horizon/images/ho01_eleteT5000.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2013.12.31.9</div></div><!-- newマークギミック -->
<p class="mb10"><span>＜トレッドミル＞ エリートT5000</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4081&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">スポーツクラブ等で使われている<br />業務用とほぼ同品質のプレミアムマシン </div>
</div>
</div><!--btnbox-->

</div>


<div class="innerbox mb40 clearfix">

<div class="btnbox mr30">
<p class="mb10"><a href="../detail/?a=Item_detail&id=4080&{%%svid%%}"><img src="../page/horizon/images/ho02_comfort7.jpg" width="459" height="257" alt="" /></a></p>
<!-- newマークギミック --><div class="h_new"><span class="newIcn"></span><div class="closeDate">2013.12.31.9</div></div><!-- newマークギミック -->
<p class="mb10"><span> ＜アップライトバイク＞ コンフォート7</span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=4080&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">より乗りやすく進化した<br />省スペースなアップライトバイク</div>
</div>
</div><!--btnbox-->

<div class="btnbox">
<p class="mb10"><a class='iframe' href="/rps/static/?f=page/horizon/movie02&{%%svid%%}"><img src="../page/horizon/images/img02_off.jpg" width="459" height="257" alt="＜トレッドミル＞ オメガ3 動画を見る" /></a></p>
<p class="mb10"><span>＜トレッドミル＞ オメガ3 </span></p>
<div class="btnarea">
<div class="rightbox"><p><a href="../detail/?a=Item_detail&id=3870&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p></div>
<div class="leftbox">シンプルなデザインと<br />機能が充実したハイスペックマシン </div>
</div>
</div><!--btnbox-->

</div>






<div class="bottom_area mb40 clearfix">
<div class="leftarea mr30"><p><a class='iframe' href="/rps/static/?f=page/horizon/movie05&{%%svid%%}"><img src="../page/horizon/images/img05_off.jpg" width="437" height="220" alt="パスポートプレーヤー 動画を見る" /></a></p></div>
<div class="rightarea">
<div class="textarea mb10">
<p class="mb10"><span>パスポートプレーヤー </span></p>
<p class="mb10">世界に実在する国立公園や都市を実際に走っているかのような臨場感。<br />次世代カーディオプログラム。 </p>
</div>

<p class="mb20">【対応機種】<br />＜トレッドミル＞ エリートT5000、＜トレッドミル＞ パラゴン6、＜アップライトバイク＞ コンフォート7、＜リカンベントバイク＞ コンフォートR </p>

<p><a href="../detail/?a=Item_detail&id=3867&{%%svid%%}"><img src="../page/horizon/images/btn01_off.gif" width="180" height="35" alt="商品詳細はこちら" /></a></p>
</div>
</div>

</div><!--wrapper-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
