@charset "EUC-JP";
@import url("../global-fontsizelarge.css");

h1 {
	font-size: 16px;
}
#price, #purchaseForm h3, #purchaseForm textarea, #desc, #desc2, #spec table, #spec3 li {
	font-size: 14px;
}
#price strong {
	font-size: 20px;
}
#itemInfo .message, #spec li, #itemNotice li, #spec2, #itemPhotoWide li, #spec .fs001 {
	font-size: 12px;
}
#selectBoxes select {
	font-size: 13px;
}
