<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>日比谷花壇 | ライフスタイル | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/hibiyakadan/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/hibiyakadan/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/hibiyakadan/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/hibiyakadan/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/hibiyakadan/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
    
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">日比谷花壇</li>
	</ul>
	<div id="brand"><img src="../page/hibiyakadan/images/hibiya.jpg" alt="日比谷花壇 フラワーサービス" /></div>
	<div id="main">
	<div id="com1"><img src="../page/hibiyakadan/images/com_01.jpg"  alt="大切な方への贈り物や自分へのご褒美に　◆全国送料無料サービス　16,200円（税込）以上のご利用で、ブリザードフラワーをはじめ花束や胡蝶蘭を全国無料でお届けいたします" /></div>
	<div id="itemCatalog">

			<div>
				<a href="../detail/?a=Item_detail&id=9006&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_170130_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.02.13.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=9006&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				フラワーフレームアート「エルローズ」</h1></a>
			</div>

			<div>
				<a href="../detail/?a=Item_detail&id=8440&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_161021_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.11.04.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=8440&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				フラワーフレームアート「ジェルメ」</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8441&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_161021_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.11.04.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=8441&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				フラワーフレームアート「アフェット」</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8442&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_161021_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.11.04.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=8442&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				フラワーフレームアート「プルミエローズ」</h1></a>
			</div>

			<div>
				<a href="../detail/?a=Item_detail&id=8444&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_161021_05.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.11.04.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=8444&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				プリザーブド&アーティフィシャルアレンジメント「セレブシオン」</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8445&{%%svid%%}"><img src="../page/hibiyakadan/images/hibiya_161021_06.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.11.04.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=8445&{%%svid%%}">
				<h1>【全国配送料無料】<br />
				プリザーブド&アーティフィシャルアレンジメント「サンセット」</h1></a>
			</div>

	
		</div>

	<div id="com2"><img src="../page/hibiyakadan/images/com_02.jpg" alt="花束や胡蝶蘭などもご用意しております。　くわしくは、担当セールスまでお気軽にお問い合わせください。" /></div>
	<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/hibiyakadan/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/hibiyakadan/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/hibiyakadan/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」よりご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>

		</div>

		</div>


		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
