@charset "EUC-JP";

#main {
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background: #fff;
}
#mainvisual {
	width: 100%;
	height: 280px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background-color: #edf2fb;
	position:relative;
	overflow:hidden;
}
#itemList h1 {
	background: url("../images/wjc_h2.jpg") no-repeat left center;
	height:40px;
	line-height: 42px;
	padding-left:12px;
	font-size:15px;
	font-weight:bold;
	color:#3057ac;
	margin-bottom:10px;
}
#itemList h1 span {
	font-size:11px;
	font-weight:normal;
	color:#000;
	padding-left:16px;
}
#itemList{
	clear:both;
	margin:0 0 15px 0;
}
#itemList div{
	float:left;
	width:276px;
	margin:0 12px 20px 0;
}
#itemList div.end{
	float:left;
	width:276px;
	margin:0 0 20px 0;
}
#itemList div img{
	width:273px;
	height:205px;
	border:#dddddd 1px solid;
}
#itemList div a:hover img {
    opacity: 0.5;
}
#itemList div h2{
	margin:7px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    line-height: 1.5;
}
#itemList div a{
	color:#000;
}
#itemList div a:hover{
	color: #9f8b65;
}
#itemList:after {
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}
#itemList div .price {
	background: url("../images/icon_s-price.gif") no-repeat;
	height:18px;
	padding-left:70px;
	margin: 5px 0 0 0;
}
