<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ｺﾞｰﾙﾄﾞ会員さま 特別ご優待 期間限定企画 『春のｴｽﾃﾃｨｯｸ ご優待ｺｰｽ』特別販売</title>
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#000000">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_ttl01.gif" alt="ｺﾞｰﾙﾄﾞ会員さま特別ご優待期間限定企画｢ｴｽﾃﾃｨｯｸｻﾛﾝ ｿｼｴ｣｢たかの友梨 ﾋﾞｭｰﾃｨｸﾘﾆｯｸ｣｢ｴｽﾃﾃｨｯｸ ﾐｽ･
ﾊﾟﾘ｣｢ｴｽﾃﾃｨｯｸｻﾛﾝ ｹﾞﾗﾝ ﾊﾟﾘ｣｢ｿﾜﾝﾄﾞ･ｾﾚﾈ｣ 合同企画『春のｴｽﾃﾃｨｯｸ ご優待ｺｰｽ』特別販売" width="100%" />
</center>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">西武･そごうにある各ｴｽﾃﾃｨｯｸｻﾛﾝから､期間限定のｴｽﾃﾃｨｯｸ特別ご優待ﾌﾟﾗﾝをご案内いたします｡</font></td>
</tr>
</table>

<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_img01.gif" alt="お申し込み期間:1月20日(月)から2月28日(金) ﾌﾟﾚﾐｱﾑｺｰｽ有効期間:ご購入時から2年間" />
</center>
<font size="-2"><br /></font>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_img02.gif" alt="お得なｴｽﾃﾃｨｯｸｺｰｽを“今”この価格で さらに永久不滅ﾎﾟｲﾝﾄが2倍貯まります" />
</center>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
※ｻｰﾋﾞｽ内容が各ｻﾛﾝによって異なりますので､くわしくはお申し込みのｻﾛﾝへお問い合わせください｡<br />
<br />
[お申し込み･お問い合わせ] 下記の店舗で承ります｡<br />
</font></td>
</tr>
</table><br />

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img01.gif" alt="1. まずはお試しください 1回ﾄﾗｲｱﾙｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td valign="top" style="vertical-align:top">
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img02.jpg" alt="" />
</td>
<td>
<font color="#ffffff" size="-1">
まずは体験してみたいという方に､気軽にお試しいただけるﾌｪｲｼｬﾙやﾎﾞﾃﾞｨｰなどを､ご優待価格でご体験いただけます｡<br />
</font>
</tr>
</table>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">特別ご優待価格</font><br />
<font color="#ffffff" size="-1">
お一人さま1回 10,500円ﾌﾟﾗﾝ(税込)<br />
※新規ご利用の方に限ります｡<br />
※ｴｽﾃﾃｨｯｸｻﾛﾝ ｹﾞﾗﾝ ﾊﾟﾘは14,700円(税込)となります｡<br />
</font></td>
</tr>
</table><br />

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img03.gif" alt="2. 効果を実感された方には… お得なﾌﾟﾚﾐｱﾑｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td valign="top" style="vertical-align:top">
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img04.jpg" alt="" />
</td>
<td>
<font color="#ffffff" size="-1">
特別ご優待ｺｰｽをまとめてご購入いただける､お得なﾊﾞﾘｭｰﾌﾟﾗﾝを3種類ご用意いたしました｡<br />
</font>
</tr>
</table>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">特別ご優待価格</font><br />
<font color="#ffffff" size="-1">
･105,000円ﾌﾟﾗﾝ(税込)<br />
･210,000円ﾌﾟﾗﾝ(税込)<br />
･315,000円ﾌﾟﾗﾝ(税込)<br />
</font></td>
</tr>
</table>

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">
ｴｽﾃﾃｨｯｸｻﾛﾝ ｿｼｴ
</font></td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img05.jpg" alt="" />
</center>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">◆入会金無料</font>
<font color="#ffffff" size="-1">
(通常税込21,000円)<br />
※ﾌﾟﾚﾐｱﾑｺｰｽご購入のお客さまのみ対象<br />
<br />
･西武渋谷店<br />
･西武所沢店<br />
･西武秋田店<br />
･西武春日部店<br />
･そごう千葉店<br />
･そごう大宮店<br />
･そごう西神店<br />
･そごう徳島店<br />
<br />
ｿｼｴ ﾌﾘｰﾀﾞｲﾔﾙ<br />
※各店へおつなぎいたします｡<br />
<a href="tel:0120041136"><font color="#b4910c" size="-1">TEL:0120(04)1136</font></a><br />
<br />
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/page04&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;ｺｰｽ内容･特典はこちら</font></a><br />
</font></td>
</tr>
</table>

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">
たかの友梨 ﾋﾞｭｰﾃｨｸﾘﾆｯｸ
</font></td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img06.jpg" alt="" />
</center>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">◆入会金無料</font>
<font color="#ffffff" size="-1">
(通常税込31,500円)<br />
※ﾌﾟﾚﾐｱﾑｺｰｽご購入のお客さまのみ対象<br />
<br />
･西武船橋店<br />
<a href="tel:0474232871"><font color="#b4910c" size="-1">TEL:047(423)2871</font></a><br />
･西武筑波店<br />
<a href="tel:0298541107"><font color="#b4910c" size="-1">TEL:029(854)1107</font></a><br />
･そごう柏店<br />
<a href="tel:0471621107"><font color="#b4910c" size="-1">TEL:04(7162)1107</font></a><br />
※電話番号は各ｻﾛﾝ直通番号となります｡<br />
<br />
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/page03&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;ｺｰｽ内容･特典はこちら</font></a><br />
</font></td>
</tr>
</table>

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">
ｴｽﾃﾃｨｯｸ ﾐｽ･ﾊﾟﾘ
</font></td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img07.jpg" alt="" />
</center>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
･西武東戸塚店<br />
<a href="tel:0458281016"><font color="#b4910c" size="-1">TEL:045(828)1016</font></a><br />
･西武高槻店<br />
<a href="tel:0726682193"><font color="#b4910c" size="-1">TEL:072(668)2193</font></a><br />
※電話番号は各ｻﾛﾝ直通番号となります｡<br />
<br />
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/page01&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;ｺｰｽ内容･特典はこちら</font></a><br />
</font></td>
</tr>
</table>

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">
ｴｽﾃﾃｨｯｸｻﾛﾝ ｹﾞﾗﾝ ﾊﾟﾘ
</font></td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img08.jpg" alt="" />
</center>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
･そごう広島店<br />
<a href="tel:0825127570"><font color="#b4910c" size="-1">TEL:082(512)7570</font></a><br />
※電話番号はｻﾛﾝ直通番号となります｡<br />
<br />
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/page04&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;ｺｰｽ内容･特典はこちら</font></a><br />
</font></td>
</tr>
</table><br />

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">
ｿﾜﾝﾄﾞ･ｾﾚﾈ
</font></td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img09.jpg" alt="" />
</center>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
･西武大津店<br />
<a href="tel:0775100755"><font color="#b4910c" size="-1">TEL:077(510)0755</font></a><br />
･そごう神戸店<br />
<a href="tel:0782210099"><font color="#b4910c" size="-1">TEL:078(221)0099</font></a><br />
※電話番号は各ｻﾛﾝ直通番号となります｡<br />
<br />
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/page05&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;ｺｰｽ内容･特典はこちら</font></a><br />
</font></td>
</tr>
</table><br />

<div style="background-color:#ffe4e4;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img10.gif" alt="【ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ 会員さま限定特典】ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ 会員さま限定の特典といたしまして､｢ｴｽﾃﾃｨｯｸｻﾛﾝ ｿｼｴ｣｢たかの友梨 ﾋﾞｭｰﾃｨｸﾘﾆｯｸ｣｢ｴｽﾃﾃｨｯｸ ﾐｽ･ﾊﾟﾘ｣｢ｴｽﾃﾃｨｯｸｻﾛﾝ ｹﾞﾗﾝ ﾊﾟﾘ｣｢ｿﾜﾝﾄﾞ･ｾﾚﾈ｣から､ご優待ｺｰｽご予約の方に､ささやかなﾌﾟﾚｾﾞﾝﾄをご用意いたしました｡※くわしくは､各ｻﾛﾝの｢ｺｰｽ内容･特典｣をご覧いただくか､各ｻﾛﾝへ直接お問い合わせください｡" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">[同時開催]</font><br />
<font color="#ffffff" size="-1">
ご優待期間 1月20日(月)〜2月28日(金)<br />
</font>
<font color="#b4910c" size="-1">そごう横浜店<br />
ｸﾚ･ﾄﾞ･ﾎﾟｰ ﾎﾞｰﾃ ｻﾛﾝ</font>
</td>
</tr>
</table>
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img11.gif" alt="" />
</center>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
全ﾒｲﾝﾒﾆｭｰを通常価格から10％ご優待<br />
※％OFF表示は､ｸﾚ･ﾄﾞ･ﾎﾟｰ ﾎﾞｰﾃ ｻﾛﾝの通常価格からの割引率表示です｡<br />
※くわしくはｻﾛﾝにお問い合わせください｡<br />
<a href="tel:0454405533"><font color="#b4910c" size="-1">TEL:045(440)5533</font></a><br />
</font>
</td>
</tr>
</table>

<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_bg01.gif" width="100%" height="1" alt="" />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#ffffff" size="-1">
※ｻｰﾋﾞｽ内容が各ｻﾛﾝによって異なりますので､くわしくはお申し込みのｻﾛﾝへお問い合わせください｡<br />
<br />
[お申し込み･お問い合わせ] 上記の店舗で承ります｡<br />
<br />
※写真はすべてｲﾒｰｼﾞです｡
</font></td>
</tr>
</table>


{%%authfooter%%}

</div>