<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ｺﾞｰﾙﾄﾞ会員さま 特別ご優待 期間限定企画 『春のｴｽﾃﾃｨｯｸ ご優待ｺｰｽ』特別販売</title>
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#000000">

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">ｴｽﾃﾃｨｯｸ ﾐｽ･ﾊﾟﾘ</font><br />
<font color="#ffffff" size="-1">
<br />
･西武東戸塚店<br />
<a href="tel:0458281016"><font color="#b4910c" size="-1">TEL:045(828)1016</font></a><br />
･西武高槻店<br />
<a href="tel:0726682193"><font color="#b4910c" size="-1">TEL:072(668)2193</font></a><br />
※電話番号は各ｻﾛﾝ直通番号となります｡<br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img01.gif" alt="1. まずはお試しください 1回ﾄﾗｲｱﾙｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■10,500円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
ﾎﾞﾃﾞｨｰ+ﾌｪｲｼｬﾙ体験<br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img03.gif" alt="2. 効果を実感された方には… お得なﾌﾟﾚﾐｱﾑｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■105,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ﾎﾞﾃﾞｨｰ 5回<br />
･ﾌｪｲｼｬﾙ 5回<br />
<br />
</font>
<font color="#cc0000" size="-1">■210,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ﾎﾞﾃﾞｨｰ 8回<br />
･ﾌｪｲｼｬﾙ 8回<br />
<br />
</font>
<font color="#cc0000" size="-1">■315,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ﾎﾞﾃﾞｨｰ 11回+ﾀﾞｲｴｯﾄ食品<br />
･ﾌｪｲｼｬﾙ 11回+ｻﾌﾟﾘﾒﾝﾄ<br />
<br />
※施術時間など､くわしくは各ｻﾛﾝにお問い合わせください｡<br />
</font>
</font></td>
</tr>
</table>


<div style="background-color:#ffe4e4;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_p01_cat01_img01.gif" alt="【ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ 会員さま限定特典】･｢1回ﾄﾗｲｱﾙｺｰｽ｣ご予約の方に､ｴｲｼﾞﾝｸﾞｽｷﾝｹｱﾄﾗｲｱﾙｾｯﾄ(ｻﾝﾌﾟﾙ)をﾌﾟﾚｾﾞﾝﾄ｡ﾌﾟﾚｾﾞﾝﾄのお受け取りは､本画面を受付にご提示ください｡" />
</center>
</div>
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td align="right" style="text-align:right">
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/index&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;前のﾍﾟｰｼﾞに戻る</font></a><br />
</td>
</tr>
</table>



{%%authfooter%%}

</div>