<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ｺﾞｰﾙﾄﾞ会員さま 特別ご優待 期間限定企画 『春のｴｽﾃﾃｨｯｸ ご優待ｺｰｽ』特別販売</title>
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#000000">

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">ｴｽﾃﾃｨｯｸｻﾛﾝ ｿｼｴ</font><br />
<font color="#ffffff" size="-1">
<br />
･西武渋谷店<br />
･西武所沢店<br />
･西武秋田店<br />
･西武春日部店<br />
･そごう千葉店<br />
･そごう大宮店<br />
･そごう西神店<br />
･そごう徳島店<br />
<br />
ｿｼｴ ﾌﾘｰﾀﾞｲﾔﾙ<br />
※各店へおつなぎいたします｡<br />
<a href="tel:0120041136"><font color="#b4910c" size="-1">TEL:0120(04)1136</font></a><br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img01.gif" alt="1. まずはお試しください 1回ﾄﾗｲｱﾙｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■10,500円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
ﾌｪｲｼｬﾙまたはﾎﾞﾃﾞｨｰ<br />
※初回の方に限る<br />
※どちらかをお選びください<br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img03.gif" alt="2. 効果を実感された方には… お得なﾌﾟﾚﾐｱﾑｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■105,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(75分) 4回<br />
･ﾀﾗｿﾃﾗﾋﾟｰorﾊﾝﾄﾞｹｱ(20分) 5回<br />
<br />
</font>
<font color="#cc0000" size="-1">■210,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(75分) 10回<br />
･ﾀﾗｿﾃﾗﾋﾟｰorﾊﾝﾄﾞｹｱ(20分) 5回<br />
<br />
</font>
<font color="#cc0000" size="-1">■315,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(75分) 14回<br />
･ﾀﾗｿﾃﾗﾋﾟｰorﾊﾝﾄﾞｹｱ(20分) 8回<br />
･ｵｰｶﾞﾆｯｸ美容飲料ﾌﾟﾚｾﾞﾝﾄ<br />
･3ヵ月までの優先予約<br />
</font>
</font></td>
</tr>
</table>


<div style="background-color:#ffe4e4;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_p01_cat04_img01.gif" alt="【ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ 会員さま限定特典】･｢1回ﾄﾗｲｱﾙｺｰｽ(ﾌｪｲｼｬﾙまたはﾎﾞﾃﾞｨｰ)｣ご予約の方に､ｴｽﾃﾀﾞﾑ化粧品ｻﾝﾌﾟﾙ3点ｾｯﾄをﾌﾟﾚｾﾞﾝﾄ｡･｢お得なﾌﾟﾚﾐｱﾑｺｰｽ(315,000円ﾌﾟﾗﾝ)｣ご成約の方に､ｴｽﾃﾀﾞﾑ化粧品ﾐﾆ3点ｾｯﾄをﾌﾟﾚｾﾞﾝﾄ｡ﾌﾟﾚｾﾞﾝﾄのお受け取りは､本画面を受付にご提示ください｡※ﾀﾗｿﾃﾗﾋﾟｰは店舗により施設が異なりますので､くわしくはｻﾛﾝまでお問い合わせください｡" />
</center>
</div>
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td align="right" style="text-align:right">
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/index&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;前のﾍﾟｰｼﾞに戻る</font></a><br />
</td>
</tr>
</table>



{%%authfooter%%}

</div>