<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ｺﾞｰﾙﾄﾞ会員さま 特別ご優待 期間限定企画 『春のｴｽﾃﾃｨｯｸ ご優待ｺｰｽ』特別販売</title>
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#000000">

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#b4910c" size="-1">ｴｽﾃﾃｨｯｸｻﾛﾝ ｹﾞﾗﾝ ﾊﾟﾘ</font><br />
<font color="#ffffff" size="-1">
<br />
･そごう広島店<br />
<a href="tel:0825127570"><font color="#b4910c" size="-1">TEL:082(512)7570</font></a><br />
※電話番号はｻﾛﾝ直通番号となります｡<br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img01.gif" alt="1. まずはお試しください 1回ﾄﾗｲｱﾙｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■14,700円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
ﾌｪｲｼｬﾙまたはﾎﾞﾃﾞｨｰ<br />
※初回の方に限る<br />
※どちらかをお選びください<br />
</font></td>
</tr>
</table>

<div style="background-color:#f3efd2;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_idx01_sec01_img03.gif" alt="2. 効果を実感された方には… お得なﾌﾟﾚﾐｱﾑｺｰｽ" />
</center>
</div>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td>
<font color="#cc0000" size="-1">■105,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(80分) 4回<br />
･ｱｸｱﾃﾗﾋﾟｰ(20分) 1回<br />
<br />
</font>
<font color="#cc0000" size="-1">■210,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(80分) 9回<br />
･ｱｸｱﾃﾗﾋﾟｰ(20分) 1回<br />
<br />
</font>
<font color="#cc0000" size="-1">■315,000円ﾌﾟﾗﾝ(税込)</font><br />
<font color="#ffffff" size="-1">
･ｴｽﾃﾃｨｯｸ(80分) 12回<br />
･ｱｸｱﾃﾗﾋﾟｰ(20分) 4回<br />
</font>
</font></td>
</tr>
</table>


<div style="background-color:#ffe4e4;text-align:center;">
<center>
<img src="../../mbpage/g_kaiin_yutai01/images/rps_gold_p01_cat02_img01.gif" alt="【ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ 会員さま限定特典】･｢1回ﾄﾗｲｱﾙｺｰｽ(ﾌｪｲｼｬﾙまたはﾎﾞﾃﾞｨｰ)｣ｶｳﾝｾﾘﾝｸﾞを受けた方には､お肌に合った化粧品ｻﾝﾌﾟﾙをﾌﾟﾚｾﾞﾝﾄ｡ﾌﾟﾚｾﾞﾝﾄのお受け取りは､本画面を受付にご提示ください｡" />
</center>
</div>
<br />
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<td align="right" style="text-align:right">
<a href="/rps/m/static/?f=mbpage/g_kaiin_yutai01/index&{%%svid%%}&{%%sid%%}"><font color="#b4910c" size="-1">&gt;前のﾍﾟｰｼﾞに戻る</font></a><br />
</td>
</tr>
</table>



{%%authfooter%%}

</div>