@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */
.marginbottom40 {
	margin-bottom:40px;
}
.marginbottom10 {
	margin-bottom: 10px;
}
.marginbottom6 {
	margin-bottom: 6px;
}
.marginright10 {
	margin-right: 10px;
}
.floatleft {
	float: left;
}
.p_red {
	color: #cc0001;
}
.font_bold {
	font-weight:bold;
}
#siteLogo {
	float: left;
	width: 659px;
	height: 51px;
	margin: 11px 0 0;
	text-indent: -9999px;
	background: transparent url("../../images/popup/sitelogo01.gif") no-repeat 0 0;
}

#siteLogo_w{
	width: 537px;
	height: 51px;
	margin: 11px auto 0;
	text-indent: -9999px;
	background: transparent url("../../images/sitelogo00.gif") no-repeat 0 0;
}

#header .inner, #headerExtended .inner {
	width: 836px;
	height: 71px;
	margin: 0 auto;
}
#main {
	width: 744px;
	color: #000;
	margin: 0 auto 60px;
	padding: 30px 34px 40px;
	border: 10px solid #ffffff;
	/*border: 10px solid #f2f1ed;*/
	background: #fff;
}
#main h1 {
	width: 300px;
	height: 25px;
	margin: 0 0 20px;
	text-indent: -9999px;
}
#main .Inquiryh1 {
	background: url("../../images/popup/Inquiryh1.gif") no-repeat;
}
#main .Inquiry2h1 {
	background: url("../../images/popup/Inquiry2h1.gif") no-repeat;
}
#main .Inquiry3h1 {
	background: url("../../images/popup/Inquiry3h1.gif") no-repeat;
}
#main .clubonh1 {
	width:357px;
	height:26px;
	margin: 0 0 30px;
	background: url("../../images/popup/clubonh1.gif") no-repeat;
}
#main .kome {
	color: #cc0001;
}
#main .InquiryInput {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryInput.jpg") no-repeat;
}
#main .InquiryInput2 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryInput02.jpg") no-repeat;
}
#main .InquiryInput3 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryInput03.jpg") no-repeat;
}
#main .InquiryConfirm {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryConfirm.jpg") no-repeat;
}
#main .InquiryConfirm2 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryConfirm02.jpg") no-repeat;
}
#main .InquiryConfirm3 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryConfirm03.jpg") no-repeat;
}
#main .InquiryCompCenter {
	margin:90px 0 200px;
	text-align:center;
}
#main .InquiryCompCenter .centerred{
	font-weight:bold;
	color:#cc0000;
	margin-bottom:10px;
}
#main .InquiryComplete {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryComplete.jpg") no-repeat;
}
#main .InquiryComplete2 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryComplete02.jpg") no-repeat;
}
#main .InquiryComplete3 {
	width: 743px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/popup/InquiryComplete03.jpg") no-repeat;
}
.formInquiry {
	width: 480px;
	margin: 5px 0 10px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}
.formInquiry td {
	vertical-align: top;
	padding: 6px 0 0 10px;
	border-width: 0 0 1px 1px;
	border: 1px solid #ccc;
}
.formInquiry .formleft {
	width: 120px;
	padding: 6px 0 0 30px;
	background: url("../../images/tablebg.gif") no-repeat left top;
}
.formInquiry .formInquiryA {
	width:195px;
}
.formInquiry .formInquiryB {
	width:305px;
	height:114px;
	margin:0 10px 6px 0;
}
.formInquiry input, .formInquiry select {
	vertical-align: middle;
	margin: 0 10px 6px 0;
}
.formInquiry .ConfirmMargin {
	margin:0 10px 6px 0;
}
.formInquiry2 {
	width: 741px;
	margin: 5px 0 10px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}
.formInquiry2 td {
	vertical-align: top;
	padding: 6px 0 0 10px;
	border-width: 0 0 1px 1px;
	border: 1px solid #ccc;
}
.formInquiry2 .formleft {
	width: 120px;
	padding: 6px 0 0 30px;
	background: url("../../images/tablebg.gif") no-repeat left top;
}
.formInquiry2 .formInquiryA {
	width:195px;
}
.formInquiry2 .formInquiryB {
	width:564px;
	height:114px;
	margin:0 10px 6px 0;
}
.formInquiry2 input, .formInquiry select {
	vertical-align: middle;
	margin: 0 10px 6px 0;
}
.formInquiry2 .ConfirmMargin {
	margin:0 10px 6px 0;
}
#InquiryWrapper .InquiryIntro {
	font-weight:bold;
	font-size:14px;
	color:#333;
	margin-bottom:30px;
}
#InquiryWrapper {
	padding-top:20px;
}
#InquiryWrapper .InquiryConfirmintro {
	font-weight:bold;
	color:#333;
	margin-bottom:30px;
}
#InquiryWrapper .InquiryLeft {
	float:left;
	width: 237px;
}
#InquiryWrapper .InquiryRight {
	float: right;
}
#InquiryWrapper .InquiryRight2 {
	float:left;
	width:370px;
	margin:80px 0 10px 30px;
}
#InquiryWrapper .InquiryRight .InquiryRightInner {
	font-weight:bold;
	margin-bottom:10px;
}
#InquiryWrapper .InquiryLeft .InquiryProfile {
	width:45px;
	height:25px;
	text-indent:-9999px;
	background:url("../../images/popup/profile.gif") no-repeat;
}
#InquiryWrapper .InquiryLeft .InquiryFrom {
	width: 226px;
	border-top:1px dotted #ccc;
	padding:5px 0;
	border-bottom:1px dotted #ccc;
}
#InquiryWrapper .InquiryLeft .InquiryPhone {
	width: 226px;
	margin-top:5px;
	height:16px;
}
#InquiryWrapper .InquiryRight2 .InquiryRightInner2 {
	font-weight:bold;
	color:#CC0000;
	margin-bottom:10px;
}
#InquiryWrapper .InquiryRight2 .InquiryRightInner3 {
	margin-bottom: 10px;
}
.confirm a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/conf.jpg") no-repeat;
}
.confirm a:link, .confirm a:visited {
	background-position: 0 0;
}
.confirm a:hover, .confirm a:active {
	background-position:0 -39px;
}
#footer .inner {
	width: 836px;
	height: 60px;
	margin: 0 auto;
	padding: 14px 0 0;
}
.close a {
	display: block;
	width: 116px;
	height: 35px;
	margin: -30px auto 30px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/popup/close.jpg") no-repeat;
}
.gotop a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/gotop.jpg") no-repeat;
}
.gotop a:link, .gotop a:visited {
	background-position: 0 0;
}
.gotop a:hover, .gotop a:active {
	background-position:0 -39px;
}
#button {
	margin: 0 0 0 58px;
}
#button li {
	float: left;
	margin-right: 18px;
}
#button a {
	display: block;
	overflow: hidden;
	height: 39px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/form/button.jpg");
	background-repeat: no-repeat;
}
#button .correct a, #button .final a, #button .register a, #button .secession a, #button .send a  {
	width: 304px;
}
#button .correct a:link, #button .correct a:visited {
	background-position: 0 0;
}
#button .correct a:hover, #button .correct a:active {
	background-position: 0 -39px;
}
#button .final a:link, #button .final a:visited {
	background-position: -304px 0;
}
#button .final a:hover, #button .final a:active {
	background-position: -304px -39px;
}
#button .register a:link, #button .register a:visited {
	background-position: -608px 0;
}
#button .register a:hover, #button .register a:active {
	background-position: -608px -39px;
}
#button .secession a:link, #button .secession a:visited {
	background-position: -912px 0;
}
#button .secession a:hover, #button .secession a:active {
	background-position: -912px -39px;
}
#button .send a:link, #button .send a:visited {
	background-position: -1216px 0;
}
#button .send a:hover, #button .send a:active {
	background-position: -1216px -39px;
}
#main .clubonimg {
	width:437px;
	margin:45px 0 55px 164px;
}
#main .tel {
	padding-top:20px;
	margin-bottom:40px;
	text-align:center;
}