<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ジョルジオ アルマーニ | 春の新作バッグコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li><a href="../item/?a=item_list&category=3&{%%svid%%}">春の新作バッグコレクション</a></li>
<li id="presentLocation">ジョルジオ アルマーニ</li>
</ul>
<div id="main" class="brand-detail">



	<h1><img src="../../page/spring/images/brand_a_03_ttl.jpg" width="948" height="200" alt="GIORGIO ARMANI" /></h1>
	<div id="brand">
		<ul>
			<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani01_1.jpg" width="280" height="210" alt="アリゲーターレザー クラッチバッグ" /><span>アリゲーターレザー クラッチバッグ</span></a></li>
			<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani02_1.jpg" width="280" height="210" alt="リザードレザー ショルダーバッグ" /><span>リザードレザー ショルダーバッグ</span></a></li>
		<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani03_1.jpg" width="280" height="210" alt="アリゲーターレザー ショルダーバッグ" /><span>アリゲーターレザー ショルダーバッグ</span></a></li>
		</ul>
		<ul>
			<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani04_1.jpg" width="280" height="210" alt="トートバッグ" /><span>トートバッグ</span></a></li>
			<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani05_1.jpg" width="280" height="210" alt="ハンドバッグ(カラー：サックスブルー)" /><span>ハンドバッグ(カラー：サックスブルー)</span></a></li>
			<li><a href="#" target="_top"><img src="../../page/spring/images/A_armani06_1.jpg" width="280" height="210" alt="ハンドバッグ(カラー：チェリーピンク)" /><span>ハンドバッグ(カラー：チェリーピンク)</span></a></li>
		</ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="その他の逸品はこちら" /></dt>
			<dd><a href="../index_a.html" target="_top"><img src="../../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../index_b.html" target="_top"><img src="../../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../index_c.html" target="_top"><img src="../../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../index_d.html" target="_top"><img src="../../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../index_e.html" target="_top"><img src="../../page/spring/images/footerbnr_05.png" width="201" height="33" alt="上質レディースウエア特集" /></a></dd>
			<dd><a href="../index_f.html" target="_top"><img src="../../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../index_g.html" target="_top"><img src="../../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../index_h.html" target="_top"><img src="../../page/spring/images/footerbnr_08.png" width="201" height="33" alt="心地良いインテリア特集" /></a></dd>
			<dd><a href="../index_i.html" target="_top"><img src="../../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<dl class="otherbrand">
		<dt>「春の新作バッグコレクション」他のブランドも見る</dt>
		<dd><a href="brand_a_01.html" target="_top">クロエ</a></dd>
		<dd><a href="brand_a_02.html" target="_top">フェンディ</a></dd>
		<dd><a href="brand_a_03.html" target="_top">ジョルジオ アルマーニ</a></dd>
		<dd><a href="brand_a_04.html" target="_top">モラビト</a></dd>
		<dd><a href="brand_a_05.html" target="_top">サルヴァトーレ フェラガモ</a></dd>
		<dd><a href="brand_a_06.html" target="_top">トッズ</a></dd>
	</dl>
	<p class="pagetop"><a href="#sogo_seibu"><img src="../../page/spring/images/pagetop.jpg" width="61" height="11" alt="PageTop" /></a></p>



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
