<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>厳選・限定 酒&肴 | 厳選グルメ特集 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top">厳選グルメ特集</a></li>
<li id="presentLocation">厳選・限定 酒&肴</li>
</ul>
<div id="main" class="brand-detail">



	<h1><img src="../page/spring/images/brand_i_02_ttl.jpg" width="948" height="200" alt="厳選・限定 酒&肴" /></h1>
	<div id="brand">
		<ul><li><a href="../detail/?a=Item_detail&id=5418&{%%svid%%}" target="_top"><img src="../page/spring/images/I13_romanekonti01_1.jpg" width="280" height="210" alt="フランス ドメーヌ・ド・ラ・ロマネコンティ　ロマネ・コンティ 1996年" /><span>フランス ドメーヌ・ド・ラ・ロマネコンティ　ロマネ・コンティ 1996年</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5417&{%%svid%%}" target="_top"><img src="../page/spring/images/I14_bordeaux_wine01_1.jpg" width="280" height="210" alt="フランス ボルドー5大シャトー　グレートヴィンテージ2010年 赤ワイン飲み比べ5本セット" /><span>フランス ボルドー5大シャトー　グレートヴィンテージ2010年 赤ワイン飲み比べ5本セット</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5416&{%%svid%%}" target="_top"><img src="../page/spring/images/I15_bonperi01_1.jpg" width="280" height="210" alt="ドン ペリニヨン レゼルヴ ドゥ ラベイ ヴィンテージ1992　＜シャンパーニュ＞" /><span>ドン ペリニヨン レゼルヴ ドゥ ラベイ ヴィンテージ1992　＜シャンパーニュ＞</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5415&{%%svid%%}" target="_top"><img src="../page/spring/images/I16_lastdrop01_1.jpg" width="280" height="210" alt="ザ・ラスト・ドロップ・ディスティラーズ　ウイスキー ＜ザ・ラスト・ドロップ50年＞" /><span>ザ・ラスト・ドロップ・ディスティラーズ　ウイスキー ＜ザ・ラスト・ドロップ50年＞</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5414&{%%svid%%}" target="_top"><img src="../page/spring/images/I17_Johnniewalker01_1.jpg" width="280" height="210" alt="ジョニーウォーカー ブルーラベル メッセージ刻印サービス" /><span>ジョニーウォーカー ブルーラベル メッセージ刻印サービス</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5413" target="_top"><img src="../page/spring/images/I18_dassai01_1.jpg" width="280" height="210" alt="山口　旭酒造　純米大吟醸 ＜獺祭 磨き その先へ＞" /><span>山口　旭酒造　純米大吟醸 ＜獺祭 磨き その先へ＞</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5412" target="_top"><img src="../page/spring/images/I19_kinzangura01_1.jpg" width="280" height="210" alt="鹿児島　薩摩金山蔵　芋焼酎 ＜金山蔵 10年熟成 金箔入＞ 25度" /><span>鹿児島　薩摩金山蔵　芋焼酎 ＜金山蔵 10年熟成 金箔入＞ 25度</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5390&{%%svid%%}" target="_top"><img src="../page/spring/images/I20_iberikoya01_1.jpg" width="280" height="210" alt="イベリコ屋　生ハム 36カ月熟成／ロースハム セット" /><span>イベリコ屋　生ハム 36カ月熟成／ロースハム セット</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5389&{%%svid%%}" target="_top"><img src="../page/spring/images/I21_moriyasu01_1.jpg" width="280" height="210" alt="肉匠もりやす　松阪牛サーロインローストビーフ" /><span>肉匠もりやす　松阪牛サーロインローストビーフ</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5388" target="_top"><img src="../page/spring/images/I22_kaizeruhamu01_1.jpg" width="280" height="210" alt="カイゼルハム　スペイン カンポドルセ社製 パレタセラーノ骨付き生ハムセット" /><span>カイゼルハム　スペイン カンポドルセ社製 パレタセラーノ骨付き生ハムセット</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5387&{%%svid%%}" target="_top"><img src="../page/spring/images/I23_smorksalmon01_1.jpg" width="280" height="210" alt="ジョンロスJr. スモークサーモン" /><span>ジョンロスJr. スモークサーモン</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5386&{%%svid%%}" target="_top"><img src="../page/spring/images/I24_smorkoyster01_1.jpg" width="280" height="210" alt="手づくりスモーク工房 杣人　スモークオイスター2本セット" /><span>手づくりスモーク工房 杣人　スモークオイスター2本セット</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5385&{%%svid%%}" target="_top"><img src="../page/spring/images/I25_takarakandume01_1.jpg" width="280" height="210" alt="平翠軒　宝うに缶詰" /><span>平翠軒　宝うに缶詰</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5384&{%%svid%%}" target="_top"><img src="../page/spring/images/I26_kantumakiwami01_1.jpg" width="280" height="210" alt="缶つま極み　松阪牛 大和煮" /><span>缶つま極み　松阪牛 大和煮</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5383&{%%svid%%}" target="_top"><img src="../page/spring/images/I27_yamatoyamoriguchi01_1.jpg" width="280" height="210" alt="大和屋守口漬総本家　チーズ味淋粕漬 詰合せ" /><span>大和屋守口漬総本家　チーズ味淋粕漬 詰合せ</span></a></li></ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<dl class="otherbrand">
		<dt>「厳選グルメ特集」ほかを見る</dt>
		<dd><a href="../static/?f=page/spring/brand/brand_i_01&{%%svid%%}" target="_top">名店スイーツ＆お茶</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_i_02&{%%svid%%}" target="_top">厳選・限定　酒＆肴</a></dd>
	</dl>


</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
