<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>ROYAL PLATINUM SELECTION SHIBUYA</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="../page/rps_shibuya/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/rps_shibuya/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/rps_shibuya/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/rps_shibuya/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../page/rps_shibuya/js/menu.js" type="text/javascript" charset="EUC-JP"></script>

<!--[if lt IE 7]>
<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
<![endif]-->
</head>


<body class="itemPage category01" id="sogo_seibu" onload="MM_preloadImages('../page/rps_shibuya/img/common/btn_main01_o.jpg','../page/rps_shibuya/img/common/btn_ps_o.jpg','../page/rps_shibuya/img/common/btn_kakukai_o.jpg','../page/rps_shibuya/img/common/btn_b8f_o.jpg')">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li id="presentLocation">ROYAL PLATINUM SELECTION</li>
</ul>
<div id="main">
<!-- contents -->

<div id="rps_wrap">

<div class="lead"><img src="../page/rps_shibuya/img/common/img_lead.jpg" alt="西武渋谷店から選りすぐった上質で高感度な逸品の数々をご紹介いたします。" width="950" height="60" /></div>
<h1><img src="../page/rps_shibuya/img/common/h1_ttl.jpg" alt="ROYAL PLATINUM SELECTION" width="950" height="100" /></h1>
<h2><img src="../page/rps_shibuya/img/common/h2_ttl01.jpg" alt="西武渋谷店 催事のお知らせ" width="950" height="80" /></h2>

<div id="rps_inner">

<div class="rps_section">

<div class="center"><img src="../page/rps_shibuya/img/common/ttl_main01.jpg" alt="B館8階 ロイヤル・プラチナ セレクション 12月の特集" /></div>

<div class="center"><a href="../page/rps_shibuya/pdf/rps_main01.pdf" target="_blank" onFocus="this.blur()"><img src="../page/rps_shibuya/img/common/btn_main01.jpg" alt="バカラフェア2014" id="Image1" onmouseover="MM_swapImage('Image1','','../page/rps_shibuya/img/common/btn_main01_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>

<div class="mt30">

<div class="l_area"><a href="../page/rps_shibuya/pdf/rps_ps.pdf" target="_blank" onFocus="this.blur()"><img src="../page/rps_shibuya/img/common/btn_ps.jpg" alt="12月プラチナサロン 限定商品・特別販売会" id="Image2" onmouseover="MM_swapImage('Image2','','../page/rps_shibuya/img/common/btn_ps_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>

<div class="c_area"><a href="../page/rps_shibuya/pdf/rps_kakukai.pdf" target="_blank" onFocus="this.blur()"><img src="../page/rps_shibuya/img/common/btn_kakukai.jpg" alt="12月 各階 お得意さま向け 限定商品・特別販売会" id="Image3" onmouseover="MM_swapImage('Image3','','../page/rps_shibuya/img/common/btn_kakukai_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>

<div class="r_area"><a href="../page/rps_shibuya/pdf/rps_b8f.pdf" target="_blank" onFocus="this.blur()"><img src="../page/rps_shibuya/img/common/btn_b8f.jpg" alt="B館8階 特設会場・美術画廊のご案内" id="Image4" onmouseover="MM_swapImage('Image4','','../page/rps_shibuya/img/common/btn_b8f_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>

</div><!-- rps_section -->

<div class="adobe">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td width="170"><a href="http://get.adobe.com/jp/reader/" target="_blank"><img alt="Get Adobe Reader" align="left" src="../page/rps_shibuya/img/common/get_adobe_reader.jpg" /></a></td>
	<td>PDFファイルをご覧になるには、Adobe&reg; Reader&reg;が必要です。<br />
		Adobe Readerをダウンロードするには左の「Get Adobe Reader」ボタンをクリックしてください。</td>
</tr>
</table>
</div>

</div><!-- rps_innner -->

</div><!-- rps_wrap -->


</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>