<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>特集 日本の技 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/nihonnowaza/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/nihonnowaza/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/nihonnowaza/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/nihonnowaza/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/nihonnowaza/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">特集　日本の技</li>
</ul>

<div id="main">

<div id="sec_header">
<div class="inner">
</div><!--/.inner-->
</div><!--/#sec_header-->



<div id="sec_contents">
<div class="sec_sentence">
<img src="../page/nihonnowaza/images/nihonnowaza_title.jpg" alt="伝統の美は今、現代を彩るインテリアへと進化を遂げる。つい立ち止まって見入ってしまう、伝統工芸の美しさ。魅了され、手元に置きたいと感じる方は多いのではないでしょうか。ただ住環境の変化もあり、昔のようには置けないのが正直なところ。そこで日本の匠たちは考えました。現代の生活様式の中にあっても、楽しんでいただける方法を。ロイヤル・プラチナセレクションは今回、進化を遂げる、「屏風」と「輪島塗」に注目しました。新たな視点を模索し、生み出された愛で方の数々。ぜひお楽しみください。
">
<h1><img src="../page/nihonnowaza/images/nihonnowaza_title_img01.png" alt="特集 日本の技"></h1>
</div>
<div class="h1_art">
<img src="../page/nihonnowaza/images/nihonnowaza_h1.jpg" alt=" 箔一 が描く金屏風×アート 部屋の仕切りとして用い、「間」を演出することが本来の役割だった屏風。繊細かつ煌びやかな図柄は装飾品としての評価も高く、海外ではすでに、自由な発想でアートとして楽しむ流れが見受けられます。日本の狭い居住スペースでも楽しんでいただけるよう、箔一 では小さめの屏風やパネルを展開。絵画として、壁に飾れるようにしました。耐久性や軽さも申し分なし。もちろん、屏風としてお使いいただくことも可能です。
">
<img src="../page/nihonnowaza/images/nihonnowaza_line.jpg" alt="#">
<img src="../page/nihonnowaza/images/nihonnowaza_h1_p.jpg" alt="歴史 古く中国から、風よけとして伝わったとされる屏風。「俵屋 宗達（たわらや そうたつ）」や「尾形 光琳（おがた こうりん）」といった絵師の登場により、芸術的価値を高めていきました。大航海時代には献上品として重宝され、安土桃山時代や江戸時代には権力の象徴として城郭などに飾られました。 技 箔一が用いる金箔は、約４００年の歴史と、国内のおよそ％の生産量を誇る金沢箔。時間と手間をかけることで、１万分の１という薄さに仕上げています。上絵では新たな技法も開発し、真似のできない奥深さを創出。伝統の技と材料にこだわって、耐久性に優れた本物の美しさをお届けします。
">
<img src="../page/nihonnowaza/images/nihonnowaza_line.jpg" alt="#">
<p class="product01"><img src="../page/nihonnowaza/images/nihonnowaza_h1_img01.jpg" alt="箔一〈二曲一双屏風〉紅白梅図">
<a href="../detail/?a=Item_detail&id=6888&{%%svid%%}" class="detail"><img src="../page/nihonnowaza/images/nihonnowaza_btn01.jpg" alt="くわしい情報はこちら"></a>
</p>
<p class="product02"><img src="../page/nihonnowaza/images/nihonnowaza_h1_img02.jpg" alt="箔一〈箔アートパネル〉波に桜">
<a href="../detail/?a=Item_detail&id=6887&{%%svid%%}" class="detail"><img src="../page/nihonnowaza/images/nihonnowaza_btn01.jpg" alt="くわしい情報はこちら"></a>
</p>
</div><!--/.h1art-->



<div class="h2_tec">
<img src="../page/nihonnowaza/images/nihonnowaza_h2.jpg" alt=" 千舟堂 が守る輪島塗×先端技術 英語では「Ｊａｐａｎ」と呼ばれる、日本の漆器。代表格といえるのが、世界で親しまれる輪島塗です。中でも老舗の業前は、やはり別格。 千舟堂  では文化庁認定の技法を守り、堅牢で華やかな本来の魅力を伝え続けています。近年、輪島塗は、先進家電とのコラボレートを実現させます。相手は、性能だけでなく、普遍的な美しさを目指すカドー。無機質なものに、高級感や表情が加えられることで、新たな置き方や価値観が生まれ始めています。
">
<img src="../page/nihonnowaza/images/nihonnowaza_line.jpg" alt="#">
<img src="../page/nihonnowaza/images/nihonnowaza_h2_p.jpg" alt="歴史 江戸時代には全国に知られるまでになっていた輪島塗。にも関わらず、起源については定かでなく、ミステリアスな面も持ち合わせています。有力とされているのは、室町時代という説。１４００年ごろ、紀州根来寺（きしゅうねごろじ）の僧が、輪島で漆工技術を伝えたのが始まりと言い伝えられています。技 最大の特長は、１２４にもおよぶ工程の多さ。輪島塗づくりの老舗、千舟堂では伝統を守り続けています。形を削る木地師（きじし）や、漆を塗る塗師（ぬし）など、専門の職人たちによって受け継がれる、繊細な技。沈金（ちんきん）や蒔絵（まきえ）といった装飾の美しさも随一。１９７７年には重要無形文化財に指定されています。
">
<img src="../page/nihonnowaza/images/nihonnowaza_line.jpg" alt="#">
<p class="product03"><img src="../page/nihonnowaza/images/nihonnowaza_h2_img01.jpg" alt="カドー〈輪島塗×カドー 蒔絵イメージ〉波千鳥 空気清浄機">
<a href="../detail/?a=Item_detail&id=6886&{%%svid%%}" class="detail"><img src="../page/nihonnowaza/images/nihonnowaza_btn01.jpg" alt="くわしい情報はこちら"></a>
</p>
<p class="product04"><img src="../page/nihonnowaza/images/nihonnowaza_h2_img02.jpg" alt="カドー
〈輪島塗×カドー 蒔絵イメージ〉ＮＥＧＯＲＯ仕上げ 空気清浄機">
<a href="../detail/?a=Item_detail&id=6885&{%%svid%%}" class="detail"><img src="../page/nihonnowaza/images/nihonnowaza_btn01.jpg" alt="くわしい情報はこちら"></a>
</p>

</div><!--/.h2tec-->
</div><!--/#sec_contents-->


<div id="sec_footer">
<div class="inner">
</div><!--/.inner-->
</div><!--/#sec_contents-->


</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
