@charset "EUC-JP";

#textsizecontroller .ts_small a:link, #textsizecontroller .ts_small a:visited {
	background-position: 0 0;
}
#textsizecontroller .ts_small a:hover, #textsizecontroller .ts_small a:active {
	background-position: 0 -20px;
}
#textsizecontroller .ts_medium a {
	background-position: -23px -20px;
}
#textsizecontroller .ts_large a:link, #textsizecontroller .ts_large a:visited {
	background-position: -46px 0;
}
#textsizecontroller .ts_large a:hover, #textsizecontroller .ts_large a:active {
	background-position: -46px -20px;
}
#welcomeMessage {
	padding-top: 2px;
	font-size: 12px;
	/*font-size: 1.00em;*/
}
#inCharge2 p {
	font-size: 1.00em !important;
}
#inCharge, #topicPath li {
	font-size: 12px;
	/*font-size: 0.88em;*/
}
#inCharge {
	padding-top: 5px;
}
#publication p, #publication dt, #publication dd{
	font-size: 0.88em;
}

#footer #copyright{
	font-size:10px;
}

#footerMenu dt , #footerMenu dd, #footer #footerNav #footerNavPrivacy{
	font-size: 12px;
}
