@charset "EUC-JP";

#mainvisual {
	width: 100%;
	min-width:950px;
	height:550px;
	display:block;
	margin:0 auto;
	padding:0;
	text-align:center;
	background:url(../images/main_bgloop.jpg) ;
}

#mainvisual .inner{
	width: 100%;
	min-width:950px;
	height:550px;
	display:block;
	margin:0 auto;
	padding:0;
	text-align:center;
	background:url(../images/main_bg.jpg) center no-repeat;
}

#mainvisual h1 {
	padding:70px 0 32px;
	margin:0px auto 0px;
}
#mainvisual p {
	padding:0px 0 70px;
	margin:0px auto 0px;
}


#main1 {
	width: 100%;
	min-width:950px;
	margin: 0 auto 50px;
	background:#c69c6d;
	background:url(../images/bgloop.gif) top repeat-x;
}
#main1 img {
	padding:70px 0 70px;
	margin:0px auto 0px;
	display:block;
}

#main2 {
	width: 100%;
	min-width:950px;
	height:190px;
	margin: 0 auto 0px;
	background:url(../images/subtitle_bg.jpg) top no-repeat #161520;
}
#main2 h2 {
	padding:45px 0 0px;
	margin:0px auto 0px;
	display:block;
}
#main2 h2 img {
	margin:0px auto 0px;
	display:block;
}


#main3 {
	width: 100%;
	min-width:950px;
	display:block;
	margin:0px auto 0px;
	background:#e8e8e8;
}


#main3 .inner {
	width: 950px;
	display:block;
	margin:0px auto 0px;
	padding: 60px 0px 20px;
}
#main3 img {
	margin:0px auto 0px;
}
#main3  .inner .bnt_inner {
	margin:0px auto 60px;
	display:block;
	background:#c69c6d;
	width: 950px;
	padding: 20px 0px;
}
#main3  .inner .bnt_inner a {
	margin:0px auto 0px;
	display:block;
	width: 244px;
}

#main4 {
	width: 100%;
	min-width:950px;
	display:block;
	margin:0px auto 40px;
	background:#2c2c2c;
	padding: 0px 0px 60px;
}

#main4  h3 {
	margin:0px auto 35px;
	padding: 60px 0px 0px;
	width: 748px;
	display:block;
}
#main4  a {
	margin:0px auto 40px;
	width: 324px;
	display:block;
}
#main4  #items {
	margin:0px auto 0px;
	width: 950px;
	display:block;
}

.itemList a:hover {
	color: #9f8b65;
}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
