<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ロイヤル・プラチナ セレクション 5周年記念おすすめコンテンツのご案内  | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_rps5th/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_rps5th/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_rps5th/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_rps5th/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_rps5th/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ロイヤル・プラチナ セレクション 5周年記念おすすめコンテンツのご案内 </li>
</ul>

<!-- main -->
<div id="main" class="index">

	<!-- main_header -->
	<div id="main_header">
		<h1><img src="../page/sp_rps5th/images/index_hd_ttl.png" alt="ロイヤル・プラチナ セレクションはおかげさまで5周年" /></h1>
		<p><img src="../page/sp_rps5th/images/index_hd_txt.png" alt="このたび「ロイヤル・プラチナ セレクション」は、おかげさまで5周年。これもひとえに皆さまのご愛顧の賜物と衷心より御礼申しあげます。感謝の気持ちを込めて、サイト内でさまざまな企画をご用意。ぜひこの機会にご利用いただきますよう、ご案内申しあげます。" /></p>
	</div>
	<!-- /main_header -->
	
	<div id="main_sec01">
		<div class="in">
			<h2><img src="../page/sp_rps5th/images/index_sec01_ttl.gif" alt="ロイヤル・プラチナ セレクション 5周年記念おすすめコンテンツのご案内" /></h2>
			<div class="cnts clfx">
				<div class="block_figure">
					<div class="figure"><img src="../page/sp_rps5th/images/index_sec01_img02.jpg" alt="" /></div>
				</div>
				<div class="block_txt">
					<dl>
						<dt><img src="../page/sp_rps5th/images/index_sec01_ico02.gif" alt="予告" /></dt>
						<dd>2月22日（水）公開</dd>
					</dl>
					<h3>春の逸品会2017</h3>
					<p>今回は春らしく、「色」をテーマに取りそろえました。<br />彩り豊かな春の逸品を、ぜひお楽しみください。</p>
				</div>
			</div>
		</div>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
