@charset "EUC-JP";
@import url("../global-fontsizemedium.css");

#main h2 {
	font-size: 18px;
}
#main li h3, #main li .itemPrice {
	font-size: 12px;
}
#main li .itemMessage, #main li .itemDesc {
	font-size: 10px;
}
