<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">そごう・西武ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_01&{%%svid%%}"><span style="color:#ffffff;">第1条(目的)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_02&{%%svid%%}"><span style="color:#ffffff;">第2条(会員の定義)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_03&{%%svid%%}"><span style="color:#ffffff;">第3条(入会･退会)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_04&{%%svid%%}"><span style="color:#ffffff;">第4条(ID･ﾊﾟｽﾜｰﾄﾞ)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_05&{%%svid%%}"><span style="color:#ffffff;">第5条(会員の個人情報)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_06&{%%svid%%}"><span style="color:#ffffff;">第6条(禁止事項)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_07&{%%svid%%}"><span style="color:#ffffff;">第7条(ｻｰﾋﾞｽの運営､中断･停止及び内容の変更)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_08&{%%svid%%}"><span style="color:#ffffff;">第8条(著作権等)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_09&{%%svid%%}"><span style="color:#ffffff;">第9条(免責)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_10&{%%svid%%}"><span style="color:#ffffff;">第10条(会員資格の停止､抹消)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_11&{%%svid%%}"><span style="color:#ffffff;">第11条(準拠法)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_12&{%%svid%%}"><span style="color:#ffffff;">第12条(合意管轄裁判所)</span></a><br clear="none">
<a href="/shibuya/platinum/static/?f=mbpage/rule/terms_13&{%%svid%%}"><span style="color:#ffffff;">第13条(規約の変更)</span></a><br clear="none">
<br clear="none">
※付則本規約は、2011年9月1日より適用<br clear="none">

<br clear="none">

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
