<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">当社ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

第7条(ｻｰﾋﾞｽの運営､中断･停止及び内容の変更)<br clear="none">
当社は､本ｻｰﾋﾞｽの運営に関して裁量権を有しており､本ｻｰﾋﾞｽ上の利用を監視し､もしくは一部変更し､またはｱｸｾｽ制限等の措置をとることができるものとします｡<br clear="none">
当社は､次の何れかに該当する場合､自らの判断により本ｻｰﾋﾞｽの運用の全部または一部を中断または停止することができるものとします｡<br clear="none">
･天災地変､その他の非常事態が発生した場合､または､発生するおそれがある場合<br clear="none">
･本ｻｰﾋﾞｽに関連して､当社が設置または管理する設備の保守を定期的にもしくは緊急に行う場合<br clear="none">
･当社が設置または管理する設備の異状､故障､障害その他本ｻｰﾋﾞｽを会員に提供できない事由が生じた場合<br clear="none">
･その他当社がやむをえないと判断した場合<br clear="none">
･当社は､理由の如何を問わず､本ｻｰﾋﾞｽの提供の中断もしくは停止によって生じた会員の損害につき､一切責任を負わないものとします｡<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/static/?f=mbpage/rule/agreement&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約TOPへ</span></a><br clear="none">
<a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
