<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">当社ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

第6条(禁止事項)<br clear="none">
会員は､当社ﾎｰﾑﾍﾟｰｼﾞで提供する店舗及び商品等に関する情報について､本ｻｰﾋﾞｽの利用以外の目的で利用してはならないものとします｡<br clear="none">
当社は､会員が当社ﾎｰﾑﾍﾟｰｼﾞによるｻｰﾋﾞｽを利用するにあたり､会員の次の行為を禁止します｡<br clear="none">
･他の会員､第三者または当社の著作権､商標権等の知的財産権､肖像権､ﾌﾟﾗｲﾊﾞｼｰもしくはその他の権利を侵害する行為､及び侵害するおそれのある行為<br clear="none">
･前項の他､他の会員､第三者または当社に不利益もしくは損害を与える行為､及び与えるおそれのある行為<br clear="none">
･公序良俗に反する行為､もしくはそのおそれのある行為､または公序良俗に反する情報を他の会員または第三者に提供する行為<br clear="none">
･IDまたはﾊﾟｽﾜｰﾄﾞを不正に使用する行為<br clear="none">
･ｺﾝﾋﾟｭｰﾀｳｨﾙｽ等の有害なﾌﾟﾛｸﾞﾗﾑを､本ｻｰﾋﾞｽを通じてまたは本ｻｰﾋﾞｽに関連して､使用し､もしくは提供する行為<br clear="none">

･法令に違反する､または違反するおそれのある行為<br clear="none">
･その他､当社が不適切と判断する行為<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/static/?f=mbpage/rule/agreement&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約TOPへ</span></a><br clear="none">
<a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
