<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">当社ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

第8条(著作権等)<br clear="none">
当社がｲﾝﾀｰﾈｯﾄにより会員に提供する情報(ﾃﾞｻﾞｲﾝ､画像､映像､音声､文章等を含む)に関する著作権､商標権等の知的財産権及び肖像権は､当社または当社に対して当該情報を提供した第三者に帰属するものとします｡<br clear="none">
会員は､当該権利者の承諾を得ないで､いかなる方法においても､本ｻｰﾋﾞｽを通じて提供される情報について､著作権法で定める会員個人の私的利用の範囲を超えて､使用することはできないものとします｡<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/static/?f=mbpage/rule/agreement&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約TOPへ</span></a><br clear="none">
<a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
