<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">当社ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

第3条(入会･退会)<br clear="none">
会員への登録希望者は､当社ﾎｰﾑﾍﾟｰｼﾞ上の入会登録画面において個人情報及びその他必要な情報を入力し､入会登録をした時点で､本規約の内容を承諾したものとします｡<br clear="none">
また､会員は､入会登録後､当社ﾎｰﾑﾍﾟｰｼﾞ上の退会登録画面において､随時退会の手続きを行うことができるものとします｡<br clear="none">
当社は､次の場合を除き､入会希望者の登録を承諾するものとします｡<br clear="none">
･過去に本規約に基づき会員資格を剥奪されている場合<br clear="none">
･申込内容に虚偽の申請があった場合<br clear="none">
･その他､当社が会員として不適切と判断した場合<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/static/?f=mbpage/rule/agreement&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約TOPへ</span></a><br clear="none">
<a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
