<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>そごう・西武ﾈｯﾄ会員規約</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">当社ﾈｯﾄ会員規約</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

第5条(会員の個人情報)<br clear="none">
会員は､入会時に登録する全ての情報に関して､真実かつ正確な情報を申告するものとします｡<br clear="none">
当社は､会員が入会登録時に申告した個人情報(以下｢個人情報｣といいます)を､次の目的で使用します｡<br clear="none">
･本ｻｰﾋﾞｽの受付､本ｻｰﾋﾞｽの提供に係る業務(商品配送など)、配送､それに付随した連絡<br clear="none">
･当社からのﾒｰﾙ､DMによる案内送付(なお、案内内用は本ｻｰﾋﾞｽに限りません)<br clear="none">
･会員に対するご意見､ご感想､ｱﾝｹｰﾄ等の依頼<br clear="none">
･特典､その他ｻｰﾋﾞｽの提供<br clear="none">
･ﾏｰｹﾃｨﾝｸﾞﾃﾞｰﾀの作成<br clear="none">

･前記各項のほか､会員の事前の同意を得た場合<br clear="none">
会員は､その登録情報(氏名､電話番号､ﾒｰﾙｱﾄﾞﾚｽなど)に変更が生じた場合､速やかに当社ﾎｰﾑﾍﾟｰｼﾞ上より会員ﾛｸﾞｲﾝの上､変更するものとします｡<br clear="none">
当社は､会員が申告した個人情報について､不正なｱｸｾｽ･改ざん･破壊･漏洩等が生じないよう､合理的な範囲で厳重に管理するものとします｡<br clear="none">
当社は､会員が申告した個人情報について､以下の場合を除き第三者に開示しないものとします｡<br clear="none">
･司法機関または行政機関から法的義務を伴う開示要請を受けた場合<br clear="none">
･第2項記載の使用目的のために､当社が業務を委託する会社に対し開示が必要な場合<br clear="none">
･会員の生命､健康､財産等の重大な利益を保護するために必要な場合<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" /><a href="/shibuya/platinum/static/?f=mbpage/rule/agreement&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約TOPへ</span></a><br clear="none">
<a href="/shibuya/platinum/m/?a=Prule&{%%svid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録へ</span></a>
<br clear="none"><br clear="none">

<br />

<div>
<a href="/shibuya/platinum/m/?a=Ptop&{%%svid%%}&{%%sid%%}}"><span style="color:#aaaaaa;">&gt;&gt; ﾄｯﾌﾟﾍﾟｰｼﾞへ</span></a>
</div>

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
