@charset "EUC-JP";

/*main*/
#main {
	width:100%;
	min-width: 950px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	overflow: hidden;
}
#main .in {
	width: 950px;
	margin: 0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*main_header*/
#main #main_header {
	background: url(../images/cmn_hd_bg.jpg) no-repeat center top;
}
#main #main_header .in {
	position: relative;
	height: 92px;
}
#main #main_header h2 {
	position: absolute;
	left: 0;
	top: 23px;
}
#main #main_header p {
	position: absolute;
	left: 364px;
	top: 48px;
}
#main #main_header .btn {
	position: absolute;
	right: 0;
	top: 24px;
}



/*main_ttl*/
#main #main_ttl {
	margin-top: 20px;
}
#main #main_ttl table {
	width: 100%;
}
#main #main_ttl table th {
	width: 200px;
	background: url(../images/cmn_ttl_bg.jpg) repeat-y center top;
}
#main #main_ttl table td {
	background: #fefaef;
	padding: 30px 20px;
	font-size: 1.167em;
}



/*main_ttl*/
#main #main_nav.main_nav_bg {
	background: #fefaef;
	padding: 20px 0;
}
#main #main_nav ul li {
	float: left;
}
#main #main_nav ul.ul03 li {
	margin-left: 16px;
}
#main #main_nav ul.ul04 li {
	margin-left: 10px;
}
#main #main_nav ul li:first-child {
	margin-left: 0;
}



/*main_cnts*/
#main #main_cnts .in > h4 {
	background: url(../images/cmn_cnts_ico.gif) no-repeat left center;
	padding-left: 25px;
	font-size: 166.7%;
	margin-top: 60px;
}
#main #main_cnts .main_cnts_ttl {
	background: url(../images/cmn_cnts_bg.jpg) no-repeat center top;
	padding: 15px;
	margin-top: 60px;
	margin-bottom: 40px;
}
#main #main_cnts .main_cnts_ttl h4 {
	font-size: 2em;
}
#main #main_cnts .main_cnts_ttl p {
	font-size: 1.167em;
	margin-top: 10px;
}
#main #main_cnts ul {
	margin-top: 15px;
}
#main #main_cnts ul li {
	float: left;
	width: 230px;
	margin-left: 10px;
}
#main #main_cnts ul li:first-child {
	margin-left: 0;
}
#main #main_cnts ul li a {
	display: block;
	color: #000;
	text-decoration: underline;
}
#main #main_cnts ul li a:hover {
	text-decoration: none;
}
#main #main_cnts ul li a img {
	width: 228px;
	box-sizing: border-box;
	border: solid 1px #d3d3d3;
}
#main #main_cnts ul li a p {
	margin-top: 5px;
}



/*module*/
#main .mt10 {margin-top: 10px !important;}
#main .mt20 {margin-top: 20px !important;}
#main .mt40 {margin-top: 40px !important;}
#main .mt60 {margin-top: 60px !important;}
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}