@charset "EUC-JP";
@import url("../global-fontsizelarge.css");

#attention, #platinumSalonNews li, #luxuryNews li, #pickUp h3, #category li li {
	font-size: 14px;
}
#pickUp .desc {
	font-size: 14px;
}
#publication #aboutSeibuShibuya p, #publication #aboutPlatinumSalon .infotex .ttl {
	font-size: 16px;
}
#aboutPlatinumSalon #info p.infotex{
	font-size:14px;
}
#welcomeMessage {
	padding-top: 2px;
	font-size: 14px;
}
