<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>お得意様のあなたさまへ 西武・そごう歳末感謝 スペシャルセール</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/saimatu_ss/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../page/saimatu_ss/css/slimbox2.css" />
	<link rel="stylesheet" href="../page/saimatu_ss/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/saimatu_ss/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/saimatu_ss/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/saimatu_ss/js/slimbox2.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">西武・そごう歳末感謝 スペシャルセール</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
    <div><img src="../page/saimatu_ss/images/saimatu_img01.jpg" alt="お得意様のあなたさまへ 西武・そごう歳末感謝 スペシャルセール" width="850" height="368" border="0" /></div>
    <div><img src="../page/saimatu_ss/images/saimatu_img02.jpg" alt="記｜会期：12月27日（木）午前10時〜午後8時、28日（金）午前10時〜午後6時｜会場：東京プリンスホテル 2階＝鳳凰の間、マグノリアホール｜お手数ではございますが、ご来場の際は、クラブ・オン／ミレニアムカードをご持参ください。 ※コートや手荷物などは、ホテルのクロークにてお預かりいたします。" width="850" height="166" border="0" /></div>
    <div><img src="../page/saimatu_ss/images/saimatu_img03.jpg" alt="歳末感謝 お楽しみ抽選会｜会場にて、合計税込、50,000円以上のお買い上げで、ペア旅行などが当たる抽選会にご参加いただけます。" width="850" height="111" border="0" /></div>
    <div><img src="../page/saimatu_ss/images/saimatu_img04.jpg" alt="Ladies&acute;&amp;Men&acute;s SPECIAL SALE 20〜60%OFF 歳末感謝スペシャルセール" width="850" height="462" border="0" /></div>
    <div class="IB_box">
    	<img src="../page/saimatu_ss/images/saimatu_img05.jpg" alt="" width="850" height="672" border="0" />
        <div class="btn01"><a href="../page/saimatu_ss/images/lb_img01.jpg" rel="lightbox" class="alpha"><img src="../page/saimatu_ss/images/saimatu_btn01.gif" alt="特別限定販売会のご案内" width="390" height="59" border="0" /></a></div>
        <div class="btn02"><a href="../page/saimatu_ss/images/lb_img02.jpg" rel="lightbox" class="alpha"><img src="../page/saimatu_ss/images/saimatu_btn02.gif" alt="会場へのアクセス方法" width="390" height="59" border="0" /></a></div>
    </div>
   
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/saimatu_ss/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/saimatu_ss/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/saimatu_ss/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」よりご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>

		</div>


<!--注記--><br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
