<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>サイトマップ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sitemap/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sitemap/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sitemap/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sitemap/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="topPage">

{%%authheader%%}

	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">サイトマップ</li>
	</ul>
		<div id="main">
			<h1 class="sitemap">サイトマップ</h1>
            <div id="sitemapwrapper">
            <ul class="sitemapleft">
            	<li><a href="../?{%%svid%%}">トップページ</a></li>
            	<li class="item"><a href="../item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
            	<li class="item"><a href="../item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></li>
                <li class="item"><a href="../item/?a=Item_list&category=2&{%%svid%%}">コスメ&amp;ビューティー</a></li>
            	<li class="item"><a href="../item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></li>
            	<li class="item"><a href="../item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></li>
                <li><a href="../item/?a=Item_list&category=1&{%%svid%%}">フード</a></li>
            	<li><a href="../info/?{%%svid%%}">ROYAL PLATINUM NEWS 一覧</a></li>
            	<li><a href="../?a=InquiryInput&{%%svid%%}" target="_blank">担当者へのお問い合わせ</a></li>
            </ul>
            <ul class="sitemapright">
            	<li><a href="./?f=page/guide/first&{%%svid%%}">初めての方へ</a></li>
            	<li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
            	<li class="item"><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
                <li class="guidewrapper">
                	<p class="guide"><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></p>
                	<p class="guide"><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></p>
                	<p class="guide"><a href="./?f=page/guide/flow&{%%svid%%}">お買い物までの基本的な流れ</a></p>
                	<p class="guide"><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></p>
                	<p class="guide"><a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ セレクション会員サービスについて</a></p>
                </li>
            	<li><a href="../?a=EditInput&&edit=''&{%%svid%%}">会員情報変更</a></li>
            	<li><a href="../?a=History&{%%svid%%}">履歴一覧</a></li>
            </ul>
            </div>
            <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}

</body>
</html>
