<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ラグジュアリーなひとときが、心を満たす旅 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/tour1605/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/tour1605/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/tour1605/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/tour1605/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/tour1605/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
	
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear= d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday	= d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">ラグジュアリーなひとときが、心を満たす旅</li>
	</ul>
	
<div id="mainvisual">
	<h1><img src="../page/tour1605/images/img01.png" alt="特別な企画やおもてなしが満載 ラグジュアリーなひとときが、心を満たす旅" width="950" height="481" /></h1>
</div>
	
<div id="main" class="clearfix">
	<h2><img src="../page/tour1605/images/img02.png" alt="日本百景に選ばれた洞爺湖畔でのご宿泊や、世界遺産・厳島神社での狂言鑑賞など、日本を堪能できるツアーを多数ご用意しました。海外旅行も、世界の自然や文化を体感する「ANAワンダーアース」やドバイ、F1観戦など、テーマ性豊かなツアーが充実。どちらもご好評をいただいているエリア・ホテルをラインアップしています。ロイヤル・プラチナ セレクションだから実現した、贅沢な時間をお過ごしいただける旅の数々。お出かけが楽しくなる夏から秋にかけての企画を始め、ひと足早い年末年始のご旅行まで、どんなご要望もお気軽にご相談ください。" width="760" /></h2>	


	<div class="itemList blockL">
		<h3><img src="../page/tour1605/images/title01.png" alt="海外" width="100" height="25" /></h3>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7925&{%%svid%%}"><img src="../page/tour1605/images/thum01.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7925&{%%svid%%}">人気の二大音楽都市を巡る！ベルリン・ウィーン 7日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7926&{%%svid%%}"><img src="../page/tour1605/images/thum02.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7926&{%%svid%%}">カナディアンロッキーとメープル街道 紅葉周遊物語 8日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7927&{%%svid%%}"><img src="../page/tour1605/images/thum03.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7927&{%%svid%%}">地球を楽しみ尽くす！大人のための特別な冒険旅行をご案内</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7928&{%%svid%%}"><img src="../page/tour1605/images/thum04.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7928&{%%svid%%}">キャセイ・パシフィック航空で行く「ペニンシュラ香港」に泊まる香港 4日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7929&{%%svid%%}"><img src="../page/tour1605/images/thum05.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7929&{%%svid%%}">エミレーツ航空で行く「アルマーニホテル ドバイ」に泊まる 5日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7930&{%%svid%%}"><img src="../page/tour1605/images/thum06.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7930&{%%svid%%}">F1フリー走行・予選・決勝を観戦 シンガポールGP観戦ツアー 5日間</a>
		</div>

	</div>
	
	<div class="itemList blockR">
		<h3><img src="../page/tour1605/images/title02.png" alt="国内" width="100" height="25" /></h3>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7931&{%%svid%%}"><img src="../page/tour1605/images/thum07.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7931&{%%svid%%}">「ザ・ウィンザーホテル洞爺」に宿泊 北海道の旅 3日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7932&{%%svid%%}"><img src="../page/tour1605/images/thum08.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7932&{%%svid%%}">「二期倶楽部」で創作会席を、「御宿かわせみ」で旬の国産松茸を食す 4日間</a>
		</div>
		<!--div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7933&{%%svid%%}"><img src="../page/tour1605/images/thum09.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7933&{%%svid%%}">辻井 伸行（つじい のぶゆき）八ヶ岳高原音楽堂ピアノ・リサイタルバスツアー 2日間</a>
		</div-->
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7934&{%%svid%%}"><img src="../page/tour1605/images/thum10.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7934&{%%svid%%}">「ザ・ウィンザーホテル洞爺」と「志摩観光ホテル ザ ベイスイート」 4日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7935&{%%svid%%}"><img src="../page/tour1605/images/thum11.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7935&{%%svid%%}">「ベラビスタ スパ&マリーナ尾道」に泊まる宮島狂言鑑賞の旅 3日間</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7936&{%%svid%%}"><img src="../page/tour1605/images/thum12.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7936&{%%svid%%}">日本の神々を巡る、飛鳥II初詣クルーズ 3日間【横浜港発着】</a>
		</div>
		<div class="itemBlock clearfix">
			<div  class="thum"><a href="../detail/?a=Item_detail&id=7937&{%%svid%%}"><img src="../page/tour1605/images/thum13.jpg" alt="" width="60" height="70"/></a></div>
			<p><a href="../detail/?a=Item_detail&id=7937&{%%svid%%}">よさこい祭りと阿波踊り観賞 「モネの庭」マルモッタン訪問 3日間</a>
		</div>

	</div>


</div>
		
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
