@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */

.marginbottom10 {
	margin-bottom: 10px;
}
.marginbottom20 {
	margin-bottom: 20px;
}
.YellowLabel {
	width:950px;
	line-height:35px;
	margin:0 auto;
	text-align:center;
	margin-bottom:20px;
	background-color:#a3975b;
}
.kome {
	color: #cc0001;
}
#main {
	width: 950px;
	margin: 0 auto 50px;
}
#mainBorder {
	width: 862px;
	color: #000;
	margin: 0 auto 60px;
	padding: 30px 34px 40px;
	/*border: 10px solid #f2f1ed;*/
	border: 10px solid #ffffff;
	background: #fff;
}
h1 {
	height: 152px;
	margin-bottom: 27px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.categoryIntroduction h1 {
	background-image: url("../../images/Service/Service-title.jpg");
}
#mainBorder .RedLabel {
	background:#C80000;
	padding:5px 0;
	color:#fff;
	margin-bottom:30px;
	text-align:center;
}
#mainBorder .NewLabel {
	background:#F3C7D6;
	padding:0;
	color:#D60F12;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;
}
#mainBorder .acceptConfirmh2 {
	width:135px;
	height:27px;
	margin-bottom:20px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/Service/acceptConfirmh2.gif");
}
#mainBorder .acceptConfirmh3 {
	width:859px;
	height:37px;
	margin-bottom:15px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/Service/acceptConfirmh3.jpg");
}
#mainBorder .acceptCompleteh3 {
	width:859px;
	height:37px;
	margin-bottom:15px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/Service/acceptCompleteh3.jpg");
}
#IntroductionWrapper {
	width:963px;
	margin-right:-13px;
	color:#4C392A;
}
#IntroductionWrapper li{
	width:268px;
	height:119px;
	float:left;
	/*background-image: url("../../images/Service/Introduction-bg.gif");*/
	background-color:#FFFFFF;
	padding:20px 20px 10px 20px;
	margin:0 13px 10px 0;
}
#IntroductionWrapper .IntroductionInner {
	margin-bottom:10px;
}
#IntroductionWrapper .IntroductionInner tr {
	height:57px;
	margin-right:10px;
}
#IntroductionWrapper .IntroductionInner tr td p {
	display:block;
	width:57px;
	height:57px;
	margin-right:10px;
}
#IntroductionWrapper .IntroductionInner a {
	color:#CA0000;
}
#mainBorder #acceptTop {
	margin-bottom:40px;
}
#mainBorder #acceptTop .acceptLeft {
	width:500px;
	float:left;
}
#mainBorder #acceptTop .acceptRight {
	float:right;
}
#mainBorder #acceptTop .acceptLeft #pageTitle {
	margin-bottom:15px;
}
#mainBorder #acceptTop .acceptLeft #categoryIcon {
	float: left;
	width: 57px;
}
#mainBorder #acceptTop .acceptLeft h2 {
	float: left;
	padding-left:10px;
	line-height:57px;
	font-weight:bold;
	width: 433px;
}
#mainBorder #acceptTop .acceptLeft .acceptNotice {
	font-weight:bold;
}
#mainBorder #acceptTop .acceptRight .acceptRightImage {
	width:328px;
	height:246px;
}
#mainBorder .contact {
	background:#EDEDED;
	padding:15px 0;
	margin-top:10px;
}
#mainBorder #acceptBottom {
	background:#EDEDED;
	padding:10px 20px 30px;
}
#mainBorder #acceptBottom h3 {
	font-weight:bold;
	margin-bottom:10px;
}
#mainBorder #acceptBottom table {
	margin-bottom:10px;
	vertical-align:middle;
}
#mainBorder #acceptBottom .acceptInput {
	height:24px;
}
#mainBorder #acceptBottom .acceptInput .acceptDate {
	width:71px;
	margin:0 5px 0;
}
#mainBorder #acceptBottom .acceptInput select {
	width:164px;
	margin-left:5px;
}
#mainBorder #acceptBottom textarea {
	width:820px;
	height:65px;
	margin:5px 0 20px;
}
#mainBorder .acceptConfirmContent {
	width:859px;
	margin-bottom:50px;
}
#mainBorder .acceptConfirmContent th, #mainBorder .acceptConfirmContent td {
	border: solid 1px #cccccc;
	padding: 6px 0 6px 20px;
}
#mainBorder .acceptConfirmContent th {
	width: 173px;
	padding-left: 30px;
	background: url("../../images/tablebg.gif") no-repeat left top;
	vertical-align:top;
}
#button {
	margin: 0 0 0 126px;
}
#button li {
	float: left;
	margin-right: 18px;
}
#button a {
	display: block;
	overflow: hidden;
	height: 39px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/form/button.jpg");
	background-repeat: no-repeat;
}
#button .correct a, #button .final a, #button .register a {
	width: 304px;
}
#button .correct a:link, #button .correct a:visited {
	background-position: 0 0;
}
#button .correct a:hover, #button .correct a:active {
	background-position: 0 -39px;
}
#button .final a:link, #button .final a:visited {
	background-position: -304px 0;
}
#button .final a:hover, #button .final a:active {
	background-position: -304px -39px;
}
#button .register a:link, #button .register a:visited {
	background-position: -608px 0;
}
#button .register a:hover, #button .register a:active {
	background-position: -608px -39px;
}
.categoryAcceptConfirm #mainBorder #acceptTop .acceptLeft {
	color:#4E382A;
}
.completeCenter {
	margin: 0 0 90px;
	padding: 50px 0 0;
	text-align: center;
}
.completeRed {
	margin: 0 0 10px;
	color: #cc0001;
	font-weight: bold;
}
.gotop a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/gotop.jpg") no-repeat;
}
.gotop a:link, .gotop a:visited {
	background-position: 0 0;
}
.gotop a:hover, .gotop a:active {
	background-position:0 -39px;
}
.reserve a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Service/reserve.jpg") no-repeat;
}
.reserve a:link, .reserve a:visited {
	background-position: 0 0;
}
.reserve a:hover, .reserve a:active {
	background-position:0 -39px;
}
.contact a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Service/contact.jpg") no-repeat;
}
.contact a:link, .contact a:visited {
	background-position: 0 0;
}
.contact a:hover, .contact a:active {
	background-position:0 -39px;
}