@charset "EUC-JP";
body {
	background:#fff;
}

#main_bg {
	margin: 0 auto;
	width: 100%;
	background:url(../images/socie1603_bg.jpg) top center no-repeat;
}

#main {
	font-size: 0;
	margin: 0 auto;
	width: 950px;
	line-height:none;
}

#main .socie2016 .plan {
	margin: 20px auto 30px auto;
}

















