@charset "EUC-JP";
@import url("../../../_common/css/global-fontsizemedium.css");

h1 {
	font-size: 14px;
}
#price, #purchaseForm h3, #purchaseForm textarea {
	font-size: 12px;
}
#price strong {
	font-size: 18px;
}
#itemInfo .message, #spec li, #itemNotice li, #spec2, #itemPhotoWide li {
	font-size: 10px;
}
#selectBoxes select {
	font-size: 11px;
}
