<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ジョルジオ アルマーニ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/armani/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    
      <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->
    
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ジョルジオ アルマーニ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/armani/images/armani.jpg" alt="ジョルジオ アルマーニ" /></div>
	<div id="main">
		<div id="itemCatalog">


			<div>
				<a href="../detail/?a=Item_detail&id=7974&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7974&{%%svid%%}">
				<h1>レディース 2WAYバッグ（カラー：グリーン）</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7973&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7973&{%%svid%%}">
				<h1>レディース ミニショルダーバッグ</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7972&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7972&{%%svid%%}">
				<h1>レディース ゼブラ柄バッグ</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7971&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_04.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7971&{%%svid%%}">
				<h1>レディース ロングウオレット</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7970&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_05.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7970&{%%svid%%}">
				<h1>メンズ メッセンジャーバッグ</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7969&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_06.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7969&{%%svid%%}">
				<h1>メンズ バックパック</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7968&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160714_07.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
				<img class="item_icon" style="" src="../_common/images/icon_04.gif" width="36" height="13">
				<a href="../detail/?a=Item_detail&id=7968&{%%svid%%}">
				<h1>メンズ トラベルポーチ</h1></a>
			</div>

			<div>
				<a href="../detail/?a=Item_detail&id=7127&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160215_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=7127&{%%svid%%}">
				<h1>レディース カーフレザーバッグ</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7128&{%%svid%%}"><img src="../page/luxury/armani/images/armani_160215_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=7128&{%%svid%%}">
				<h1>メンズ ビジネスブリーフケース</h1></a>
			</div>

			<div class="end">
				<a href="../detail/?a=Item_detail&id=5187&{%%svid%%}"><img src="../page/luxury/armani/images/armani_150227_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.3.13.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=5187&{%%svid%%}">
				<h1>レディース バッグ（カラー：ベージュ）</h1></a>
			</div>

			<div>
				<a href="../detail/?a=Item_detail&id=5188&{%%svid%%}"><img src="../page/luxury/armani/images/armani_150227_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.3.13.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=5188&{%%svid%%}">
				<h1>レディース ショルダーバッグ（カラー：ブラック）</h1></a>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=5189&{%%svid%%}"><img src="../page/luxury/armani/images/armani_150227_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.3.13.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=5189&{%%svid%%}">
				<h1>レディース トラベルウオレット（カラー：サックスブルー）</h1></a>
			</div>


			<div class="end">
				<a href="../detail/?a=Item_detail&id=4905&{%%svid%%}"><img src="../page/luxury/armani/images/armani_141110_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.11.24.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4905&{%%svid%%}">
				<h1>レディース トートバッグ</h1></a>
			</div>

			<div class="end">
				<a href="../detail/?a=Item_detail&id=4670&{%%svid%%}"><img src="../page/luxury/armani/images/140818_armani06_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.9.1.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4670&{%%svid%%}">
				<h1>メンズ トラベルウオレット</h1></a>
			</div>




		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
