@charset "EUC-JP";
@import url("../global-fontsizelarge.css");

#main h2 {
	font-size: 20px;
}
#main li h3, #main li .itemPrice {
	font-size: 14px;
}
#main li .itemMessage, #main li .itemDesc {
	font-size: 12px;
}
