<div class="fortop" align="right"><a href="#">ページトップ</a></div>
<!----------auth_about ここから---------->
<div id="publication">

<div id="publicationUpper">
<div id="publicationWire">
<div id="aboutStoreGuidance">
<h2>STORE GUIDANCE</h2>
<a href="https://www2.seibu.jp/wsc-customer-app/page/041/dynamic/top/Top" target="_blank" class="rov_guidance_btn" target="_blank" class="rov_guidance_btn"><img src="{tpl_var name=sys_pc_path}_common/images/storeguidance_btn.gif" width="204" height="34" alt="営業時間・休業日のご案内（西武 沼津店）" /></a>
</div><!-- /aboutStoreGuidance -->
<div id="aboutMobile">
<h2>MOBILE SITE</h2>
<div id="mobileSiteInfo">
<div><img alt="QRコード" src="{tpl_var name=sys_pc_path}_common/images/mobileSiteInfo-qr.gif" /></div>
<dl>
<dt>ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</dt>
<dd>https://netorder.sogo-seibu.co.jp/rps/m/</dd>
</dl>
</div><!-- /mobileSiteInfo -->
</div><!-- /aboutMobile -->
<div id="aboutBeginner">
<dl>
<dt><img src="{tpl_var name=sys_pc_path}_common/images/beginner_item.gif" alt="" width="220" height="25" /></dt>
<dd>
<ul id="forBeginner">
<li id="forBeginnerGuide"><a href="{tpl_var name=sys_pc_path}static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
<li id="forBeginnerSite"><a href="{tpl_var name=sys_pc_path}static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
</ul>
</dd>
</dl>
</div><!-- /aboutBeginner -->
<div class="clearBoth"></div>
</div><!-- /publicationWire -->
</div><!-- /publicationUpper -->

<div id="footerMenu">
<div class="inner">
<div id="mainContents">
<h2>MAIN CONTENTS</h2>
<div>
<dl>
<dt><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></dt>
<dt><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></dt>
<dt><a href="{tpl_var name=sys_pc_path}static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティー</a></dt>         
<dt><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></dt>
<dt><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></dt>         
<dt><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=1&{%%svid%%}">フード</a></dt>     
</dl>
</div>
<br clear="all" />
</div><!-- /mainContents -->
<div id="guide">
<h2>GUIDE</h2>
<dl>
<dt><a href="{tpl_var name=sys_pc_path}static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></dt>        
<dt><a href="{tpl_var name=sys_pc_path}static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></dt>        
</dl>
</div><!-- /guide -->
<div id="infoma">
<h2>INFORMATION</h2>
<dl>
<dt><a href="{tpl_var name=sys_pc_path}info/?svid={tpl_var name=svid}">EVENT&amp;INFORMATION</a></dt>       
<dt><a href="{tpl_var name=sys_pc_path}?a=History&{%%svid%%}">履歴一覧</a></dt>        
<dt><a href="{tpl_var name=sys_pc_path}?a=EditInput&edit=''&{%%svid%%}">会員情報変更</a></dt>        
<dt><a href="{tpl_var name=sys_pc_path}?a=Secession&{%%svid%%}">退会</a></dt>        
<dt><a href="{tpl_var name=sys_pc_path}static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></dt>        
</dl>
</div><!-- /infoma -->
<div id="ftrCaution">
<ul>
<li>※本サイトの表示価格は、本体価格に8%の消費税額を加えたお支払総額となっております。（履歴一覧に掲載の商品を除く）</li>
<li>※写真と実物では、色、素材感が多少異なる場合がございます。あらかじめご了承ください。</li>
<li>※掲載商品につきましては、数に限りがございますので品切れの際はご容赦ください。</li>
</ul>
</div><!-- /ftrCaution -->
<br clear="all" />
</div><!-- /inner -->
</div><!-- /footerMenu -->

</div>