<!-- デザイン改修 -->
<div id="headerExtended" class="bdrNon">
		<div class="inner">
			<h1 id="siteLogo"><a href="{tpl_var name=sys_pc_path}?{%%svid%%}">ROYAL PLATINUM SELECTION</a></h1>
            <div id="header2">
              <div id="appendixNav">
                <ul>
                  <li id="appendixNavGuide"><a href="{tpl_var name=sys_pc_path}static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
                  <li id="appendixNavSitemap"><a href="{tpl_var name=sys_pc_path}static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></li>
                  <li id="appendixNavLogout"><a href="{tpl_var name=sys_pc_path}?a=logout&{%%svid%%}">ログアウト</a></li>
                </ul>
              </div>
		</div>

            <div id="headerRnav">
            
                <dl id="siteSearch">
                    <dt>商品&amp;サービス検索</dt>
                    <dd>
						<form action="{tpl_var name=sys_pc_path}?a=Search&{%%svid%%}" method="post" name="form_search" enctype="multipart/form-data">
						<input type="hidden" name="a" value="Search">
						{tpl_var name=svid_post|unescape}
						<input class="textBox" type="text" name="keyword" />
						<input class="button" type="submit" value="検索" />
						</form>
                    </dd>
                </dl>            
            
			<ul id="headerNav">
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>            
            
            </div>
	<div class="clearBoth"></div>
			
	</div>
    
           <div id="globalNav">         
            <ul class="globalNavinner">
              <li id="globalNav01"><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
              <li id="globalNav02"><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></li>
              <li id="globalNav03"><a href="{tpl_var name=sys_pc_path}static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティ</a></li>
              <li id="globalNav04"><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></li>
              <li id="globalNav05"><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></li>
              <li id="globalNav06"><a href="{tpl_var name=sys_pc_path}item/?a=Item_list&category=1&{%%svid%%}">フード</a></li>
            </ul>
          </div>    
    
	  <div id="personalInfo">
	    <div class="inner">
	      <p id="welcomeMessage">ようこそ、{tpl_var name=f_c_name}さま</p>
	      <p id="historyLink"><a href="{tpl_var name=sys_pc_path}?a=History&{%%svid%%}">履歴一覧</a></p>
 		  {tpl_var name=h_contact_btn_pc|unescape}
 		  {tpl_var name=f_m_name_view_h|unescape}
        </div>
      </div>
</div>