<!-- #BeginLibraryItem "/Library/header.lbi" -->
	<div id="header">
		<div class="inner">
			<p id="siteLogo"><a href="{tpl_var name=sys_pc_path}?{%%svid%%}">ROYAL PLATINUM SELECTION -SHIBUYA-</a></p>
			<ul id="headerNav">
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
<!-- #EndLibraryItem -->