<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ソシエのエステティックサービスのご優待サービスのご案内 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/socie2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/socie2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/socie2016/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ソシエ2016新春　エステご優待スペシャルプラン</li>
	</ul>

<div id="main">
<div class="socie2016">
<h1><img src="../page/socie2016/images/socie_01.jpg" width="950" height="573" alt="SICIE×ROIAL PLATINUM SELECTION　2016新春　エステご招待スペシャル　1月31日（日）まで　ロイヤル・プラチナ セレクション会員さま限定で、エステティックサロン ソシエの特別なプランをご案内いたします。通常価格より最大２３％OFFでご利用いただけるうえ、特典もご用意いたしました。　特典　1.スペシャルプランご利用の方には、もれなく、1回60分のトリートメントをプレゼント　2.ソシエが初めてのお客様：入会金無料" /></h1>
<p><img src="../page/socie2016/images/socie_02.jpg" width="950" height="886"  alt="スペシャルプラン　1回あたり75分=22,680円のコースを6回、8回、24回で7％〜23％OFFでご利用いただけます。　ソシエ会員さま　6回コース　合計 136,080円　7％OFF　合計 126,554円　8回コース　合計 408,240円　20％OFF　合計 326,592円　24回コース　合計 544,320円　23％OFF　合計 326,592円　ソシエが初めてのお客さま　ソシエが初めてのお客さまは入会金無料でご利用いただけます。　6回コース　合計 160,920円　（入会金 21,600円含む）　7％OFF　合計 129,794円　18回コース　合計 433,080円　（入会金 21,600円含む）　20％OFF　合計 329,832円　24回コース　合計 569,160円　（入会金 21,600円含む）　23％OFF　合計 422,366円" /></p>
<p><img src="../page/socie2016/images/socie_03.jpg" width="950" height="517"  alt="ソシエのこだわり　1.ハンドの充実：ハンド中心にすることで、
一人ひとりのお顔立ちや肌質に合わせたケアをご提供。　2.スペシャリストの育成：フェイシャルならフェイシャルと、1つの科目の体得に専念させる「専科生」の導入。　3.オーダーメイドのサービス：お客さまの肌質やライフスタイル、最終目標などをくわしくお伺いしトリートメントや化粧品をご提案。　4.完全個室制：他人の目を気にすることなく解放感に包まれていただくことで、一層高まる肌の活力。　そごう・西武のエステティックサロン ソシエグループサロン　西武渋谷店　西武所沢店　西武秋田店　西武春日部店　そごう千葉店　そごう大宮店　そごう西神店　そごう徳島店　お問い合わせ・ご予約　0120-04-1136　受付時間：午前10時〜午後8時　※各店へおつなぎいたします。" /></p>
</div></div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
