@charset "utf-8";
/* -----------------------------------------
so.css
sp.html用css
----------------------------------------- */



body {
	background-color: #333;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
}

#Wrapper {
	position: relative;
	overflow: hidden;
}

.linkArea {
	position: absolute;
	border: 1px solid #f00;
	cursor: pointer;
}


/* header
----------------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 100;
	opacity: 0.95;
}

header #BtnList {
	position: absolute;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#575757));
	background: -moz-linear-gradient(top, #7a7a7a, #575757);
	background: linear-gradient(#7a7a7a, #575757);
	color: #fff;
	width: 100%;
	height: 45px;
	z-index: 100;
}

header #HomeBtn,
header #MenuBtn,
header #JumpAreaBtn {
	float: left;
	background: url(../sp/line_01.gif) repeat-y right top;
	padding-right: 2px;
}

header #HelpBtn,
header #PageLinkBtn,
header #ShareBtn {
	float: right;
	background: url(../sp/line_01.gif) repeat-y left top;
	padding-left: 2px;
}

header #BtnList li.open {
	background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#373737));
	background: -moz-linear-gradient(top, #2f2f2f, #373737);
	background: linear-gradient(#2f2f2f, #373737);
}

header #IndexList {
	position: absolute;
	top: 44px;
	height: 0;
	overflow: hidden;
	width: 100%;
	z-index: 50;
}

body.tablet header #IndexList {
	max-width: 500px;
}

header #IndexList #Menu {
	position: absolute;
	bottom: 0;
	width: 100%;
}

header #IndexList li {
	background: url(../sp/mrk_01.png) no-repeat 95% 50% #383838;
	background-size: 11px 18px;
	border-top: 1px solid #757575;
	padding: 15px 10% 15px 15px;
}

header #IndexList li.click {
	background: url(../sp/mrk_01.png) no-repeat 95% 50% #666666;
	background-size: 11px 18px;
}

header #IndexList li.midashi {
	background: none #383838;
	padding: 15px;
}

header #IndexList li a {
	text-decoration: none;
}

header #IndexList li.folder {
	padding: 0;
	background: none;
	background-color: transparent;
	border-top: none;
}

header #IndexList li.folder .folderTit {
	display: block;
	background: url(../sp/mrk_02.png) no-repeat 15px 50% #383838;
	background-size: 23px 23px;
	border-top: 1px solid #757575;
	padding: 15px 15px 15px 45px;
}

header #IndexList li.folder.open .folderTit {
	background: url(../sp/mrk_03.png) no-repeat 15px 50% #383838;
	background-size: 23px 23px;
}

header #IndexList li.folder ul {
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
}

header #IndexList li.folder.close ul {
	height: 0;
}

header #IndexList li.folder li {
	padding-left: 45px;
}

header #IndexList li.folder li.folder {
	padding-left: 0;
}

header #IndexList li.folder li.folder .folderTit {
	background: url(../sp/mrk_02.png) no-repeat 45px 50% #383838;
	background-size: 23px 23px;
	padding: 15px 15px 15px 75px;
}

header #IndexList li.folder li.folder li {
	padding-left: 75px;
}

header #JumpArea {
	position: absolute;
	top: 44px;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: #383838;
	z-index: 40;
}

body.tablet header #JumpArea {
	max-width: 300px;
}

header #JumpAreaInner {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

header #JumpArea #JumpTitle {
	margin: 50px 0 20px;
	font-size: 19px;
}

header #JumpArea #JumpInputArea {
	text-align: center;
}

header #JumpArea #JumpInputArea li {
	display: inline-block;
	vertical-align: top;
}

header #JumpArea #JumpPageInput {
	width: 60px;
	padding: 7px 10px;
	border-radius: 5px;
}

a.cmnBtn {
	display: inline-block;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f5f7), to(#9ba1af));
	background: -moz-linear-gradient(top, #f3f5f7, #9ba1af);
	background: linear-gradient(#f3f5f7, #9ba1af);
	padding: 3px 6px;
	color: #333;
	text-align: center;
	text-decoration: none;
}

a.cmnBtn.click {
	background: -webkit-gradient(linear, left top, left bottom, from(#9ba1af), to(#f3f5f7));
	background: -moz-linear-gradient(top, #9ba1af, #f3f5f7);
	background: linear-gradient(#9ba1af, #f3f5f7);
}

header #JumpArea #JumpPageAdd,
header #JumpArea #JumpPageDec {
	font-size: 23px;
}

header #JumpArea #JumpAll {
	font-size: 15px;
	margin: 5px 0;
}

header #JumpArea #JumpBtn {
	font-size: 21px;
	padding: 3px 40px;
}


header #ShareArea {
	position: absolute;
	top: 44px;
	height: 0;
	overflow: hidden;
	width: 100%;
	z-index: 40;
}

body.tablet header #ShareArea {
	max-width: 300px;
	right: 0;
}

header #ShareArea #ShareList {
	position: absolute;
	bottom: 0;
	width: 100%;
}

header #ShareArea li {
	background: url(../sp/mrk_01.png) no-repeat 95% 50% #383838;
	background-size: 11px 18px;
	border-top: 1px solid #757575;
}

header #ShareArea li a {
	display: block;
	text-decoration: none;
	padding: 15px 10% 15px 45px;
}

header #ShareArea li#ShareFacebook a {
	background: url(../sp/ico_share_facebook.png) no-repeat 15px 50%;
	background-size: 20px 20px;
}

header #ShareArea li#ShareTwitter a {
	background: url(../sp/ico_share_twitter.png) no-repeat 15px 50%;
	background-size: 20px 20px;
}

header #ShareArea li#ShareMail a {
	background: url(../sp/ico_share_mail.png) no-repeat 15px 50%;
	background-size: 20px 20px;
}

header #HelpArea {
	position: absolute;
	top: -100px;
	background: url(../sp/help_bg.png) no-repeat 100% 0 #383838;
	-webkit-background-size: 32px 12px;
	background-size: 32px 12px;
	width: 100%;
	height: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 10px 0;
	overflow: hidden;
	z-index: 60;
}

header #HelpArea #HelpAreaInner {
	position: absolute;
	right: 10px;
	background-color: #f1f1f1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	max-width: 400px;
	margin-left: 10px;
	color: #333;
	padding: 15px 25px 15px 18px;
}

header #HelpArea #HelpCloseBtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

header #HelpArea #HelpScrollArea {
	overflow: hidden;
}

header #HelpArea ul {
	margin-bottom: 15px;
}

header #HelpArea ul li {
	border-bottom: 1px solid #bababa;
	padding: 15px 0;
}

header #HelpArea ul li .icon {
	float: left;
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#575757));
	background: -moz-linear-gradient(top, #7a7a7a, #575757);
	background: linear-gradient(#7a7a7a, #575757);
	width: 45px;
}

header #HelpArea ul li .noBg {
	background: none;
}

header #HelpArea ul li .title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 55px;
}

header #HelpArea ul li .text {
	padding-left: 55px;
}

header #HelpArea #HelpScrollBar {
	position: absolute;
	top: 35px;
	right: 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #999;
	width: 4px;
	height: 100px;
}


/* SliderArea
----------------------------------------- */

#SliderArea {
	position: relative;
	height: 100%;
}

#SliderArea.move {
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

#SliderArea li {
	position: relative;
	float: left;
	overflow: hidden;
	height: 100%;
	border-right: 2px solid #333;
}

#SliderArea .pageArea {
	position: absolute;
	overflow: hidden;
}

#SliderArea li .mainImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#SliderArea li .mainImg p {
	position: absolute;
	width: 100%;
}

#SliderArea li .linkLayer {
	position: absolute;
	top: 0;
	left: 0;
}


/* BtmArea
----------------------------------------- */

#BtmArea {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}


/* PageBtn
----------------------------------------- */

#PageBtnLeft,
#PageBtnRight {
	position: absolute;
	display: none;
}

#PageBtnLeft a,
#PageBtnRight a {
	display: block;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.7);
/*	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#575757));
	background: -moz-linear-gradient(top, #7a7a7a, #575757);
	background: linear-gradient(#7a7a7a, #575757);*/
	padding: 8px 13px;
}

#PageBtnLeft {
	left: 10px;
	bottom: 60px;
}

#PageBtnRight {
	right: 10px;
	bottom: 60px;
}


/* PageNum
----------------------------------------- */

#PageNum {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	height: 25px;
}

#PageNum div {
	display: inline-block;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.7);
	padding: 0 10px;
	min-width: 45px;
	height: 25px;
	color: #fff;
	line-height: 25px;
}


/* PageSliderArea
----------------------------------------- */

#PageSliderArea {
	position: relative;
	bottom: 0;
	height: 44px;
	background-color: rgba(0,0,0,0.7);
	border-top: 1px solid #666;
}

#PageSliderAreaInner {
	position: absolute;
	left: 6px;
	right: 6px;
	bottom: 6px;
	height: 32px;
}

#PageSliderAreaInner::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 12px;
	right: 12px;
	bottom: 14px;
	background-color: #ccc;
}

#PageSliderBar {
	position: absolute;
	top: 14px;
	bottom: 14px;
	width: 0;
	background-color: #666;
}

#PageSlider {
	position: absolute;
	top: 0;
	width: 32px;
	height: 32px;
}

#PageSlider::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 5px;
	width: 0;
	height: 0;
	background-color: #fff;
	border-radius: 12px;
	border: 12px solid #fff;
	z-index: 10;
	cursor: pointer;
}


/* Loading
----------------------------------------- */

#Loading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 200;
	display: none;
}

#LoadingInner {
	margin-top: -50px;
}

#Loading img {
	-webkit-animation: loading 1.5s infinite linear;
	animation: loading 1.5s infinite linear;
}

@-webkit-keyframes loading {
	0%   { -webkit-transform: rotateZ(0deg); }
	100% { -webkit-transform: rotateZ(360deg); }
}
@keyframes loading {
	0%   { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg); }
}
