@charset "EUC-JP";
@import url("../../../../_common/css/global-fontsizesmall.css");

h1 {
	font-size: 12px;
}
#price, #purchaseForm h3, #purchaseForm textarea {
	font-size: 10px;
}
#price strong {
	font-size: 16px;
}
#itemInfo .message, #spec li, #itemNotice li, #spec2, #itemPhotoWide li {
	font-size: 10px;
}
#selectBoxes select {
	font-size: 10px;
}
