@charset "EUC-JP";

#main {
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background: #fff;
}
#mainvisual {
	width: 100%;
	height: 280px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background:url("../images/main_bg.jpg") #2e281e center;
	position:relative;
	overflow:hidden;
}
#itemCatalog h1 {
	background: url("../images/ttl_bg.jpg") no-repeat left center;
	height:60px;
	line-height: 62px;
	padding-left:12px;
	font-size:15px;
	font-weight:bold;
	color:#151515;
	margin:0px 10px 10px 6px;
	letter-spacing: 0em;
}

/*-----------------new css160701-----------------*/
#main {
	width: 864px;
	margin: 0 auto 50px;
	padding: 35px 29px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background: #fff;
}
#itemCatalog {
	letter-spacing: -.40em;
}

#itemCatalog div{
	display: inline-block;
	*display: inline;
	*zoom:1;
	letter-spacing: normal; 
	vertical-align: top;
	width:276px;
	margin:0 6px 40px ;
}


#itemCatalog div div.closeDate{
	display: none;
	vertical-align: top;
	width:0px;
	margin:0;
}

#itemCatalog div img{
	width:273px;
	height:205px;
	border:#dddddd 1px solid;
}

#itemCatalog div a:hover img {
    opacity: 0.5;
}

#itemCatalog div h2{
	margin-top:7px;
	font-size:1.2em;
}

#itemCatalog div a{
	color:#4D392A;
}
#itemCatalog div a:hover{
	color: #ccc881;
}

#itemCatalog div:after {
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

#itemCatalog p.sttl {
	margin:0 0 20px;
}


#itemCatalog div .item_icon{
	width: 36px;
	height: 13px;
	display: block;
	margin-top: 7px;
	margin-right:3px;
}
/*-----------------new css160701_end-----------------*/