<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>夏の上質ワードローブ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />

	<link rel="stylesheet" href="../page/summer_wardrobe/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer_wardrobe/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer_wardrobe/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer_wardrobe/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer_wardrobe/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">夏の上質ワードローブ</li>
	</ul>

<div id="main">
	<div id="inner">
		<p class="link01ph"><a href="../detail/?a=Item_detail&id=5643&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link01ph_off.jpg" alt="ケイスリー・ヘイフォード シャツ／パンツ" width="522" height="792"></a></p>
		<p class="link02ph"><a href="../detail/?a=Item_detail&id=5641&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link02ph_off.jpg" alt="マルニ ショッピングバッグ" width="340" height="316"></a></p>
   		<p class="link03ph"><a href="../detail/?a=Item_detail&id=5640&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link03ph_off.jpg" alt="カート レザーポーチ" width="322" height="236"></a></p>
  	 	<p class="link04ph"><a href="../detail/?a=Item_detail&id=5642&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link04ph_off.jpg" alt="マークジェイコブス サンダル" width="237" height="190"></a></p>
	
    	<img src="../page/summer_wardrobe/images/main.jpg" width="950" height="1034" alt="夏の上質ワードローブ カジュアルな中にも上品さが感じられる大人クールな夏アイテムを厳選しました。"></p>
    	<p class="link01"><a href="../detail/?a=Item_detail&id=5643&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link01_off.jpg" alt="ケイスリー・ヘイフォード シャツ／パンツ" width="183" height="61"></a></p>
		<p class="link02"><a href="../detail/?a=Item_detail&id=5641&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link02_off.jpg" alt="マルニ ショッピングバッグ" width="130" height="61"></a></p>
    	<p class="link03"><a href="../detail/?a=Item_detail&id=5640&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link03_off.jpg" alt="カート レザーポーチ" width="92" height="61"></a></p>
    	<p class="link04"><a href="../detail/?a=Item_detail&id=5642&{%%svid%%}" class="hover"><img src="../page/summer_wardrobe/images/img_link04_off.jpg" alt="マークジェイコブス サンダル" width="135" height="61"></a></p>
		
	
	</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
