@charset "EUC-JP";

body {
    background:#FFF;
}

#main {
	width: 100%;
	background: #ffffff;
	overflow:hidden;
}
#main #main_visual {
	text-align:center;
	background:url(../images/bg01.jpg) repeat-x;
}
#main #main_contents {
	width:950px;
	margin:0 auto;
}
#main #main_contents #contents01 {
	margin-top:-50px;
}
#main #main_contents #contents02 {
	margin:-50px 34px 40px;
	font-size:14px;
}
#main #main_contents #contents03 {
	text-align:center;
	margin-bottom:50px;
}
#main #main_contents #contents04 {
	margin-top:-48px;
	background:url(../images/bg02.jpg) no-repeat left 63px;
}
#main #main_contents #contents04 .img01 {
	margin-bottom:30px;
}
#main #main_contents #contents04 .img02 {
	text-align:center;
	margin-bottom:25px;
}
#main #main_contents #contents04 ul {
	margin:0 34px 40px;
	font-size:14px;
}
#main #main_contents #contents04 .img03 {
	text-align:center;
	margin-bottom:10px;
}
#main #main_contents #contents04 .txt01 {
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}
#main #main_contents #contents04 .img04 {
	text-align:center;
	margin-bottom:25px;
}

#purchaseForm {
	width:820px;
    padding: 11px 20px 20px;
    background: #ededed;
	margin:0 auto;
	margin-bottom:40px;
}
#purchaseForm h2 {
    width: 168px;
    height: 16px;
    line-height: 0;
    margin-bottom: 10px;
    font-size: 0;
    text-indent: -9999px;
    background: transparent url(../../../_common/images/item/purchaseForm-title.gif) no-repeat 0 0;
}
#purchaseForm textarea {
    display: block;
    width: 818px;
    height: 68px;
}
#purchaseForm .submit3 a {
    display: block;
    width: 296px;
    height: 40px;
    margin: 30px auto 10px;
    overflow: hidden;
    text-indent: -9999px;
    background-color: transparent;
    background-image: url(../images/btn01.jpg);
    background-repeat: no-repeat;
}
#purchaseForm .submit3 a:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}