@charset "EUC-JP";

/**
 * ブラウサ間の調整
 */
.LoginPage #wrapper {
	display: inline-block;
}
.LoginPage #wrapper {
	display: block;
}
.LoginPage #wrapper:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
