<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>コスメ＆ビューティー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/cosmetic/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/cosmetic/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/cosmetic/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/cosmetic/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">コスメ＆ビューティー</li>
	</ul>
	<div id="main">


<!----------- 編集エリアここから ----------->
		<h1>コスメ＆ビューティー</h1>
        <div style="width:934px; margin-top:20px; background-color:#fff;">
        <p>国内外で高い評価を得ているブランドから、贅沢なスキンケア、最新のオーガニックコスメ、メイクアップアイテムやフレグランスなど幅広く取りそろえました。<br />お気に入りのアイテムはあなたに優雅な時間をもたらします。</p>
		</div><br><br>
        
        <div id="brandBannerArea">
<ul>
	<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category132"><img alt="Annick Goutal" src="../page/cosmetic/images/cosme_img00.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category132">アニックグタール</a></p></li>

		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category126"><img alt="BOBBI BROWN" src="../page/cosmetic/images/cosme_img01.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category126">ボビィ ブラウン</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category118"><img alt="CLARINS" src="../page/cosmetic/images/cosme_img02.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category118">クラランス</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category119"><img alt="CLINIQUE" src="../page/cosmetic/images/cosme_img03.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category119">クリニーク</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category124"><img alt="DE LA MER" src="../page/cosmetic/images/cosme_img04.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category124">ドゥ・ラ・メール</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category115"><img alt="ESTEE LAUDER" src="../page/cosmetic/images/cosme_img05.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category115">エスティ ローダー</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category121"><img alt="GIVENCHY" src="../page/cosmetic/images/cosme_img06.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category121">ジバンシィ</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category120"><img alt="GUERLAIN" src="../page/cosmetic/images/cosme_img07.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category120">ゲラン</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category125"><img alt="HACCI" src="../page/cosmetic/images/cosme_img08.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category125">ハッチ</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category108"><img alt="HELENA RUBINSTEIN" src="../page/cosmetic/images/cosme_img09.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category108">ヘレナ ルビンスタイン</a></p></li>

		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category117"><img alt="Kiehl's" src="../page/cosmetic/images/cosme_img11.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category117">キールズ</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category110"><img alt="LANCOME PARIS" src="../page/cosmetic/images/cosme_img12.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category110">ランコム</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category133"><img alt="ロクシタン" src="../page/cosmetic/images/cosme_img17.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category133">ロクシタン</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category116"><img alt="OrganicMarket" src="../page/cosmetic/images/cosme_img13.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category116">オーガニック マーケット</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category109"><img alt="POLA" src="../page/cosmetic/images/cosme_img14.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category109">ポーラ</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category122"><img alt="shu uemura" src="../page/cosmetic/images/cosme_img15.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category122">シュウ ウエムラ</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category●●●"><img alt="YVES SAINT LAURENT" src="../page/cosmetic/images/cosme_img21.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category●●●">SK-II LXP</a></p></li>
		<li><a href="../item/?a=item_list&category=2&{%%svid%%}#category107"><img alt="YVES SAINT LAURENT" src="../page/cosmetic/images/cosme_img16.gif"></a>
		<p><a href="../item/?a=item_list&category=2&{%%svid%%}#category107">イヴ・サンローラン</a></p></li>
		</ul>
	</div>
<div class="clearBoth"></div>
        
        
        
<!----------- 編集エリアここまで ----------->

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
