<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>メンズ デザイナーズコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">メンズ デザイナーズコレクション</li>
</ul>
<div id="main" class="brand-detail brand-detail-all">



	<h1><img width="1152" height="351" alt="ロイヤル・プラチナ セレクション 春の逸品会 メンズ デザイナーズコレクション カジュアルスタイルを自分らしく。 ウエアから雑貨、シューズまで遊び心のある男性に似合う 大人の洗練アイテムをラインアップ。 " src="../page/spring/images/cate_f_ttl.jpg"></h1>
	<div id="brand">
		<ul><li><a href="#" target="_top"><img src="../page/spring/images/F1_costumnational01_1.jpg" width="280" height="210" alt="コスチューム ナショナル　セットアップスーツ／シャツ／ネクタイ" /><span>コスチューム ナショナル　セットアップスーツ／シャツ／ネクタイ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F2_costumnational02_1.jpg" width="280" height="210" alt="コスチューム ナショナル　ジャケット／イージーパンツ／シャツ／ネクタイ" /><span>コスチューム ナショナル　ジャケット／イージーパンツ／シャツ／ネクタイ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F3_marni01_1.jpg" width="280" height="210" alt="マルニ　カーディガン" /><span>マルニ　カーディガン</span></a></li></ul>
		<ul><li><a href="#" target="_top"><img src="../page/spring/images/F4_marni02_1.jpg" width="280" height="210" alt="マルニ　半袖シャツ" /><span>マルニ　半袖シャツ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F5_marni03_1.jpg" width="280" height="210" alt="マルニ　デニムパンツ" /><span>マルニ　デニムパンツ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F6_marcjacobs01_1.jpg" width="280" height="210" alt="マーク ジェイコブス　カーディガン／カジュアルシャツ" /><span>マーク ジェイコブス　カーディガン／カジュアルシャツ</span></a></li></ul>
		<ul><li><a href="#" target="_top"><img src="../page/spring/images/F7_maisonmargiela01_1.jpg" width="280" height="210" alt="メゾン マルタン マルジェラ　2WAYトートバッグ" /><span>メゾン マルタン マルジェラ　2WAYトートバッグ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F8_marcjacobs02_1.jpg" width="280" height="210" alt="マーク ジェイコブス　長財布" /><span>マーク ジェイコブス　長財布</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F9_marcjacobs03_1.jpg" width="280" height="210" alt="マーク ジェイコブス　2つ折り財布" /><span>マーク ジェイコブス　2つ折り財布</span></a></li></ul>
		<ul><li><a href="#" target="_top"><img src="../page/spring/images/F10_maisonmargiela02_1.jpg" width="280" height="210" alt="メゾン マルタン マルジェラ　スリッポンシューズ" /><span>メゾン マルタン マルジェラ　スリッポンシューズ</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F11_adidas01_1.jpg" width="280" height="210" alt="アディダス　＜ボストンスーパー 84-Lab.モデル＞ スニーカー" /><span>アディダス　＜ボストンスーパー 84-Lab.モデル＞ スニーカー</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F12_adidas02_1.jpg" width="280" height="210" alt="アディダス　＜スタンスミス 84-Lab.モデル＞ スニーカー" /><span>アディダス　＜スタンスミス 84-Lab.モデル＞ スニーカー</span></a></li></ul>
		<ul><li><a href="#" target="_top"><img src="../page/spring/images/F13_adidas03_1.jpg" width="280" height="210" alt="アディダス　＜スーパースター80s 84-Lab.モデル＞ スニーカー" /><span>アディダス　＜スーパースター80s 84-Lab.モデル＞ スニーカー</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F14_puma01_1.jpg" width="280" height="210" alt="プーマ　＜プーマ バイ ミヤハラヤスヒロ＞ スニーカー(MY-84)" /><span>プーマ　＜プーマ バイ ミヤハラヤスヒロ＞ スニーカー(MY-84)</span></a></li>
		<li><a href="#" target="_top"><img src="../page/spring/images/F15_puma02_1.jpg" width="280" height="210" alt="プーマ　＜プーマ バイ ミヤハラヤスヒロ＞ シューズ(MY-85)" /><span>プーマ　＜プーマ バイ ミヤハラヤスヒロ＞ シューズ(MY-85)</span></a></li></ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="その他の逸品はこちら" /></dt>
			<dd><a href="index_a.html" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="index_b.html" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="index_c.html" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="index_d.html" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="index_e.html" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="上質レディースウエア特集" /></a></dd>
			<dd><a href="index_f.html" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="index_g.html" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="index_h.html" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="心地良いインテリア特集" /></a></dd>
			<dd><a href="index_i.html" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<p class="pagetop"><a href="#sogo_seibu"><img src="../page/spring/images/pagetop.jpg" width="61" height="11" alt="PageTop" /></a></p>



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
