@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */
body.LoginPage {
	background: #000;
}

.LoginPage #wrapper {
	background-image:url("../../images/Login/login_bg.jpg");
	background-repeat: no-repeat;
	width:1024px;
	height:650px;
	margin:0 auto;
}
.LoginPage #wrapper .LoginForm {
	padding:167px 0 0 714px;
	margin-bottom:75px;
}
.LoginPage #wrapper .LoginForm0923 {
	padding:205px 0 0 622px;
	margin-bottom: 177px;
}
.LoginPage #wrapper .LoginForm0921 {
	padding:176px 0 0 582px;
	margin-bottom: 277px;
}
.LoginPage #wrapper .LoginForm .LoginID {
	width:161px;
	height:13px;
	margin:0 0 3px;
	text-indent: -9999px;
	background: url("../../images/Login/loginid.gif") no-repeat;
}
.LoginPage #wrapper .LoginForm .LoginPASS .LogincCheck {
	width:71px;
	height:13px;
	margin:0 0 3px;
	text-indent: -9999px;
	background: url("../../images/Login/loginpass.gif") no-repeat;
}
.LoginPage #wrapper .LoginForm .Login {
	width:182px;
	height:18px;
	background:#000;
	color:#fff;
	margin-bottom:15px;
}
.LoginPage #wrapper .LoginForm .buttonLogin a{
	display: block;
	width: 110px;
	height: 23px;
	margin:10px 0 20px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Login/buttonLogin.jpg") no-repeat;
}
.LoginPage #wrapper .LoginForm .buttonLogin {
	margin:10px 0 20px;
}
.LoginPage #wrapper .LoginForm .buttonLogin a:link, .LoginPage #wrapper .LoginForm .buttonLogin a:visited {
	background-position: 0 0;
}
.LoginPage #wrapper .LoginForm .buttonLogin a:hover, .LoginPage #wrapper .LoginForm .buttonLogin a:active {
	background-position: 0 -23px;
}
.LoginPage #wrapper .LoginForm .buttonRegist a{
	display: block;
	width: 110px;
	height: 23px;
	margin:0 0 30px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Login/buttonRegist.jpg") no-repeat;
}
.LoginPage #wrapper .LoginForm .buttonRegist a:link, .LoginPage #wrapper .LoginForm .buttonRegist a:visited {
	background-position: 0 0;
}
.LoginPage #wrapper .LoginForm .buttonRegist a:hover, .LoginPage #wrapper .LoginForm .buttonRegist a:active {
	background-position: 0 -23px;
}
.LoginPage #wrapper .LoginForm .forgot a{
	display: block;
	width: 198px;
	height: 13px;
	margin:0;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Login/forgot.jpg") no-repeat;
}
.LoginPage #wrapper .LoginForm .forgot a:link, .LoginPage #wrapper .LoginForm .forgot a:visited {
	background-position: 0 0;
}
.LoginPage #wrapper .LoginForm .forgot a:hover, .LoginPage #wrapper .LoginForm .forgot a:active {
	background-position: 0 -13px;
}
.LoginPage #wrapper .LoginForm0923 .buttonRegist0923 a{
	display: block;
	width: 240px;
	height: 43px;
	margin:0 0 0 64px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Login/buttonRegist0923.jpg") no-repeat;
}
.LoginPage #wrapper .about0923 {
	width:365px;
	height:38px;
	text-indent:-9999px;
	margin-bottom:30px;
	background: url("../../images/Login/about0923.gif") no-repeat;
}
.LoginPage #wrapper .regist0923 {
	width:363px;
	height:72px;
	text-indent:-9999px;
	margin-top:26px;
	background: url("../../images/Login/regist0923.gif") no-repeat;
}
.LoginPage #wrapper .about {
	width:270px;
	height:80px;
	text-indent:-9999px;
	margin-bottom:30px;
	background: url("../../images/Login/about.gif") no-repeat;
}

.LoginPASS, .LogincCheck{
	color:#ffffff;
}