<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ディオール | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/dior/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ディオール</li>
	</ul>
	<div id="brand"><img src="../page/luxury/dior/images/dior.jpg" alt="ディオール" /></div>
	<div id="main">
		<div id="itemCatalog">
        <div id="itemList">
            <div>
					<a href="../detail/?a=Item_detail&id=2917&{%%svid%%}"><img src="../page/luxury/dior/images/item106.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2917&{%%svid%%}">
					<h1>＜レディ ディオール＞ ハンドバッグ（カラー：オールドローズ）</h1></a>
					<p id="price">325,500円</p>
			</div>
			<div>
			        <a href="../detail/?a=Item_detail&id=2918&{%%svid%%}"><img src="../page/luxury/dior/images/item107.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2918&{%%svid%%}">
					<h1>＜レディ ディオール＞ ハンドバッグ（カラー：アンバーイエロー）</h1></a>
					<p id="price">325,500円</p>
			</div>
            		<div class="end">
					<a href="../detail/?a=Item_detail&id=2916&{%%svid%%}"><img src="../page/luxury/dior/images/item108.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2916&{%%svid%%}">
					<h1>＜パナレア＞ トートバッグ</h1></a>
					<p id="price">131,250円</p>
			</div>
            
			
            </div>
        
        
			<div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2154&{%%svid%%}"><img src="../page/luxury/dior/images/item01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2154&{%%svid%%}">
					<h1>＜グランヴィル＞ ハンドバッグ</h1></a>
					<p id="price">257,250円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2155&{%%svid%%}"><img src="../page/luxury/dior/images/item02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2155&{%%svid%%}">
					<h1>＜レディ ディオール＞ ハンドバッグ（カラー：ブラック）</h1></a>
					<p id="price">325,500円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2156&{%%svid%%}"><img src="../page/luxury/dior/images/item03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2156&{%%svid%%}">
					<h1>＜レディ ディオール＞ ハンドバッグ（カラー：ブラウン）</h1></a>
					<p id="price">357,000円</p>
			</div>
            </div>
            <div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2157&{%%svid%%}"><img src="../page/luxury/dior/images/item04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2157&{%%svid%%}">
					<h1>＜ミス ディオール＞ ショルダーバッグ</h1></a>
					<p id="price">325,500円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2158&{%%svid%%}"><img src="../page/luxury/dior/images/item05.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2158&{%%svid%%}">
					<h1>＜ミス ディオール＞ ショルダーバッグ</h1></a>
					<p id="price">420,000円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2159&{%%svid%%}"><img src="../page/luxury/dior/images/item06.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2159&{%%svid%%}">
					<h1>＜ディオリッシモ＞ ハンドバッグ</h1></a>
			<p id="price">409,500円</p>
			</div>
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
