<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ルシアン ペラフィネ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/tods/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    
            <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->
    
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ルシアン ペラフィネ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/lucien/images/lucien_01.jpg" alt="ルシアン ペラフィネ" /></div>
	<div id="main">
	<div id="itemCatalog">
    
<div id="itemList">
		<div>
				<a href="../detail/?a=Item_detail&id=5486&{%%svid%%}"><img src="../page/luxury/lucien/images/lucian_150403_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.4.17.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=5486&{%%svid%%}">
			<h1>＜ハイビスカス・アイ＞ レディース Tシャツ</h1>
			</a> 
		</div>
		<div>
				<a href="../detail/?a=Item_detail&id=5485&{%%svid%%}"><img src="../page/luxury/lucien/images/lucian_150403_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.4.17.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=5485&{%%svid%%}">
			<h1>＜カモフラージュスカル＞ レディース コットンカシミヤニット</h1>
			</a> 
		</div>
		<div class="end">
				<a href="../detail/?a=Item_detail&id=5484&{%%svid%%}"><img src="../page/luxury/lucien/images/lucian_150403_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.4.17.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=5484&{%%svid%%}">
			<h1>トートバッグ</h1>
			</a> 
		</div>
</div>

<div id="itemList">
			<div>
				<a href="../detail/?a=Item_detail&id=5159&{%%svid%%}"><img src="../page/luxury/lucien/images/lucien_150126_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.2.17.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=5159&{%%svid%%}">
				<h1>メンズ カーディガン</h1></a> 
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=5158&{%%svid%%}"><img src="../page/luxury/lucien/images/lucien_150126_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.2.17.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=5158&{%%svid%%}">
				<h1>レディース パーカ（カモフラージュ）</h1></a> 
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=4911&{%%svid%%}"><img src="../page/luxury/lucien/images/lucien_141121_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.12.5.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4911&{%%svid%%}">
				<h1>20周年記念 レディース カシミヤニット</h1></a>
			</div>

</div>

<div id="itemList">


		
			<div>
				<a href="../detail/?a=Item_detail&id=4910&{%%svid%%}"><img src="../page/luxury/lucien/images/lucien_141121_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.12.5.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4910&{%%svid%%}">
				<h1>レディース カシミヤカーディガン</h1></a>
			</div>
</div>

     
</div>
</div>	
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
