<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ツアー＆エンターテイメント | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/style.css" type="text/css" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="../_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="categoryIndexPage category06"><!-- #BeginLibraryItem "/Library/headerExtended.lbi" -->
	<div id="headerExtended">
		<div class="inner">
			<p id="siteLogo"><a href="#">ROYAL PLATINUM SELECTION -SHIBUYA-</a></p>
			<ul id="headerNav">
				<li id="sitemapLink"><a href="#">サイトマップ</a></li>
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
			<dl id="siteSearch">
				<dt>商品&amp;サービス検索</dt>
				<dd>
					<form action="#" method="post"><input class="textBox" type="text" /> <input class="button" type="submit" value="検索" /></form>
				</dd>
			</dl>
		</div>
	</div>
<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/header2.lbi" -->
	<div id="header2">
		<div id="appendixNav">
			<ul class="inner">
				<li id="appendixNavGuide"><a href="#">ご利用ガイド</a></li>
				<li id="appendixNavAbout"><a href="#">本サイトについて</a></li>
				<li id="appendixNavModify"><a href="#">会員情報変更</a></li>
				<li id="appendixNavLogout"><a href="#">ログアウト</a></li>
				<li id="appendixNavQuit"><a href="#">退会</a></li>
			</ul>
		</div>
		<div id="personalInfo">
			<div class="inner">
				<p id="welcomeMessage">ようこそ、○○ ○○さま</p>
				<p id="historyLink"><a href="#">履歴一覧</a></p>
				<p id="contactMailLink"><a href="#">担当者へのお問い合わせメール</a></p>
				<p id="inCharge">私、小野 慶三が担当いたします。</p>
			</div>
		</div>
	<!--
		<div class="inner">
			<p id="welcomeMessage">ようこそ、○○ ○○様</p>
			<div id="inCharge">
				<p class="name">担当セールス○○○○○</p>
				<p class="contactLink"><a href="#">お問い合わせ</a></p>
			</div>
			<p id="historyLink"><a href="#">履歴一覧</a></p>
			<ul id="appendixNav">
				<li id="appendixNavAbout"><a href="#">本サイトについて</a></li>
				<li id="appendixNavGuide"><a href="#">ご利用ガイド</a></li>
				<li id="appendixNavModify"><a href="#">会員情報変更</a></li>
				<li id="appendixNavLogout"><a href="#">ログアウト</a></li>
			</ul>
		</div>
	-->
	</div>
<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/globalNav.lbi" -->
	<ul id="globalNav">
		<li id="globalNav05"><a href="#">ラグジュアリー</a></li>
		<!-- <li id="globalNav02"><a href="#">コスメ＆ビューティ</a></li> -->
		<li id="globalNav03"><a href="#">ファッション</a></li>
		<li id="globalNav04"><a href="#">雑貨</a></li>
		<li id="globalNav01"><a href="#">フードライフ</a></li>
		<li id="globalNav06"><a href="#">ツアー＆エンターテイメント</a></li>
	</ul>
<!-- #EndLibraryItem --><ul id="topicPath">
		<li><a href="#">TOP</a></li>
		<li id="presentLocation">ツアー＆エンターテイメント</li>
	</ul>
	<div id="main">
<!----------- 編集エリアここから ----------->
		<h1>カルチャー</h1>
        <div style="width:934px; margin-top:20px; background-color:#f7f7f7;">
        <p>
        上質なアートとのふれあいや、新しい発見を楽しむ旅から広がる趣味の世界。<br />本当によいものを知るあなたさまのお眼鏡にかなう、美術品や装飾品、ツアー、素敵な体験の数々を厳選してご紹介いたします。
		</p>
		</div>
        
		<div style="width:934px; margin-top:30px; background-color:#e9e9e9; padding:8px;">
		<div style="width:934px; height:98px;">
        <p style="float:left"><a href="/rps/static/?f=page/vermeer/index&{%%svid%%}"><img alt="フェルメール特集" src="../_common/images/categoryIndex/06-vermeer-banner.jpg" /></a></p>
        </div>
		</div>
<!----------- 編集エリアここまで ----------->		<h2>○○○○○○</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item03.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item04.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item05.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
		<h2>○○○○○○</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item03.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item04.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item05.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
	</div><!-- #BeginLibraryItem "/Library/publication.lbi" -->
	<div id="publication">
		<div id="aboutPlatinumSalon">
			<h2>About Platinum Salon</h2>
			<div id="info">
				<div><img alt="" src="../_common/images/info-photo.jpg" /></div>
				<p class="desc">プラチナサロンは、大切なお客さまをお迎えし、ご要望をお聞きしたり商談をさせていただくスペースです。ゆったりとソファに座っておくつろぎいただきながら、お客さまの担当者がおもてなしさせていただきます。西武渋谷店 B館8階にて、お客さまのお越しをお待ちしております。</p>
				<p id="platinumSalonTel">西武渋谷店 プラチナサロン TEL 03-6462-3658</p>
			</div>
			<div id="inCharge2">
				<p>私、小野 慶三が担当いたします。</p>
				<ul>
					<li class="contactLink"><a href="#">担当者へのお問い合わせメール</a></li>
					<li class="reserveLink"><a href="#">専門販売員のご予約</a></li>
				</ul>
			</div>
		</div>
		<div id="aboutMobile">
			<h2>Mobile Site</h2>
			<div id="mobileSiteInfo">
				<h3>モバイルサイトのご案内</h3>
				<div><img alt="QRコード" src="../_common/images/mobileSiteInfo-qr.gif" /></div>
				<p>■ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</p>
			</div>
			</div>
		<div id="aboutSeibuShibuya">
			<h2>About Seibu-Shibuya</h2>
			<div id="businessTimeInfo">
				<h3>営業時間のご案内</h3>
				<dl>
					<dd>【 日・月・火・水 】 午前10時〜午後8時<br />
						【 木・金・土 】 午前10時〜午後9時<br />
                        食品フロアは連日午後9時まで営業いたします。</dd>
				</dl>
			</div>
			<div id="offDayInfo">
				<h3>休業日のご案内</h3>
				<dl>
					<dd>10月は休まず営業いたします。</dd>
				</dl>
			</div>
		</div>
	</div><!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer.lbi" -->
	<div id="footer">
		<div class="inner">
			<div id="footerNav">
				<ul>
					<li id="footerNavPrivacy"><a href="#">プライバシーポリシー</a></li>
				</ul>
				<p><a href="#"><img src="../_common/images/footer-clubonbanner.gif" alt="CLUB ON インターネットサービス" /></a></p>
			</div>
			<p id="copyright">Copyright (C) Sogo &amp; Seibu Co., Ltd. このページに記載の記事 / 画像の無断転用を禁止いたします。<br />
				この画面はセキュリティ確保のためSSL（Secure Sockets Layer）を利用しています。<br />
                ※表示価格は本体価格に消費税額を加えた「お支払い総額（税込価格）」となっております。</p>
		</div>
	</div>
<!-- #EndLibraryItem --></body>
</html>
