<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/style.css" type="text/css" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="../_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="categoryIndexPage category05"><!-- #BeginLibraryItem "/Library/headerExtended.lbi" -->
	<div id="headerExtended">
		<div class="inner">
			<p id="siteLogo"><a href="#">ROYAL PLATINUM SELECTION -SHIBUYA-</a></p>
			<ul id="headerNav">
				<li id="sitemapLink"><a href="#">サイトマップ</a></li>
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
			<dl id="siteSearch">
				<dt>商品&amp;サービス検索</dt>
				<dd>
					<form action="#" method="post"><input class="textBox" type="text" /> <input class="button" type="submit" value="検索" /></form>
				</dd>
			</dl>
		</div>
	</div>
<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/header2.lbi" -->
	<div id="header2">
		<div id="appendixNav">
			<ul class="inner">
				<li id="appendixNavGuide"><a href="#">ご利用ガイド</a></li>
				<li id="appendixNavAbout"><a href="#">本サイトについて</a></li>
				<li id="appendixNavModify"><a href="#">会員情報変更</a></li>
				<li id="appendixNavLogout"><a href="#">ログアウト</a></li>
				<li id="appendixNavQuit"><a href="#">退会</a></li>
			</ul>
		</div>
		<div id="personalInfo">
			<div class="inner">
				<p id="welcomeMessage">ようこそ、○○ ○○さま</p>
				<p id="historyLink"><a href="#">履歴一覧</a></p>
				<p id="contactMailLink"><a href="#">担当者へのお問い合わせメール</a></p>
				<p id="inCharge">私、小野 慶三が担当いたします。</p>
			</div>
		</div>
	<!--
		<div class="inner">
			<p id="welcomeMessage">ようこそ、○○ ○○様</p>
			<div id="inCharge">
				<p class="name">担当セールス○○○○○</p>
				<p class="contactLink"><a href="#">お問い合わせ</a></p>
			</div>
			<p id="historyLink"><a href="#">履歴一覧</a></p>
			<ul id="appendixNav">
				<li id="appendixNavAbout"><a href="#">本サイトについて</a></li>
				<li id="appendixNavGuide"><a href="#">ご利用ガイド</a></li>
				<li id="appendixNavModify"><a href="#">会員情報変更</a></li>
				<li id="appendixNavLogout"><a href="#">ログアウト</a></li>
			</ul>
		</div>
	-->
	</div>
<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/globalNav.lbi" -->
	<ul id="globalNav">
		<li id="globalNav05"><a href="#">ラグジュアリー</a></li>
		<!-- <li id="globalNav02"><a href="#">コスメ＆ビューティ</a></li> -->
		<li id="globalNav03"><a href="#">ファッション</a></li>
		<li id="globalNav04"><a href="#">雑貨</a></li>
		<li id="globalNav01"><a href="#">フードライフ</a></li>
		<li id="globalNav06"><a href="#">ツアー＆エンターテイメント</a></li>
	</ul>
<!-- #EndLibraryItem -->

<!----------- 編集エリアここから ----------->
<script type="text/javascript"><!--
function drawTitleImage() {
	var r1 = Math.floor(Math.random() * 2), bid,
		brandItem = {
		filename: [ "baccarat", "chloe", "damiani", "dunhill", "fendi", "armani", "lucien", "meissen", "morabito", "ferragamo"
		],
		alt: [	 "バカラ", "クロエ", "ダミアーニ", "ダンヒル", "フェンディ", "ジョルジオ・アルマーニ", "ルシアン ペラフィネ", "マイセン", "モラビト", "サルヴァトーレ フェラガモ"
		]
	};
	　
	/*フェンディを50%*/
	if (r1 % 2 == 0)
		bid = 7;
	 else {
		var r2 = Math.floor(Math.random() * 10);
		bid = (r2 >= 5)? (r2 + 1): r2;
	}

	bid = Math.floor(Math.floor(Math.random() * 10));
	console.log(bid);
console.log(brandItem["filename"][bid]);

	document.write('<a href="../static/?f=page/luxury/' + brandItem["filename"][bid] + '/index&{%%svid%%}">' +
	               '<img alt="' + brandItem["alt"][bid] + '" src="../_common/images/categoryIndex/05-title-' + brandItem["filename"][bid] + '.jpg" /></a>');
}
//--></script>

	<!----------- 編集エリアここまで ----------->
	<ul id="topicPath">
		<li><a href="#">TOP</a></li>
		<li id="presentLocation">ラグジュアリー</li>
	</ul>
	<div id="main">

<!----------- 編集エリアここから ----------->
	<h1 class="brandbnr"><script type="text/javascript"><!--
drawTitleImage();
// --></script>
</h1>
		<div id="brandBannerArea">
<ul>
		<li><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-baccarat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}">バカラ</a></p></li>
		<!-- <li><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-burberry.jpg" /></a>
		<p><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}">バーバリー</a></p></li> -->
		<li><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-chloe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}">クロエ</a></p></li>
		<li><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-damiani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}">ダミアーニ</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/dior/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dior.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dior/index&{%%svid%%}">ディオール</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-donnakaran.jpg" /></a>
		<p><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}">ダナキャラン</a></p></li-->
		<li><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dunhill.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}">ダンヒル</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/etro/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-etro.jpg" /></a>
		<p><a href="../static/?f=page/luxury/etro/index&{%%svid%%}">エトロ</a></p></li>-->
		<li><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-fendi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}">フェンディ</a></p></li>
		<li><a href="../static/?f=page/luxury/armani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-armani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/armani/index&{%%svid%%}">ジョルジオ アルマーニ</a></p></li>
              <!--li><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-jilsander.jpg" /></a>
		<p><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}">ジル・サンダー</a></p></li-->
		<li><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-lucien.jpg" /></a>
		<p><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}">ルシアン ペラフィネ</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-huntingworld.jpg" /></a>
		<p><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}">ハンティング・ワールド</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-mathon.jpg" /></a>
		<p><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}">マットン</a></p></li-->
		<li><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-meissen.jpg" /></a>
		<p><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}">マイセン</a></p></li>
		<li><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-morabito.jpg" /></a>
		<p><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}">モラビト</a></p></li>
		<!--li><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-repossi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}">レポシ</a></p></li-->
              <!--li><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-rolex.jpg" /></a>
		<p><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}">ロレックス</a></p></li-->
		<li><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-ferragamo.jpg" /></a>
		<p><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}">サルヴァトーレ フェラガモ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-scavia.jpg" /></a>
		<p><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}">スカヴィア</a></p></li-->
		<!--li><a href="../static/?f=page/luxury/tods/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-tods.jpg" /></a>
		<p><a href="../static/?f=page/luxury/tods/index&{%%svid%%}">トッズ</a></p></li-->
		<!--li><a href="../static/?f=page/luxury/watch/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-watch.jpg" /></a>
		<p><a href="../static/?f=page/luxury/watch/index&{%%svid%%}">ウオッチ</a></p></li-->


		</ul>
	</div>
<!----------- 編集エリアここまで ----------->
        
		<h2>婦人雑貨</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-ladies-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-ladies-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-ladies-item03.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-ladies-item04.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-ladies-item05.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
		<h2>美術</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-art-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-art-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-art-item03.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
		<h2>装飾</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-accessory-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-accessory-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
		<h2>時計</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-watch-item01.jpg" /></a></div>
				<p class="itemMessage">NEW</p>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-watch-item02.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-watch-item03.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-watch-item04.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/05-watch-item05.jpg" /></a></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
	</div><!-- #BeginLibraryItem "/Library/publication.lbi" -->
	<div id="publication">
		<div id="aboutPlatinumSalon">
			<h2>About Platinum Salon</h2>
			<div id="info">
				<div><img alt="" src="../_common/images/info-photo.jpg" /></div>
				<p class="desc">プラチナサロンは、大切なお客さまをお迎えし、ご要望をお聞きしたり商談をさせていただくスペースです。ゆったりとソファに座っておくつろぎいただきながら、お客さまの担当者がおもてなしさせていただきます。西武渋谷店 B館8階にて、お客さまのお越しをお待ちしております。</p>
				<p id="platinumSalonTel">西武渋谷店 プラチナサロン TEL 03-6462-3658</p>
			</div>
			<div id="inCharge2">
				<p>私、小野 慶三が担当いたします。</p>
				<ul>
					<li class="contactLink"><a href="#">担当者へのお問い合わせメール</a></li>
					<li class="reserveLink"><a href="#">専門販売員のご予約</a></li>
				</ul>
			</div>
		</div>
		<div id="aboutMobile">
			<h2>Mobile Site</h2>
			<div id="mobileSiteInfo">
				<h3>モバイルサイトのご案内</h3>
				<div><img alt="QRコード" src="../_common/images/mobileSiteInfo-qr.gif" /></div>
				<p>■ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</p>
			</div>
			</div>
		<div id="aboutSeibuShibuya">
			<h2>About Seibu-Shibuya</h2>
			<div id="businessTimeInfo">
				<h3>営業時間のご案内</h3>
				<dl>
					<dd>【 日・月・火・水 】 午前10時〜午後8時<br />
						【 木・金・土 】 午前10時〜午後9時<br />
                        ●10月28日（木）〜31日（日）は午後9時まで営業いたします。<br />
                        ●食品フロアは連日午後9時まで営業いたします。</dd>
				</dl>
			</div>
			<div id="offDayInfo">
				<h3>休業日のご案内</h3>
				<dl>
					<dd>10月は休まず営業いたします。</dd>
				</dl>
			</div>
		</div>
	</div><!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer.lbi" -->
	<div id="footer">
		<div class="inner">
			<div id="footerNav">
				<ul>
					<li id="footerNavPrivacy"><a href="#">プライバシーポリシー</a></li>
				</ul>
				<p><a href="#"><img src="../_common/images/footer-clubonbanner.gif" alt="CLUB ON インターネットサービス" /></a></p>
			</div>
			<p id="copyright">Copyright (C) Sogo &amp; Seibu Co., Ltd. このページに記載の記事 / 画像の無断転用を禁止いたします。<br />
				この画面はセキュリティ確保のためSSL（Secure Sockets Layer）を利用しています。<br />
                ※表示価格は本体価格に消費税額を加えた「お支払い総額（税込価格）」となっております。</p>
		</div>
	</div>
<!-- #EndLibraryItem --></body>
</html>
