<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フード | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/style.css" type="text/css" />
	<link rel="stylesheet" href="../_common/css/categoryIndex/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../_common/css/categoryIndex/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="../_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="categoryIndexPage category01">
<!--============HEADER IN============-->
<div id="headerExtended">
		<div class="inner">
			<h1 id="siteLogo"><a href="#">ROYAL PLATINUM SELECTION -SHIBUYA-</a></h1>
            <div id="header2">
              <div id="appendixNav">
                <ul>
                  <li id="appendixNavGuide"><a href="#">ご利用ガイド</a></li>
                  <li id="appendixNavSitemap"><a href="#">サイトマップ</a></li>
                  <li id="appendixNavLogout"><a href="#">ログアウト</a></li>
                </ul>
              </div>
		</div>

            <div id="headerRnav">
            
                <dl id="siteSearch">
                    <dt>商品&amp;サービス検索</dt>
                    <dd>
                        <form action="#" method="post">
                            <input class="textBox" type="text" />
                            <input class="button" type="submit" value="検索" />
                        </form>
                    </dd>
                </dl>            
            
			<ul id="headerNav">
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>            
            
            </div>
<div class="clearBoth"></div>
			
	</div>
    
           <div id="globalNav">         
            <ul class="globalNavinner">
              <li id="globalNav05"><a href="#">ラグジュアリー</a></li>
              <li id="globalNav02"><a href="#">コスメ＆ビューティ</a></li>
              <li id="globalNav03"><a href="#">ファッション</a></li>
              <li id="globalNav04"><a href="#">雑貨</a></li>
              <li id="globalNav01"><a href="#">フード</a></li>
              <li id="globalNav06"><a href="#">ツアー＆エンターテイメント</a></li>
            </ul>
                   
          </div>    
    
	  <div id="personalInfo">
	    <div class="inner">
	      <p id="welcomeMessage">ようこそ、○○ ○○さま</p>
	      <p id="historyLink"><a href="#">履歴一覧</a></p>
	      <p id="contactMailLink"><a href="#">担当者へのお問い合わせメール</a></p>
	      <p id="inCharge">私、小野 慶三が担当いたします。</p>
        </div>
      </div>
</div>
<!--============HEADER OUT============-->

<ul id="topicPath">
<li><a href="#">TOP</a></li>
		<li id="presentLocation">フード</li>
	</ul>
	<div id="main">
        
<!----------- 凸版編集エリアここから ----------->
		<h1>フード</h1>
<div style="width:934px; margin-top:30px; background-color:#e9e9e9; padding:8px;">
		<div style="width:934px; height:98px; margin-bottom:8px;">
        <p style="float:left"><a href="/rps/shibuya/static/?f=page/shokuhinkan/index&{%%svid%%}"><img alt="西武食品館" src="../_common/images/categoryIndex/01-shokuhinkan-banner.jpg" /></a></p>
        <p style="float:right"><a href="/rps/shibuya/static/?f=page/ippin/index&{%%svid%%}"><img alt="食の逸品だより" src="../_common/images/categoryIndex/01-ippin-banner.jpg" /></a></p>
        </div>
		<div style="width:934px; height:98px;">
        <p style="float:left"><a href="http://www2.seibu.jp/foods_story/" target="_blank"><img alt="西武池袋本店食品館／渋谷店食品館　開発ストーリー" src="../_common/images/categoryIndex/01-pro-banner.jpg" /></a></p>
        </div>
</div>
<!----------- 凸版編集エリアここまで ----------->

 
		<h2>食品</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item01.jpg" /></a></div>
				<div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item02.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item03.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item04.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-shokuhin-item05.jpg" /></a></div>
                <div class="iconBlock"></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
		<h2>ごっつお便</h2>
		<ul>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item01.jpg" /></a></div>
				<div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item02.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item03.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item04.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
			<li>
				<div><a href="#"><img alt="商品写真" src="../_common/images/categoryIndex/01-gottsu-item05.jpg" /></a></div>
                <div class="iconBlock"><span><img src="../_common/images/Icon_new.gif" alt="新着" /></span><span><img src="../_common/images/Icon_01.gif" alt="限定" /></span><span><img src="../_common/images/Icon_02.gif" alt="先行" /></span><span><img src="../_common/images/Icon_03.gif" alt="優先" /></span></div>
				<h3><a href="#">商品名</a></h3>
				<p class="itemPrice">1,000,000,000円</p>
				<p class="itemDesc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
			</li>
		</ul>
	</div>

<!--============FOOTER IN============-->
<div id="publication">
  <div id="aboutPlatinumSalon">
    <h2>Platinum Salon</h2>
    <div id="info">
      <div><img alt="" src="../_common/images/info-photo.jpg" /></div>
      <p>プラチナサロンは、大切なお客さまをお迎えし、ご要望をお聞きしたり商談をさせていただくスペースです。ゆったりとソファに座っておくつろぎいただきながら、お客さまの担当者がおもてなしさせていただきます。西武渋谷店 B館8階にて、お客さまのお越しをお待ちしております。</p>
      <p class="infotex"><span class="ttl">ロイヤル・プラチナ　セレクション　専門ダイヤル</span>
<span class="ttl">0120-54-0030</span>
[受付時間]<br />
【月〜土】午前10時〜午後9時　【日・祝休日】午前10時〜午後8時<br />
●1月1日は休業<br />
※急きょ受付時間を変更させていただく場合がございます。あらかじめご了承ください。</p>
    </div>
    <div id="inCharge2">
      <p class="chargeName">私、小野 慶三が担当いたします。</p>
      <ul>
        <li class="contactLink"><a href="#">担当者へのお問い合わせメール</a></li>
      </ul>
      <div class="clearBoth"></div>
    </div>
  </div>
  <div id="aboutSeibuShibuya">
    <h2>Seibu-Shibuya</h2>
    <div id="businessTimeInfo">
      <p>営業時間のご案内</p>
      <dl>
        <dd>【月〜土】午前10時〜午後9時<br />
【日・祝休日】午前10時〜午後8時<br />
           ●5月3日（火・祝）〜5日（木・祝）は午後9時まで営業いたします。<br />
          ●西武食品館は午後9時まで営業いたします。<br />
           ※状況により、急きょ営業時間を変更させていただく場合がございます。あらかじめご了承ください。</dd>
      </dl>
    </div>
    <div id="offDayInfo">
      <p>休業日のご案内</p>
      <dl>
        <dd>5月は休まず営業いたします。</dd>
      </dl>
    </div>
  </div>
  
  <div id="aboutMobile">
    <h2>Mobile Site</h2>
    <div id="mobileSiteInfo">
      <div><img alt="QRコード" src="../_common/images/mobileSiteInfo-qr.gif" /></div>
      <dl>
      	<dt>ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</dt>
      	<dd>https://netorder.sogo-seibu.co.jp/rps/shibuya/m/</dd>
      </dl>
    </div>
  </div>
      <div class="clearBoth"></div>
</div>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
<div id="footerMenu">
  <div class="inner">
    <div id="mainContents">
        <h2>MAIN CONTENTS</h2>
        <div>
        <dl>
			<dt><a href="#">コスメ＆ビューティー</a></dt>        
        	<dd><a href="#">コスメティック</a></dd>
        </dl>
        <dl>
			<dt><a href="#">ファッション</a></dt>        
        	<dd><a href="#">婦人雑貨</a></dd>
        	<dd><a href="#">紳士</a></dd>
        </dl>
        </div>
        <div>
        <dl>
			<dt><a href="#">雑貨</a></dt>        
        	<dd><a href="#">インテリア</a></dd>
        	<dd><a href="#">高級雑貨</a></dd>
        </dl>
        <dl>
			<dt><a href="#">フード</a></dt>        
        	<dd><a href="#">西武食品館</a></dd>
        	<dd><a href="#">逸品だより</a></dd>
        </dl>
        </div>
        <div class="boxr">
        <dl>
			<dt><a href="#">ツアー＆エンターテインメント</a></dt>        
        	<dd><a href="#">ツアー</a></dd>
        	<dd><a href="#">八ヶ岳高原　特別イベント</a></dd>
        </dl>
        <a href="#"><img src="../_common/images/bannerArea-service_off.jpg" onmouseover="this.src='../_common/images/bannerArea-service_on.jpg'" onmouseout="this.src='../_common/images/bannerArea-service_off.jpg'" /></a>
        </div>
    <br clear="all" />
    </div>
    <div id="guide">
        <h2>GUIDE</h2>
        <dl>
			<dt><a href="#">ご利用ガイド</a></dt>        
			<dt><a href="#">本サイトについて</a></dt>        
        </dl>
    </div>
    <div id="infoma">
        <h2>INFOMATION</h2>
        <dl>
			<dt><a href="#">PLATINUM SALON NEWS</a></dt>        
			<dt><a href="#">履歴一覧</a></dt>        
			<dt><a href="#">会員情報変更</a></dt>        
			<dt><a href="#">退会</a></dt>        
			<dt><a href="#">プライバシーポリシー</a></dt>        
			<dt><a href="#">サイトマップ</a></dt>        
        </dl>
    </div>
    <br clear="all" />
    
    
  </div>
</div>

<div id="footer">
  <div class="inner">
    <div id="footerNav">
        <p id="footerNavPrivacy"><a href="#">プライバシーポリシー</a></p>
      <p><a href="#"><img src="../_common/images/footer-clubonbanner.gif" alt="CLUB ON インターネットサービス" /></a></p>
    </div>
    <p id="copyright">Copyright (C) Sogo &amp; Seibu Co., Ltd. このページに記載の記事 / 画像の無断転用を禁止いたします。<br />
      この画面はセキュリティ確保のためSSL（Secure Sockets Layer）を利用しています。<br />
      ※表示価格は本体価格に消費税額を加えた「お支払い総額（税込価格）」となっております。</p>
  </div>
</div>

<!--============FOOTER OUT============-->
</body>
</html>
