<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スポーツギアコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">スポーツギアコレクション</li>
</ul>
<div id="main" class="brand-detail brand-detail-all">



	<h1><img width="1151" height="350" alt="ロイヤル・プラチナ セレクション 春の逸品会 スポーツギアコレクション ご自宅でのエクササイズやゴルフなど、 スポーツの醍醐味を味わえる最高峰のモデルを各種ご用意しました。" src="../page/spring/images/cate_g_ttl.jpg" /></h1>
	<div id="brand">
		<ul><li><a href="../detail/?a=Item_detail&id=5358&{%%svid%%}" target="_top"><img src="../page/spring/images/G1_maruman01_1.jpg" width="280" height="210" alt="マルマン　＜マジェスティ　ロイヤルブラック＞ ドライバー" /><span>マルマン　＜マジェスティ　ロイヤルブラック＞ ドライバー</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5357&{%%svid%%}" target="_top"><img src="../page/spring/images/G2_maruman02_1.jpg" width="280" height="210" alt="マルマン　＜マジェスティ　ロイヤルブラック＞ アイアン 5本セット" /><span>マルマン　＜マジェスティ　ロイヤルブラック＞ アイアン 5本セット</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5356&{%%svid%%}" target="_top"><img src="../page/spring/images/G3_branco01_1.jpg" width="280" height="210" alt="ブランコ　ゴルフクラブスタンド（ブラック）" /><span>ブランコ　ゴルフクラブスタンド（ブラック）</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5355&{%%svid%%}" target="_top"><img src="../page/spring/images/G4_bd01_1.jpg" width="280" height="210" alt="バーディー　インポート折りたたみ自転車" /><span>バーディー　インポート折りたたみ自転車</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5354&{%%svid%%}" target="_top"><img src="../page/spring/images/G5_matrix01_1.jpg" width="280" height="210" alt="マトリックス　インドアサイクル「IC7」」" /><span>マトリックス　インドアサイクル「IC7」</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5353&{%%svid%%}" target="_top"><img src="../page/spring/images/G6_matrix01_1.jpg" width="280" height="210" alt="マトリックス　リカンベントサイクル「R1x」" /><span>マトリックス　リカンベントサイクル「R1x」</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5352&{%%svid%%}" target="_top"><img src="../page/spring/images/G7_powerplate01_1.jpg" width="280" height="210" alt="パワープレート　加速度トレーニングマシン「my5」" /><span>パワープレート　加速度トレーニングマシン「my5」</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5351&{%%svid%%}" target="_top"><img src="../page/spring/images/G8_powerplate02_1.jpg" width="280" height="210" alt="パワープレート　加速度トレーニングマシン「Pro5 HP」" /><span>パワープレート　加速度トレーニングマシン「Pro5 HP」</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5453&{%%svid%%}" target="_top"><img src="../page/spring/images/G9_seabob01_1.jpg" width="280" height="210" alt="シーボブ　水中スクーター" /><span>シーボブ　水中スクーター</span></a></li></ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
