<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の新作バッグコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">春の新作バッグコレクション</li>
</ul>
<div id="main">



	<h1><img src="../page/spring/images/cate_a_ttl.jpg" width="1151" height="350" alt="ロイヤル・プラチナ セレクション 春の逸品会 春の新作バッグコレクション 気品と華やぎを添えるリュクスなバッグ。 手にするだけで胸が高鳴り、 装いをクラスアップするアイテムをご紹介します。" /></h1>
	<div id="brand">
		<ul>
			<li><a href="../static/?f=page/spring/brand/brand_a_01&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list01.jpg" width="280" height="159" alt="chloe" /><span>クロエ</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_a_02&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list02.jpg" width="280" height="159" alt="FENDI" /><span>フェンディ</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_a_03&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list03.jpg" width="280" height="159" alt="GIORGIO_ARMANI" /><span>ジョルジオ アルマーニ</span></a></li>
		</ul>
		<ul>
			<li><a href="../static/?f=page/spring/brand/brand_a_04&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list04.jpg" width="280" height="159" alt="MORABITO" /><span>モラビト</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_a_05&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list05.jpg" width="280" height="159" alt="salvatore ferragamo" /><span>サルヴァトーレ フェラガモ</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_a_06&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_a_list06.jpg" width="280" height="159" alt="TOD'S" /><span>トッズ</span></a></li>
		</ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
