<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>プレステージ ウオッチ特集 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">プレステージ ウオッチ特集</li>
</ul>
<div id="main">



	<h1><img src="../page/spring/images/cate_b_ttl.jpg" width="1151" height="350" alt="ロイヤル・プラチナ セレクション 春の逸品会 プレステージ ウオッチ特集 芸術性や先進性を追求する 個性派から不朽の名門ブランドまで、 華麗なる一本が日常を豊かに彩ります。" /></h1>
	<div id="brand">
		<ul>
			
			<li><a href="../static/?f=page/spring/brand/brand_b_01&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list01.jpg" width="280" height="159" alt="Breguet" /><span>ブレゲ</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_b_02&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list02.jpg" width="280" height="159" alt="Chopard" /><span>ショパール</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_b_03&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list03.jpg" width="280" height="159" alt="FRANCK MULLER" /><span>フランク ミュラー</span></a></li>
		</ul>
		<ul>
			<li><a href="../static/?f=page/spring/brand/brand_b_04&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list04.jpg" width="280" height="159" alt="JAEGER-LECOULTRE" /><span>ジャガー・ルクルト</span></a></li>
<li><a href="../static/?f=page/spring/brand/brand_b_07&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list07.jpg" width="280" height="159" alt="Breguet" /><span>モンブラン</span></a></li>
			<li><a href="../static/?f=page/spring/brand/brand_b_05&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list05.jpg" width="280" height="159" alt="RICHARD MILLE GINZA" /><span>リシャール・ミル</span></a></li>
		</ul>
		<ul>
			<li><a href="../static/?f=page/spring/brand/brand_b_06&{%%svid%%}" target="_top"><img src="../page/spring/images/cate_b_list06.jpg" width="280" height="159" alt="Roger Dubuis" /><span>ロジェ・デュブイ</span></a></li>
		</ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
