<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>希少な日本酒 特集 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/nihonsyu2015/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/nihonsyu2015/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/nihonsyu2015/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/nihonsyu2015/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/nihonsyu2015/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">希少な日本酒 特集</li>
</ul>

<div id="main">

<div id="sec_header">
	<h1><img src="../page/nihonsyu2015/images/title.png" alt="" /></h1>
</div><!--/#sec_header-->



<div id="sec_contents">
	<p id="column"><img src="../page/nihonsyu2015/images/column.jpg" alt="" /></p>

	<ul class="clfx">
		<li>
			<a href="../detail/?a=Item_detail&id=6917&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item01.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item01_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6917&{%%svid%%}">
			<p>秋田 齋彌酒造店　大吟醸 ＜雪の茅舎 花朝月夕＞</p>
			</a>
			<span>・涼風のような爽やかな香り<br />・雑味なく繊細な味わい</span>
			</div>
		</li>
		<li class="li_center">
			<a href="../detail/?a=Item_detail&id=6916&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item02.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item02_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6916&{%%svid%%}">
			<p>秋田 天寿酒造　大吟醸 ＜天寿 鳥海＞</p>
			</a>
			<span>・華やかな香り<br />・豊かな味わい</span>
			</div>
		</li>
		<li>
			<a href="../detail/?a=Item_detail&id=6915&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item03.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item03_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6915&{%%svid%%}">
			<p>山形 楯の川酒造　純米大吟醸 ＜プレミアム楯野川 一雫入魂＞</p>
			</a>
			<span>・柔らかな味わい<br />・上品な旨み</span>
			</div>
		</li>
	</ul>
	
		<ul class="clfx">
		<li>
			<a href="../detail/?a=Item_detail&id=6914&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item04.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item04_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6914&{%%svid%%}">
			<p>山形 楯の川酒造　純米大吟醸 ＜プレミアム楯野川 十八＞</p>
			</a>
			<span>・薫り高く華麗な味わい<br />・フルーティー</span>
			</div>
		</li>
		<li class="li_center">
			<a href="../detail/?a=Item_detail&id=6913&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item05.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item05_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6913&{%%svid%%}">
			<p>新潟 諸橋酒造　純米大吟醸 ＜越乃景虎＞</p>
			</a>
			<span>・穏やかな吟醸香<br />・品の良い辛さ<br />・上品で飲み心地が良い</span>
			</div>
		</li>
		<li>
			<a href="../detail/?a=Item_detail&id=6912&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item06.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item06_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6912&{%%svid%%}">
			<p>長野 酒千蔵野　大吟醸 ＜幻舞 大吟醸Premium＞</p>
			</a>
			<span>・飲みごたえ<br />・マスクメロンのような香り<br />・まろやかな味わい</span>
			</div>
		</li>
	</ul>
	
	
		<ul class="clfx">
		<li>
			<a href="../detail/?a=Item_detail&id=6911&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item07.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item07_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6911&{%%svid%%}">
			<p>石川 宗玄酒造　大吟醸 ＜宗玄＞</p>
			</a>
			<span>・華やかな香り<br />・フルーティー<br />・繊細な味わい</span>
			</div>
		</li>
		<li class="li_center">
			<a href="../detail/?a=Item_detail&id=6910&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item08.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item08_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6910&{%%svid%%}">
			<p>岐阜 中島醸造　純米大吟醸 ＜小左衛門 雫斗瓶取り＞</p>
			</a>
			<span>・辛口かつ芳醇な味わい<br />・上質な旨み</span>
			</div>
		</li>
		<li>
			<a href="../detail/?a=Item_detail&id=6909&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item09.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item09_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6909&{%%svid%%}">
			<p>広島 盛川酒造　純米大吟醸 ＜白鴻 純米大吟醸40 沙羅双樹＞</p>
			</a>
			<span>・米の旨み<br />・芳醇な味わい</span>
			</div>
		</li>
	</ul>
	
	
	
		<ul class="clfx">
		<li>
			<a href="../detail/?a=Item_detail&id=6908&{%%svid%%}">
			<img src="../page/nihonsyu2015/images/item10.jpg" alt="" />
			</a>
			<div class="box">
			<img src="../page/nihonsyu2015/images/item10_icon.png" alt="" />
			<a href="../detail/?a=Item_detail&id=6908&{%%svid%%}">
			<p>佐賀 天吹酒造　大吟醸 ＜天吹 大吟醸中汲み＞</p>
			</a>
			<span>・華やかな香り<br />・フルーティーな旨み</span>
			</div>
		</li>
	</ul>


</div><!--/#sec_contents-->



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
