@charset "EUC-JP";

#main {
	width: 950px;
	margin: 0 auto;
	padding-bottom: 52px;
}
#catchFlash {
	margin-bottom: 10px;
}
#catchFlash .randombox {
	float:left;
	width:777px;
	height:140px;
	}
#catchFlash .first {
	float:left;
	width:103px;
	height:102px;
	margin:18px 0 0 36px;
	}
#attention {
	margin-bottom: 11px;
	padding: 5px 10px;
	background: #c90000;
}
#platinumSalonNews {
	padding: 1px;
	background-color:#ffffff;
	width: 468px;
	float:left;
}
#platinumSalonNews .header {
	width: 468px;
	height: 25px;
	*height: 22px;	
	background-color:#e7e7e7;
}
#platinumSalonNews h2 {
	float: left;
	width: 160px;
	height: 22px;
	padding: 5px 0 5px 9px;
	text-indent: -9999px;
	background: transparent url("../../images/Top/platinumSalonNews-title.gif") no-repeat 9px 9px;
}
#platinumSalonNews p {
	float: right;
	margin-top: 9px;
	padding-right: 10px;
}
#platinumSalonNews p a {
	display: block;
	width: 71px;
	height: 11px;
	overflow: hidden;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/Top/platinumSalonNews-listLink.gif");
	background-repeat: no-repeat;
}
#platinumSalonNews p a:link, #platinumSalonNews p a:visited {
	background-position: 0 0;
}
#platinumSalonNews p a:hover, #platinumSalonNews p a:active {
	background-position: 0px -11px;
}
#platinumSalonNews ul {
	padding: 8px 11px 4px;
}
#platinumSalonNews li {
	padding-bottom: 1px;
	padding-left: 15px;
	background: transparent url("../../images/Top/platinumSalonNews-icon.gif") no-repeat 0 4px;
}
#platinumSalonNews li a {
	text-decoration: none;
	color:#000000;
	font-size:1.00em;
}
#platinumSalonNews li a:link, #platinumSalonNews li a:visited {
	color:#000000;
	text-decoration:underline;
}
#platinumSalonNews li a:hover, #platinumSalonNews li a:active {
	color:#8f8246;
	text-decoration:underline;
}

#platinumSalonNews li span {
	margin-left: 3px;
}
#luxuryNews {
	padding: 1px;
	background-color:#ffffff;
	width: 468px;
	float: right;
}
#luxuryNews .header {
	width: 468px;
	height: 25px;
	background-color:#eeebe4;
}
#luxuryNews h2 {
	float: left;
	width: 160px;
	height: 22px;
	padding: 5px 0 5px 9px;
	text-indent: -9999px;
	background: transparent url("../../images/Top/luxuryNews-title.gif") no-repeat 9px 9px;
}
#luxuryNews p {
	float: right;
	margin-top: 9px;
	padding-right: 10px;
}
#luxuryNews p a {
	display: block;
	width: 155px;
	height: 12px;
	overflow: hidden;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/Top/luxuryNews-listLink.gif");
	background-repeat: no-repeat;
}
#luxuryNews p a:link, #luxuryNews p a:visited {
	background-position: 0 0;
}
#luxuryNews p a:hover, #luxuryNews p a:active {
	background-position: 0px -12px;
}
#luxuryNews ul {
	padding: 8px 11px 4px;
}
#luxuryNews li {
	padding-bottom: 1px;
	padding-left: 15px;
	background: transparent url("../../images/Top/platinumSalonNews-icon.gif") no-repeat 0 4px;
}
#luxuryNews li a {
	text-decoration: none;
	color:#000000;
	font-size:1.00em;
}
#luxuryNews li a:link, #luxuryNews li a:visited {
	color:#000000;
	text-decoration:underline;
}
#luxuryNews li a:hover, #luxuryNews li a:active {
	color:#8f8246;
	text-decoration:underline;
}


#luxuryNews li span {
	margin-left: 3px;
}


#brandBannerArea {
	position: relative;
	width: 960px;
	margin-right: -10px;
	margin-bottom: 30px;
}
#brandBannerArea li {
	float: left;
	width: 308px;
	height: 89px;
	line-height: 0;
	margin-right: 10px;
	border: 1px solid #666;
	font-size: 0;
}
#pickUp {
	margin:20px 0px 0px;
}
#pickUp h2 {
	width: 177px;
	height: 18px;
	margin-bottom: 9px;
	text-indent: -9999px;
	background: transparent url("../../images/Top/pickUp-title.gif") no-repeat 0 0;
}
#pickUp ul {
	position: relative;
	width: 960px;
	margin-right: -10px;
}
#pickUp li {
	float: left;
	width: 182px;
	padding: 0 10px 16px 0;
}
#pickUp div {
	width: 180px;
	height: 135px;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
}
#pickUp div.iconBlock {
	width: 180px;
	height: 13px;
	margin-bottom: 10px;
	border: 1px solid #f7f7f7;
}
#pickUp div.iconBlock span{
	margin-right: 5px;
}


#pickUp .category {
	width: 110px;
	height: 16px;
	margin-bottom: 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#pickUp .category01 {
	background:url("../../images/Food.gif") no-repeat;
}
#pickUp .category02 {
	background:url("../../images/Beauty.gif") no-repeat;
}
#pickUp .category03 {
	background:url("../../images/Fashion.gif") no-repeat;
}
#pickUp .category04 {
	background:url("../../images/Goods.gif") no-repeat;
}
#pickUp .category05 {
	background:url("../../images/Luxury.gif") no-repeat;
}
#pickUp .category06 {
	background:url("../../images/Entertainment.gif") no-repeat;
}
#pickUp .category07 {
	background:url("../../images/Luxury.gif") no-repeat;
}
#pickUp h3 a:link, #pickUp h3 a:visited {
	text-decoration: underline;
	color:#000000;
	font-weight:bold;
}
#pickUp h3 a:hover, #pickUp h3 a:active {
	text-decoration: underline;
	color:#8f8246;
	font-weight:bold;
}
#pickUp .desc {
	color: #666666;
	font-size:0.88em;
	margin: 10px 0px 0px;
}
#category {
	border: 1px solid #999;
}
#category h2 {
	height: 12px;
	padding: 6px 0 4px 8px;
	border-bottom: 1px solid #999;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/Top/category-title.gif") no-repeat 8px 6px;
}
#category ul {
	padding: 14px 0 10px 10px;
}
#category li {
	float: left;
}
#category h3 {
	height: 12px;
	padding-bottom: 6px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#category .category01 h3 {
	width: 82px;
	background-image: url("../../images/Top/category-05-subtitle.gif");
}
#category .category02 h3 {
	width: 116px;
	background-image: url("../../images/Top/category-02-subtitle.gif");
}
#category .category03 h3 {
	width: 70px;
	background-image: url("../../images/Top/category-03-subtitle.gif");
}
#category .category04 h3 {
	width: 24px;
	background-image: url("../../images/Top/category-04-subtitle.gif");
}
#category .category05 h3 {
	width: 35px;
	background-image: url("../../images/Top/category-01-subtitle.gif");
}
#category .category06 h3 {
	width: 155px;
	background-image: url("../../images/Top/category-06-subtitle.gif");
}
#category ul ul {
	padding: 0;
}
#category .category01 ul {
	width: 135px;
}
#category .category02 ul {
	width: 186px;
}
#category .category03 ul {
	width: 162px;
}
#category .category04 ul {
	width: 141px;
}
#category .category05 ul {
	width: 150px;
}
#category .category06 ul {
	width: 164px;
}
#category li li {
	float: none;
}
#category a:link, #category a:visited {
	color: #999;
	text-decoration: underline;
}
#category a:hover, #category a:active {
	color: #ccc881;
	text-decoration: underline;
}
#bannerArea {
	position: relative;
	width: 950px;
	margin-top: 25px;
}
#bannerArea li {
	line-height: 0;
	border: 1px solid #999;
	font-size: 0;
}
#bannerService {
	float: left;
}
/* Add110425 */
#view {
	margin-bottom:10px;
	clear:both;
}
#view .viewNavi {
	margin:0 10px 0 0;
	padding:5px 5px 6px 5px;
	float:left;
	width:210px;
	background:#444444;
}
#view .viewNavi li {
	margin:0;
	padding:0;
	display:block;
	line-height:0;
	font-size:0;
}
#view .viewMain {
	margin:0;
	padding:1;
	float:left;
	width:715px !important;
	background-color:#ffffff;
	position:relative;
}
#view .beginner{
	float:right;
	margin-bottom: 20px;
}
#view .viewMenu {
	padding:5px;
	float:right;
	width:210px;
	text-align:center;
	background: url(../../images/Top/view_rmnbg.gif) repeat-x 0px 0px;
}
#view .viewMenu li {
	margin:0;
	padding:0 0 2px 0;
	display:block;
	line-height:0;
	font-size:0;
}
#view .viewMenu li.last {
	padding:0;
}

/* rollover */
/* rov_view_lnv01 */
a.rov_view_lnv01 {
	display:block;
	position:relative;
	width:220px;
	height:39px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv01_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv01:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv01 img {
	background-color:#ffffff;
}
a.rov_view_lnv01:hover img {
	position:relative;
	top:-39px;
}
/* rov_view_lnv02 */
a.rov_view_lnv02 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv02_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv02:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv02 img {
	background-color:#ffffff;
}
a.rov_view_lnv02:hover img {
	position:relative;
	top:-45px;
}
/* rov_view_lnv03 */
a.rov_view_lnv03 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv03_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv03:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv03 img {
	background-color:#ffffff;
}
a.rov_view_lnv03:hover img {
	position:relative;
	top:-45px;
}
/* rov_view_lnv04 */
a.rov_view_lnv04 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv04_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv04:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv04 img {
	background-color:#ffffff;
}
a.rov_view_lnv04:hover img {
	position:relative;
	top:-45px;
}
/* rov_view_lnv05 */
a.rov_view_lnv05 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv05_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv05:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv05 img {
	background-color:#ffffff;
}
a.rov_view_lnv05:hover img {
	position:relative;
	top:-45px;
}
/* rov_view_lnv06 */
a.rov_view_lnv06 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv06_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv06:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv06 img {
	background-color:#ffffff;
}
a.rov_view_lnv06:hover img {
	position:relative;
	top:-45px;
}
/* rov_view_lnv07 */
a.rov_view_lnv07 {
	display:block;
	position:relative;
	width:210px;
	height:45px;
	color:#ffffff;
	background:url(../../images/Top/view_lnv07_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_lnv07:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_lnv07 img {
	background-color:#ffffff;
}
a.rov_view_lnv07:hover img {
	position:relative;
	top:-45px;
}

/* rov_view_rmn01 */
a.rov_view_rmn01 {
	display:block;
	position:relative;
	width:210px;
	height:86px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn01_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn01:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn01 img {
	background-color:#ffffff;
}
a.rov_view_rmn01:hover img {
	position:relative;
	top:-86px;
}
/* rov_view_rmn02 */
a.rov_view_rmn02 {
	display:block;
	position:relative;
	width:210px;
	height:86px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn02_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn02:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn02 img {
	background-color:#ffffff;
}
a.rov_view_rmn02:hover img {
	position:relative;
	top:-86px;
}
/* rov_view_rmn03 */
a.rov_view_rmn03 {
	display:block;
	position:relative;
	width:210px;
	height:41px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn03_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn03:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn03 img {
	background-color:#ffffff;
}
a.rov_view_rmn03:hover img {
	position:relative;
	top:-41px;
}
/* rov_view_rmn04 */
a.rov_view_rmn04 {
	display:block;
	position:relative;
	width:210px;
	height:41px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn04_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn04:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn04 img {
	background-color:#ffffff;
}
a.rov_view_rmn04:hover img {
	position:relative;
	top:-41px;
}
/* rov_view_rmn05 */
a.rov_view_rmn05 {
	display:block;
	position:relative;
	width:210px;
	height:41px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn05_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn05:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn05 img {
	background-color:#ffffff;
}
a.rov_view_rmn05:hover img {
	position:relative;
	top:-41px;
}
/* rov_view_rmn06 */
a.rov_view_rmn06 {
	display:block;
	position:relative;
	width:210px;
	height:41px;
	color:#ffffff;
	background:url(../../images/Top/view_rmn06_ov.gif) left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_view_rmn06:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_view_rmn06 img {
	background-color:#ffffff;
}
a.rov_view_rmn06:hover img {
	position:relative;
	top:-41px;
}

#pagenation{
	position:absolute;
	top:0px;
	left:0px;
}

#pagenation ul li{
	display:inline;
}