<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フェルメール特集 | カルチャー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/vermeer/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/vermeer/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/vermeer/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/vermeer/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=6&{%%svid%%}">カルチャー</a></li>
		<li id="presentLocation">フェルメール特集</li>
	</ul>
	<div id="main">
    <h1 class="ttl"><img src="../page/vermeer/images/vermeer.jpg" alt="フェルメール特集" /></h1>
		<div id="itemCatalog">
			<div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2100&{%%svid%%}"><img src="../page/vermeer/images/item01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2100&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「小路」</h1></a>
					<p id="price">148,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2101&{%%svid%%}"><img src="../page/vermeer/images/item02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2101&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「牛乳を注ぐ女」</h1></a>
					<p id="price">138,000円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2102&{%%svid%%}"><img src="../page/vermeer/images/item03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2102&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「デルフト眺望」</h1></a>
					<p id="price">198,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2103&{%%svid%%}"><img src="../page/vermeer/images/item04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2103&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「青衣の女」</h1></a>
					<p id="price">138,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2104&{%%svid%%}"><img src="../page/vermeer/images/item05.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2104&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「真珠の首飾りの少女」</h1></a>
					<p id="price">148,000円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2105&{%%svid%%}"><img src="../page/vermeer/images/item06.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2105&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「真珠の耳飾りの少女」</h1></a>
					<p id="price">138,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2106&{%%svid%%}"><img src="../page/vermeer/images/item07.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2106&{%%svid%%}">
					<h1>＜フェルメール＞リ・クリエイト作品「レースを編む女」</h1></a>
					<p id="price">88,000円</p>
			</div>
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
