<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ROYAL PLATINUM SELECTION - ロイヤル・プラチナ セレクション</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="_common/css/Top/style.css" type="text/css" />
	<link rel="stylesheet" href="_common/css/Top/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="_common/css/Top/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="_common/css/Top/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
<script src="_common/js/jquery.bxslider.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="_common/css/Top/jquery.bxslider.css" type="text/css" />
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix("img, .png");</script>
	<![endif]-->
<script type="text/javascript" src="_common/js/unitpngfix.js"></script>
</head>
<body id="sogo_seibu" class="topPage">

	<!-- ヘッダ -->
	<!-- デザイン改修 -->
<div id="headerExtended" class="bdrNon">
		<div class="inner">
			<h1 id="siteLogo"><a href="https://202.232.180.26/rps/?svid=2">ROYAL PLATINUM SELECTION</a></h1>
            <div id="header2">
              <div id="appendixNav">
                <ul>
                  <li id="appendixNavGuide"><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
                  <li id="appendixNavSitemap"><a href="https://202.232.180.26/rps/static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></li>
                  <li id="appendixNavLogout"><a href="https://202.232.180.26/rps/?a=logout&{%%svid%%}">ログアウト</a></li>
                </ul>
              </div>
		</div>

            <div id="headerRnav">
            
                <dl id="siteSearch">
                    <dt>商品&amp;サービス検索</dt>
                    <dd>
						<form action="https://202.232.180.26/rps/?a=Search&{%%svid%%}" method="post" name="form_search" enctype="multipart/form-data">
						<input type="hidden" name="a" value="Search">
						<input type="hidden" name="svid" value="2">						<input class="textBox" type="text" name="keyword" />
						<input class="button" type="submit" value="検索" />
						</form>
                    </dd>
                </dl>            
            
			<ul id="headerNav">
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>            
            
            </div>
	<div class="clearBoth"></div>
			
	</div>
    
           <div id="globalNav">         
            <ul class="globalNavinner">
              <li id="globalNav01"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
              <li id="globalNav02"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></li>
              <li id="globalNav03"><a href="https://202.232.180.26/rps/static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティ</a></li>
              <li id="globalNav04"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></li>
              <li id="globalNav05"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></li>
              <li id="globalNav06"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=1&{%%svid%%}">フード</a></li>
            </ul>
          </div>    
    
	  <div id="personalInfo">
	    <div class="inner">
	      <p id="welcomeMessage">ようこそ、システム部（池袋）さま</p>
	      <p id="historyLink"><a href="https://202.232.180.26/rps/?a=History&{%%svid%%}">履歴一覧</a></p>
 		   		          </div>
      </div>
</div>
	<!-- end // ヘッダ -->

<div id="main">
<div id="catchFlash">

<!-- Flash_area　ここから -->

    	<!-- Flash_area(凸版編集エリア)　ここから -->

<!--ここからがテンプレート「flash.html」のエリア-->

<!-- Flash_area　ここから -->
<div id="catchFlash">

<div id="view">
<script>
/*==============================
メインビジュアル
==============================*/
$(function() {
	var count = $('#header_area #header_sec01 .fig li').length;
	var classNum;
	for (var i = 1 ; i <= count ; i++) {
		$('#header_area #header_sec01 .pager').append('<li></li>');
	}
	$('#header_area #header_sec01 .pager li').each(function(i){
        $(this).attr('class','li' + (i+1));
    });
	$('#header_area #header_sec01 .txt li:first-child').addClass('active');

	$('#header_area #header_sec01 .fig li').hover(function() {
		classNum = $(this).attr('class');
		$('#header_area #header_sec01 .txt li').each(function() {
			if($(this).hasClass(classNum)) {
				$(this).find('a').addClass('hover');
			}
		});
	},function() {
		$('#header_area #header_sec01 .txt li').find('a').removeClass('hover');
	});
	$('#header_area #header_sec01 .txt li').hover(function() {
		classNum = $(this).attr('class');
		$('#header_area #header_sec01 .fig li').each(function() {
			if($(this).hasClass(classNum)) {
				$(this).find('a').addClass('hover');
			}
		});
	},function() {
		$('#header_area #header_sec01 .fig li').find('a').removeClass('hover');
	});
});

$(window).load(function(){
	var interval = 7000; // 切り替わりの間隔（ミリ秒）
	var sec = 1000; // フェード処理の早さ（ミリ秒）
	$('#header_area #header_sec01 .fig li').hide();
	$('#header_area #header_sec01 .fig li:first-child').addClass('active').show();
	$('#header_area #header_sec01 .txt li').hide();
	$('#header_area #header_sec01 .txt li:first-child').addClass('active').show();
	$('#header_area #header_sec01 .pager li:first-child').addClass('active');
	var autoplay = setInterval(show, interval);
	$('#header_area #header_sec01').hover(function(){
		clearInterval(autoplay);
	}, function(){
		autoplay = setInterval(show, interval);
	});
	function show(){
		var $activeImg = $('#header_area #header_sec01 .fig li.active');
		var $nextImg = $activeImg.next('li').length?$activeImg.next('li'):$('#header_area #header_sec01 .fig li:first');
		var $activeTxt = $('#header_area #header_sec01 .txt li.active');
		var $nextTxt = $activeTxt.next('li').length?$activeTxt.next('li'):$('#header_area #header_sec01 .txt li:first');
		var $activeNav = $('#header_area #header_sec01 .pager li.active');
		var $nextNav = $activeNav.next('li').length?$activeNav.next('li'):$('#header_area #header_sec01 .pager li:first');
		$activeImg.fadeOut(sec).removeClass('active');
		$nextImg.delay(sec).fadeIn(sec).addClass('active');
		$nextImg.fadeIn(sec).addClass('active');
		$activeTxt.fadeOut(sec).removeClass('active');
		$nextTxt.delay(sec).fadeIn(sec).addClass('active');
		$nextTxt.fadeIn(sec).addClass('active');
		$activeNav.removeClass('active');
		$nextNav.addClass('active');
	}
	var img=$('#header_area #header_sec01 .fig');
	var txt=$('#header_area #header_sec01 .txt');
	var nav=$('#header_area #header_sec01 .pager');
	nav.children('li').hover(function(){
		clearInterval(autoplay);
	});
	nav.children('li').click(function(){		
		nav.children('li').removeClass('active');
		img.children('li').removeClass('active');
		txt.children('li').removeClass('active');
		$(this).addClass('active');
		img.children('li').fadeOut(sec);
		txt.children('li').fadeOut(sec);
		if ($(this).hasClass('li1')){
			img.children('.li01').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li01').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li2')){
			img.children('.li02').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li02').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li3')){
			img.children('.li03').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li03').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li4')){
			img.children('.li04').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li04').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li5')){
			img.children('.li05').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li05').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li6')){
			img.children('.li06').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li06').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('li7')){
			img.children('.li07').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li07').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('li8')){
			img.children('.li08').addClass('active').delay(sec).fadeIn(sec);
			txt.children('.li08').addClass('active').delay(sec).fadeIn(sec);
		}	
	});
});



/*==============================
背景ズレ対応
==============================*/
$(function() {
	var w = $(window).width();
	var x = 960;
	$(resize);
	$(window).resize(function() {
		w = $(window).width();
		$(resize);
	});
	function resize() {
		if(w<=x) {
			$('#header_bg01').css('width',960);
		}
		else {
			$('#header_bg01').css({'width':''});
		}
	}
});



/*==============================
透過png対応
==============================*/
$(function() {
    if(navigator.userAgent.indexOf("MSIE") != -1) {
        $('#header_area img').each(function() {
            if($(this).attr('src').indexOf('.png') != -1) {
                $(this).css({
                    'filter': 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="' + $(this).attr('src') + '", sizingMethod="scale");'
                });
            }
        });
    }
});
</script>



<style>
<!--
#main {
	margin-top:0;
}
#header_area img {
	vertical-align:bottom;
}
#header_area a:hover,
#header_area a.hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
#header_bg01 {
	width:100%;
	height:452px;
	position:absolute;
	left:0;
	background:#304972 url(_common/images/Top/winter2016/hd_01_bg01.jpg) no-repeat center top;
}
#header_bg02 {
	width:100%;
	height:749px;
	position:absolute;
	left:0;
	background:#f9f1de;
}
#header_area {
	margin:0 auto 50px;
	width:950px;
	height:749px;
	position:relative;
}
#header_area #header_sec01 {
	position:relative;
	color:#fff;
	font-size:16px;
	height:452px;
}
#header_area #header_sec01 h1,
#header_area #header_sec01 p.date {
	margin-left:-5px;
}
#header_area #header_sec01 h1 {
	padding-top:30px;
}
#header_area #header_sec01 p.date {
	margin-top:5px;
}
#header_area #header_sec01 .cnts01 {
	position:absolute;
	left:290px;
	top:240px;
	width:350px;
}
#header_area #header_sec01 .cnts01 h2 {
	border-bottom:1px solid #fff;
}
#header_area #header_sec01 .cnts01 .txt {
	margin-top:20px;
	height:66px;
}
#header_area #header_sec01 .cnts01 .txt li,
#header_area #header_sec01 .cnts01 .txt li.moving,
#header_area #header_sec01 .cnts01 .txt li.active.moving {
	display:none;
}
#header_area #header_sec01 .cnts01 .txt li.active {
	display:block;
}
#header_area #header_sec01 .cnts01 .txt li p {
	font-size:16px;
	line-height:1.5;
}
#header_area #header_sec01 .cnts01 .txt li a,
#header_area #header_sec01 .cnts01 .txt li a:hover {
	color:#fff;
	display:block;
	text-decoration:none;
}
#header_area #header_sec01 .cnts01 .pager {
	margin-top:20px;
	overflow:hidden;
}
#header_area #header_sec01 .cnts01 .pager li {
	width:18px;
	height:3px;
	margin-top:2px;
	background:#fff;
	margin-left:3px;
	float:left;
	cursor:pointer;
}
#header_area #header_sec01 .cnts01 .pager li:first-child {
	margin-left:0;
}
#header_area #header_sec01 .cnts01 .pager li.active,
#header_area #header_sec01 .cnts01 .pager li:hover {
	margin-top:0;
	height:5px;
	background:#dcaf68;
}
#header_area #header_sec01 .cnts02 {
	position:absolute;
	left:540px;
	top:0;
}
#header_area #header_sec01 .cnts02 .fig li,
#header_area #header_sec01 .cnts02 .fig li.moving,
#header_area #header_sec01 .cnts02 .fig li.active.moving {
	display:none;
}
#header_area #header_sec01 .cnts02 .fig li.active {
	display:block;
}
#header_area #header_sec02 {
	overflow:hidden;
	height:297px;
}
#header_area #header_sec02 .cnts01 {
	position:relative;
	float:right;
	padding-top:25px;
}
#header_area #header_sec03 {
	position:absolute;
	left:0;
	top:198px;
}
#header_area #header_sec03 ul {
	border:1px solid #a2a2a2;
	background:#fff;
}
#header_area #header_sec03 ul li {
	border-top:1px solid #a2a2a2;
}
#header_area #header_sec03 ul li.first-child {
	border-top:none;
}
#header_area #header_sec03 ul li a {
	display:block;
}
-->
</style>
<div id="header_bg02"></div>
<div id="header_bg01"></div>
<div id="header_area">
	<div id="header_sec01">
		<h1><img src="_common/images/Top/winter2016/hd_01_ttl01.png" alt="2016 冬の逸品会 CHRISTMAS COLLECTION" /></h1>
		<p class="date"><img src="_common/images/Top/winter2016/hd_01_txt01.png" alt="公開期間：11月18日(金)〜12月20日(火)" /></p>
		<div class="cnts01">
			<h2><img src="_common/images/Top/winter2016/hd_01_sttl01.png" alt="PICK UP" /></h2>
			<ul class="txt">
				<li class="li01"><p><a href="/rps/detail/?a=Item_detail&id=8602&{%%svid%%}">ボッテガ・ヴェネタ<br />レディース 2WAYトートバッグ</a></p></li>
				<li class="li02"><p><a href="/rps/detail/?a=Item_detail&id=8508&{%%svid%%}">フランク ミュラー<br />パーペチュアルカレンダー<br />クロノグラフレトログラード</a></p></li>
				<li class="li03"><p><a href="/rps/detail/?a=Item_detail&id=8537&{%%svid%%}">ノブコイシカワ<br />＜アズタイム＞ ペンダントヘッド</a></p></li>
				<li class="li04"><p><a href="/rps/detail/?a=Item_detail&id=8592&{%%svid%%}">バーバリー<br />レディース ＜ケンジントン＞ エクストラロング<br />ヘリテージ トレンチコート</a></p></li>
				<li class="li05"><p><a href="/rps/detail/?a=Item_detail&id=8665&{%%svid%%}">石踊 達哉<br />千羽鶴</a></p></li>
				<li class="li06"><p><a href="/rps/detail/?a=Item_detail&id=8646&{%%svid%%}">訪問着「飛雲」</a></p></li>
				<li class="li07"><p><a href="/rps/detail/?a=Item_detail&id=8731&{%%svid%%}">リヤドロ<br />「幸せの魔法」</a></p></li>
				<li class="li08"><p><a href="/rps/detail/?a=Item_detail&id=8747&{%%svid%%}">モエ・エ・シャンドン＆ヴーヴ・クリコ<br />シャンパン飲み比べセット</a></p></li>
			</ul>
			<ul class="pager">
			</ul>
		</div>
		<div class="cnts02">
			<ul class="fig">
				<li class="li01"><a href="/rps/detail/?a=Item_detail&id=8602&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img01.png" alt="" /></a></li>
				<li class="li02"><a href="/rps/detail/?a=Item_detail&id=8508&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img02.png" alt="" /></a></li>
				<li class="li03"><a href="/rps/detail/?a=Item_detail&id=8537&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img03.png" alt="" /></a></li>
				<li class="li04"><a href="/rps/detail/?a=Item_detail&id=8592&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img04.png" alt="" /></a></li>
				<li class="li05"><a href="/rps/detail/?a=Item_detail&id=8665&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img05.png" alt="" /></a></li>
				<li class="li06"><a href="/rps/detail/?a=Item_detail&id=8646&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img06.png" alt="" /></a></li>
				<li class="li07"><a href="/rps/detail/?a=Item_detail&id=8731&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img07.png" alt="" /></a></li>
				<li class="li08"><a href="/rps/detail/?a=Item_detail&id=8747&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_01_img08.png" alt="" /></a></li>
			</ul>
		</div>
	</div>

	<div id="header_sec02">
		<div class="cnts01">
			<div class="figure"><a href="/rps/static/?f=page/sp_winter2016/index&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_02_img01.jpg" alt="会員さま限定プレゼントキャンペーン" /></a></div>
		</div>
	</div>

	<div id="header_sec03">
		<ul>
			<li class="first-child"><a href="/rps/item/?a=Item_list&category=5&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img01.jpg" alt="ブランドコレクション" /></a></li>
			<li><a href="/rps/static/?f=page/winter2016/index_worldwatch&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img02.jpg" alt="ワールドウオッチ" /></a></li>
			<li><a href="/rps/static/?f=page/winter2016/index_jewelry&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img03.jpg" alt="ジュエリー・メガネ" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img04.jpg" alt="婦人・紳士ファッション" /></a></li>
			<li><a href="/rps/static/?f=page/winter2016/index_art&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img05.jpg" alt="工芸・絵画" /></a></li>
			<li><a href="/rps/static/?f=page/winter2016/index_gohuku&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img06.jpg" alt="呉服" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img07.jpg" alt="インテリア" /></a></li>
			<li><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}"><img src="_common/images/Top/winter2016/hd_03_img08.jpg" alt="グルメ" /></a></li>
		</ul>
	</div>

</div><!--/#header_area-->



<script src="_common/js/rollover.js" type="text/javascript"></script>

<!-- cpbnr（特設バナーエリア）ここから -->
<!--div class="cpbnr" style="margin-top:15px;"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" alt="" width="950" height="115" usemap="#cpbn" /></a></div-->

<!--map name="cpbn">
	<area shape="rect" coords="0,0,465,130" href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}" alt="花とみどりで、人と人をつなぐ日比谷花壇。日比谷花壇フラワーサービス">
	<area shape="rect" coords="484,0,949,130" href="/rps/detail/?a=Item_detail&id=4558&{%%svid%%}" alt="八ヶ岳のきらめく星空と皆既月食をご堪能いただきます。皆既月食ピアノコンサートツアーin 八ヶ岳高原ロッジ 【10月8日（水）出発／1拍2日】">
</map> -->
<!-- cpbnr（特設バナーエリア）ここまで -->



<div id="flashArea">
<script>
$(function(){
	$setElm = $('.wideslider');
	baseWidth = 620;
	baseHeight = 572;
	minWidth = 620;

	slideSpeed = 700;
	delayTime = 5000;
	easing = 'linear';
	autoPlay = '1'; // notAutoPlay = '0'

	btnOpacity = 0.5;
	pnOpacity = 0.5;

	$(window).load(function(){
		$setElm.find('img').css({display:'block'});
		$setElm.each(function(){
			targetObj = $(this);
			targetObj.children('ul').wrapAll('<div class="wideslider_base"><div class="wideslider_wrap"></div><div class="slider_prev"></div><div class="slider_next"></div></div>');

			var findBase = targetObj.find('.wideslider_base'),
			findWrap = targetObj.find('.wideslider_wrap'),
			findPrev = targetObj.find('.slider_prev'),
			findNext = targetObj.find('.slider_next');

			var pagination = $('<div class="pagination"></div>');
			targetObj.append(pagination);
			var baseList = findWrap.find('li');
			baseList.each(function(i){
				$(this).css({width:(baseWidth),height:(baseHeight)});
				pagination.append('<a href="javascript:void(0);" class="pn'+(i+1)+'"></a>');
			});

			var findPagi = targetObj.find('.pagination'),
			baseListCount = findWrap.find('li').length;

			setSlide();
			function setSlide(){
				windowWidth = $(window).width();
				findList = findWrap.find('li');
				setParts = (findBase,findWrap,findPrev,findNext,$setElm);

				setWrapLeft = parseInt(findWrap.css('left'));
				setlistWidth = findList.find('img').width();
				setLeft = setWrapLeft / setlistWidth;

				if(windowWidth < baseWidth){
					if(windowWidth > minWidth){
						findList.css({width:(windowWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					} else if(windowWidth <= minWidth){
						findList.css({width:(minWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					}
				} else if(windowWidth >= baseWidth){
					findList.css({width:(baseWidth),height:(baseHeight)});
					setParts.css({height:(baseHeight)});
				}

				setWidth = findList.find('img').width();
				setHeight = findList.find('img').height();
				baseWrapWidth = (setWidth)*(baseListCount);

				ulCount = findWrap.find('ul').length;
				if(ulCount == 1){
					var makeClone = findWrap.children('ul');
					makeClone.clone().prependTo(findWrap);
					makeClone.clone().appendTo(findWrap);
					findWrap.children('ul').eq('1').addClass('mainList');
					var mainList = findWrap.find('.mainList').children('li');
					mainList.eq('0').addClass('mainActive')

					allListCount = findWrap.find('li').length;
				}
				allLWrapWidth = (setWidth)*(allListCount),
				posAdjust = ((windowWidth)-(setWidth))/2;

				findBase.css({left:(posAdjust),width:(setWidth),height:(setHeight)});
				findPrev.css({left:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});
				findNext.css({right:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});

				findWrap.css({width:(allLWrapWidth),height:(setHeight)});
				findWrap.children('ul').css({width:(baseWrapWidth),height:(setHeight)});

				posResetNext = -(baseWrapWidth)*2,
				posResetPrev = -(baseWrapWidth)+(setWidth);

				adjLeft = setWidth * setLeft;
				findWrap.css({left:(adjLeft)});

			}
			findWrap.css({left:-(baseWrapWidth)});

			var pnPoint = pagination.children('a'),
			pnFirst = pagination.children('a:first'),
			pnLast = pagination.children('a:last'),
			pnCount = pagination.children('a').length;
			pnFirst.addClass('active');
			pnPoint.click(function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				var setNum = pnPoint.index(this),
				moveLeft = ((setWidth)*(setNum))+baseWrapWidth;
				findWrap.stop().animate({left: -(moveLeft)},slideSpeed,easing);
				pnPoint.removeClass('active');
				$(this).addClass('active');
				activePos();
				if(autoPlay == '1'){wsTimer();}
			});

			if(autoPlay == '1'){wsTimer();}

			function wsTimer(){
				wsSetTimer = setInterval(function(){
					findNext.click();
				},delayTime);
			}
			findNext.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}
					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)-(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left'));
						if(adjustLeft <= posResetNext){
							findWrap.css({left: -(baseWrapWidth)});
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(pnCount == listCount){
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						} else {
							pnPointActive.removeClass('active').next().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			findPrev.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}

					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)+(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left')),
						adjustLeftPrev = (posResetNext)+(setWidth);
						if(adjustLeft >= posResetPrev){
							findWrap.css({left: (adjustLeftPrev)});
							pnPointActive.removeClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(1 == listCount){
							pnPointActive.removeClass('active');
							pnLast.addClass('active');
						} else {
							pnPointActive.removeClass('active').prev().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			function activePos(){
				var posActive = findPagi.find('a.active');
				posActive.each(function(){
					var posIndex = pnPoint.index(this),
					setMainList = findWrap.find('.mainList').children('li');
					setMainList.removeClass('mainActive').eq(posIndex).addClass('mainActive');
				});
			}

			$(window).on('resize',function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				setSlide();
				if(autoPlay == '1'){wsTimer();}
			});
		});
	});
});
</script>


<div class="wideslider">
<div class="cover"></div>
<ul>

<li><a href="/rps/detail/?a=Item_detail&id=6907&{%%svid%%}"><img src="_common/images/Top/main_bnr_151218_vvc.jpg" alt="VeuveClicquot" /></a></li>
<li><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151218_ss.jpg" alt="スペシャルセレクト" /></a></li>
<li><a href="/rps/static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151211_feragamo.jpg" alt="フェラガモ" /></a></li>
<li><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150410_hibiya.jpg" alt="日比谷花壇 フラワーサービス" /></a></li>
<li><a href="/rps/static/?f=page/luxury/meissen/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151211_meissen.jpg" alt="マイセン" /></a></li>
<li><a href="/rps/static/?f=page/osechi2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151030_osechi2016.jpg" alt="西武・そごうのおせち" /></a></li>
<li><a href="item/?a=item_list&category=5&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_luxury.jpg" alt="ラグジュアリー" /></a></li>
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category8"><img src="_common/images/Top/main_bnr_130830_tur.jpg" alt="ツアー" /></a></li>
<li><a href="/rps/static/?f=page/cosmetic/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_cosme.jpg" alt="コスメ" /></a></li>

<!--li><a href="/rps/static/?f=page/luxury/baccarat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151113_baccarat.jpg" alt="バカラ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/chloe/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151113_chloe.jpg" alt="クロエ" /></a></li-->
<!--li><a href="/rps/static/?f=page/otoriyose/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_otoriyose.jpg" alt="お取り寄せサービス" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/moynat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151104_moynat.jpg" alt="モワナ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/armani/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150525_armani.jpg" alt="ジョルジオ アルマーニ" /></a></li-->
<!--li><a href="/rps/static/?f=page/horizon/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130924_horizon.jpg" alt="ホライズン" /></a></li-->
<!--li><a href="/rps/static/?f=page/felisi/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130912_felisi.jpg" alt="フェリージ" /></a></li-->
<!--li><a href="item/?a=item_list&category=4&{%%svid%%}#category130"><img src="_common/images/Top/main_bnr_150129_hina.jpg" alt="ひな人形" /></a></li-->
<!--li><a href="/rps/static/?f=page/tokinoaji_2014/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140901_tokinoaji.jpg" alt="季の味倶楽部" /></a></li-->
<!--li><a href="/rps/static/?f=page/ikebukuro_shoppingguide/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_syoppingugaido.jpg" alt="池袋ショッピングガイド" /></a></li-->
<!--li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140117_shibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" /></a></li-->
</ul>
</div><!--/.wideslider-->
</div><!-- /flashArea -->



<!--ここまでがテンプレート「flash.html」のエリア-->



		<div id="eventInfomation">
<div class="ttl">
<p id="eventInfoTtl"><img src="_common/images/Top/main_ttl_eveninfo.gif" alt="" width="174" height="27" /></p>
<p id="btnIchiran"><a href="./info/?svid=2"><img src="_common/images/Top/main_btn_ichiran.gif" alt="" width="46" height="27" /></a></p>
</div><!-- /ttl -->
<div id="eventInfoContents">
<ul>


</ul>
</div><!-- /eventInfoContents -->
</div><!-- /eventInfomation -->



<div id="mainBnrArea">
<ul>
<li class="pb"><a href="/rps/static/?f=page/tokinoaji_2015_sm/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_150901_tokinoaji.jpg" alt="季の味" width="220" height="92" /></a></li>
<li  class="pb"><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_ss.jpg" alt="スペシャルセレクト" width="220" height="92" /></a></li>
<li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_seibushibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" width="220" height="92" /></a></li>
</ul>
</div><!-- /mainBnrArea -->


</div><!--/view-->
<!-- Flash_area　ここまで -->




</div><!-- /catchFlash -->

		<!-- Flash_area(凸版編集エリア)　ここまで -->


<!--
		<div id="platinumSalonNews">
			<div class="header">
				<h2 class="png">ROYAL PLATINUM NEWS</h2>
			</div>
						<p><a class="png" href="./info/?svid=2">一覧</a></p>
		</div>
-->


<div class="clearBoth"></div>
       
		<div id="pickUp">
<h2>Pick Up</h2>
<ul>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo01.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo02.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo03.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo04.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo05.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
</ul>
</div><!-- /pickUp -->
</div>
<!--============FOOTER IN============-->

	</div>
	<!-- about -->
				<div class="fortop" align="right"><a href="#">ページトップ</a></div>
<!----------auth_about ここから---------->
<div id="publication">

<div id="publicationUpper">
<div id="publicationWire">
<div id="aboutStoreGuidance">
<h2>STORE GUIDANCE</h2>
<a href="https://www2.seibu.jp/ikebukuro/index.html" target="_blank" class="rov_guidance_btn" target="_blank" class="rov_guidance_btn"><img src="https://202.232.180.26/rps/_common/images/storeguidance_btn.gif" width="204" height="34" alt="営業時間・休業日のご案内（西武 池袋店）" /></a>
</div><!-- /aboutStoreGuidance -->
<div id="aboutMobile">
<h2>MOBILE SITE</h2>
<div id="mobileSiteInfo">
<div><img alt="QRコード" src="https://202.232.180.26/rps/_common/images/mobileSiteInfo-qr.gif" /></div>
<dl>
<dt>ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</dt>
<dd>https://netorder.sogo-seibu.co.jp/rps/m/</dd>
</dl>
</div><!-- /mobileSiteInfo -->
</div><!-- /aboutMobile -->
<div id="aboutBeginner">
<dl>
<dt><img src="https://202.232.180.26/rps/_common/images/beginner_item.gif" alt="" width="220" height="25" /></dt>
<dd>
<ul id="forBeginner">
<li id="forBeginnerGuide"><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
<li id="forBeginnerSite"><a href="https://202.232.180.26/rps/static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
</ul>
</dd>
</dl>
</div><!-- /aboutBeginner -->
<div class="clearBoth"></div>
</div><!-- /publicationWire -->
</div><!-- /publicationUpper -->

<div id="footerMenu">
<div class="inner">
<div id="mainContents">
<h2>MAIN CONTENTS</h2>
<div>
<dl>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></dt>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></dt>
<dt><a href="https://202.232.180.26/rps/static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティー</a></dt>         
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></dt>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></dt>         
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=1&{%%svid%%}">フード</a></dt>     
</dl>
</div>
<br clear="all" />
</div><!-- /mainContents -->
<div id="guide">
<h2>GUIDE</h2>
<dl>
<dt><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></dt>        
<dt><a href="https://202.232.180.26/rps/static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></dt>        
</dl>
</div><!-- /guide -->
<div id="infoma">
<h2>INFORMATION</h2>
<dl>
<dt><a href="https://202.232.180.26/rps/info/?svid=2">EVENT&amp;INFORMATION</a></dt>    
<dt><a href="https://202.232.180.26/rps/?a=History&{%%svid%%}">履歴一覧</a></dt>        
<dt><a href="https://202.232.180.26/rps/?a=EditInput&edit=''&{%%svid%%}">会員情報変更</a></dt>        
<dt><a href="https://202.232.180.26/rps/?a=Secession&{%%svid%%}">退会</a></dt>        
<dt><a href="https://202.232.180.26/rps/static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></dt>        
</dl>
</div><!-- /infoma -->
<div id="ftrCaution">
<ul>
<li>※本サイトの表示価格は、本体価格に8%の消費税額を加えたお支払総額となっております。（履歴一覧に掲載の商品を除く）</li>
<li>※写真と実物では、色、素材感が多少異なる場合がございます。あらかじめご了承ください。</li>
<li>※掲載商品につきましては、数に限りがございますので品切れの際はご容赦ください。</li>
</ul>
</div><!-- /ftrCaution -->
<br clear="all" />
</div><!-- /inner -->
</div><!-- /footerMenu -->

</div>
																							
	<!-- end // about -->

	<!-- フッダ -->
	<div id="footer">
<div class="inner">
<div id="footerNav">
<p id="footerNavPrivacy"><a href="https://www.sogo-seibu.jp/information/privacy/" target="_blank">西武・そごうプライバシーポリシー</a></p>
<ul id="footerNavBtn">
<li id="footerNavSeibuSogou"><a href="http://card.sogo-seibu.co.jp/internet/index.html" target="_blank">西武・そごうインターネットサービス</a></li>
</ul>
</div><!-- /footerNav -->
<p id="copyright">Copyright (C) Sogo &amp; Seibu Co., Ltd. このページに記載の記事 / 画像の無断転用を禁止いたします。<br />
この画面はセキュリティー確保のためSSL（Secure Sockets Layer）を利用しています。</p>
<br clear="all" />
</div>
</div><!-- /footer -->

	<!-- end // フッダ -->

	<!-- analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

if (document.location.hostname == "netorder.sogo-seibu.co.jp") {
try {
ga('create', 'UA-18050665-1', 'auto');
ga('send', 'pageview');
} catch(err) {}
} else {
try {
ga('create', 'UA-18050665-3', 'auto');
ga('send', 'pageview');
} catch(err) {}
}
</script>
<!-- User Insight PCDF Code Start : sogo-seibu.co.jp -->
<script type="text/javascript">
<!--
var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 50851;
_uih['lg_id'] = '6783';
_uih['fb_id'] = '';
_uih['tw_id'] = '';
_uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
_uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';

/* DO NOT ALTER BELOW THIS LINE */
/* WITH FIRST PARTY COOKIE */
(function() {
var bi = document.createElement('scri'+'pt');bi.type = 'text/javascript'; bi.async = true;
bi.src = ('https:' == document.location.protocol ? 'https://bs' : 'http://c') + '.nakanohito.jp/b3/bi.js';
var s = document.getElementsByTagName('scri'+'pt')[0];s.parentNode.insertBefore(bi, s);
})();
//-->
</script>
<!-- User Insight PCDF Code End : sogo-seibu.co.jp -->


<!--============FOOTER OUT============-->

</body>
</html>
