<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ROYAL PLATINUM SELECTION - ロイヤル・プラチナ セレクション</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="_common/css/Top/style.css" type="text/css" />
	<link rel="stylesheet" href="_common/css/Top/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="_common/css/Top/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="_common/css/Top/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
<script src="_common/js/jquery.bxslider.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="_common/css/Top/jquery.bxslider.css" type="text/css" />
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix("img, .png");</script>
	<![endif]-->
<script type="text/javascript" src="_common/js/unitpngfix.js"></script>
</head>
<body id="sogo_seibu" class="topPage">

	<!-- ヘッダ -->
	<!-- デザイン改修 -->
<div id="headerExtended" class="bdrNon">
		<div class="inner">
			<h1 id="siteLogo"><a href="https://202.232.180.26/rps/?svid=2">ROYAL PLATINUM SELECTION</a></h1>
            <div id="header2">
              <div id="appendixNav">
                <ul>
                  <li id="appendixNavGuide"><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
                  <li id="appendixNavSitemap"><a href="https://202.232.180.26/rps/static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></li>
                  <li id="appendixNavLogout"><a href="https://202.232.180.26/rps/?a=logout&{%%svid%%}">ログアウト</a></li>
                </ul>
              </div>
		</div>

            <div id="headerRnav">
            
                <dl id="siteSearch">
                    <dt>商品&amp;サービス検索</dt>
                    <dd>
						<form action="https://202.232.180.26/rps/?a=Search&{%%svid%%}" method="post" name="form_search" enctype="multipart/form-data">
						<input type="hidden" name="a" value="Search">
						<input type="hidden" name="svid" value="2">						<input class="textBox" type="text" name="keyword" />
						<input class="button" type="submit" value="検索" />
						</form>
                    </dd>
                </dl>            
            
			<ul id="headerNav">
				<li id="textsizecontroller">
					<dl>
						<dt>文字サイズ</dt>
						<dd>
							<ul>
								<li class="ts_small"><a href="#" onclick="setActiveStyleSheet('text size small');return false;">小</a></li>
								<li class="ts_medium"><a href="#" onclick="setActiveStyleSheet('text size medium');return false;">中</a></li>
								<li class="ts_large"><a href="#" onclick="setActiveStyleSheet('text size large');return false;">大</a></li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>            
            
            </div>
	<div class="clearBoth"></div>
			
	</div>
    
           <div id="globalNav">         
            <ul class="globalNavinner">
              <li id="globalNav01"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
              <li id="globalNav02"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></li>
              <li id="globalNav03"><a href="https://202.232.180.26/rps/static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティ</a></li>
              <li id="globalNav04"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></li>
              <li id="globalNav05"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></li>
              <li id="globalNav06"><a href="https://202.232.180.26/rps/item/?a=Item_list&category=1&{%%svid%%}">フード</a></li>
            </ul>
          </div>    
    
	  <div id="personalInfo">
	    <div class="inner">
	      <p id="welcomeMessage">ようこそ、システム部（池袋）さま</p>
	      <p id="historyLink"><a href="https://202.232.180.26/rps/?a=History&{%%svid%%}">履歴一覧</a></p>
 		   		          </div>
      </div>
</div>
	<!-- end // ヘッダ -->

<div id="main">
<div id="catchFlash">

<!-- Flash_area　ここから -->

    	<!-- Flash_area(凸版編集エリア)　ここから -->

<!--ここからがテンプレート「flash.html」のエリア-->

<!-- Flash_area　ここから -->
<div id="catchFlash">

<div id="view">
<script>
/*==============================
メインビジュアル
==============================*/
$(window).load(function(){
	var interval = 7000; // 切り替わりの間隔（ミリ秒）
	var sec = 1000; // フェード処理の早さ（ミリ秒）
	$('.img_area li').hide();
	$('.img_area li:first').addClass('active').show();
	$('.slide_nav li:first').addClass('active');
	var autoplay = setInterval(show, interval);
	$("#main_slider").hover(function(){
		clearInterval(autoplay);
	}, function(){
		autoplay = setInterval(show, interval);
	});
	function show(){
		var $activeImg = $('.img_area li.active');
		var $nextImg = $activeImg.next('li').length?$activeImg.next('li'):$('.img_area li:first');
		var $activeNav = $('.slide_nav li.active');
		var $nextNav = $activeNav.next('li').length?$activeNav.next('li'):$('.slide_nav li:first');
		$activeImg.fadeOut(sec).removeClass('active');
		$nextImg.delay(sec).fadeIn(sec).addClass('active');
		$nextImg.fadeIn(sec).addClass('active');
		$activeNav.removeClass('active');
		$nextNav.addClass('active');
	}
	var img=$('.img_area');
	var nav=$('.slide_nav');
	nav.children('li').hover(function(){
		clearInterval(autoplay);
	});
	nav.children('li').click(function(){		
		nav.children('li').removeClass('active');
		img.children('li').removeClass('active');
		$(this).addClass('active');
		img.children('li').fadeOut(sec);
		if ($(this).hasClass('nav01')){
			img.children('li.slide_img01').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav02')){
			img.children('li.slide_img02').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav03')){
			img.children('li.slide_img03').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav04')){
			img.children('li.slide_img04').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav05')){
			img.children('li.slide_img05').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav06')){
			img.children('li.slide_img06').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav07')){
			img.children('li.slide_img07').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav08')){
			img.children('li.slide_img08').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav09')){
			img.children('li.slide_img09').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav10')){
			img.children('li.slide_img10').addClass('active').delay(sec).fadeIn(sec);
		}
	});
});



/*==============================
ピックアップスライダ
==============================*/
$(window).load(function(){
	var interval = 7000; // 切り替わりの間隔（ミリ秒）
	var sec = 1000; // フェード処理の早さ（ミリ秒）
	$('.pickup_img_area li').hide();
	$('.pickup_img_area li:first').addClass('active').show();
	$('.pickup_slide_nav li:first').addClass('active');
	var autoplay = setInterval(show, interval);
	$("#pickup_slider").hover(function(){
		clearInterval(autoplay);
	}, function(){
		autoplay = setInterval(show, interval);
	});
	function show(){
		var $activeImg = $('.pickup_img_area li.active');
		var $nextImg = $activeImg.next('li').length?$activeImg.next('li'):$('.pickup_img_area li:first');
		var $activeNav = $('.pickup_slide_nav li.active');
		var $nextNav = $activeNav.next('li').length?$activeNav.next('li'):$('.pickup_slide_nav li:first');
		$activeImg.fadeOut(sec).removeClass('active');
		$nextImg.delay(sec).fadeIn(sec).addClass('active');
		$nextImg.fadeIn(sec).addClass('active');
		$activeNav.removeClass('active');
		$nextNav.addClass('active');
	}
	var img=$('.pickup_img_area');
	var nav=$('.pickup_slide_nav');
	nav.children('li').hover(function(){
		clearInterval(autoplay);
	});
	nav.children('li').click(function(){		
		nav.children('li').removeClass('active');
		img.children('li').removeClass('active');
		$(this).addClass('active');
		img.children('li').fadeOut(sec);
		if ($(this).hasClass('nav01')){
			img.children('li.slide_img01').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav02')){
			img.children('li.slide_img02').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav03')){
			img.children('li.slide_img03').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav04')){
			img.children('li.slide_img04').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav05')){
			img.children('li.slide_img05').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav06')){
			img.children('li.slide_img06').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav07')){
			img.children('li.slide_img07').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav08')){
			img.children('li.slide_img08').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav09')){
			img.children('li.slide_img09').addClass('active').delay(sec).fadeIn(sec);
		}	
		if ($(this).hasClass('nav10')){
			img.children('li.slide_img10').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav11')){
			img.children('li.slide_img11').addClass('active').delay(sec).fadeIn(sec);
		}
		if ($(this).hasClass('nav12')){
			img.children('li.slide_img12').addClass('active').delay(sec).fadeIn(sec);
		}
	});
});



/*==============================
透過png対応
==============================*/
$(function() {
    if(navigator.userAgent.indexOf("MSIE") != -1) {
        $('#header_area img').each(function() {
            if($(this).attr('src').indexOf('.png') != -1) {
                $(this).css({
                    'filter': 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="' + $(this).attr('src') + '", sizingMethod="scale");'
                });
            }
        });
    }
});
</script>



<!--==============================
背景フェード
==============================-->
<!--
<script type="text/javascript">
$(function(){
    setInterval(function(){
        $('#header_bg02').fadeOut(2000, function(){$(this).fadeIn(2000)});
    });
});
</script>
-->


<style>
<!--
.main_feature{
	text-align:center;
	margin:20px 0px;
	}
	.main_feature a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
#header_bg {
	width:100%;
	height:837px;
	position:absolute;
	left:0;
	background:url(_common/images/Top/winter2015/header_bg.jpg) repeat-x center top;
}
#header_bg02 {
	width:1200px;
	height:239px;
	position:absolute;
	left:50%;
	margin-left:-600px;
	background:url(_common/images/Top/winter2015/header_bg02.gif) no-repeat center top;
}
#header_area {
	margin:10px auto 45px;
	width:950px;
	height:837px;
	position:relative;
}
#header_area #main_slider {
	width:660px;
	height:837px;
	margin:0;
	position:relative;
	padding-left:290px;
}
#header_area #main_slider ul.img_area {
	width:660px;
	height:611px;
	z-index:100;
	position:absolute;
	right:0;
	overflow:hidden;
}
#header_area #main_slider ul.img_area li {
	position:relative;
	left:0;
	top:0;
}
#header_area #main_slider ul.slide_nav {
	display:inline-block;
	position:absolute;
	right:0px;
	top:627px;
	overflow:hidden;
	z-index:200;
}
#header_area #main_slider ul.slide_nav li {
	float:left;
	display:block;
	width:19px;
	height:6px;
	background:#b6b5aa;
	margin-left:2px;
	cursor:pointer;
}
#header_area #main_slider ul.slide_nav li:hover {
	background:#493c00;
}
#header_area #main_slider ul.slide_nav li.active {
	background:#493c00; cursor:default;
}
#header_area #main_menu {
	position:absolute;
	left:0;
	top:202px;
}
#header_area #main_menu ul {
	border:1px solid #d1d1cb;
	border-bottom:none;
	background:#fff;
}
#header_area #main_menu ul li {
	border-bottom:1px solid #d1d1cb;
}
#header_area #main_menu ul li a:hover {
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity: 0.5;
}
#header_area #main_menu ul li a img {
	vertical-align:bottom;
}



#header_area #pickup_slider {
	width:651px;
	height:129px;
	margin:0;
	position:absolute;
	right:0;
	top:663px;
	background:#dddcc7;
}
#header_area #pickup_slider .pickup_link_area {
	width:100%;
	height:100%;
	position:relative;
}
#header_area #pickup_slider .pickup_link_area .pickup_ttl {
	position:absolute;
	right:0;
	top:0;
	z-index:150;
}
#header_area #pickup_slider ul.pickup_img_area {
	width:651px;
	height:129px;
	z-index:100;
	position:absolute;
	right:0;
	overflow:hidden;
}
#header_area #pickup_slider ul.pickup_img_area li {
	position:relative;
	left:0;
	top:0;
}
#header_area #pickup_slider ul.pickup_slide_nav {
	display:inline-block;
	position:absolute;
	right:11px;
	top:18px;
	overflow:hidden;
	z-index:200;
}
#header_area #pickup_slider ul.pickup_slide_nav li {
	float:left;
	display:block;
	width:16px;
	height:16px;
	background:url(_common/images/Top/winter2015/pickup_nav.gif);
	margin-left:2px;
	cursor:pointer;
}
#header_area #pickup_slider ul.pickup_slide_nav li.nav01 {background-position:0 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav02 {background-position:-16px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav03 {background-position:-32px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav04 {background-position:-48px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav05 {background-position:-64px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav06 {background-position:-80px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav07 {background-position:-96px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav08 {background-position:-112px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav09 {background-position:-128px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav10 {background-position:-144px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav11 {background-position:-160px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav12 {background-position:-176px 0;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav01:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav01.active {background-position:0 -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav02:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav02.active {background-position:-16px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav03:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav03.active {background-position:-32px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav04:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav04.active {background-position:-48px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav05:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav05.active {background-position:-64px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav06:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav06.active {background-position:-80px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav07:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav07.active {background-position:-96px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav08:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav08.active {background-position:-112px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav09:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav09.active {background-position:-128px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav10:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav10.active {background-position:-144px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav11:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav11.active {background-position:-160px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.nav12:hover,
#header_area #pickup_slider ul.pickup_slide_nav li.nav12.active {background-position:-176px -16px;}
#header_area #pickup_slider ul.pickup_slide_nav li.active {
	cursor:default;
}
.header_ttl{position:absolute; top:0; left:0; height:185px; width:440px; background:url(_common/images/Top/winter2015/header_ttl.png) no-repeat 0 0;}
.header_ttl h1{text-indent:-1000.0em;}
.header_txt{text-indent:-1000.0em;}
.header_date{	text-indent:-1000.0em;}
.header_date{	text-indent:-1000.0em;}
-->
</style>
    <div class="main_feature"><a href="/rps/static/?f=page/nihonnowaza/index&{%%svid%%}" style="margin-right:18px;"><img src="_common/images/Top/winter2015/feature_bnr.jpg" alt="特集 日本の技"></a><a href="/rps/static/?f=page/nihonsyu2015/index&{%%svid%%}"><img src="_common/images/Top/winter2015/feature_bnr2.jpg" alt="希少な日本酒 特集"></a></div>
<div id="header_bg"></div>
<div id="header_bg02"></div>
<div id="header_area">
    <div class="header_ttl">
		<h1>秋の逸品会</h1>
		<p class="header_txt">選りすぐりの品々と、美しく暮らす</p>
		<p class="header_date">会期：9月1日（火）〜9月30日（水）</p>
    </div>
	<div id="main_slider">
	<div class="link_area">
		<!--画像エリア-->
		<ul class="img_area">
			<li class="slide_img10"><a href="/rps/static/?f=page/nihonsyu2015/index&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img10.png"></a></li>
			<li class="slide_img09" style="display:none;"><a href="/rps/static/?f=page/nihonnowaza/index&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img09.png"></a></li>
			<li class="slide_img01" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_a&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img01.png"></a></li>
			<li class="slide_img02" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_b&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img02.png"></a></li>
			<li class="slide_img03" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_c&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img03.png"></a></li>
			<li class="slide_img04" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_d&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img04.png"></a></li>
			<li class="slide_img05" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_e&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img05.png"></a></li>
			<li class="slide_img06" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_f&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img06.png"></a></li>
			<li class="slide_img07" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_g&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img07.png"></a></li>
			<li class="slide_img08" style="display:none;"><a href="/rps/static/?f=page/winter2015/index_h&{%%svid%%}"><img src="_common/images/Top/winter2015/header_img08.png"></a></li>
		</ul>
	</div><!--/.link_area-->
	<!--スライダーナビ-->
	<ul class="slide_nav">
		<li class="nav10"></li><li class="nav09"></li><li class="nav01"></li><li class="nav02"></li><li class="nav03"></li><li class="nav04"></li><li class="nav05"></li><li class="nav06"></li><li class="nav07"></li><li class="nav08"></li>
	</ul>
	</div><!--/.main_slider-->
	<div id="main_menu">
		<ul>
			<li><a href="/rps/static/?f=page/winter2015/index_a&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img01.jpg" alt="ブランドコレクション" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_b&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img02.jpg" alt="ワールドウオッチ" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_c&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img03.jpg" alt="ジュエリー" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_d&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img04.jpg" alt="アート" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_e&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img05.jpg" alt="呉服" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_f&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img06.jpg" alt="インテリア・ホビー" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_g&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img07.jpg" alt="スポーツ" /></a></li>
			<li><a href="/rps/static/?f=page/winter2015/index_h&{%%svid%%}"><img src="_common/images/Top/winter2015/menu_img08.jpg" alt="グルメ" /></a></li>
		</ul>
	</div>

	<div id="pickup_slider">
	<div class="pickup_link_area">
		<div class="pickup_ttl"><img src="_common/images/Top/winter2015/pickup_ttl.png" alt="" /></div>
		<!--画像エリア-->
		<ul class="pickup_img_area">
			<li class="slide_img01"><a href="/rps/detail/?a=Item_detail&id=6542&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img01.jpg"></a></li>
			<li class="slide_img02" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6819&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img02.jpg"></a></li>
			<li class="slide_img03" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6609&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img03.jpg"></a></li>
			<li class="slide_img04" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6656&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img04.jpg"></a></li>
			<li class="slide_img05" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6631&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img05.jpg"></a></li>
			<li class="slide_img06" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6728&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img06.jpg"></a></li>
			<li class="slide_img07" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6725&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img07.jpg"></a></li>
			<li class="slide_img08" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6681&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img08.jpg"></a></li>   
            <li class="slide_img09" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6705&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img09.jpg"></a></li>
            <li class="slide_img10" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6700&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img10.jpg"></a></li>
            <li class="slide_img11" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6778&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img11.jpg"></a></li>
            <li class="slide_img12" style="display:none;"><a href="/rps/detail/?a=Item_detail&id=6772&{%%svid%%}"><img src="_common/images/Top/winter2015/pickup_img12.jpg"></a></li>
		</ul>
	</div><!--/.link_area-->
	<!--スライダーナビ-->
	<ul class="pickup_slide_nav">
		<li class="nav01"></li><li class="nav02"></li><li class="nav03"></li><li class="nav04"></li><li class="nav05"></li><li class="nav06"></li><li class="nav07"></li><li class="nav08"></li><li class="nav09"></li><li class="nav10"></li><li class="nav11"></li><li class="nav12"></li>
	</ul>
	</div><!--/.main_slider-->

</div><!--/#header_area-->



<script src="_common/js/rollover.js" type="text/javascript"></script>

<!-- cpbnr（特設バナーエリア）ここから -->
<!--div class="cpbnr" style="margin-top:15px;"><a href="https://qooker.jp/Q/auto/ja/rps/campaign/" target="new"><img src="_common/images/Top/cpbn150217_pctop.jpg" alt="" width="950" height="115" usemap="#cpbn" /></a></div-->

<!--map name="cpbn">
	<area shape="rect" coords="0,0,465,130" href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}" alt="花とみどりで、人と人をつなぐ日比谷花壇。日比谷花壇フラワーサービス">
	<area shape="rect" coords="484,0,949,130" href="/rps/detail/?a=Item_detail&id=4558&{%%svid%%}" alt="八ヶ岳のきらめく星空と皆既月食をご堪能いただきます。皆既月食ピアノコンサートツアーin 八ヶ岳高原ロッジ 【10月8日（水）出発／1拍2日】">
</map> -->
<!-- cpbnr（特設バナーエリア）ここまで -->



<div id="flashArea">
<script>
$(function(){
	$setElm = $('.wideslider');
	baseWidth = 620;
	baseHeight = 572;
	minWidth = 620;

	slideSpeed = 700;
	delayTime = 5000;
	easing = 'linear';
	autoPlay = '1'; // notAutoPlay = '0'

	btnOpacity = 0.5;
	pnOpacity = 0.5;

	$(window).load(function(){
		$setElm.find('img').css({display:'block'});
		$setElm.each(function(){
			targetObj = $(this);
			targetObj.children('ul').wrapAll('<div class="wideslider_base"><div class="wideslider_wrap"></div><div class="slider_prev"></div><div class="slider_next"></div></div>');

			var findBase = targetObj.find('.wideslider_base'),
			findWrap = targetObj.find('.wideslider_wrap'),
			findPrev = targetObj.find('.slider_prev'),
			findNext = targetObj.find('.slider_next');

			var pagination = $('<div class="pagination"></div>');
			targetObj.append(pagination);
			var baseList = findWrap.find('li');
			baseList.each(function(i){
				$(this).css({width:(baseWidth),height:(baseHeight)});
				pagination.append('<a href="javascript:void(0);" class="pn'+(i+1)+'"></a>');
			});

			var findPagi = targetObj.find('.pagination'),
			baseListCount = findWrap.find('li').length;

			setSlide();
			function setSlide(){
				windowWidth = $(window).width();
				findList = findWrap.find('li');
				setParts = (findBase,findWrap,findPrev,findNext,$setElm);

				setWrapLeft = parseInt(findWrap.css('left'));
				setlistWidth = findList.find('img').width();
				setLeft = setWrapLeft / setlistWidth;

				if(windowWidth < baseWidth){
					if(windowWidth > minWidth){
						findList.css({width:(windowWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					} else if(windowWidth <= minWidth){
						findList.css({width:(minWidth)});
						var reImgHeight = findList.find('img').height();
						findList.css({height:(reImgHeight)});
						setParts.css({height:(reImgHeight)});
					}
				} else if(windowWidth >= baseWidth){
					findList.css({width:(baseWidth),height:(baseHeight)});
					setParts.css({height:(baseHeight)});
				}

				setWidth = findList.find('img').width();
				setHeight = findList.find('img').height();
				baseWrapWidth = (setWidth)*(baseListCount);

				ulCount = findWrap.find('ul').length;
				if(ulCount == 1){
					var makeClone = findWrap.children('ul');
					makeClone.clone().prependTo(findWrap);
					makeClone.clone().appendTo(findWrap);
					findWrap.children('ul').eq('1').addClass('mainList');
					var mainList = findWrap.find('.mainList').children('li');
					mainList.eq('0').addClass('mainActive')

					allListCount = findWrap.find('li').length;
				}
				allLWrapWidth = (setWidth)*(allListCount),
				posAdjust = ((windowWidth)-(setWidth))/2;

				findBase.css({left:(posAdjust),width:(setWidth),height:(setHeight)});
				findPrev.css({left:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});
				findNext.css({right:-(baseWrapWidth),width:(baseWrapWidth),height:(setHeight),opacity:(btnOpacity)});

				findWrap.css({width:(allLWrapWidth),height:(setHeight)});
				findWrap.children('ul').css({width:(baseWrapWidth),height:(setHeight)});

				posResetNext = -(baseWrapWidth)*2,
				posResetPrev = -(baseWrapWidth)+(setWidth);

				adjLeft = setWidth * setLeft;
				findWrap.css({left:(adjLeft)});

			}
			findWrap.css({left:-(baseWrapWidth)});

			var pnPoint = pagination.children('a'),
			pnFirst = pagination.children('a:first'),
			pnLast = pagination.children('a:last'),
			pnCount = pagination.children('a').length;
			pnFirst.addClass('active');
			pnPoint.click(function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				var setNum = pnPoint.index(this),
				moveLeft = ((setWidth)*(setNum))+baseWrapWidth;
				findWrap.stop().animate({left: -(moveLeft)},slideSpeed,easing);
				pnPoint.removeClass('active');
				$(this).addClass('active');
				activePos();
				if(autoPlay == '1'){wsTimer();}
			});

			if(autoPlay == '1'){wsTimer();}

			function wsTimer(){
				wsSetTimer = setInterval(function(){
					findNext.click();
				},delayTime);
			}
			findNext.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}
					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)-(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left'));
						if(adjustLeft <= posResetNext){
							findWrap.css({left: -(baseWrapWidth)});
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(pnCount == listCount){
							pnPointActive.removeClass('active');
							pnFirst.addClass('active');
						} else {
							pnPointActive.removeClass('active').next().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			findPrev.click(function(){
				findWrap.not(':animated').each(function(){
					if(autoPlay == '1'){clearInterval(wsSetTimer);}

					var posLeft = parseInt($(findWrap).css('left')),
					moveLeft = ((posLeft)+(setWidth));
					findWrap.stop().animate({left:(moveLeft)},slideSpeed,easing,function(){
						var adjustLeft = parseInt($(findWrap).css('left')),
						adjustLeftPrev = (posResetNext)+(setWidth);
						if(adjustLeft >= posResetPrev){
							findWrap.css({left: (adjustLeftPrev)});
							pnPointActive.removeClass('active');
						}
					});

					var pnPointActive = pagination.children('a.active');
					pnPointActive.each(function(){
						var pnIndex = pnPoint.index(this),
						listCount = pnIndex+1;
						if(1 == listCount){
							pnPointActive.removeClass('active');
							pnLast.addClass('active');
						} else {
							pnPointActive.removeClass('active').prev().addClass('active');
						}
					});
					activePos();

					if(autoPlay == '1'){wsTimer();}
				});
			});

			function activePos(){
				var posActive = findPagi.find('a.active');
				posActive.each(function(){
					var posIndex = pnPoint.index(this),
					setMainList = findWrap.find('.mainList').children('li');
					setMainList.removeClass('mainActive').eq(posIndex).addClass('mainActive');
				});
			}

			$(window).on('resize',function(){
				if(autoPlay == '1'){clearInterval(wsSetTimer);}
				setSlide();
				if(autoPlay == '1'){wsTimer();}
			});
		});
	});
});
</script>


<div class="wideslider">
<div class="cover"></div>
<ul>

<li><a href="/rps/detail/?a=Item_detail&id=6907&{%%svid%%}"><img src="_common/images/Top/main_bnr_151218_vvc.jpg" alt="VeuveClicquot" /></a></li>
<li><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151218_ss.jpg" alt="スペシャルセレクト" /></a></li>
<li><a href="/rps/static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151211_feragamo.jpg" alt="フェラガモ" /></a></li>
<li><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150410_hibiya.jpg" alt="日比谷花壇 フラワーサービス" /></a></li>
<li><a href="/rps/static/?f=page/luxury/meissen/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151211_meissen.jpg" alt="マイセン" /></a></li>
<li><a href="/rps/static/?f=page/osechi2016/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151030_osechi2016.jpg" alt="西武・そごうのおせち" /></a></li>
<li><a href="item/?a=item_list&category=5&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_luxury.jpg" alt="ラグジュアリー" /></a></li>
<li><a href="item/?a=item_list&category=6&{%%svid%%}#category8"><img src="_common/images/Top/main_bnr_130830_tur.jpg" alt="ツアー" /></a></li>
<li><a href="/rps/static/?f=page/cosmetic/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_cosme.jpg" alt="コスメ" /></a></li>

<!--li><a href="/rps/static/?f=page/luxury/baccarat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151113_baccarat.jpg" alt="バカラ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/chloe/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151113_chloe.jpg" alt="クロエ" /></a></li-->
<!--li><a href="/rps/static/?f=page/otoriyose/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_otoriyose.jpg" alt="お取り寄せサービス" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/moynat/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_151104_moynat.jpg" alt="モワナ" /></a></li-->
<!--li><a href="/rps/static/?f=page/luxury/armani/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_150525_armani.jpg" alt="ジョルジオ アルマーニ" /></a></li-->
<!--li><a href="/rps/static/?f=page/horizon/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130924_horizon.jpg" alt="ホライズン" /></a></li-->
<!--li><a href="/rps/static/?f=page/felisi/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130912_felisi.jpg" alt="フェリージ" /></a></li-->
<!--li><a href="item/?a=item_list&category=4&{%%svid%%}#category130"><img src="_common/images/Top/main_bnr_150129_hina.jpg" alt="ひな人形" /></a></li-->
<!--li><a href="/rps/static/?f=page/tokinoaji_2014/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140901_tokinoaji.jpg" alt="季の味倶楽部" /></a></li-->
<!--li><a href="/rps/static/?f=page/ikebukuro_shoppingguide/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_130830_syoppingugaido.jpg" alt="池袋ショッピングガイド" /></a></li-->
<!--li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}"><img src="_common/images/Top/main_bnr_140117_shibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" /></a></li-->
</ul>
</div><!--/.wideslider-->
</div><!-- /flashArea -->



<!--ここまでがテンプレート「flash.html」のエリア-->



		<div id="eventInfomation">
<div class="ttl">
<p id="eventInfoTtl"><img src="_common/images/Top/main_ttl_eveninfo.gif" alt="" width="174" height="27" /></p>
<p id="btnIchiran"><a href="./info/?svid=2"><img src="_common/images/Top/main_btn_ichiran.gif" alt="" width="46" height="27" /></a></p>
</div><!-- /ttl -->
<div id="eventInfoContents">
<ul>


</ul>
</div><!-- /eventInfoContents -->
</div><!-- /eventInfomation -->



<div id="mainBnrArea">
<ul>
<li class="pb"><a href="/rps/static/?f=page/tokinoaji_2015_sm/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_150901_tokinoaji.jpg" alt="季の味" width="220" height="92" /></a></li>
<li  class="pb"><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_ss.jpg" alt="スペシャルセレクト" width="220" height="92" /></a></li>
<li><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_seibushibuya.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" width="220" height="92" /></a></li>
</ul>
</div><!-- /mainBnrArea -->


</div><!--/view-->
<!-- Flash_area　ここまで -->




</div><!-- /catchFlash -->

		<!-- Flash_area(凸版編集エリア)　ここまで -->


<!--
		<div id="platinumSalonNews">
			<div class="header">
				<h2 class="png">ROYAL PLATINUM NEWS</h2>
			</div>
						<p><a class="png" href="./info/?svid=2">一覧</a></p>
		</div>
-->


<div class="clearBoth"></div>
       
		<div id="pickUp">
<h2>Pick Up</h2>
<ul>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo01.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo02.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo03.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo04.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
<li>
<div><a href="#"><img src="_common/images/Top/pickUp-photo05.jpg" /></a></div>
<div class="iconBlock"><span><img src="_common/images/icn_new.gif" /></span></div>
<h3><a href="#">商品名</a></h3>
<p class="desc">商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー商品コピー</p>
</li>
</ul>
</div><!-- /pickUp -->
</div>
<!--============FOOTER IN============-->

	</div>
	<!-- about -->
				<div class="fortop" align="right"><a href="#">ページトップ</a></div>
<!----------auth_about ここから---------->
<div id="publication">

<div id="publicationUpper">
<div id="publicationWire">
<div id="aboutStoreGuidance">
<h2>STORE GUIDANCE</h2>
<a href="https://www2.seibu.jp/ikebukuro/index.html" target="_blank" class="rov_guidance_btn" target="_blank" class="rov_guidance_btn"><img src="https://202.232.180.26/rps/_common/images/storeguidance_btn.gif" width="204" height="34" alt="営業時間・休業日のご案内（西武 池袋店）" /></a>
</div><!-- /aboutStoreGuidance -->
<div id="aboutMobile">
<h2>MOBILE SITE</h2>
<div id="mobileSiteInfo">
<div><img alt="QRコード" src="https://202.232.180.26/rps/_common/images/mobileSiteInfo-qr.gif" /></div>
<dl>
<dt>ロイヤル・プラチナ セレクションは携帯電話からもご覧いただけます。</dt>
<dd>https://netorder.sogo-seibu.co.jp/rps/m/</dd>
</dl>
</div><!-- /mobileSiteInfo -->
</div><!-- /aboutMobile -->
<div id="aboutBeginner">
<dl>
<dt><img src="https://202.232.180.26/rps/_common/images/beginner_item.gif" alt="" width="220" height="25" /></dt>
<dd>
<ul id="forBeginner">
<li id="forBeginnerGuide"><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
<li id="forBeginnerSite"><a href="https://202.232.180.26/rps/static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
</ul>
</dd>
</dl>
</div><!-- /aboutBeginner -->
<div class="clearBoth"></div>
</div><!-- /publicationWire -->
</div><!-- /publicationUpper -->

<div id="footerMenu">
<div class="inner">
<div id="mainContents">
<h2>MAIN CONTENTS</h2>
<div>
<dl>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=5&{%%svid%%}">ラグジュアリー</a></dt>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=3&{%%svid%%}">ファッション</a></dt>
<dt><a href="https://202.232.180.26/rps/static/?f=page/cosmetic/index&{%%svid%%}">コスメ＆ビューティー</a></dt>         
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=4&{%%svid%%}">ライフスタイル</a></dt>
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=6&{%%svid%%}">カルチャー</a></dt>         
<dt><a href="https://202.232.180.26/rps/item/?a=Item_list&category=1&{%%svid%%}">フード</a></dt>     
</dl>
</div>
<br clear="all" />
</div><!-- /mainContents -->
<div id="guide">
<h2>GUIDE</h2>
<dl>
<dt><a href="https://202.232.180.26/rps/static/?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></dt>        
<dt><a href="https://202.232.180.26/rps/static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></dt>        
</dl>
</div><!-- /guide -->
<div id="infoma">
<h2>INFORMATION</h2>
<dl>
<dt><a href="https://202.232.180.26/rps/info/?svid=2">EVENT&amp;INFORMATION</a></dt>    
<dt><a href="https://202.232.180.26/rps/?a=History&{%%svid%%}">履歴一覧</a></dt>        
<dt><a href="https://202.232.180.26/rps/?a=EditInput&edit=''&{%%svid%%}">会員情報変更</a></dt>        
<dt><a href="https://202.232.180.26/rps/?a=Secession&{%%svid%%}">退会</a></dt>        
<dt><a href="https://202.232.180.26/rps/static/?f=page/sitemap/index&{%%svid%%}">サイトマップ</a></dt>        
</dl>
</div><!-- /infoma -->
<div id="ftrCaution">
<ul>
<li>※本サイトの表示価格は、本体価格に8%の消費税額を加えたお支払総額となっております。（履歴一覧に掲載の商品を除く）</li>
<li>※写真と実物では、色、素材感が多少異なる場合がございます。あらかじめご了承ください。</li>
<li>※掲載商品につきましては、数に限りがございますので品切れの際はご容赦ください。</li>
</ul>
</div><!-- /ftrCaution -->
<br clear="all" />
</div><!-- /inner -->
</div><!-- /footerMenu -->

</div>
																							
	<!-- end // about -->

	<!-- フッダ -->
	<div id="footer">
<div class="inner">
<div id="footerNav">
<p id="footerNavPrivacy"><a href="https://www.sogo-seibu.jp/information/privacy/" target="_blank">西武・そごうプライバシーポリシー</a></p>
<ul id="footerNavBtn">
<li id="footerNavSeibuSogou"><a href="http://card.sogo-seibu.co.jp/internet/index.html" target="_blank">西武・そごうインターネットサービス</a></li>
</ul>
</div><!-- /footerNav -->
<p id="copyright">Copyright (C) Sogo &amp; Seibu Co., Ltd. このページに記載の記事 / 画像の無断転用を禁止いたします。<br />
この画面はセキュリティー確保のためSSL（Secure Sockets Layer）を利用しています。</p>
<br clear="all" />
</div>
</div><!-- /footer -->

	<!-- end // フッダ -->

	<!-- analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

if (document.location.hostname == "netorder.sogo-seibu.co.jp") {
try {
ga('create', 'UA-18050665-1', 'auto');
ga('send', 'pageview');
} catch(err) {}
} else {
try {
ga('create', 'UA-18050665-3', 'auto');
ga('send', 'pageview');
} catch(err) {}
}
</script>
<!-- User Insight PCDF Code Start : sogo-seibu.co.jp -->
<script type="text/javascript">
<!--
var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 50851;
_uih['lg_id'] = '6783';
_uih['fb_id'] = '';
_uih['tw_id'] = '';
_uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
_uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';

/* DO NOT ALTER BELOW THIS LINE */
/* WITH FIRST PARTY COOKIE */
(function() {
var bi = document.createElement('scri'+'pt');bi.type = 'text/javascript'; bi.async = true;
bi.src = ('https:' == document.location.protocol ? 'https://bs' : 'http://c') + '.nakanohito.jp/b3/bi.js';
var s = document.getElementsByTagName('scri'+'pt')[0];s.parentNode.insertBefore(bi, s);
})();
//-->
</script>
<!-- User Insight PCDF Code End : sogo-seibu.co.jp -->


<!--============FOOTER OUT============-->

</body>
</html>
