<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ブランドソルド'12 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/brandsolde/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/brandsolde/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/brandsolde/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/brandsolde/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">ブランドソルド'12</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
    <div class="marginbottom20"><img src="../page/brandsolde/images/solde_title.gif" alt="フォール&ウインター　西武・そごうブランドソルド'12" width="850" height="460" border="0" /></div>
    <div class="marginbottom20"><img src="../page/brandsolde/images/solde_img01.gif" alt="出品ブランド一覧" width="850" height="638" border="0" /></div>
      <div class="boxL">
      <img class="marginbottom10" src="../page/brandsolde/images/solde_img02.gif" alt="午前10時からの特別サービス品" width="474" height="140" border="0" />
      <img class="marginbottom10" src="../page/brandsolde/images/solde_img03.gif" alt="クラブ・オン／ミレニアムカードをご持参ください。" width="474" height="145" border="0" />
      <img src="../page/brandsolde/images/solde_img04.gif" alt="ご来場の際には、ご招待状もしくはクラブ・オン／ミレニアムカードを必ずお待ちください。" width="474" height="118" border="0" />
      </div>
      <div>
      <img src="../page/brandsolde/images/solde_img05.gif" alt="会場：東京国際フォーラム 地下2階＝展示ホール" width="366" height="423" border="0" />
      </div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/brandsolde/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/brandsolde/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/brandsolde/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」よりご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>

		</div>


<!--注記--><br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
