


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ロエベ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/loewe/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    
       <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->  
    
    
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ロエベ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/loewe/images/loewe.jpg" alt="ロエベ" /></div>
	<div id="main">
		<div id="itemCatalog">
    <!--2017春の逸品会追加分ここから-->
		<div>
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/loewe/images/170222_loewe_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
			<h1>＜アマソナ 23＞ バッグ（デニム）</h1></a>
		</div>
      <div>
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/loewe/images/170222_loewe_02.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
			<h1>＜ハンモック スモール バッグ＞ バッグ（デニム）</h1></a>
		</div>
      <div>
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/loewe/images/170222_loewe_03.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
			<h1>＜パズル バッグ＞ バッグ（カラー：ソフトピンク）</h1></a>
		</div>
       
     <!--2017春の逸品会追加分ここまで-->
       
        <!--冬の逸品会2016追加分ここから-->
        <div>
			<a href="../detail/?a=Item_detail&id=8577&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_01_01_161118.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8577&{%%svid%%}">
			<h1>＜パズル バッグ＞ バッグ（ミンク）</h1></a>
		</div>
        <div>
			<a href="../detail/?a=Item_detail&id=8576&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_02_01_161118.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8576&{%%svid%%}">
			<h1>＜バルセロナ スモール バッグ＞ バッグ</h1></a>
		</div>
        <div>
			<a href="../detail/?a=Item_detail&id=8575&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_03_01_161118.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8575v&{%%svid%%}">
			<h1>＜ハンモック スモール バッグ＞ バッグ</h1></a>
		</div>
        <!--冬の逸品会2016追加分ここまで-->
        <div>
			<a href="../detail/?a=Item_detail&id=8108&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_0815_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8108&{%%svid%%}">
			<h1>＜アマソナ 28 マルチプリケーション＞ バッグ（カラー：ブラック×タン）</h1></a>
		</div>
  		<div>
			<a href="../detail/?a=Item_detail&id=8107&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_0815_02.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8107&{%%svid%%}">
			<h1>＜アマソナ 28＞ バッグ（カラー：アッシュ）</h1></a>
		</div>
  		<div>
			<a href="../detail/?a=Item_detail&id=8106&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_0815_03.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8106&{%%svid%%}">
			<h1>＜パズル スモール バッグ＞ バッグ（カラー：ブラック×ヘーゼルナッツ×アッシュ）</h1></a>
		</div>
          		<div>
			<a href="../detail/?a=Item_detail&id=8105&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_0815_04.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8105&{%%svid%%}">
			<h1>＜パズル スモール バッグ＞ バッグ（カラー：ストーンブルー）</h1></a>
		</div>
        
		<div>
			<a href="../detail/?a=Item_detail&id=8104&{%%svid%%}"><img src="../page/luxury/loewe/images/loewe_0815_05.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8104&{%%svid%%}">
			<h1>＜Ｔ（ティー） ショッパー バッグ＞ バッグ（カラー：ネイビーブルー）</h1></a>
		</div>

		<div>
			<a href="../detail/?a=Item_detail&id=8391&{%%svid%%}"><img src="../page/luxury/loewe/images/A_loewe_07_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=8391&{%%svid%%}">
			<h1>＜フラメンコ ノット スモール バッグ＞ バッグ（レオパード）</h1></a>
		</div>
		<div>
			<a href="../detail/?a=Item_detail&id=7651&{%%svid%%}"><img src="../page/luxury/loewe/images/A_16sm_loewe_01_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7651&{%%svid%%}">
			<h1>＜フラメンコ ノット スモール バッグ＞ バッグ（カラー：フューシャ）</h1></a>
		</div>
		<div>
			<a href="../detail/?a=Item_detail&id=7650&{%%svid%%}"><img src="../page/luxury/loewe/images/A_16sm_loewe_02_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7650&{%%svid%%}">
			<h1>＜エレファント ミニバッグ＞ バッグ（カラー：エレクトリックブルー）</h1></a>
		</div>
		<div>
			<a href="../detail/?a=Item_detail&id=7649&{%%svid%%}"><img src="../page/luxury/loewe/images/A_16sm_loewe_03_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7649&{%%svid%%}">
			<h1>＜パズル バッグ＞ バッグ（カラー：アクア）</h1></a>
		</div>

		<div>
			<a href="../detail/?a=Item_detail&id=7142&{%%svid%%}"><img src="../page/luxury/loewe/images/A_loewe_02_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.15.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7142&{%%svid%%}">
			<h1>＜パズル スモール バッグ＞ バッグ</h1></a>
		</div>

		<div>
			<a href="../detail/?a=Item_detail&id=7140&{%%svid%%}"><img src="../page/luxury/loewe/images/A_loewe_03_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.15.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7140&{%%svid%%}">
			<h1>＜アマソナ 23＞ バッグ</h1></a>
		</div>
		<div>
			<a href="../detail/?a=Item_detail&id=7141&{%%svid%%}"><img src="../page/luxury/loewe/images/A_loewe_04_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.15.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7141&{%%svid%%}">
			<h1>＜アマソナ 28＞ バッグ</h1></a>
		</div>
		<div>
			<a href="../detail/?a=Item_detail&id=7139&{%%svid%%}"><img src="../page/luxury/loewe/images/A_loewe_05_01.jpg" alt="" /></a>
			<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.15.9</div><!-- newマークギミック -->
			<a href="../detail/?a=Item_detail&id=7139&{%%svid%%}">
			<h1>＜フラメンコ ノット バッグ＞ バッグ</h1></a>
		</div>

		
	</div>
		</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
