@charset "EUC-JP";

/*main*/
#main {
	width:950px;
	margin:0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main.over a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*idx*/
#main.idx {
	width: 100%;
	background: #ffffff;
	overflow:hidden;
	padding-bottom:50px;
}
#main.idx .inner {
	width:950px;
	margin:0 auto;
}

/*idx sec_header*/
#main.idx #sec_header {
	background:url(../images/idx_hd_bg01_01.jpg) repeat-x center 25px;
	text-align:center;
	margin-bottom:42px;
}
#main.idx #sec_header .bg {
	height:404px;
	background:url(../images/idx_hd_bg01_02.png) no-repeat center 25px;
}
#main.idx #sec_header h2 {
	background:#034f84;
}
#main.idx #sec_header .img {
	margin-bottom:21px;
}
#main.idx #sec_header ul li {
	float:left;
	margin-left:25px;
}
#main.idx #sec_header ul li:first-child {
	margin-left:0;
}

/*idx sec01*/
#main.idx #sec01 {
	margin-bottom:40px;
}
#main.idx #sec01 p {
	float:left;
}
#main.idx #sec01 .img {
	float:right;
}

/*idx sec02*/
#main.idx #sec02 {
	margin-bottom:57px;
}
#main.idx #sec02 .bg01 {
	height:2px;
	background:url(../images/idx_sec02_bg01_01.jpg) no-repeat;
}
#main.idx #sec02 .bg02 {
	padding-top:42px;
	background:url(../images/idx_sec02_bg01_02.jpg) repeat-y;
}
#main.idx #sec02 .bg03 {
	height:6px;
	background:url(../images/idx_sec02_bg01_03.jpg) no-repeat;
}
#main.idx #sec02 .cnts01 {
	position:relative;
	width:950px;
	height:1102px;
	background:url(../images/idx_sec02_bg02.png) no-repeat;
	margin-bottom:36px;
}
#main.idx #sec02 .cnts01 .txt01 {
	position:absolute;
	left:55px;
	top:0;
}
#main.idx #sec02 .cnts01 .ul01 li {
	position:absolute;
}
#main.idx #sec02 .cnts01 .ul01 li.li01 {right:21px;top:17px;}
#main.idx #sec02 .cnts01 .ul01 li.li02 {left:30px;top:199px;}
#main.idx #sec02 .cnts01 .ul01 li.li03 {left:30px;top:439px;}
#main.idx #sec02 .cnts01 .ul01 li.li04 {right:20px;top:563px;}
#main.idx #sec02 .cnts01 .ul01 li.li05 {right:49px;	bottom:100px;}
#main.idx #sec02 .cnts01 .ul01 li.li06 {left:168px;bottom:0;}
#main.idx #sec02 .cnts01 .ul02 li {
	display:none;
	position:absolute;
}
#main.idx #sec02 .cnts01 .ul02 li.li01 {left:508px;top:236px;}
#main.idx #sec02 .cnts01 .ul02 li.li02 {left:487px;top:426px;}
#main.idx #sec02 .cnts01 .ul02 li.li03 {left:461px;top:623px;}
#main.idx #sec02 .cnts01 .ul02 li.li04 {left:359px;top:561px;}
#main.idx #sec02 .cnts01 .ul02 li.li05 {left:197px;top:683px;}
#main.idx #sec02 .cnts01 .ul02 li.li06 {left:121px;top:757px;}
#main.idx #sec02 .cnts02 {
	text-align:center;
	padding-bottom:48px;
}
#main.idx #sec02 .cnts02 .btn {
	padding:10px 0 15px;
}
#main.idx #sec02 .cnts02 .cnts02_btn01 {
	display: inline-block;
}
#main.idx #sec02 .cnts02 .cnts02_btn02 {
	display: none;
}
#main.idx #sec02 .cnts02 .complete .cnts02_btn01 {
	display: none;
}
#main.idx #sec02 .cnts02 .complete .cnts02_btn02 {
	display: inline-block;
}

/*idx sec03*/
#main.idx #sec03 {
	background:url(../images/idx_sec03_bg01.jpg) center top;
	padding:39px 0 35px;
}
#main.idx #sec03 h4 {
	text-align:center;
	margin-bottom:33px;
}
#main.idx #sec03 .cnts01 {
	margin-bottom:15px;
}
#main.idx #sec03 .cnts01 .img {
	float:left;
}
#main.idx #sec03 .cnts01 p {
	float:right;
}
#main.idx #sec03 ul {
	margin-left:1em;
}
#main.idx #sec03 ul li {
	text-indent: -1em;
}

/*idx sec04*/
#main.idx #sec04 {
	background:url(../images/idx_sec04_bg01.jpg) center top;
	padding:39px 0 22px;
}
#main.idx #sec04 h4 {
	text-align:center;
	margin-bottom:26px;
}
#main.idx #sec04 .txt01 {
	text-align:center;
	margin-bottom:35px;
}
#main.idx #sec04 ul {
	margin-bottom:28px;
}
#main.idx #sec04 ul li {
	float:right;
	width:460px;
}
#main.idx #sec04 ul li:first-child {
	float:left;
}
#main.idx #sec04 ul li .img {
	float:left;
}
#main.idx #sec04 ul li .txt {
	float:right;
	width:290px;
}
#main.idx #sec04 ul li .txt h5 {
	margin-bottom:10px;
}
#main.idx #sec04 ul li .txt p {
	margin-bottom:10px;
}



/*note*/
#main.note {
	width: 100%;
	background: #ffffff;
	overflow:hidden;
	padding-bottom:50px;
}
#main.note .inner {
	width:950px;
	margin:0 auto;
}

/*note sec_header*/
#main.note #sec_header {
	background:#eee;
}
#main.note #sec_header .bg {
	width: 950px;
	margin: 0 auto;
}

/*idx sec01*/
#main.note #sec01 {
	margin-bottom:40px;
}
#main.note #sec01 .txtarea {
	padding: 30px 0;
}
#main.note #sec01 p {
	font-size: 16px;
	line-height: 2;
	padding-left: 1em;
	text-indent: -1em;
}
#main.note #sec01 .btn01 {
	text-align: center;
}
#main.note #sec01 .btn01 a:hover img {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}



/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}