<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ラリック | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ラリック</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item02">
		<h3><img src="../page/autumn2016/images/cmn_02_ttl04.png" alt="" /></h3>
		<p>19世紀末から20世紀にかけて美術工芸家として活躍した作家「ルネ・ラリック」。「アール・デコ」様式を代表する彼が創業した、フランス・クリスタル工芸の名門「ラリック」社はそのデザイン性を今に受け継ぎ、新たな作品を生み出しています。今回は、現代ラリックが制作するアーティストとのコラボレーション作品を始め、花器などをご紹介いたします。</p>
	</div>
</div>

<div id="sec_cnts">
	<h4 class="item03">ラリック×ダミアン・ハースト</h4>
	<div class="item02">
        <ul class="ul03 clfx">
			<li><a href="../detail/?a=Item_detail&id=8241&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_01_01.jpg" alt="" /><p>＜エターナル ラブ CR＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8240&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_02_01.jpg" alt="" /><p>＜エターナル ラブ CR＆GD＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8239&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_03_01.jpg" alt="" /><p>＜エターナル ラブ AB＞ クリスタルパネル</p></a></li>
		</ul>
        <ul class="ul03 clfx">
			<li><a href="../detail/?a=Item_detail&id=8238&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_04_01.jpg" alt="" /><p>＜エターナル ラブ TA＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8237&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_05_01.jpg" alt="" /><p>＜エターナル ビューティー PK＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8236&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_06_01.jpg" alt="" /><p>＜エターナル ビューティー LV＞ クリスタルパネル</p></a></li>
		</ul>
        <ul class="ul03 clfx">
			<li><a href="../detail/?a=Item_detail&id=8235&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_07_01.jpg" alt="" /><p>＜エターナル ビューティー BL＆GD＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8234&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_08_01.jpg" alt="" /><p>＜エターナル ビューティー BL＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8233&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_09_01.jpg" alt="" /><p>＜エターナル ホープ LB＞ クリスタルパネル</p></a></li>
		</ul>
        <ul class="ul03 clfx">
			<li><a href="../detail/?a=Item_detail&id=8232&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_10_01.jpg" alt="" /><p>＜エターナル ホープ GR＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8231&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_11_01.jpg" alt="" /><p>＜エターナル ホープ VI＞ クリスタルパネル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8230&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_12_01.jpg" alt="" /><p>＜エターナル ホープ BL＆PL＞ クリスタルパネル</p></a></li>
		</ul>
        <h4 class="item03">ラリック</h4>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8229&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_13_01.jpg" alt="" /><p>「ドゥ ザネモーヌ」（グリーン／ホワイトエナメル）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8228&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_14_01.jpg" alt="" /><p>一輪挿し「アネモーヌ」（フクシア）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8227&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_15_01.jpg" alt="" /><p>花器「アガヴ」（ゴールドラスター）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8226&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_16_01.jpg" alt="" /><p>ボウル「レヨン」（クリア）</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8225&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_17_01.jpg" alt="" /><p>オーナメント「ロンシャン」（ゴールドラスター）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8224&{%%svid%%}"><img src="../page/autumn2016/images/E_04_lalique_18_01.jpg" alt="" /><p>オーナメント「ファルコン」（クリア）</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
