<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ブシュロン／ショーメ／レポシ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ブシュロン／ショーメ／レポシ</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4>ブシュロン boucheron</h4>
		<p>1858年にジュエラーとしてのスタートを切った“ブシュロン”。創業者「フレデリック・ブシュロン」は、美しい宝石を求めて、自ら世界中を旅したといいます。高い創作技術を駆使して生み出された、時代を先取りしたスタイルは、パリ万国博覧会で数々の賞を受賞しました。1893年にはヴァンドーム広場に出店。今ではジュエリーショップが集まることで知られていますが、その第一号が“ブシュロン”でした。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8164&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_01_01.jpg" alt="" /><p>＜セルパンボエム＞ ロングネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8163&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_02_01.jpg" alt="" /><p>＜セルパンボエム＞ ペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8162&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_03_01.jpg" alt="" /><p>＜セルパンボエム＞ イヤリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8161&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_04_01.jpg" alt="" /><p>＜セルパンボエム＞ リング</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8160&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_05_01.jpg" alt="" /><p>＜セルパンボエム＞ レディースウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=6135&{%%svid%%}"><img src="../page/autumn2016/images/C_01_boucheron_06_01.jpg" alt="" /><p>＜エピュール＞ メンズウオッチ</p></a></li>
		</ul>
	</div>
    
    <div class="item01">
		<h4 id="anchor01">ショーメ chaumet</h4>
		<p>1780年に創業した“ショーメ”。時の王「ナポレオン」からの依頼をきっかけにヨーロッパでの評判を高め、王侯貴族たちを顧客としていきます。現代へと移り変わるなか、伝統のスタイルを継承しながらも、パリの新しいセンスを採り入れ、常に創造的なデザインを追求してきました。ヴァンドーム広場12番地にあるアトリエには、230年以上の長きにわたって培ってきたノウハウが息づいています。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8159&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_01_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラK18WGリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8158&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_02_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラブレスレット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8157&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_03_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラチェーンイヤリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8156&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_04_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラWGイヤリング</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8155&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_05_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラK18PGリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8154&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_06_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8153&{%%svid%%}"><img src="../page/autumn2016/images/C_02_chaumet_07_01.jpg" alt="" /><p>＜ジョゼフィーヌ＞ エクラK18PGイヤリング</p></a></li>
		</ul>
	</div>
    
    <div class="item01">
		<h4>レポシ repossi</h4>
		<p>モナコ王室御用達の宝石商として知られるオートクチュールジュエラー“レポシ”。モナコの高級ホテル「エルミタージュ」に本店を構えています。2007年には現オーナーの娘「ガイア・レポシ」がクリエーティブ兼アーティスティックデイレクターに就任。モダンなモチーフや、複雑なパターンで斬新な表現に挑戦するなど、ブランドに新風を吹き込み、新たなファンを獲得しています。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8152&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_01_01.jpg" alt="" /><p>＜サーティ・サー・ヴェイド＞ K18WGダイヤモンドリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8151&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_02_01.jpg" alt="" /><p>＜サーティ・サー・ヴェイド＞ K18WGダイヤモンドイヤーカフ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8150&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_03_01.jpg" alt="" /><p>＜ベルベル＞ モノタイプダイヤモンドリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8149&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_04_01.jpg" alt="" /><p>＜ベルベル＞ モジュールK18PGダイヤモンドリング</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8148&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_05_01.jpg" alt="" /><p>＜ホワイトノイズ＞ K18YGリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=6146&{%%svid%%}"><img src="../page/autumn2016/images/C_03_repossi_06_01.jpg" alt="" /><p>＜ホワイトノイズ＞ K18YGブレスレット</p></a></li>
		</ul>
	</div>
    
    <div class="item01">
		<h4>アイウェア eyewear</h4>
		<p>ジュエリーと同じく、モードな感性はフランス製の小物アイテムにも見て取れます。有名ブランドが手掛ける美しいアイウエアも、併せてラインアップいたしました。“アランミクリ”は、モダンなデザインで知性を表現することで、アクセサリーとしてのメガネを世に広めました。“バレンシアガ”や“サンローラン”の、ファッションブランドらしいスマートなアイウエアとともにお届けいたします。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8147&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_01_01.jpg" alt="" /><p>アランミクリ　＜A02017＞ メガネフレーム（M0JM/M0JA）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8146&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_02_01.jpg" alt="" /><p>アランミクリ　＜A00542＞ メガネフレーム（M027/1055）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8145&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_03_01.jpg" alt="" /><p>バレンシアガ　＜BA5037＞ メガネフレーム（005/074）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8144&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_04_01.jpg" alt="" /><p>バレンシアガ　＜BA5020＞ メガネフレーム（001/081）</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8143&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_05_01.jpg" alt="" /><p>サンローラン　＜SL91＞ メガネフレーム（001/003）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8142&{%%svid%%}"><img src="../page/autumn2016/images/C_04_eyewear_06_01.jpg" alt="" /><p>サンローラン　＜SL12F＞ メガネフレーム（001/003）</p></a></li>
		</ul>
    </div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
