<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>呉服| ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">呉服</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div><em></em>
	<div class="item02">
		<h3><img src="../page/autumn2016/images/cmn_02_ttl07.png" alt="呉服" /></h3>
		<p>170年余りの歴史の中で、分業が当たり前だった西陣の概念を覆した“川島織物”。全工程の一貫管理に挑戦し、見事成功しました。どの帯も締めやすく、織りやデザインは美しく個性に溢れています。小物の“神田胡蝶”は、明治32年に履物店として創業。伝統や四季折々の美しさを大切にしながら、使い心地も追求しています。現代人が和服を楽しみやすいよう、工夫をこらした品々に注目です。</p>
	</div>	
</div>

<div id="sec_cnts">
<!--	<h4 class="item03">ダミーのタイトル</h4> -->
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8216&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_01_01.jpg" alt="" /><p>川島織物　本極錦 袋帯「春秋秀庭」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8215&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_02_01.jpg" alt="" /><p>川島織物　本極錦 袋帯「飾美唐花文」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8214&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_03_01.jpg" alt="" /><p>川島織物　錦袋帯「裳花慶長文」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8213&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_04_01.jpg" alt="" /><p>川島織物　錦袋帯「佳人優美」／「絢彩菱文」</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8212&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_05_01.jpg" alt="" /><p>川島織物　綴名古屋帯「琳派粋趣」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8211&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_06_01.jpg" alt="" /><p>川島織物　綴名古屋帯「優華懐紙」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8210&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_07_01.jpg" alt="" /><p>川島織物　錦名古屋帯「チベット円文」／「彩糸文」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8209&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_08_01.jpg" alt="" /><p>神田胡蝶　唐織手提げバッグ七宝柄／熨斗目柄</p></a></li>
		</ul>
        	<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8208&{%%svid%%}"><img src="../page/autumn2016/images/E_06_gofuku_10_01.jpg" alt="" /><p>神田胡蝶　低反発草履</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
