<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>バカラ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">バカラ</li>
</ul>

<!-- main -->
<div id="main" class="main_baccarat">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item02">
		<h3><img src="../page/autumn2016/images/cmn_02_ttl10.png" alt="" /></h3>
		<p>創設250周年を記念して、パリのプティ・パレ美術館で開催された大回顧展。その出品作の中からより優れたものを選りすぐり、復刻させたのが「バカラ プティ・パレ コレクション」です。職人たちは、オリジナルが制作された時代に思いを馳せながらも、そのまま復刻するのではなく、色使いなどで現代らしさを注入。発表当時から今に至るまでの技術が込められた、歴史的コレクションといえます。</p>
	</div>

</div>

<div id="sec_cnts">
	<ul class="baccarat_01">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8120&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8119&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_02_01.png" alt="" /></a></li>
        <li class="li03"><a href="../detail/?a=Item_detail&id=8118&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_03_01.png" alt="" /></a></li>
        <li class="li04"><a href="../detail/?a=Item_detail&id=8117&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_04_01.png" alt="" /></a></li>
        <li class="li05"><a href="../detail/?a=Item_detail&id=8116&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_05_01.png" alt="" /></a></li>
        <li class="li06"><a href="../detail/?a=Item_detail&id=8115&{%%svid%%}"><img src="../page/autumn2016/images/A_baccarat_06_01.png" alt="" /></a></li>
    </ul>
    <p style="text-align:center; margin-top:80px"><a class="btn" href="../static/?f=page/luxury/baccarat/index&{%%svid%%}"><img src="../page/autumn2016/images/cmn_05_btn10_01.gif" alt="" /></a></p>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
