<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>アンティーク 絵画・工芸 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">アンティーク 絵画・工芸</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item03">
		<ul class="ul02 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt01_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt01_02.gif" alt="" /></a></li>
		</ul>
	</div>
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4 id="anchor01">絵画（19世紀フランス絵画）</h4>
		<p>ロダンやルノワール、セザンヌなどが活躍し、ヨーロッパが今以上に輝いていた19世紀。フランスでは、「サロン・ド・パリ」と呼ばれる大規模な公的美術展が催されていました。古代ギリシャ・ローマ時代から育まれた歴史と伝統を受け継ぎ、数々の名作を発表した当時のサロン画家たち。彼らが培ったフランス近代美術の精神は、現在でも多くの画家に影響を与え続けています。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8249&{%%svid%%}"><img src="../page/autumn2016/images/E_02_francekaiga_01_01.jpg" alt="" /><p>シャルル・Ｅ・ジャック　「羊飼いの少女」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8248&{%%svid%%}"><img src="../page/autumn2016/images/E_02_francekaiga_02_01.jpg" alt="" /><p>フランソワ・ルロワ　「ヴェリタス」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8247&{%%svid%%}"><img src="../page/autumn2016/images/E_02_francekaiga_03_01.jpg" alt="" /><p>ギュスターヴ・ジャン・ジャッケ　「婦人」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8246&{%%svid%%}"><img src="../page/autumn2016/images/E_02_francekaiga_04_01.jpg" alt="" /><p>ジャン＝アレクシス・アシャール　「橋のある風景」</p></a></li>     
		</ul>
        <div class="item01">
		<h4 id="anchor02">工芸（1920年代 アール・デコ「シュナイダー」）</h4>
		<p>1913年、シュナイダー兄弟が設立したアール・デコを代表するガラス工房。型ガラスなどによる大量生産を行わず、手づくりにこだわったことでも知られます。シンプルな造形や鮮やかな色彩、金属とのコラボレーションなど独創的な作品が特徴。パリを初めとした各国の主要都市で作品が販売され、大きな成功を納めました。</p>
	    </div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8245&{%%svid%%}"><img src="../page/autumn2016/images/E_03_schneider_01_01.jpg" alt="" /><p>＜ヴェール・フランセ＞ 花文花瓶（A2194）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8244&{%%svid%%}"><img src="../page/autumn2016/images/E_03_schneider_02_01.jpg" alt="" /><p>＜ヴェール・フランセ＞ 花文花生（B1644）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8243&{%%svid%%}"><img src="../page/autumn2016/images/E_03_schneider_03_01.jpg" alt="" /><p>＜ヴェール・フランセ＞ 蝶文水差（B0555）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8242&{%%svid%%}"><img src="../page/autumn2016/images/E_03_schneider_04_01.jpg" alt="" /><p>＜ヴェール・フランセ＞ 花文花生（B5506）</p></a></li>
        </ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
