<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フランスグルメ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">フランスグルメ</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item02">
		<h3><img src="../page/autumn2016/images/cmn_02_ttl06.png" alt="" /></h3>
		<p>品質が優れていることで有名な、フランス産ワイン。銘醸地とされる産地から、さらに希少なものを選りすぐりました。特別価格でのご案内商品や、味わいの違いをお楽しみいただけるセットもご用意。ワイン好きの方から、試してみたい方まで、幅広くご満足いただける品ぞろえです。加えて、美食の本場ということで、スイーツやグルメ商品にも注目。食欲の秋を心ゆくまで満喫してください。</p>
	</div>
	<div class="item03">
		<ul class="ul04 clfx">
			<li><a href="#anchor04"><img src="../page/autumn2016/images/cmn_03_txt06_04.gif" alt="" /></a></li>
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt06_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt06_03.gif" alt="" /></a></li>
            <li><a href="#anchor03"><img src="../page/autumn2016/images/cmn_03_txt06_02.gif" alt="" /></a></li>
		</ul>
	</div>
</div>

<div id="sec_cnts">
        <h4 id="anchor04" class="item03">五大シャトー</h4>
        <div class="item02">
         <ul class="clfx">
            <li><a href="../detail/?a=Item_detail&id=8350&{%%svid%%}"><img src="../page/autumn2016/images/G_56_ch_lafiterothschild_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー ラフィット ロートシルト 2011 赤ワイン</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8351&{%%svid%%}"><img src="../page/autumn2016/images/G_57_chateaulatour_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー ラトゥール 1998 赤ワイン</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8348&{%%svid%%}"><img src="../page/autumn2016/images/G_58_chateauhautbrion_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー オー ブリオン ルージュ 2011 赤ワイン</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8349&{%%svid%%}"><img src="../page/autumn2016/images/G_59_chateaumargaux_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー マルゴー 2009 赤ワイン</p></a></li>
         </ul>
         <ul class="clfx">
            <li><a href="../detail/?a=Item_detail&id=8352&{%%svid%%}"><img src="../page/autumn2016/images/G_60_chateaumoutonrothschild_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー ムートン ロートシルト 2009 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8342&{%%svid%%}"><img src="../page/autumn2016/images/G_35_bordeaux_godai_01_01.jpg" alt="" /><p>【ボルドー地方】五大シャトー ヴィンテージ別飲み比べセット</p></a></li>
		</ul>
	<h4 id="anchor01" class="item03">ワイン</h4>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8278&{%%svid%%}"><img src="../page/autumn2016/images/G_01_chateau_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー　アンジェリュス 2013 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8275&{%%svid%%}"><img src="../page/autumn2016/images/G_04_bordeaux_01_01.jpg" alt="" /><p>【ボルドー地方】ボルドー　セカンドワイン6本セット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8341&{%%svid%%}"><img src="../page/autumn2016/images/G_36_bordeaux_domainedele_01_01.jpg" alt="" /><p>【ボルドー地方】ドメーヌ・ド・ラ 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8340&{%%svid%%}"><img src="../page/autumn2016/images/G_37_bordeaux_chateaugigault_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー ジゴー　キュヴェ・ヴィヴァ 赤ワイン</p></a></li>
        </ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8339&{%%svid%%}"><img src="../page/autumn2016/images/G_38_bordeaux_ladamedeferrier_01_01.jpg" alt="" /><p>【ボルドー地方】ラ・ダム・ド・フェリエール 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8338&{%%svid%%}"><img src="../page/autumn2016/images/G_39_bordeaux_chateaudechantegrive_01_01.jpg" alt="" /><p>【ボルドー地方】シャトー ド・シャンテグリーヴ　キュヴェ・キャロリン 白ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8337&{%%svid%%}"><img src="../page/autumn2016/images/G_40_bordeaux_lionblancdesaintmarc_01_01.jpg" alt="" /><p>【ボルドー地方】リオン・ブラン・ド・サン・マルク 白ワイン</p></a></li>
        	<li><a href="../detail/?a=Item_detail&id=8277&{%%svid%%}"><img src="../page/autumn2016/images/G_02_domaine_01_01.jpg" alt="" /><p>【ブルゴーニュ地方】ドメーヌ・ド・ラ・ヴージュレー　ワイン3本セット</p></a></li>
         </ul>
         <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8276&{%%svid%%}"><img src="../page/autumn2016/images/G_03_domaine_02_01.jpg" alt="" /><p>【ブルゴーニュ地方】ドメーヌ・ド・ラ・ヴージュレー　ワイン6本セット</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8336&{%%svid%%}"><img src="../page/autumn2016/images/G_41_bourgogne_domainedelavougeraie_01_01.jpg" alt="" /><p>【ブルゴーニュ地方】ドメーヌ・ド・ラ・ヴージュレー  ジュヴレイ・シャンベルタン 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8335&{%%svid%%}"><img src="../page/autumn2016/images/G_42_bourgogne_piereponnelle_01_01.jpg" alt="" /><p>【ブルゴーニュ地方】ピエール・ポネル　ブルゴーニュ・ピノ・ノワール 赤ワイン</p></a></li>
        	<li><a href="../detail/?a=Item_detail&id=8334&{%%svid%%}"><img src="../page/autumn2016/images/G_44_bourgogne_jmoreau_01_01.jpg" alt="" /><p>【ブルゴーニュ地方】J.モロー　シャブリ 白ワイン</p></a></li>
         </ul>
         <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8333&{%%svid%%}"><img src="../page/autumn2016/images/G_45_bourgogne_jmoreau_02_01.jpg" alt="" /><p>【ブルゴーニュ地方】J.モロー　シャブリ1級フルショーム 白ワイン</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8332&{%%svid%%}"><img src="../page/autumn2016/images/G_46_nansei_crocus_01_01.jpg" alt="" /><p>【南西地方】クロッカス グラン・ヴァン 赤ワイン</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8331&{%%svid%%}"><img src="../page/autumn2016/images/G_47_nansei_crocus_02_01.jpg" alt="" /><p>【南西地方】クロッカス マルベック・ド・カオール 赤ワイン</p></a></li>
        	<li><a href="../detail/?a=Item_detail&id=8330&{%%svid%%}"><img src="../page/autumn2016/images/G_48_provence_01_01.jpg" alt="" /><p>【プロヴァンス地方】ジャン・ヴァレストレル　コート・ド・プロヴァンス　ロゼ2本セット</p></a></li>
         </ul>
         <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8274&{%%svid%%}"><img src="../page/autumn2016/images/G_05_jacquart_01_01.jpg" alt="" /><p>【シャンパーニュ地方】ジャカール　シャンパン3本セット</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8329&{%%svid%%}"><img src="../page/autumn2016/images/G_49_jacquart_02_01.jpg" alt="" /><p>【シャンパーニュ地方】ジャカール ブリュット・モザイク</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8328&{%%svid%%}"><img src="../page/autumn2016/images/G_50_jacquart_03_01.jpg" alt="" /><p>【シャンパーニュ地方】ジャカール ブリュット　ブラン・ド・ブラン</p></a></li>
        	<li><a href="../detail/?a=Item_detail&id=8327&{%%svid%%}"><img src="../page/autumn2016/images/G_51_jura_01_01.jpg" alt="" /><p>【ジュラ地方】アンリ・メール アルボワ・サヴァニャン・スー・ヴォワル 黄ワイン（ヴァンジョ―ヌ）</p></a></li>
         </ul>
         <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8326&{%%svid%%}"><img src="../page/autumn2016/images/G_52_francewine_red_tour_01_01.jpg" alt="" /><p>フランス　赤ワイン 周遊飲み比べ4本セット</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8325&{%%svid%%}"><img src="../page/autumn2016/images/G_53_francewine_white_tour_01_01.jpg" alt="" /><p>フランス　白ワイン 周遊飲み比べ4本セット</p></a></li>
        </ul>

        <h4 id="anchor02" class="item03">スイーツ</h4>
        <ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8269&{%%svid%%}"><img src="../page/autumn2016/images/G_20_mezonchaudun_01_01.jpg" alt="" /><p>ミッシェル ショーダン　フィナンシェアソート（19個入）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8268&{%%svid%%}"><img src="../page/autumn2016/images/G_21_lamaisonduchocolat_01_01.jpg" alt="" /><p>ラ・メゾン・デュ・ショコラ　タス ドゥ ショコラ（1本箱入り）</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8267&{%%svid%%}"><img src="../page/autumn2016/images/G_22_lamaisonduchocolat_02_01.jpg" alt="" /><p>ラ・メゾン・デュ・ショコラ　グラース＆ソルベ（6個入り）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8266&{%%svid%%}"><img src="../page/autumn2016/images/G_34_auxanysetiersduroy_01_01.jpg" alt="" /><p>オアニゾティエール ド ロワ　チョコレートフォンデュ ド ロワ　64％カカオ</p></a></li>
        </ul>
        <ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8265&{%%svid%%}"><img src="../page/autumn2016/images/G_28_michel_01_01.jpg" alt="" /><p>ミッシェル ショーダン　シュー グラッセ（9個入）</p></a></li>
        </ul>
        <h4 id="anchor03" class="item03">オリーブオイルほか</h4>
        <ul class="clfx">
        		<li><a href="../detail/?a=Item_detail&id=8273&{%%svid%%}"><img src="../page/autumn2016/images/G_30_plaincompany_01_01.jpg" alt="" /><p>プレインカンパニー　＜アルデンス＞ エキストラバージンオリーブオイル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8272&{%%svid%%}"><img src="../page/autumn2016/images/G_31_plaincompany_02_01.jpg" alt="" /><p>プレインカンパニー　＜ベルタ デル バロン＞ エキストラバージンオリーブオイル</p></a></li> 
            <li><a href="../detail/?a=Item_detail&id=8271&{%%svid%%}"><img src="../page/autumn2016/images/G_32_plaincompany_03_01.jpg" alt="" /><p>プレインカンパニー　＜オリバル デ ラ ルナ＞ エキストラバージンオリーブオイル</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8270&{%%svid%%}"><img src="../page/autumn2016/images/G_33_plaincompany_04_01.jpg" alt="" /><p>プレインカンパニー　＜エル コルゾ＞ エキストラバージンオリーブオイル</p></a></li>
                        </ul>
                        <ul class="clfx"> 
        <li><a href="../detail/?a=Item_detail&id=8354&{%%svid%%}"><img src="../page/autumn2016/images/G_54_maisondelatruffe_01_01.jpg" alt="" /><p>アルチザン・ド・ラ・トリュフ　黒トリュフカルパッチョ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8353&{%%svid%%}"><img src="../page/autumn2016/images/G_55_aixetterra_01_01.jpg" alt="" /><p>エクス＆テラ　プロヴァンスアペリティフ3種セット</p></a></li>
        </ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
