<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ブレゲ／ロンジン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ブレゲ／ロンジン</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4>ブレゲ breguet</h4>
		<p>1775年、パリのシテ島で産声をあげた“ブレゲ”。庇護を受けていた大修道院長「ジョゼフ・フランソワ・マリー」の助力によりフランス王室に紹介され、多くの貴族を虜にしました。文字盤に施したギヨシェ彫りやブレゲ数字から、時計の精度を高めたひげゼンマイまで、ブランドの生み出したデザインや機構は、今なお時計ファンの憧れとなっています。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=5287&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_01_01.jpg" alt="" /><p>＜クラシックオーラ・ムンディ 5717＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8141&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_02_01.jpg" alt="" /><p>＜クラシック クロノメトリー 7727＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8140&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_03_01.jpg" alt="" /><p>＜トラディション インディペンデント クロノグラフ 7077＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8139&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_04_01.jpg" alt="" /><p>＜クラシック 7137＞ メンズウオッチ</p></a></li>
		</ul>
		<ul class="clfx">
       		<li><a href="../detail/?a=Item_detail&id=8138&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_05_01.jpg" alt="" /><p>＜マリーン 5817＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8137&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_06_01.jpg" alt="" /><p>＜マリーン 5817 ステンレスケース＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8136&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_08_01.jpg" alt="" /><p>＜クイーン・オブ・ネイプルズ 8928＞ レディースウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8135&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_09_01.jpg" alt="" /><p>＜マリーン 8818＞ レディースウオッチ</p></a></li>
		</ul>
        <ul class="clfx">
       		<li><a href="../detail/?a=Item_detail&id=5284&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_10_01.jpg" alt="" /><p>＜マリーン 8827＞ レディースウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8134&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_11_01.jpg" alt="" /><p>＜クラシック 8068＞ レディースウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=5286&{%%svid%%}"><img src="../page/autumn2016/images/B_01_breguet_12_01.jpg" alt="" /><p>＜クラシック 9068＞ レディースウオッチ</p></a></li>
		</ul>
	</div>
    <div class="item01">
		<h4 id="anchor01">ロンジン longines</h4>
		<p>1832年の創業以来、「伝統」「エレガンス」「パフォーマンス」をテーマに時計をつくり続けてきた“ロンジン”。時計を通じて、世界のスポーツイベントに積極的に関わってきました。フランスの競馬協会とは長期パートナシップを結び、華やかな舞台を支え続けています。万国博覧会でのグランプリ獲得数が多いことでも知られ、1929年のバルセロナ万博で、その数は10を超えました。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8129&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_01_01.jpg" alt="" /><p>＜ロンジン マスター コレクション＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8128&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_02_01.jpg" alt="" /><p>＜ロンジンレジェンド ダイバー＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8127&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_03_01.jpg" alt="" /><p>＜ロンジン コラムホイール シングルプッシュ クロノグラフ＞ メンズウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8126&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_04_01.jpg" alt="" /><p>＜ロンジン サンフォネット＞ レディースウオッチ</p></a></li>
		</ul>
		<ul class="clfx">
       		<li><a href="../detail/?a=Item_detail&id=8125&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_05_01.jpg" alt="" /><p>＜ロンジン エレガント コレクション＞ レディースウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8124&{%%svid%%}"><img src="../page/autumn2016/images/B_04_longines_06_01.jpg" alt="" /><p>＜ロンジン イクエストリアン コレクション＞ レディースウオッチ</p></a></li>
		</ul>
	</div>
 </div>


</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
