<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フランスの逸品 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">フランスの逸品</li>
</ul>

<!-- main -->
<div id="main" class="main_index">

<!-- header -->
<div id="sec_header">
	<div class="item01" style="width:100% !important;">
		<h2 class="center01"><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p class="center02"><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
	</div>
</div>

<div id="sec_cnts" class="center03" style="padding-top:30px !important;">
	<p style="text-align:center; margin-bottom:50px;"><img src="../page/autumn2016/images/cmn_idx_txt_01.png" alt="" /></p>
    <p style="text-align:center;"><img src="../page/autumn2016/images/cmn_idx_b_ttl_01.png" alt="" /></p>
	<ul class="index02">
    	<li class="li01"><a href="/rps/static/?f=page/autumn2016/index10&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_01.png" alt="" /></a></li>
        <li class="li02"><a href="/rps/static/?f=page/autumn2016/index5&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_02.png" alt="" /></a></li>
        <li class="li03"><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_03.png" alt="" /></a></li>
        <li class="li04"><a href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor01"><img src="../page/autumn2016/images/idx_b_btn01_04.png" alt="" /></a></li>
        <li class="li05"><a href="/rps/static/?f=page/autumn2016/index3&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_05.png" alt="" /></a></li>
        <li class="li06"><a href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor03"><img src="../page/autumn2016/images/idx_b_btn01_06.png" alt="" /></a></li>
        <li class="li07"><a href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor04"><img src="../page/autumn2016/images/idx_b_btn01_07.png" alt="" /></a></li>
         <li class="li08"><a href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor02"><img src="../page/autumn2016/images/idx_b_btn01_08.png" alt="" /></a></li>
         <li class="li09"><a href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor05"><img src="../page/autumn2016/images/idx_b_btn01_09.png" alt="" /></a></li>
         <li class="li10"><a href="/rps/static/?f=page/autumn2016/index1&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_10.png" alt="" /></a></li>
         <li class="li11"><a href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01"><img src="../page/autumn2016/images/idx_b_btn01_11.png" alt="" /></a></li>
         <li class="li12"><a href="/rps/static/?f=page/autumn2016/index4&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_btn01_12.png" alt="" /></a></li>
    </ul> 
    <p style="text-align:center; margin-bottom:50px;"><a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}"><img src="../page/autumn2016/images/idx_b_bnr01.jpg" alt="" /></a></p>
    <p style="text-align:center;"><a href="../?{%%svid%%}"><img src="../page/autumn2016/images/idx_b_bnr02.jpg" alt="" /></a></p>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
