<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>日本画・漆器 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">日本画・漆器</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item03">
		<ul class="ul02 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt08_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt08_02.gif" alt="" /></a></li>
		</ul>
	</div>
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4 id="anchor01">日本画（近代の三巨匠）</h4>
		<p>明治から昭和にかけて活躍した三人。「川合 玉堂（かわい ぎょくどう）」は、伝統的な日本画の本質を守り、四季の自然を慈しむように描き続けました。「川端 龍子（かわばた りゅうし）」は「在野の巨人」といわれた画家。日本画の型にはまらない、迫力ある作品を数多く発表しています。日本の美術界を牽引した「横山 大観（よこやま たいかん）」は、第一回目の文化勲章受章者としても知られています。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8223&{%%svid%%}"><img src="../page/autumn2016/images/E_01_japankaiga_01_01.jpg" alt="" /><p>川合 玉堂　「鮎釣」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8222&{%%svid%%}"><img src="../page/autumn2016/images/E_01_japankaiga_02_01.jpg" alt="" /><p>川端 龍子　「花王図」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8221&{%%svid%%}"><img src="../page/autumn2016/images/E_01_japankaiga_03_01.jpg" alt="" /><p>川端 龍子　「紅富士」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8220&{%%svid%%}"><img src="../page/autumn2016/images/E_01_japankaiga_04_01.jpg" alt="" /><p>横山 大観　「富士山」</p></a></li>
		</ul>
        <div class="item01">
		<h4 id="anchor02">漆器（現代の漆芸作家）</h4>
		<p>海外では「japan」と呼ばれる「漆」。近年では漆器のイメージを変えるような作品が増え、注目が高まっています。中でも輪島や高松では、古くからの技術を継承するための教育機関を設置。多くの作家を輩出しています。今回ご案内するのは、そんな現代漆芸作家たちの作品。伝統的な美しさに、新しい感性や発想を吹き込むことで、平成の暮らしにマッチする漆器を生み出しています。</p>
	</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8219&{%%svid%%}"><img src="../page/autumn2016/images/E_05_shikki_01_01.jpg" alt="" /><p>奥井 美奈　「乾漆六角菓子器」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8218&{%%svid%%}"><img src="../page/autumn2016/images/E_05_shikki_02_01.jpg" alt="" /><p>七代 金城一国斎　卵殻彫漆箱「滝宿り」</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8217&{%%svid%%}"><img src="../page/autumn2016/images/E_05_shikki_03_01.jpg" alt="" /><p>北岡 省三　堆漆 木の葉 香合</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
