<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フランスファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<style>
	@media screen and (min-width:1px) {
		#main a.hover img {
			opacity:.7;
			filter:alpha(opacity=70);
			-ms-filter: "alpha( opacity=70 )";
		}
	}
	</style>
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$(function() {
			$('#sec_cnts .fashion_01 li.li02').hover(function() {
				$('#sec_cnts .fashion_01 li.li02_02').find('a').addClass('hover');
			},function() {
				$('#sec_cnts .fashion_01 li.li02_02').find('a').removeClass('hover');
			});
			$('#sec_cnts .fashion_01 li.li02_02').hover(function() {
				$('#sec_cnts .fashion_01 li.li02').find('a').addClass('hover');
			},function() {
				$('#sec_cnts .fashion_01 li.li02').find('a').removeClass('hover');
			});
		});
	</script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">フランスファッション</li>
</ul>

<!-- main -->
<div id="main" class="main_fashion">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item03">
		<ul class="ul03 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt02_02.gif" alt="" /></a></li>
			<li><a href="#anchor03"><img src="../page/autumn2016/images/cmn_03_txt02_03.gif" alt="" /></a></li>
		</ul>
        <ul class="ul03 clfx">
			<li><a href="#anchor04"><img src="../page/autumn2016/images/cmn_03_txt02_04.gif" alt="" /></a></li>
			<li><a href="#anchor05"><img src="../page/autumn2016/images/cmn_03_txt02_05.gif" alt="" /></a></li>
		</ul>
	</div>
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4 id="anchor01">マリア・ケント ツイード</h4>
		<p>1987年創業のテキスタイルメーカー「マリア・ケント」社が手掛ける、輝く糸やリボンなどをあしらった、色鮮やかなツイード生地。キュートなファブリックを用いたファッションアイテムは、誰もが知るハイブランドが起用して以来、世界的な人気を誇るまでになりました。生地のあまりの美しさから、「マリア・ケント」社は「織物の詩人」と讃えられています。</p>
	</div>
	<ul class="fashion_01">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8207&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_01_yukitorii_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8206&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_02_leilian_01_01_02.png" alt="" /></a></li>
        <li class="li02_02"><a href="../detail/?a=Item_detail&id=8206&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_02_leilian_01_01.png" alt="" /></a></li>
        <li class="li03"><a href="../detail/?a=Item_detail&id=8205&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_03_ginzahanabishi_01_01.png" alt="" /></a></li>
        <li class="li04"><a href="../detail/?a=Item_detail&id=8204&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_04_ginzahanabishi_02_01.png" alt="" /></a></li>
        <li class="li05"><a href="../detail/?a=Item_detail&id=8200&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_06_LE_01_01.png" alt="" /></a></li>
        <li class="li06"><a href="../detail/?a=Item_detail&id=8199&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_07_LE_02_01.png" alt="" /></a></li>
        <li class="li07"><a href="../detail/?a=Item_detail&id=8197&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_09_hat_01_01.png" alt="" /></a></li>
        <li class="li08"><a href="../detail/?a=Item_detail&id=8198&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_08_LE_03_01.png" alt="" /></a></li>
    </ul>

	<div class="item01">
		<h4 id="anchor02">ランバン コレクション／レペット／ボナストレ</h4>
		<p>フランスの華やかなファッションアイテムは、ほかにも満載。本当に良い物を選ぶという、パリジェンヌの考え方に通ずるラインアップです。「自分らしく生きる女性」をテーマに掲げる“ランバン コレクション”からは、シルエットが上品なドレスをご用意。足元には、幅広い世代から支持を集める“レペット”をおすすめ。シンプルなデザインで革の良さを引き立てる“ボナストレ”のバッグなら、男女問わずお使いいただけます。</p>
	</div>
    <ul class="fashion_02">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8203&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_05_lanvin_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8191&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_15_repetto_01_01.png" alt="" /></a></li>
    <li class="li03"><a href="../detail/?a=Item_detail&id=8178&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_01_bonastre_01_01.png" alt="" /></a></li>
    <li class="li04"><a href="../detail/?a=Item_detail&id=8177&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_02_bonastre_02_01.png" alt="" /></a></li>
    </ul>
    
    <div class="item01">
		<h4 id="anchor03">セリーヌ・ロベルト</h4>
		<p>20以上もの工程を、手作業で行う“セリーヌ・ロベルト”。世界各国に店舗を構える帽子ブランドです。パリの美術学校で彫刻を修めた創業者「セリーヌ」は、その後帽子のコレクションを発表。すぐ世界中のバイヤーから注目される存在になります。フランスを代表する帽子デザイナーの一人となった現在、彼女の作品は、パリの老舗デパート・ボンマルシェでも取り扱われています。</p>
	</div>
    <ul class="fashion_03">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8196&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_10_celinerobert_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8195&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_11_celinerobert_02_01.png" alt="" /></a></li>
        <li class="li03"><a href="../detail/?a=Item_detail&id=8194&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_12_celinerobert_03_01.png" alt="" /></a></li>
        <li class="li04"><a href="../detail/?a=Item_detail&id=8193&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_13_celinerobert_04_01.png" alt="" /></a></li>
        <li class="li05"><a href="../detail/?a=Item_detail&id=8192&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_14_celinerobert_05_01.png" alt="" /></a></li>
    </ul>
    
    <div class="item01">
		<h4 id="anchor04">メゾン エフ／エス・テー・デュポン／ドーメル／シモノゴダール（紳士小物）</h4>
		<p>男性には、カラフルでありながら、品格を与えてくれるファッションアイテムを集めました。“メゾン エフ”の蝶ネクタイや、“ドーメル”のネクタイ、“エス・テー・デュポン”の彫金グッズ、“シモノゴダール”のハンカチと、いずれも品質に定評のある逸品ばかり。フランス人らしいこだわりを感じます。</p>
	</div>
    <ul class="fashion_04">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8176&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_03_dormeuil_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8175&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_04_maisonf_01_01.png" alt="" /></a></li>
        <li class="li03"><a href="../detail/?a=Item_detail&id=8174&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_05_simonnotgodard_01_01.png" alt="" /></a></li>
        <li class="li04"><a href="../detail/?a=Item_detail&id=8173&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_06_stdupont_01_01.png" alt="" /></a></li>
    </ul>
    
    <div class="item01">
		<h4 id="anchor05">スノーウエア</h4>
		<p>ウインタースポーツが盛んなフランスだからこそ、デザイン・機能ともに優れたスノーウエアが誕生しました。“エーグル”の基本理念は、「自然との調和」。機能面だけでなく、美しさも追求したウエアを展開しています。一方“フザルプ”は、「フレンチエレガンスとパフォーマンスの融合」をテーマに、テクノロジーとデザインのコラボレートを目指しているブランドです。</p>
	</div>
    <ul class="fashion_05">
    	<li class="li01"><a href="../detail/?a=Item_detail&id=8201&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_06_aigle_01_01.png" alt="" /></a></li>
        <li class="li02"><a href="../detail/?a=Item_detail&id=8179&{%%svid%%}"><img src="../page/autumn2016/images/D_mens_00_fusalp_01_01.png" alt="" /></a></li>
        <li class="li03"><a href="../detail/?a=Item_detail&id=8202&{%%svid%%}"><img src="../page/autumn2016/images/D_ladies_06_fusalp_02_01.png" alt="" /></a></li>
    </ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
