<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ダミーのタイトル | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ダミーのタイトル</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<h2><img src="../page/autumn2016/images/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../page/autumn2016/images/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="index&{%%svid%%}"><img src="../page/autumn2016/images/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item02">
		<h3><img src="../page/autumn2016/images/cmn_02_ttl01.png" alt="" /></h3>
		<p>ここにファッションの説明が入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
	</div>
	<div class="item03">
		<ul class="ul02 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt01_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt01_02.gif" alt="" /></a></li>
		</ul>
		<ul class="ul03 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt02_02.gif" alt="" /></a></li>
			<li><a href="#anchor03"><img src="../page/autumn2016/images/cmn_03_txt02_03.gif" alt="" /></a></li>
		</ul>
		<ul class="ul04 clfx">
			<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_01.gif" alt="" /></a></li>
			<li><a href="#anchor02"><img src="../page/autumn2016/images/cmn_03_txt02_02.gif" alt="" /></a></li>
			<li><a href="#anchor03"><img src="../page/autumn2016/images/cmn_03_txt02_03.gif" alt="" /></a></li>
			<li><a href="#anchor04"><img src="../page/autumn2016/images/cmn_03_txt02_04.gif" alt="" /></a></li>
		</ul>
	</div>
	<div class="item03_02 clfx">
		<div class="block_l">
			<h3><img src="../page/autumn2016/images/cmn_03_ttl01.png" alt="" /></h3>
			<ul class="clfx">
				<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_01.gif" alt="" /></a></li>
			</ul>
		</div>
		<div class="block_r">
			<h3><img src="../page/autumn2016/images/cmn_03_ttl02.png" alt="" /></h3>
			<ul class="clfx">
				<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_01.gif" alt="" /></a></li>
				<li><a href="#anchor01"><img src="../page/autumn2016/images/cmn_03_txt02_02.gif" alt="" /></a></li>
			</ul>
		</div>
	</div>	
</div>

<div id="sec_cnts">
	<div class="item01">
		<h4>ダミーのタイトル</h4>
		<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
	</div>
	<h4 class="item03">ダミーのタイトル</h4>
	<div class="item02">
		<ul class="clfx">
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
		</ul>
        <ul class="ul03 clfx">
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
			<li><a href="#"><img src="../page/autumn2016/images/dummy01.jpg" alt="" /><p>ダミーの商品名</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
