<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>呉服 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring2017/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring2017/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring2017/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring2017/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">呉服</li>
</ul>

<!-- main -->
<div id="main">

<!-- main_header -->
<div id="main_header">
	<div class="in">
		<h2><img src="../page/spring2017/images/cmn_hd_ttl.png" alt="2017 春の逸品会" /></h2>
		<p><img src="../page/spring2017/images/cmn_hd_txt.png" alt="公開期間：3月26日（日）まで" /></p>
		<div class="btn"><a href="../?{%%svid%%}"><img src="../page/spring2017/images/cmn_hd_btn.jpg" alt="逸品会トップへ" /></a></div>
	</div>
</div>

<!-- main_ttl -->
<div id="main_ttl">
	<div class="in">
		<table><tbody><tr>
			<th><h3><img src="../page/spring2017/images/cmn_ttl_gohuku.png" alt="振袖" /></h3></th>
			<td><p>ここに呉服の説明が入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。</p></td>
		</tr></tbody></table>
	</div>
</div>

<!-- cnts -->
<div id="main_cnts">
	<div class="in">
		<ul class="mt60 clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_01_01.jpg" alt /><p>千總　振袖「秀花彩映（しゅうかさいえい）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_02_01.jpg" alt /><p>千總　振袖「花詩（はなのうた）」／川島織物　袋帯「唐草鏡文（からくさかがみもん）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_03_01.jpg" alt /><p>千總　振袖「毬花（まりか）」／川島織物　袋帯「七宝燦華（しっぽうさんか）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_04_01.jpg" alt /><p>千總　振袖「春香（しゅんこう）」／川島織物　袋帯「交竹（こうちく）」</p></a></li>
		</ul>
		<ul class="mt40 clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_05_01.jpg" alt /><p>千總　振袖「爽春（そうしゅん）」／川島織物　袋帯「絢彩七宝文（けいさいしっぽうもん）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_06_01.jpg" alt /><p>千總　振袖「麗姿（れいし）」／川島織物　袋帯「吉兆亀甲（きっちょうきっこう）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_07_01.jpg" alt /><p>千總　振袖「円華（えんか）」／川島織物　袋帯「輝栄七宝華（きえいしっぽうか）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_04_gofuku_08_01.jpg" alt /><p>千總　振袖「繋寿（けいじゅ）」／川島織物　袋帯「慶賀寿宝文（けいがじゅほうもん）」</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
