<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>絵画・工芸 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring2017/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring2017/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring2017/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring2017/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">絵画・工芸</li>
</ul>

<!-- main -->
<div id="main">

<!-- main_header -->
<div id="main_header">
	<div class="in">
		<h2><img src="../page/spring2017/images/cmn_hd_ttl.png" alt="2017 春の逸品会" /></h2>
		<p><img src="../page/spring2017/images/cmn_hd_txt.png" alt="公開期間：3月26日（日）まで" /></p>
		<div class="btn"><a href="../?{%%svid%%}"><img src="../page/spring2017/images/cmn_hd_btn.jpg" alt="逸品会トップへ" /></a></div>
	</div>
</div>

<!-- main_nav -->
<div id="main_nav" class="main_nav_bg">
	<div class="in">
		<ul class="ul03 clfx">
			<li><a href="#anchor01"><img src="../page/spring2017/images/cmn_nav_art01.jpg" alt="絵画" /></a></li>
			<li><a href="#anchor02"><img src="../page/spring2017/images/cmn_nav_art02.jpg" alt="工芸" /></a></li>
			<li><a href="#anchor03"><img src="../page/spring2017/images/cmn_nav_art03.jpg" alt="現代アート" /></a></li>
		</ul>
	</div>
</div>


<!-- cnts -->
<div id="main_cnts">
	<div class="in">
		<div class="main_cnts_ttl mt20" id="anchor01">
			<h4>絵画：川合 玉堂（かわい ぎょくどう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_09_01.jpg" alt /><p>川合 玉堂　「清流水車」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_10_01.jpg" alt /><p>川合 玉堂　「鵜飼」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_11_01.jpg" alt /><p>川合 玉堂　「湖畔残雪」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_12_01.jpg" alt /><p>川合 玉堂　「富岳」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>絵画：棟方 志功（むなかた しこう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_25_01.jpg" alt /><p>棟方 志功　「御躍鯉図」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_26_01.jpg" alt /><p>棟方 志功　「夜訪の柵」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_27_01.jpg" alt /><p>棟方 志功　「薔薇妃の柵」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_28_01.jpg" alt /><p>棟方 志功　「傘さすの柵」</p></a></li>
		</ul>
		<ul class="clfx mt40">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_29_01.jpg" alt /><p>棟方 志功　「デイゴの女の柵」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_30_01.jpg" alt /><p>棟方 志功　「手鏡の柵」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_31_01.jpg" alt /><p>棟方 志功　「韋駄天の柵」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_32_01.jpg" alt /><p>棟方 志功　「胸肩妃神の柵」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>絵画：千住 博（せんじゅ ひろし）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_13_01.jpg" alt /><p>千住 博　「夜の桜」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_14_01.jpg" alt /><p>千住 博　「朝陽図」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_15_01.jpg" alt /><p>千住 博　「青富士」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_16_01.jpg" alt /><p>千住 博　「ウォーターフォール」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>絵画：福井 江太郎（ふくい こうたろう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_17_01.jpg" alt /><p>福井 江太郎　「賢（ケン）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_18_01.jpg" alt /><p>福井 江太郎　「喧（ケン）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_19_01.jpg" alt /><p>福井 江太郎　「錬（レン）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_20_01.jpg" alt /><p>福井 江太郎　「永（エイ）」</p></a></li>
		</ul>
		<ul class="clfx mt40">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_21_01.jpg" alt /><p>福井 江太郎　「誉（ヨ）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_22_01.jpg" alt /><p>福井 江太郎　「遍（ヘン）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_23_01.jpg" alt /><p>福井 江太郎　「玄（ゲン）」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_24_01.jpg" alt /><p>福井 江太郎　「薫（クン）」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>絵画：岡村 智晴（おかむら ともはる）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_01_01.jpg" alt /><p>岡村 智晴　「木漏れ日 ピュア」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_02_01.jpg" alt /><p>岡村 智晴　「流転」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_03_01.jpg" alt /><p>岡村 智晴　「光の生まれる場所」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_04_01.jpg" alt /><p>岡村 智晴　「オービット」</p></a></li>
		</ul>
		<ul class="clfx mt40">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_05_01.jpg" alt /><p>岡村 智晴　「木漏れ日」S10号A</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_06_01.jpg" alt /><p>岡村 智晴　「木漏れ日」S10号B</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_07_01.jpg" alt /><p>岡村 智晴　「木漏れ日」S6号A</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_01_kaiga_08_01.jpg" alt /><p>岡村 智晴　「木漏れ日」S6号B</p></a></li>
		</ul>
		<div class="main_cnts_ttl" id="anchor02">
			<h4>工芸：十三代 酒井田柿右衛門（じゅうさんだい さかいだかきえもん）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_11_01.jpg" alt /><p>十三代 酒井田柿右衛門 濁手菊鶉文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_12_01.jpg" alt /><p>十三代 酒井田柿右衛門 濁手 草花文香炉</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>工芸：十四代 酒井田柿右衛門（じゅうよんだい さかいだかきえもん）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_13_01.jpg" alt /><p>十四代 酒井田柿右衛門 濁手石楠花文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_14_01.jpg" alt /><p>十四代 酒井田柿右衛門濁手 草花地文香炉</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>工芸：岡田 裕（おかだ ゆう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_01_01.jpg" alt /><p>岡田 裕　「黒彩白流灰被花入」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_02_01.jpg" alt /><p>岡田 裕　「灰被手桶花入」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_03_01.jpg" alt /><p>岡田 裕　「白釉窯変壺」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_04_01.jpg" alt /><p>岡田 裕　「萩黒茶盌諭彈</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>工芸：河井 寛次郎（かわい かんじろう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_05_01.jpg" alt /><p>河井寛次郎 「鉄釉辰砂花鉢」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_06_01.jpg" alt /><p>河井寛二郎 「花扁壷」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>工芸：金重 陶陽（かねしげ とうよう）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_07_01.jpg" alt /><p>金重 陶陽 「備前四方角切鉢」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_08_01.jpg" alt /><p>金重 陶陽 「備前獅子」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_09_01.jpg" alt /><p>金重 陶陽 「備前耳付花入」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_03_kougei_10_01.jpg" alt /><p>金重 陶陽 「備前旅枕花入」</p></a></li>
		</ul>
		<div class="main_cnts_ttl" id="anchor03">
			<h4>現代アート：山口 英紀（やまぐち ひでき）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_02_art_01_01.jpg" alt /><p>山口 英紀　「冷たい滑らかな青い石の板」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_02_art_02_01.jpg" alt /><p>山口 英紀　「巳ノ刻ノ季節」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>現代アート：山本 隆博（やまもと たかひろ）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_02_art_03_01.jpg" alt /><p>山本 隆博　「レディストリビューション」</p></a></li>
		</ul>
		<div class="main_cnts_ttl">
			<h4>現代アート：増田 敏也（ますだ としや）</h4>
			<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
		</div>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/spring2017/images/E_02_art_04_01.jpg" alt /><p>増田 敏也　「Low pixel CG Lucky charm 招き猫・黒」</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
