<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ポイントプレゼント | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/point_cp_2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/point_cp_2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/point_cp_2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/point_cp_2016/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/point_cp_2016/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ポイントプレゼント</li>
	</ul>

	<div id="main">
		<div id="main_visual">
			<div><img src="../page/point_cp_2016/images/img01.jpg" width="1200" height="30" alt="ロイヤル・プラチナ セレクション会員さま限定"></div>
			<div><img src="../page/point_cp_2016/images/img02.jpg" width="1200" height="380" alt="特別企画　サイトでラッキーナンバーを見つけた方に1,000ポイントプレゼント！　抽選で各回100名さま、合計200名さまに、クラブ・オン／ミレニアムポイント1,000ポイントをプレゼントいたします。　チャンスは2回　PART 1 2月8日（月）〜2月14日（日）　PART 2 2月15日（月）〜2月21日（日）"></div>
		</div>
		<div id="main_contents">
			<div id="contents01"><img src="../page/point_cp_2016/images/img03.jpg" width="950" height="360" alt="日頃のご愛顧に感謝を込めて、サイトで楽しんでいただく特別企画をご用意いたしました。PART 1は、目前に迫ったバレンタインデーがテーマです。　STEP.1 「バレンタインデーにちなんだメッセージ」に従って、サイトに隠されたラッキーナンバーをお探しください。　STEP.2 ラッキーナンバーを見つけたら応募ページへお進みください。　STEP.3 ラッキーナンバーを入力しご応募いただくだけで、抽選でポイントが当たります。" /></div>
			<div id="contents02">
				<ul>
					<li>※PART 1とPART 2でテーマ・メッセージおよびラッキーナンバーが変わります。</li>
					<li>※ご応募はPART 1・PART 2それぞれお1人さま各1回に限らせていただきます。</li>
					<li>※ポイントはご登録の本会員さまの会員番号にお付けいたします。＜3月中旬予定＞</li>
					<li>※抽選の結果は2月26日（金）に当選者の方へのみメールにてお知らせいたします。</li>
				</ul>
			</div>
			<div id="contents03"><img src="../page/point_cp_2016/images/img04.jpg" width="892" height="288" alt="メッセージ1　まずは「ラグジュアリーページ」へお進みください。CHOCOLATEのCからはじまるブランドの商品のどれかに、Messege2（メッセージ2）が書かれています。" usemap="#map01" />
				<map name="map01"><area shape="rect" coords="276,210,616,252" href="../item/?a=Item_list&amp;category=5&svid=1" alt="ラグジュアリー（Luxury）ページへ"></map>
			</div>
		</div>
		
    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
