@charset "EUC-JP";
@import url("../global-fontsizesmall.css");

#main h2 {
	font-size: 14px;
}
#main li h3, #main li .itemPrice {
	font-size: 10px;
}
#main li .itemMessage, #main li .itemDesc {
	font-size: 10px;
}
