@charset "EUC-JP";

#main {
	width: 950px;
	margin: 0 auto;
	padding-bottom: 14px;
}
h1 {
	/*margin-bottom: 46px;*/
	margin-top:35px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.category01 h1 {
	height: 31px;
	background-image: url("../../images/categoryIndex/01-title.gif");
}
.category02 h1 {
	height: 31px;
	background-image: url("../../images/categoryIndex/02-title.gif");
}
.category03 h1 {
	height: 31px;
	background-image: url("../../images/categoryIndex/03-title.gif");
}
.category04 h1 {
	height: 31px;
	background-image: url("../../images/categoryIndex/04-title.gif");
}
.category05 h1 {
	border: 1px solid #fff;
	text-indent: 0;
	background: transparent;
}
.category06 h1 {
	height: 31px;
	background-image: url("../../images/categoryIndex/06-title.gif");
}
#main h2 {
	margin-top:40px;
	margin-bottom: 14px;
	padding-left: 17px;
	line-height:100%;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	background-image: url("../../images/categoryIndex/category-subCategory-title-icon.gif");
}
/*.category01 #main h2 {
	background-color: #9c0001;
	background-image: url("../../images/categoryIndex/category01-subCategory-title-icon.gif");
}
.category02 #main h2 {
	background-color: #e0681c;
	background-image: url("../../images/categoryIndex/category02-subCategory-title-icon.gif");
}
.category03 #main h2 {
	background-color: #2959ab;
	background-image: url("../../images/categoryIndex/category03-subCategory-title-icon.gif");
}
.category04 #main h2 {
	background-color: #167e7f;
	background-image: url("../../images/categoryIndex/category04-subCategory-title-icon.gif");
}
.category05 #main h2 {
	background-color: #8c2b8c;
	background-image: url("../../images/categoryIndex/category05-subCategory-title-icon.gif");
}
.category06 #main h2 {
	background-color: #dbcc00;
	background-image: url("../../images/categoryIndex/category06-subCategory-title-icon.gif");
}*/


#main ul {
	position: relative;
	width: 960px;
	margin-right: -10px;
	/*margin-bottom: 38px;*/
}
#main li {
	float: left;
	width: 182px;
	padding-right: 10px;
}
#main li div, #main li p {
	margin-bottom: 7px;
}
#main li div {
	border: 1px solid #999;
}
#main li h3 a:link, #main li h3 a:visited {
	color: #000000;
	text-decoration: underline;
}
#main li h3 {
font-weight: bold;
}
#main li h3 a:hover, #main li h3 a:active {
	color: #8f8246;
	text-decoration: underline;
}
#main li .itemMessage {
	color: #9c0001;
	text-align: center;
	background: #ffe8f1;
}
#main li .itemPrice {
	color: #8f8246;
}
#main li .itemDesc {
	color: #666666;
}
#main li .itemPrice {
	font-weight: bold;
}
#brandBannerArea ul {
	width: 963px;
	margin-right: -13px;
	margin-bottom: 18px;
}
#brandBannerArea li {
	width: 308px;
	height: 111px;
	line-height: 0;
	padding-right: 13px;
	padding-bottom: 20px;
	font-size: 0;
}

#main  div.iconBlock {
	width: 180px;
	height: 13px;
	margin-bottom: 10px;
	border: 1px solid #f7f7f7;
}
#main  div.iconBlock span{
	margin-right: 5px;
}

