@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */
#breadcrumbs {
	width: 940px;
	margin: 0 auto;
	padding: 0 5px;
	color: #fff;
	font-weight: bold;
	background:#c2bfb6;
}
#breadcrumbs a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#breadcrumbs a:hover, #breadcrumbs a:active {
	text-decoration: underline;
}
#breadcrumbs span {
	margin: 0 5px;
	color: #000;
	font-weight: normal;
}
#main {
	width: 862px;
	color: #000;
	margin: 0 auto 60px;
	padding: 30px 34px 40px;
	border: 10px solid #ffffff;
	background: #fff;
}
#main h1 {
	width: 164px;
	height: 25px;
	margin: 0 0 20px;
	text-indent: -9999px;
	background: url("../images/sitemaph1.gif") no-repeat;
}
#sitemapwrapper .sitemapleft {
	float:left;
	width:415px;
}
#sitemapwrapper .sitemapright {
	float:right;
	width:415px;
}
#sitemapwrapper .sitemapleft li, #sitemapwrapper .sitemapright li {
	border-bottom:1px solid #ccc;
	padding-left:1.5em;
	margin-bottom:40px;
	background:url("../images/libg01.gif") no-repeat left center;
}
#sitemapwrapper .sitemapleft .item, #sitemapwrapper .sitemapright .item {
	margin-bottom:20px;
}
#sitemapwrapper .sitemapright .guidewrapper {
	background:none;
	border:none;
}
.sitemapright .guidewrapper .guide {
	padding-left:1em;
	background:url("../images/libg02.gif") no-repeat left center;
}
.guidewrapper .guide a {
	font-weight:normal !important;
	text-decoration:underline !important;
	color:#cb0004 !important;
}
.guidewrapper .guide a:hover {
	text-decoration:none !important;
}
#sitemapwrapper .sitemapleft li a, #sitemapwrapper .sitemapright li a {
	font-weight:bold;
	color:#000;
	text-decoration:none;
	line-height:2em;
}
#sitemapwrapper .sitemapleft li a:hover, #sitemapwrapper .sitemapright li a:hover {
	text-decoration:underline;
}
.gotoPagetop a {
	display:block;
	padding-left:11px;
	background:url("../../guide/images/gotopbg.gif") no-repeat left center;
	float:right;
	color:#cb0004 !important;
}
.gotoPagetop a:hover {
	text-decoration:none !important;
}