<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>工芸・絵画 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/winter2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/winter2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/winter2016/js/index.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">工芸・絵画</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<div class="in">
			<div class="cnts">
				<h2><img src="../page/winter2016/images/cmn_01_ttl.png" alt="2016 冬の逸品会 CHRISTMAS COLLECTION 公開期間：11月18日（金）〜12月20日（火）" /></h2>
				<a class="btn" href="../?{%%svid%%}"><img src="../page/winter2016/images/cmn_01_btn.jpg" alt="逸品会トップへ" /></a>
			</div>
		</div>
	</div>
</div>

<!-- cnts -->
<div id="sec_cnts">
	<div class="item01_02">
		<h3>迎春 〜寿ぎの器と絵画〜</h3>
		<p>新しい年の幕開けは、日本人としての誇りとともに。琴線に触れる、美しい器と絵画を取りそろえました。工芸品はすべて、国内を代表する作家がしつらえたもの。徳利や椀、重箱と、新年の席でご活用いただけるものばかりです。絵画は、福を呼び込む富士山や鶴など、迎春に相応しいラインアップ。日本人であることの喜びを感じさせてくれます。</p>
	</div>
	<div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8675&{%%svid%%}"><img src="../page/winter2016/images/E_01_shokki_01_01.jpg" alt="" /><p>伊勢崎 淳　備前酒杯／備前徳利</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8674&{%%svid%%}"><img src="../page/winter2016/images/E_01_shokki_02_01.jpg" alt="" /><p>井上 萬二　白磁黄釉梅彫文皿 5枚組／白磁青海波文蓋付汲出碗 5客組</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8673&{%%svid%%}"><img src="../page/winter2016/images/E_01_shokki_03_01.jpg" alt="" /><p>今泉今右衛門　色絵吹墨墨はじき草花文ぐい呑／色絵藍色墨はじき草花文盃／色絵薄墨墨はじき草花文徳利</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8672&{%%svid%%}"><img src="../page/winter2016/images/E_01_shokki_04_01.jpg" alt="" /><p>小森 邦衞　糸目猪口／沈金猪口／長手朱二段重箱</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8671&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_01_01.jpg" alt="" /><p>川合 玉堂　双鶴</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8670&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_02_01.jpg" alt="" /><p>川合 玉堂　画眉鳥</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8669&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_03_01.jpg" alt="" /><p>川合 玉堂　富岳</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8668&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_04_01.jpg" alt="" /><p>前田 青邨　山雀</p></a></li>
		</ul>
        	<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8667&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_05_01.jpg" alt="" /><p>小茂田 青樹　春雪</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8666&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_06_01.jpg" alt="" /><p>堅山 南風　春富士</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8665&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_07_01.jpg" alt="" /><p>石踊 達哉　千羽鶴</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8664&{%%svid%%}"><img src="../page/winter2016/images/E_03_kaiga_08_01.jpg" alt="" /><p>上村 淳之　雪の音</p></a></li>
		</ul>
	</div>
    <div class="item01_02">
		<h3>十五代 酒井田柿右衛門</h3>
		<p>十七世紀から受け継がれる、有田焼の名門“酒井田柿右衛門”。柔らかく温かみのある乳白色の「濁手素地」と、「柿右衛門様式」と呼ばれる鮮やかな絵付けは、ドイツのマイセン窯を始め、世界に多大なる影響を与えました。2014年に襲名した十五代目は、今まさに成熟期。現代に即した新しい魅力を表現し、注目が高まり続けています。</p>
	</div>
    <div class="item02">
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8663&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_01_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手野罌粟文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8662&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_02_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手椿文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8661&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_03_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手団栗文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8660&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_04_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手苺文花瓶</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8659&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_05_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手菊文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8658&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_06_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手竹文香炉</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8657&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_07_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手唐梅文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8656&{%%svid%%}"><img src="../page/winter2016/images/E_02_kakiemon_08_01.jpg" alt="" /><p>十五代 酒井田柿右衛門　濁手唐梅文十角皿</p></a></li>
		</ul>
    </div>
    <div class="item01_02" id="anchor01">
		<h3>オールド バカラ</h3>
		<p>1764年、フランス北東部のある村で誕生した“バカラ”。大自然に恵まれた地で、豊かな森林や透き通った水などが、デザインに息づいています。そこでは多くの名品が生まれ、後に王侯貴族たちも虜にしたといいます。中でも注目すべきは、1880年から1910年ごろ。工芸品の黄金期と呼ばれた「ベル・エポック時代」の作品を中心にご紹介いたします。</p>
	</div>
    <div class="item02">
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8655&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_01_01.jpg" alt="" /><p>花文蓋物</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8654&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_02_01.jpg" alt="" /><p>草花文カラフ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8653&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_03_01.jpg" alt="" /><p>薊文花瓶</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8652&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_04_01.jpg" alt="" /><p>花文花瓶（s.926）</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8651&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_05_01.jpg" alt="" /><p>ラインワイングラス（F8738/T9254 赤/緑ペア）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8650&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_06_01.jpg" alt="" /><p>グラス（SS JUIGNE ペア）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8649&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_07_01.jpg" alt="" /><p>シャンパンクープ（FORME 11140 DECORS OR ペア）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8648&{%%svid%%}"><img src="../page/winter2016/images/E_04_oldbaccarat_08_01.jpg" alt="" /><p>金彩グラスL（ペア）</p></a></li>
		</ul>
	</div>
    
    
    
</div>
</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
