<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ジュエリー・メガネ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/winter2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/winter2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/winter2016/js/index.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">ジュエリー・メガネ</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<div class="in">
			<div class="cnts">
				<h2><img src="../page/winter2016/images/cmn_01_ttl.png" alt="2016 冬の逸品会 CHRISTMAS COLLECTION 公開期間：11月18日（金）〜12月20日（火）" /></h2>
				<a class="btn" href="../?{%%svid%%}"><img src="../page/winter2016/images/cmn_01_btn.jpg" alt="逸品会トップへ" /></a>
			</div>
		</div>
	</div>
</div>

<!-- cnts -->
<div id="sec_cnts">
	<div class="item01_01 clfx">
		<h3><img src="../page/winter2016/images/ttl_jewelry.jpg" alt="ジュエリー・メガネ" /></h3>
		<p>胸を高鳴らせる、憧れのジュエリー。パールやリボン、花といった、可憐なモチーフジュエリーは、さらなる高揚を誘います。指先に、胸元に、お顔まわりに添う眩い煌めきは、大切な瞬間を永遠に輝かせるはずです。ハイブランドが展開するスマートなアイウエアもご用意。繊細なデザイン、美しいフォルムは都会的で、掛ける人に気品をもたらします。</p>
	</div>
	<div class="item02">
    
    
    <h4 class="item03">ビービージー</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8468&{%%svid%%}"><img src="../page/winter2016/images/Fashion21_bibigi_1611_01.jpg" alt="" /><p>＜スカーレット＞ ペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8467&{%%svid%%}"><img src="../page/winter2016/images/Fashion22_bibigi_1611_02.jpg" alt="" /><p>＜スカーレット＞ リング</p></a></li>
		</ul>
 
    <h4 class="item03" id="anchor02">ブシュロン</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8561&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_01_01.jpg" alt="" /><p>＜キャトル クル ド パリ＞ K18YGブレスレット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8560&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_02_01.jpg" alt="" /><p>＜キャトル クル ド パリ＞ K18WGブレスレット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8559&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_03_01.jpg" alt="" /><p>＜キャトル グログラン＞ K18YGブレスレット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8558&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_04_01.jpg" alt="" /><p>＜キャトル クラシック＞ K18YGリング</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8557&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_05_01.jpg" alt="" /><p>＜キャトル ラディアント＞ K18WGリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8556&{%%svid%%}"><img src="../page/winter2016/images/C_boucheron_06_01.jpg" alt="" /><p>＜キャトル ラディアント＞ K18PGペンダント</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8466&{%%svid%%}"><img src="../page/winter2016/images/Fashion23_boucheron_1611_01_02.jpg" alt="" /><p>＜エリソン＞ WGペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8465&{%%svid%%}"><img src="../page/winter2016/images/Fashion24_boucheron_1611_02_01.jpg" alt="" /><p>＜エリソン＞ WGリング</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8464&{%%svid%%}"><img src="../page/winter2016/images/Fashion25_boucheron_1611_03_01.jpg" alt="" /><p>＜エリソン＞ PGリング</p></a></li>
		</ul>
		<h4 class="item03">ショーメ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8555&{%%svid%%}"><img src="../page/winter2016/images/C_chaumet_01_01.jpg" alt="" /><p>＜オルタンシア＞ ヴォア・ラクテ ブローチ・ペンダント・ヘッドジュエリー</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8554&{%%svid%%}"><img src="../page/winter2016/images/C_chaumet_02_01.jpg" alt="" /><p>＜オルタンシア＞ ヴォア・ラクテ リング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8553&{%%svid%%}"><img src="../page/winter2016/images/C_chaumet_03_01.jpg" alt="" /><p>＜オルタンシア＞ ヴォア・ラクテ ペンダント（ダイヤモンド）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8552&{%%svid%%}"><img src="../page/winter2016/images/C_chaumet_04_01.jpg" alt="" /><p>＜オルタンシア＞ ヴォア・ラクテ ペンダント（カルセドニー）</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8758&{%%svid%%}"><img src="../page/winter2016/images/Fashion17_chaumet_1611_01.jpg" alt="" /><p>＜リアン・ドゥ・ショーメ＞ リアン ルミエール ウオッチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8757&{%%svid%%}"><img src="../page/winter2016/images/Fashion18_chaumet_1611_01.jpg" alt="" /><p>＜リアン・ドゥ・ショーメ＞ ジュ・ドゥ・リアン ペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8756&{%%svid%%}"><img src="../page/winter2016/images/Fashion19_chaumet_1611_01.jpg" alt="" /><p>＜リアン・ドゥ・ショーメ＞ ジュ・ドゥ・リアン ブレスレット</p></a></li>
		</ul>

        <h4 class="item03">ダミアーニ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8551&{%%svid%%}"><img src="../page/winter2016/images/C_damiani_01_01.jpg" alt="" /><p>＜ゴミトロ＞ ダイヤモンドネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8550&{%%svid%%}"><img src="../page/winter2016/images/C_damiani_02_01.jpg" alt="" /><p>＜ゴミトロ＞ K18PGネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8549&{%%svid%%}"><img src="../page/winter2016/images/C_damiani_03_01.jpg" alt="" /><p>＜ゴミトロ＞ K18YGネックレス</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8463&{%%svid%%}"><img src="../page/winter2016/images/Fashion26_damiani_1611_01.jpg" alt="" /><p>＜フィオッコ＞ ネックレス</p></a></li>
		</ul>
        <ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8462&{%%svid%%}"><img src="../page/winter2016/images/Fashion27_damiani_1611_02_01.jpg" alt="" /><p>＜フィオッコ＞ リング</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8461&{%%svid%%}"><img src="../page/winter2016/images/Fashion28_damiani_1611_03_01.jpg" alt="" /><p>＜フィオッコ＞ ピアス</p></a></li>
        </ul>
        
        <h4 class="item03">ディアヴァンテ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8548&{%%svid%%}"><img src="../page/winter2016/images/C_diavante_01_01.jpg" alt="" /><p>＜ブリリアンテ＞ Ptダイヤモンドピアス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8547&{%%svid%%}"><img src="../page/winter2016/images/C_diavante_02_01.jpg" alt="" /><p>＜ブリリアンテ＞ K18YGダイヤモンドホースシューネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8546&{%%svid%%}"><img src="../page/winter2016/images/C_diavante_03_01.jpg" alt="" /><p>＜ブリリアンテ＞ Ptダイヤモンドスパイラルネックレス</p></a></li>
		</ul>
        <h4 class="item03">フォーエバーマーク</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8545&{%%svid%%}"><img src="../page/winter2016/images/C_forevermark_01_01.jpg" alt="" /><p>＜ティアドロップ＞ Pｔダイヤモンド ペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8544&{%%svid%%}"><img src="../page/winter2016/images/C_forevermark_02_01.jpg" alt="" /><p>＜フォーエバーマーク エターナル コレクション＞ ドロップピアス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8543&{%%svid%%}"><img src="../page/winter2016/images/C_forevermark_03_01.jpg" alt="" /><p>＜フォーエバーマーク エターナル コレクション＞ ステーションネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8542&{%%svid%%}"><img src="../page/winter2016/images/C_forevermark_04_01.jpg" alt="" /><p>＜フォーエバーマーク エターナル コレクション＞ ロングネックレス</p></a></li>
		</ul>
        <ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8460&{%%svid%%}"><img src="../page/winter2016/images/Fashion29_forevermarki_1611_01.jpg" alt="" /><p>＜ラインワーク＞ ペンダント ＊ブラックレーベル ダイヤモンド使用</p></a></li>
            <li><a href="../detail/?a=Item_detail&id=8459&{%%svid%%}"><img src="../page/winter2016/images/Fashion30_forevermarki_1611_02.jpg" alt="" /><p>＜ラインワーク＞ リング ＊ブラックレーベル ダイヤモンド使用</p></a></li>
        </ul>
        <h4 class="item03">キヨラ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8541&{%%svid%%}"><img src="../page/winter2016/images/C_kiyora_01_01.jpg" alt="" /><p>マザーオブパール ジュエリーセット</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8540&{%%svid%%}"><img src="../page/winter2016/images/C_kiyora_02_01.jpg" alt="" /><p>南洋マルチカラーネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8539&{%%svid%%}"><img src="../page/winter2016/images/C_kiyora_03_01.jpg" alt="" /><p>南洋マルチカラーブローチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8538&{%%svid%%}"><img src="../page/winter2016/images/C_kiyora_04_01.jpg" alt="" /><p>バロックパールリング</p></a></li>
		</ul>
        <h4 class="item03">ノブコイシカワ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8537&{%%svid%%}"><img src="../page/winter2016/images/C_nobukoishikawa_01_01.jpg" alt="" /><p>＜アズタイム＞ ペンダントヘッド</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8536&{%%svid%%}"><img src="../page/winter2016/images/C_nobukoishikawa_02_01.jpg" alt="" /><p>＜アズタイム＞ ネックレス／イヤリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8535&{%%svid%%}"><img src="../page/winter2016/images/C_nobukoishikawa_03_01.jpg" alt="" /><p>＜アズタイム：ニュームーン＞ ラペルピンブローチ</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8534&{%%svid%%}"><img src="../page/winter2016/images/C_nobukoishikawa_04_01.jpg" alt="" /><p>＜アズタイム：ニュームーン＞ ペンダントヘッド</p></a></li>
		</ul>
        
        <h4 class="item03">ピアジェ</h4>   
		<ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8448&{%%svid%%}"><img src="../page/winter2016/images/Fashion16_piaget_1611_01_1.jpg" alt="" /><p>＜ピアジェ ローズ＞ リング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8447&{%%svid%%}"><img src="../page/winter2016/images/Fashion17_piaget_1611_02_2.jpg" alt="" /><p>＜ピアジェ ローズ＞ ペンダント</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8449&{%%svid%%}"><img src="../page/winter2016/images/Fashion18_piaget_1611_05_1.jpg" alt="" /><p>＜シークレッツ＆ライツ＞ ネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8450&{%%svid%%}"><img src="../page/winter2016/images/Fashion18_piaget_1611_04_1.jpg" alt="" /><p>＜ライムライト＞ ウオッチ（レディース）</p></a></li>
		</ul>
        <ul class="clfx">
        	<li><a href="../detail/?a=Item_detail&id=8446&{%%svid%%}"><img src="../page/winter2016/images/Fashion18_piaget_1611_03_1.jpg" alt="" /><p>＜ピアジェ ポロ S＞ ウオッチ（メンズ）</p></a></li>
		</ul>
        
        
        <h4 class="item03">ローズヴィフ</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8533&{%%svid%%}"><img src="../page/winter2016/images/C_rosevif_01_01.jpg" alt="" /><p>K18PGダイヤモンドネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8532&{%%svid%%}"><img src="../page/winter2016/images/C_rosevif_02_01.jpg" alt="" /><p>K18WGダイヤモンドネックレス</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8531&{%%svid%%}"><img src="../page/winter2016/images/C_rosevif_03_01.jpg" alt="" /><p>K18PGダイヤモンドリング</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8530&{%%svid%%}"><img src="../page/winter2016/images/C_rosevif_04_01.jpg" alt="" /><p>K18WGダイヤモンドリング</p></a></li>
		</ul>
        <h4 class="item03">ウィンターアイウエア</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8529&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_01_01.jpg" alt="" /><p>ブルガリ　メガネフレーム（BV2183BD）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8528&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_02_01.jpg" alt="" /><p>ブルガリ　メガネフレーム（BV4125BF）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8527&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_03_01.jpg" alt="" /><p>プラダ　メガネフレーム（PR03SV）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8526&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_04_01.jpg" alt="" /><p>プラダ　メンズ メガネフレーム（PR26RV）</p></a></li>
		</ul>
        <ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8525&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_05_01.jpg" alt="" /><p>ティファニー　メガネフレーム（TF1118TD）</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8524&{%%svid%%}"><img src="../page/winter2016/images/C_wintereyewear_06_01.jpg" alt="" /><p>ティファニー　メガネフレーム（TF2133BF）</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
