<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>呉服| ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/winter2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/winter2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/winter2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/winter2016/js/index.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">呉服</li>
</ul>

<!-- main -->
<div id="main">

<!-- header -->
<div id="sec_header">
	<div class="item01">
		<div class="in">
			<div class="cnts">
				<h2><img src="../page/winter2016/images/cmn_01_ttl.png" alt="2016 冬の逸品会 CHRISTMAS COLLECTION 公開期間：11月18日（金）〜12月20日（火）" /></h2>
				<a class="btn" href="../?{%%svid%%}"><img src="../page/winter2016/images/cmn_01_btn.jpg" alt="逸品会トップへ" /></a>
			</div>
		</div>
	</div>
</div>

<!-- cnts -->
<div id="sec_cnts">
	<div class="item01_01 clfx">
		<h3><img src="../page/winter2016/images/ttl_gohuku.jpg" alt="呉服" /></h3>
		<p>茶道における新年会「初釜」をコンセプトに、品良く着こなしていただけるお着物や帯をご用意いたしました。訪問着はどちらも、爽やかな色味が魅力。伝統文様をモダンに表現しています。「龍村美術織物」の帯は、美しさと締めやすさを兼ね備えています。<br />また、来春の成人式向けに、履物の匠「神田胡蝶」の振袖用草履バッグセットをご紹介いたします。</p>
	</div>
  
	<div class="item02">
    <h4 class="item03">呉服</h4>   
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8647&{%%svid%%}"><img src="../page/winter2016/images/E_05_gofuku_01_01.jpg" alt="" /><p>訪問着「露芝」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8646&{%%svid%%}"><img src="../page/winter2016/images/E_05_gofuku_02_01.jpg" alt="" /><p>訪問着「飛雲」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8645&{%%svid%%}"><img src="../page/winter2016/images/E_05_gofuku_03_01.jpg" alt="" /><p>龍村美術織物　袋帯「源氏薫香文」／「花兎鶏頭文」</p></a></li>
			<li><a href="../detail/?a=Item_detail&id=8644&{%%svid%%}"><img src="../page/winter2016/images/E_05_gofuku_04_01.jpg" alt="" /><p>神田胡蝶　振袖用草履バッグセット（淡色）</p></a></li>
		</ul>
		<ul class="clfx">
			<li><a href="../detail/?a=Item_detail&id=8643&{%%svid%%}"><img src="../page/winter2016/images/E_05_gofuku_05_01.jpg" alt="" /><p>神田胡蝶　振袖用草履バッグセット（鮮色）</p></a></li>
		</ul>
	</div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
