<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ハンティング・ワールド | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/huntingworld/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ハンティング・ワールド</li>
	</ul>
	<div id="brand"><img src="../page/luxury/huntingworld/images/huntingworld.jpg" alt="huntingworld" /></div>
	<div id="main">
		<div id="itemCatalog">
			<div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2225&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2225&{%%svid%%}">
					<h1>＜アルディ＞ショルダーバッグ</h1>
					</a>
					<p id="price">55,650円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2226&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2226&{%%svid%%}">
					<h1>＜アルディ＞ミニボストンバッグ</h1>
					</a>
					<p id="price">55,650円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2227&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2227&{%%svid%%}">
					<h1>＜バチューサーパス キルティング＞ショルダーバッグ</h1></a>
					<p id="price">120,750円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2228&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2228&{%%svid%%}">
					<h1>＜バチューサーパス キルティング＞トートバッグ</h1></a>
					<p id="price">120,750円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2229&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item05.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2229&{%%svid%%}">
					<h1>＜バチューサーパス キルティング＞2つ折り財布</h1></a>
					<p id="price">37,800円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2230&{%%svid%%}"><img src="../page/luxury/huntingworld/images/item06.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2230&{%%svid%%}">
					<h1>＜バチューサーパス キルティング＞長財布</h1></a>
					<p id="price">49,350円</p>
			</div>
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
