@charset "EUC-JP";
@import url("../global-fontsizesmall.css");

#attention, #platinumSalonNews li, #luxuryNews li, #pickUp h3, #category li li {
	font-size: 10px;
}
#pickUp .desc {
	font-size: 10px;
}
#publication #aboutSeibuShibuya p, #publication #aboutPlatinumSalon .infotex .ttl {
	font-size: 12px;
}
#aboutPlatinumSalon #info p.infotex{
	font-size:10px;
}
#welcomeMessage {
	padding-top: 2px;
	font-size: 10px;
}
