@charset "utf-8";

/* CSS Document */


/*	.lof-main-wapper
******************************************************/
ul.lof-main-wapper{
	background:transparent url(../common/images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	position:relative;
}
ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	position:absolute;
}
ul.lof-main-wapper li img{ padding:0px;	}


/*	.lof-navigator-wapper
******************************************************/
.lof-navigator-wapper {
	width:710px;
	height:64px;
	background:#000000;
	padding:8px 0;
}
.lof-navigator-outer {
	position:relative;
	z-index:100;
	height: 64px !important;
	width: 616px !important;
	overflow:hidden;
	color:#000000;
	float: left;
}
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:780px !important;
	background:#000000;
	left: 237px;
}
ul.lof-navigator li{
	margin:0 !important;
	padding:0 8px 0 0 !important;
	display:block;
	float:left;
	width:146px !important;
	height:64px !important;
	cursor:hand; 
	overflow:hidden;
}
ul.lof-navigator li img {
	border:2px solid #949494;
	display:block;
	width:142px;
	height:60px;
}
ul.lof-navigator li.active img,
ul.lof-navigator li:hover img {
	border:2px solid #c8bd93;
	display:block;
	width:142px;
	height:60px;
	cursor:pointer;
}
.lof-navigator-wapper .lof-next {
	margin-right:11px;
	display:block;
	float:right;
	width:28px;
	height:63px;
	text-indent:-999px;
	background:url(../../images/Top/view_lb_next.gif) left top no-repeat;
	cursor:pointer;
}
* html body .lof-navigator-wapper .lof-next { display:inline; }
.lof-navigator-wapper .lof-previous {
	margin-right:12px;
	margin-left:11px;
	display:block;
	float:left;
	width:28px;
	height:63px;
	text-indent:-999px;
	background:url(../../images/Top/view_lb_prev.gif) left top no-repeat;
	cursor:pointer;
}
* html body .lof-navigator-wapper .lof-previous { display:inline; }
