<div id="mainBnrArea">
<ul>

<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/bs_specialselect/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_ss_4b.jpg" alt="スペシャルセレクト" width="220" height="68" /></a></li>
<!--li style="margin-bottom:8px;"><a href="/rps/static/?f=page/tokinoaji_1609/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_160912_tokinoaji_4b.jpg" alt="季の味倶楽部" width="220" height="68" /></a></li-->
<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/felisi/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_151204_feriji_4b.jpg" alt="フェリージ" width="220" height="68" /></a></li>
<li style="margin-bottom:8px;"><a href="/rps/static/?f=page/rps_shibuya/index&{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_seibushibuya_4b.jpg" alt="西武渋谷店から選りすぐりの逸品をご紹介" width="220" height="68" /></a></li>
<li"><a href="{tpl_var name=banner_link}{%%svid%%}" class="alpha"><img src="_common/images/Top/sab_bnr_151204_ecastel_4b.jpg" alt="e.CASTEL" width="220" height="68" /></a></li>
</ul>
</div><!-- /mainBnrArea -->


</div><!--/view-->
<!-- Flash_area　ここまで -->


</div><!-- /catchFlash -->
