@charset "EUC-JP";

/**
 * ブラウザスタイルのリセットと初期設定
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	color: #000000;
	font-size: 12px;
	/*background: #000;*/
	background: #fff;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
	margin-right:5px;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before, q:after {
	content: "";
}
abbr, acronym {
	border: 0;
}
a:link, a:visited {
	color: #fff;
}
a:hover, a:active {
	color: #ccc881;
}

/**
 * サイト内共通のレイアウトスタイル
 */
#header, #headerExtended {
	margin-bottom:0;
	border-bottom: 1px solid #000;
	background: #fff;
}
.bdrNon { border: none !important;}
#header {
	margin-bottom: 0 !important;
}
#header .inner, #headerExtended .inner {
	width: 950px;
	height: 62px;
	margin: 0 auto;
}

#siteLogo {
	float: left;
	width: 469px;
	height: 41px;
	margin: 9px 0 0;
}
#siteLogo a {
	display: block;
	width: 469px;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	background: transparent url("../images/sitelogo.gif") no-repeat 0 0;
}
#siteLogo a:hover {
	display: block;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/sitelogo.gif");
	background-repeat: no-repeat;
	background-position: 0 -41px;
}
#headerNav {
	float: right;
	padding-top: 10px;
	/*width:145px;*/
	/*border:solid 1px #CC0033;*/
}
#headerNav li {
	float: left;
	padding-top: 3px;
	color: #000;
	font-size: 10px;
}

#headerRnav{
	width:460px;
	float:right;
}

#sitemapLink {
	padding-left: 16px;
	background: transparent url("../images/sitemapLink-icon.gif") no-repeat 0 4px;
}
.sitemapLinkHover {
	background-image: url("../images/sitemapLink-icon-hover.gif") !important;
}
.sitemapLinkHover a {
	color: #ccc881 !important;
}
#headerNav a:link, #headerNav a:visited, #headerNav a:hover, #headerNav a:active {
	color: #cdcdcd;
	text-decoration: none;
}
#textsizecontroller dl {
	padding-left: 0px;
}
#textsizecontroller dt {
	float: left;
	padding: 1px 5px 0 10px;
}
#textsizecontroller dd {
	float: left;
	margin-top: -6px;
}
#textsizecontroller a {
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/tsbg_new.gif");
	background-repeat: no-repeat;
	margin-right:3px;
}

#textsizecontroller li.ts_large a {
	margin-right:0;
}

#siteSearch {
	float: left;
	position: relative;
	width: 313px;
	height: 20px;
	margin-top: 10px;
}
#siteSearch dt {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1px 8px 0 10px;
	color: #000000;
	font-size: 12px;
}
#siteSearch dd {
	position: absolute;
	top: 0;
	right: 0;
	width: 214px;
	height: 20px;
}
#siteSearch .textBox {
	border: 1px solid #000000;
	position: absolute;
	top: 0;
	right:51px;
	width: 132px;
	height: 18px;
	border: 1px solid #4f4f4f;
	color: #000;
	background: #fff;
}
#siteSearch .button {
	position: absolute;
	top: 0;
	right: 5px;
	border: 0;
	width: 46px;
	height: 20px;
	cursor: pointer;
	text-indent: -9999px;
	background: transparent url("../images/siteSearch-button_new.gif") no-repeat 0 0;
}
#siteSearch .buttonHover {
	background-position: 0px -20px;
}
#header2 {
	width:212px;
	height:22px;
	float:right;
}
#appendixNav {
	height: 21px;
}
#appendixNav .inner {
	width: 212px;
}
#appendixNav li {
	float: left;
	height: 21px;
	line-height: 0;
	font-size: 0;
}
#appendixNav a {
	display: block;
	height: 21px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/appendixNav-item_new.gif");
	background-repeat: no-repeat;
}
#appendixNavGuide, #appendixNavGuide a { width: 80px;}
#appendixNavLogout, #appendixNavSitemap a { width: 76px;}
#appendixNavLogout, #appendixNavLogout a { width: 56px;}

#appendixNavGuide a:link, #appendixNavGuide a:visited {
	background-position: 0 0;
}
#appendixNavGuide a:hover, #appendixNavGuide a:active {
	background-position: 0 -21px;
}
#appendixNavSitemap a:link, #appendixNavSitemap a:visited {
	background-position: -80px 0;
}
#appendixNavSitemap a:hover, #ppendixNavSitemap a:active {
	background-position: -80px -21px;
}
#appendixNavLogout a:link, #appendixNavLogout a:visited {
	background-position: -156px 0;
}
#appendixNavLogout a:hover, #ppendixNavLogout a:active {
	background-position: -156px -21px;
}

#personalInfo {
	margin-top: 7px;
	margin-bottom: 0 !important;
	padding: 0;
	background-color:#fff;
}
#personalInfo .inner {
	margin: 0 auto;
	margin-bottom: 0 !important;
	width: 950px;
	height: 23px;
}
#welcomeMessage {
	float: left;
	font-size: 12px !important;
	font-weight: bold;
}
#historyLink, #contactMailLink, #inCharge { float: right;}
#historyLink a, #contactMailLink a, #inCharge a { color: #000;}
#historyLink { margin-left: 15px;}
#historyLink a {
	padding-left: 8px;
	display: block;
	background: url("../images/icon_history.gif") left center no-repeat;
}
#historyLink a:hover,#contactMailLink a:hover {
	text-decoration: none;
}

#contactMailLink { margin-left: 15px;}
#contactMailLink a {
	padding-left: 15px;
	display: block;
	color: #000;
	background: url("../images/icon_mail.gif") left center no-repeat;
}

#inCharge {
	margin-top: 0 !important;
	padding-top: 0 !important;
	float: right;
	font-size: 12px !important;
}


#globalNav {
	margin:0px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	width: 100%;
	height:58px;
	background: #f4f4f4;
}
#globalNav .globalNavinner {
	width: 950px;
	height:58px;
	margin:0px auto;
	background:url("../images/globalNav-item_new.gif") repeat-x 0px 0px;
}

#globalNav li {
	float: left;
	height: 58px;
}
#globalNav01 {
	width: 101px;
	background-position: 0 0;
}
#globalNav02 {
	width: 112px;
	background-position: 101px 0px;
}
#globalNav03 {
	width: 181px;
	background-position: 213px 0px;
}
#globalNav04 {
	width: 120px;
	background-position: 394px 0px;
}
#globalNav05 {
	width: 105px;
	background-position: 514px 0px;
}
#globalNav06 {
	width: 83px;
	background-position: 619px 0px;
}
#globalNav .globalNavinner a {
	display: block;
	height: 58px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/globalNav-item_new.gif");
	background-repeat: no-repeat;
}
#globalNav01 a {
	width: 101px;
    overflow:hidden;
}
#globalNav01 a:link, #globalNav01 a:visited {
	background-position: 0 0;
}
#globalNav01 a:hover, #globalNav01 a:active {
	background-position: 0 -58px;
}
#globalNav02 a {
	width: 112px;
    overflow:hidden;
}
#globalNav02 a:link, #globalNav02 a:visited {
	background-position: -101px 0;
}
#globalNav02 a:hover, #globalNav02 a:active {
	background-position: -101px -58px;
}
#globalNav03 a {
	width: 181px;
    overflow:hidden;
}
#globalNav03 a:link, #globalNav03 a:visited {
	background-position: -213px 0;
}
#globalNav03 a:hover, #globalNav03 a:active {
	background-position: -213px -58px;
}
#globalNav04 a {
	width: 120px;
    overflow:hidden;
}
#globalNav04 a:link, #globalNav04 a:visited {
	background-position: -394px 0;
}
#globalNav04 a:hover, #globalNav04 a:active {
	background-position: -394px -58px;
}
#globalNav05 a {
	width: 105px;
    overflow:hidden;
}
#globalNav05 a:link, #globalNav05 a:visited {
	background-position: -514px 0;
}
#globalNav05 a:hover, #globalNav05 a:active {
	background-position: -514px -58px;
}
#globalNav06 a {
	width: 83px;
    overflow:hidden;
}
#globalNav06 a:link, #globalNav06 a:visited {
	background-position: -619px 0;
}
#globalNav06 a:hover, #globalNav06 a:active {
	background-position: -619px -58px;
}
#topicPath {
	width: 950px;
	margin: 0 auto;
	/*padding: 0 7px;*/
	/*background: #c2bfb6*/
	margin-bottom:10px;
}
#topicPath li {
	float: left;
	margin-right: 6px;
	padding-right: 10px;
	background: transparent url("../images/topicPath-separator.gif") no-repeat 100% 45%;
	color: #000;
	}
#topicPath a:link, #topicPath a:visited {
	color: #000;
	/*text-decoration: none;*/
	text-decoration: underline;
}
#topicPath a:hover, #topicPath a:active {
	/*color: #000;*/
	/*text-decoration: underline;*/
	color: #8f8246;
	text-decoration: none;
}
#presentLocation {
	margin-right: 0 !important;
	padding-right: 0 !important;
	font-weight: bold;
	background: transparent !important;
}
#publication {
	width: 100%;
	background: #f4f4f4;
}
#publication #publicationUpper {
	margin: 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 100%;
}
#publication #publicationWire {
	margin: 0 auto;
	width: 950px;
}

#aboutPlatinumSalon {
	float: left;
	width: 430px;
	padding:20px 20px 0px 0px;
}
#aboutStoreGuidance {
	float: left;
	width: 295px;
	padding:20px 20px 0px 0px;
}
#aboutMobile {
	margin: 20px 0;
	border-right: 1px solid #787878;
	border-left: 1px solid #787878;
	float: left;
	width: 308px !important;
	padding-left: 20px;
}
#aboutBeginner {
	margin: 20px 0;
	float: left;
	width: 285px;
	padding-left: 20px;
	line-height: 0;
	font-size: 0;
}
#aboutBeginner dt,
#aboutBeginner dd {
	font-size: 0;
	line-height: 0;
}
#forBeginner { height: 33px;}
#forBeginner li {
	float: left;
	height: 33px;
	line-height: 0;
	font-size: 0;
}
#forBeginner a {
	display: block;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/beginner_button.gif");
	background-repeat: no-repeat;
}
#forBeginnerGuide, #forBeginnerGuide a { width: 105px;}
#forBeginnerSite, #forBeginnerSite a { width: 115px;}
#forBeginnerGuide a:link, #forBeginnerGuide a:visited { background-position: 0 0;}
#forBeginnerGuide a:hover, #forBeginnerGuide a:active { background-position: 0 -33px;}
#forBeginnerSite a:link, #forBeginnerSite a:visited { background-position: -105px 0;}
#forBeginnerSite a:hover, #forBeginnerSite a:active { background-position: -105px -33px;}


#aboutSeibuShibuya {
	float: left;
	width: 470px;
	background:url("../images/publication_line2.gif") repeat-y left 0px;
	padding:20px 0px 20px 20px;
}
#publication h2 {
	height: 15px;
	margin-bottom: 15px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#aboutPlatinumSalon h2 {
	background-image: url("../images/PlatinumSalon-title.gif");
}
#aboutStoreGuidance h2 {
	background-image: url("../images/storeguidance_title.gif");
}

#aboutMobile h2 {
	background-image: url("../images/MobileSite.gif");
}

#aboutSeibuShibuya h2 {
	background-image: url("../images/SeibuShibuya.gif");
}
#publication p, #publication dt, #publication dd {
	color: #aaa;
}
#info div {
	margin-bottom: 10px;
}
#info p {
	font-size:10px;
	color:#000000;
}
#info p.infotex {
	margin: 15px 0px;
}
#aboutPlatinumSalon #info p.infotex span.ttl{
	font-weight: bold;
	display:block;
}

#info p.infotex span.ttl2{
	font-weight: bold;
	font-size:14px;
	display:block;
}


#info .desc {
	margin: -.25em 0 9px;
}
#platinumSalonTel {
	width: 174px;
	height: 109px;
	text-indent: -9999px;
	background: transparent url("../images/platinumSalonTel.gif") no-repeat 0 0;
}
#inCharge2 {
	padding-top: 10px;
	width:420px;
	word-break: break-all;
}
#inCharge2 p {
	padding-bottom: 3px;
	font-weight: bold;
}
#inCharge2 li {
	width: 300px;
	height: 35px;
	margin-bottom: 5px;
}
#inCharge2 li.contactLink{
	width:195px;
	float:left;
}
#inCharge2 li a {
	display: block;
	width: 195px;
	height: 19px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/contactMailLink_new.gif");
	background-repeat: no-repeat;
}
#inCharge2 .contactLink a:link, #inCharge2 .contactLink a:visited {
	background-position: 0 0;
}
#inCharge2 .contactLink a:hover, #inCharge2 .contactLink a:active {
	background-position: 0 -19px;
}
#inCharge2 .reserveLink a:link, #inCharge2 .reserveLink a:visited {
	background-position: -195px 0;
}
#inCharge2 .reserveLink a:hover, #inCharge2 .reserveLink a:active {
	background-position: -195px -15px;
}
#inCharge2 .chargeName{
	font-size:12px;
	color:#000000;
	float:left;
}

#aboutMobile h3 {
	height: 13px;
	margin-bottom: 14px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#aboutSeibuShibuya div {
	float: left;
}

#aboutSeibuShibuya p {
	font-weight:bold;
	color:#000000;
	font-size:12px;
}
#aboutSeibuShibuya dd {
	color:#000000;
	font-size:10px;
}


#aboutSeibuShibuya h3 {
	height: 13px;
	margin-bottom: 14px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#mobileSiteInfo {
	width: 308px;	
}
#mobileSiteInfo h3 {
	background-image: url("../images/mobileSiteInfo-title.gif");
}
#mobileSiteInfo div {
	float: left;
	width: 114px;
}
#mobileSiteInfo dl {
	margin-left: 10px;
	float: left;
	width: 150px;
}
#mobileSiteInfo dt{
	font-size:0.88em;
	color:#000000;
}
#mobileSiteInfo dd{
	font-size:1.00em;
	color:#000000;
	font-weight:bold;
	margin:10px 0px 0px;
}


#mailQRCode {
	margin-top: 10px;
}
#mailQRCode a {
	display: block;
	width: 170px;
	height: 18px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/mailQRCode.gif");
	background-repeat: no-repeat;
}
#mailQRCode a:link, #mailQRCode a:visited {
	background-position: 0 0;
}
#mailQRCode a:hover, #mailQRCode a:active {
	background-position: 0 -18px;
}
#businessTimeInfo {
	width: 260px;
}
#aboutSeibuShibuya #businessTimeInfo p{
	font-size:1.06em;
}
#businessTimeInfo h3 {
	background-image: url("../images/businessTimeInfo-title.gif");
}
#offDayInfo {
	width: 175px;
	padding-left: 30px;
}
#aboutSeibuShibuya #offDayInfo  p{
	font-size: 1.06em;
}
#offDayInfo h3 {
	background-image: url("../images/offDayInfo-title.gif");
}


/* rov_guidance_btn */
a.rov_guidance_btn {
	display:block;
	position:relative;
	width:204px;
	height:34px;
	color:#ffffff;
	background:url("../images/storeguidance_btn_ov.gif") left top no-repeat;
	overflow:hidden;
	text-align:center;
}
a.rov_guidance_btn:hover {
	background-color:#ffffff;
	color:#000000;
}
a.rov_guidance_btn img {
	background-color:#ffffff;
}
a.rov_guidance_btn:hover img {
	position:relative;
	top:-34px;
}




#footer {
	padding-bottom: 20px;
	background-color:#000;
}
#footer .inner {
	width: 950px;
	height: 70px;
	margin: 0 auto;
	padding: 14px 0 0;
}
#footerNav {
	float: left;
	width: 430px;
}
#footerMenu {
	background-color:#fff;
}
#footerMenu .inner {
	margin: 0 auto;
	padding: 25px 0;
	width: 950px;
}
#footerNav {
	float: left;
	width: 400px;
}
#footerMenu h2 {
	height: 10px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#footerMenu #mainContents h2 {
	background-image: url("../images/footerNav_main.gif");
}
#footerMenu #guide h2 {
	background-image: url("../images/footerNav_guide.gif");
}
#footerMenu #infoma h2 {
	background-image: url("../images/footerNav_info.gif");
}
#footerMenu #mainContents{
	border-right: solid 1px #292929;
	float:left;
	width:219px;
	min-height: 160px;
	height: auto !important;
	height: 160px;
}
#footerMenu #guide{
	padding:0px 0px 0px 20px;
	border-right: solid 1px #292929;
	float:left;
	width:188px;
	min-height: 160px;
	height: auto !important;
	height: 160px;
}
#footerMenu #infoma{
	padding:0px 0px 0px 20px;
	border-right: solid 1px #292929;
	float: left;
	width:195px;
	min-height: 160px;
	height: auto !important;
	height: 160px;
}
#footerMenu #ftrCaution {
	float: right;
	width: 285px;
}
#footerMenu #ftrCaution li {
	padding-left: 1.0em;
	color: #000;
	font-size: 10px;
	text-indent: -1.0em;
}

#footerMenu #mainContents div{
	width: 220px;
	float:left;
}
#footerMenu #mainContents div.boxr{
	width: 250px;
	float:left;
}
#footerMenu dl{
	margin: 0px 0px 15px;
}
#footerMenu dt{
	background:url(../images/footer_icon01.gif) no-repeat 0px 5px;
	padding:0px 0px 0px 10px;
	margin-bottom:5px;
	color:#000;
	font-size: 1.00em;
}
#footerMenu dd{
	background:url(../images/footer_icon02.gif) no-repeat 0px 6px;
	padding:0px 0px 0px 10px;
	color:#888888;
	font-size: 1.00em;
}
#footerMenu dt a:link,#footerMenu dt a:visited{
	color:#000;
	text-decoration:none;
}
#footerMenu dt a:hover,#footerMenu dt a:active{
	color:#8f8246;
	text-decoration:none;
}
#footerMenu dd a:link,#footerMenu dd a:visited{
	color:#888888;
	text-decoration: underline;
}
#footerMenu dd a:hover,#footerMenu dd a:active{
	color:#8f8246;
	text-decoration:none;
}
#footerMenu #guide{
}



#footerNav li {
	float: left;
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
	/*border-right: 1px solid #fff;*/
}
#footerNavQuit {
	border: 0 !important;
}
#footerNavBtn {
	font-size: 0;
	line-height: 0;
	clear: both;
}
#footerNavBtn li {
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
}
#footerNavSeibu a {
	display: block;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/footer-btn-seibu.gif");
	background-repeat: no-repeat;
}
#footerNavSeibu, #footerNavSeibu a { width: 174px;}
#footerNavSeibu a:link, #footerNavSeibu a:visited { background-position: 0 0;}
#footerNavSeibu a:hover, #footerNavSeibu a:active { background-position: 0 -33px;}
#footerNavSogou a {
	display: block;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/footer-btn-sogou.gif");
	background-repeat: no-repeat;
}
#footerNavSogou, #footerNavSogou a { width: 176px;}
#footerNavSogou a:link, #footerNavSogou a:visited { background-position: 0 0;}
#footerNavSogou a:hover, #footerNavSogou a:active { background-position: 0 -33px;}



#footerNavContact a {
	width: 168px;
}
#footerNavContact a:link, #footerNavContact a:visited {
	background-position: 0 0;
}
#footerNavContact a:hover, #footerNavContact a:active {
	background-position: 0 -11px;
}
#footerNavTerms a {
	width: 80px;
}
#footerNavTerms a:link, #footerNavTerms a:visited {
	background-position: -168px 0;
}
#footerNavTerms a:hover, #footerNavTerms a:active {
	background-position: -168px -11px;
}
#footerNavPrivacy { display: block;}
#footerNavPrivacy a { width: 112px;}
#footerNavQuit a:link, #footerNavQuit a:visited {
	background-position: -360px 0;
}
#footerNavQuit a:hover, #footerNavQuit a:active {
	background-position: -360px -11px;
}
#footerNavPrivacy a{
	background:url("../images/footer_icon03.gif") no-repeat 0px 3px;
	padding:0px 0px 0px 10px;
	margin-bottom:5px;
	color:#cccccc;
	padding-right:20px;
}
#footerNavPrivacy a:link,#footerNavPrivacy a:visited{
	color:#cccccc;
	text-decoration:none;
}
#footerNavPrivacy a:hover,#footerNavPrivacy a:active{
	color:#8f8246;
	text-decoration:none;
}



#footerNav p {
	/*padding-top: 10px;*/
	padding-bottom:10px;
	float:left;
}
#copyright {
	padding-top: 25px;
    width: 550px;
	float: right;
	text-align: right;
	color:#ffffff;
	font-size: 11px !important;
}
.fortop{
	width: 950px;
	margin: 0 auto 8px auto;
}
.fortop a{
	display: block;
	overflow: hidden;
	text-indent:-9999px;
	width: 61px;
	height: 12px;
	background-color: transparent;
	background-image: url("../images/footer_fortop.gif");
	background-repeat: no-repeat;
	text-align:left;
}
.fortop a:link{ background-position: 0 0;}
.fortop a:hover{ background-position: 0 -12px;}
/**
 * サイト内共通のブラウザ間調整
 */
#headerNav, #textsizecontroller, #appendixNav .inner, #personalInfo .inner, #globalNav, #topicPath, #publication, #info, #aboutSeibuShibuya, #footer .inner, #footerNav ul {
	display: inline-block;
}
#headerNav, #textsizecontroller, #appendixNav .inner, #personalInfo .inner, #globalNav, #topicPath, #publication, #info, #aboutSeibuShibuya, #footer .inner, #footerNav ul {
	display: block;
}
#headerNav:after, #textsizecontroller:after, #appendixNav .inner:after, #personalInfo .inner:after, #globalNav:after, #topicPath:after, #publication:after, #info:after, #aboutSeibuShibuya:after, #footer .inner:after, #footerNav ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.ErrorHeader {
	border:1px solid #CC0000;
	padding:4px 10px;
	margin:10px 0;
	background: #fff;
	color: #000;
}
.Error {
	font-weight:bold;
	color:#CC0000;
	margin-bottom:3px;
}
.LoginPage .Error {
	font-weight:bold;
	color:#CC0000;
	margin:-5px 0 5px;
}

.clearBoth{
	clear:both;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
	height:0;
	width:0;
}
