@charset "EUC-JP";

#textsizecontroller .ts_small a:link, #textsizecontroller .ts_small a:visited {
	background-position: 0 0;
}
#textsizecontroller .ts_small a:hover, #textsizecontroller .ts_small a:active {
	background-position: 0 -20px;
}
#textsizecontroller .ts_medium a:link, #textsizecontroller .ts_medium a:visited {
	background-position: -22px 0;
}
#textsizecontroller .ts_medium a:hover, #textsizecontroller .ts_medium a:active {
	background-position: -22px -20px;
}
#textsizecontroller .ts_large a {
	background-position: -44px -20px;
}
#welcomeMessage {
	padding-top: 1px;
	font-size: 16px;
}
#inCharge, #topicPath li {
	font-size: 14px;
}
#inCharge {
	padding-top: 4px;
}
#publication p, #publication dt, #publication dd{
	font-size: 12px;
}
#footer #copyright{
	font-size:12px;
}
#footerMenu dt , #footerMenu dd, #footer #footerNav #footerNavPrivacy{
	font-size: 14px;
}