<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>守　みどり | 至高のアート | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2015/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2015/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2015/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="../static/?f=page/autumn2015/index_f&{%%svid%%}">至高のアート</a></li>
<li id="presentLocation">守　みどり</li>
</ul>

<div id="main" class="brand">

<div id="sec_header">
	<div class="inner">
		<h1><img src="../page/autumn2015/images/header_ttl.gif" alt="秋の逸品会 会期：9月1日（火）〜9月30日（水）" /></h1>
		<p><img src="../page/autumn2015/images/brand_f_03_ttl.jpg" alt="守　みどり" /></p>
	</div>
</div><!--/#sec_header-->



<div id="sec_contents">

	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6172&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_01_01.jpg" width="278" height="208" alt="「錘愛しむ」 P12号" />
			<p>「錘愛しむ」 P12号</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6173&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_02_01.jpg" width="278" height="208" alt="「春を謳う」 P8号" />
			<p>「春を謳う」 P8号</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6174&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_03_01.jpg" width="278" height="208" alt="「風の道」 M8号" />
			<p>「風の道」 M8号</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6175&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_04_01.jpg" width="278" height="208" alt="「winter Mute」 S6号" />
			<p>「winter Mute」 S6号</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6176&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_05_01.jpg" width="278" height="208" alt="「朱華」 P6号" />
			<p>「朱華」 P6号</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6177&{%%svid%%}">
			<img src="../page/autumn2015/images/D_02_morimidori_06_01.jpg" width="278" height="208" alt="「誘い」 P4号" />
			<p>「誘い」 P4号</p>
		</a>
		</li>
	</ul>
    
    <div class="brand_info01">
    <div class="brand_img"><img src="../page/autumn2015/images/brand_f_03_img.jpg" width="209" height="238" alt="" /></div>
    <div class="brand_right">
        <p class="brand_name">守　みどり</p>
            <p class="brand_txt">美しい少女の何気ない一瞬の表情や、季節の中で美しい姿を見せる花や鳥を描き、独自の世界を表現する「守 みどり」。高い技術と複雑な背景描写によって表現される作品は、大変高い評価を得ています。</p>
            <ul>
                <li> 1968年　千葉県に生まれる。 </li>
                <li> 1997年　東京藝術大学大学院日本画修士課程修了。 </li>
                <li> 2001年　春の院展初入選。 </li>
                <li> 2007年　春の院展推奨賞受賞。 </li>
                <li> 2008年　春の院展推奨賞（足立美術館賞）受賞。 </li>
                <li> 2012年　春の院展推奨賞受賞。 </li>
                <li> 2015年　春の院展春季展賞（郁夫賞）受賞。 </li>
                <li> 現在、日本美術学院院友。 </li>
            </ul>
    </div>
    </div>
	
</div><!--/#sec_contents-->



<div id="sec_footer">
	<h2><img src="../page/autumn2015/images/footer_ttl.gif" alt="秋の逸品会" /></h2>
	<div class="inner">
		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_a&{%%svid%%}">プレシャスバッグコレクション</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_a_01&{%%svid%%}">ジョルジオ アルマーニ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_02&{%%svid%%}">サルヴァトーレ フェラガモ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_03&{%%svid%%}">モラビト</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_04&{%%svid%%}">コンテス</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_b&{%%svid%%}">珠玉のウオッチ</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_b_01&{%%svid%%}">ブレゲ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_02&{%%svid%%}">フランク ミュラー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_03&{%%svid%%}">ベダ&amp;カンパニー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_04&{%%svid%%}">モーリス・ラクロア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_05&{%%svid%%}">セイコー</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_c&{%%svid%%}">煌めきのジュエリー</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_c_01&{%%svid%%}">ブシュロン</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_02&{%%svid%%}">ショーメ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_03&{%%svid%%}">レポシ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_04&{%%svid%%}">フレッド アイウエア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_05&{%%svid%%}">幸福を呼び寄せるラッキーモチーフジュエリーコレクション</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_d&{%%svid%%}">華やぐレディース・エレガンス</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_d_01&{%%svid%%}">美しさ際立つプレタポルテ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_d_02&{%%svid%%}">上質な品格をそなえたブラックフォーマル</a></dd>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_e&{%%svid%%}">最旬のメンズ・スタイリング</a></dt>
				</dl>
			</li>
		</ul>

		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_f&{%%svid%%}">至高のアート</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_f_01&{%%svid%%}">フランス アール・デコ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_02&{%%svid%%}">院展同人作家</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_03&{%%svid%%}">守　みどり</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_04&{%%svid%%}">有田の名匠</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_05&{%%svid%%}">三輪　和彦</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_g&{%%svid%%}">雅やかな和の装い</a></dt>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_h&{%%svid%%}">傑作インテリア雑貨</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_h_01&{%%svid%%}">上質な時間をもたらすスペシャルアイテム</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_h_02&{%%svid%%}">秋を愉しむ遊び心あふれるアイテム</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_i&{%%svid%%}">高性能スポーツギア</a></dt>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_j&{%%svid%%}">贅を味わう銘品</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_j_01&{%%svid%%}">フランスグルメセレクション</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_02&{%%svid%%}">秋を愛でる可憐なスイーツ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_03&{%%svid%%}">今宵、愉しみたい厳選ウイスキー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_04&{%%svid%%}">たっぷり堪能 旬の美味</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div><!--/#sec_footer-->	



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
