<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>たっぷり堪能 旬の美味 | 贅を味わう銘品 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2015/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2015/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2015/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="../static/?f=page/autumn2015/index_j&{%%svid%%}">贅を味わう銘品</a></li>
<li id="presentLocation">たっぷり堪能 旬の美味</li>
</ul>

<div id="main" class="brand">

<div id="sec_header">
	<div class="inner">
		<h1><img src="../page/autumn2015/images/header_ttl.gif" alt="秋の逸品会 会期：9月1日（火）〜9月30日（水）" /></h1>
		<p><img src="../page/autumn2015/images/brand_j_04_ttl.jpg" alt="たっぷり堪能 旬の美味" /></p>
	</div>
</div><!--/#sec_header-->



<div id="sec_contents">
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6307&{%%svid%%}">
			<img src="../page/autumn2015/images/J_10_foodsone_01_01.jpg" width="278" height="208" alt="フーズ・ワン　北海道羅臼産 鮭児" />
			<p>フーズ・ワン　北海道羅臼産 鮭児</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6308&{%%svid%%}">
			<img src="../page/autumn2015/images/J_11_ikura_02_01.jpg" width="278" height="208" alt="魚谷清兵衛　いくら" />
			<p>魚谷清兵衛　いくら</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6309&{%%svid%%}">
			<img src="../page/autumn2015/images/J_12_nikusyoumoriyasu_03_01.jpg" width="278" height="208" alt="肉匠もりやす 黒毛和牛ビーフジャーキー／カレーセット" />
			<p>肉匠もりやす 黒毛和牛ビーフジャーキー／カレーセット</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6310&{%%svid%%}">
			<img src="../page/autumn2015/images/J_13_mercatopiccolo_04_01.jpg" width="278" height="208" alt="メルカートピッコロ　ジャム＆ピクルス" />
			<p>メルカートピッコロ　ジャム＆ピクルス</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6311&{%%svid%%}">
			<img src="../page/autumn2015/images/J_14_kantsumakiwami_05_01.jpg" width="278" height="208" alt="缶つま極　気仙沼産ふかひれ" />
			<p>缶つま極　気仙沼産ふかひれ</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6312&{%%svid%%}">
			<img src="../page/autumn2015/images/J_15_ibericoya_06_01.jpg" width="278" height="208" alt="イベリコ屋　イベリコ・ベジョータ・サルサトマト しゃぶしゃぶセット" />
			<p>イベリコ屋　イベリコ・ベジョータ・サルサトマト しゃぶしゃぶセット</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6313&{%%svid%%}">
			<img src="../page/autumn2015/images/J_16_sanwa_07_01.jpg" width="278" height="208" alt="鶏三和　＜三和の純鶏＞ 名古屋コーチン燻しどり詰合せ" />
			<p>鶏三和　＜三和の純鶏＞ 名古屋コーチン燻しどり詰合せ</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6314&{%%svid%%}">
			<img src="../page/autumn2015/images/J_17_asadaya_08_01.jpg" width="278" height="208" alt="浅田屋　豚の琥珀煮（肩ロース200g×2、バラ200g、たれ付）" />
			<p>浅田屋　豚の琥珀煮（肩ロース200g×2、バラ200g、たれ付）</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6315&{%%svid%%}">
			<img src="../page/autumn2015/images/J_18_nishitomo_09_01.jpg" width="278" height="208" alt="「滋賀」西友（にしとも）商店　うなぎのせいろ蒸し" />
			<p>「滋賀」西友（にしとも）商店　うなぎのせいろ蒸し</p>
		</a>
		</li>
	</ul>
	
</div><!--/#sec_contents-->



<div id="sec_footer">
	<h2><img src="../page/autumn2015/images/footer_ttl.gif" alt="秋の逸品会" /></h2>
	<div class="inner">
		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_a&{%%svid%%}">プレシャスバッグコレクション</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_a_01&{%%svid%%}">ジョルジオ アルマーニ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_02&{%%svid%%}">サルヴァトーレ フェラガモ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_03&{%%svid%%}">モラビト</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_04&{%%svid%%}">コンテス</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_b&{%%svid%%}">珠玉のウオッチ</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_b_01&{%%svid%%}">ブレゲ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_02&{%%svid%%}">フランク ミュラー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_03&{%%svid%%}">ベダ&amp;カンパニー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_04&{%%svid%%}">モーリス・ラクロア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_05&{%%svid%%}">セイコー</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_c&{%%svid%%}">煌めきのジュエリー</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_c_01&{%%svid%%}">ブシュロン</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_02&{%%svid%%}">ショーメ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_03&{%%svid%%}">レポシ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_04&{%%svid%%}">フレッド アイウエア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_05&{%%svid%%}">幸福を呼び寄せるラッキーモチーフジュエリーコレクション</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_d&{%%svid%%}">華やぐレディース・エレガンス</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_d_01&{%%svid%%}">美しさ際立つプレタポルテ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_d_02&{%%svid%%}">上質な品格をそなえたブラックフォーマル</a></dd>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_e&{%%svid%%}">最旬のメンズ・スタイリング</a></dt>
				</dl>
			</li>
		</ul>

		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_f&{%%svid%%}">至高のアート</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_f_01&{%%svid%%}">フランス アール・デコ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_02&{%%svid%%}">院展同人作家</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_03&{%%svid%%}">守　みどり</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_04&{%%svid%%}">有田の名匠</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_05&{%%svid%%}">三輪　和彦</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_g&{%%svid%%}">雅やかな和の装い</a></dt>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_h&{%%svid%%}">傑作インテリア雑貨</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_h_01&{%%svid%%}">上質な時間をもたらすスペシャルアイテム</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_h_02&{%%svid%%}">秋を愉しむ遊び心あふれるアイテム</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_i&{%%svid%%}">高性能スポーツギア</a></dt>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_j&{%%svid%%}">贅を味わう銘品</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_j_01&{%%svid%%}">フランスグルメセレクション</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_02&{%%svid%%}">秋を愛でる可憐なスイーツ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_03&{%%svid%%}">今宵、愉しみたい厳選ウイスキー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_04&{%%svid%%}">たっぷり堪能 旬の美味</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div><!--/#sec_footer-->	



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
