<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フランス アール・デコ | 至高のアート | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/autumn2015/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/autumn2015/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/autumn2015/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/autumn2015/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="../static/?f=page/autumn2015/index_f&{%%svid%%}">至高のアート</a></li>
<li id="presentLocation">フランス アール・デコ</li>
</ul>

<div id="main" class="brand">

<div id="sec_header">
	<div class="inner">
		<h1><img src="../page/autumn2015/images/header_ttl.gif" alt="秋の逸品会 会期：9月1日（火）〜9月30日（水）" /></h1>
		<p><img src="../page/autumn2015/images/brand_f_01_ttl.jpg" alt="フランス アール・デコ" /></p>
	</div>
</div><!--/#sec_header-->



<div id="sec_contents">

	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6178&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_01_01.jpg" width="278" height="208" alt="ルイ・イカール　「スウィング」" />
			<p>ルイ・イカール　「スウィング」</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6179&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_02_01.jpg" width="278" height="208" alt="ルイ・イカール　「スピードII」" />
			<p>ルイ・イカール　「スピードII」</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6180&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_03_01.jpg" width="278" height="208" alt="ポール・コラン　「Paris 1937」" />
			<p>ポール・コラン　「Paris 1937」</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=6181&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_04_01.jpg" width="278" height="208" alt="フランス 1920年代　A.ワルター パート・ド・ヴェール スカラベ置物" />
			<p>フランス 1920年代　A.ワルター パート・ド・ヴェール スカラベ置物</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=6182&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_05_01.jpg" width="278" height="208" alt="フランス 1920年代 シュナイダー 鉄枠吹込み花瓶" />
			<p>フランス 1920年代 シュナイダー 鉄枠吹込み花瓶</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=6183&{%%svid%%}">
			<img src="../page/autumn2015/images/D_03_artdeco_06_01.jpg" width="278" height="208" alt="フランス 1920年代　ヴェール・フランセ 浮彫蝶文水差" />
			<p>フランス 1920年代　ヴェール・フランセ 浮彫蝶文水差</p>
		</a>
		</li>
	</ul>
    
    <div class="brand_info01">
        <p class="brand_name">フランス アール・デコ</p>
            <p class="brand_txt">アール・ヌーヴォーの時代に続き、ヨーロッパおよびアメリカ合衆国を中心に1910年代半ばから1930年代にかけて流行した「アール・デコ」。幾何学図形をモチーフにした記号的表現や、原色による対比表現などを主な特徴として、その多様な装飾や様式は今もなお多くの人を魅了しています。</p>	
    </div>
	
</div><!--/#sec_contents-->



<div id="sec_footer">
	<h2><img src="../page/autumn2015/images/footer_ttl.gif" alt="秋の逸品会" /></h2>
	<div class="inner">
		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_a&{%%svid%%}">プレシャスバッグコレクション</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_a_01&{%%svid%%}">ジョルジオ アルマーニ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_02&{%%svid%%}">サルヴァトーレ フェラガモ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_03&{%%svid%%}">モラビト</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_a_04&{%%svid%%}">コンテス</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_b&{%%svid%%}">珠玉のウオッチ</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_b_01&{%%svid%%}">ブレゲ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_02&{%%svid%%}">フランク ミュラー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_03&{%%svid%%}">ベダ&amp;カンパニー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_04&{%%svid%%}">モーリス・ラクロア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_b_05&{%%svid%%}">セイコー</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_c&{%%svid%%}">煌めきのジュエリー</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_c_01&{%%svid%%}">ブシュロン</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_02&{%%svid%%}">ショーメ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_03&{%%svid%%}">レポシ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_04&{%%svid%%}">フレッド アイウエア</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_c_05&{%%svid%%}">幸福を呼び寄せるラッキーモチーフジュエリーコレクション</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_d&{%%svid%%}">華やぐレディース・エレガンス</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_d_01&{%%svid%%}">美しさ際立つプレタポルテ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_d_02&{%%svid%%}">上質な品格をそなえたブラックフォーマル</a></dd>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_e&{%%svid%%}">最旬のメンズ・スタイリング</a></dt>
				</dl>
			</li>
		</ul>

		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_f&{%%svid%%}">至高のアート</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_f_01&{%%svid%%}">フランス アール・デコ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_02&{%%svid%%}">院展同人作家</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_03&{%%svid%%}">守　みどり</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_04&{%%svid%%}">有田の名匠</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_f_05&{%%svid%%}">三輪　和彦</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_g&{%%svid%%}">雅やかな和の装い</a></dt>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_h&{%%svid%%}">傑作インテリア雑貨</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_h_01&{%%svid%%}">上質な時間をもたらすスペシャルアイテム</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_h_02&{%%svid%%}">秋を愉しむ遊び心あふれるアイテム</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_i&{%%svid%%}">高性能スポーツギア</a></dt>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/autumn2015/index_j&{%%svid%%}">贅を味わう銘品</a></dt>
					<dd><a href="../static/?f=page/autumn2015/brand_j_01&{%%svid%%}">フランスグルメセレクション</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_02&{%%svid%%}">秋を愛でる可憐なスイーツ</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_03&{%%svid%%}">今宵、愉しみたい厳選ウイスキー</a></dd>
					<dd><a href="../static/?f=page/autumn2015/brand_j_04&{%%svid%%}">たっぷり堪能 旬の美味</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div><!--/#sec_footer-->	



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
