@charset "EUC-JP";

/* clearfix */
#newsList li, #infoDetailWrapper {
	display: inline-block;
}
#newsList li, #infoDetailWrapper {
	display: block;
}
#newsList li:after, #infoDetailWrapper:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
