@charset "EUC-JP";
@import url("../global-fontsizelarge.css");

#infoDetailWrapper, #newsList {
	font-size:14px;
}
.infoDetailTitle {
	font-size:16px;
}

.infoDetailInner_top {
	font-size: 16px;
	font-weight: bold;
}