@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
.fl {float:left !important;}
.fr {float:right !important;}


/*#main*/
#main a {
	color:#000;
}
#main a:hover {
	text-decoration: none;
}
#main a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha(opacity=60)";
}


/*#sec_header*/
#main #sec_header {
	width:100%;
	overflow-x:hidden;
	background:#800303 url(../images/main_bnr.jpg) no-repeat center top;;
	height:260px;
}
#main #sec_header h1 {
	position:relative;
	margin:auto;
	width:950px;
	height:260px;
}
#main #sec_header h1 img {
	left:410px;
	top:28px;
	display:block;
    position: absolute;
}


/*#sec_contents*/
#main #sec_contents {
	width:950px;
	margin:0 auto;
	padding-top:30px;
}

#main #sec_contents p#column {
	margin:0 auto 40px;;
}
#main #sec_contents ul {
	margin-bottom:48px;
}
#main #sec_contents ul li {
	float:left;
	background:#ececec;
	height:370px;
}
#main #sec_contents ul li a img {
	margin-bottom:10px;
}

#main #sec_contents ul li .box {
	padding:0px 13px 14px;
}
#main #sec_contents ul li .box img {
	margin-bottom:10px;
}

#main #sec_contents ul li a {
	display:block;
}
#main #sec_contents ul li .box a p {
	width:244px;
	font-size:116.7%;
	margin-bottom:10px;
	font-weight:700;
}
#main #sec_contents ul li .box a span {
	font-size:100%;
}

#main #sec_contents ul li.li_center {
	margin:0 55px;
}

