<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Christmas World Watch Collection 2014 デジタルカタログ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/christmasworldwatch2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/christmasworldwatch2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/christmasworldwatch2014/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/christmasworldwatch2014/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">Christmas World Watch Collection 2014 デジタルカタログ</li>
</ul>
<div id="main">

<div class="main_block">
<div><h1><img src="../page/christmasworldwatch2014/images/title1.jpg" alt="Christmas World Watch Collection 2014 デジタルカタログ" width="860" height="76" /></h1></div>
<div><img src="../page/christmasworldwatch2014/images/caption.jpg" alt="画面上で、以下のカタログをご覧いただけます。デジタルカタログをご覧になれない方は、PDFファイルをご覧ください。" width="860" height="71" /></div>

<!--カタログ-->
<div class="catalogBase">
<div class="catalogThum">
<img src="../page/christmasworldwatch2014/images/thum.jpg"alt="Christmas World Watch Collection 2014 デジタルカタログ" width="215" height="303" />
</div>
<div class="catalog">
<div>
<img src="../page/christmasworldwatch2014/images/title2.jpg" alt="Christmas World Watch Collection 2014" width="430" height="95" /></div>
<div>
<img src="../page/christmasworldwatch2014/images/title3.jpg" alt="" width="430" height="30" /></div>
<div class="btn_cata"><a href="http://e-catalog.seibu.jp/common/20141114/001/index.html" target="_blank" title="デジタルカタログを見る">デジタルカタログを見る</a></div>
    <div class="btn_pdf"><a href="../page/christmasworldwatch2014/pdf/2014_world watch cristmas.pdf" target="_blank" title="PDFでカタログを見る">PDFでカタログを見る</a></div>
    <div class="clearBoth"></div>
</div>
</div>
</div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/christmasworldwatch2014/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/christmasworldwatch2014/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/christmasworldwatch2014/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」からご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>
		</div>


<!--注記-->
<div class="bnav">

<div class="flL">

<div class="guide"><a href="https://www.sogo-seibu.jp/common/d_catalog/howto/index.html" target="_blank">≫デジタルカタログ　使い方ガイドはこちら</a></div>
<ul>
<li>【推奨環境】</li>
<li>デジタルカタログをご覧いただくためには、下記の動作環境が必要です。</li>
<li>・Microsoft Internet Explorer 6以上のブラウザ</li>
<li>・横800ピクセル以上　縦600ピクセル以上の解像度</li>
<li>・Adobe Flash プラグイン</li>
<li>・JavaScriptが動作する環境<br />
また、ADSL・CATV・FTTHなどのブロードバンド環境でお楽しみいただくことを推奨します。</li>
</ul>

</div>

<div class="flR">

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="../page/christmasworldwatch2014/images/cmn_flash.png" alt="" /></a></th>
    <td>デジタルカタログをご覧いただくためには、Adobe Flash Playerが必要です。<a href="http://get.adobe.com/jp/flashplayer/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
  <tr>
    <th><a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/christmasworldwatch2014/images/cmn_pdf.png" alt="" /></a></th>
    <td>PDFをご覧いただくためには、Adobe Readerが必要です。<a href="http://get.adobe.com/jp/reader/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
</table>


</div>




<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
