@charset "EUC-JP";

#main {
	overflow: hidden;
	min-width: 950px;
	width: expression(document.body.clientWidth < 952? "950px" : "auto");
	margin: 0 auto;
	color: #ffffff;
	background: #ffffff;
	padding-bottom:60px;
}
#main h1 {
	width: 950px;
	height: 380px;
	margin: 0 auto;
	background-image: url(../images/idx_title.gif);
	background-color:#fff;
	background-position: center top;
	background-repeat: no-repeat;
	text-align:center;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
#main #product {
	height: 504px;
	width: 925px;
	margin: 0 auto;
	padding: 26px 0 0 25px;
	background-color:#221815;
}
#main #prd01,#prd02{
	float: left;
	width: 440px;
}
#main #prd01 {
	margin-right: 20px;
}
#main #prd01 a {
	display: block;
	position: relative;
	width: 440px;
	height: 426px;
	background-image: url(../images/idx_prd01_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd01 a div {
	display: none;
	width: 440px;
	height: 426px;
	background-image: url(../images/idx_prd01_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	text-indent:-9999px;
}
#main #prd02 a {
	display: block;
	position: relative;
	width: 440px;
	height: 426px;
	background-image: url(../images/idx_prd02_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd02 a div {
	display: none;
	overflow: hidden;
	width: 440px;
	height: 426px;
	background-image: url(../images/idx_prd02_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	text-indent:-9999px;
}
#main #prd03 a {
	display: block;
	position: relative;
	width: 440px;
	height: 426px;;
	background-image: url(../images/idx_prd03_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd03 a div {
	display: none;
	width: 440px;
	height: 426px;;
	background-image: url(../images/idx_prd03_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
#main .inner {
	height: 426px;
	width: 440px;
	margin:0 auto;
}
#main .inner a img {
	width: 440px;
	height: 426px;
}
.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  
  
.clearfix { display: inline-table; }  
  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */  