@charset "EUC-JP";
@import url("../global-fontsizemedium.css");

#infoDetailWrapper, #newsList {
	font-size:12px;
}

.infoDetailTitle {
	font-size:16px;
}

.infoDetailInner_top {
	font-size: 14px;
	font-weight: bold;
}