@charset "EUC-JP";

#main {
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	/*border: 10px solid #f2f1ed;*/
	border: 10px solid #ffffff;
	color: #000;
	background: #fff;
}

.infoPage #main h1 {
	width:285px;
	height:21px;
	margin-bottom:35px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/info/infopage-h1.gif");
}
.infoPage #main h2 {
	width:859px;
	height:37px;
	margin-bottom:20px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/info/infopage-h2.jpg");
}
.infoPage #main .infoDetailTitle {
	width: 809px;
	height: auto;
	line-height: 57px;
	margin: 0 auto 20px;
	padding-left: 10px;
	color: #fff;
	text-indent: 0;
	background-image: url("../../images/info/infodetail-title.gif");
}
.infoPage #main #infoDetailWrapper {
	width:819px;
	margin:0 auto;
}
.infoPage #main #infoDetailWrapper li img {
	width:287px;
	height:287px;
	margin-bottom:11px;
	border:1px solid #000;
}
.infoPage #main #infoDetailWrapper #images {
	float:left;
	margin-right:20px;
}
.infoPage #main #infoDetailWrapper #infoDetailInner {
	float:left;
	width:508px;
}
.infoPage #main #infoDetailWrapper p {
	padding:0 0 10px;
}
.infoPage #main #infoDetailWrapper .infoDetailDate {
	padding:10px 0 30px;
}
.infoPage #main #infoDetailWrapper .infoDetailLink {
	padding:0 0 0 15px;
	background:url("../../images/info/infoDetailLinkbg.gif") left center no-repeat;
}
.infoPage #main #infoDetailWrapper .infoDetailBack {
	margin-top:30px;
	padding:0 0 0 15px;
	background:url("../../images/info/infoDetailBackbg.gif") left center no-repeat;
	float:right;
}
.infoPage #main #infoDetailWrapper .infoDetailLink a, .infoPage #main #infoDetailWrapper .infoDetailBack a {
	color:#CB0100;
}
#newsList li {
	width:819px;
	margin:0 auto 15px;
	border-bottom:1px solid #ccc;
}
#newsList li img {
	width:108px;
	height:108px;
	float:left;
	border:1px solid #000;
	margin:0 20px 15px 0;
}
#newsList li p {
	margin-bottom:10px;
}
#newsList li .newsDate {
	font-weight:bold;
	margin:0;
	color:#343434;
}
#newsList li .newsTitle a {
	font-weight:bold;
	color:#CB0100;
	margin:0;
}
.NewsListWrapper {
	float:left;
	width: 689px;
}

#newsList li div.iconBlock,
#infoDetailInner div.iconBlock{
	width: 180px;
	height: 13px;
	margin-bottom: 10px;
}

#newsList li div.iconBlock img,
#infoDetailInner div.iconBlock img {
	width:36px;
	height:13px;
	margin:0px;
	float:none;
	border:none;
}


#newsList li div.iconBlock span,
#infoDetailInner div.iconBlock span{
	margin-right: 5px;
}

