<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Early Summer Watch &amp; Jewelry Collection | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/earlysummer/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/earlysummer/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/earlysummer/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/earlysummer/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/earlysummer/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
    
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">Early Summer Watch &amp; Jewelry Collection</li>
	</ul>
	<div id="mainvisual"><img src="../page/earlysummer/images/wjc_mainvisual.jpg" alt="Early Summer Watch &amp; Jewelry Collection　太陽に映える、爽やかな白と青。ダイヤモンドやサファイアを贅沢にまとったものなど、夏の主役になる時計とジュエリーのご紹介です。" /></div>
	<div id="main">
	<div id="itemCatalog">


		<div id="itemList">
	
		<h1>ANNAMARIA　アンナマリア<span>画家として培った感性が光る“アンナマリア”。絵画的なラインは一線を画す美しさです。</span></h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=7628&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_01.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7628&{%%svid%%}">
				<h2>＜デューン＞ K18オレンジゴールドダイヤモンドリング</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7627&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_02.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7627&{%%svid%%}">
				<h2>＜サルタナ＞ K18スリーカラーゴールドダイヤモンドリング</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7626&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_03.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7626&{%%svid%%}">
				<h2>＜プレミエーレ＞K18ホワイトゴールドダイヤモンドペンダント</h2></a><p class="price"></p>
			</div>
		
		</div>

		<div id="itemList">
	
		<h1>LUCA CARATI　ルカ・カラーティ<span>自社一貫制作だからこそ成し得る「計算された絶妙なバランス感覚」。細かな装飾に見惚れます。</span></h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=7625&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_04.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7625&{%%svid%%}">
				<h2>＜クロシェ＞ K18WGダイヤモンドリング</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7624&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_05.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7624&{%%svid%%}">
				<h2>＜リーヴス＞ K18WG/PGダイヤモンドリング</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7623&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_06.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7623&{%%svid%%}">
				<h2>＜ピューマ＞ K18PG/WGダイヤモンドリング</h2></a><p class="price"></p>
			</div>
		
		</div>

		<div id="itemList">
	
		<h1>Shinity　シニティ<span>着け心地を追及したイヤーカフスや、指に合わせてサイズを調整できるリングなど、新鮮な視点に注目です。</span></h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=7621&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_07.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7621&{%%svid%%}">
				<h2>K18ダイヤモンドイヤーカフス（左耳用）</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7620&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_08.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7620&{%%svid%%}">
				<h2>K18パールピアリング（イヤーカフス）／リング</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7619&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_09.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7619&{%%svid%%}">
				<h2>K18WGダイヤモンドピアリング（イヤーカフス）／リング</h2></a><p class="price"></p>
			</div>
		
		</div>

		<div id="itemList">
	
		<h1>KEIKO NAGASAKA　ケイコ ナガサカ<span>金粉で絵を描く「蒔絵」など、漆工芸の技を融合。“ケイコ ナガサカ”の、神秘的な煌めきをどうぞ。</span></h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=5909&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_10.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=5909&{%%svid%%}">
				<h2>ブローチ「蝶」（カラー：マルチ／ブルー）</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=5906&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_11.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=5906&{%%svid%%}">
				<h2>K18YG／Pt ダイヤブローチ</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=5904&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160606_12.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=5904&{%%svid%%}">
				<h2>ダイヤリング（K18WG）</h2></a><p class="price"></p>
			</div>
		
		</div>



		<div id="itemList">
	
		<h1>BOUCHERON  ブシュロン<span>「人生を祝福する」が理念の“ブシュロン”。豊かさの象徴クジャクを、輝きで描きます。</span></h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=7554&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_01.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7554&{%%svid%%}">
				<h2>＜ヘラ＞ レディースウオッチ</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7553&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_02.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7553&{%%svid%%}">
				<h2>＜ヘラ＞ リング</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7552&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_03.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7552&{%%svid%%}">
				<h2>＜プリュム ドゥ パオン＞ ペンダント／イヤリング</h2></a><p class="price"></p>
			</div>
		
		</div>
		
		
		<div id="itemList">
		<h1>CHAUMET  ショーメ<span>自然からテーマを見出す“ショーメ”は、宝石を重ねることでアジサイを表現しました。</span></h1>	
		
		<div>
				<a href="../detail/?a=Item_detail&id=7551&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_04.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7551&{%%svid%%}">
				<h2>＜オルタンシア ヴォア・ラクテ シークレットウオッチ＞ レディースウオッチ</h2></a>
				<p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7550&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_05.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7550&{%%svid%%}">
				<h2>＜オルタンシア ヴォア・ラクテ＞ リング</h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7549&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_06.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7549&{%%svid%%}">
				<h2>＜オルタンシア ヴォア・ラクテ＞ イヤリング</h2></a><p class="price"></p>
			</div>
		
		</div>
		
		
		<div id="itemList">
		<h1>SEIKO  セイコー<span></span></h1>	
			<div>
				<a href="../detail/?a=Item_detail&id=7548&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_07.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7548&{%%svid%%}">
				<h2>＜JURI パート・ド・ヴェール 限定モデル＞ レディースウオッチ</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=7547&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_08.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7547&{%%svid%%}">
				<h2>＜スモールレディス＞ レディースウオッチ </h2></a><p class="price"></p>
			</div>
			<div class="end">
				<a href="../detail/?a=Item_detail&id=7546&{%%svid%%}"><img src="../page/earlysummer/images/wjc_160513_09.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=7546&{%%svid%%}">
				<h2>＜スプリング ドライブ クロノグラフ GMT DLC ベゼルモデル＞ メンズウオッチ</h2></a><p class="price"></p>
			</div>
	
		</div>
	
	
		</div>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
