<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript"><!--
var itemLargePhotoList = new Array(
"{tpl_var name=item_path}item04M1.jpg",
"{tpl_var name=item_path}item04M2.jpg",
"{tpl_var name=item_path}item04M3.jpg"
	);
// --></script>

<ul id="topicPath">
<li><a href="../?a=Top&svid=1">TOP</a></li>
<li><a href="../item/?a=Item_list&amp;category=5&svid=1">ラグジュアリー</a></li>
<li id="presentLocation">サルヴァトーレ フェラガモ　バッグ（カラー：ピンク）</li>
</ul>

<div id="main">
<div id="itemCatalog">
<div id="itemInfo">
<div class="bBlkOut">
<div class="bBlkIn">
	<div class="iconBlock"></div>
	<h1 style="font-size:14px;">サルヴァトーレ フェラガモ　バッグ（カラー：ピンク）</h1>
	<p id="price">価格：<strong style="font-size:18px;">226,800円</strong></p>
</div>
</div>
<div class="bBlkOut">
<div class="bBlkIn">
	<p id="desc">魅力的なディテールが随所に散りばめられた、鮮やかなピンクのバッグ<br>
	<br>
	シンプルなフォルムを、鮮やかなピンクカラーで彩った華やかなトートバッグです。コンパクトなサイズながら、内側には取り外し可能なジップ式仕切りポケットがあり、小物をきちんと分けて収納することが可能。ガンチーニのクロージャーや、レザーコーティングのキーケースなど、ブランド特有のディテールを備え、華やかさと実用性の両方を満たしてくれます。</p>
</div>
</div>
<div class="bBlkOut">
<div class="bBlkIn">
<div id="spec" style="font-size:10px;">
	<ul>
	<li>【素材】牛革<br>
	【サイズ】】タテ20×ヨコ27×マチ12cm</li>
	</ul>
</div>
</div>
</div>
</div>

<div id="itemPhoto">
	<div id="itemPhotoLarge"><img id="itemPhotoLargeImage" alt="写真（大）" src="{tpl_var name=item_path}item04M1.jpg" /></div>
	<ul class="li_itemA">
		<li><a href="#" onclick="changeItemLargePhoto(0);return false;"><img alt="写真1" src="{tpl_var name=item_path}item04S1.jpg" /></a></li>
		<li><a href="#" onclick="changeItemLargePhoto(1);return false;"><img alt="写真2" src="{tpl_var name=item_path}item04S2.jpg" /></a></li>
		<li><a href="#" onclick="changeItemLargePhoto(2);return false;"><img alt="写真3" src="{tpl_var name=item_path}item04S3.jpg" /></a></li>
	</ul>
</div>
</div>

<div style="border:1px solid #dddddd;padding:25px 0;margin:40px 0;">
<div style="text-align:center;margin-bottom:10px;">
<img alt="特別企画　サイトでラッキーナンバーを見つけた方に1000ポイントプレゼント！" src="{tpl_var name=item_path}item04_pt_001.jpg" usemap="#cp2016a" />
<map name="cp2016a">
<area shape="rect" coords="498,21,658,57" href="/rps/static/?f=page/point_cp_2016/index&{tpl_var name=svid_get}" alt="くわしくはこちら">
</map>
</div>
<div style="text-align:center;">
<img alt="メッセージ2　次は「ライフスタイルページ」へお進みください。SAKUARA（桜）のKからはじまるブランドの商品のどれかに、次のMessage3（メッセージ3）が書かれています。" src="{tpl_var name=item_path}item04_pt_002.jpg" usemap="#cp2016b" />
<map name="cp2016b">
<area shape="rect" coords="238,205,578,247" href="../item/?a=item_list&category=4&{%%svid%%}" alt="ライフスタイル（Lifestyle）ページへ">
</map>
</div>
</div>
