<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript"><!--
var itemLargePhotoList = new Array(
"{tpl_var name=item_path}item05M1.jpg",
"{tpl_var name=item_path}item05M2.jpg",
"{tpl_var name=item_path}item05M3.jpg",
"{tpl_var name=item_path}item05M4.jpg"
	);
// --></script>

<ul id="topicPath">
<li><a href="../?a=Top&svid=1">TOP</a></li>
<li><a href="../item/?a=Item_list&amp;category=4&svid=1">ライフスタイル</a></li>
<li id="presentLocation">ケルヒャー　K5 サイレント カー＆ホームキット</li>
</ul>

<div id="main">
<div id="itemCatalog">
<div id="itemInfo">
<div class="bBlkOut">
<div class="bBlkIn">
	<div class="iconBlock"></div>
	<h1 style="font-size:14px;">ケルヒャー　K5 サイレント カー＆ホームキット</h1>
	<p id="price">価格：<strong style="font-size:18px;">54,000円</strong></p>
</div>
</div>
<div class="bBlkOut">
<div class="bBlkIn">
	<p id="desc">“ケルヒャー”最上級モデルの高圧洗浄機。稼働音が静かで住宅地でも安心<br>
	<br>
	家の外壁や玄関などの広範囲な場所をはじめ、車なども手軽に洗浄。同社同等モデルと比べて体感音は約半分になり、住宅街でも気兼ねなくお使いいただけます。また、水冷式で耐久性も向上しました。広い範囲もしっかり洗える12mの高圧ホース付き。テラスクリーナーと洗浄剤が付いたホームキット、さらにフォームノズルと回転ブラシのカーキットをセット。これ一台で家周りの掃除や洗車が格段に便利になります。</p>
</div>
</div>
<div class="bBlkOut">
<div class="bBlkIn">
<div id="spec" style="font-size:10px;">
	<ul>
	<li>【素材】ポリプロピレン<br />
【サイズ】幅42.6×高さ87.8×長さ34.9cm、本体質量：16.6kg<br />
【仕様】最大許容圧力：12Mpa、最大吐出水量：430L/h、消費電力：1400W<br />
【セット内容】標準装備品：バリオスプレーランス、サイクロンジョットノズル、高圧ホース（12m）、カー＆ホームキット（回転ブラシ・フォームノズル）、ユニバーサルクリーナー1L、テラスクリーナーT350、延長ランス2本<br />
【備考】洗浄できる面積の目安（1時間の場合）：網戸／約26枚</li>
	</ul>
</div>
</div>
</div>
</div>

<div id="itemPhoto">
	<div id="itemPhotoLarge"><img id="itemPhotoLargeImage" alt="写真（大）" src="{tpl_var name=item_path}item05M1.jpg" /></div>
	<ul class="li_itemA">
		<li><a href="#" onclick="changeItemLargePhoto(0);return false;"><img alt="写真1" src="{tpl_var name=item_path}item05S1.jpg" /></a></li>
		<li><a href="#" onclick="changeItemLargePhoto(1);return false;"><img alt="写真2" src="{tpl_var name=item_path}item05S2.jpg" /></a></li>
		<li><a href="#" onclick="changeItemLargePhoto(2);return false;"><img alt="写真3" src="{tpl_var name=item_path}item05S3.jpg" /></a></li>
		<li><a href="#" onclick="changeItemLargePhoto(2);return false;"><img alt="写真4" src="{tpl_var name=item_path}item05S4.jpg" /></a></li>
	</ul>
</div>
</div>

<div style="border:1px solid #dddddd;padding:25px 0;margin:40px 0;">
<div style="text-align:center;margin-bottom:10px;">
<img alt="特別企画　サイトでラッキーナンバーを見つけた方に1000ポイントプレゼント！" src="{tpl_var name=item_path}item05_pt_001.jpg" usemap="#cp2016a" />
<map name="cp2016a">
<area shape="rect" coords="498,21,658,57" href="/rps/static/?f=page/point_cp_2016/index&{tpl_var name=svid_get}" alt="くわしくはこちら">
</map>
</div>
<div style="text-align:center;">
<img alt="メッセージ3　次は「フードページ」へお進みください。SAKUARA（桜）のRからはじまるブランドの商品のどれかに、ラッキーナンバーが書かれています。" src="{tpl_var name=item_path}item05_pt_002.jpg" usemap="#cp2016b" />
<map name="cp2016b">
<area shape="rect" coords="238,205,578,247" href="../item/?a=item_list&category=1&{%%svid%%}" alt="フード（Food）ページへ">
</map>
</div>
</div>
