@charset "EUC-JP";

#main {
	width: 944px;
	margin: 0 auto;
	color: #fff;
	background: #fff;
}
#brand {
	width: 944px;
	height: 254px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background-color: #fff;
	position:relative;
	overflow:hidden;
}
#tokuten {
	line-height:none;
	margin:0;
	padding:0;
}
#itemList{
	clear:both;
	margin:0 0 15px 0;
}
#itemList div{
	background-color:#000;
	float:left;
	width:314px;
	margin:0 1px 1px 0;
	position:relative;
}
#itemList div.end{
	float:left;
	width:314px;
	margin:0;
}
#itemList div img{
	width:314px;
	height:380px;
}
#itemList div .info{
	position:absolute;
	top:260px;
	left:0;
	width:274px;
	height:80px;
	padding:20px;
	background: url("../images/yatsugatake_item_bg-trans.png") repeat;
}
#itemList div .info h1{
	margin-top:7px;
	font-weight:bold;
}
#itemList div .date{
	background-color:#8f8246;
	padding:3px 0 2px 5px;
	margin:0;
	display:inline;
}
#itemList div .yutai .rps {
	margin:8px 0 3px 0;
	font-size:90%;
	color:#c2b161;
	font-weight:nomal;
}
#itemList div .yutai .rps span {
	font-size:120%;
	font-weight:bold;
}
#itemList div .yutai .inline {
	display:inline;
}
#itemList a{
	color:#FFF;
	text-decoration:none;
}
#itemList a:hover{
	color:#FFF;
	text-decoration:underline;
}
a:hover img{
    opacity:0.5;
    -moz-opacity:0.5;
	-ms-filter:"alpha(opacity = 50)";
    filter:alpha(opacity = 50);
}
#itemList:after{
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

