@charset "EUC-JP";

#main {
	width: 100%;
	margin: 0 auto;
	color: #4d392a;
	background: #ffffff;
	padding-bottom:60px;
}
#main h1 {
	background-color:#000;
	text-align:center;
	border-top:1px solid #818182;
	border-bottom:1px solid #878788;
}
#main #btn01 {
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #fff;
}
#main #btn02 {
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #fff;
}
#main #btn03 {
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #f7f7f8;
}