@charset "EUC-JP";

#itemCatalog, #itemPhoto ul, #selectBoxes, #formButtons {
	display: inline-block;
}
#itemCatalog, #itemPhoto ul, #selectBoxes, #formButtons {
	display: block;
}
#itemCatalog:after, #itemPhoto ul:after, #selectBoxes:after, #formButtons:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
