@charset "EUC-JP";

#mainvisual {
	width: 950px;
	margin:0 auto;
	padding:0;
	text-align:center;
}
#main {
	width: 950px;
	margin: 0 auto 50px;
	background:url(../images/bg.jpg);
}
#main h2{
	width: 760px;
	margin: 0 auto;
	display:block;
}

.itemList {
	width:430px;
	height:auto;
	float:left;
	margin:0 0 0 0;
	display:block;
}

.itemList.blockL {
	padding:30px 15px 20px 30px;
}
.itemList.blockR {
	padding:30px 20px 20px 25px;
}

.itemList h3 {
	margin:0 0 20px 0;;
}
.itemList .itemBlock {
	margin:0 0 20px 0;
}
.itemList .itemBlock .thum {
	float:left;
	margin:0 15px 0 0;
	display:block;
}

.itemList .itemBlock p a {
	color: #000000;
	font-size:18px;
	font-weight:700;
	line-height: 24px;
	padding-right:18px;
	height:70px;
	display: table-cell;
	vertical-align: middle;
}
.itemList .itemBlock p a:hover {
	color: #666666;
}

.itemList .itemBlock p a .itemname {
	font-size:18px;
	font-weight:700;
	line-height: 24px;
	padding-top12px;
}




.itemList a:hover {
	color: #9f8b65;
}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
