<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>基本的なご利用方法 | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

		<ul id="topicPath">
				<li><a href="../?{%%svid%%}">TOP</a></li>
				<li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
		        <li id="presentLocation">基本的なご利用方法</li>
		</ul>
		<div id="main">
		<h1>ご利用ガイド</h1>
		<div id="guideWrapper">
		<div id="guideleft">
			<div class="sideintro">
				<ul>
				<li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
				</ul>
			</div>
			<div class="sidebar">
				<ul>
				<li><span>基本的なご利用方法</span></li>
				<li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
                <li class="Linetwo">
                <a href="./?f=page/guide/flow&{%%svid%%}">お買い物までの<br />
				基本的な流れ</a>
                </li>
                <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
                <li class="Linethree borderless">
                <a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
                セレクション<br />
                会員サービスについて</a>
                </li>
				</ul>
			</div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
		</div>
        <div id="guidemainWrapper">
        <h2 class="basich2">基本的なご利用方法</h2>
          <ul class="anchorList">
          	<li><a href="#howto">ロイヤル・プラチナ セレクションのご利用方法</a></li>
            <li><a href="#goods">商品について</a></li>
            <li><a href="#buy">ご購入希望、ご試用希望、ご予約希望、くわしい情報希望について</a></li>
            <li><a href="#inquiry">商品お問い合わせについて</a></li>
          </ul>
          <div id="howto" class="guidebox">
          	<h3>■ ロイヤル・プラチナ セレクションのご利用方法</h3>
            <p>ロイヤル・プラチナ セレクションは、お得意さまとそのご家族さまだけに特別な商品やサービスをご案内する会員制サイトです。担当者にお問い合わせいただくには、会員登録が必要です（ただし、一部のお客さまには会員登録いただけない場合がございます。あらかじめご了承ください。）。<br />
気になる商品などがございましたら、サイト上からお気軽にお問い合わせください。お問い合わせ承り後、お客さまの担当者からメールまたはお電話にてご連絡差しあげます。正式なご注文は、お客さまの担当者経由で承ります。商品はご希望の日時、場所にお届けもしくは配送させていただきます。</p>
          </div>
          <div id="goods" class="guidebox">
          	<h3>■ 商品について</h3>
            <p class="marginbottom10">本サイトでは4つの検索方法で商品をお探しいただけます。<br />
(1)キーワードから商品を探す<br />
本サイトの最上部にある「商品&amp;サービス検索」からお探しいただけます。お探しの商品名やキーワードをご入力ください。複数の語句をすべて含む場合は、スペースで区切ってください。</p>
			<p class="marginbottom10">(2)カテゴリーから商品を探す<br />
ラグジュアリー、ファッション、コスメ&amp;ビューティー、ライフスタイル、カルチャー、フードからお好きなカテゴリーを選択のうえ、商品をお探しください。ラグジュアリーページには、ブランド別のページも設けております。</p>
			<p class="marginbottom10">(3)最新ピックアップから商品を探す<br />
新着商品やおすすめ商品は、トップページの「PICK UP ITEM」にてご紹介しております。</p>
			<p class="marginbottom10">(4)履歴一覧から商品を探す<br />
過去にご購入希望やお問い合わせなどをしていただいた商品については、履歴一覧ページでご確認いただけます。</p>
            <a href="./?f=page/guide/search&{%%svid%%}">商品の探し方の詳細について、くわしくはこちらをご覧ください。</a>
          </div>
          <div id="buy" class="guidebox">
          	<h3>■ ご購入希望、ご試用希望、ご予約希望、くわしい情報希望について</h3>
            <p class="marginbottom10">本サイトに掲載されている商品のご購入やご試用、ご予約、くわしい情報を希望されるお客さまは、商品詳細画面にて数量やサイズなどを選択後、「ご購入希望」または「ご試用希望」「ご予約希望」「くわしい情報希望」ボタンからお申し込みください。</p>
            <a href="./?f=page/guide/flow&{%%svid%%}#buy">ご購入希望、ご試用希望、ご予約希望、くわしい情報希望について、くわしくはこちらをご覧ください。</a>
          </div>
          <div id="inquiry" class="guidebox">
          	<h3>■ 商品お問い合わせについて</h3>
            <p class="marginbottom10">本サイトに掲載されている商品のご確認などを希望されるお客さまは、商品詳細画面の「商品お問い合わせ」ボタンからご用命ください。</p>
			<a href="./?f=page/guide/flow&{%%svid%%}#nquiry">商品お問い合わせについて、くわしくはこちらをご覧ください。</a>
          </div>
          </div>
        </div>
        <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
