<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>初めての方へ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidefirst">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">初めての方へ</li>
</ul>
		<div id="main">
		<h1>初めての方へ</h1>
		<h2 class="firsth201">ご利用サイトについて</h2>
		<div id="firstWrapper">
			<div class="firstleft">
			<p class="firstleft01">「ロイヤル・プラチナ セレクション」はラグジュアリーブランドをはじめ、選び抜かれたお品をクリック1つでお取り寄せいただける限定Webサイトです。サイトからお気軽に担当者まで、お問い合わせください。</p>
			<p class="more01">詳しくは･･･</p>
			<p class="buttonfirst01"><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></p>
			<p class="qrcode">モバイルサイトについては右記の二次元バーコードをご利用ください。</p>
			</div>
		  <img src="../page/guide/images/rightimg.jpg" alt="ご利用サイトについて" class="rightimg" />
		</div>
		<h2 class="firsth202">ご注文について</h2>
		<div id="firstWrapper">
			<div class="firstborderbox">
			<img src="../page/guide/images/firstimg02.jpg" alt="ご注文の流れ" />
			<ul class="firstlinkbox">
			<li class="linkA"><a href="./?f=page/guide/flow&{%%svid%%}#buy">詳しくはこちら</a></li>
			<li class="linkB"><a href="./?f=page/guide/flow&{%%svid%%}#flow">詳しくはこちら</a></li>
			<li class="linkC"><a href="./?f=page/guide/flow&{%%svid%%}#payment">詳しくはこちら</a></li>
			</ul>
			</div>
			<p class="more01">詳しくは･･･</p>
			<p class="buttonfirst02"><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></p>
		</div>
		<h2 class="firsth203">担当者について</h2>
		<div id="firstWrapper">
			<div class="firstleft">
			<p class="tantousha">
			西武・そごうでは、大切なお客さまおひとりおひとりのご要望にお応えするため、「担当者」によるパーソナルサービスを行っております。<br />
			 お買い物のご相談をはじめ、より豊かなライフスタイルのご提案、お得意さま限定の情報など、お客さまのお役に立つサービスをご提供させていただきますので、何なりとお申しつけください。
			 </p>
			<p class="buttonfirst03"><a href="../?a=InquiryInput&{%%svid%%}" target="_blank">担当者へのお問い合わせはこちら</a></p>
			</div>
		  <img src="../page/guide/images/rightimg02.jpg" alt="担当者について" class="rightimg02" />
		</div>
        <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div>
		{%%about%%}
		{%%authfooter%%}
		{%%analytics%%}
</body>
</html>