<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>お買い物までの基本的な流れ | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
  <li id="presentLocation">お買い物までの基本的な流れ</li>
</ul>
<div id="main">
  <h1>ご利用ガイド</h1>
  <div id="guideWrapper">
    <div id="guideleft">
      <div class="sideintro">
        <ul>
          <li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
        </ul>
      </div>
      <div class="sidebar">
        <ul>
          <li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
          <li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
          <li class="Linetwo"><span> お買い物までの<br />
            基本的な流れ</span> </li>
          <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
          <li class="Linethree borderless"> <a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
            セレクション<br />
            会員サービスについて</a> </li>
        </ul>
      </div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
    </div>
    <div id="guidemainWrapper">
      <h2 class="flowh2">お買い物までの基本的な流れ</h2>
      <ul class="anchorList">
        <li><a href="#login">ログインをする</a></li>
        <li><a href="#buy">商品のご購入やご試用、ご予約、くわしい情報を希望する</a></li>
        <li><a href="#inquiry">商品のお問い合わせをする</a></li>
        <li><a href="#sales">担当者へのお問い合わせについて</a></li>
        <li><a href="#flow">お問い合わせ後の流れについて</a></li>
        <li><a href="#payment">お支払いについて</a></li>
      </ul>
      <div id="login" class="guidebox">
        <div class="guideboxfloat">
          <div class="flowleft">
            <h3>■ ログインをする</h3>
            <p>ロイヤル・プラチナ セレクションの<br />
「ログインID(メールアドレス)」「パスワード」を入力して、「login」ボタンをクリックしてください。</p>
          </div>
          <img src="../page/guide/images/flow01.jpg" alt="会員ログインをする" class="flowright" /> </div>
      </div>
      <div id="buy" class="guidebox">
        <h3>■ 商品のご購入やご試用、ご予約、くわしい情報を希望する</h3>
        <p class="marginbottom10">(1)本サイトに掲載されている商品は、サイト上で「ご購入希望」「ご試用希望」「ご予約希望」「くわしい情報希望」のいずれかを承っております。<br />
各商品のご購入やご試用、ご予約、くわしい情報をご希望のお客さまは、数量やサイズ等をご入力のうえ、ボタン（「ご購入希望」「ご試用希望」「ご予約希望」「くわしい情報希望」のいずれか）をクリックしてください。<br />
※ご希望いただける項目（「ご購入希望」「ご試用希望」「ご予約希望」「くわしい情報希望」）は、商品によって異なります。お申し込み前に、各商品ページにてご確認ください。<br />
(2)内容確認画面では、お客さまが入力されたご希望内容が表示されます。内容をご確認のうえ、正しければ「確定」ボタンをクリックしてください。<br />
(3)ご希望内容につきましては、お客さまの担当者から追ってご連絡差しあげます。<br />
※「ご購入希望」「ご試用希望」「ご予約希望」「くわしい情報希望」ボタンは、受付期間前や受付期間終了後には表示されません。キャンセル待ちをご希望のお客さまは、「商品お問い合わせ」ボタンからご用命ください。</p>
      <img src="../page/guide/images/flow02.jpg" alt="商品のご購入を希望する" />
      </div>
      <div id="inquiry" class="guidebox">
        <h3>■ 商品のお問い合わせをする</h3>
        <p class="marginbottom10">(1)本サイトに掲載されている商品の確認などをご希望される場合、お客さまの担当者へお問い合わせいただけます。各商品ページ下部の「商品お問い合わせ」ボタンをクリックし、お問い合わせ内容をご入力のうえ、「確認画面へ」をクリックしてください。<br />
(2)「お問い合わせ内容確認」画面では、お客さまが入力されたお問い合わせ内容およびお問い合わせ番号が表示されます。内容をご確認のうえ、正しければ「送信」ボタンをクリックしてください。<br />
(3)ご登録いただいているメールアドレスへ受付完了のメールをお送りいたします。お問い合わせ内容につきましては、受付担当者からお客さまの担当者へお届けし、お客さまの担当者から追ってご連絡差しあげます。</p>
        <img src="../page/guide/images/flow03.jpg" alt="商品のお問い合わせをする" />
      </div>
        <div id="sales" class="guidebox">
        <h3>■ 担当者へのお問い合わせについて</h3>
        <p class="marginbottom10">(1)掲載商品やサービス以外にも本サイトについてのご質問やご不明な点などがございましたら、お客さまの担当者へお気軽にお問い合わせください。本サイト上部の「担当者へのお問い合わせメール」ボタンをクリックし、お問い合わせ種別を選択、お問い合わせ内容をご入力のうえ、「確認画面へ」をクリックしてください。</p>
        <img src="../page/guide/images/flow09.jpg" alt="担当セールスへのお問い合わせについて" class="marginbottom10" />
        <p class="marginbottom10">(2)「お問い合わせ内容確認」画面では、お客さまが入力されたお問い合わせ内容が表示されます。内容をご確認のうえ、正しければ「送信」ボタンをクリックしてください。<br />
ご登録いただいているメールアドレスへ受付完了のメールをお送りいたします。お問い合わせ内容につきましては、受付担当者からお客さまの担当者へお届けし、お客さまの担当者から追ってご連絡差しあげます。</p>
        <img src="../page/guide/images/flow10.jpg" alt="担当セールスへのお問い合わせについて02" />
        </div>
        <div id="flow" class="guidebox">
        <h3>■ お問い合わせ後の流れについて</h3>
        <p class="marginbottom10">本サイトからお問い合わせいただいた内容につきましては、お客さまの担当者からメールまたはお電話にてご回答いたします。商品のご購入希望やご試用希望、ご予約希望、くわしい情報希望をいただいた場合は、お客さまの担当者からお申し込み内容ご確認の電話またはメールを送らせていただきます。（商品、個数、色、柄、包装内容、のし、お届け、お支払い方法等）<br />
＜お届けについて＞<br />
ご希望の場所、日時にお届けもしくは配送させていただきます。<br />
※ご自宅・勤務先・ご指定の場所でのお受け取り、売場・サロンでのお受け取りやご自宅配送など、お客さまのご要望にお応えします。</p>
        </div>
        <div id="payment" class="guidebox">
        <h3>■ お支払いについて</h3>
        <p class="marginbottom10">
        クレジットカードによるお支払いのほか、お客さまのご希望に応じてさまざまなお支払い方法をお選びいただけます。くわしくはお客さまの担当者までお気軽にご相談ください。お支払い場所・日時についても、ご自宅・勤務先・ご指定の場所・売場・サロンなど、ご都合の良い場所・日時をご指定できます。</p>
        </div>
    </div>
  </div>
  <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}

</body>
</html>