<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ご利用ガイド | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guide">
{%%authheader%%}
		<ul id="topicPath">
				<li><a href="../?{%%svid%%}">TOP</a></li>
				<li id="presentLocation">ご利用ガイド</li>
		</ul>
		<div id="main">
		<h1>ご利用ガイド</h1>
		<div id="guideWrapper">
		<div id="guideleft">
			<div class="sideintro">
				<ul>
				<li><a href="/rps/static/?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
				</ul>
			</div>
			<div class="sidebar">
				<ul>
				<li><a href="/rps/static/?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
				<li><a href="/rps/static/?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
                <li class="Linetwo">
                <a href="/rps/static/?f=page/guide/flow&{%%svid%%}">お買い物までの<br />
				基本的な流れ</a>
                </li>
                <li><a href="/rps/static/?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
                <li class="Linethree borderless">
                <a href="/rps/static/?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
                セレクション<br />
                会員サービスについて</a>
                </li>
				</ul>
			</div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="/rps/static/?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
		</div>
        <div id="guidemainWrapper">
        <h2 class="indexh2">ご利用ガイドトップ</h2>
          <div class="guidemain">
            <div class="box">
              <h3>基本的なご利用方法</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/basic&{%%svid%%}#howto">ロイヤル・プラチナ セレクションのご利用方法</a></li>
                <li><a href="/rps/static/?f=page/guide/basic&{%%svid%%}#goods">商品について</a></li>
                <li><a href="/rps/static/?f=page/guide/basic&{%%svid%%}#buy">ご購入希望、ご試用希望、ご予約希望、くわしい情報希望について</a></li>
                <li><a href="/rps/static/?f=page/guide/basic&{%%svid%%}#inquiry">商品お問い合わせについて</a></li>
              </ul>
            </div>
            <div class="box">
              <h3>商品の探し方</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/search&{%%svid%%}#keyword">キーワードから商品を探す</a></li>
                <li><a href="/rps/static/?f=page/guide/search&{%%svid%%}#category">カテゴリーから商品を探す </a></li>
                <li><a href="/rps/static/?f=page/guide/search&{%%svid%%}#pickup">最新ピックアップから商品を探す</a></li>
                <li><a href="/rps/static/?f=page/guide/search&{%%svid%%}#history">履歴一覧から商品を探す</a></li>
              </ul>
            </div>
          </div>
          <div class="guidemain">
            <div class="box">
              <h3>お買い物までの基本的な流れ</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#login">ログインをする</a></li>
                <li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#buy">商品のご購入やご試用、ご予約、くわしい情報を希望する</a></li>
                <li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#inquiry">商品のお問い合わせをする</a></li>
                <li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#sales">担当者へのお問い合わせについて</a></li>
                <li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#flow">お問い合わせ後の流れについて</a></li>
                <li><a href="/rps/static/?f=page/guide/flow&{%%svid%%}#payment">お支払いについて</a></li>
              </ul>
            </div>
            <div class="box">
              <h3>お取り扱い商品について</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/item&{%%svid%%}#size">サイズについて</a></li>
                <li><a href="/rps/static/?f=page/guide/item&{%%svid%%}#color">カラーについて</a></li>
              </ul>
            </div>
          </div>
          <div class="guidemain">
            <div class="box">
              <h3 class="Linetwo">ロイヤル・プラチナ セレクション<br />会員サービスについて</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#regist">新規会員登録について</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#family">ご家族さまの会員登録について</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#mailmagazine">メールマガジンについて</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#history">履歴一覧について</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#edit">会員情報変更について</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#forget">パスワードをお忘れの場合</a></li>
                <li><a href="/rps/static/?f=page/guide/service&{%%svid%%}#rule">会員規約について</a></li>
              </ul>
            </div>
            <div class="box">
              <h3>「お試しでご利用」について</h3>
              <ul>
              	<li><a href="/rps/static/?f=page/guide/trial&{%%svid%%}#about">「お試しでご利用」とは</a></li>
                <li><a href="/rps/static/?f=page/guide/trial&{%%svid%%}#login">「お試しでご利用」のログイン方法</a></li>
                <li><a href="/rps/static/?f=page/guide/trial&{%%svid%%}#inquiry">商品お問い合わせについて</a></li>
                <li><a href="/rps/static/?f=page/guide/trial&{%%svid%%}#entry">会員登録について</a></li>
               </ul>
            </div>
           </div>
          </div>
        </div>
        <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div><!-- #BeginLibraryItem "/Library/publication.lbi" -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
