<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>本サイトについて | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guideintroduction">
{%%authheader%%}

		<ul id="topicPath">
				<li><a href="../?{%%svid%%}">TOP</a></li>
		        <li id="presentLocation">本サイトについて</li>
		</ul>
		<div id="main">
		<h1>本サイトについて</h1>
		<div id="guideWrapper">
		<div id="guideleft">
			<div class="sideintro">
				<ul>
				<li><span>本サイトについて</span></li>
				</ul>
			</div>
			<div class="sidebar">
				<ul>
				<li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
				<li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
                <li class="Linetwo">
                <a href="./?f=page/guide/flow&{%%svid%%}">お買い物までの<br />
				基本的な流れ</a>
                </li>
                <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
                <li class="Linethree borderless">
                <a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
                セレクション<br />
                会員サービスについて</a>
                </li>
				</ul>
			</div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
		</div>
        <div id="guidemainWrapper">
          <ul class="anchorList anchorListplus">
          	<li><a href="#what">ロイヤル・プラチナ セレクションとは</a></li>
            <li><p><a href="#regist">ロイヤル・プラチナ セレクションご入会について</a></p></li>
            <li><a href="#security">セキュリティーについて</a></li>
            <li><a href="#policy">プライバシーポリシーについて</a></li>
            <li><a href="#oparating">動作環境・閲覧環境について</a></li>
          </ul>
          <div id="what" class="guidebox">
          	<h3>■ ロイヤル・プラチナ セレクションとは</h3>
            <p>「ロイヤル・プラチナ セレクション」はラグジュアリーブランドをはじめ、選び抜かれたお品をクリック1つでお取り寄せいただける限定Webサイトです。サイトからお気軽に担当者まで、お問い合わせください。<br />
※商品のご購入、お受け取りは担当者が直接承ります。</p>
          </div>
          <div id="regist" class="guidebox">
          	<h3>■ ロイヤル・プラチナ セレクションご入会について</h3>
            <p>担当者にお問い合わせいただくには、「会員登録」が必要です。クラブ・オン／ミレニアムカード セゾン ゴールド裏面の15桁の会員番号でログインできる、閲覧のみ可能な「お試しでご利用」もございます。どちらもログインページの「初めての方はこちらから」よりお進みください。</p>
          </div>
          <div id="security" class="guidebox">
          	<h3>■ セキュリティーについて</h3>
            <p>本サイトではSSL暗号化通信により、お客さまからいただいた情報を保護しておりますので安心してご利用ください。</p>
          </div>
          <div id="policy" class="guidebox">
          	<h3>■ プライバシーポリシーについて</h3>
            <a href="https://www.sogo-seibu.jp/information/privacy/" target="_blank">プライバシーポリシーはこちらから</a>
          </div>
          <div id="oparating" class="guidebox">
          	<h3>■ 動作環境・閲覧環境について</h3>
            <p>＜動作環境について＞<br />
            本サイトをご利用いただくには、お使いのブラウザを以下の通りに設定いただく必要がございます。<br />
            ※設定いただけない場合、本サイトの一部サービスなどがご利用いただけないことがあります。</p>
            <ul class="marginleft12 marginbottom10">
            	<li>JavaScriptを有効にする</li>
                <li>Cookie利用を有効にする</li>
                <li>スタイルシートを有効にする</li>
                <li>SSLを有効にする</li>
            </ul>
            <p>＜閲覧環境について＞<br />
            (1)対応OS</p>
            <ul class="marginleft24">
            	<li>Microsoft Windows 2000/XP/Vista</li>
                <li>MacOS 10.2以降</li>
            </ul>
            <p>(2)推奨ブラウザ<br />
            本サイトは以下のブラウザで動作確認しております。</p>
            <ul class="marginleft24">
            	<li>Internet Explorer 6.x、7.x、8.x</li>
                <li>Firefox 3.0以上</li>
                <li>Google Chrome</li>
            </ul>
             <p class="marginbottom10">※本サイトは上記ブラウザ以外では正しく動作しない場合がございます。あらかじめご了承ください。<br /></p>
          </div>
          </div>
        </div>
        <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}

</body>
</html>
