<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>お取り扱い商品について | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
  <li id="presentLocation">お取り扱い商品について</li>
</ul>
<div id="main">
  <h1>ご利用ガイド</h1>
  <div id="guideWrapper">
    <div id="guideleft">
      <div class="sideintro">
        <ul>
          <li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
        </ul>
      </div>
      <div class="sidebar">
        <ul>
          <li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
          <li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
          <li class="Linetwo"><a href="./?f=page/guide/flow&{%%svid%%}"> お買い物までの<br />
            基本的な流れ</a> </li>
          <li><span>お取り扱い商品について</span></li>
          <li class="Linethree borderless"> <a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
            セレクション<br />
            会員サービスについて</a> </li>
        </ul>
      </div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
    </div>
    <div id="guidemainWrapper">
      <h2 class="itemh2">お取扱商品について</h2>
      <ul class="anchorList">
        <li><a href="#size">サイズについて</a></li>
        <li><a href="#color">カラーについて</a></li>
      </ul>
      <div id="size" class="guidebox">
        <h3>■ サイズについて</h3>
        <p>各サイズの表記は、商品やブランドなどにより異なります。<br />
        ※商品によっては若干の誤差が発生してしまう場合もございます。1~2cmの誤差はあらかじめご了承ください。</p>
      </div>
      <div id="color" class="guidebox">
        <h3>■ カラーについて</h3>
        <p>商品カラーは、できる限り実物に近い色に撮影しておりますが、お客さまのモニター環境・設定により多少の誤差が生じる場合がございます。商品をお選びいただく際には、あらかじめご了承ください。 </p>
      </div>
    </div>
  </div>
  <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}

</body>
</html>
