<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>商品の探し方 | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

		<ul id="topicPath">
				<li><a href="../?{%%svid%%}">TOP</a></li>
				<li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
		        <li id="presentLocation">商品の探し方</li>
		</ul>
		<div id="main">
		<h1>ご利用ガイド</h1>
		<div id="guideWrapper">
		<div id="guideleft">
			<div class="sideintro">
				<ul>
				<li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
				</ul>
			</div>
			<div class="sidebar">
				<ul>
				<li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
				<li><span>商品の探し方</span></li>
                <li class="Linetwo">
                <a href="./?f=page/guide/flow&{%%svid%%}">お買い物までの<br />
				基本的な流れ</a>
                </li>
                <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
                <li class="Linethree borderless">
                <a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br />
                セレクション<br />
                会員サービスについて</a>
                </li>
				</ul>
			</div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
		</div>
        <div id="guidemainWrapper">
        <h2 class="searchh2">商品の探し方</h2>
          <ul class="anchorList">
          	<li><a href="#keyword">キーワードから商品を探す</a></li>
            <li><a href="#category">カテゴリーから商品を探す</a></li>
            <li><a href="#pickup">最新ピックアップから商品を探す</a></li>
            <li><a href="#history">履歴一覧から商品を探す</a></li>
          </ul>
          <div id="keyword" class="guidebox">
          	<h3>■ キーワードから商品を探す</h3>
            <p>(1)本サイトの画面右上にある「商品&amp;サービス検索」横の空欄の部分に商品名や商品説明の一部のキーワードを入力します。<br />
複数の語句をすべて含む場合は、スペースで区切ってください。</p>
            <p>(2)キーワードをご入力いただきましたら、「検索」ボタンをクリックすると検索結果が表示されます。</p>
            <img src="../page/guide/images/search01.jpg" alt="キーワードから商品を探す" class="margintop15" />
          </div>
          <div id="category" class="guidebox">
          	<h3>■ カテゴリーから商品を探す</h3>
            <p>(1)ラグジュアリー、ファッション、コスメ&amp;ビューティー、ライフスタイル、カルチャー、フードからお好きなカテゴリーを選択のうえ、商品をお探しください。ラグジュアリーページには、ブランド別のページも設けております。</p>
        <img src="../page/guide/images/search02.jpg" alt="カテゴリーから商品を探す" class="margintop15" />
            <p class="vmargin10">(2)カテゴリー別ページのトップで商品を選択いただくと、商品詳細画面が表示されます。</p>
            <img src="../page/guide/images/search03.jpg" alt="カテゴリーから商品を探す" />
          </div>
          <div id="pickup" class="guidebox">
          	<h3>■ 最新ピックアップから商品を探す</h3>
            <p>新着商品やおすすめ商品は、トップページの「PICK UP ITEM」にてご紹介しております。<br />
商品を選択いただくと、商品詳細画面が表示されます。</p>
            <img src="../page/guide/images/search04.jpg" alt="Pick Upから商品を探す" class="margintop15" />
          </div>
          <div id="history" class="guidebox">
          	<h3>■ 履歴一覧から商品を探す</h3>
            <p>本サイトの上段右側にある「履歴一覧」を選択いただくと、これまでにご購入希望、ご試用希望、ご予約希望、くわしい情報希望やお問い合わせいただいた商品の一覧が表示されます。<br />
最新のものから順に、過去1年半までさかのぼってご案内いたします。</p>
            <img src="../page/guide/images/search05.jpg" alt="履歴一覧から商品を探す" class="margintop15" />
          </div>
          </div>
        </div>
        <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
		</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}

</body>
</html>
