<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>ロイヤル・プラチナ セレクション会員サービスについて | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
  <li id="presentLocation">ロイヤル・プラチナ セレクション会員サービスについて</li>
</ul>
<div id="main">
  <h1>ご利用ガイド</h1>
  <div id="guideWrapper">
    <div id="guideleft">
      <div class="sideintro">
        <ul>
          <li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
        </ul>
      </div>
      <div class="sidebar">
        <ul>
          <li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
          <li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
          <li class="Linetwo"><a href="./?f=page/guide/flow&{%%svid%%}"> お買い物までの<br />
            基本的な流れ</a> </li>
          <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
          <li class="Linethree borderless"><span>ロイヤル・プラチナ<br />
            セレクション<br />
            会員サービスについて</span> </li>
        </ul>
      </div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo borderless"><a href="./?f=page/guide/trial&{%%svid%%}">「お試しでご利用」について</a></li>
				</ul>
			</div>
    </div>
    <div id="guidemainWrapper">
      <h2 class="serviceh2">ロイヤル・プラチナ セレクション会員サービスについて</h2>
      <ul class="anchorList">
        <li><a href="#regist">新規会員登録について</a></li>
        <li><a href="#family">ご家族さまの会員登録について</a></li>
        <li><a href="#mailmagazine">メールマガジンについて</a></li>
        <li><a href="#history">履歴一覧について</a></li>
        <li><a href="#edit">会員情報変更について</a></li>
        <li><a href="#forget">パスワードをお忘れの場合</a></li>
        <li><a href="#rule">会員規約について</a></li>
      </ul>
      <div id="regist" class="guidebox">
        <h3>■ 新規会員登録について</h3>
        <p class="marginbottom10">ロイヤル・プラチナ セレクションは、クラブ・オン カード セゾンゴールド、ミレニアム カード セゾンゴールド 会員さま限定のサイトです。ご登録は弊社からご案内を差しあげたお客さまおよびそのご家族さまに限ります。ログインページの「初めての方はこちらから」ボタンをクリックし、ご利用規約にご同意いただいたうえ、ご登録いただいているクラブ・オン ／ミレニアムカード会員のカード情報とご登録時のご自宅電話番号をご入力ください。登録情報ご入力後、ご登録いただいたメールアドレスに認証メールをお送りします。メールに記載されたURLにアクセス後、ご登録完了となります。</p>
        <img src="../page/guide/images/service01.jpg" alt="新規登録について" />
      </div>
      <div id="family" class="guidebox">
        <h3>■ ご家族さまの会員登録について</h3>
        <p class="marginbottom10">ロイヤル・プラチナ セレクションは、ご登録いただいているお客さまのご家族さまもご利用いただけます。ご登録情報入力画面にて「会員さまご家族の方」ボタンをクリックし、ご自身の情報・必要項目の情報をご入力ください。</p>
        <img src="../page/guide/images/service02.jpg" alt="ご家族さまの会員登録について" />
      </div>
      <div id="mailmagazine" class="guidebox">
        <h3>■メールマガジンについて</h3>
        <p class="marginbottom10">メールマガジン配信にご登録いただきますと、選りすぐりの商品情報や耳寄りのお得情報などを「ロイヤル・プラチナ セレクションメールマガジン」として、ご登録いただいたパソコン・携帯電話のメールアドレスにお届けいたします。なお、新たにご登録いただく前には、必ずプライバシーポリシーをお読みください。<br />
※携帯メールアドレスをご利用の会員さまでメール受信制限を設定されている方は、ドメイン「@sogo-seibu.co.jp」から受信できるよう設定をお願いいたします。<br />
<br />
<b>メールマガジン配信の登録を変更する場合</b><br />
メールマガジン配信の登録を変更したい場合は、本サイトの上段左側にある「会員情報変更」から行ってください。<br />
<br />
<b>［配信を希望される方］</b><br />
｢メールマガジン｣の欄にある、パソコン・携帯電話それぞれお望みの項目を「希望する」にお切り替えください。<br />
<b>［配信を停止したい方］</b><br />
｢メールマガジン｣の欄にある、パソコン・携帯電話それぞれお望みの項目を「希望しない」にお切り替えください。配信を停止いたします。<br />
<br />
※個人情報保護法の順守という観点から、メールマガジンの配信停止をご希望の場合につきましては、お手数ではございますが、お客さまご自身で配信停止のお手続きをお願いいたしております。<br />
※システムの都合上、解除依頼のあとも1~群回メールが届く場合がございます。あらかじめご了承ください。<br />
※西武・そごうからの重要なお知らせにつきましては、会員さま全員にお送りさせていただく場合がございます。<br />
</p>
      </div>
      <div id="history" class="guidebox">
        <h3>■ 履歴一覧について</h3>
        <p class="marginbottom10">本サイトの上段右側にある「履歴一覧」をご選択いただくと、これまでにご購入希望、ご試用希望、ご予約希望、くわしい情報希望やお問い合わせをいただいた商品の一覧が表示されます。最新のものから順に、過去1年半までさかのぼってご案内いたします。</p>
        <img src="../page/guide/images/service03.jpg" alt="履歴一覧について" />
      </div>
        <div id="edit" class="guidebox">
        <h3>■ 会員情報変更について</h3>
        <p class="marginbottom10">すでに会員登録がお済みで、会員登録内容（パスワード・氏名・電話番号・メールアドレス等）をご変更される場合は、本サイト下段の「会員情報変更」画面からご変更ください。<br />
本サイトでの会員情報の変更受付となります。お客さまのクラブ・オン／ミレニアムカード会員のカード情報は変更されません。</p>
        <img src="../page/guide/images/service04.jpg" alt="会員情報変更について" />
        </div>
        <div id="forget" class="guidebox">
        <h3>■ パスワードをお忘れの場合</h3>
        <p class="marginbottom10">ログイン画面の「パスワードをお忘れの方」からお問い合わせください。ご登録のメールアドレスおよび生年月日をご入力いただくと、パスワード再登録用URLを自動でメール返信いたします。メール受信後24時間以内に指定のURLへアクセスし、新しいパスワードをご登録ください。</p>
        <img src="../page/guide/images/service05.jpg" alt="パスワードをお忘れの場合" />
        </div>
        <div id="rule" class="guidebox">
        <h3>■ 会員規約について</h3>
        <div class="paddingtop20 marginbottom10">
        <h4>第1条（目的）</h4>
			<p class="marginbottom30">本規約は、株式会社そごう・西武（以下「当社」といいます）がインターネット上の当社ホームページにより提供するサービス「ロイヤル・プラチナ セレクション」（以下「本サービス」といいます）を「ロイヤル・プラチナ 会員」（以下「会員」といいます）が利用するための条件を定めたものです。</p>
			
			<h4>第2条（会員の定義）</h4>
			<p class="marginbottom30">会員とは、本規約に同意のうえ入会を申請し、当社が承諾した者とします。</p>
			
			<h4>第3条（入会・退会）</h4>
			<p>会員への登録希望者は、当社ホームページ上の入会登録画面において個人情報及びその他必要な情報を入力し、入会登録をした時点で、本規約の内容を承諾したものとします。<br />
			また、会員は、入会登録後、当社ホームページ上の退会登録画面において、随時退会の手続きを行うことができるものとします。<br />
			当社は、次の場合を除き、入会希望者の登録を承諾するものとします。</p>
			<ul  class="marginbottom30">
				<li>過去に本規約に基づき会員資格を剥奪されている場合</li>
				<li>申込内容に虚偽の申請があった場合</li>
				<li>その他、当社が会員として不適切と判断した場合</li>
			</ul>
			
			<h4>第4条（ID・パスワード）</h4>
			<p class="marginbottom30">会員は、入会後、承認・登録されたID及びパスワードを使用して本サービスを受けることができます。また、会員は、自己の責任においてID及びパスワードを管理するものとします。<br />
			会員は、ID及びパスワードを第三者へ譲渡、名義変更、貸与することはできません。<br />
			当社は、会員によるID及びパスワードの使用上の過失、ならびに第三者の利用による会員の損害については、一切の責任を負わないものとします。</p>
			
			<h4>第5条（会員の個人情報）</h4>
			<p>会員は、入会時に登録する全ての情報に関して、真実かつ正確な情報を申告するものとします。<br />
			当社は、会員が入会登録時に申告した個人情報（以下「個人情報」といいます）を、次の目的で使用します。</p>
			<ul>
				<li>本サービスの受付、本サービスの提供に係る業務（商品配送など）、それに付随した連絡</li>
				<li>当社からのメール、DMによる案内送付（なお、案内内容は本サービスに限りません）</li>
				<li>会員に対するご意見、ご感想、アンケート等の依頼</li>
				<li>特典、その他サービスの提供</li>
				<li>マーケティングデータの作成</li>
				<li>前記各項のほか、会員の事前の同意を得た場合</li>
			</ul>
			<p>会員は、その登録情報（氏名、電話番号、メールアドレスなど）に変更が生じた場合、速やかに当社ホームページ上より会員ログインの上、変更するものとします。<br />
			当社は、会員が申告した個人情報について、不正なアクセス・改ざん・破壊・漏洩等が生じないよう、合理的な範囲で厳重に管理するものとします。<br />
			当社は、会員が申告した個人情報について、以下の場合を除き第三者に開示しないものとします。</p>
<ul  class="marginbottom30">
				<li>司法機関または行政機関から法的義務を伴う開示要請を受けた場合</li>
				<li>第２項記載の使用目的のために、当社が業務を委託する会社に対し開示が必要な場合</li>
				<li>会員の生命、健康、財産等の重大な利益を保護するために必要な場合</li>
			</ul>
			
			<h4>第6条（禁止事項）</h4>
			<p>会員は、当社ホームページで提供する店舗及び商品等に関する情報について、本サービスの利用以外の目的で利用してはならないものとします。<br />
			当社は、会員が当社ホームページによるサービスを利用するにあたり、会員の次の行為を禁止します。</p>
			<ul class="marginbottom30">
				<li>他の会員、第三者または当社の著作権、商標権等の知的財産権、肖像権、プライバシーもしくはその他の権利を侵害する行為、及び侵害するおそれのある行為</li>
				<li>前項の他、他の会員、第三者または当社に不利益もしくは損害を与える行為、及び与えるおそれのある行為</li>
				<li>公序良俗に反する行為、もしくはそのおそれのある行為、または公序良俗に反する情報を他の会員または第三者に提供する行為</li>
				<li>IDまたはパスワードを不正に使用する行為</li>
				<li>コンピュータウィルス等の有害なプログラムを、本サービスを通じてまたは本サービスに関連して、使用し、もしくは提供する行為</li>
				<li>法令に違反する、または違反するおそれのある行為</li>
				<li>その他、当社が不適切と判断する行為</li>
			</ul>
			
			<h4>第7条（サービスの運営、中断・停止及び内容の変更）</h4>
			<p>当社は、本サービスの運営に関して裁量権を有しており、本サービス上の利用を監視し、もしくは一部変更し、またはアクセス制限等の措置をとることができるものとします。<br />
			当社は、次の何れかに該当する場合、自らの判断により本サービスの運用の全部または一部を中断または停止することができるものとします。</p>
			<ul class="marginbottom30">
				<li>天災地変、その他の非常事態が発生した場合、または、発生するおそれがある場合</li>
				<li>本サービスに関連して、当社が設置または管理する設備の保守を定期的にもしくは緊急に行う場合</li>
				<li>当社が設置または管理する設備の異状、故障、障害その他本サービスを会員に提供できない事由が生じた場合</li>
				<li>その他当社がやむをえないと判断した場合</li>
				<li>当社は、理由の如何を問わず、本サービスの提供の中断もしくは停止によって生じた会員の損害につき、一切責任を負わないものとします。</li>
			</ul>
			
			<h4>第8条（著作権等）</h4>
			<p class="marginbottom30">当社がインターネットにより会員に提供する情報（デザイン、画像、映像、音声、文章等を含む）に関する著作権、商標権等の知的財産権及び肖像権は、当社または当社に対して当該情報を提供した第三者に帰属するものとします。<br />
会員は、当該権利者の承諾を得ないで、いかなる方法においても、本サービスを通じて提供される情報について、著作権法で定める会員個人の私的利用の範囲を超えて、使用することはできないものとします。</p>
			
		<h4>第9条（免責）</h4>
			<p class="marginbottom30">当社は、インターネットにより提供するサービスの内容等について、その完全性、正確性、確実性、有用性等につき、保証しないものとします。<br />
			当社は、提供するサービスの変更、追加、停止、中止、その他提供するサービスに関連して会員に生じた損害について、本規約及びその他の規定等に明示的に定める場合を除き、一切の責任を負わないものとします。</p>
			
			<h4>第10条（会員資格の停止、抹消）</h4>
			<p>会員が次の項目のいずれかに該当した場合、当社は、会員へ事前に通知することなく、直ちにそのサービスの利用停止または会員資格の抹消を行うことができるものとします。</p>
			<ul class="marginbottom30">
				<li>ID・パスワードを不正使用したとき</li>
				<li>入会申請内容に虚偽の事項があったことが判明したとき</li>
				<li>会員の所在が弊社に不明となり連絡がとれない場合</li>
				<li>会員が２年以上ログインせずメール配信も希望しない場合、もしくは登録メールアドレスにメールが配信できない場合</li>
				<li>当社が、会員として不適格と判断したとき</li>
				<li>前記各項の他、本規約に違反したとき</li>
			</ul>
			
			<h4>第11条（準拠法）</h4>
			<p class="marginbottom30">本規約の成立、効力、履行及び解釈に関しては、日本法が適用されるものとします。</p>
			
			
			<h4>第12条（合意管轄裁判所）</h4>
			<p class="marginbottom30">本規約に関連して会員と当社との間で争いが生じた場合は、会員と当社との間で誠意をもって協議し、解決するものとします。<br />
			前項に基づき協議したにもかかわらず、会員と当社との間の紛争が解決できなかった場合は、東京地方裁判所を第一審の専属的管轄裁判所とします。</p>
			
			<h4>第13条（規約の変更）</h4>
			<p class="marginbottom30">当社は、会員の事前の承諾なしに任意にこの規約を変更できるものとします。変更後の会員規約は、当社から会員に通知した時点から効力が生じるものとします。</p>
			
			<p>※付則本規約は、2011年9月1日より適用</p>
			
        </div>
        </div>
    </div>
  </div>
  <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}


</body>
</html>
