<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>ロイヤル・プラチナ セレクション会員サービスについて | ご利用ガイド | ROYAL PLATINUM SELECTION</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="../page/guide/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/guide/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/guide/css/fontsizesmall.css" type="text/css" title="text size small" />
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="guidesearch">
{%%authheader%%}

<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li><a href="./?f=page/guide/index&{%%svid%%}">ご利用ガイド</a></li>
  <li id="presentLocation">「お試しでご利用」について</li>
</ul>
<div id="main">
  <h1>ご利用ガイド</h1>
  <div id="guideWrapper">
    <div id="guideleft">
      <div class="sideintro">
        <ul>
          <li><a href="./?f=page/guide/introduction&{%%svid%%}">本サイトについて</a></li>
        </ul>
      </div>
      <div class="sidebar">
        <ul>
          <li><a href="./?f=page/guide/basic&{%%svid%%}">基本的なご利用方法</a></li>
          <li><a href="./?f=page/guide/search&{%%svid%%}">商品の探し方</a></li>
          <li class="Linetwo"><a href="./?f=page/guide/flow&{%%svid%%}"> お買い物までの<br />
            基本的な流れ</a> </li>
          <li><a href="./?f=page/guide/item&{%%svid%%}">お取り扱い商品について</a></li>
          <li class="Linethree borderless"><a href="./?f=page/guide/service&{%%svid%%}">ロイヤル・プラチナ<br>
                セレクション<br>
                会員サービスについて</a></li>
        </ul>
      </div>
			<div class="sidetrial">
				<ul>
					<li class="Linetwo"><span>「お試しでご利用」について</span></li>
				</ul>
			</div>
    </div>
    <div id="guidemainWrapper">
      <h2 class="trialh2">「お試しでご利用」について</h2>
      <ul class="anchorList">
        <li><a href="#about">「お試しでご利用」とは</a></li>
        <li><a href="#login">「お試しでご利用」のログイン方法</a></li>
        <li><a href="#inquiry">商品お問い合わせについて</a></li>
        <li><a href="#entry">会員登録について</a></li>
      </ul>
      <div id="about" class="guidebox">
        <h3>■「お試しでご利用」とは</h3>
        <p class="marginbottom10">ロイヤル・プラチナ セレクションは、お得意さまとそのご家族さまだけに特別な商品やサービスをご案内する会員制サイトです。「お試しでご利用」とは、まずは商品ラインアップを見てみたいというお客さまのための、閲覧のみご利用いただけるサービスです。<br />
（担当者にお問い合わせいただく等、本サイトのサービスすべてをご利用いただくためには、会員登録が必要です。ただし、一部のお客さまには会員登録いただけない場合がございます。あらかじめご了承ください。）</p>
      </div>
      <div id="login" class="guidebox">
        <h3>■「お試しでご利用」のログイン方法</h3>
        <p class="marginbottom10">ログインページの「初めての方はこちらから」からお入りいただき、「お試しでご利用」をクリックしてください。クラブ・オン／ミレニアムカード セゾン ゴールド裏面の、15桁の会員番号でログインしていただけます。</p>
      </div>
      <div id="inquiry" class="guidebox">
        <h3>■ 商品お問い合わせについて</h3>
        <p class="marginbottom10">「お試しでご利用」は閲覧のみご利用いただけるサービスです。商品についてお問い合わせいただく場合などは、本登録が必要となります。ログインページの「初めての方はこちらから」より「会員登録」にお進みいただくか、各ページ上部のカテゴリーナビゲーションの右端、もしくは商品ページ下部の「会員登録」をクリックいただき、ご登録をお願い致します。</p>
      </div>
      <div id="entry" class="guidebox">
        <h3>■ 会員登録について</h3>
        <p class="marginbottom10">会員登録について、くわしくは<a href="./?f=page/guide/service&{%%svid%%}#regist">こちら</a>をご覧ください。</p>
      </div>

    </div>
  </div>
  <p class="gotoPagetop"><a href="#sogo_seibu">このページのトップへ戻る</a></p>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}


</body>
</html>
