<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の逸品会特別企画プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017_2/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}">春の逸品会特別企画プレゼントキャンペーン</a></li>
<li id="presentLocation">応募ページ</li>
</ul>

<!-- main -->
<div id="main" class="entry">

	<div id="main_sec01">
		<h1><img src="../page/sp_spring2017_2/images/entry_01_ttl.gif" alt="応募ページ"></h1>
		<p>各パートごとに、5つのお花がすべて色づくと、プレゼントにご応募いただけます。<br />
		それぞれ1回、最大3回のご応募が可能です。</p>
	</div>
	
	<div id="main_sec02">
		<div class="in">
			<ul id="ul_part">
				<li class="li_part" id="li_part1">
					<h2><img src="../page/sp_spring2017_2/images/entry_02_sttl01.png" alt="Part1 ファッションを楽しもう"></h2>
					<div class="btn01"><a href="/rps/static/?f=page/sp_spring2017_2/part1&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn01_01.png" alt="メッセージに戻る"></a></div>
					<ul>
						<li class="li01" data-num="1_1"><img src="../page/sp_spring2017_2/images/entry_02_ico01_01_on.png" alt="アイテム1"></li>
						<li class="li02" data-num="1_2"><img src="../page/sp_spring2017_2/images/entry_02_ico01_02_on.png" alt="アイテム2"></li>
						<li class="li03" data-num="1_3"><img src="../page/sp_spring2017_2/images/entry_02_ico01_03_on.png" alt="アイテム3"></li>
						<li class="li04" data-num="1_4"><img src="../page/sp_spring2017_2/images/entry_02_ico01_04_on.png" alt="アイテム4"></li>
						<li class="li05" data-num="1_5"><img src="../page/sp_spring2017_2/images/entry_02_ico01_05_on.png" alt="アイテム5"></li>
					</ul>
					<div class="btn02"><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn02_01.png" alt="応募する"></a></div>
				</li>
				<li class="li_part" id="li_part2">
					<h2><img src="../page/sp_spring2017_2/images/entry_02_sttl02.png" alt="Part2 お部屋を飾ろう"></h2>
					<!--<div class="btn01"><a href="/rps/static/?f=page/sp_spring2017_2/part2&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn01_02.png" alt="メッセージに戻る"></a></div>-->
					<div class="btn01"><img src="../page/sp_spring2017_2/images/entry_02_btn01_02_cs.png" alt="3月6日（金）から"></div>
					<ul>
						<li class="li01" data-num="2_1"><img src="../page/sp_spring2017_2/images/entry_02_ico02_01_on.png" alt="アイテム1"></li>
						<li class="li02" data-num="2_2"><img src="../page/sp_spring2017_2/images/entry_02_ico02_02_on.png" alt="アイテム2"></li>
						<li class="li03" data-num="2_3"><img src="../page/sp_spring2017_2/images/entry_02_ico02_03_on.png" alt="アイテム3"></li>
						<li class="li04" data-num="2_4"><img src="../page/sp_spring2017_2/images/entry_02_ico02_04_on.png" alt="アイテム4"></li>
						<li class="li05" data-num="2_5"><img src="../page/sp_spring2017_2/images/entry_02_ico02_05_on.png" alt="アイテム5"></li>
					</ul>
					<div class="btn02"><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn02_02.png" alt="応募する"></a></div>
				</li>
				<li class="li_part" id="li_part3">
					<h2><img src="../page/sp_spring2017_2/images/entry_02_sttl03.png" alt="Part3 外へ出かけよう"></h2>
					<!--<div class="btn01"><a href="/rps/static/?f=page/sp_spring2017_2/part3&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn01_03.png" alt="メッセージに戻る"></a></div>-->
					<div class="btn01"><img src="../page/sp_spring2017_2/images/entry_02_btn01_03_cs.png" alt="3月17日（金）から"></div>
					<ul>
						<li class="li01" data-num="3_1"><img src="../page/sp_spring2017_2/images/entry_02_ico03_01_on.png" alt="アイテム1"></li>
						<li class="li02" data-num="3_2"><img src="../page/sp_spring2017_2/images/entry_02_ico03_02_on.png" alt="アイテム2"></li>
						<li class="li03" data-num="3_3"><img src="../page/sp_spring2017_2/images/entry_02_ico03_03_on.png" alt="アイテム3"></li>
						<li class="li04" data-num="3_4"><img src="../page/sp_spring2017_2/images/entry_02_ico03_04_on.png" alt="アイテム4"></li>
						<li class="li05" data-num="3_5"><img src="../page/sp_spring2017_2/images/entry_02_ico03_05_on.png" alt="アイテム5"></li>
					</ul>
					<div class="btn02"><a href="../detail/?a=Item_detail&id=0000&{%%svid%%}"><img src="../page/sp_spring2017_2/images/entry_02_btn02_03.png" alt="応募する"></a></div>
				</li>
			</ul>
			<ul class="ul_note">
				<li>※お花に色が付かない、応募ボタンが表示されない場合は、<a href="/rps/static/?f=page/sp_spring2017_2/note&{%%svid%%}">こちら</a>をご確認ください。</li>
				<li>※抽選結果は当選された方のみ、3月29日（水）にメールでご案内いたします。</li>
			</ul>
		</div>
	</div>

	
	<div id="main_bottom">
		<ul><!--
			--><li class="li_index"><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn04.png" alt="キャンペーントップへ戻る"></a></li><!--
			--><li class="li_present"><a href="/rps/static/?f=page/sp_spring2017_2/present&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn02.png" alt="プレゼント内容はこちら"></a></li><!--
		--></ul>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
