<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の逸品会特別企画プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017_2/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">春の逸品会特別企画プレゼントキャンペーン</li>
</ul>

<!-- main -->
<div id="main" class="index">

	<div id="main_header">
		<p><img src="../page/sp_spring2017_2/images/index_hd_txt01.png" alt="春の逸品会特別企画プレゼントキャンペーン"></p>
	</div>
	
	<div id="main_sec01">
		<div class="in">
			<p class="txt01"><img src="../page/sp_spring2017_2/images/index_01_txt01.png" alt="あなたの、春のラッキーカラーを見つけてください！"></p>
			<h1><img src="../page/sp_spring2017_2/images/index_01_ttl.png" alt="色んな花を咲かせて、プレゼントが当たる！"></h1>
			<p class="txt02"><img src="../page/sp_spring2017_2/images/index_01_txt02.png" alt="開催期間：2月22日（水）→3月26日（日）"></p>
			<p class="txt03">鮮やかな季節に、あなたのラッキーカラーを見つけて、春を満喫しませんか。<br />
			本キャンペーンでは、おすすめのラッキーカラーアイテムを3つのテーマでご紹介。<br />
			見つけるたびに、春のお花が色づいていきます。満開にして、素敵なプレゼントにご応募ください。</p>
		</div>
	</div>
	
	<div id="main_sec02">
		<div class="in">
			<ul>
				<li class="li01">
					<h2><img src="../page/sp_spring2017_2/images/index_02_txt01_01.png" alt="Part1"></h2>
					<h3><img src="../page/sp_spring2017_2/images/index_02_txt02_01.png" alt="ファッションを楽しもう"></h3>
					<div class="btn"><a href="/rps/static/?f=page/sp_spring2017_2/part1&{%%svid%%}"><span class="txt_n">おすすめアイテムを見に行く</span></a></div>
				</li>
				<li class="li02">
					<h2><img src="../page/sp_spring2017_2/images/index_02_txt01_02.png" alt="Part2"></h2>
					<h3><img src="../page/sp_spring2017_2/images/index_02_txt02_02.png" alt="お部屋を色で飾ろう"></h3>
					<div class="btn"><img src="../page/sp_spring2017_2/images/index_02_btn02_cs.png" alt="3月6日（金）から"></div>
					<!--<div class="btn"><a href="/rps/static/?f=page/sp_spring2017_2/part2&{%%svid%%}"><span class="txt_n">おすすめアイテムを見に行く</span></a></div>-->
				</li>
				<li class="li03">
					<h2><img src="../page/sp_spring2017_2/images/index_02_txt01_03.png" alt="Part3"></h2>
					<h3><img src="../page/sp_spring2017_2/images/index_02_txt02_03.png" alt="外へ出かけよう"></h3>
					<div class="btn"><img src="../page/sp_spring2017_2/images/index_02_btn03_cs.png" alt="3月17日（金）から"></div>
					<!--<div class="btn"><a href="/rps/static/?f=page/sp_spring2017_2/part3&{%%svid%%}"><span class="txt_n">おすすめアイテムを見に行く</span></a></div>-->
				</li>
			</ul>
		</div>
	</div>

	<div id="main_bottom">
		<ul><!--
			--><li class="li_entry"><a href="/rps/static/?f=page/sp_spring2017_2/entry&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn01.png" alt="応募ページはこちら"></a></li><!--
			--><li class="li_present"><a href="/rps/static/?f=page/sp_spring2017_2/present&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn02.png" alt="プレゼント内容はこちら"></a></li><!--
			--><li class="li_spring2017"><a href="../?{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn03.png" alt="逸品会トップへ"></a></li><!--
		--></ul>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
