<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の逸品会特別企画プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017_2/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}">春の逸品会特別企画プレゼントキャンペーン</a></li>
<li id="presentLocation">ご参加に際しての注意</li>
</ul>

<!-- main -->
<div id="main" class="note">

	<div id="main_sec01">
		<h1><img src="../page/sp_spring2017_2/images/note_ttl.gif" alt="ご参加に際しての注意"></h1>
	</div>

	<div id="main_sec02">
		<div class="in clfx">
			<ul>
				<li>
					<p>※本キャンペーンは、LocalStorage（ローカルストレージ）、JavaScript（ジャバスクリプト）を使用しております。<br />
					LocalStorage（ローカルストレージ）とは、コンピューターのハードディスクに閲覧履歴情報を記録する機能のことで、その記録にお客さまの個人情報は含みません。</p>
				</li>
				<li>
					<p>※ブラウザのLocalStorage（ローカルストレージ）、JavaScript（ジャバスクリプト）の設定は、通常有効となっております。お客さまのご都合で無効にされている際は、本キャンペーンをご利用いただけない場合がございます。</p>
				</li>
				<li>
					<p>※本キャンペーンは、以下のブラウザ以外では正しく動作しない場合がございます。</p>
					<dl>
						<dt>&#9632;推奨環境（パソコンをご利用の方）</dt>
			 			<dd>
							<ul>
								<li>・Internet Explorer8以降</li>
								<li>・Mozilla Firefox最新</li>
								<li>・GoogleChrome最新</li>
							</ul>
						</dd>
					</dl>
				</li>
				<li>
					<p>※上記の条件を満たしていても、お客さま固有の環境によってはご利用になれない場合がございますので、あらかじめご了承ください。</p>
				</li>
				<li>
					<p>※ご不明な点がございましたら、下記のボタンからお問い合わせください。</p>
				</li>
			</ul>
			<div class="btn"><a href="/rps/?a=InquiryInput&{%%svid%%}"><img src="../page/sp_spring2017_2/images/note_btn.gif" alt="お問い合わせ" /></a></div>
		</div>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
