<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の逸品会特別企画プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017_2/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}">春の逸品会特別企画プレゼントキャンペーン</a></li>
<li id="presentLocation">Part1 ファッションを楽しもう</li>
</ul>

<!-- main -->
<div id="main" class="part1">

	<div id="main_sec01">
		<h1><img src="../page/sp_spring2017_2/images/part1_01_ttl.png" alt="Part1 ファッションを楽しもう"></h1>
		<p>下記5つのメッセージに従って、ラッキーカラーアイテムを見つけてください。<br />
		<a href="/rps/static/?f=page/sp_spring2017_2/entry&{%%svid%%}">応募ページ</a>の、<span class="strong">「バラ」</span>の花が色づいていきます。<br />
		5つのお花すべてに色が付くと、プレゼントにご応募いただけます。</p>
	</div>

	<div id="main_sec02">
		<div id="main_sec02in">
			<div class="in">
				<h2><img src="../page/sp_spring2017_2/images/part1_02_ttl.gif" alt="メッセージ"></h2>
				<ul>
					<li class="li01" data-num="1_1">
						<div class="figure"><img src="../page/sp_spring2017_2/images/part1_02_img00.png" alt></div>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/part1_02_img01.png" alt="赤色の花言葉：情熱、愛情"></p>
						<h3><img src="../page/sp_spring2017_2/images/part1_02_sttl01.gif" alt="ラッキーカラーアイテム1"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/part1_02_txt01.gif" alt="ボッテガ・ヴェネタ ベイビーの名前通り小ぶりでアクセントに使える「赤いバッグ」"></p>
						<div class="btn"><a href="/rps/static/?f=page/luxury/bottega/index&{%%svid%%}"><img src="../page/sp_spring2017_2/images/part1_02_btn01.png" alt="おすすめアイテムを探す"></a></div>
					</li>
					<li class="li02" data-num="1_2">
						<div class="figure"><img src="../page/sp_spring2017_2/images/part1_02_img00.png" alt></div>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/part1_02_img02.png" alt="青色の花言葉：神の祝福、奇跡"></p>
						<h3><img src="../page/sp_spring2017_2/images/part1_02_sttl02.gif" alt="ラッキーカラーアイテム2"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/part1_02_txt02.gif" alt="ショパール 揺れるダイヤモンドが映えるとびきり爽やかな「青い時計」"></p>
						<div class="btn"><a href="/rps/static/?f=page/spring2017/index_worldwatch&{%%svid%%}#anchor02"><img src="../page/sp_spring2017_2/images/part1_02_btn01.png" alt="おすすめアイテムを探す"></a></div>
					</li>
					<li class="li03" data-num="1_3">
						<div class="figure"><img src="../page/sp_spring2017_2/images/part1_02_img00.png" alt></div>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/part1_02_img03.png" alt="白色の花言葉：心からの尊敬、無邪気、純潔"></p>
						<h3><img src="../page/sp_spring2017_2/images/part1_02_sttl03.gif" alt="ラッキーカラーアイテム3"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/part1_02_txt03.gif" alt="ミキモト パールが水しぶきのように弾ける艶やかな「純白のネックレス」"></p>
						<div class="btn"><a href="/rps/static/?f=page/spring2017/index_jewelry&{%%svid%%}#anchor03"><img src="../page/sp_spring2017_2/images/part1_02_btn01.png" alt="おすすめアイテムを探す"></a></div>
					</li>
					<li class="li04" data-num="1_4">
						<div class="figure"><img src="../page/sp_spring2017_2/images/part1_02_img00.png" alt></div>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/part1_02_img04.png" alt="ピンク色の花言葉：美しい少女、しとやか、温かい心"></p>
						<h3><img src="../page/sp_spring2017_2/images/part1_02_sttl04.gif" alt="ラッキーカラーアイテム4"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/part1_02_txt04.gif" alt="マックスマーラ 羽のように軽い着心地でお出掛けが楽しくなる「ピンクのコート」"></p>
						<div class="btn"><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category106"><img src="../page/sp_spring2017_2/images/part1_02_btn01.png" alt="おすすめアイテムを探す"></a></div>
					</li>
					<li class="li05" data-num="1_5">
						<div class="figure"><img src="../page/sp_spring2017_2/images/part1_02_img00.png" alt></div>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/part1_02_img05.png" alt="ベージュ色の花言葉：成熟した愛"></p>
						<h3><img src="../page/sp_spring2017_2/images/part1_02_sttl05.gif" alt="ラッキーカラーアイテム5"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/part1_02_txt05.gif" alt="フォクシー リネンのナチュラルな美しさが漂う清楚な「ベージュのドレス」"></p>
						<div class="btn"><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category106"><img src="../page/sp_spring2017_2/images/part1_02_btn01.png" alt="おすすめアイテムを探す"></a></div>
					</li>
				</ul>
				<div class="figure01"><img src="../page/sp_spring2017_2/images/part1_02_fig01.jpg" alt></div>
				<div class="figure02"><img src="../page/sp_spring2017_2/images/part1_02_fig02.jpg" alt></div>
			</div>
		</div>
	</div>
	
	<div id="main_bottom">
		<ul><!--
			--><li class="li_index"><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn04.png" alt="キャンペーントップへ戻る"></a></li><!--
			--><li class="li_entry"><a href="/rps/static/?f=page/sp_spring2017_2/entry&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn01.png" alt="応募ページはこちら"></a></li><!--
			--><li class="li_present"><a href="/rps/static/?f=page/sp_spring2017_2/present&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn02.png" alt="プレゼント内容はこちら"></a></li><!--
		--></ul>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
