<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>春の逸品会特別企画プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017_2/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017_2/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017_2/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}">春の逸品会特別企画プレゼントキャンペーン</a></li>
<li id="presentLocation">プレゼント内容</li>
</ul>

<!-- main -->
<div id="main" class="present">
	<div id="main_sec01">
		<div id="main_sec01in">
			<h1><img src="../page/sp_spring2017_2/images/present_01_ttl.png" alt="プレゼント内容"></h1>
			<p>賞品は下記の4つをご用意。お好きな賞品にご応募いただけます。<br />
			抽選で、合計110名さまに当たります。</p>
		</div>
	</div>

	<div id="main_sec02">
		<div class="in">
			<ul class="ul_cnts">
				<li>
					<div class="block block01">
						<h2><img src="../page/sp_spring2017_2/images/present_02_ttl01.jpg" alt="A賞"></h2>
					</div>
					<div class="block block02">
						<h3><img src="../page/sp_spring2017_2/images/present_02_txt01_01.gif" alt="選べる「オーベルジュ」宿泊ペアチケット"></h3>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/present_02_txt01_02.gif" alt="箱根の「オーベルジュ オー・ミラドー」や信州の「オーベルジュ ドゥ シェ・マリー」など、全国7ヵ所のオーベルジュからお好きな場所をお選びいただけます。"></p>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/present_02_txt01_03.gif" alt="2組4名さま"></p>
						<p class="txt03"><img src="../page/sp_spring2017_2/images/present_02_txt01_04.gif" alt="除外日など、くわしくは当選された際にご案内いたします。"></p>
					</div>
					<div class="block block03">
						<div class="figure"><img src="../page/sp_spring2017_2/images/present_02_img01.jpg" alt></div>
						<p class="txt04"><img src="../page/sp_spring2017_2/images/present_02_txt01_05.gif" alt="※写真はイメージです。"></p>
					</div>
				</li>
				<li>
					<div class="block block01">
						<h2><img src="../page/sp_spring2017_2/images/present_02_ttl02.jpg" alt="B賞"></h2>
					</div>
					<div class="block block02">
						<h3><img src="../page/sp_spring2017_2/images/present_02_txt02_01.gif" alt="選べる「おもてなしの宿」宿泊ペアチケット"></h3>
						<p class="txt01"><img src="../page/sp_spring2017_2/images/present_02_txt02_02.gif" alt="「星野リゾート 奥入瀬渓流ホテル」や「ホテル椿山荘東京」など、日本各地から厳選しした宿からお好きな場所をお選びいただけます。"></p>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/present_02_txt02_03.gif" alt="3組6名さま"></p>
						<p class="txt03"><img src="../page/sp_spring2017_2/images/present_02_txt01_04.gif" alt="除外日など、くわしくは当選された際にご案内いたします。"></p>
					</div>
					<div class="block block03">
						<div class="figure"><img src="../page/sp_spring2017_2/images/present_02_img02.jpg" alt></div>
						<p class="txt04"><img src="../page/sp_spring2017_2/images/present_02_txt01_05.gif" alt="※写真はイメージです。"></p>
					</div>
				</li>
				<li>
					<div class="block block01">
						<h2><img src="../page/sp_spring2017_2/images/present_02_ttl03.jpg" alt="C賞"></h2>
					</div>
					<div class="block block02">
						<p class="txt01"><img src="../page/sp_spring2017_2/images/present_02_txt03_02.gif" alt="東京スカイツリー(R)展望デッキにある、江戸東京を一望できる展望レストラン"></p>
						<h3><img src="../page/sp_spring2017_2/images/present_02_txt03_01.gif" alt="「スカイレストラン634」ランチペアお食事券"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/present_02_txt03_03.gif" alt="5組10名さま"></p>
						<p class="txt03"><img src="../page/sp_spring2017_2/images/present_02_txt03_04.gif" alt="満席時にはご利用いただけない場合がございます。"></p>
					</div>
					<div class="block block03">
						<div class="figure"><img src="../page/sp_spring2017_2/images/present_02_img03.jpg" alt></div>
						<p class="txt04"><img src="../page/sp_spring2017_2/images/present_02_txt01_05.gif" alt="※写真はイメージです。"></p>
					</div>
				</li>
				<li>
					<div class="block block01">
						<h2><img src="../page/sp_spring2017_2/images/present_02_ttl04.jpg" alt="ラッキー賞"></h2>
					</div>
					<div class="block block02">
						<h3><img src="../page/sp_spring2017_2/images/present_02_txt04_01.gif" alt="「日比谷花壇」四つ葉のクローバー栽培セット"></h3>
						<p class="txt02"><img src="../page/sp_spring2017_2/images/present_02_txt04_02.gif" alt="90名さま"></p>
					</div>
					<div class="block block03">
						<div class="figure"><img src="../page/sp_spring2017_2/images/present_02_img04.jpg" alt></div>
						<p class="txt04"><img src="../page/sp_spring2017_2/images/present_02_txt01_05.gif" alt="※写真はイメージです。"></p>
					</div>
				</li>
			</ul>
			<ul class="ul_note">
				<li>※抽選結果は当選された方のみ、3月29日（水）にメールでご案内いたします。</li>
				<li>※写真はイメージです。</li>
			</ul>
		</div>
	</div>
	
	<div id="main_bottom">
		<ul><!--
			--><li class="li_index"><a href="/rps/static/?f=page/sp_spring2017_2/index&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn04.png" alt="キャンペーントップへ戻る"></a></li><!--
			--><li class="li_entry"><a href="/rps/static/?f=page/sp_spring2017_2/entry&{%%svid%%}"><img src="../page/sp_spring2017_2/images/index_bottom_btn01.png" alt="応募ページはこちら"></a></li><!--
		--></ul>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
