@charset "EUC-JP";

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main*/
#main {
	position:relative;
	width:100%;
	background:url(../images/cmn_bg02.jpg);
	margin-bottom:10px;
	padding-bottom:100px;
}
#main .in {
	width:950px;
	margin:0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
@media screen and (min-width:1px) {
	#main a:hover img,
	#main .hover:hover {
		opacity:.7;
		filter:alpha(opacity=70);
		-ms-filter: "alpha( opacity=70 )";
		cursor:pointer;
	}
}

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common_header
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#header .cnts01 {
	background:#730206;
	padding:15px 0;
}
#header .cnts02 {
	background:#830309;
}
#header .cnts02 .in {
	position:relative;
	height:64px;
}
#header .cnts02 ul li {
	position:absolute;
	top:21px;
}
#header .cnts02 ul li.li01 {
	left:50px;
}
#header .cnts02 ul li.li02 {
	left:374px;
	cursor:pointer;
}
#header .cnts02 ul li.li03 {
	left:706px;
}
@media screen and (min-width:1px) {
	#header .cnts02 ul li.li02 img:hover {
		opacity:.7;
		filter:alpha(opacity=70);
		-ms-filter: "alpha( opacity=70 )";
	}
}

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common_modal
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#modal {
	display:none;
	position:absolute;
	left:50%;
	top:135px;
	width:850px;
	margin-left:-425px;
	z-index:1000;
}
#modal .modal_close {
	position:absolute;
	right:16px;
	top:16px;
	cursor:pointer;
}
@media screen and (min-width:1px) {
	#modal .modal_close:hover {
		opacity:.7;
		filter:alpha(opacity=70);
		-ms-filter: "alpha( opacity=70 )";
	}
}
#modal .btn {
	position:absolute;
	left:305px;
	bottom:40px;
}
#modal_ov {
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/cmn_modal_bg01.png);
	z-index:900;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
index
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*sec_header*/
#main.index #sec_header {
	text-align:center;
	background:url(../images/cmn_bg01.jpg) no-repeat center top;
	box-sizing:border-box;
	height:505px;
	padding-top:28px;
}

/*sec01*/
#main.index #sec01 {
	position:relative;
	padding-top:34px;
}
#main.index #sec01:after {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:310px;
	left:0;
	top:-292px;
	background:url(../images/index_01_bg01.png) no-repeat center top;
}
#main.index #sec01 ul li {
	position:relative;
	width:284px;
	height:348px;
	float:left;
	margin-left:49px;
}
#main.index #sec01 ul li.li01 {
	background:url(../images/index_01_img01.jpg) no-repeat center top;
	margin-left:0;
}
#main.index #sec01 ul li.li02 {
	background:url(../images/index_01_img02.jpg) no-repeat center top;
}
#main.index #sec01 ul li.li03 {
	background:url(../images/index_01_img03.jpg) no-repeat center top;
}
#main.index #sec01 ul li a {
	display:block;
	position:absolute;
	left:38px;
	top:260px;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
step1
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*sec_header*/
#main.step1 {
	padding-bottom:0;
}
#main.step1 #sec_header {
	position:relative;
	text-align:center;
	background:url(../images/cmn_bg01.jpg) no-repeat center top;
	box-sizing:border-box;
	height:336px;
	padding-top:37px;
}
#main.step1 #sec_header:after {
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:70px;
	background:url(../images/cmn_bg03.png) no-repeat center top;
	background-size:100% 100%;
}
#main.step1 #sec01 {
	text-align:center;
	padding-top:18px;
	margin-bottom:60px;
}
#main.step1 #sec02 {
	background:url(../images/step1_02_bg01.jpg) no-repeat center bottom;
	padding-bottom:110px;
}
#main.step1 #sec02 h3 {
	text-align:center;
	margin-bottom:15px;
}
#main.step1 #sec02 ul {
	position:relative;
	height:952px;
}
#main.step1 #sec02 ul li {
	position:absolute;
	background-repeat:no-repeat;
	box-sizing:border-box;
}
#main.step1 #sec02 ul li.li01 {
	left:-17px;
	top:0;
	width:444px;
	height:277px;
	background-image:url(../images/step1_02_img01.png);
	padding:200px 0 0 70px;
}
#main.step1 #sec02 ul li.li02 {
	left:490px;
	top:110px;
	width:460px;
	height:277px;
	background-image:url(../images/step1_02_img02.png);
	padding:186px 0 0 89px;
}
#main.step1 #sec02 ul li.li03 {
	left:25px;
	top:290px;
	width:432px;
	height:315px;
	background-image:url(../images/step1_02_img03.png);
	padding:238px 0 0 58px;
}
#main.step1 #sec02 ul li.li04 {
	left:503px;
	top:407px;
	width:432px;
	height:314px;
	background-image:url(../images/step1_02_img04.png);
	padding:238px 0 0 58px;
}
#main.step1 #sec02 ul li.li05 {
	left:-17px;
	top:690px;
	width:444px;
	height:262px;
	background-image:url(../images/step1_02_img05.png);
	padding:176px 0 0 70px;
}
#main.step1 #sec02 ul li.li01.active {
	background-image:url(../images/step1_02_img01_on.png);
}
#main.step1 #sec02 ul li.li02.active {
	background-image:url(../images/step1_02_img02_on.png);
}
#main.step1 #sec02 ul li.li03.active {
	background-image:url(../images/step1_02_img03_on.png);
}
#main.step1 #sec02 ul li.li04.active {
	background-image:url(../images/step1_02_img04_on.png);
}
#main.step1 #sec02 ul li.li05.active {
	background-image:url(../images/step1_02_img05_on.png);
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
step2
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*sec_header*/
#main.step2 {
	padding-bottom:0;
}
#main.step2 #sec_header {
	position:relative;
	text-align:center;
	background:url(../images/cmn_bg04.jpg) no-repeat center -420px;
	box-sizing:border-box;
	height:336px;
	padding-top:37px;
}
#main.step2 #sec_header:after {
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:70px;
	background:url(../images/cmn_bg03.png) no-repeat center top;
	background-size:100% 100%;
}
#main.step2 #sec01 {
	text-align:center;
	padding-top:18px;
	margin-bottom:60px;
}
#main.step2 #sec02 {
	background:url(../images/step1_02_bg01.jpg) no-repeat center bottom;
	padding-bottom:110px;
}
#main.step2 #sec02 h3 {
	text-align:center;
	margin-bottom:15px;
}
#main.step2 #sec02 ul {
	position:relative;
	height:952px;
}
#main.step2 #sec02 ul li {
	position:absolute;
	background-repeat:no-repeat;
	box-sizing:border-box;
}
#main.step2 #sec02 ul li.li01 {
	left:-17px;
	top:0;
	width:444px;
	height:277px;
	background-image:url(../images/step2_02_img01.png);
	padding:200px 0 0 70px;
}
#main.step2 #sec02 ul li.li02 {
	left:490px;
	top:110px;
	width:460px;
	height:277px;
	background-image:url(../images/step2_02_img02.png);
	padding:186px 0 0 89px;
}
#main.step2 #sec02 ul li.li03 {
	left:25px;
	top:290px;
	width:432px;
	height:315px;
	background-image:url(../images/step2_02_img03.png);
	padding:238px 0 0 58px;
}
#main.step2 #sec02 ul li.li04 {
	left:503px;
	top:407px;
	width:432px;
	height:314px;
	background-image:url(../images/step2_02_img04.png);
	padding:238px 0 0 58px;
}
#main.step2 #sec02 ul li.li05 {
	left:-17px;
	top:690px;
	width:444px;
	height:262px;
	background-image:url(../images/step2_02_img05.png);
	padding:176px 0 0 70px;
}
#main.step2 #sec02 ul li.li01.active {
	background-image:url(../images/step2_02_img01_on.png);
}
#main.step2 #sec02 ul li.li02.active {
	background-image:url(../images/step2_02_img02_on.png);
}
#main.step2 #sec02 ul li.li03.active {
	background-image:url(../images/step2_02_img03_on.png);
}
#main.step2 #sec02 ul li.li04.active {
	background-image:url(../images/step2_02_img04_on.png);
}
#main.step2 #sec02 ul li.li05.active {
	background-image:url(../images/step2_02_img05_on.png);
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
step3
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*sec_header*/
#main.step3 {
	padding-bottom:0;
}
#main.step3 #sec_header {
	position:relative;
	text-align:center;
	background:url(../images/cmn_bg05.jpg) no-repeat center -400px;
	box-sizing:border-box;
	height:336px;
	padding-top:37px;
}
#main.step3 #sec_header:after {
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:70px;
	background:url(../images/cmn_bg03.png) no-repeat center top;
	background-size:100% 100%;
}
#main.step3 #sec01 {
	text-align:center;
	padding-top:18px;
	margin-bottom:60px;
}
#main.step3 #sec02 {
	background:url(../images/step1_02_bg01.jpg) no-repeat center bottom;
	padding-bottom:110px;
}
#main.step3 #sec02 h3 {
	text-align:center;
	margin-bottom:15px;
}
#main.step3 #sec02 ul {
	position:relative;
	height:952px;
}
#main.step3 #sec02 ul li {
	position:absolute;
	background-repeat:no-repeat;
	box-sizing:border-box;
}
#main.step3 #sec02 ul li.li01 {
	left:-17px;
	top:0;
	width:444px;
	height:277px;
	background-image:url(../images/step3_02_img01.png);
	padding:200px 0 0 70px;
}
#main.step3 #sec02 ul li.li02 {
	left:490px;
	top:110px;
	width:460px;
	height:277px;
	background-image:url(../images/step3_02_img02.png);
	padding:186px 0 0 89px;
}
#main.step3 #sec02 ul li.li03 {
	left:25px;
	top:290px;
	width:432px;
	height:315px;
	background-image:url(../images/step3_02_img03.png);
	padding:238px 0 0 58px;
}
#main.step3 #sec02 ul li.li04 {
	left:503px;
	top:407px;
	width:432px;
	height:314px;
	background-image:url(../images/step3_02_img04.png);
	padding:238px 0 0 58px;
}
#main.step3 #sec02 ul li.li05 {
	left:-17px;
	top:690px;
	width:444px;
	height:262px;
	background-image:url(../images/step3_02_img05.png);
	padding:176px 0 0 70px;
}
#main.step3 #sec02 ul li.li01.active {
	background-image:url(../images/step3_02_img01_on.png);
}
#main.step3 #sec02 ul li.li02.active {
	background-image:url(../images/step3_02_img02_on.png);
}
#main.step3 #sec02 ul li.li03.active {
	background-image:url(../images/step3_02_img03_on.png);
}
#main.step3 #sec02 ul li.li04.active {
	background-image:url(../images/step3_02_img04_on.png);
}
#main.step3 #sec02 ul li.li05.active {
	background-image:url(../images/step3_02_img05_on.png);
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
entry
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*sec_header*/
#main.entry #sec_header {
	padding-top:68px;
	text-align:center;
	margin-bottom:45px;
}
#main.entry #sec_header .txt01 {
	margin:35px 0 20px;
}

/*sec01*/
#main.entry #sec01 {
	position:relative;
	width:950px;
	height:922px;
	background:url(../images/entry_01_bg01.jpg) no-repeat;
	margin:0 auto 50px;
}
#main.entry #sec01 ul {
	position:absolute;
	left:30px;
}
#main.entry #sec01 ul li {
	display:none;
	position:absolute;
	top:0;
}
#main.entry #sec01 ul.ul01 {top:100px;}
#main.entry #sec01 ul.ul01 li.li01 {left:0;}
#main.entry #sec01 ul.ul01 li.li02 {left:151px;}
#main.entry #sec01 ul.ul01 li.li03 {left:302px;}
#main.entry #sec01 ul.ul01 li.li04 {left:453px;}
#main.entry #sec01 ul.ul01 li.li05 {left:604px;}
#main.entry #sec01 ul.ul01 li.li06 {left:754px;top:9px;}
#main.entry #sec01 ul.ul02 {top:404px;}
#main.entry #sec01 ul.ul02 li.li01 {left:0;}
#main.entry #sec01 ul.ul02 li.li02 {left:142px;}
#main.entry #sec01 ul.ul02 li.li03 {left:302px;}
#main.entry #sec01 ul.ul02 li.li04 {left:453px;}
#main.entry #sec01 ul.ul02 li.li05 {left:604px;}
#main.entry #sec01 ul.ul02 li.li06 {left:754px;top:9px;}
#main.entry #sec01 ul.ul03 {top:708px;}
#main.entry #sec01 ul.ul03 li.li01 {left:0;}
#main.entry #sec01 ul.ul03 li.li02 {left:151px;}
#main.entry #sec01 ul.ul03 li.li03 {left:302px;}
#main.entry #sec01 ul.ul03 li.li04 {left:453px;}
#main.entry #sec01 ul.ul03 li.li05 {left:604px;}
#main.entry #sec01 ul.ul03 li.li06 {left:754px;top:9px;}


/*sec02*/
#main.entry #sec02 {
	position:relative;
	width:890px;
	height:400px;
	background:url(../images/entry_02_bg01.jpg) no-repeat;
	margin:0 auto 25px;
}
#main.entry #sec02 #num01 {
	display:none;
	position:absolute;
	left:550px;
	top:47px;
	width:43px;
	height:54px;
	background:url(../images/entry_02_img01.png) no-repeat;
	background-position:0 0;
}
#main.entry #sec02 #num01.num01 {background-position:0 -63px;}
#main.entry #sec02 #num01.num02 {background-position:0 -126px;}
#main.entry #sec02 #num01.num03 {background-position:0 -189px;}
#main.entry #sec02 #num01.num04 {background-position:0 -252px;}
#main.entry #sec02 #num01.num05 {background-position:0 -315px;}
#main.entry #sec02 #num01.num06 {background-position:0 -375px;}
#main.entry #sec02 #num01.num07 {background-position:0 -437px;}
#main.entry #sec02 #num01.num08 {background-position:0 -497px;}
#main.entry #sec02 #num01.num09 {background-position:0 -560px;}
#main.entry #sec02 #num02 {
	display:none;
	position:absolute;
	left:510px;
	top:47px;
	width:43px;
	height:54px;
	background:url(../images/entry_02_img01.png) no-repeat;
	background-position:0 -63px;
}
#main.entry #sec02 #num00 {
	display:none;
	position:absolute;
	left:590px;
	top:47px;
	width:43px;
	height:54px;
	background:url(../images/entry_02_img01.png) no-repeat;
}
#main.entry #sec02 p {
	display:none;
	position:absolute;
	top:222px;
}
#main.entry #sec02 p.txt01 {
	left:133px;
}
#main.entry #sec02 p.txt02 {
	left:525px;
}
#main.entry #sec02 ul li {
	display:none;
	position:absolute;
	top:270px;
}
#main.entry #sec02 ul li.li01 {
	left:146px;
}
#main.entry #sec02 ul li.li02 {
	left:536px;
}

/*sec03*/
#main.entry #sec03 {
	text-align:center;
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
note
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#main.note {
	background:#fff;
	padding-bottom:60px;
}
#main.note #sec_header {
	text-align:center;
	margin-bottom:30px;
	padding-top:60px;
}
#main.note #sec01 {
	margin-bottom:40px;
}
#main.note #sec01 p {
    font-size: 16px;
    line-height: 2;
    padding-left: 1em;
    text-indent: -1em;
}
#main.note #sec01 .btn {
	margin-top:30px;
    text-align: center;
}

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}