<!----------- 編集エリアここから ----------->
<style>
#main #sec_header {margin:30px 0;}
#main #sec_header img {vertical-align:bottom;}
#main #sec_header a:hover {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
#main #sec_header .item01 {position:relative;height:112px;}
#main #sec_header .item01 .in {position:absolute;width:300%;height:112px;left:-100%;top:0;background:#415980 url(../_common/images/winter2016/cmn_01_bg.jpg) no-repeat center top;}
#main #sec_header .item01 .cnts {position:absolute;left:50%;top:0;margin-left:-475px;width:950px;}
#main #sec_header .item01 h2 {position:absolute;left:0;top:18px;margin:0;padding:0;background:none;}
#main #sec_header .item01 .btn {position:absolute;right:0;top:36px;}
#main #sec_header .item02 {position:relative;height:100px;}
#main #sec_header .item02 .in {position:absolute;width:300%;height:100px;left:-100%;top:0;background:#f0f0f0;}
#main #sec_header .item02 ul {position:absolute;left:50%;top:20px;margin-left:-475px;width:950px;}
#main #sec_header .item02 ul li {float:left;background:#3e5f8d;padding:0;text-align:center;width:470px;margin-left:10px;}
#main #sec_header .item02 ul li:first-child {margin-left:0;}
#main #sec_header .item02 ul li a {display:block;}
.clfx {zoom:1;}
.clfx:after {content:"";display:block;clear:both;}
</style>
<script>
$(function() {
	var w = $(window).width();var x = 950;
	$(resize);
	$(window).resize(function() {w = $(window).width();$(resize);});
	function resize() {
		if (w<=x) {$('#main #sec_header .item01 .in,#main #sec_header .item02 .in').css({'width':'950px','left':'0','margin-left':'0'});}
		else {$('#main #sec_header .item01 .in,#main #sec_header .item02 .in').css({'width':w,'left':'50%','margin-left':-w*0.5});}
	}
});
</script>

		<h1>ファッション</h1>
        <div style="width:934px; margin-top:20px; background-color:#fff;">
            <p>
                新しい季節の着こなしに、新鮮なスタイリングを先取りしたいあなたさまへ。<br />洗練を極めたプレタポルテブランドや紳士服、コーディネート小物、アクセサリーなど、限定品も交えながらご紹介いたします。
            </p>
        </div>

<div id="sec_header">
	<div class="item01">
		<div class="in">
			<div class="cnts">
				<h2><img src="../_common/images/winter2016/cmn_01_ttl.png" alt="2016 冬の逸品会 CHRISTMAS COLLECTION 公開期間：11月18日（金）〜12月20日（火）" /></h2>
				<a class="btn" href="../?{%%svid%%}"><img src="../_common/images/winter2016/cmn_01_btn.jpg" alt="逸品会トップへ" /></a>
			</div>
		</div>
	</div>
	<div class="item02">
		<div class="in">
			<ul class="clfx">
				<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category286"><img src="../_common/images/winter2016/cmn_02_3_btn01.gif" alt="婦人ファッション" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=3&{%%svid%%}#category288"><img src="../_common/images/winter2016/cmn_02_3_btn02.gif" alt="紳士ファッション" /></a></li>
			</ul>
		</div>
	</div>
</div>
<!----------- 編集エリアここまで ----------->