<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>限定Webサイト 「ロイヤル・プラチナ セレクション」一周年記念スペシャルウイークス | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/special_week/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/special_week/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/special_week/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">限定Webサイト 「ロイヤル・プラチナ セレクション」一周年記念スペシャルウイークス</li>
	</ul>
	<div id="main">
    <h1><img src="../page/special_week/images/main_ttl01.gif" width="949" height="213" alt="限定Webサイト 「ロイヤル・プラチナ セレクション」一周年記念スペシャルウイークス" /></h1>
    <div class="mainInner">
    <p class="mainDate"><img src="../page/special_week/images/main_date01.gif" width="591" height="29" alt="12月17日（火）まで " /></p>
    <h3><img src="../page/special_week/images/main_ttl02.gif" width="591" height="25" alt="平素は格別のご高配を賜わり、厚くお礼申しあげます。" /></h3>
    <p class="mainLead"><img src="../page/special_week/images/main_lead01.gif" width="591" height="90" alt="このたび「ロイヤル・プラチナ セレクション」は、一周年を迎えることができました。一周年の感謝の気持ちを込め、限定おすすめ宿泊プランや週替わりの限定おすすめ商品、星野リゾート【界】ペア宿泊券が当たる抽選会など、スペシャルコンテンツをご用意いたしました。ぜひこの機会にご利用いただきますよう、ご案内申しあげます。" /></p>
    </div>
    <div class="btnArea01">
    <ul>
    <li><a href="#present"><img src="../page/special_week/images/main_btn01_off.jpg" width="302" height="191" alt="A.10組20名さま 星野リゾート【界】 ペア宿泊券プレゼント" /></a></li>
    <li><a href="#limited"><img src="../page/special_week/images/main_btn02_off.jpg" width="302" height="191" alt="B.限定おすすめ宿泊プラン" /></a></li>
    <li><a href="#week"><img src="../page/special_week/images/main_btn03_off.jpg" width="302" height="191" alt="C.週替わり 限定おすすめ商品" /></a></li>
    </ul>
    </div>
    
    
    
    
    <div id="present">
    <p><img src="../page/special_week/images/present_copy01.gif" width="949" height="125" alt="ログインいただきありがとうございました。抽選プレゼントへのエントリーは完了しています。　当選発表12月25日（水）" /></p>
    <h2><img src="../page/special_week/images/present_main01.gif" width="949" height="117" alt="A.10組20名さま 星野リゾート【界】ペア宿泊券プレゼント" /></h2>
    <p><img src="../page/special_week/images/present_date01.gif" width="949" height="47" alt="エントリー期間:12月17日（火）まで" /></p>
    <div class="presentInner">
    <p class="presentLead"><img src="../page/special_week/images/present_lead01.gif" width="783" height="63" alt="スペシャルウイークス期間中に、「ロイヤル・プラチナ セレクション」にログインいただいた会員さまの中から、抽選で10組20名さまに、心地よく洗練された「和」の空間を備えた「星野リゾート【界】ペア宿泊券」をプレゼントいたします。上質な日本の旅を楽しめる温泉旅館「星野リゾート【界】」を全国10施設からお選びいただけます。" /></p>
    <div class="presentList">
    <dl>
    <dt><img src="../page/special_week/images/present_img01.jpg" width="169" height="146" alt="津軽" /></dt>
    <dd><img src="../page/special_week/images/present_txt01.gif" width="169" height="47" alt="約800年の歴史を持つ名湯・大鰐温泉郷。岩木山を望む高台の宿です。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img02.jpg" width="169" height="146" alt="アルプス" /></dt>
    <dd><img src="../page/special_week/images/present_txt02.gif" width="169" height="47" alt="信州の豊かな恵みと北アルプス、黒部立山アルペンルートの大自然をご堪能いただけます。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img03.jpg" width="169" height="146" alt="加賀" /></dt>
    <dd><img src="../page/special_week/images/present_txt03.gif" width="169" height="47" alt="魯山人の定宿、創業約380年の白金屋が界ブランドに生まれ変わりました。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img04.jpg" width="169" height="146" alt="松本" /></dt>
    <dd><img src="../page/special_week/images/present_txt04.gif" width="169" height="47" alt="モダンなデザインと風雅な建築美。8種13通りのお風呂で癒やしのひとときを。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img05.jpg" width="169" height="146" alt="箱根" /></dt>
    <dd><img src="../page/special_week/images/present_txt05.gif" width="169" height="47" alt="箱根旧街道の静かな渓流沿いに佇む全室リバービューのお宿です。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img06.jpg" width="169" height="146" alt="熱海" /></dt>
    <dd><img src="../page/special_week/images/present_txt06.gif" width="169" height="47" alt="和の真髄「本館」と洋の寛ぎ「ヴィラデルソル」、2つの魅力を味わえます。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img07.jpg" width="169" height="146" alt="伊東" /></dt>
    <dd><img src="../page/special_week/images/present_txt07.gif" width="169" height="47" alt="平安時代から続く湯治場で由緒ある温泉リゾート。源泉かけ流しが楽しめます。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img08.jpg" width="169" height="146" alt="遠州" /></dt>
    <dd><img src="../page/special_week/images/present_txt08.gif" width="169" height="47" alt="遠江の幸に舌鼓を打つ、浜名湖畔のデザイナーズ旅館。全室浜名湖ビュー。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img09.jpg" width="169" height="146" alt="出雲" /></dt>
    <dd><img src="../page/special_week/images/present_txt09.gif" width="169" height="47" alt="美肌の名湯・玉造温泉。露天風呂付客室のお部屋で優美なひとときを。" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/present_img10.jpg" width="169" height="146" alt="阿蘇" /></dt>
    <dd><img src="../page/special_week/images/present_txt10.gif" width="169" height="47" alt="8000坪の広大な敷地に点在する離れには、広い露天風呂とジャグジーを完備。" /></dd>
    </dl>
    </div>
    <p class="note"><img src="../page/special_week/images/note02.gif" width="771" height="36" alt="※ご当選者には、「ロイヤル・プラチナ セレクション」にご登録のEメールアドレスへご案内させていただきます　(ご当選者の方のみに、ご案内させていただきます)。" /></p>
    </div>
    
    </div>
    <dl class="note">
    <dt>※</dt>
    <dd>抽選プレゼントへのご応募は、「ロイヤル・プラチナ セレクション」へログインされたことで自動的に行われております。 </dd>
    <dt>※</dt>
    <dd>「ロイヤル・プラチナ セレクション」に会員登録されている方が対象となります。 </dd>
    <dt>※</dt>
    <dd>ご応募は、お1人さま1回限りとさせていただきます。複数回ログインしていただいた場合でも、1回のみ有効とさせていただきます。</dd>
    <dt>※</dt>
    <dd>ご招待内容は2名さま1室ご宿泊となります。</dd>
    <dt>※</dt>
    <dd>ペア宿泊券の有効期限は2014年6月末までとなります。</dd>
    <dt>※</dt>
    <dd>食事条件は素泊まりまたは朝食付または朝夕食付となり、施設および日程により異なります。</dd>
    <dt>※</dt>
    <dd>現地までの交通費は含まれておりません。</dd>
    <dt>※</dt>
    <dd>施設名は変更になる可能性がございます。</dd>
    <dt>※</dt>
    <dd>一部除外日がある場合がございます。</dd>
    <dt>※</dt>
    <dd>ご招待内容についての詳細はご当選者さまへ改めて書面を送付いたします。</dd>
    </dl>
    
    <p class="pagetop"><a href="#sogo_seibu"><img src="../page/special_week/images/pagetop_off.gif" width="117" height="25" alt="Page Topに戻る" /></a></p>
    
    
    <div id="limited">
    <p><img src="../page/special_week/images/limited_copy01.gif" width="949" height="106" alt="通常では入手することが難しいディナーショー付き宿泊プランや、年末のお楽しみプランなどの限定商品を抽選販売いたします。 当選発表12月6日(金)" /></p>
    <h2><img src="../page/special_week/images/limited_main01.gif" width="949" height="104" alt="B.限定おすすめ宿泊プラン 抽選販売" /></h2>
    <p><img src="../page/special_week/images/limited_date01.gif" width="949" height="55" alt="応募期間:12月1日（日）まで" /></p>
    <div class="limitedInner">
    <div class="limitedList">
    <dl>
    <dt><img src="../page/special_week/images/limited_sttl01.gif" width="281" height="66" alt="クリスマスシ−ズンを華やかに 松田聖子12月16日（月）クリスマスディナーショー付き宿泊プラン★" /></dt>
    <dd><img src="../page/special_week/images/limited_img01.jpg" width="281" height="185" alt="" /></dd>
    <dd><img src="../page/special_week/images/limited_price01.gif" width="177" height="34" alt="限定1組2名さま：59,800円（お1人さま）" /></dd>
    <dd><img src="../page/special_week/images/limited_txt01.gif" width="271" height="30" alt="大人気の松田聖子クリスマスディナーショーと「グランドプリンスホテル新高輪」宿泊プランです。" /></dd>
    <dd class="btn"><img src="../page/special_week/images/limited_btn01.gif" width="281" height="40" alt="くわしくはこちら" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/limited_sttl02.gif" width="281" height="66" alt="歌舞伎座 十二月大歌舞伎 一等席&amp;「ホテルオークラ東京」宿泊プラン★" /></dt>
    <dd><img src="../page/special_week/images/limited_img02.jpg" width="281" height="185" alt="" /></dd>
    <dd><img src="../page/special_week/images/limited_price02.gif" width="178" height="34" alt="各日限定1組2名さま：49,800円（お1人さま）" /></dd>
    <dd><img src="../page/special_week/images/limited_txt02.gif" width="271" height="30" alt="歳末、売り切れ必至の歌舞伎座、十二月大歌舞伎と「ホテルオークラ東京」宿泊プランです。" /></dd>
    <dd class="btn"><img src="../page/special_week/images/limited_btn01.gif" width="281" height="40" alt="くわしくはこちら" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/limited_sttl03.gif" width="281" height="66" alt="東京ディズニ−リゾ−ト&reg;オフィシャルホテル 12月31日（火）宿泊「東京ベイ舞浜ホテル クラブリゾート」 宿泊プラン★" /></dt>
    <dd><img src="../page/special_week/images/limited_img03.jpg" width="281" height="185" alt="" /></dd>
    <dd><img src="../page/special_week/images/limited_price03.gif" width="180" height="34" alt="限定1組2名さま：39,800円（お1人さま）" /></dd>
    <dd><img src="../page/special_week/images/limited_txt03.gif" width="271" height="30" alt="12月31日(火)宿泊プランです。 ニューイヤーズ・イヴ・パスポートを優先購入いただけます。" /></dd>
    <dd class="btn"><img src="../page/special_week/images/limited_btn01.gif" width="281" height="40" alt="くわしくはこちら" /></dd>
    </dl>
    </div>
    <p class="note"><img src="../page/special_week/images/note01.gif" width="771" height="55" alt="■「ロイヤル・プラチナ セレクション」サイトから、応募サイトへ移動します。※ご当選者には、「ロイヤル・プラチナ セレクション」にご登録のEメールアドレスへご案内させていただきます　(ご当選者の方のみに、ご案内させていただきます)。" /></p>
    </div>
    </div>
    
    <p class="pagetop"><a href="#sogo_seibu"><img src="../page/special_week/images/pagetop_off.gif" width="117" height="25" alt="Page Topに戻る" /></a></p>
    
    <div id="week">
    <p><img src="../page/special_week/images/week_copy01.gif" width="949" height="57" alt="週替わりで入手困難なお酒や腕時計などの限定商品を抽選販売いたします。" /></p>
    <h3><img src="../page/special_week/images/week_main01.gif" width="949" height="106" alt="C.週替わり 限定おすすめ商品一覧" /></h3>
    <p><img src="../page/special_week/images/week_date01.gif" width="949" height="158" alt="ご応募期間 1.11月20日(水) 午前9時〜11月26日(火) 2.11月27日(水) 午前9時〜 12月3日(火) 3.12月4日(水) 午前9時〜 12月10日(火) 4.12月11日(水) 午前9時〜 12月17日(火)" /></p>
    <div class="weekInner">
    <div class="weekList">
    <dl class="left">
    <dt><a href="https://qooker.jp/Q/auto/ja/specialweeks5/kubota/"><img src="../page/special_week/images/week_img02_off.jpg" width="366" height="625" alt="ご応募受付中 当選発表：12月9日(月)" /></a></dt>
    <dd><img src="../page/special_week/images/week_txt02.gif" width="289" height="39" alt="新潟 朝日酒造 純米大吟醸 <久保田> 萬寿 限定15本：3,665円" /></dd>
    <dd class="btn"><a href="https://qooker.jp/Q/auto/ja/specialweeks5/kubota/"><img src="../page/special_week/images/week_btn01_off.gif" width="366" height="55" alt="くわしくはこちら" /></a></dd>
    </dl>
    <div class="right">
    <dl>
    <dt><img src="../page/special_week/images/week_img03.jpg" width="229" height="290" alt="12月4日（水）午前9時からご応募いただけます 当選発表：12月16日(月)
" /></dt>
    <dd><img src="../page/special_week/images/week_txt03.gif" width="216" height="67" alt="辻井伸行コンサートと「ホテル 椿山荘東京」宿泊プラン★ 各日限定2組4名さま:59,800円（お1人さま）" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/week_img04.jpg" width="229" height="290" alt="12月11日（水）午前9時からご応募いただけます 当選発表：12月20日(金)" /></dt>
    <dd><img src="../page/special_week/images/week_txt04.gif" width="180" height="54" alt="新潟 石本酒造 純米大吟醸  <越乃寒梅> 金無垢 限定10本：4,515円" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/week_img05.jpg" width="229" height="290" alt="12月11日（水）午前9時からご応募いただけます 当選発表：12月20日(金)
" /></dt>
    <dd><img src="../page/special_week/images/week_txt05.gif" width="229" height="54" alt="新潟 石本酒造 大吟醸 <越乃寒梅> 超特選 限定20本：3,670円" /></dd>
    </dl>
    <dl>
    <dt><img src="../page/special_week/images/week_img01.jpg" width="229" height="290" alt="11月26日（火）受付終了 ご応募受付中 当選発表：12月2日(月)" /></dt>
    <dd><img src="../page/special_week/images/week_txt01.gif" width="217" height="71" alt="ロジェ・デュブイ <イージーダイバー オートマティック> 日本限定モデル　限定1本：1,575,000円" /></dd>
    </dl>
    </div>
    </div>
    <p class="note"><img src="../page/special_week/images/note01.gif" width="771" height="55" alt="■「ロイヤル・プラチナ セレクション」サイトから、応募サイトへ移動します。※当選者には、「ロイヤル・プラチナ セレクション」にご登録のEメールアドレスへご案内させていただきます　(当選者の方のみに、ご案内させていただきます)。" /></p>
    </div>
    
    </div>
    <dl class="note">
    <dt>※</dt>
    <dd>「ロイヤル・プラチナ セレクション」会員さまのみご参加いただけます。</dd>
    <dt>※</dt>
    <dd>≪限定おすすめ商品≫にご応募の際、カード番号を間違えて入力された場合は抽選対象外となります。あらかじめご了承ください。</dd>
    <dt>※</dt>
    <dd>ご応募は1アイテムにつき、お1人さま1回限りとさせていただきます。複数ご応募いただいた場合でも、1回のみ有効とさせていただきます。</dd>
    <dt>※</dt>
    <dd>ご応募後のキャンセルは、お承りしかねます。</dd>
    <dt>※</dt>
    <dd>表示価格は本体価格に消費税額を加えた「お支払い総額（税込価格）」となっております。宿泊プランについては、サービス料も込みとなっております。</dd>
    </dl>
    
    <p class="pagetop"><a href="#sogo_seibu"><img src="../page/special_week/images/pagetop_off.gif" width="117" height="25" alt="Page Topに戻る" /></a></p>
    
    <div id="jewelry">
    <div class="right">
    <h2><img src="../page/special_week/images/jewelry_ttl01.gif" width="555" height="103" alt="ROYAL PLATINUM SELECTION Christmas Jewelry Collection クリスマス ジュエリー コレクション" /></h2>
    <p><img src="../page/special_week/images/jewelry_lead01.gif" width="481" height="65" alt="「ヴァン クリーフ&アーペル」を始めとするラグジュアリーブラ ンドの新作ジュエリーを集めました。 気持ちが華やぐ季節に、心を込めて贈りたい逸品をデジタルカタログでご紹介いたします。" /></p>
    <ul>
    <li><a href="http://e-catalog.seibu.jp/common/20131119/001/index.html" target="_blank"><img src="../page/special_week/images/jewelry_btn01_off.gif" width="276" height="45" alt="デジタルカタログを見る" /></a></li>
    <li><a href="../page/special_week/pdf/Jewelry_collection.pdf" target="_blank"><img src="../page/special_week/images/jewelry_btn02_off.gif" width="276" height="45" alt="PDFでカタログを見る" /></a></li>
    </ul>
    </div>
    <div class="left"><img src="../page/special_week/images/jewelry_img01.jpg" width="285" height="391" alt="" /></div>
    </div>
    
    <p class="pagetop"><a href="#sogo_seibu"><img src="../page/special_week/images/pagetop_off.gif" width="117" height="25" alt="Page Topに戻る" /></a></p>
    
    <div class="bottomBox">
    <dl class="note">
    <dt>※</dt>
    <dd>★印が付いた商品は、(株)セブンカルチャーネットワークが旅行企画・実施いたします。</dd>
    </dl>
    <dl class="info">
    <dt>旅行企画・実施 (株)セブンカルチャーネットワーク</dt>
    <dd>東京都千代田区二番町8-8　観光庁長官登録旅行業第1870号　社団法人日本旅行業協会 正会員</dd>
    </dl>
    </div>
    
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
