<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>【特別企画】ロイヤル・プラチナ セレクション 5周年記念バレンタインウイーク 季節の花束プレゼント | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_spring2017/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_spring2017/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_spring2017/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_spring2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_spring2017/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">【特別企画】ロイヤル・プラチナ セレクション 5周年記念バレンタインウイーク 季節の花束プレゼント</li>
</ul>

<!-- main -->
<div id="main" class="pre">

	<div id="main_header">
		<p><img src="../page/sp_spring2017/images/pre_hd_txt01.gif" alt="特別企画 ロイヤル・プラチナ セレクション 5周年記念バレンタインウィーク" /></p>
	</div>
	
	<div id="sec01">
		<h1><img src="../page/sp_spring2017/images/pre_01_ttl.png" alt="会員さまへバレンタインの贈りもの 季節の花束プレゼント 抽選で合計50名さまに当たる 協賛：日比谷花壇" /></h1>
		<p class="txt01"><img src="../page/sp_spring2017/images/pre_01_txt01.png" alt="応募期間 1月30日（月）〜2月5日（日）" /></p>
	</div>
	
	<div id="sec02">
		<p class="txt01"><img src="../page/sp_spring2017/images/pre_02_txt01.png" alt="ロイヤル・プラチナ セレクションから会員のみなさまへ、5周年の感謝の気持ちを込めて、抽選で花束をプレゼントいたします。 1月30日(月)から2月3日(金)にかけて、5種類の花束を日替りでご用意いたします。 お好きなお花を選んで、「応募する」ボタンからご応募ください。"></p>
		<ul class="ul01">
			<li class="li01">ご応募は1つのお花につき、お一人さま1回限りとさせていただきます。5種類すべてにご応募いただくことは可能です。</li>
			<li class="li02">抽選で各10名さま、合計50名さまにプレゼントいたします。</li>
		</ul>
	</div>

	<div id="sec03">
		<div class="in">
			<ul class="slider clfx">
				<li class="li01 active">
					<div class="figure"><img src="../page/sp_spring2017/images/pre_03_img01_01.png" alt="1月30日（月）公開"></div>
					<div class="btn"><a href="../detail/?a=Item_detail&id=8966&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_03_btn01_01.jpg" alt="応募する"></a></div>
				</li>
				<li class="li02">
					<div class="figure"><img src="../page/sp_spring2017/images/pre_03_img01_02.png" alt="1月31日（火）公開"></div>
					<div class="btn"><a href="../detail/?a=Item_detail&id=8967&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_03_btn01_02.jpg" alt="応募する"></a></div>
				</li>
				<li class="li03">
					<div class="figure"><img src="../page/sp_spring2017/images/pre_03_img01_03.png" alt="2月1日（水）公開"></div>
					<div class="btn"><a href="../detail/?a=Item_detail&id=8968&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_03_btn01_03.jpg" alt="応募する"></a></div>
				</li>
				<li class="li04">
					<div class="figure"><img src="../page/sp_spring2017/images/pre_03_img01_04.png" alt="2月2日（木）公開"></div>
					<div class="btn"><a href="../detail/?a=Item_detail&id=8969&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_03_btn01_04.jpg" alt="応募する"></a></div>
				<!--
				</li>
				<li class="li05">
					<div class="figure"><img src="../page/sp_spring2017/images/pre_03_img01_05.png" alt="2月3日（金）公開"></div>
					<div class="btn"><a href="../detail/?a=Item_detail&id=8970&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_03_btn01_05.jpg" alt="応募する"></a></div>
				</li>
				-->
			</ul>
			<ul class="pager"><!--
				--><li class="li01 active">1月30日（月）公開</li><!--
				--><li class="li02">1月31日（火）公開</li><!--
				--><li class="li03">2月1日（水）公開</li><!--
				--><li class="li04">2月2日（木）公開</li><!--
				--><li class="li05 comingsoon">2月3日（金）公開</li><!--
			--></ul>
			<ul class="navi">
				<li class="li_prev"><img src="../page/sp_spring2017/images/pre_03_btn02_01.png" alt="戻る"></li>
				<li class="li_next"><img src="../page/sp_spring2017/images/pre_03_btn02_02.png" alt="進む"></li>
			</ul>
		</div>
	</div>
	
	<div id="sec04">
		<div class="in">
			<p>※抽選の結果は2月7日（火）に当選者の方へのみメールにてお知らせいたします。<br />
			※プレゼントは2017年2月10日（金）から14日（火）のお届けを予定しております。（地域および天候の状況や交通状況などにより遅延する場合もございます。）<br />
			※お届け日時のご指定はできません。あらかじめご了承ください。<br />
			※お届け時ご不在の場合、ご不在連絡票が投函されますので、再配達のご依頼をお願いいたします。<br />
			※一部生花となりますので、保管期限はお届け日を含めて2日となります。<br />
			※保管期間を過ぎた場合は、当選を無効とさせていただきます。<br />
			※お客さまのご住所・転居先が不明などでプレゼントがお届けできない場合は、当選を無効とさせていただきます。<br />
			※「ロイヤル・プラチナ セレクション」会員さまのみご参加いただけます。</p>
			<div class="bnr">
				<div class="figure"><img src="../page/sp_spring2017/images/pre_04_img01.jpg" alt="「日比谷花壇」が提案する、気持ち華やぐフラワーギフト。ほかにも、色とりどりのアレンジメントをラインアップしております。"></div>
				<div class="btn"><a href="/rps/static/?f=page/hibiyakadan/index&{%%svid%%}"><img src="../page/sp_spring2017/images/pre_04_btn01.jpg" alt="日比谷花壇の商品はこちら"></a></div>
			</div>
		</div>
	</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
