@charset "EUC-JP";
@import url("../global-fontsizesmall.css");

#infoDetailWrapper, #newsList {
	font-size:10px;
}

.infoDetailTitle {
	font-size:16px;
}

.infoDetailInner_top {
	font-size: 12px;
	font-weight: bold;
}