@charset "EUC-JP";

#main {
	width: 950px;
	margin: 0 auto;
}

#item_list_head {
	border: 2px solid #cccccc;
	border-bottom: 0;
}
#item_list_body {
	position: relative;
	width: 948px;
	border: 1px solid #cccccc;
	margin: 0 auto;
}

#item_list_body .item_list_child {
	position: absolute;
	width: 235px;
	height: 235px;
	border: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}

#item_list_body .item_list_child a {
	display: block;
	zoom: 1;
}
#item_list_body .item_list_child a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha(opacity=60)"; 
}

#logo_area {
	margin-bottom: 20px;
}

.clearfix {
	zoom:1;
}
.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}