@charset "EUC-JP";

#textsizecontroller .ts_small a {
	background-position: 0 -20px;
}
#textsizecontroller .ts_medium a:link, #textsizecontroller .ts_medium a:visited {
	background-position: -23px 0;
}
#textsizecontroller .ts_medium a:hover, #textsizecontroller .ts_medium a:active {
	background-position: -23px -20px;
}
#textsizecontroller .ts_large a:link, #textsizecontroller .ts_large a:visited {
	background-position: -46px 0;
}
#textsizecontroller .ts_large a:hover, #textsizecontroller .ts_large a:active {
	background-position: -46px -20px;
}
#welcomeMessage {
	padding-top: 4px;
	font-size: 10px;
}
#inCharge, #topicPath li {
	font-size: 10px;
}
#inCharge {
	padding-top: 7px;
}
#publication p, #publication dt, #publication dd {
	font-size: 10px;
}
#footer #copyright{
	font-size:8px;
}
#footerMenu dt , #footerMenu dd, #footer #footerNav #footerNavPrivacy{
	font-size: 10px;
}
