@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}



/*main*/
#main {
	width:950px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:40px;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*title*/
.sec_title {
	margin-bottom:30px;
}
.sec_title h2 {
	background:url(../images/title_bg.jpg) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:20px;
}



/*header*/
.sec_header {
	background:url(../images/header_bg.jpg) no-repeat;
	width:100%;
	height:305px;
	position:relative;
}
.sec_header h1 {
	position:absolute;
	left:240px;
	top:20px;
}
.sec_header p {
	position:absolute;
	left:320px;
	top:84px;
}
.sec_header ul {
	position:absolute;
	left:21px;
	top:121px;
}
.sec_header ul li {
	float:left;
	margin-right:5px;
}



/*cnav*/
.sec_cnav {
	background:#edebf2;
	padding:20px 0 20px 20px;
}
.sec_cnav ul li {
	float:left;
	margin-right:14px;
}



/*nav*/
.sec_nav {
	background:#e9e9e9;
	padding:20px 0 20px 20px;
}
.sec_nav .sttl {
	margin-top:-10px;
	margin-bottom:10px;
}
.sec_nav ul li {
	float:left;
}
.sec_nav ul.ul5 li {
	margin-right:20px;
}
.sec_nav ul.ul2 li {
	margin-right:30px;
}



/*parts*/
#main .txt01 {
	font-size:116.7%;
	color:#ff5b5b;
	padding:10px 0;
}
#main .txt01 img {
	margin-bottom:5px;
}
#main ul li.last {
	margin-right:0 !important;
}



/*nav*/
.sec_cnts {
	padding-top:55px;
}
.sec_cnts .sttl {
	background:url(../images/ico02.gif) no-repeat left center;
	font-size:150%;
	padding-left:20px;
	margin-bottom:20px;
}
.sec_cnts .table_sttl {
	background:#fee4e2;
	padding:10px 20px;
	margin-bottom:40px;
}
.sec_cnts .table_sttl h2 {
	font-size:200%;
	line-height:1.25;
}
.sec_cnts .table_sttl th {
	width:200px;
	border-right:1px solid #c0b0af;
}
.sec_cnts .table_sttl td {
	width:auto;
	padding:10px 0 10px 20px;
	font-size:116.7%;
}


.sec_cnts ul li {
	float:left;
}
.sec_cnts ul li img {
	border:1px solid #d3d3d3;
}
.sec_cnts ul li.last {
	margin-right:0 !important;
}
.sec_cnts ul.ul5 li {
	width:182px;
	margin-right:10px;
}
.sec_cnts ul li a {
	color:#000;
}
.sec_cnts ul li p {
	margin-top:5px;
}



/*cp*/
#main.main_cp {
	width: 100%;
	background: #ffffff;
	overflow:hidden;
}
#main.main_cp #main_visual {
	position:relative;
	width:100%;
	height:420px;
	background:url(../images/cp_bg00.jpg) no-repeat center top;
	overflow:hidden;
	text-align:center;
}
#main.main_cp #main_contents {
	width:950px;
	margin:0 auto;
	z-index:1;
	position:relative;
}
#main.main_cp #main_contents #contents01 {
	margin-top:-40px;
}
#main.main_cp #main_contents #contents02 {
	margin:0 44px 20px;
	font-size:17px;
}
#main.main_cp #main_contents #contents03 {
	text-align:center;
	margin-bottom:20px;
}
#main.main_cp #main_contents #contents03_2 {
	text-align:center;
}
#main.main_cp #main_contents #contents03_2 p {
	margin-bottom:20px;
}
#main.main_cp #main_contents #contents03_2 ul li {
	margin-bottom:4px;
}
#main.main_cp #main_contents #contents04 {
	margin-top:-40px;
	background:url(../images/cp_bg01.jpg) no-repeat left 66px;
}
#main.main_cp #main_contents #contents04 .img01 {
	margin-bottom:30px;
}
#main.main_cp #main_contents #contents04 .img02_00 {
	text-align:center;
	margin-bottom:20px;
}
#main.main_cp #main_contents #contents04 .img02 {
	text-align:center;
	margin-bottom:15px;
}
#main.main_cp #main_contents #contents04 ul {
	margin:0 34px 30px;
	font-size:14px;
}
#main.main_cp #main_contents #contents04 .img03 {
	text-align:center;
	margin-bottom:10px;
}
#main.main_cp #main_contents #contents04 .txt01 {
	font-size:14px;
	color:#000;
	text-align:center;
	padding:0;
	margin-bottom:20px;
}
#main.main_cp #main_contents #contents04 .img04 {
	text-align:center;
	margin-bottom:25px;
}

#purchaseForm {
	width:820px;
    padding: 11px 20px 20px;
    background: #ededed;
	margin:0 auto;
	margin-bottom:40px;
}
#purchaseForm h2 {
    width: 168px;
    height: 16px;
    line-height: 0;
    margin-bottom: 10px;
    font-size: 0;
    text-indent: -9999px;
    background: transparent url(../../../_common/images/item/purchaseForm-title.gif) no-repeat 0 0;
}
#purchaseForm textarea {
    display: block;
    width: 818px;
    height: 68px;
}
#purchaseForm .submit3 a {
    display: block;
    width: 296px;
    height: 40px;
    margin: 30px auto 10px;
    overflow: hidden;
    text-indent: -9999px;
    background-color: transparent;
    background-image: url(../images/cp_btn01.jpg);
    background-repeat: no-repeat;
}
#purchaseForm .submit3 a:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*module*/
.mr0 {
	margin-right:0 !important;
}
.ml20 {
	margin-left:20px !important;
}
.mb10 {
	margin-bottom:10px !important;
}
.mb20 {
	margin-bottom:20px !important;
}
.mb25 {
	margin-bottom:25px !important;
}
.mb40 {
	margin-bottom:40px !important;
}
.mb50 {
	margin-bottom:50px !important;
}
.pt5 {
	padding-top:5px !important;
}
.pt20 {
	padding-top:20px !important;
}
