<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_autumn2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}">秋の逸品会特別企画　プレゼントキャンペーン</a></li>
<li id="presentLocation">応募ページ</li>
</ul>

<!-- main -->
<div id="main" class="entry">

<div id="sec_header">
	<div class="txt01">
		<div class="inner">
			<p><img src="../page/sp_autumn2016/images/idx_hd_txt02.gif" alt="" /></p>
		</div>
	</div>
	<h1><img src="../page/sp_autumn2016/images/lesson1_hd_ttl01.jpg" alt="" /></h1>
</div>

<div id="sec01">
	<div class="inner">
		<h2><img src="../page/sp_autumn2016/images/entry_ttl.jpg" alt="" /></h2>
		<div class="cnts cnts01 clfx">
			<div class="block01"><a href="/rps/static/?f=page/sp_autumn2016/lesson1&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_01_btn01.jpg" alt="" /></a></div>
			<div class="block02">
				<ul>
					<li class="li01"></li>
					<li class="li02"></li>
					<li class="li03"></li>
					<li class="li04"></li>
					<li class="li05"></li>
				</ul>
			</div>
			<div class="block03"><a href="../detail/?a=Item_detail&id=8343&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_01_btn02.jpg" alt="" /></a></div>
		</div>
		<div class="cnts cnts02 clfx">
			<div class="block01"><a href="/rps/static/?f=page/sp_autumn2016/lesson2&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_02_btn01.jpg" alt="" /></a></div>
			<div class="block02">
				<div class="block02_01">
					<ul>
						<li class="li01"></li>
						<li class="li02"></li>
						<li class="li03"></li>
						<li class="li04"></li>
						<li class="li05"></li>
					</ul>
				</div>
				<div class="block02_02"><a href="/rps/static/?f=page/sp_autumn2016/lesson2&{%%svid%%}#sec04"><img src="../page/sp_autumn2016/images/entry_02_bg02_02on.jpg" alt="" /></a></div>
			</div>
			<div class="block03">
				<div class="block03_01"><a href="../detail/?a=Item_detail&id=8343&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_01_btn02.jpg" alt="" /></a></div>
				<div class="block03_02"><a href="../detail/?a=Item_detail&id=8344&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_02_btn02.jpg" alt="" /></a></div>
			</div>
		</div>
		<div class="cnts cnts03 clfx">
			<div class="block01"><a href="/rps/static/?f=page/sp_autumn2016/lesson3&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_03_btn01.jpg" alt="" /></a></div>
			<div class="block02">
				<div class="block02_01">
					<ul>
						<li class="li01"></li>
						<li class="li02"></li>
						<li class="li03"></li>
						<li class="li04"></li>
						<li class="li05"></li>
					</ul>
				</div>
				<div class="block02_02"><a href="/rps/static/?f=page/sp_autumn2016/lesson3&{%%svid%%}#sec04"><img src="../page/sp_autumn2016/images/entry_03_bg02_02on.jpg" alt="" /></a></div>
			</div>
			<div class="block03">
				<div class="block03_01"><a href="../detail/?a=Item_detail&id=8343&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_01_btn02.jpg" alt="" /></a></div>
				<div class="block03_02"><a href="../detail/?a=Item_detail&id=8345&{%%svid%%}"><img src="../page/sp_autumn2016/images/entry_03_btn02.jpg" alt="" /></a></div>
			</div>
		</div>
	</div>
</div>

<div id="sec02">
<ul>
	<li>※スタンプが押されない、応募ボタンが表示されない場合は、<a href="/rps/static/?f=page/sp_autumn2016/note&{%%svid%%}">こちら</a>をご確認ください。</li>
	<li>※レッスン1「フランス」をまずは知ろう・レッスン2「フランスワイン」を知ろう・お気に入りワイン判定・レッスン3「五大シャトー」を知ろう・Webテイスティング銘柄判定で、お一人さま1回ずつご応募いただけます。</li>
	<li>※抽選の結果は10月7日（金）に当選者の方へのメールにてお知らせいたします。</li>
</ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
