<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_autumn2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">秋の逸品会特別企画　プレゼントキャンペーン</li>
</ul>

<!-- main -->
<div id="main" class="idx">

<div id="sec_header">
	<div class="txt01">
		<div class="inner">
			<p><img src="../page/sp_autumn2016/images/idx_hd_txt01.gif" alt="" /></p>
		</div>
	</div>
	<div class="ttl">
		<div class="inner">
			<h1><img src="../page/sp_autumn2016/images/idx_hd_ttl.jpg" alt="" /></h1>
		</div>
	</div>
</div>

<div id="sec01">
	<div class="inner">
		<p class="txt01"><img src="../page/sp_autumn2016/images/idx_01_img01.jpg" alt="" /></p>
		<ul>
			<li class="li01"><a href="/rps/static/?f=page/sp_autumn2016/lesson1&{%%svid%%}"><img src="../page/sp_autumn2016/images/idx_01_img02_01.png" alt="" /></a></li>
			<li class="li02"><a href="/rps/static/?f=page/sp_autumn2016/lesson2&{%%svid%%}"><img src="../page/sp_autumn2016/images/idx_01_img02_02.png" alt="" /></a></li>
			<li class="li03"><a href="/rps/static/?f=page/sp_autumn2016/lesson3&{%%svid%%}"><img src="../page/sp_autumn2016/images/idx_01_img02_03.png" alt="" /></a></li>
		</ul>
		<p class="txt02">※ご利用に際しては <a href="/rps/static/?f=page/sp_autumn2016/note&{%%svid%%}">こちら</a>をご確認ください。</p>
	</div>
</div>

<div id="sec02">
	<div class="inner">
		<h2><img src="../page/sp_autumn2016/images/idx_02_ttl.jpg" alt="" /></h2>
		<p class="txt01"><img src="../page/sp_autumn2016/images/idx_02_txt01.gif" alt="" /></p>
		<ul>
			<li>
				<p><img src="../page/sp_autumn2016/images/idx_02_img01_01.jpg" alt="" /></p>
				<p><img src="../page/sp_autumn2016/images/idx_02_img01_02.jpg" alt="" /></p>
				<p><img src="../page/sp_autumn2016/images/idx_02_img01_03.jpg" alt="" /></p>
			</li>
			<li>
				<p><img src="../page/sp_autumn2016/images/idx_02_img02.jpg" alt="" /></p>
			</li>
			<li>
				<p><img src="../page/sp_autumn2016/images/idx_02_img03_01.jpg" alt="" /></p>
				<p><img src="../page/sp_autumn2016/images/idx_02_img03_02.jpg" alt="" /></p>
			</li>
		</ul>
	</div>
</div>

<div id="sec03">
	<div class="inner">
		<h2><img src="../page/sp_autumn2016/images/idx_03_ttl.jpg" alt="" /></h2>
		<ul>
			<li><img src="../page/sp_autumn2016/images/idx_03_img01.jpg" alt="" /></li>
			<li><!--
				--><img src="../page/sp_autumn2016/images/idx_03_img02.jpg" alt="" usemap="#link01" /><!--
				--><map name="link01">
					<area shape="rect" coords="542,14,738,46" href="/rps/static/?f=page/sp_autumn2016/entry&{%%svid%%}" alt="">
				</map>
			</li>
			<li><img src="../page/sp_autumn2016/images/idx_03_img03.jpg" alt="" /></li>
			<li><img src="../page/sp_autumn2016/images/idx_03_img04.jpg" alt="" /></li>
		</ul>
	</div>
</div>

<div id="sec04">
	<div class="inner"><a href="/rps/static/?f=page/sp_autumn2016/entry&{%%svid%%}"><img src="../page/sp_autumn2016/images/idx_04_img01.jpg" alt="" /></a></div>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
