<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_autumn2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}">秋の逸品会特別企画　プレゼントキャンペーン</a></li>
<li id="presentLocation">Lecon2 「フランスワイン」を知ろう</li>
</ul>

<!-- main -->
<div id="main" class="lesson3">

<div id="sec_header">
	<div class="txt01">
		<div class="inner">
			<p><img src="../page/sp_autumn2016/images/idx_hd_txt02.gif" alt="" /></p>
		</div>
	</div>
	<h1><img src="../page/sp_autumn2016/images/lesson1_hd_ttl01.jpg" alt="" /></h1>
	<div class="cnts">
		<div class="inner">
			<h2><img src="../page/sp_autumn2016/images/lesson3_hd_ttl02.png" alt="" /></h2>
			<p class="txt02"><img src="../page/sp_autumn2016/images/lesson3_hd_txt01.png" alt="" /></p>
		</div>
	</div>
</div>

<div id="sec01">
	<h3><img src="../page/sp_autumn2016/images/lesson3_01_ttl.jpg" alt="" /></h3>
	<p class="txt01"><img src="../page/sp_autumn2016/images/lesson3_01_txt01.gif" alt="" /></p>
	<div class="img01"><img src="../page/sp_autumn2016/images/lesson3_01_img01.jpg" alt="" /></div>
	<p class="txt02"><img src="../page/sp_autumn2016/images/lesson3_01_txt02.jpg" alt="" /></p>
</div>

<div id="sec02">
	<h3><img src="../page/sp_autumn2016/images/lesson3_02_ttl01.jpg" alt="" /></h3>
	<div class="block clfx">
		<div class="block_txt fl_l">
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl01.jpg" alt="土地（土壌）" /></h4>
			<p>ボルドー、メドック地方の北西部、ポイヤック村に位置するシャトー。石灰質を基盤とする砂利層の土壌です。この土壌は、粘土質の上に砂礫が多い近隣のシャトーとは大いに異なることから、<span>世界で唯一ともいえる味わい</span>を造り出しています。また、名前の由来は、ポイヤックで一番高い丘にあり、フランス語で「小高い所＝Lahite(ラ・イット)」から来ているそうです。</p>
			<h4 class="txt_r"><img src="../page/sp_autumn2016/images/lesson3_02_sttl02.jpg" alt="味わいの特徴" /></h4>
			<p>ラフィットのワインといえば<span>「気品」という言葉なしには表現できない</span>と言われるほど、圧倒的なエレガンスさとキメ細やかな繊細さが特徴です。そのしなやかで優雅な味わいは、多くのワイン愛好家を魅了し続けています。</p>
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl03.jpg" alt="エピソード" /></h4>
			<p>1855年の格付けで、真っ先に1級に選ばれたのがこのシャトー。「グランクリュ第1級のなかの1位」とされ、ボルドー五大シャトーの筆頭といえます。このワインを一躍有名にしたのはルイ15世の寵愛を受けていたポンパドール夫人。彼女が、ヴェルサイユ宮殿の晩餐会に常にシャトー・ラフィットを登場させていたことで王室御用達のワインとなりました。のちに<span>「王のワイン」</span>という名声も得ることになります。これは、“王の好むワイン“であったことだけでなく、その味わいの素晴らしさが、まさにワイン界の王に相応しいものであったことも理由の一つではないでしょうか。</p>
		</div>
		<div class="block_img fl_r"><img src="../page/sp_autumn2016/images/lesson3_02_img01.jpg" alt="" /></div>
	</div>
	<h3><img src="../page/sp_autumn2016/images/lesson3_02_ttl02.jpg" alt="" /></h3>
	<div class="block clfx">
		<div class="block_txt fl_r">
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl01.jpg" alt="土地（土壌）" /></h4>
			<p>ボルドー、メドック地方のポイヤック村、南東端に位置するシャトー。砂礫質の丘に作られた砂利と粘土の土壌です。砂礫質の水はけの良さと地中の粘土質により、水の少ない年でも水分を確保できます。また隣接しているジロンド川からの風や熱により、大きな気温の変化を防ぐことで畑を常に上質な状態に保つことができる高環境の土地でもあります。こうして、ヴィンテージに左右されず<span>安定した最高級のワイン</span>を造り続けられることでも評価されています。</p>
			<h4 class="txt_r"><img src="../page/sp_autumn2016/images/lesson3_02_sttl02.jpg" alt="味わいの特徴" /></h4>
			<p>テロワールと呼ばれる気候・土壌・地形の組み合わせが高環境である土地で造られたワインは、<span>「男性的」な味わい</span>があります。凝縮感のある、リッチで、タニック、フルボディ。しっかりとした骨格と、複雑で深みのある力強いワインです。</p>
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl03.jpg" alt="エピソード" /></h4>
			<p>ラトゥールのエチケットはあまりにも有名。ラトゥールとは「塔」のこと意味し、そのままワインの名前にもなっています。描かれている“塔”は、<span>百年戦争の際に活躍した塔</span>がモチーフ。15世紀に土地を所有していたイギリス人が、要塞の一部として建てたものです。当時の塔はイギリスがフランスに敗れた際に破壊されていて現存しません。現在シャトー内に建っている塔は、1620年代に再建されたもので実は鳩小屋だったといわれていますが、今ではシャトーの偉大なシンボルとして鎮座しています。</p>
		</div>
		<div class="block_img fl_l"><img src="../page/sp_autumn2016/images/lesson3_02_img02.jpg" alt="" /></div>
	</div>
	<h3><img src="../page/sp_autumn2016/images/lesson3_02_ttl03.jpg" alt="" /></h3>
	<div class="block clfx">
		<div class="block_txt fl_l">
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl01.jpg" alt="土地（土壌）" /></h4>
			<p>ボルドーのグラーヴ地区、ペサック・レオニャンに位置するシャトー。1855年の格付けの際に、<span>あまりに素晴らしいワイン</span>だったために<span>例外的にメドック地区以外から選ばれました。</span>土壌は、ボルドー特有のゆったりと傾斜した斜面にグラーヴ（砂利）という名の通り砂礫混じりで、地下は粘土・砂質です。また都市部に近いことで、メドック地区の平均気温よりも2℃ほど高いためぶどうの成熟も早く、雨の多い9月中旬よりも前に収穫を行うことができます。</p>
			<h4 class="txt_r"><img src="../page/sp_autumn2016/images/lesson3_02_sttl02.jpg" alt="味わいの特徴" /></h4>
			<p>可憐でエレガントな薫り高い女性的な味わいとされています。繊細で渋みは柔らかく上品な味わいが特徴。複雑なアロマを持ち、余韻を楽しめるワインです。また、優雅な貴婦人といわれ<span>「外交的なワイン」</span>としても高い評価をえています。</p>
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl03.jpg" alt="エピソード" /></h4>
			<p>「フランスの救世主」ともいわれているこのワイン。その由来は、ナポレオン戦争で大敗し、国の崩壊という危機に追い込まれてしまったフランスですが、その領土をほとんど失わずに済んだのが、1814年のウィーン会議の晩餐会で連日振舞われた<span>「シャトー・オー・ブリオン」によって各国代表の態度が和らいだおかげ</span>だったという逸話からきています。</p>
		</div>
		<div class="block_img fl_r"><img src="../page/sp_autumn2016/images/lesson3_02_img03.jpg" alt="" /></div>
	</div>
	<h3><img src="../page/sp_autumn2016/images/lesson3_02_ttl04.jpg" alt="" /></h3>
	<div class="block clfx">
		<div class="block_txt fl_r">
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl01.jpg" alt="土地（土壌）" /></h4>
			<p>ボルドー、メドック地方のマルゴー村にあるシャトー。ガロンヌ川河口部エスチュアリーの左岸に位置します。土壌はおもに厚い砂利の層です。<span>透水性の高さと水はけの高さが特徴</span>で、強い乾燥にも、雨量過多にも対応することができます。また、その土壌はぶどう樹の根を深くまで張らせることができるので、薄い土壌ではありうる水分量のトラブルを防いでいます。</p>
			<h4 class="txt_r"><img src="../page/sp_autumn2016/images/lesson3_02_sttl02.jpg" alt="味わいの特徴" /></h4>
			<p>「シャトー・ラトゥール」が男性的というならば、「マルゴー」は女性的と評されています。<span>「女王の中の女王」「ワインの女王」</span>と呼ばれていることでも有名です。1級シャトーの力強さがありつつも繊細さを持ち合わせ、十分なコクやボティのなかにも優雅な香りを放つその味わいは「ボルドーの宝石」とたとえられています。</p>
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl03.jpg" alt="エピソード" /></h4>
			<p>「マルゴー」には、<span>著名人のファンが多い</span>ことでも知られています。ヘミングウェイもその一人です。あまりにこのワインを愛するあまり、「シャトー・マルゴーのように女性らしく魅力的に育つように」との思いで、孫娘にマーゴ(マルゴーの英発音)と名付けたという逸話もあるほど。また、共産主義思想家のフリードリヒ・エンゲルスは、「あなたにとっての幸せは」という質問に「シャトー・マルゴー1848年」と答えたそうです。</p>
		</div>
		<div class="block_img fl_l"><img src="../page/sp_autumn2016/images/lesson3_02_img04.jpg" alt="" /></div>
	</div>
	<h3><img src="../page/sp_autumn2016/images/lesson3_02_ttl05.jpg" alt="" /></h3>
	<div class="block clfx">
		<div class="block_txt fl_l">
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl01.jpg" alt="土地（土壌）" /></h4>
			<p>ジロンド川を望む標高30mの小高い丘にムートンの畑はあります。土壌は主に砂礫層で、一番良い区画の辺りはこの砂礫が7〜8メートルにも達しており、ジロンド川の左岸にある他の産地よりも砂利の層がより厚いのが特長です。さらに、その砂礫層での下には適度な粘土の層があり、水分を多く保持するため<span>ぶどうにとって理想的な畑</span>となっています。</p>
			<h4 class="txt_r"><img src="../page/sp_autumn2016/images/lesson3_02_sttl02.jpg" alt="味わいの特徴" /></h4>
			<p>五大シャトーの中でもっとも<span>「贅沢」で「派手」なワイン</span>と言われています。オークの樽で熟成された濃厚で芳醇な香り、その肉づきの良さとリッチな味わいは、厳かなる風格すら感じさせてくれます。また、さらに瓶の中でじっくりと熟成させていくことで、フルーティーさとエレガントなブーケを楽しめるワインです。</p>
			<h4><img src="../page/sp_autumn2016/images/lesson3_02_sttl03.jpg" alt="エピソード" /></h4>
			<p>歴史的「1855年の格付け」から118年後、2級から1級に昇級したシャトー。100年以上の歴史ある格付けを覆した<span>「奇跡のワイン」</span>とも呼べるワインです。また、1945年以降毎年その時代の著名画家に描かせているエチケット（ラベル）の素晴らしさでも有名です。ピカソ、シャガール、ジャン・コクトー、ミロ、ヘンリー・ムーア、ダリ、アンディー・ウォーホル、キース・ヘリングなど、豪華なアーティストたちが描いたエチケットは、コレクター達にも人気です。</p>
		</div>
		<div class="block_img fl_r"><img src="../page/sp_autumn2016/images/lesson3_02_img05.jpg" alt="" /></div>
	</div>
</div>

<div id="sec03">
	<h3><img src="../page/sp_autumn2016/images/lesson3_03_ttl.jpg" alt="" /></h3>
	<p class="txt01"><img src="../page/sp_autumn2016/images/lesson3_03_txt01.jpg" alt="" /></p>
	<p class="txt02"><img src="../page/sp_autumn2016/images/lesson3_03_txt02.jpg" alt="" usemap="#map030301" /><!--
	--><map name="map030301"><area shape="rect" coords="255,307,525,352" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor04" alt="ワインを探す"></map></p>
	<div class="btn01"><a href="../detail/?a=Item_detail&id=8342&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson3_03_btn01.jpg" alt="" /></a></div>
</div>

<div id="sec04">
	<div class="in">
		<h3><img src="../page/sp_autumn2016/images/lesson3_04_ttl.jpg" alt="" /></h3>
		<p class="txt01"><img src="../page/sp_autumn2016/images/lesson3_04_txt01.gif" alt="" /></p>
		<div class="img01"><img src="../page/sp_autumn2016/images/lesson3_04_img01.jpg" alt="" /></div>
		<h4 class="sttl01"><img src="../page/sp_autumn2016/images/lesson3_04_sttl01.gif" alt="" /></h4>
		<table>
			<tbody>
				<tr>
					<th><img src="../page/sp_autumn2016/images/lesson3_04_sttl02.gif" alt="" /></th>
					<td class="td_img"><img src="../page/sp_autumn2016/images/lesson3_04_img02_01.jpg" alt="" /></td>
					<td class="td_img"><img src="../page/sp_autumn2016/images/lesson3_04_img02_02.jpg" alt="" /></td>
					<td class="td_img"><img src="../page/sp_autumn2016/images/lesson3_04_img02_03.jpg" alt="" /></td>
					<td class="td_img"><img src="../page/sp_autumn2016/images/lesson3_04_img02_04.jpg" alt="" /></td>
					<td class="td_img"><img src="../page/sp_autumn2016/images/lesson3_04_img02_05.jpg" alt="" /></td>
				</tr>
				<tr>
					<td class="td_txt td_txt01"><img src="../page/sp_autumn2016/images/lesson3_04_txt02_01.gif" alt="" /></td>
					<td class="td_check check01 check0101"></td>
					<td class="td_check check01 check0102"></td>
					<td class="td_check check01 check0103"></td>
					<td class="td_check check01 check0104"></td>
					<td class="td_check check01 check0105"></td>
				</tr>
				<tr>
					<td class="td_txt td_txt02"><img src="../page/sp_autumn2016/images/lesson3_04_txt02_02.gif" alt="" /></td>
					<td class="td_check check02 check0201"></td>
					<td class="td_check check02 check0202"></td>
					<td class="td_check check02 check0203"></td>
					<td class="td_check check02 check0204"></td>
					<td class="td_check check02 check0205"></td>
				</tr>
				<tr>
					<td class="td_txt td_txt03"><img src="../page/sp_autumn2016/images/lesson3_04_txt02_03.gif" alt="" /></td>
					<td class="td_check check03 check0301"></td>
					<td class="td_check check03 check0302"></td>
					<td class="td_check check03 check0303"></td>
					<td class="td_check check03 check0304"></td>
					<td class="td_check check03 check0305"></td>
				</tr>
				<tr>
					<td class="td_txt td_txt04"><img src="../page/sp_autumn2016/images/lesson3_04_txt02_04.gif" alt="" /></td>
					<td class="td_check check04 check0401"></td>
					<td class="td_check check04 check0402"></td>
					<td class="td_check check04 check0403"></td>
					<td class="td_check check04 check0404"></td>
					<td class="td_check check04 check0405"></td>
				</tr>
				<tr>
					<td class="td_txt td_txt05"><img src="../page/sp_autumn2016/images/lesson3_04_txt02_05.gif" alt="" /></td>
					<td class="td_check check05 check0501"></td>
					<td class="td_check check05 check0502"></td>
					<td class="td_check check05 check0503"></td>
					<td class="td_check check05 check0504"></td>
					<td class="td_check check05 check0505"></td>
				</tr>
			</tbody>
		</table>
		<div class="check_btn"><img src="../page/sp_autumn2016/images/lesson3_04_btn01_off.jpg" alt="判定結果はこちら" /></div>
		<div class="result_area">
			<h4 class="sttl02"><img src="../page/sp_autumn2016/images/lesson3_04_sttl03.gif" alt="" /></h4>
			<p class="result_correct"><img src="../page/sp_autumn2016/images/lesson3_04_txt03_01.jpg" alt="" /></p>
			<p class="result_incorrect"><img src="../page/sp_autumn2016/images/lesson3_04_txt03_02.jpg" alt="" /></p>
			<div class="btn_r01"><a href="/rps/static/?f=page/sp_autumn2016/entry&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson2_04_btn03.jpg" alt="" /></a></div>
		</div>
		<div class="bg01"><img src="../page/sp_autumn2016/images/lesson2_04_bg02.jpg" alt="" /></div>
	</div>
</div>

<div id="sec05">
	<p><img src="../page/sp_autumn2016/images/lesson3_05_txt01.gif" alt="" /></p>
	<div class="btn"><img src="../page/sp_autumn2016/images/lesson3_05_btn01.jpg" alt="" usemap="#map030501" /><!--
	--><map name="map030501"><area shape="rect" coords="460,15,660,55" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}" alt="フードへ"></map></div>
</div>

<div id="sec_bottom">
	<p><img src="../page/sp_autumn2016/images/lesson3_06_txt01.gif" alt="" /></p>
	<ul>
		<li class="li01"><a href="/rps/static/?f=page/sp_autumn2016/lesson1&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson2_06_img01.png" alt="" /></a></li>
		<li class="li02"><a href="/rps/static/?f=page/sp_autumn2016/lesson2&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson3_06_img01.png" alt="" /></a></li>
	</ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
