<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_autumn2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}">秋の逸品会特別企画　プレゼントキャンペーン</a></li>
<li id="presentLocation">Lecon2 「フランスワイン」を知ろう</li>
</ul>

<!-- main -->
<div id="main" class="lesson2">

<div id="sec_header">
	<div class="txt01">
		<div class="inner">
			<p><img src="../page/sp_autumn2016/images/idx_hd_txt02.gif" alt="" /></p>
		</div>
	</div>
	<h1><img src="../page/sp_autumn2016/images/lesson1_hd_ttl01.jpg" alt="" /></h1>
	<div class="cnts">
		<div class="inner">
			<h2><img src="../page/sp_autumn2016/images/lesson2_hd_ttl02.png" alt="" /></h2>
			<ul class="clfx">
				<li><a href="#sec01"><img src="../page/sp_autumn2016/images/lesson2_hd_btn01.png" alt="" /></a></li>
				<li><a href="#sec02"><img src="../page/sp_autumn2016/images/lesson2_hd_btn02.png" alt="" /></a></li>
				<li><a href="#sec03"><img src="../page/sp_autumn2016/images/lesson2_hd_btn03.png" alt="" /></a></li>
			</ul>
			<p class="txt02"><img src="../page/sp_autumn2016/images/lesson2_hd_txt01.png" alt="" /></p>
		</div>
	</div>
</div>

<div id="sec01">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson2_01_ttl.jpg" alt="" /></h3>
		<p class="txt01"><img src="../page/sp_autumn2016/images/lesson2_01_txt01.jpg" alt="" /></p>
		<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_01_img01.jpg" alt="" /></div>
		<ul class="ul01 clfx">
			<li class="first"><img src="../page/sp_autumn2016/images/lesson2_01_txt02_01.jpg" alt="" /></li>
			<li><img src="../page/sp_autumn2016/images/lesson2_01_txt02_02.jpg" alt="" /></li>
			<li><img src="../page/sp_autumn2016/images/lesson2_01_txt02_03.jpg" alt="" /></li>
			<li class="first bottom"><img src="../page/sp_autumn2016/images/lesson2_01_txt02_04.jpg" alt="" /></li>
			<li class="bottom"><img src="../page/sp_autumn2016/images/lesson2_01_txt02_05.jpg" alt="" /></li>
			<li class="bottom"><img src="../page/sp_autumn2016/images/lesson2_01_txt02_06.jpg" alt="" /></li>
		</ul>
		<ul class="ul02 clfx">
			<li><img src="../page/sp_autumn2016/images/lesson2_01_img02_01.jpg" alt="" usemap="#map01_01" /><!--
				--><map name="map01_01"><area shape="rect" coords="24,196,262,241" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01" alt="ワインを探す"></map>
			</li>
			<li><img src="../page/sp_autumn2016/images/lesson2_01_img02_02.jpg" alt="" usemap="#map01_02" /><!--
				--><map name="map01_02"><area shape="rect" coords="24,196,262,241" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01" alt="ワインを探す"></map>
			</li>
			<li><img src="../page/sp_autumn2016/images/lesson2_01_img02_03.jpg" alt="" usemap="#map01_03" /><!--
				--><map name="map01_03"><area shape="rect" coords="24,196,262,241" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01" alt="ワインを探す"></map>
			</li>
		</ul>
	</div>
</div>

<div id="sec02">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson2_02_ttl.jpg" alt="" /></h3>
		<p class="txt01"><img src="../page/sp_autumn2016/images/lesson2_02_txt01.jpg" alt="" /></p>
		<h4><img src="../page/sp_autumn2016/images/lesson2_02_sttl01.jpg" alt="" /></h4>
		<div class="block block01 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img01_01.jpg" alt="" /></div>
			<div class="txt02">
				<h5>重めで複雑な香りの赤ワインは、<br />ソースにもワインを使った料理との相性が良い</h5>
				<p>赤ワインやニンニクでシンプルに味付けし、ミディアムレアに仕上げる「牛ロースボルドー風」が代表的な郷土料理。ほかにも、八つ目ウナギ、仔羊、黒トリュフ、フォアグラなどを使った料理にも相性が良いです。</p>
			</div>
		</div>
		<div class="block block02 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img01_02.jpg" alt="" /></div>
			<div class="txt02">
				<h5>辛口で香り高い白ワインには、素材の味わいを生かした料理が合う</h5>
				<p>ガーリックバターやパセリを使った「エスカルゴの殻焼き」を始め、普通の鶏肉よりコクがあるホロホロ鶏のロースト、鮭のバター風味ソテーなどの料理と好相性です。</p>
			</div>
		</div>
		<div class="block block03 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img01_03.jpg" alt="" /></div>
			<div class="txt02">
				<h5>すっきりとした後味のシャンパンは、<br />新鮮な魚介やあっさりとした料理と楽しみたい</h5>
				<p>心地良い発泡と、すっきりとしたキレ味が舌を楽しませてくれるシャンパンは、ミルキーな生ガキや、キャビアの塩漬け、白身魚のムニエルとの相性が抜群です。</p>
			</div>
		</div>
		<h4><img src="../page/sp_autumn2016/images/lesson2_02_sttl02.jpg" alt="" /></h4>
		<div class="block block04 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img02_01.jpg" alt="" /></div>
			<div class="txt02">
				<h5>素材とワインの色を合わせる</h5>
				<p>料理とワインの「色」を合わせるマリアージュもおすすめです。赤ワインなら赤身の牛肉、白ワインなら白身の鶏肉やお魚、ロゼワインならスモークサーモンや生ハムなど、見た目で選ぶシンプルな方法です。</p>
			</div>
		</div>
		<div class="block block05 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img02_02.jpg" alt="" /></div>
			<div class="txt02">
				<h5>ワインと料理、共通する風味を見つける</h5>
				<p>「みずみずしい柑橘系の風味」や「ハーブのような爽やかな香り」など、ワインが持つ独特の風味と似た味わいの料理を選ぶことで、ワインの味わいが何層にも広がります。</p>
			</div>
		</div>
		<div class="block block06 clfx">
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_02_img02_03.jpg" alt="" /></div>
			<div class="txt02">
				<h5>赤ワインは肉、白ワインは魚とは限らない</h5>
				<p>赤ワインは、牛や羊などの肉のほか、マグロやカツオなど赤身の魚にも合います。白ワインは、魚介類はもちろん、鶏や豚のグリルなど、あっさりした肉料理とも好相性。</p>
			</div>
		</div>
		<div class="btn01"><img src="../page/sp_autumn2016/images/lesson2_02_btn01.jpg" alt="" usemap="#map02" /><!--
			--><map name="map02"><area shape="rect" coords="297,96,567,141" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01" alt="ワインを探す"></map></div>
	</div>
</div>

<div id="sec03">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson2_03_ttl.jpg" alt="" /></h3>
		<p class="txt01"><img src="../page/sp_autumn2016/images/lesson2_03_txt01.jpg" alt="" /></p>
		<h4><img src="../page/sp_autumn2016/images/lesson2_03_sttl01.jpg" alt="" /></h4>
		<div class="cnts cnts01 clfx">
			<div class="block block01">
				<div class="img"><img src="../page/sp_autumn2016/images/lesson2_03_img01_01.jpg" alt="" /></div>
				<h5>タンニンが強い赤には、甘みを引き出す<br />大きなチューリップ型グラスを</h5>
				<p>ボルドー地方の赤ワインは、タンニンが強いのが特徴。こういった果実味や甘みを強調したいものには、チューリップ型の大きなボウルがいいとされています。</p>
			</div>
			<div class="block block02">
				<div class="img"><img src="../page/sp_autumn2016/images/lesson2_03_img01_02.jpg" alt="" /></div>
				<h5>酸味を立たせたい赤ワインにおすすめは、<br />縁がフレアした、アロマを止まらせるグラス</h5>
				<p>ピノ・ノワールの赤ワインのように、酸味を感じさせたいものにおすすめのタイプ。大きなボウルと、フレアした縁が、アロマを開かせ、止まらせます。</p>
			</div>
		</div>
		<div class="cnts cnts02 clfx">
			<div class="block block01">
				<div class="img"><img src="../page/sp_autumn2016/images/lesson2_03_img01_03.jpg" alt="" /></div>
				<h5>白ワインでも熟成した上級なものは、<br />大きなグラスでアロマの広がりを楽しみたい</h5>
				<p>口が大きく開き、果実味が強調されるグラス。ブルゴーニュの上級ワインとして知られるモンラッシェなど、熟成した樽の風味を味わいたい、上質な白に適しています。</p>
			</div>
			<div class="block block02">
				<div class="img"><img src="../page/sp_autumn2016/images/lesson2_03_img01_04.jpg" alt="" /></div>
				<h5>シャンパン特有の細かな泡を、<br />より繊細に感じるためのフルートタイプ</h5>
				<p>辛口シャンパン独特の繊細な泡立ちを、舌先で感じることのできるグラス。シャープで細長いフォルムが、フレッシュさや軽やかさを引き立てます。</p>
			</div>
		</div>
		<div class="btn01"><img src="../page/sp_autumn2016/images/lesson2_03_btn01.jpg" alt="" usemap="#map03" /><!--
		--><map name="map03"><area shape="rect" coords="297,96,567,141" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}#anchor01" alt="ワインを探す"></map></div>
		<div class="btn02"><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category287"><img src="../page/sp_autumn2016/images/lesson2_03_btn02.jpg" alt="" /></a></div>
	</div>
</div>

<div id="sec04">
	<div class="inner">
		<div class="cnts">
			<h3><img src="../page/sp_autumn2016/images/lesson2_04_ttl.jpg" alt="" /></h3>
			<p class="txt01"><img src="../page/sp_autumn2016/images/lesson2_04_txt01.jpg" alt="" /></p>
			<div class="img01"><img src="../page/sp_autumn2016/images/lesson2_04_img01.jpg" alt="" /></div>
			<div class="btn01 start"><img src="../page/sp_autumn2016/images/lesson2_04_btn01.jpg" alt="" class="hover" /></div>
			
			<div class="block block01">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_r01.jpg" alt="" /></p>
				<ul class="ul02 clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r01_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r01_02_off.jpg" alt="" /></li>
				</ul>
			</div>

			<div class="block block01_02">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_r02.jpg" alt="" /></p>
				<ul class="ul03 clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r02_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r02_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r02_03_off.jpg" alt="" /></li>
				</ul>
			</div>
			<div class="block block01_03">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_r03.jpg" alt="" /></p>
				<ul class="clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r03_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r03_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r03_03_off.jpg" alt="" /></li>
					<li class="li04"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r03_04_off.jpg" alt="" /></li>
				</ul>
			</div>
			<div class="block block01_04 end">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_r04.jpg" alt="" /></p>
				<ul class="clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r04_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r04_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r04_03_off.jpg" alt="" /></li>
					<li class="li04"><img src="../page/sp_autumn2016/images/lesson2_04_btn_r04_04_off.jpg" alt="" /></li>
				</ul>
			</div>

			<div class="block block02_02">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_w02.jpg" alt="" /></p>
				<ul class="clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w02_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w02_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w02_03_off.jpg" alt="" /></li>
					<li class="li04"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w02_04_off.jpg" alt="" /></li>
				</ul>
			</div>
			<div class="block block02_03">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_w03.jpg" alt="" /></p>
				<ul class="clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w03_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w03_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w03_03_off.jpg" alt="" /></li>
					<li class="li04"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w03_04_off.jpg" alt="" /></li>
				</ul>
			</div>
			<div class="block block02_04 end">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt_w04.jpg" alt="" /></p>
				<ul class="clfx">
					<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w04_01_off.jpg" alt="" /></li>
					<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w04_02_off.jpg" alt="" /></li>
					<li class="li03"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w04_03_off.jpg" alt="" /></li>
					<li class="li04"><img src="../page/sp_autumn2016/images/lesson2_04_btn_w04_04_off.jpg" alt="" /></li>
				</ul>
			</div>

			<div class="block03">
				<p><img src="../page/sp_autumn2016/images/lesson2_04_txt02.jpg" alt="" /></p>
				<div class="btn"><img src="../page/sp_autumn2016/images/lesson2_04_btn02.jpg" alt="" class="hover" /></div>
			</div>

			<div class="result_area">
				<h4><img src="../page/sp_autumn2016/images/lesson2_04_sttl01.jpg" alt="" /></h4>
				<div class="result result1_1">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_r05_01.jpg" alt="" /></p>
					<ul class="clfx">
						<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_img_r01_01.jpg" alt="" usemap="#map_r010101" /><!--
						--><map name="map_r010101"><area style="cursor:pointer;" shape="rect" coords="143,234,343,274" onclick="window.open('../detail/?a=Item_detail&id=8341&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
						<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_img_r01_02.jpg" alt="" usemap="#map_r010102" /><!--
						--><map name="map_r010102"><area style="cursor:pointer;" shape="rect" coords="143,234,343,274" onclick="window.open('../detail/?a=Item_detail&id=8339&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result1_2">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_r05_02.jpg" alt="" /></p>
					<ul class="clfx">
						<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_img_r02_01.jpg" alt="" usemap="#map_r010201" /><!--
						--><map name="map_r010201"><area style="cursor:pointer;" shape="rect" coords="145,254,345,294" onclick="window.open('../detail/?a=Item_detail&id=8335&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
						<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_img_r02_02.jpg" alt="" usemap="#map_r010202" /><!--
						--><map name="map_r010202"><area style="cursor:pointer;" shape="rect" coords="156,254,356,294" onclick="window.open('../detail/?a=Item_detail&id=8336&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result1_3">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_r05_03.jpg" alt="" /></p>
					<ul>
						<li><img src="../page/sp_autumn2016/images/lesson2_04_img_r03.jpg" alt="" usemap="#map_r0103" /><!--
						--><map name="map_r0103"><area style="cursor:pointer;" shape="rect" coords="145,168,345,208" onclick="window.open('../detail/?a=Item_detail&id=8331&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result1_4">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_r05_04.jpg" alt="" /></p>
					<ul>
						<li><img src="../page/sp_autumn2016/images/lesson2_04_img_r04.jpg" alt="" usemap="#map_r0104" /><!--
						--><map name="map_r0104"><area style="cursor:pointer;" shape="rect" coords="142,167,342,207" onclick="window.open('../detail/?a=Item_detail&id=8330&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result1_5">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_r05_05.jpg" alt="" /></p>
					<ul>
						<li><img src="../page/sp_autumn2016/images/lesson2_04_img_r05.jpg" alt="" usemap="#map_r0105" /><!--
						--><map name="map_r0105"><area style="cursor:pointer;" shape="rect" coords="277,493,547,538" onclick="window.open('../detail/?a=Item_detail&id=8326&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>

				<div class="result result2_1">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_w05_01.jpg" alt="" /></p>
					<ul class="clfx">
						<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_img_w01_01.jpg" alt="" usemap="#map_w010101" /><!--
						--><map name="map_w010101"><area style="cursor:pointer;" shape="rect" coords="145,255,345,295" onclick="window.open('../detail/?a=Item_detail&id=8338&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
						<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_img_w01_02.jpg" alt="" usemap="#map_w010102" /><!--
						--><map name="map_w010102"><area style="cursor:pointer;" shape="rect" coords="145,255,345,295" onclick="window.open('../detail/?a=Item_detail&id=8337&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>

				<div class="result result2_2">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_w05_02.jpg" alt="" /></p>
					<ul class="clfx">
						<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_img_w02_01.jpg" alt="" usemap="#map_w010201" /><!--
						--><map name="map_w010201"><area style="cursor:pointer;" shape="rect" coords="154,255,354,295" onclick="window.open('../detail/?a=Item_detail&id=8334&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
						<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_img_w02_02.jpg" alt="" usemap="#map_w010202" /><!--
						--><map name="map_w010202"><area style="cursor:pointer;" shape="rect" coords="147,255,347,295" onclick="window.open('../detail/?a=Item_detail&id=8333&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result2_3">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_w05_03.jpg" alt="" /></p>
					<ul class="clfx">
						<li class="li01"><img src="../page/sp_autumn2016/images/lesson2_04_img_w03_01.jpg" alt="" usemap="#map_w010301" /><!--
						--><map name="map_w010301"><area style="cursor:pointer;" shape="rect" coords="149,255,349,295" onclick="window.open('../detail/?a=Item_detail&id=8329&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
						<li class="li02"><img src="../page/sp_autumn2016/images/lesson2_04_img_w03_02.jpg" alt="" usemap="#map_w010302" /><!--
						--><map name="map_w010302"><area style="cursor:pointer;" shape="rect" coords="149,255,349,295" onclick="window.open('../detail/?a=Item_detail&id=8328&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result2_4">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_w05_04.jpg" alt="" /></p>
					<ul>
						<li><img src="../page/sp_autumn2016/images/lesson2_04_img_w04.jpg" alt="" usemap="#map_w0104" /><!--
						--><map name="map_w0104"><area style="cursor:pointer;" shape="rect" coords="153,167,353,207" onclick="window.open('../detail/?a=Item_detail&id=8327&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<div class="result result2_5">
					<p class="txt_r01"><img src="../page/sp_autumn2016/images/lesson2_04_txt_w05_05.jpg" alt="" /></p>
					<ul>
						<li><img src="../page/sp_autumn2016/images/lesson2_04_img_w05.jpg" alt="" usemap="#map_w0105" /><!--
						--><map name="map_w0105"><area style="cursor:pointer;" shape="rect" coords="277,493,547,538" onclick="window.open('../detail/?a=Item_detail&id=8325&{%%svid%%}', 'window_name', 'width=950,height=600,status=yes,resizable=yes,scrollbars=yes,toolbar=yes,location=yes'); return false;" alt="商品ページはこちら"></map></li>
					</ul>
				</div>
				<p class="txt_r02"><img src="../page/sp_autumn2016/images/lesson2_04_txt03.jpg" alt="" /></p>
				<div class="btn_r01"><a href="/rps/static/?f=page/sp_autumn2016/entry&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson2_04_btn03.jpg" alt="" /></a></div>
			</div>

			<div class="bg01"><img src="../page/sp_autumn2016/images/lesson2_04_bg02.jpg" alt="" /></div>
		</div>
	</div>
</div>

<div id="sec05">
	<div class="inner">
		<div class="btn11"><img src="../page/sp_autumn2016/images/lesson2_05_btn01.jpg" alt="" usemap="#map05" /><!--
		--><map name="map05"><area shape="rect" coords="535,70,735,110" href="/rps/static/?f=page/autumn2016/index6&{%%svid%%}" alt="フードへ"></map></div>
	</div>
</div>




<div id="sec_bottom">
	<p><img src="../page/sp_autumn2016/images/lesson2_06_txt01.jpg" alt="" /></p>
	<ul>
		<li class="li01"><a href="/rps/static/?f=page/sp_autumn2016/lesson1&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson2_06_img01.png" alt="" /></a></li>
		<li class="li02"><a href="/rps/static/?f=page/sp_autumn2016/lesson3&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson1_08_img02.png" alt="" /></a></li>
	</ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
