<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_autumn2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_autumn2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_autumn2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="/rps/static/?f=page/sp_autumn2016/index&{%%svid%%}">秋の逸品会特別企画　プレゼントキャンペーン</a></li>
<li id="presentLocation">Lecon1 「フランス」をまずは知ろう</li>
</ul>

<!-- main -->
<div id="main" class="lesson1">

<div id="sec_header">
	<div class="txt01">
		<div class="inner">
			<p><img src="../page/sp_autumn2016/images/idx_hd_txt02.gif" alt="" /></p>
		</div>
	</div>
	<h1><img src="../page/sp_autumn2016/images/lesson1_hd_ttl01.jpg" alt="" /></h1>
	<div class="cnts">
		<div class="inner">
			<h2><img src="../page/sp_autumn2016/images/lesson1_hd_ttl02.png" alt="" /></h2>
			<ul class="clfx">
				<li><a href="#sec02"><img src="../page/sp_autumn2016/images/lesson1_hd_btn01.png" alt="" /></a></li>
				<li><a href="#sec03"><img src="../page/sp_autumn2016/images/lesson1_hd_btn02.png" alt="" /></a></li>
				<li><a href="#sec04"><img src="../page/sp_autumn2016/images/lesson1_hd_btn03.png" alt="" /></a></li>
				<li><a href="#sec05"><img src="../page/sp_autumn2016/images/lesson1_hd_btn04.png" alt="" /></a></li>
				<li><a href="#sec06"><img src="../page/sp_autumn2016/images/lesson1_hd_btn05.png" alt="" /></a></li>
			</ul>
			<p class="txt02"><img src="../page/sp_autumn2016/images/lesson1_hd_txt01.png" alt="" /></p>
		</div>
	</div>
</div>

<div id="sec01">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_01_ttl01.jpg" alt="" /></h3>
		<p><img src="../page/sp_autumn2016/images/lesson1_01_txt01.gif" alt="" /></p>
		<div class="figure"><img src="../page/sp_autumn2016/images/lesson1_01_img01.jpg" alt="" /></div>
	</div>
</div>

<div id="sec02">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_02_ttl01.jpg" alt="" /></h3>
		<p>現在、<span>トレンドの象徴</span>となっている、<span>シャンゼリゼ通り</span>。多くのブランドショップやカフェ、映画館などで賑わい、<span>通りにはフランスが誇るモードの歴史があふれています</span>。<br />
		<br />
		その一つ、<span>パリ最古のトランクメゾン</span>として知られる<span>“モワナ”</span>も、この通りの近くで見かけることができます。<br />
		1849年に創業し、交通手段が馬車から車に移り変わるころ、車上でも安定するようカーブを施した「リムジントランク」で一躍注目を集めました。<span>すべての工程を一人の職人が担うスタイル</span>を貫き、その<span>高いクオリティーが日本でも人気</span>となっています。</p>
		<div class="figure"><!--
			--><img src="../page/sp_autumn2016/images/lesson1_02_img01.jpg" alt="" usemap="#map02" /><!--
			--><map name="map02">
				<area shape="rect" coords="304,100,574,145" href="/rps/static/?f=page/luxury/moynat/index&{%%svid%%}" alt="リンク">
			</map>
		</div>
	</div>
</div>

<div id="sec03">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_03_ttl01.jpg" alt="" /></h3>
		<p>今でこそ名立たるメゾンがひしめき合うフランス。ここまで多彩なブランドが生まれ、成長してきたのは、<span>華やかな貴族たちの文化</span>があったからでしょう。彼らが育てた美への<span>思いが一般にも広まり</span>、「<span>オートクチュール（注文服）</span>」や、「<span>プレタポルテ（既製服）</span>」という概念を生みます。<br />
		<br />
		私たちが楽しんでいるファッションが産声をあげたフランス。その成長には<span>有名メゾンを、陰で支えてきたメーカー</span>の存在もありました。その代表が、<span>きらきらと輝く糸やリボンなどをあしらった、色鮮やかなツイード生地</span>を手掛けるファブリックメーカー「<span>マリア・ケント</span>」社。その生地に魅了された<span>ハイブランドが鮮やかなスーツ</span>を発表したところ、<span>瞬く間に女性たちの憧れの的</span>になりました。以降、「マリア・ケント」社は仕立てるファブリックの美しさから、「<span>織物の詩人</span>」と呼ばれています。</p>
		<div class="figure"><!--
			--><img src="../page/sp_autumn2016/images/lesson1_03_img01.jpg" alt="" usemap="#map03" /><!--
			--><map name="map03">
				<area shape="rect" coords="304,100,574,145" href="/rps/static/?f=page/autumn2016/index2&{%%svid%%}#anchor01" alt="リンク">
			</map>
		</div>
	</div>
</div>

<div id="sec04">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_04_ttl01.jpg" alt="" /></h3>
		<p>ジュエリーの発展も、国の歴史と重なります。かの「ナポレオン」は、宝飾を「権力」を誇示するものとして捉えていました。<span>“ショーメ”の創業者は、彼の御用達ジュエラーになることで名声を獲得</span>。豪華な宝剣やティアラなどを制作することで、感性を高めていきました。王妃「ジョセフィーヌ」の名を冠するコレクションは、現在も発表し続けられています。<br />
		<br />
		そのほかのブランドも、王族たちの寵愛を受けるなどしながら育っていきます。<span>ヴァンドーム広場に軒を連ねるジュエラー</span>をつくりあげたのも、煌びやかなフランス文化があったからといえるのではないでしょうか。</p>
		<div class="figure"><!--
			--><img src="../page/sp_autumn2016/images/lesson1_04_img01.jpg" alt="" usemap="#map04" /><!--
			--><map name="map04">
				<area shape="rect" coords="304,100,574,145" href="/rps/static/?f=page/autumn2016/index3&{%%svid%%}#anchor01" alt="リンク">
			</map>
		</div>
	</div>
</div>

<div id="sec05">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_05_ttl01.jpg" alt="" /></h3>
		<p>フランスでは国王を始めとした、<span>権力者が文化を庇護</span>してきました。フランスを代表する美術館の一つ「ルーブル」の<span>初期コレクションには、フランソワ一世の絵画コレクション</span>がおさめられています。彼の功績はこれだけではありません。十六世紀には、<span>レオナルド・ダ・ビンチら多くの芸術家を招聘</span>。その後、ルネサンス文化が花開きます。ルイ十四世はその絶対的な権力で、豪華なベルサイユ宮殿を建設。現在も世界の羨望の的となっています。このように、古くからフランスには、<span>文化が育ちやすい環境</span>があったといえます。<br />
		<br />
		<span>クリスタル作品の老舗“バカラ”</span>の誕生にも、時の王が関係しています。1764年に、<span>ルイ十五世の認可を受けて創設</span>されたことは、あまり知られていないのではないでしょうか。以後250年余りの時をかけて、世界的なクリスタル・ブランドとしての地位を揺るぎないものとしてきた“バカラ”。過去から現代へ、<span>職人技を大切に継承し、美を探求してきた姿勢</span>があったからなのでしょう。</p>
		<div class="figure"><!--
			--><img src="../page/sp_autumn2016/images/lesson1_05_img01.jpg" alt="" usemap="#map05" /><!--
			--><map name="map05">
				<area shape="rect" coords="304,100,574,145" href="/rps/static/?f=page/autumn2016/index10&{%%svid%%}" alt="リンク">
			</map>
		</div>
	</div>
</div>

<div id="sec06">
	<div class="inner">
		<h3><img src="../page/sp_autumn2016/images/lesson1_06_ttl01.jpg" alt="" /></h3>
		<p><span>ベルサイユの宮廷文化を彷彿</span>とさせる光景を、現在でも目にすることができる<span>フランスの「競馬場」</span>。<br />
		ロンシャン競馬場で開催される世界的レース「<span>凱旋門賞</span>」では、婦人たちが<span>デザイン性豊かなハット</span>を被っています。この伝統が生まれたのは、貴族が栄華を極めた国だからでしょう。<span>着飾ったセレブリティ―</span>が集まる、<span>フランスらしい式典</span>です。<br />
		<br />
		そんな<span>フランス競馬の計時を担当</span>することで、注目度を高めた時計ブランドがあります。1878年に<span>馬とジョッキーが刻まれたクロノグラフを製造</span>するなど、<span>競馬との関係が深い“ロンジン”</span>です。ブランドは、<span>フランス中央競馬を統括する協会「フランス・ギャロップ」</span>と<span>長期パートナーシップを締結</span>。2011年には、<span>伝統あるシャンティイ競馬で開催される「ディアーヌ・ロンジン杯」のタイトルパートナー</span>にもなり、フランス競馬との関わりはますます増しています。</p>
		<div class="figure"><!--
			--><img src="../page/sp_autumn2016/images/lesson1_06_img01.jpg" alt="" usemap="#map06" /><!--
			--><map name="map06">
				<area shape="rect" coords="304,100,574,145" href="/rps/static/?f=page/autumn2016/index5&{%%svid%%}#anchor01" alt="リンク">
			</map>
		</div>
	</div>
</div>

<div id="sec07">
	<p><img src="../page/sp_autumn2016/images/lesson1_07_txt01.gif" alt="" /></p>
	<div class="btn"><a href="/rps/static/?f=page/sp_autumn2016/entry&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson1_07_btn01.jpg" alt="" /></a></div>
</div>

<div id="sec08">
	<p><img src="../page/sp_autumn2016/images/lesson1_08_txt01.gif" alt="" /></p>
	<ul>
		<li class="li01"><a href="/rps/static/?f=page/sp_autumn2016/lesson2&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson1_08_img01.png" alt="" /></a></li>
		<li class="li02"><a href="/rps/static/?f=page/sp_autumn2016/lesson3&{%%svid%%}"><img src="../page/sp_autumn2016/images/lesson1_08_img02.png" alt="" /></a></li>
	</ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
