<!----------- 編集エリアここから ----------->
<style>
#main .sec_header {width:950px; height:100px; position:relative; margin-top:30px;margin-bottom:0px;}
#main .sec_header h1 {position:absolute; text-indent: 0px!important; margin:0px!important; height:100px!important;}
#main .sec_header a {position:absolute;left:670px;top:25px;margin:0; text-indent:inherit;}
#bc_title {margin: 0px auto 50px;}
</style>

<div class="sec_header">
<h1><img src="../_common/images/summer2016/cmn_header_ttl.jpg" alt="2016 夏の逸品会 公開期間：6月15日（水）〜7月15日（金）" /></h1>
<a href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../_common/images/summer2016/cmn_header_btn.gif" alt="逸品会トップへ戻る" /></a>
</div>

<img src="../_common/images/summer2016/hd_sttl01.gif" alt="世界の逸品 ブランドコレクション"  id="bc_title" />


		<div id="brandBannerArea">
		<ul>
		<li><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-baccarat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}">バカラ</a></p></li>
		<!-- <li><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-burberry.jpg" /></a>
		<p><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}">バーバリー</a></p></li> -->
		<li><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-chloe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}">クロエ</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-damiani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}">ダミアーニ</a></p></li>-->
		<!--<li><a href="../static/?f=page/luxury/dior/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dior.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dior/index&{%%svid%%}">ディオール</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-donnakaran.jpg" /></a>
		<p><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}">ダナキャラン</a></p></li-->
		<li><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dunhill.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}">ダンヒル</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/etro/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-etro.jpg" /></a>
		<p><a href="../static/?f=page/luxury/etro/index&{%%svid%%}">エトロ</a></p></li>-->
		<li><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-fendi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}">フェンディ</a></p></li>
		<li><a href="../static/?f=page/luxury/armani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-armani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/armani/index&{%%svid%%}">ジョルジオ アルマーニ</a></p></li>
		<!--
		<li><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-gucci02.jpg" /></a>
		<p><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}">グッチ</a></p></li>
		-->
		<li><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-jilsander.jpg" /></a>
		<p><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}">ジル・サンダー</a></p></li>
		<li><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-loewe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}">ロエベ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-lucien.jpg" /></a>
		<p><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}">ルシアン ペラフィネ</a></p></li-->
		<!--<li><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-huntingworld.jpg" /></a>
		<p><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}">ハンティング・ワールド</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-mathon.jpg" /></a>
		<p><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}">マットン</a></p></li-->
		<li><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-meissen.jpg" /></a>
		<p><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}">マイセン</a></p></li>
		<li><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moncler.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}">モンクレール</a></p></li>
		<li><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-morabito.jpg" /></a>
		<p><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}">モラビト</a></p></li>
		<li><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moynat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}">モワナ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-repossi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}">レポシ</a></p></li-->
		<!--li><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-rolex.jpg" /></a>
		<p><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}">ロレックス</a></p></li-->
		<li><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-ferragamo.jpg" /></a>
		<p><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}">サルヴァトーレ フェラガモ</a></p></li>
		<li><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-stellmccartney.jpg" /></a>
		<p><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}">ステラ マッカートニー</a></p></li>
		<!--li><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-scavia.jpg" /></a>
		<p><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}">スカヴィア</a></p></li-->
		<li><a href="../static/?f=page/luxury/tods/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-tods.jpg" /></a>
		<p><a href="../static/?f=page/luxury/tods/index&{%%svid%%}">トッズ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/watch/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-watch.jpg" /></a>
		<p><a href="../static/?f=page/luxury/watch/index&{%%svid%%}">ウオッチ</a></p></li-->
		</ul>

	</div>