<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>エルメネジルド ゼニア 品格のスーツ、洗練のジャケット | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/zegna_1608/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/zegna_1608/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/zegna_1608/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/zegna_1608/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/zegna_1608/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
	

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
	<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">エルメネジルド ゼニア 品格のスーツ、洗練のジャケット</li>
	</ul>
	
<div id="mainvisual">
	<div class="inner">
		<h1><img src="../page/zegna_1608/images/logo.png" alt="エルメネジルド ゼニア" width="484" height="85" /></h1>
		<p><img src="../page/zegna_1608/images/text.png" alt="品格のスーツ、洗練のジャケット 生地にこだわり、つくりにこだわり、たどり着いた男の威厳。袖を通せば分かる、最上級の一着をあなたに。" width="381" height="162" /></p>
		<a href="#main2"><img src="../page/zegna_1608/images/btn1.jpg" alt="新作アイテムをチェック" width="244" height="48" /></a>
	</div>
</div>
	
<div id="main1">
	<img src="../page/zegna_1608/images/text2.png" alt="生地への挑戦 すべて自社でつくりあげている“エルメネジルド ゼニア”の生地。原産地で直接買いつける原毛を選り分けるところから生地づくりは始まります。人の髪すら下回る細さの非常に希少な原毛。これを国際的に見ても指折りのテキスタイルファクトリーと評される自社工場で、熟練の職人たちが紡績。世界を虜にするほどの滑らかさは、こうして生み出されています。
 細部への美学 “エルメネジルド ゼニア”は、着る人さえ意識しないようなごく小さなディテールに対しても、決して手を抜きません。例えば、袖口のボタンホール。すべて手縫いで仕上げています。また、衿の裏も補強を施すことで耐久性を高めつつ、美しさを損ねないようステッチの色にまで気を配っています。エレガントで信頼できる一着には、テーラーとしての矜持とこだわりが詰まっています。" width="860" height="590" />

</div>

<div id="main2">
	<h2><img src="../page/zegna_1608/images/subtitle1.png" alt="新作アイテム" width="287" height="93" /></h2>
</div>

<div id="main3">
	<div class="inner">
		<img class="cpat" src="../page/zegna_1608/images/item01.jpg" alt="" width="950" height="488" />
		<div class="bnt_inner">
			<a href="../detail/?a=Item_detail&id=8039&{%%svid%%}"><img src="../page/zegna_1608/images/btn2.jpg" alt="" width="244" height="48" /></a>
		</div>
		<img class="cpat" src="../page/zegna_1608/images/item02.jpg" alt="" width="950" height="488" />
		<div class="bnt_inner">
			<a href="../detail/?a=Item_detail&id=8038&{%%svid%%}"><img src="../page/zegna_1608/images/btn2.jpg" alt="" width="244" height="48" /></a>
		</div>
	</div>
</div>

<div id="main4">
	<h3><img src="../page/zegna_1608/images/text3.png" alt="" width="748" height="22" /></h3>
	<a href="../static/?f=page/luxury/zegna/index&{%%svid%%}"><img src="../page/zegna_1608/images/btn3.jpg" alt="" width="306" height="48" /></a>
	<img id="items" src="../page/zegna_1608/images/items.jpg" alt="" width="950" height="140" />
</div>


{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
