<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>贅を尽くした旨い酒 |  旬が際立つ美味銘品 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/summer/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/summer/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/summer/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/summer/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/summer/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li><a href="../static/?f=page/summer/index_g&{%%svid%%}">旬が際立つ美味銘品</a></li>
<li id="presentLocation">贅を尽くした旨い酒</li>
</ul>

<div id="main" class="brand">

<div id="sec_header">
	<div class="inner">
		<h1><img src="../page/summer/images/header_ttl.gif" alt="夏の逸品会 会期：7月1日（水）〜8月9日（日）" /></h1>
		<p><img src="../page/summer/images/brand_g_02_ttl.jpg" alt="贅を尽くした旨い酒" /></p>
	</div>
</div><!--/#sec_header-->



<div id="sec_contents">

	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5853&{%%svid%%}">
			<img src="../page/summer/images/G_13_tenryoshuzo_01.jpg" width="278" height="208" alt="岐阜 天領酒造　大吟醸 ＜天領 天禄拝領＞" />
			<p>岐阜 天領酒造　大吟醸 ＜天領 天禄拝領＞</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5413&{%%svid%%}">
			<img src="../page/summer/images/G_14_dassai_01.jpg" width="278" height="208" alt="山口　旭酒造　純米大吟醸 ＜獺祭 磨き その先へ＞" />
			<p>山口　旭酒造　純米大吟醸 ＜獺祭 磨き その先へ＞</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5852&{%%svid%%}">
			<img src="../page/summer/images/G_15_nakamurashuzo_01.jpg" width="278" height="208" alt="石川　中村酒造 ＜客人（まれびと）＞" />
			<p>石川　中村酒造 ＜客人（まれびと）＞</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5851&{%%svid%%}">
			<img src="../page/summer/images/G_16_hakkaisan_01.jpg" width="278" height="208" alt="新潟　八海山　純米大吟醸 ＜金剛心 夏季限定・青＞" />
			<p>新潟　八海山　純米大吟醸 ＜金剛心 夏季限定・青＞</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5850&{%%svid%%}">
			<img src="../page/summer/images/G_17_nagaishuzo_01.jpg" width="278" height="208" alt="群馬 永井酒造　MIZUBASHO PURE" />
			<p>群馬 永井酒造　MIZUBASHO PURE</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5849&{%%svid%%}">
			<img src="../page/summer/images/G_18_hamadasyuzou_01.jpg" width="278" height="208" alt="鹿児島 濱田酒造 伝兵衛　芋焼酎 ＜創作島津薩摩切子入り 本格芋焼酎 斉彬の夢＞ 36度" />
			<p>鹿児島 濱田酒造 伝兵衛　芋焼酎 ＜創作島津薩摩切子入り 本格芋焼酎 斉彬の夢＞ 36度</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5848&{%%svid%%}">
			<img src="../page/summer/images/G_19_perrier-jouet_01.jpg" width="278" height="208" alt="ペリエ ジュエ　ベル エポック ロゼ 2005 リミテッド・エディション ＜シャンパーニュ＞" />
			<p>ペリエ ジュエ　ベル エポック ロゼ 2005 リミテッド・エディション ＜シャンパーニュ＞</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5847&{%%svid%%}">
			<img src="../page/summer/images/G_20_perrier-jouet_02.jpg" width="278" height="208" alt="ペリエ ジュエ　アート オブ ヴィンテージ＜シャンパーニュ＞ 3本セット" />
			<p>ペリエ ジュエ　アート オブ ヴィンテージ＜シャンパーニュ＞ 3本セット</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5416&{%%svid%%}">
			<img src="../page/summer/images/G_21_bonperi01_01.jpg" width="278" height="208" alt="ドン ペリニヨン レゼルヴ ドゥ ラベイ ヴィンテージ1992　＜シャンパーニュ＞" />
			<p>ドン ペリニヨン レゼルヴ ドゥ ラベイ ヴィンテージ1992　＜シャンパーニュ＞</p>
		</a>
		</li>
	</ul>
	
	<ul class="clfx">
		<li>
		<a href="../detail/?a=Item_detail&id=5846&{%%svid%%}">
			<img src="../page/summer/images/G_22_francebordeauxwine_01.jpg" width="278" height="208" alt="フランス・ボルドーワイン　シャトー・ムートンロートシルト2005" />
			<p>フランス・ボルドーワイン　シャトー・ムートンロートシルト2005</p>
		</a>
		</li>
		<li class="li_center">
		<a href="../detail/?a=Item_detail&id=5845&{%%svid%%}">
			<img src="../page/summer/images/G_23_ichirosmalt_01.jpg" width="278" height="208" alt="イチローズ・モルト　ウイスキー ＜秩父・ちびダル2014＞" />
			<p>イチローズ・モルト　ウイスキー ＜秩父・ちびダル2014＞</p>
		</a>
		</li>
		<li>
		<a href="../detail/?a=Item_detail&id=5844&{%%svid%%}">
			<img src="../page/summer/images/G_24_oldpulteney_01.jpg" width="278" height="208" alt="スコッチ・シングルモルトウイスキー　オールド・プルトニー 35年" />
			<p>スコッチ・シングルモルトウイスキー　オールド・プルトニー 35年</p>
		</a>
		</li>
	</ul>
	
	
</div><!--/#sec_contents-->



<div id="sec_footer">
	<h2><img src="../page/summer/images/footer_ttl.gif" alt="夏の逸品会" /></h2>
	<div class="inner">
		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_a&{%%svid%%}">珠玉のウオッチ</a></dt>
					<dd><a href="../static/?f=page/summer/brand_a_01&{%%svid%%}">ブライトリング</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_02&{%%svid%%}">ショパール</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_03&{%%svid%%}">ジャガー・ルクルト</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_04&{%%svid%%}">オメガ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_05&{%%svid%%}">ロジェ・デュブイ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_06&{%%svid%%}">セイコー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_a_07&{%%svid%%}">サマーワールドウオッチ コレクション 2015</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_b&{%%svid%%}">魅惑のジュエリー</a></dt>
					<dd><a href="../static/?f=page/summer/brand_b_01&{%%svid%%}">ピアジェ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_02&{%%svid%%}">ブシュロン</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_03&{%%svid%%}">ショーメ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_04&{%%svid%%}">ダミアーニ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_05&{%%svid%%}">オンリー ユー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_06&{%%svid%%}">ビービージー</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_07&{%%svid%%}">The Beauties of Nature</a></dd>
					<dd><a href="../static/?f=page/summer/brand_b_08&{%%svid%%}">彩りのアイウエア</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_c&{%%svid%%}">至極の芸術品</a></dt>
					<dd><a href="../static/?f=page/summer/brand_c_01&{%%svid%%}">谷川 泰宏</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_02&{%%svid%%}">三岸 節子</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_03&{%%svid%%}">柳沢 正人</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_04&{%%svid%%}">櫻井 孝美</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_05&{%%svid%%}">ガレ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_c_06&{%%svid%%}">中田 一於</a></dd>
				</dl>
			</li>
			<li class="li_end">
				<dl>
					<dt><a href="../static/?f=page/summer/index_d&{%%svid%%}">ラグジュアリーコレクション</a></dt>
					<dd><a href="../static/?f=page/summer/brand_d_01&{%%svid%%}">アレクサンドル ドゥ パリ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_d_02&{%%svid%%}">クロエ</a></dd>
				</dl>
			</li>
		</ul>

		<ul class="clfx heightLineParent">
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_e&{%%svid%%}">粋に楽しむ着物と帯</a></dt>
					<dd><a href="../detail/?a=Item_detail&id=5831&{%%svid%%}">阿部 容子 作　手描きロウケツ染訪問着「シルエット四季草花」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5830&{%%svid%%}">阿部 容子 作　手描きロウケツ染訪問着「四季草花総詰」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5829&{%%svid%%}">阿部 容子 作　手描きロウケツ染 名古屋帯「つた染上」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5828&{%%svid%%}">西陣　服部織物　プラチナ金箔　手織り袋帯「更紗華文」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5827&{%%svid%%}">西陣　服部織物　本金箔　手織り袋帯「オリエント更紗」</a></dd>
					<dd><a href="../detail/?a=Item_detail&id=5826&{%%svid%%}">西陣　服部織物　全通織　袋帯「松壽文」</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_f&{%%svid%%}">彩りのインテリア雑貨</a></dt>
					<dd><a href="../static/?f=page/summer/brand_f_01&{%%svid%%}">自分らしく、暮らしスタイルアップ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_f_02&{%%svid%%}">知的好奇心を刺激する知られざる世界の逸品</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="../static/?f=page/summer/index_g&{%%svid%%}">旬が際立つ美味銘品</a></dt>
					<dd><a href="../static/?f=page/summer/brand_g_01&{%%svid%%}">ひんやり季節のスイーツ</a></dd>
					<dd><a href="../static/?f=page/summer/brand_g_02&{%%svid%%}">贅を尽くした旨い酒</a></dd>
					<dd><a href="../static/?f=page/summer/brand_g_03&{%%svid%%}">お酒によく合う旬の肴</a></dd>
				</dl>
			</li>
		</ul>

	</div>
</div><!--/#sec_footer-->
	



</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
