@charset "EUC-JP";

/**
 * ブラウサ間の調整
 */
#sitemapwrapper {
	display: inline-block;
}
#sitemapwrapper {
	display: block;
}
#sitemapwrapper:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
