<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>トッズ | 春の新作バッグコレクション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li><a href="../static/?f=page/spring/index_a&{%%svid%%}">春の新作バッグコレクション</a></li>
<li id="presentLocation">トッズ</li>
</ul>
<div id="main" class="brand-detail">



	<h1><img src="../page/spring/images/brand_a_06_ttl.jpg" width="948" height="200" alt="TOD'S" /></h1>
	<div id="brand">
		<ul>
			<li><a href="../detail/?a=Item_detail&id=5250&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods01_1.jpg" width="280" height="210" alt="＜ケープ＞ ハンドバッグ (カラー：クリーム×アメジスト×グリーン×ホワイト×ストラス）" /><span>＜ケープ＞ ハンドバッグ (カラー：クリーム×アメジスト×グリーン×ホワイト×ストラス）</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5249&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods02_1.jpg" width="280" height="210" alt="＜ケープ＞ ハンドバッグ (カラー：ベージュ)" /><span>＜ケープ＞ ハンドバッグ (カラー：ベージュ)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5248&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods03_1.jpg" width="280" height="210" alt="＜ケープ＞ ハンドバッグ (カラー：ブラウン×クリーム×ホワイト)" /><span>＜ケープ＞ ハンドバッグ (カラー：ブラウン×クリーム×ホワイト)</span></a></li>
		</ul>
		<ul>
			<li><a href="../detail/?a=Item_detail&id=5247&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods04_1.jpg" width="280" height="210" alt="＜ケープ＞ ハンドバッグ (カラー：ダークジェイドグリーン)" /><span>＜ケープ＞ ハンドバッグ (カラー：ダークジェイドグリーン)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5246&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods05_1.jpg" width="280" height="210" alt="＜ケープ＞ ハンドバッグ (カラー：ブルー)" /><span>＜ケープ＞ ハンドバッグ (カラー：ブルー)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5245&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods06_1.jpg" width="280" height="210" alt="＜トッズ ディーキューブ＞ ハンドバッグ (カラー：ブライトブルー×セメントグレー)" /><span>＜トッズ ディーキューブ＞ ハンドバッグ (カラー：ブライトブルー×セメントグレー)</span></a></li>
		</ul>
		<ul>
			<li><a href="../detail/?a=Item_detail&id=5244&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods07_1.jpg" width="280" height="210" alt="＜トッズ ディーキューブ＞ ハンドバッグ (カラー：マンゴー×ライトベージュ)" /><span>＜トッズ ディーキューブ＞ ハンドバッグ (カラー：マンゴー×ライトベージュ)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5243&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods08_1.jpg" width="280" height="210" alt="＜トッズ ディーキューブ＞ ハンドバッグ (カラー：ダークパウダリーピンク)" /><span>＜トッズ ディーキューブ＞ ハンドバッグ (カラー：ダークパウダリーピンク)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5242&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods09_1.jpg" width="280" height="210" alt="＜トッズ ディーキューブ＞ ハンドバッグ (カラー：カリビアンブルー)" /><span>＜トッズ ディーキューブ＞ ハンドバッグ (カラー：カリビアンブルー)</span></a></li>
		</ul>
		<ul>
			<li><a href="../detail/?a=Item_detail&id=5241&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods10_1.jpg" width="280" height="210" alt="＜フラワー＞ ハンドバッグ (カラー：ホワイト×クリーム)" /><span>＜フラワー＞ ハンドバッグ (カラー：ホワイト×クリーム)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5240&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods11_1.jpg" width="280" height="210" alt="＜フラワー＞ ハンドバッグ (カラー：セメントグレー)" /><span>＜フラワー＞ ハンドバッグ (カラー：セメントグレー)</span></a></li>
			<li><a href="../detail/?a=Item_detail&id=5239&{%%svid%%}" target="_top"><img src="../page/spring/images/A_tods12_1.jpg" width="280" height="210" alt="＜フラワー＞ ハンドバッグ (カラー：カプチーノ×レモン)" /><span>＜フラワー＞ ハンドバッグ (カラー：カプチーノ×レモン)</span></a></li>
		</ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<dl class="otherbrand">
		<dt>「春の新作バッグコレクション」ほかを見る</dt>
		<dd><a href="../static/?f=page/spring/brand/brand_a_01&{%%svid%%}" target="_top">クロエ</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_a_02&{%%svid%%}" target="_top">フェンディ</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_a_03&{%%svid%%}" target="_top">ジョルジオ アルマーニ</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_a_04&{%%svid%%}" target="_top">モラビト</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_a_05&{%%svid%%}" target="_top">サルヴァトーレ フェラガモ</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_a_06&{%%svid%%}" target="_top">トッズ</a></dd>
	</dl>
	



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
