<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>暮らしに彩りを添えるプレシャスアイテム | 空間を豊かに彩るインテリア | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top">空間を豊かに彩るインテリア</a></li>
<li id="presentLocation">暮らしに彩りを添えるプレシャスアイテム</li>
</ul>
<div id="main" class="brand-detail">



	<h1><img src="../page/spring/images/brand_h_02_ttl.jpg" width="948" height="200" alt="暮らしに彩りを添えるプレシャスアイテム" /></h1>
	<div id="brand">
	<ul><li><a href="../detail/?a=Item_detail&id=5370&{%%svid%%}" target="_top"><img src="../page/spring/images/H16_JonathanAdler01_1.jpg" width="280" height="210" alt="ジョナサン・アドラー　ダイニングテーブル（スカリナテラ）" /><span>ジョナサン・アドラー　ダイニングテーブル（スカリナテラ）</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5369&{%%svid%%}" target="_top"><img src="../page/spring/images/H17_JonathanAdler02_1.jpg" width="280" height="210" alt="ジョナサン・アドラー　花瓶（ジャイアント・ベリー）" /><span>ジョナサン・アドラー　花瓶（ジャイアント・ベリー）</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5367&{%%svid%%}" target="_top"><img src="../page/spring/images/H19_JonathanAdler04_1.jpg" width="280" height="210" alt="ジョナサン・アドラー　モンゴリアンベンチ" /><span>ジョナサン・アドラー　モンゴリアンベンチ</span></a></li></ul>
	<ul><li><a href="../detail/?a=Item_detail&id=5366&{%%svid%%}" target="_top"><img src="../page/spring/images/H20_JonathanAdler05_1.jpg" width="280" height="210" alt="ジョナサン・アドラー　アクリルデコール（ジャイアントフット）" /><span>ジョナサン・アドラー　アクリルデコール（ジャイアントフット）</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5365&{%%svid%%}" target="_top"><img src="../page/spring/images/H21_JonathanAdler06_1.jpg" width="280" height="210" alt="ジョナサン・アドラー　テーブルランプ（ドラ・マール）" /><span>ジョナサン・アドラー　テーブルランプ（ドラ・マール）</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5376&{%%svid%%}" target="_top"><img src="../page/spring/images/H10_Wedgwood01_1.jpg" width="280" height="210" alt="ウェッジウッド　＜フェイブル クレーン ハニーセット＞ ティーカップ&ソーサー／プレート" /><span>ウェッジウッド　＜フェイブル クレーン ハニーセット＞ ティーカップ&ソーサー／プレート</span></a></li></ul>
	<ul><li><a href="../detail/?a=Item_detail&id=5375&{%%svid%%}" target="_top"><img src="../page/spring/images/H11_Wedgwood02_1.jpg" width="280" height="210" alt="ウェッジウッド　＜ハイビスカス ハニーセット＞ ティーカップ&ソーサー／プレート" /><span>ウェッジウッド　＜ハイビスカス ハニーセット＞ ティーカップ&ソーサー／プレート</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5374&{%%svid%%}" target="_top"><img src="../page/spring/images/H12_Wedgwood03_1.jpg" width="280" height="210" alt="ウェッジウッド　＜フロレンティーン セージグリーン ハニーセット＞ ティーカップ＆ソーサー/プレート" /><span>ウェッジウッド　＜フロレンティーン セージグリーン ハニーセット＞ ティーカップ＆ソーサー／プレート</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5373&{%%svid%%}" target="_top"><img src="../page/spring/images/H13_meissen01_1.jpg" width="280" height="210" alt="マイセン　ティー/コーヒー兼用カップ＆ソーサー「ピオニー」" /><span>マイセン　ティー/コーヒー兼用カップ＆ソーサー「ピオニー」</span></a></li></ul>
	<div class="item2block">
	<ul><li><a href="../detail/?a=Item_detail&id=5372&{%%svid%%}" target="_top"><img src="../page/spring/images/H14_meissen02_1.jpg" width="280" height="210" alt="マイセン　＜メルヘン プラーク シリーズ＞ 「魔法のテーブル」" /><span>マイセン　＜メルヘン プラーク シリーズ＞ 「魔法のテーブル」</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5371&{%%svid%%}" target="_top"><img src="../page/spring/images/H15_meissen03_1.jpg" width="280" height="210" alt="マイセンクリスタル　ペアオールドファッション「桜＆クレマティス」" /><span>マイセンクリスタル　ペアオールドファッション「桜＆クレマティス」</span></a></li></ul>
	</div>

	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<dl class="otherbrand">
		<dt>「空間を豊かに彩るインテリア」ほかを見る</dt>
		<dd><a href="../static/?f=page/spring/brand/brand_h_01&{%%svid%%}" target="_top">快適な毎日を演出する家電・家具</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_h_02&{%%svid%%}" target="_top">暮らしに彩りを添えるプレシャスアイテム</a></dd>
	</dl>

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
