<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>しなやかにまとうジャケットスタイル | 優雅に美しく、春のレディースウエア | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/spring.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring/js/rollover2.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top">優雅に美しく、春のレディースウエア</a></li>
<li id="presentLocation">しなやかにまとうジャケットスタイル</li>
</ul>
<div id="main" class="brand-detail">



	<h1><img src="../page/spring/images/brand_e_02_ttl.jpg" width="948" height="200" alt="しなやかにまとうジャケットスタイル" /></h1>
	<div id="brand">
		<ul><li><a href="../detail/?a=Item_detail&id=5349&{%%svid%%}" target="_top"><img src="../page/spring/images/E1_lelian01_1.jpg" width="280" height="210" alt="レリアン　ジャケット／ワンピース" /><span>レリアン　ジャケット／ワンピース</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5348&{%%svid%%}" target="_top"><img src="../page/spring/images/E2_OE01_1.jpg" width="280" height="210" alt="オールド イングランド　ジャケット／ブラウス／スカート" /><span>オールド イングランド　ジャケット／ブラウス／スカート</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5347&{%%svid%%}" target="_top"><img src="../page/spring/images/E6_yukitorii01_1.jpg" width="280" height="210" alt="ユキトリヰ　ジャケット／カットソー" /><span>ユキトリヰ　ジャケット／カットソー</span></a></li></ul>
		<ul><li><a href="../detail/?a=Item_detail&id=5346&{%%svid%%}" target="_top"><img src="../page/spring/images/E4_lanvin01_1.jpg" width="280" height="210" alt="ランバン コレクション　ジャケット／カットソー／パンツ／バッグ" /><span>ランバン コレクション　ジャケット／カットソー／パンツ／バッグ</span></a></li>
		<li><a href="../detail/?a=Item_detail&id=5345&{%%svid%%}" target="_top"><img src="../page/spring/images/E5_yoshieinaba01_1.jpg" width="280" height="210" alt="ヨシエイナバ　ジャケット／スカート" /><span>ヨシエイナバ　ジャケット／スカート</span></a></li>
	<li><a href="../detail/?a=Item_detail&id=5344&{%%svid%%}" target="_top"><img src="../page/spring/images/E3_hirokokoshino01_1.jpg" width="280" height="210" alt="ヒロココシノ　ジャケット／カットソー／パンツ" /><span>ヒロココシノ　ジャケット／カットソー／パンツ</span></a></li></ul>
	</div>
	<div class="footer-bnr">
		<h2><img src="../page/spring/images/footerbnr_ttl.png" width="332" height="142" alt="ロイヤル・プラチナ セレクション 春の逸品会 あなたさまを真に満たす、逸品との出合いがここに……。
選りすぐりの品々と共に、より上質な暮らしをこの春から。" /></h2>
		<dl>
			<dt><img src="../page/spring/images/footerbnr_subttl .png" width="618" height="29" alt="そのほかの逸品はこちら" /></dt>
			<dd><a href="../static/?f=page/spring/index_a&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_01.png" width="201" height="33" alt="春の新作バッグコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_b&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_02.png" width="201" height="33" alt="プレステージウオッチ特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_c&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_03.png" width="201" height="33" alt="ジャパン クオリティー特集" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_d&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_04.png" width="201" height="33" alt="至高の美術コレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_e&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_05.png" width="201" height="33" alt="優雅に美しく、春のレディースウエア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_f&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_06.png" width="201" height="33" alt="メンズ デザイナーズコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_g&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_07.png" width="201" height="33" alt="スポーツギアコレクション" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_h&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_08.png" width="201" height="33" alt="空間を豊かに彩るインテリア" /></a></dd>
			<dd><a href="../static/?f=page/spring/index_i&{%%svid%%}" target="_top"><img src="../page/spring/images/footerbnr_09.png" width="201" height="33" alt="厳選グルメ特集" /></a></dd>
		</dl>
	</div>
	<dl class="otherbrand">
		<dt>「優雅に美しく、春のレディースウエア」ほかを見る</dt>
		<dd><a href="../static/?f=page/spring/brand/brand_e_01&{%%svid%%}" target="_top">しなやかにまとうジャケットスタイル</a></dd>
		<dd><a href="../static/?f=page/spring/brand/brand_e_02&{%%svid%%}" target="_top">こだわりのブラックフォーマル</a></dd>
	</dl>
	



</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
