<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
    <title>ROYAL PLATINUM SELECTION SHIBUYA | ROYAL PLATINUM SELECTION</title>
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <link rel="stylesheet" href="../page/rps_shibuya/css/style2.css" type="text/css" title="style2" />
    <link rel="stylesheet" href="../page/rps_shibuya/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../page/rps_shibuya/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/rps_shibuya/css/fontsizemedium.css" type="text/css" title="text size medium" />
    <link rel="alternate stylesheet" href="../page/rps_shibuya/css/fontsizelarge.css" type="text/css" title="text size large" />

<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../page/rps_shibuya/js/menu.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if lt IE 7]>
<script src="../_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
<![endif]-->
</head>


<body id="sogo_seibu" class="itemPage category01" onload="MM_preloadImages('../page/rps_shibuya/img/common/btn_april01_o.jpg','../page/rps_shibuya/img/common/btn_april02_o.jpg','../page/rps_shibuya/img/common/img_buyers_o.jpg','../page/rps_shibuya/img/common/img_whatsnew_o.jpg','../page/rps_shibuya/img/common/img_service_o.jpg','../page/rps_shibuya/img/common/btn_cal04_o.jpg','../page/rps_shibuya/img/common/btn_cal05_o.jpg')">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li id="presentLocation">ROYAL PLATINUM SELECTION</li>
</ul>
<div id="main">
<!-- contents -->

<div id="rps_wrap">

<div class="lead"><img src="../page/rps_shibuya/img/common/img_lead.jpg" alt="西武渋谷店から選りすぐった上質で高感度な逸品の数々をご紹介いたします。" width="950" height="60" /></div>
<h1><img src="../page/rps_shibuya/img/common/h1_ttl.jpg" alt="ROYAL PLATINUM SELECTION" width="950" height="100" /></h1>
<h2><img src="../page/rps_shibuya/img/common/h2_ttl01.jpg" alt="西武渋谷店 催事のお知らせ" width="950" height="80" /></h2>

<div id="rps_inner">

<div class="rps_section">
<div class="l_rps_inner">
<div><img src="../page/rps_shibuya/img/common/ttl_april.jpg" alt="B館7階・8階 ロイヤル・プラチナ セレクション 4月の特集" width="580" height="170" /></div>

<div><a href="../page/rps_shibuya/pdf/rps130402_diamond.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/btn_april01.jpg" alt="ワールドダイヤモンド コレクション" width="580" height="230" id="Image1" onmouseover="MM_swapImage('Image1','','../page/rps_shibuya/img/common/btn_april01_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
<div><a href="../page/rps_shibuya/pdf/rps130402_imaemon.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/btn_april02.jpg" alt="十四代 今泉今右衛門展" width="580" height="200" id="Image2" onmouseover="MM_swapImage('Image2','','../page/rps_shibuya/img/common/btn_april02_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>
<div class="r_rps_inner">
<div class="btn_top"><a href="../page/rps_shibuya/pdf/rps130402_item.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/img_buyers.jpg" alt="バイヤーズセレクション＆限定商品・特別商品" width="280" height="180" id="Image3" onmouseover="MM_swapImage('Image3','','../page/rps_shibuya/img/common/img_buyers_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
<div class="btn_mid"><a href="../page/rps_shibuya/pdf/rps130402_news.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/img_whatsnew.jpg" alt="西武渋谷店 What's New 今週のイベント＆トピックス" width="280" height="180" id="Image4" onmouseover="MM_swapImage('Image4','','../page/rps_shibuya/img/common/img_whatsnew_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
<div class="btn_btm"><a href="../page/rps_shibuya/pdf/rps130402_service.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/img_service.jpg" alt="お得意様向け特別おもてなし プレステージサービス" width="280" height="180" id="Image5" onmouseover="MM_swapImage('Image5','','../page/rps_shibuya/img/common/img_service_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>
<div class="clear"></div>
</div>

<div id="calendar">
<div class="ttl_calendar"><img src="../page/rps_shibuya/img/common/ttl_cal.jpg" alt="西武渋谷店 催事カレンダー" width="205" height="100" /></div>
<div class="l_calendar"><a href="../page/rps_shibuya/pdf/rps130402_cal04.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/btn_cal04.jpg" alt="" width="330" height="100" id="Image6" onmouseover="MM_swapImage('Image6','','../page/rps_shibuya/img/common/btn_cal04_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
<div class="r_calendar"><a href="../page/rps_shibuya/pdf/rps130402_cal05.pdf" target="_blank"><img src="../page/rps_shibuya/img/common/btn_cal05.jpg" alt="" width="355" height="100" id="Image7" onmouseover="MM_swapImage('Image7','','../page/rps_shibuya/img/common/btn_cal05_o.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
<div class="clear"></div>
</div>

<div class="adobe">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="170"><a href="http://get.adobe.com/jp/reader/" target="_blank"><img alt="Get Adobe Reader" align="left" src="../page/rps_shibuya/img/common/get_adobe_reader.jpg" /></a></td>
    <td>PDFファイルをご覧になるには、Adobe&reg; Reader&reg;が必要です。<br />Adobe Readerをダウンロードするには左の「Get Adobe Reader」ボタンをクリックしてください。</td>
  </tr>
</table>
</div>

</div><!-- rps_innner -->

</div><!-- rps_wrap -->


</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
