<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>美術・呉服 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<style>
	.fortop {
		margin-top:20px;
	}
	</style>
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/spring2016/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">美術・呉服</li>
</ul>

<!-- main -->
<div id="main">

<!-- sec_header -->
<h1 class="mb20"><img src="../page/spring2016/images/cate_b_ttl.jpg" alt="美術・呉服" /></h1>
<!-- /sec_header -->

<!-- sec_nav -->
<div class="sec_nav">
<ul class="clfx ul2">
<li><a href="#anchor01"><img src="../page/spring2016/images/nav_b_img01.gif" alt="美術" /></a></li>
<li><a href="#anchor02"><img src="../page/spring2016/images/nav_b_img02.gif" alt="工芸" /></a></li>
<li><a href="#anchor03"><img src="../page/spring2016/images/nav_b_img03.gif" alt="呉服" /></a></li>
<li class="last"><a href="#anchor04"><img src="../page/spring2016/images/nav_b_img04.gif" alt="金工芸" /></a></li>
</ul>
</div>
<!-- /sec_nav -->
<p class="txt01">★このページに掲載のものは、すべて逸品会の新着商品です。</p>

<div class="sec_cnts">
<div class="table_sttl" id="anchor01">
<table><tbody><tr><th><h2>美術：<br />千住 博</h2></th>
<td>東京、京都、ニューヨークを拠点として精力的な制作活動を続ける「千住 博（せんじゅ ひろし）」。現代美術の国際美術展覧会「ヴェネツィアビエンナーレ絵画部門」において、東洋人として初めて名誉賞を受賞。襖絵、インスタレーション、舞台美術、著述など、多彩に活躍し、現在最も注目されるアーティストの一人と称されています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7284&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_01_01.jpg" alt="" />
<p>「ウォーターフォール」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7283&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_02_01.jpg" alt="" />
<p>「桜花夜奏」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7282&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_03_01.jpg" alt="" />
<p>「湖畔早朝」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7281&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_04_01.jpg" alt="" />
<p>「南の空」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7280&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_05_01.jpg" alt="" />
<p>「イチョウ月下」</p></a></li>
</ul>
<ul class="clfx ul5">
<li class="last"><a href="../detail/?a=Item_detail&id=7279&{%%svid%%}"><img src="../page/spring2016/images/E_01_senjuhiroshi_06_01.jpg" alt="" />
<p>「夜想富士」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>美術：<br />喜多 祥泰</h2></th>
<td>日本古来の伝統モチーフを独創的に表現する「喜多 祥泰（きた よしひろ）」。自身の制作を「汎アジアと日本を繋ぐ蝶番」として捉えています。描くモチーフは、龍や鳳凰、ヴェルトハイマー（連続）の奥にそびえる桃源郷と、そこに咲く花など。混沌とした現代の中に在りながら「ハレの美」を展開しています。同時に、物質的な抽象表現を用いた作品も、作家の意図が端的に伝わる作品として、高い評価を獲得しています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7278&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_01_01.jpg" alt="" />
<p>「shangrila dreams - 月光」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7277&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_02_01.jpg" alt="" />
<p>「guardian deity - 豊」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7276&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_03_01.jpg" alt="" />
<p>「to the zenith - 天高」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7275&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_04_01.jpg" alt="" />
<p>「to the zenith - 白理」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7274&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_05_01.jpg" alt="" />
<p>「to the zenith - 初」</p></a></li>
</ul>
<ul class="clfx ul5">
<li class="last"><a href="../detail/?a=Item_detail&id=7273&{%%svid%%}"><img src="../page/spring2016/images/E_02_kiyayoshihiro_06_01.jpg" alt="" />
<p>「to the zenith - 銀幕」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>美術：<br />村上 裕二</h2></th>
<td>「村上 裕二（むらかみ ゆうじ）」は東京藝術大学にて「平山 郁夫（ひらやま いくお）」に師事して日本画を学びました。同大学の博士後期課程満期修了後は、日本美術院にて同人に推挙され、早くからその才能を画壇に認められた作家です。現在は赤の色使いが印象的な、独特の世界観を持つ作品を発表し続けています。近年ではウルトラマンを題材とした日本画でも注目を集めています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7272&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_01.jpg" alt="" />
<p>「いいかい？あっちだよ」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7271&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_02.jpg" alt="" />
<p>「ぼくらのハート」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7270&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_03.jpg" alt="" />
<p>「青いペガサス」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7269&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_04.jpg" alt="" />
<p>「龍と月は」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7268&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_05.jpg" alt="" />
<p>「タンポポの季節」</p></a></li></ul>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7267&{%%svid%%}"><img src="../page/spring2016/images/E_03_murakamiyuji_06.jpg" alt="" />
<p>「お花見ね」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>美術：吉永 裕</h2></th>
<td>手すきの和紙を折りたたみ、マス目ごとにパステルの粒子を渾身の力で擦り込むことで着色していく「吉永 裕（よしなが ゆたか）」。パステルの粒子が宙に舞う中、防塵マスクをつけて繊維と粒子を力ずくで引き合わせる姿は、まるで作品と格闘しているよう。やがて和紙は色に、色は和紙へと変化を遂げ、線と色だけのシンプルな画面が広がります。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7266&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_01.jpg" alt="" />
<p>「Yoshino 6」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7265&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_02.jpg" alt="" />
<p>「Yoshino 11」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7264&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_03.jpg" alt="" />
<p>「Metroscape 3」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7263&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_04.jpg" alt="" />
<p>「2010 no.2」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7262&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_05.jpg" alt="" />
<p>「Seascape 9」</p></a></li></ul>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7261&{%%svid%%}"><img src="../page/spring2016/images/E_04_yoshinagayutaka_06.jpg" alt="" />
<p>「Caribbean Coast-水平線を映す」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl" id="anchor02">
<table><tbody><tr><th><h2>工芸：<br />十三代<br />今泉今右衛門</h2></th>
<td>1989年、重要無形文化財「色絵磁器」保持者の認定を受けた名匠「十三代 今泉今右衛門（いまいずみいまえもん）」。今右衛門窯は、江戸期より350年の「色鍋島」を現代に伝えています。十三代 今右衛門は薄墨という新たな装飾技法を確立。グレーの顔料を吹き付ける技法で、これまでになかった色が高い評価を得ました。2016年、有田焼は創業400年を迎えました。有田の歴史に大きな足跡を残す名門・名匠の作品をご紹介いたします。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7260&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_01.jpg" alt="" />
<p>「色絵薄墨草花更紗文花瓶」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>工芸：<br />十四代<br />今泉今右衛門</h2></th>
<td>2014年に陶芸家としては最年少で重要無形文化財保持者（人間国宝）に認定され、同年、有田陶芸協会会長に就任。現在の陶芸界を牽引する存在でもある、「十四代 今泉今右衛門（いまいずみいまえもん）」。白抜きの「墨はじき」の仕事の中に、十三代が確立した吹墨・薄墨などさまざまな技を取り入れることで、色鍋島の品格と風格を追求し続けています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5 mb20">
<li><a href="../detail/?a=Item_detail&id=7259&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_02.jpg" alt="" />
<p>「色絵墨色墨はじき瑞花文花瓶」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7258&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_03.jpg" alt="" />
<p>「色絵墨色墨はじき草花更紗文花瓶」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7257&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_04.jpg" alt="" />
<p>「色絵藍色墨はじき桜文花瓶」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7256&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_05.jpg" alt="" />
<p>「色絵藍色墨はじき花丸紋花瓶」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7255&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_06.jpg" alt="" />
<p>「色絵雪花藍色墨はじき草花更紗文花瓶」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>


<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>工芸：<br />十四代<br />酒井田 柿右衛門</h2></th>
<td>柔らかくて温かみのある乳白色の素地の上に、余白を十分に残した明るく繊細で絵画的な構図を特徴とする「十四代 酒井田 柿右衛門（さかいだ かきえもん）」。有田焼の歴史は1616年ごろに陶工、李参平が有田泉山で白磁鉱を発見したことが始まりといわれています。2006年には日本工芸会副理事長に就任し、有田焼の発展にも貢献しています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7254&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_07.jpg" alt="" />
<p>「濁手山吹文花瓶」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7253&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_08.jpg" alt="" />
<p>「濁手蔦文花瓶」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>工芸：<br />井上 萬二</h2></th>
<td>有田焼の中でも、特に高い技術が求められる白磁の世界。ゆがみのない滑らかな造形を追求する「井上 萬二（いのうえ まんじ）」は、加飾を好まず、鍛錬により研ぎすませた感覚で、あたたかみのある趣と端正で凛とした風格を表現しています。1995年には重要無形文化財「白磁」保持者（人間国宝）に認定されています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7252&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_09.jpg" alt="" />
<p>「黄釉かぼちゃ香炉」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7251&{%%svid%%}"><img src="../page/spring2016/images/E_05_aritayaki_10.jpg" alt="" />
<p>「白磁笹文鉢五客組」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>工芸：<br />峯岸 勢晃</h2></th>
<td>土物でありながら、肌理（きめ）が美しい「峯岸 勢晃（みねぎし せいこう）」の作。独学で築き上げたという作品は、理知的な光沢とヒスイを思わせる透明感を、独学で築き上げました。すべての条件が整った際に見られる現象「貫入」が割れた氷に見えることから、作品名を「氷華」と名付けています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7250&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_01.jpg" alt="" />
<p>「氷華翠瓷椿香炉」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7249&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_02.jpg" alt="" />
<p>「氷華翠瓷線文大鉢」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7248&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_03.jpg" alt="" />
<p>「氷華胡桃瓷鎬広口壺」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7247&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_04.jpg" alt="" />
<p>「氷華胡桃瓷塔香炉」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7246&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_05.jpg" alt="" />
<p>「氷華胡桃瓷面取小花生」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<div class="table_sttl">
<table><tbody><tr><th><h2>工芸：<br />神農 巌</h2></th>
<td>紀元前14世紀の中国に端を発すといわれ、陶磁器の中でも珍重されてきた青磁。「神農 巌（しんのう いわお）」は、削ることで美を表現してきた磁器に、塗り重ねる「堆磁（ついじ）」という独特の技法を考案。青磁の美しさに奥行きをもたらしました。工房を構える琵琶湖の空や湖、山々の碧を作品に映し、独自の世界感を展開しています。</td>
</tr></tbody></table>
</div>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7245&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_06.jpg" alt="" />
<p>「堆磁だるま瓶」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7244&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_07.jpg" alt="" />
<p>「堆磁瓶」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7243&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_08.jpg" alt="" />
<p>「青磁鎬湯呑」</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7242&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_09.jpg" alt="" />
<p>「青磁花形割向付 六客組」</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7241&{%%svid%%}"><img src="../page/spring2016/images/E_06_kogei_10.jpg" alt="" />
<p>「青磁輪花皿 六客組」</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<h2 class="sttl" id="anchor03">呉服：しょうざん生紬</h2>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7240&{%%svid%%}"><img src="../page/spring2016/images/E_07_01_shozan_01_01.jpg" alt="" />
<p>しょうざん生紬　訪問着</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7239&{%%svid%%}"><img src="../page/spring2016/images/E_07_01_shozan_02_01.jpg" alt="" />
<p>しょうざん生紬　着尺</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7238&{%%svid%%}"><img src="../page/spring2016/images/E_07_01_shozan_03_01.jpg" alt="" />
<p>しょうざん生紬　袋帯</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<h2 class="sttl">呉服：米沢織物</h2>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7237&{%%svid%%}"><img src="../page/spring2016/images/E_07_04_yonezawaorimono_01_01.jpg" alt="" />
<p>置賜紬着尺／九寸名古屋帯</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<h2 class="sttl">呉服：神田胡蝶</h2>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7236&{%%svid%%}"><img src="../page/spring2016/images/E_07_05_kandakotyou_01_01.jpg" alt="" />
<p>訪問着用 草履・バッグセット</p></a></li>
<li class="last"><a href="../detail/?a=Item_detail&id=7235&{%%svid%%}"><img src="../page/spring2016/images/E_07_05_kandakotyou_02_01.jpg" alt="" />
<p>留袖用 草履・バッグセット</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<h2 class="sttl">呉服：竹巧彩</h2>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7234&{%%svid%%}"><img src="../page/spring2016/images/E_07_06_chikukousai_01_01.jpg" alt="" />
<p>真竹製バッグ</p></a></li>
</ul>
<div class="fortop" align="right"><a href="#">ページトップ</a></div>
</div>

<div class="sec_cnts">
<h2 class="sttl" id="anchor04">金工芸：徳力本店</h2>
<ul class="clfx ul5">
<li><a href="../detail/?a=Item_detail&id=7233&{%%svid%%}"><img src="../page/spring2016/images/E_08_tokuriki_01_01.jpg" alt="" />
<p>K18製おりん 2寸5分</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7232&{%%svid%%}"><img src="../page/spring2016/images/E_08_tokuriki_02_01.jpg" alt="" />
<p>純金製　蓮飾り（1.7寸）</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7231&{%%svid%%}"><img src="../page/spring2016/images/E_08_tokuriki_03_01.jpg" alt="" />
<p>純金製干支守本尊</p></a></li>
<li><a href="../detail/?a=Item_detail&id=7230&{%%svid%%}"><img src="../page/spring2016/images/E_08_tokuriki_04_01.jpg" alt="" />
<p>純金製 小判（5g）</p></a></li>
</ul>
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
