<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>＜特別企画＞ラッキーカラーを見つけて素敵なプレゼントが当たる！ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/spring2016/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">＜特別企画＞ラッキーカラーを見つけて素敵なプレゼントが当たる！</li>
	</ul>

	<div id="main" class="main_cp">
		<div id="main_visual">
			<div class="img01"><img src="../page/spring2016/images/cp_img01.jpg" width="950" height="30" alt="ロイヤル・プラチナ セレクション会員さま限定"></div>
			<div class="img02"><img src="../page/spring2016/images/cp_img02.jpg" width="950" height="390" alt="特別企画 サイトで「ラッキーカラー」を見つけて素敵なプレゼントが当たる！ 抽選で合計200名さま PART1:受付期間終了 PART2:3月16日（水）〜3月31日（木）"></div>
		</div>
		<div id="main_contents">
			<div id="contents01">
				<img src="../page/spring2016/images/cp_img03_1.jpg" width="950" height="165" alt="「逸品会　〜2016 春〜」のご利用ありがとうございます。同時開催のプレゼント企画も、3月16日からPART2のスタートです。いよいよ桜の開花宣言が待ち遠しい季節となりました。PART2では、「花」にちなんだ4つの商品から「ラッキーカラー」を見つけてください。" />
				<img src="../page/spring2016/images/cp_img03_2.jpg" width="950" height="200" alt="1 下記の4つの商品に一文字ずつ隠されたアルファベットを組み合わせると、「ラッキーカラー」が完成します。 2 答えが完成したら「応募ページへ」ボタンを押して、応募ページにお進みください。 3 「ラッキーカラー（英文字）」を入力し、ご応募ください。" />
			</div>
			<div id="contents02">
				<ul>
					<li>※ご応募はPART1・PART2それぞれ、お一人さま各1回に限らせていただきます。</li>
					<li>※抽選の結果は4月4日（月）に当選者の方へのみメールにてお知らせいたします。</li>
				</ul>
			</div>
			<div id="contents03"><img src="../page/spring2016/images/cp_img04.jpg" width="890" height="422" alt="「花」にちなんだ4つのアイテム ●＜ブランドコレクション＞「モワナ」→色が花の名前のバッグ ●＜ファッション＞「バッグ」→花柄のアイテム ●＜美術＞「千住 博」→花の作品 ●＜グルメ＞「和菓子」→花を使ったケーキ" usemap="#map01" />
				<map name="map01">
				<area shape="rect" coords="178,117,402,141" href="https://netorder.sogo-seibu.co.jp/rps/item/?a=Item_list&category=5&{%%svid%%}" alt="ブランドコレクション">
				<area shape="rect" coords="178,153,329,173" href="https://netorder.sogo-seibu.co.jp/rps/item/?a=Item_list&category=3&{%%svid%%}" alt="ファッション">
				<area shape="rect" coords="178,183,256,205" href="https://netorder.sogo-seibu.co.jp/rps/static/?f=page/spring2016/index_b&{%%svid%%}" alt="美術">
				<area shape="rect" coords="178,215,271,236" href="https://netorder.sogo-seibu.co.jp/rps/item/?a=Item_list&category=1&{%%svid%%}" alt="グルメ">
				<area shape="rect" coords="291,328,591,370" href="https://netorder.sogo-seibu.co.jp/rps/static/?f=page/spring2016/index02&{%%svid%%}" alt="応募ページへ">
				</map>
			</div>
			<div id="contents03_2">
				<p><img src="../page/spring2016/images/cp_img09_1.jpg" width="950" height="64" alt="プレゼントはこちら" /></p>
				<ul>
					<li><img src="../page/spring2016/images/cp_img09_2.jpg" width="889" height="297" alt="特賞 八ヶ岳高原ロッジ宿泊券 合計5組10名さま ※ご利用期限：2016年6月30日（木）まで ※お部屋タイプ：デラックスツイン ※除外日：土曜日、コンサート開催日、5月1日（日）〜5月6日（金）" /></li>
					<li><img src="../page/spring2016/images/cp_img09_3.jpg" width="889" height="258" alt="A賞 八ヶ岳高原音楽堂コンサートチケット 合計5組10名さま 【対象コンサート】 5月21日（土）湯川れい子ナビゲート 亀渕友香＆VOJA スペシャル・ゴスペルコンサート 5月28日（土）中村恵理 ソプラノ・リサイタル 6月4日（土）加古隆「パリは燃えているか」を心に響かせて 6月18日（土）ジャン=ギアン・ケラス 無伴奏チェロ・リサイタル ※上記より1公演、お選びいただけます。" /></li>
					<li><img src="../page/spring2016/images/cp_img09_4.jpg" width="889" height="255" alt="B賞 ソシエ エステティック トライアルご招待券 合計10名さま ソシエのエステティックコース（フェイシャルまたはボディ、どちらか1回60分）にご招待いたします。一つ上の美を目指す癒しの空間で、くつろぎのお時間をお過ごしください。 ご招待券は、下記店舗内のエステティックサロン ソシエにてご利用いただけます。西武渋谷店／西武所沢店／西武秋田店／そごう千葉店／そごう大宮店／そごう西神店／そごう徳島店" /></li>
					<li><img src="../page/spring2016/images/cp_img09_5.jpg" width="889" height="296" alt="C賞 日比谷花壇 季節の観葉植物 合計5名さま 特徴的な葉が、お部屋のアクセントとして人気 観葉植物「ヒメモンステラ」 お部屋のポイントにぴったりな、ユニークな葉の形。つる状に伸び、垂らしても優雅ですし、巻き付けても素敵です。心を和ませる、癒しの力を感じます。 高さ：約45cm ※商品の色・形態は、多少写真と異なる場合がございます。" /></li>
					<li><img src="../page/spring2016/images/cp_img09_6.jpg" width="889" height="813" alt="グルメ賞 各5名さま、合計20名さま ＜ごっつお便GAコース 人気商品＞ 浜名湖畔で育てたうなぎを、ふっくらと蒲焼に 静岡産 うなぎ蒲焼 浜名湖畔の養殖場で育てたうなぎを丁寧に捌き、蒸してから香ばしく焼きあげました。ふっくら柔らかな身が特長の、ごっつお便でも人気の品です。 【内容】うなぎ蒲焼70g×2串、タレ×2袋、山椒×2袋（うなぎは静岡産・養殖） 賞味期限：出荷日を含め冷凍90日間、解凍後冷蔵2日間 素材が決め手の贅沢な味わい 東京 成城「マルメゾン」大山シェフ監修 アイス詰合せ 洋菓子づくりに適した卵や青森産ふじりんごなど、大山栄蔵シェフがこだわった素材を生かしたアイス。お客さまの支持が高い逸品です。 【内容】バニラ、いちご、マンゴー、りんご 各90ml×2個 ＜季の味倶楽部 人気商品＞ 保管もひと工夫した、米どころこだわりの味 ［新潟］越後ファーム 新潟県 奥阿賀産 特別栽培米 こしひかり 雪蔵今摺り米 奥阿賀地区で丹精込めてつくられたこしひかり。利雪型貯蔵庫で籾のまま保管し、出荷直前に籾摺り精米してお届けします。リピートしたくなる味わいを、ぜひご堪能ください。【内容】2kg×3袋 お届け期間：4月下旬 甘みを一つに凝縮させた、特別なメロン ［静岡］クラウンメロン出荷組合 クラウンメロン 一本の木に一つのメロンだけを残し、大切に育てるクラウンメロン。果実はみずみずしく、爽やかで上品な甘みや、独特のコクが楽しめ、多くのファンを虜にしています。【内容】約1.3kg×1玉 【食べごろの目安】到着後3〜6日 お届け期間：5月中旬〜下旬" /></li>
					<li><img src="../page/spring2016/images/cp_img09_7.jpg" width="889" height="291" alt="ラッキー賞 (1)ソシエ 水素入浴料「桜」40g×2包 合計55名さま お肌をしっとりと潤す、水素のお湯。ヒアルロン酸（保湿成分）を配合し、ふっくらと整えます。優しい桜の香りに包まれながら、至福のバスタイムをお楽しみください。 (2)白洋舎クリーニングクーポン券 ＜ご利用可能店舗＞西武池袋本店、西武渋谷店、西武船橋店、西武所沢店、西武高槻店、西武大津店、西武小田原店、そごう横浜店、そごう千葉店、そごう広島店、そごう大宮店、そごう川口店、そごう柏店 ※クリーニング1着につき、通常料金から500円引きにて承ります。 ※ドライクリーニング（標準・ローヤルクリーニング・素材別クリーニング）にご利用いただけます。" /></li>
				</ul>
			</div>

		</div>
		
    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
