<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>＜特別企画＞ラッキーカラーを見つけて素敵なプレゼントが当たる！ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/spring2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/spring2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/spring2016/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/spring2016/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">＜特別企画＞ラッキーカラーを見つけて素敵なプレゼントが当たる！</li>
	</ul>

	<div id="main" class="main_cp">
		<div id="main_visual">
			<div class="img01"><img src="../page/spring2016/images/cp_img01.jpg" width="950" height="30" alt="ロイヤル・プラチナ セレクション会員さま限定"></div>
			<div class="img02"><img src="../page/spring2016/images/cp_img02.jpg" width="950" height="390" alt="特別企画 サイトで「ラッキーカラー」を見つけて素敵なプレゼントが当たる！ 抽選で合計200名さま PART1:受付期間終了 PART2:3月16日（水）〜3月31日（木）"></div>
		</div>
		<div id="main_contents">
			<div id="contents04">
				<div class="img01"><img src="../page/spring2016/images/cp_img05.jpg" width="950" height="66" alt="応募ページ" /></div>
				<div class="img02_00"><img src="../page/spring2016/images/cp_img06_00.gif" width="336" height="22" alt="ご参加ありがとうございました。" /></div>
				<div class="img02"><img src="../page/spring2016/images/cp_img06.gif" width="882" height="106" alt="1 完成した「ラッキーカラー（英文字）」を下記の「担当者へのご希望内容」欄にご入力ください。 2 下記の「応募する」ボタンを押してください。" /></div>
				<ul>
					<li>※ご応募はPART 1・PART 2それぞれ各1回に限らせていただきます。</li>
				</ul>
				<div class="img03"><img src="../page/spring2016/images/cp_img07.jpg" width="942" height="45" alt="抽選の結果は4月4日（月）に当選者の方へのみメールにてお知らせいたします。" /></div>
				<p class="txt01">※次の画面で確定ボタンを押していただくことで応募が完了いたします。</p>
				<div class="img04"><img src="../page/spring2016/images/cp_img08.gif" width="56" height="36" alt="" /></div>
			</div>
		</div>

		<div id="purchaseForm">
			<h2>ご希望内容</h2>
			<form name="form1" action="./?a=AcceptConfirm&amp;id=7039&amp;svid=1" method="POST">
			<input type="hidden" name="a" value="AcceptConfirm">
			<input type="hidden" name="id" value="7039">
			<input type="hidden" name="option_flg" value="0">
			<input type="hidden" name="pre_flg" value="0">
			<input type="hidden" name="limit_flg" value="1">
			<input type="hidden" name="svid" value="1">
			<ul id="selectBoxes">
			</ul>
			<h3>ご要望がございましたら以下にお申しつけください。</h3>
			<textarea rows="5" cols="30" name="demand"></textarea>
			<p class="submit3"><a href="javascript:void(0)" onclick="document.form1.submit();return false;">くわしい情報希望</a></p>
			</form>
		</div>

    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
