<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>2014 Spring Luxe Collection | ファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/slc_2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/slc_2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/slc_2014/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/slc_2014/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/slc_2014/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/slc_2014/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/slc_2014/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">2014 Spring Luxe Collection</li>
	</ul>
	<div id="main">
    <h1 class="mb20"><img src="../page/slc_2014/images/slc_ttl.gif" width="950" height="306" alt="2014 Spring Luxe Collection 会期：2/3〜3/3 春の装いを彩るバッグや時計など、注目の新作や限定品を特別にご用意いたしました。ぜひ、この機会にお申し付けください。" /></h1>
    
    <div class="brandConts clearfix">
    <div class="mb10 clearfix">
    <div class="upperLeft"><a href="/rps/static/?f=page/slc_2014/page02&{%%svid%%}"><img src="../page/slc_2014/images/slc_dior_off.jpg" width="357" height="643" alt="Dior" /></a></div>
	<div class="upperRight"><a href="/rps/static/?f=page/slc_2014/page03&{%%svid%%}"><img class="mb10" src="../page/slc_2014/images/slc_fendi_off.jpg" width="581" height="316" alt="FENDI" /></a><a href="/rps/static/?f=page/slc_2014/page01&{%%svid%%}"><img src="../page/slc_2014/images/slc_bvlgari_off.jpg" width="581" height="316" alt="BVLGARI" /></a></div>
    </div>
    <div class="clearfix mb30">
    <div class="lowerLeft mr10"><a href="/rps/static/?f=page/slc_2014/page04&{%%svid%%}"><img src="../page/slc_2014/images/slc_mw_off.jpg" width="474" height="396" alt="Men'sWatch" /></a></div>
    <div class="lowerRight"><a href="/rps/static/?f=page/slc_2014/page05&{%%svid%%}"><img src="../page/slc_2014/images/slc_lw_off.jpg" width="464" height="396" alt="Ladies'Watch" /></a></div>
    </div>
    </div>
    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
