<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>2014 Spring Luxe Collection | ファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/slc_2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/slc_2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/slc_2014/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/slc_2014/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/slc_2014/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/slc_2014/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/slc_2014/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li><a href="/rps/static/?f=page/slc_2014/index&{%%svid%%}">2014 Spring Luxe Collection</a></li>
		<li id="presentLocation">ブルガリ</li>
	</ul>
	<div id="main">
    <div id="price">
    <h1 class="mb50"><img src="../page/slc_2014/images/main_ttl.gif" width="950" height="188" alt="2014 Spring Luxe Collection 会期：2/3〜3/3" /></h1>
    
    <div class="brandConts clearfix">
    <h2 class="mb50"><img src="../page/slc_2014/images/bvlgari_ttl.gif" width="950" height="70" alt="BVLGARI" /></h2>
    <ul class="mb50 clearfix">
    <li><a href="../detail/?a=Item_detail&id=4158&{%%svid%%}"><img src="../page/slc_2014/images/bvlgari_01.jpg" width="303" height="300" alt="＜イザベラロッセリーニ スピガ＞ ハンドバッグ" /></a>
    <p class="fsL"><a href="../detail/?a=Item_detail&id=4158&{%%svid%%}">＜イザベラロッセリーニ スピガ＞ ハンドバッグ</a></p>
    </li>
    <li><a href="../detail/?a=Item_detail&id=4157&{%%svid%%}"><img src="../page/slc_2014/images/bvlgari_02.jpg" width="303" height="300" alt="＜セルペンティ＞ ハンドキャリーバッグ（カラー：ブラック）" /></a>
    <p class="fsL"><a href="../detail/?a=Item_detail&id=4157&{%%svid%%}">＜セルペンティ＞ ハンドキャリーバッグ（カラー：ブラック）</a></p>
    </li>
    <li class="Lf_last"><a href="../detail/?a=Item_detail&id=4156&{%%svid%%}"><img src="../page/slc_2014/images/bvlgari_03.jpg" width="303" height="300" alt="＜セルペンティ＞ ハンドキャリーバッグ（カラー：レッド＆ローズ）" /></a>
    <p class="fsL"><a href="../detail/?a=Item_detail&id=4156&{%%svid%%}">＜セルペンティ＞ ハンドキャリーバッグ（カラー：レッド＆ローズ）</a></p>
    </li>
    </ul>
    
    <div class="induce mb30">
    <ul class="clearfix">
    <li><a href="/rps/static/?f=page/slc_2014/page02&{%%svid%%}"><span class="mr10">&gt;</span>ディオール</a></li>
    <li><a href="/rps/static/?f=page/slc_2014/page03&{%%svid%%}"><span class="mr10">&gt;</span>フェンディ</a></li>
    <li><a href="/rps/static/?f=page/slc_2014/page04&{%%svid%%}"><span class="mr10">&gt;</span>メンズウオッチ</a></li>
    <li><a href="/rps/static/?f=page/slc_2014/page05&{%%svid%%}"><span class="mr10">&gt;</span>レディースウオッチ</a></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
