@charset "EUC-JP";

/**
 * ブラウサ間の調整
 */
#IntroductionWrapper, #acceptTop, #button, #button2, #mainBorder #acceptTop .acceptLeft #pageTitle {
	display: inline-block;
}
#IntroductionWrapper, #acceptTop, #button, #button2, #mainBorder #acceptTop .acceptLeft #pageTitle {
	display: block;
}
#IntroductionWrapper:after, #acceptTop:after, #button:after, #button2:after, #mainBorder #acceptTop .acceptLeft #pageTitle:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
