<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ROYAL PLATINUM SELECTION</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
.root#Top #h1 {
	margin: 0;
	background: url(./images/header_home_back.gif) repeat-x center top;
}
.root#Top #h2 {
	margin: 0.5em 0;
	background: url(./images/title_back.gif) repeat-x center top;
}
]]></style>
</head>
<body id="Top" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">

<div id="pagetop" name="pagetop">

<div id="h1" style="text-align:center;"><img border="0" alt="ROYAL PLATINUM SELECTION" src="./images/header_home.gif" /></div>

<div style="text-align:center;">
	<div style="background-color:#8d895d; border-bottom:1px solid #64635b; color:#efeee5;">ようこそ､{tpl_var name=f_c_name|mobile}様</div>
	<div style="background:#a8a474; color:#efeee5;">
		{tpl_var name=f_m_name_view_m|mobile}
		{tpl_var name=h_contact_btn_mb|unescape}
	</div>
	<div style="background:#dcdac9; color:#5d5a37;">
		<img src="{tpl_var name=sys_mb_path}images/no01.gif" /><a href="/rps/m/static/?f=mbpage/guide/first&{%%svid%%}&{%%sid%%}" accesskey="1"><span style="color:#5d5a37;">初めての方へ</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no02.gif" /><a href="/rps/m/static/?f=mbpage/guide/introduction&{%%svid%%}&{%%sid%%}" accesskey="1"><span style="color:#5d5a37;">本ｻｲﾄについて</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no03.gif" /><a href="/rps/m/static/?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}" accesskey="2"><span style="color:#5d5a37;">ご利用ｶﾞｲﾄﾞ</span></a>
		<img src="{tpl_var name=sys_mb_path}images/no04.gif" /><a href="{tpl_var name=sys_mb_path}?a=Phistory&svid={%%svid%%}&sid={tpl_var name=sid}" accesskey="3"><span style="color:#5d5a37;">履歴一覧</span></a>
		<div style="color:#000000; border-top:1px solid #000000;">
			▼<a href="#Pickup"><span style="color:#000000;">PICKUP</span></a>
			 | ▼<a href="#Category"><span style="color:#000000;">ｶﾃｺﾞﾘ</span></a>
			 | ▼<a href="#Search"><span style="color:#000000;">検索</span></a>
		</div>
	</div>
</div>
<div>【ご案内】<br />
ｻｰﾋﾞｽを提供させていただいておりますが､ﾌﾘｰﾀﾞｲﾔﾙ受付時間の変更や商品手配･ご配送が困難なお品物が一部ございます｡<br />
誠に申し訳ございませんが､何とぞご理解のほどお願い申しあげます｡</div>

<br />

<div id="h2" style="text-align:center;"><img border="0" alt="Royal Platinum News" src="./images/title_news.gif" /></div>

<br />

<div><img border="0" alt="ﾌﾟﾗﾊ･ﾄﾞﾚｽﾃﾞﾝの旅" src="../upload/news/bnr_plaha_dresden.gif" /></div>

<br />

<dl>
<dt>･2010.10.1</dt>
<dd>
ﾏｲｾﾝ陶器誕生300周年記念<br />
ﾌﾟﾗﾊ･ﾄﾞﾚｽﾃﾞﾝの旅<br />
2010年9月15（水）
</dd>
</dl>

<br />

<div style="background:red;">
	<div style="text-align:center; color:#ffffff;">---重要なお知らせ---</div>
	<div style="color:#ffffff;">ｻｰﾊﾞｰﾒﾝﾃﾅﾝｽ中など｡｡｡｡｡</div>
</div>

<br />

<dl>
<dt>･2010.10.1</dt>
<dd><a href="#"><span style="color:#ffffff;">○○○が開催されます｡</span></a></dd>

<dt>･2010.10.1</dt>
<dd><a href="#"><span style="color:#ffffff;">○○○が開催されます｡</span></a></dd>

<dt>･2010.10.1</dt>
<dd><a href="#"><span style="color:#ffffff;">○○○が開催されます｡</span></a></dd>
</dl>

<br />

<div style="text-align:right;"><a href="#"><span style="color:#aaaaaa;">&gt;&gt;一覧へ</span></a></div>

<br />

<div style="background:#dcdbc9;">
<img height="3" width="100%" src="./images/spacer.gif" /><br />
<a href="#"><span style="color:#000000;">&gt;&gt;Fashion Brand</span></a><br />
<a href="#"><span style="color:#000000;">&gt;&gt;Bag Brand</span></a><br />
<a href="#"><span style="color:#000000;">&gt;&gt;Accessories Brand</span></a><br />
<img height="3" width="100%" src="./images/spacer.gif" />
</div>

<br />
<a name="Pickup" id="Pickup"></a>
<div id="h2" style="text-align:center;"><img border="0" alt="最新ﾋﾟｯｸｱｯﾌﾟ" src="./images/title_pickup.gif" /></div>

<br />

<div>
<img src="../upload/item/img_foodlife.gif" style="float:left;margin-bottom:3px;margin-right:3px;margin-bottom:3px;" align="left" />

<a href="#"><span style="color:#ffffff;">商品名商品名商品名商品名商品名商品名</span></a>
<div clear="all" style="clear:both;font-size:x-small;"></div>
<span>商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ</span>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />
<br />

<div>
<img src="../upload/item/img_luxury.gif" style="float:left;margin-bottom:3px;margin-right:3px;margin-bottom:3px;" align="left" />

<a href="#"><span style="color:#ffffff;">商品名商品名商品名商品名商品名商品名</span></a>
<div clear="all" style="clear:both;font-size:x-small;"></div>
<span>商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ</span>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />
<br />

<div>
<img src="../upload/item/img_fassion.gif" style="float:left;margin-bottom:3px;margin-right:3px;margin-bottom:3px;" align="left" />

<a href="#"><span style="color:#ffffff;">商品名商品名商品名商品名商品名商品名</span></a>
<div clear="all" style="clear:both;font-size:x-small;"></div>
<span>商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ商品ｺﾋﾟｰ</span>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<br />

<div id="h2" style="text-align:center;"><img border="0" alt="Item" src="./images/title_item.gif" /></div>

<br />
<a name="Category" id="Category"></a>
<div>◆ｶﾃｺﾞﾘｰから探す</div>
<div>
 <a href="#"><span style="color:#ae3cae;">▼ﾗｸﾞｼﾞｭｱﾘｰ</span></a>
 <a href="#"><span style="color:#6497ee;">▼ﾌｧｯｼｮﾝ</span></a>
 <a href="#"><span style="color:#e0681c;">▼ｺｽﾒ&amp;ﾋﾞｭｰﾃｨｰ</span></a>
 <a href="#"><span style="color:#167e7f;">▼ﾗｲﾌｽﾀｲﾙ</span></a> 
 <a href="#"><span style="color:#afa303;">▼ｶﾙﾁｬｰ</span></a>
 <a href="#"><span style="color:#9c0001;">▼ﾌｰﾄﾞ</span></a>
</div>

<img height="3" width="100%" src="./images/spacer.gif" />

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<img height="3" width="100%" src="./images/spacer.gif" />
<a name="Search" id="Search"></a>
<div>◆商品&amp;ｻｰﾋﾞｽ検索</div>
<div>
<form name="xxx" action="./cgi/">
	<input type="text" name="txt_word" size="25" />
	<br />
	<input type="submit" name="btn_search" value="検索" />
</form>
</div>

<img height="3" width="100%" src="./images/spacer.gif" />

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<img height="3" width="100%" src="./images/spacer.gif" />

<div>
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;初めての方へ</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;本ｻｲﾄについて</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;ご利用ｶﾞｲﾄﾞ</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;履歴一覧</span></a><br />
<br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;会員情報変更</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;ﾛｸﾞｱｳﾄ</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;退会</span></a>
</div>

<img height="3" width="100%" src="./images/spacer.gif" />

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<img height="3" width="100%" src="./images/spacer.gif" />

<div>
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;営業時間・休業日のご案内</span></a>
</div>

<img height="3" width="100%" src="./images/spacer.gif" />

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<img height="3" width="100%" src="./images/spacer.gif" />

<div>
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;担当者へのお問い合わせ</span></a><br />
<a href="#"><span style="color:#aaaaaa;">&gt;&gt;ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</span></a>
</div>

<img height="3" width="100%" src="./images/spacer.gif" />

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="1" />

<img height="3" width="100%" src="./images/spacer.gif" />

<div>
<a href="#top"><span style="color:#aaaaaa;">&gt;&gt;ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝTOPへ</span></a>
</div>

<br />

<span style="color:#aaaaaa;">本ｻｲﾄに掲載されている商品の表示価格は､本体価格に消費税価格を加えた「お支払い総額(税込価格)」となっております｡</span><br />

<div style="text-align:center; color:#ffffff; background:#333333;">
(C) Sogo&amp;Seibu
</div>

</div>
</body>
</html>
