@charset "EUC-JP";

body {
    background:#FFF;
}

/*2014/02/27*/
#bg1{
	 background:url(../images/bg.jpg) center top no-repeat;
	 width:100%;
}

#bg2{
	 background:url(../images/line_bg.gif) left 70px repeat-x;
	 width:100%;
}

#mainimg {
	width: 950px;
	height:398px;
	position:relative;
}

#mainimg .btn01{
	position:absolute;
	top: 310px;
	left: 0;
}

#mainimg .btn02{
	position: absolute;
	top: 310px;
	left: 237px;
}

#main {
	width: 950px;
	margin: 0 auto;
	color: #4d392a;
	background: #ffffff;
}

#main p{
	padding:0;
	margin:0;
}

#main h1{
	padding:0;
	margin:0;
	line-height:0;
	font-size:0;
}

.btnarea{
	background:url(../images/btnarea_bg.gif) center top no-repeat;
	width:950px;
	height:411px;
	text-align:center;
}

.btnarea .btnareainner{
	width:886px;
	margin: 0 auto;
}

.btnarea .btnareainner p{
	float:left;
	diplay:block;
}

.btnarea2{
	background:url(../images/btnarea2_bg.gif) center top no-repeat;
	width:950px;
	height:314px;
	text-align:center;
}

.btnarea2 .btnareainner{
	width:886px;
	margin: 0 auto;
}

.btnarea2 .btnareainner p{
	float:left;
	diplay:block;
}

.mainbox{
	width:950px;
}

.mainbox .leftbox{
	width:410px;
	float:left;
}

.mainbox .rightbox{
	width:540px;
	float:left;
}

.mainbox .rightbox div{
	float:right;
}

.mainbox .rightbox .innerbox p{
	float:left;
}

.mainbox .rightbox .infobox{
	width:488px;
}

.mainbox .rightbox .leftbox{
	width:168px;
	float:left;
}

.mainbox .rightbox .rightbox{
	width:320px;
	float:left;
}

.mainbox .rightbox .rightbox .btnbg{
	width:320px;
	height:38px;
	background:url(../images/hyoinfo_bg.gif) left top no-repeat;
}


.infoarea{
	width:950px;
}

.infoarea .inner{
	width:890px;
	padding:30px;
}

.infoarea .inner .leftbox{
	width:290px;
	float:left;
}

.infoarea .inner .rightbox{
	width:503x;
	float:right;
	text-align:right;
	padding-top:57px;
}

.cataarea{
	width:950px;
}

.cataarea .inner{
	width:950px;
	padding:30px 0;
}

.cataarea .inner .leftbox{
	width:490px;
	float:left;
	text-align:center;
}

.cataarea .inner .rightbox{
	width:460x;
	float:left;
}

.cataarea .inner .rightbox p{
	float:left;
}

.tline{
	background:url(../images/bgline01.gif) left top repeat-x;
}

.bline{
	background:url(../images/bgline02.gif) left bottom repeat-x;
}

/*2014/02/27*/

.pt15{
	padding-top:15px !important;
}

.pt30{
	padding-top:30px !important;
}

.mb30{
	margin-bottom:30px !important;
}

.mb35{
	margin-bottom:35px !important;
}

.mb20{
	margin-bottom:20px !important;
}
.mb10{
	margin-bottom:10px !important;
}
.mb40{
	margin-bottom:40px !important;
}
.mb15{
	margin-bottom:15px !important;
}
.mb50{
	margin-bottom:50px !important;
}

.mb60{
	margin-bottom:60px !important;
}

.mb70{
	margin-bottom:70px !important;
}
.mb75{
	margin-bottom:75px !important;
}
.mr10{
	margin-right:10px !important;
}

.mr15{
	margin-right:15px !important;
}

.mr20{
	margin-right:20px !important;
}



/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

a:link, a:visited{
	color: #000;
	text-decoration:none;
}
a:hover{
	color: #000;
}

a img {
    border-style:none;
}
