<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>トッズ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/tods/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    
            <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->
    
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">トッズ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/tods/images/tods.jpg" alt="トッズ" /></div>
	<div id="main">
		<div id="itemCatalog">
        

			<div id="itemList">

				<div>
					<a href="../detail/?a=Item_detail&id=7402&{%%svid%%}"><img src="../page/luxury/tods/images/A_tods_01_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.5.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7402&{%%svid%%}">
					<h1>＜フラワー＞ バッグ（カラー：イエロー）</h1></a>
				</div>
				
				<div>
					<a href="../detail/?a=Item_detail&id=7401&{%%svid%%}"><img src="../page/luxury/tods/images/A_tods_02_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.5.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7401&{%%svid%%}">
					<h1>＜フラワー＞ バッグ（カラー：ホワイト）</h1></a>
				</div>

				<div class="end">
					<a href="../detail/?a=Item_detail&id=7400&{%%svid%%}"><img src="../page/luxury/tods/images/A_tods_03_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.5.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7400&{%%svid%%}">
					<h1>＜ジョイ＞ トートバッグ（カラー：ネイビー×グレー）</h1></a>
				</div>
			</div>

			<div id="itemList">

				<div>
					<a href="../detail/?a=Item_detail&id=7399&{%%svid%%}"><img src="../page/luxury/tods/images/A_tods_04_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.4.5.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7399&{%%svid%%}">
					<h1>＜ジョイ＞ トートバッグ（カラー：ライトブラウン）</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7123&{%%svid%%}"><img src="../page/luxury/tods/images/tods_160219_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7123&{%%svid%%}">
					<h1>＜ウェーブ＞ ハンドバッグ</h1></a>
				</div>
				
				<div class="end">
					<a href="../detail/?a=Item_detail&id=7122&{%%svid%%}"><img src="../page/luxury/tods/images/tods_160219_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7122&{%%svid%%}">
					<h1>＜ダブルＴ＞ ショルダーバッグ</h1></a>
				</div>


			</div>



			<div id="itemList">
				<div>
					<a href="../detail/?a=Item_detail&id=7121&{%%svid%%}"><img src="../page/luxury/tods/images/tods_160219_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7121&{%%svid%%}">
					<h1>メンズ ＜エイト バッグ＞ ブリーフケース</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7120&{%%svid%%}"><img src="../page/luxury/tods/images/tods_160219_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.3.4.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=7120&{%%svid%%}">
					<h1>メンズ ＜ピロー＞ バックパック</h1></a>
				</div>

				<div class="end">
					<a href="../detail/?a=Item_detail&id=6068&{%%svid%%}"><img src="../page/luxury/tods/images/tods_150807_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2015.8.22.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=6068&{%%svid%%}">
					<h1>＜ウェーブ＞ ハンドバッグ （カラー：ブラック×ブライトブルー）</h1></a>
				</div>
			</div>

		



		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
