<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Millennium Collection デジタルカタログ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/mille_cole201601/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/mille_cole201601/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/mille_cole201601/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/mille_cole201601/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">Millennium Collection デジタルカタログ</li>
</ul>
<div id="main">

<div class="main_block">
<div>
	<h1><img src="../page/mille_cole201601/images/title1.jpg" alt="Millennium Collection デジタルカタログ" width="860px" height="85px" /></h1></div>
<div><img src="../page/mille_cole201601/images/caption.jpg" alt="プレステージブランドの春夏コレクションの新作をご紹介いたします。" width="860px" height="60px" /></div>

<!--カタログ-->
<div class="catalogBase">

<div class="catalog" id="catalog01" title="Millennium Collection">
<div>
<div class="btn_cata"><a href="http://www.sogo-seibu.jp/ss2016digicata/" target="_blank" title="デジタルカタログを見る">デジタルカタログを見る</a></div>
    <div class="clearBoth"></div>
</div>
</div>
</div>
</div>
<div><img src="../page/mille_cole201601/images/session.jpg" alt="会期：2月13日（土）午前11時〜午後8時、14日（日）午前10時〜午後6時 会場：ザ・プリンス パークタワー東京 地下2階 「コンベンションホール」 「ボールルーム」"></div>
</div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/mille_cole201601/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/mille_cole201401/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/mille_cole201601/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※商品のご確認や詳細につきましては、こちらの「お問い合わせ」からご用命ください。<br />
※お問い合わせ内容は、受付担当者からお客さまの担当者へお届けいたします。</p>
		</div>


<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
