<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>西武・そごうのおせち</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/osechi2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/osechi2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/osechi2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/osechi2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">西武・そごうのおせち デジタルカタログ</li>
	</ul>
	<div id="main">
<!--コンテンツ-->


<div id="catalog">
<div id="contents">

<img src="../page/osechi2016/images/osechi_img01.jpg" alt="" width="950" height="851" border="0" usemap="#Map2" />
<map name="Map2" id="Map2">
  <!--関西-->
  <area shape="rect" coords="50,548,268,593" href="http://e-catalog.sogo-gogo.com/common/20150930/010/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="50,601,268,646" href="../page/osechi2016/pdf/osechi_kansai.pdf" target="_blank" title="PDFでカタログを見る" />
  
  <!--関東-->
  <area shape="rect" coords="50,766,268,811" href="../page/osechi2016/pdf/osechi_kanto.pdf" target="_blank" title="PDFでカタログを見る" />
  <area shape="rect" coords="50,712,268,757" href="http://e-catalog.sogo-gogo.com/common/20150930/009/index.html" target="_blank" title="デジタルカタログを見る" />

 

</map>

<!--/#contents--></div>
<!--/#catalog--></div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/osechi2016/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/osechi2016/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/osechi2016/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※掲載商品のご確認や詳細につきましては、こちらの「担当者へのお問い合わせ」からご用命ください。</p>
		</div>


<!--注記-->
<div class="bnav">

<div class="flL">

<div class="guide"><a href="https://www.sogo-seibu.jp/common/d_catalog/howto/index.html" target="_blank">≫デジタルカタログ　使い方ガイドはこちら</a></div>
<ul>
<li>【推奨環境】</li>
<li>デジタルカタログをご覧いただくためには、下記の動作環境が必要です。</li>
<li>・Microsoft Internet Explorer 6以上のブラウザ</li>
<li>・横800ピクセル以上　縦600ピクセル以上の解像度</li>
<li>・Adobe Flash プラグイン</li>
<li>・JavaScriptが動作する環境<br />
また、ADSL・CATV・FTTHなどのブロードバンド環境でお楽しみいただくことを推奨します。</li>
</ul>

</div>

<div class="flR">

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="../page/osechi2016/images/cmn_flash.png" alt="" /></a></th>
    <td>デジタルカタログをご覧いただくためには、Adobe Flash Playerが必要です。<a href="http://get.adobe.com/jp/flashplayer/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
  <tr>
    <th><a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/osechi2016/images/cmn_pdf.png" alt="" /></a></th>
    <td>PDFをご覧いただくためには、Adobe Readerが必要です。<a href="http://get.adobe.com/jp/reader/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
</table>


</div>




<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
