@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */
body.LoginPage {
	background:url(../../images/Login/login_bg0820.gif) left top repeat-x #fff6d4;
}

.LoginPage #wrapper {
	width:952px;
	margin:0 auto;
}
.LoginPage #wrapper #logo {
	padding-top:29px;
	padding-bottom:9px;
	width:87px;
	float:right;
	}
.LoginPage #wrapper #logo li {
	height:45px;
	float:left;
	}
.LoginPage #wrapper #logo li span {display:none;}
.LoginPage #wrapper #logo #seibu {
	width:44px;
	background:url(../../images/Login/logo_seibu0820.gif) left bottom no-repeat;
}
.LoginPage #wrapper #logo #sogo {
	padding-left:8px;
	width:35px;
	background:url(../../images/Login/logo_sogo0820.gif) right top no-repeat;
}

.LoginPage #wrapper .LoginForm0820 {padding-bottom: 43px;}

.LoginPage #wrapper .about0820 {
	padding-top:369px;
	width:541px;
	float:left;
	_display:inline;
	background:url(../../images/Login/img0820.jpg) left top no-repeat;
}
.LoginPage #wrapper .about0820 p {
	margin-left:33px;
	width:461px;
	height:79px;
	background:url(../../images/Login/about0820.gif) left top no-repeat;
}
.LoginPage #wrapper .about0820 p span {display:none;}

.LoginPage #wrapper .buttonRegist0820 {
	width:350px;
	float:right;
	_display:inline;
}
.LoginPage #wrapper .buttonRegist0820 h1 {
	padding-top:4px;
	width:349px;
	height:186px;
	background:url(../../images/Login/rps0820.gif) left bottom no-repeat;
}
.LoginPage #wrapper .buttonRegist0820 a {
	margin-top:30px;
	width:350px;
	height:60px;
	display:block;
	background: url(../../images/Login/buttonRegist0820.jpg) left top no-repeat;
}
.LoginPage #wrapper .buttonRegist0820 .regist0820 {
	margin-top:15px;
	padding-left:1px;
	width:347px;
	height:172px;
	text-indent:-9999px;
	background: url(../../images/Login/regist0820.gif) right top no-repeat;
}

.LoginPage #wrapper .buttonRegist0820 .regist0904 {
	margin-top:55px;
	padding-left:1px;
	width:347px;
	height:108px;
	text-indent:-9999px;
	background: url(../../images/Login/regist0904.gif) right top no-repeat;
}
.LoginPage #wrapper .buttonRegist0820 h1 span, .LoginPage #wrapper .buttonRegist0820 a span, .LoginPage #wrapper .buttonRegist0820.regist0820 .buttonRegist0820.regist0904 span {display:none;}

#copyright {
	float:right;
	font-size:85%;
	text-align:left;
	color:#000000;
	clear:both;
}

/* ログインページ公開 */
.LoginPageM {
	min-width: 950px;
	background: #000;
}
.LoginPageM .header {
	background: url(../../images/Login/login_bgt_m.gif) repeat-x top;
}
.LoginPageM .header .inner {
	width: 950px;
	height: 104px;
	margin: 0 auto;
	background: url(../../images/Login/login_head.gif) no-repeat left top;
}
.LoginPageM .article {
	height: 569px;
	background-color: #888888;
	background-image: url(../../images/Login/login_main_160901.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.LoginPageM .article .inner {
	position: relative;
	width: 950px;
	height: 489px;
	margin: 0 auto;
}
.LoginPageM .LoginForm {
	position: absolute;
	width: 310px;
	padding: 35px 60px;
	top: 25px;
	left: 0;
	background: url(../../images/Login/login_form_bg.png) repeat;
}
.LoginPageM .LoginForm .LoginID {
	height: 35px;
}
.LoginPageM .LoginForm .LoginPASS {
	height: 35px;
}
.LoginPageM .LoginForm .buttonLogin {
	margin: 18px 0 8px;
	text-align: center;
}
.LoginPageM .LoginForm .LoginID input,
.LoginPageM .LoginForm .LoginPASS input {
	border: 1px solid #adadad;
	width: 181px;
	height: 17px;
	background: url(../../images/Login/login_form_txt_bg.gif) repeat-x left top;
}
.LoginPageM .LoginForm .LogincCheck input {
	vertical-align: middle;
}
.LoginPageM .LoginForm .LoginID img,
.LoginPageM .LoginForm .LoginPASS img,
.LoginPageM .LoginForm .LogincCheck img {
	vertical-align: middle;
}
.LoginPageM .LoginForm .LogincCheck {
	text-align: center;
}
.LoginPageM .LoginForm .buttonLogin input:hover {
	opacity: .9;
	filter: alpha(opacity=90);
	-ms-filter: "alpha(opacity=90)";
	-moz-opacity:.9;
	-khtml-opacity: .9;
	zoom:1;
}

.LoginPageM .footer {
	float: none;
	height: 80px;
	background: url(../../images/Login/login_bgb_m.gif) repeat-x top;
}
.LoginPageM .footer .inner {
	width: 950px;
	height: 80px;
	margin: 0 auto;
	padding: 27px 0 0;
	/*background: url(../../images/Login/login_btm_img01.gif) no-repeat right 3px;*/
	color: #fff;
	font-size:85%;
	text-align:left;
}



.clearfix {
	display:block;
	min-height:1%;
}
.clearfix:after {
	clear:both;
	content:" ";
	display:block;
	height:0;
	visibility:hidden;
}
* html .clearfix {
	height:1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


.ErrorHeaderCP {
	border:1px solid #CC0000;
	padding:4px 10px;
	margin:10px 0;
	background: #fff;
	color: #000;
}
