<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ダミアーニ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/damiani/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	
    
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->  
    
    
    
    
    
    
    
    
    
    <!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ダミアーニ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/damiani/images/damiani.jpg" alt="ダミアーニ" /></div>
	<div id="main">
		<div id="itemCatalog">
                         <div id="itemList">
            <div>
				<a href="../detail/?a=Item_detail&id=4752&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_01.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4752&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ バングル（ホワイト）</h1>
				</a>
			</div>
            
			<div>
				<a href="../detail/?a=Item_detail&id=4751&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_02.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4751&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ バングル（ブラック）</h1>
				</a>
			</div>
            
			<div class="end">
				<a href="../detail/?a=Item_detail&id=4750&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_03.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4750&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ バングル（K18PG）</h1>
				</a>
			</div>    
		</div>
        
                         <div id="itemList">
            <div>
				<a href="../detail/?a=Item_detail&id=4749&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_04.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4749&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ ピアス（セラミック）</h1>
				</a>
			</div>
            
			<div>
				<a href="../detail/?a=Item_detail&id=4748&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_05.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4748&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ ピアス（K18PG）</h1>
				</a>
			</div>
            
			<div class="end">
				<a href="../detail/?a=Item_detail&id=4747&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_06.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4747&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ 2連ロングネックレス（K18PG）</h1>
				</a>
			</div>    
		</div>
                         <div id="itemList">
            <div>
				<a href="../detail/?a=Item_detail&id=4746&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_07.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4746&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ ネックレス（セラミック）</h1>
				</a>
			</div>
            
			<div>
				<a href="../detail/?a=Item_detail&id=4745&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_08.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4745&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ ロングネックレス（K18PG）</h1>
				</a>
			</div>
            
			<div class="end">
				<a href="../detail/?a=Item_detail&id=4743&{%%svid%%}"><img src="../page/luxury/damiani/images/damiani_140924_10.jpg" alt="" /></a>
				<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2014.10.10.9</div><!-- newマークギミック -->
				<a href="../detail/?a=Item_detail&id=4743&{%%svid%%}">
				<h1>＜ダミアニッシマ＞ ネックレス スモール（K18PG）</h1>
				</a>
			</div>
            
		
		</div>
       
            
            
        
			
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
