<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ソシエのエステティックサービスのご優待サービスのご案内 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/socie2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/socie2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/socie2014/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ソシエのエステティックサービスのご優待サービスのご案内</li>
	</ul>





	<div id="main">
		<div id="mainHeader">
			<h1><img src="../page/socie2014/images/main_ttl.jpg" width="950" height="157" alt="クラブ・オン／ミレニアムカード　セゾン ゴールド会員限定　西武・そごうでご利用いただける、ご優待サービスのご案内　ソシエのエステティックサービスのご優待を期間限定でご用意いたしました。この機会にぜひご利用ください。" /></h1>
			<p class="flt-r"><img src="../page/socie2014/images/mainHeader_period.jpg" width="422" height="369" alt="ご優待期間 2015年3月31日（火）まで" /></p>
			<h2 class="flt-l"><img src="../page/socie2014/images/mainHeader_ttl.jpg" width="528" height="100" alt="より上質な美しさをあなたに ソシエのエステティックサービス" /></h2>
			<p class="flt-l"><img src="../page/socie2014/images/mainHeader_txt.jpg" width="528" height="95" alt="さらに輝きと透明感のある、美しい肌を目指して。創業以来培った熟練の手技によるトリートメントで至福のひとときを過ごし、心と肌の美を手に入れてください。" /></p>
			<p class="flt-l"><img src="../page/socie2014/images/mainHeader_price.jpg" width="528" height="174" alt="特典1 入会金21,600円を無料に ※事務手数料3,240円を別途頂戴いたします。" /></p>
			<p class="clr">
				<img src="../page/socie2014/images/mainHeader_tel.jpg" alt="ご予約・お問い合わせ 0&#49;20（&#48;&#52;&#65289;&#49;&#49;3&#54; エステティックサロン ソシエ 受付時間：午前10時〜午後8時 ※各店へおつなぎいたします。&#9654;年末年始のお問い合わせについて" width="950" height="100" border="0" usemap="#Map" />
				<map name="Map" id="Map">
					<area shape="rect" coords="688,71,879,87" href="#inquiry-year" alt="年末年始のお問い合わせについて" />
				</map>
			</p>
			<p><img src="../page/socie2014/images/main_store.jpg" width="950" height="57" alt="[対象店舗] 西武：渋谷店、所沢店、秋田店、春日部店／そごう：千葉店、大宮店、西神店、徳島店" /></p>
		</div>
		<div id="plan">
			<h2><img src="../page/socie2014/images/plan_ttl.jpg" width="950" height="35" alt="西武・そごうのお得意さま限定 おすすめのご優待プラン" /></h2>
			<div id="eugaGenesis">
				<p class="flt-r"><img src="../page/socie2014/images/eugaGenesis_img.jpg" width="403" height="379" alt="euga B.C.A.D Technology" /></p>
				<h3 class="flt-l"><img src="../page/socie2014/images/eugaGenesis_ttl.jpg" width="547" height="190" alt="透明感ある若々しい素肌を目指すフェイシャルケア　euga Genesis−ユーガ ジェネシス−" /></h3>
				<p class="flt-l"><img src="../page/socie2014/images/eugaGenesis_txt.jpg" width="547" height="189" alt="創業55周年を迎えるエステティックのソシエが、ユーグレナ社と共同開発した特別なスキンケアシリーズ「euga」。ユーグレナ社のバイオテクノロジーを生かした化粧品と、ソシエオリジナルメソッドの手技で、肌を健やかな状態へ。" /></p>
				<p class="clr"><img src="../page/socie2014/images/eugaGenesis_price.jpg" width="950" height="190" alt="まずは、お試しください　特別ご優待価格5,500円　トライアルコース「euga Genesis（ユーガ ジェネシス）」 85分　※お一人さま1回限りとさせていただきます。" /></p>
				<p class="bnr"><a href="/rps/static/?f=page/socie2014/trial&{%%svid%%}" target="_top" class="hover"><img src="../page/socie2014/images/eugaGenesis_bnr.jpg" width="560" height="110" alt="一滴の神秘から始まる優雅なフェイシャル体験　「euga Genesis（ユーガジェネシス）」とは" /></a></p>
			</div>
			<div id="euga">
				<h3><img src="../page/socie2014/images/euga_ttl.jpg" width="950" height="170" alt="特典2　特別ご優待価格にてご提供　ソシエeuga[ユーガ] スペシャルプラン　ーeuga[ユーガ]の化粧品8品とトリートメントコースがセットになったご優待プランです。ー" /></h3>
				<ul>
					<li class="flt-l"><img src="../page/socie2014/images/euga_price01.jpg" width="475" height="130" alt="150,000円プラン　euga化粧品（8品）＋フェイシャルコース85分×2回分" /></li>
					<li class="flt-l"><img src="../page/socie2014/images/euga_price02.jpg" width="475" height="130" alt="550,000円プラン　euga化粧品（8品）＋フェイシャルコース85分×17回分＋タラソテラピーまたはハンドトリートメント8回分" /></li>
					<li class="clr"><img src="../page/socie2014/images/euga_price03.jpg" width="950" height="127" alt="お二人でご利用いただけるお得なプラン　1,000,000円プラン　euga化粧品（8品）×2セット＋フェイシャルコース85分×28回分＋ボディー8回分＋タラソテラピーまたはハンドトリートメント10回分" /></li>
				</ul>
				<p><img src="../page/socie2014/images/euga_note.jpg" width="950" height="65" alt="※事務手数料（3,240円）は、上記価格に含まれております。※写真はイメージです。" /></p>
				<p class="bnr"><a href="../page/socie2014/pdf/euga.pdf" target="_blank" class="hover"><img src="../page/socie2014/images/euga_bnr.jpg" width="560" height="110" alt="エステティックサロン生まれ　プレミアムスキンケア製品euga［ユーガ］とは" /></a></p>
			</div>
		</div>
		<div id="inquiry">
			<p><img src="../page/socie2014/images/inquiry_tel.jpg" width="950" height="100" alt="ご予約・お問い合わせ 0&#49;20（&#48;&#52;&#65289;&#49;&#49;3&#54; エステティックサロン ソシエ 受付時間：午前10時〜午後8時 ※各店へおつなぎいたします。" /></p>
			<dl id="inquiry-year">
				<dt><img src="../page/socie2014/images/inquiry_year.jpg" width="950" height="32" alt="【年末年始のお問い合わせについて】" /></dt>
				<dd><img src="../page/socie2014/images/inquiry_year_list01.jpg" width="950" height="24" alt="12月30日（火）〜1月4日（日）の間は、お近くの店舗へ直接お問い合わせください。" /></dd>
				<dd><img src="../page/socie2014/images/inquiry_year_list02.jpg" width="950" height="24" alt="［西　武］　渋谷店：0&#51;&#45;5457&#45;1&#55;36　所沢店：&#48;4&#45;&#50;924-&#57;&#53;&#54;&#52;　秋田店：0&#49;&#56;&#45;83&#52;-1&#49;36　春日部店：048&#45;7&#53;&#52;-&#54;&#51;34" /></dd>
				<dd><img src="../page/socie2014/images/inquiry_year_list03.jpg" width="950" height="24" alt="［そごう］　千葉店：&#48;43&#45;&#50;&#52;5&#45;4&#49;3&#54;　大宮店：&#48;&#52;&#56;&#45;6&#52;5&#45;&#52;8&#53;&#55;　西神店：0&#55;8&#45;&#57;92-22&#49;6　徳島店：&#48;8&#56;-60&#50;-1&#49;3&#54;" /></dd>
				<dt><img src="../page/socie2014/images/inquiry_reserve.jpg" width="950" height="35" alt="【ご予約・お問い合わせ】" /></dt>
				<dd><img src="../page/socie2014/images/inquiry_reserve_txt.jpg" width="950" height="34" alt="ほかにもおすすめのコースがございます。くわしくはお問い合わせください。" /></dd>
			</dl>
		</div>
		<p style="padding-bottom:30px; background-color:#FFFFFF"><img src="../page/socie2014/images/main_txt.jpg" width="950" height="56" alt="ご優待は、クラブ・オン／ミレニアムカード セゾン ゴールドのクレジット払いをご利用いただいた場合が対象となります。" /></p>
		
	</div>

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
