<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>トライアルコース「ｅｕｇａ Ｇｅｎｅｓｉｓ」85分コースについて | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/socie2014/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/socie2014/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/socie2014/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
	<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="/rps/static/?f=page/socie2014/index&{%%svid%%}">ソシエのエステティックサービスのご優待サービスのご案内</a></li>
		<li id="presentLocation">euga Genesis（ユーガ ジェネシス）とは</li>
	</ul>





	<div id="main" class="trial">
		<div id="mainHeader">
			<p><img src="../page/socie2014/images/trial_mainHeader_txt.jpg" width="950" height="50" alt="新スキンケアブランド“euga　［ユーガ］”から初めてのフェイシャルトリートメント" /></p>
			<p class="flt-r"><img src="../page/socie2014/images/trial_mainHeader_img.jpg" width="465" height="505" alt="" /></p>
			<h1 class="flt-l"><img src="../page/socie2014/images/trial_mainHeader_ttl.jpg" width="485" height="176" alt="一滴の神秘から始まる、優雅な素肌。 euga Genesis　−ユーガ ジェネシス−" /></h1>
			<dl class="flt-l">
				<dt><img src="../page/socie2014/images/trial_mainHeader_list01_ttl.jpg" width="485" height="112" alt="独自開発の手技により　お肌のもつ力を引きだし、透明感のある若々しい素肌へ" /></dt>
				<dd><img src="../page/socie2014/images/trial_mainHeader_list01_data.jpg" width="485" height="217" alt="神秘の一滴　ユーグレナエキス配合化粧品　×　ソシエのこだわり　独自開発の手技" /></dd>
			</dl>
			<dl>
				<dt><img src="../page/socie2014/images/trial_mainHeader_list02_ttl01.jpg" width="950" height="125" alt="新スキンケアブランド“euga［ユーガ］”から初めてのフェイシャルトリートメント" /></dt>
				<dd><img src="../page/socie2014/images/trial_mainHeader_list02_data01.jpg" width="950" height="132" alt="美しい緑の生命体「ユーグレナ」の命の滴が、エステティックサロン生まれのプレミアムスキンケア化粧品“euga”となって実を結びました。5億年の時を生き続ける神秘の力はオリジナルの手技と出会うことで、より効果的に、素肌にハリと潤いを与えることができるのです。" /></dd>
				<dt><img src="../page/socie2014/images/trial_mainHeader_list02_ttl02.jpg" width="950" height="60" alt="エステティックサロンがつくりあげた、eugaメソッド。" /></dt>
				<dd><img src="../page/socie2014/images/trial_mainHeader_list02_data02.jpg" width="950" height="150" alt="ユーグレナに注ぎ込まれた最新のバイオテクノロジーと、プロのエステティシャンによる極上のハンドテクニックが生み出す、ソシエ最高級のサロンケア。ラグジュアリーなeuga体験を、あなたの素肌の大切な記憶に。" /></dd>
			</dl>
			<ul class="trial-inquiry">
				<li><img src="../page/socie2014/images/trial_price.jpg" width="475" height="140" alt="まずは、お試しください トライアルコース「euga Genesis（ユーガ ジェネシス）」 85分 特別ご優待価格 5,500円" /></li>
				<li><img src="../page/socie2014/images/trial_reserve.jpg" alt="ご予約 お問い合わせ エステティックサロン ソシエ &#48;&#49;2&#48;（04）&#49;13&#54; 受付時間：午前10時〜午後8時 &#9654;年末年始のお問い合わせについて" width="475" height="140" border="0" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="164,94,316,107" href="#inquiry-year" alt="年末年始のお問い合わせ" />
</map>
</li>
			</ul>
		</div>
		<div id="mainBody">
			<h2><img src="../page/socie2014/images/trial_mainBody_ttl.jpg" width="950" height="74" alt="ゆるめる、整える、届けるeugaメソッド" /></h2>
			<div id="trial-method">
				<dl>
					<dt><img src="../page/socie2014/images/trial_mainBody_method_list01_ttl.jpg" width="415" height="135" alt="SKIN CARE" /></dt>
					<dd><img src="../page/socie2014/images/trial_mainBody_method_list01_data01.jpg" width="415" height="250" alt="" /></dd>
					<dd><img src="../page/socie2014/images/trial_mainBody_method_list01_data02.jpg" width="415" height="124" alt="神秘の一滴　ユーグレナエキス配合化粧品" /></dd>
				</dl>
				<p><img src="../page/socie2014/images/trial_mainBody_method_mark.jpg" width="120" height="509" alt="×" /></p>
				<dl>
					<dt><img src="../page/socie2014/images/trial_mainBody_method_list02_ttl.jpg" width="415" height="135" alt="ESTHETIC" /></dt>
					<dd><img src="../page/socie2014/images/trial_mainBody_method_list02_data01.jpg" width="415" height="250" alt="" /></dd>
					<dd><img src="../page/socie2014/images/trial_mainBody_method_list02_data02.jpg" width="415" height="124" alt="ソシエのこだわり　独自開発の手技" /></dd>
				</dl>
			</div>
			<h2><img src="../page/socie2014/images/trial_mainBody_skincare_ttl01.jpg" width="950" height="120" alt="SKIN CARE　ユーグレナエキス配合化粧品を使用し、ハリ・ツヤのある肌へ" /></h2>
			<p><img src="../page/socie2014/images/trial_mainBody_skincare_txt.jpg" width="950" height="85" alt="eugaシリーズ最高級濃度のユーグレナエキス配合セラムとクリームを使用。カプセルに閉じ込めた成分が、肌で弾けて広がっていきます。" /></p>
			<h3><img src="../page/socie2014/images/trial_mainBody_skincare_ttl02.jpg" width="950" height="44" alt="サロントリートメント専用の化粧品で味わう優雅な体験。" /></h3>
			<ul>
				<li><img src="../page/socie2014/images/trial_mainBody_skincare_list_data01.jpg" width="638" height="240" alt="1．ぱっと明るいお肌に　約5000年前から堆積したとも言われるピート（泥炭）を用いたクレンジングパックでお肌の古い角質を取りやすくし、透明感のある美しいお肌へ。　ピートクレンジングパック" /></li>
				<li><img src="../page/socie2014/images/trial_mainBody_skincare_list_data02.jpg" width="733" height="215" alt="2．お肌を引き締める　もう一肌脱いだ感覚”へ導く海藻パックで肌を引き締め、ソシエオリジナルの手技によりお肌にハリを与えていきます。　海藻パック" /></li>
				<li><img src="../page/socie2014/images/trial_mainBody_skincare_list_data03.jpg" width="788" height="230" alt="3．肌にハリを与える　ビタミンやミネラルを含む濃厚アボカドオイルを贅沢に使用しソシエのハンドテクニック“ハンドカッサ”の後お肌に潤いをチャージします。　アボカドオイル" /></li>
			</ul>
			<h2><img src="../page/socie2014/images/trial_mainBody_esthetic_ttl.jpg" width="950" height="100" alt="ESTHETIC　お客さまの状態に合わせたこだわりの手技でもっとハリに手応えを" /></h2>
			<ol>
				<li><img src="../page/socie2014/images/trial_mainBody_esthetic_list_data01.jpg" width="475" height="300" alt="STEP1落とす　クレンジング／ピーリングパック　◎ピート クレンジング パック　ピートが顔・首の古くなった角質を吸着させながらオフ。明るく健やかな肌へ。" /></li>
				<li><img src="../page/socie2014/images/trial_mainBody_esthetic_list_data02.jpg" width="475" height="300" alt="STEP2洗う　ディープクレンジング　熊野ブラシでたてた細かい泡で毛穴汚れを落とします。肌をゆるめて次のステップを準備。" /></li>
				<li><img src="../page/socie2014/images/trial_mainBody_esthetic_list_data03.jpg" width="475" height="300" alt="STEP3満たす　ハンドカッサ　◎アボカドオイル　手をまるでカッサのように使った新しいタッチで、顔のコリをほぐしていきます。" /></li>
				<li><img src="../page/socie2014/images/trial_mainBody_esthetic_list_data04.jpg" width="475" height="300" alt="STEP4整える　マスク／整肌　◎海藻パック/ミスト・セラム・クリーム　海藻パックで肌を引き締めていき、次にセラムなどでユーグレナの成分を届けて、肌バランスを整えていきます。" /></li>
			</ol>
			<p><img src="../page/socie2014/images/trial_mainBody_txt.jpg" width="950" height="260" alt="“神秘の一滴”ユーグレナエキス配合“euga”とこだわりの手技で、プレミアムな素肌へ。" /></p>
			<ul class="trial-inquiry">
				<li><img src="../page/socie2014/images/trial_price.jpg" width="475" height="140" alt="まずは、お試しください トライアルコース「euga Genesis（ユーガ ジェネシス）」 85分 特別ご優待価格 5,500円" /></li>
				<li><img src="../page/socie2014/images/trial_reserve02.jpg" width="475" height="140" alt="ご予約 お問い合わせ エステティックサロン ソシエ &#48;&#49;2&#48;（04）&#49;13&#54; 受付時間：午前10時〜午後8時" /></li>
			</ul>
		<div id="inquiry" style="padding-bottom:30px; background-color:#FFFFFF">
			<dl id="inquiry-year">
				<dt><img src="../page/socie2014/images/trial_inquiry_year.jpg" width="950" height="32" alt="【年末年始のお問い合わせについて】" /></dt>
				<dd><img src="../page/socie2014/images/trial_inquiry_year_list01.jpg" width="950" height="24" alt="12月30日（火）〜1月4日（日）の間は、お近くの店舗へ直接お問い合わせください。" /></dd>
				<dd><img src="../page/socie2014/images/trial_inquiry_year_list02.jpg" width="950" height="24" alt="［西　武］　渋谷店：0&#51;&#45;5457&#45;1&#55;36　所沢店：&#48;4&#45;&#50;924-&#57;&#53;&#54;&#52;　秋田店：0&#49;&#56;&#45;83&#52;-1&#49;36　春日部店：048&#45;7&#53;&#52;-&#54;&#51;34" /></dd>
				<dd><img src="../page/socie2014/images/trial_inquiry_year_list03.jpg" width="950" height="24" alt="［そごう］　千葉店：&#48;43&#45;&#50;&#52;5&#45;4&#49;3&#54;　大宮店：&#48;&#52;&#56;&#45;6&#52;5&#45;&#52;8&#53;&#55;　西神店：0&#55;8&#45;&#57;92-22&#49;6　徳島店：&#48;8&#56;-60&#50;-1&#49;3&#54;" /></dd>
			</dl>
		</div>
		
	</div>

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
