<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>フェリージ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/tumi/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/tumi/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/tumi/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/tumi/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/tumi/js/item_fade.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">トゥミ</li>
</ul>

<div id="main">

	<div id="logo_area"><img src="../page/tumi/images/felisi_ttl.gif" width="950" height="118" alt="" /></div>
	
    <div id="item_list_head"><img src="../page/tumi/images/felisi_sttl.gif" width="946" height="246" alt="ビジネスからタウンユース、旅行まで、様々なシーンで活躍するアイテムをそろえました。多彩なカラーバリエーションをご用意しています。" /></div>
    <div id="item_list_body" class="clearfix">
 <!-- 2014.8更新ここから -->
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_01.jpg" /></a></div>
    <div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_02.jpg" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_03.jpg" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_04.jpg" /></a></div>
    <div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_01.jpg" /></a></div>
    <div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_02.jpg" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_03.jpg" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/tumi/images/felisi_130317_04.jpg" /></a></div>
<!-- 2014.8更新ここまで -->
    </div>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
