<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>トゥミ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/tumi/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/tumi/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/tumi/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/tumi/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/tumi/js/item_fade.js" type="text/javascript" charset="EUC-JP"></script>
    <!--[if lt IE 9]>
    <script src="../page/tumi/js/ie9.js"></script>
    <![endif]-->

</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">トゥミ</li>
</ul>

<div id="main">

	<div id="logo_area"><img src="../page/tumi/images/tumi_title.jpg" width="950" height="118" alt="" /></div>
	
    <div id="item_list_head"><img src="../page/tumi/images/tumi_stitle.jpg" width="946" height="246" alt="クラシックなデザインと新たな機能を融合した、正統派モデルのバッグをそろえました。トラベルやビジネスシーンに活躍します。" /></div>
    <div id="item_list_body" class="clearfix">
<!-- ※tumiの背景透過画像名は最後に「-trans.png」をつけてください -->
 <!-- 2014.10更新ここから -->
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4831&{%%svid%%}"><img src="../page/tumi/images/tumi_141024_01-trans.png" class="IE6_alpha"  width="235px" height="235px"/></a></div>
    <div class="item_list_child"><a href="../detail/?a=Item_detail&id=4830&{%%svid%%}"><img src="../page/tumi/images/tumi_141024_02-trans.png" class="IE6_alpha"  width="235px" height="235px" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4829&{%%svid%%}"><img src="../page/tumi/images/tumi_141024_03-trans.png"  class="IE6_alpha"  width="235px" height="235px"/></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4828&{%%svid%%}"><img src="../page/tumi/images/tumi_141024_04-trans.png" class="IE6_alpha"  width="235px" height="235px" /></a></div>
<!-- 2014.10更新ここまで -->
 <!-- 2014.8更新ここから -->
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4699&{%%svid%%}"><img src="../page/tumi/images/tumi_140812_01-trans.png" class="IE6_alpha"  width="235px" height="235px"/></a></div>
    <div class="item_list_child"><a href="../detail/?a=Item_detail&id=4698&{%%svid%%}"><img src="../page/tumi/images/tumi_140812_02-trans.png" class="IE6_alpha"  width="235px" height="235px" /></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4697&{%%svid%%}"><img src="../page/tumi/images/tumi_140812_03-trans.png"  class="IE6_alpha"  width="235px" height="235px"/></a></div>
   	<div class="item_list_child"><a href="../detail/?a=Item_detail&id=4696&{%%svid%%}"><img src="../page/tumi/images/tumi_140812_04-trans.png" class="IE6_alpha"  width="235px" height="235px" /></a></div>
<!-- 2014.8更新ここまで -->
    </div>
</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
