<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
<title>la base（ラバーゼ） | ROYAL PLATINUM SELECTION</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />


<link rel="stylesheet" type="text/css" href="../page/labase/css/reset.css">
<link rel="stylesheet" href="../page/labase/css/style.css" type="text/css" />
<link rel="stylesheet" href="../page/labase/css/fontsizemedium.css" type="text/css" title="text size medium" />
<link rel="alternate stylesheet" href="../page/labase/css/fontsizelarge.css" type="text/css" title="text size large" />
<link rel="alternate stylesheet" href="../page/labase/css/fontsizesmall.css" type="text/css" title="text size small" />
<link rel="stylesheet" type="text/css" href="../page/labase/css/clearfix.css">
<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
<script src="../page/labase/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
<!--[if lt IE 9]>
<script src="../page/labase/js/mediaqueries.js"></script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
  <li id="presentLocation">la base（ラバーゼ）</li>
</ul>
<!---//Edit Area//-->
<div id="labase-header">
<div class="labase-container">
  <h1><img src="../page/labase/images/title.gif" alt="la base（ラバーゼ）" /></h1>
  <p class="mT50"><img src="../page/labase/images/txt01.png" alt="使い勝手にこだわったメイドインジャパンの美しい調理道具" /></p>
  <!--//container--></div>
  <div class="mT50 labase-mainvisual"><img src="../page/labase/images/mainvisual.jpg" alt="la base（ラバーゼ）" /></div>
  <div class="labase-container">
    <p class="txtLeft mT50"><img src="../page/labase/images/txt02.png" alt="la base（ラバーゼ）とはイタリア語で、“基本”という意味。料理研究家の「有元 葉子（ありもと ようこ）」さんと、世界に誇るステンレス製造技術を持つ新潟県燕市の職人たちが、一つひとつ完成させたこだわりのツールです。使う人の立場から長年考え抜かれた道具たち。使いやすさ、美しさ、手入れのしやすさのすべてがここにあります。" /></p>
    <!--//container--></div>
  <!--//header--></div>
<div id="labase-article">
  <div class="labase-container">
    <div class="labase-section icon3">
      <div><img src="../page/labase/images/img_bowl.jpg" alt="ボウル" /></div>
      <ul class="clearfix">
        <li><a href="../detail/?a=Item_detail&id=6063&{%%svid%%}"><img src="../page/labase/images/icon_bowl01.jpg" alt="ステンレスボウル" /></a></li>
        <li><a href="../detail/?a=Item_detail&id=6062&{%%svid%%}"><img src="../page/labase/images/icon_bowl02.jpg" alt="ステンレス丸ざる" /></a></li>
        <li class="mR0"><a href="../detail/?a=Item_detail&id=6084&{%%svid%%}"><img src="../page/labase/images/icon_bowl03.jpg" alt="ステンレス浅型ざる" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon1">
      <div class="pull-left"><img src="../page/labase/images/img_vat.jpg" alt="角バット" /></div>
      <ul class="clearfix pull-right">
        <li><a href="../detail/?a=Item_detail&id=6060&{%%svid%%}"><img src="../page/labase/images/icon_vat01.jpg" alt="ステンレス角バット" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon2">
      <div class="pull-right"><img src="../page/labase/images/img_drainer.jpg" alt="水切りかご" /></div>
      <ul class="clearfix pull-left">
        <li><a href="../detail/?a=Item_detail&id=6059&{%%svid%%}"><img src="../page/labase/images/icon_drainer01.jpg" alt="水切りかご大3点" /></a></li>
        <li class="mR0"><a href="../detail/?a=Item_detail&id=6058&{%%svid%%}"><img src="../page/labase/images/icon_drainer02.jpg" alt="水切りかごスリム3点" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon1">
      <div class="pull-left"><img src="../page/labase/images/img_turner.jpg" alt="フレキシブルへら" /></div>
      <ul class="clearfix pull-right">
        <li><a href="../detail/?a=Item_detail&id=6057&{%%svid%%}"><img src="../page/labase/images/icon_turner01.jpg" alt="フレキシブルへら" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon1">
      <div class="pull-right"><img src="../page/labase/images/img_spoon.jpg" alt="ブラックスプーン" /></div>
      <ul class="clearfix pull-left">
        <li><a href="../detail/?a=Item_detail&id=6056&{%%svid%%}"><img src="../page/labase/images/icon_spoon01.jpg" alt="ブラックスプーン" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon1">
      <div class="pull-left"><img src="../page/labase/images/img_skimmer.jpg" alt="網じゃくし"></div>
      <ul class="clearfix pull-right">
        <li><a href="../detail/?a=Item_detail&id=6055&{%%svid%%}"><img src="../page/labase/images/icon_skimmer01.jpg" alt="網じゃくし" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon1">
      <div class="pull-right"><img src="../page/labase/images/img_can.jpg" alt="パウダー缶" /></div>
      <ul class="clearfix pull-left">
        <li><a href="../detail/?a=Item_detail&id=6054&{%%svid%%}"><img src="../page/labase/images/icon_can01.jpg" alt="パウダー缶" /></a></li>
      </ul>
      <!--//section--></div>
    <div class="labase-section mT40 clearfix icon2">
      <div class="pull-right"><img src="../page/labase/images/img_stand.jpg" alt="ツールスタンド" /></div>
      <ul class="clearfix pull-left">
        <li><a href="../detail/?a=Item_detail&id=6053&{%%svid%%}"><img src="../page/labase/images/icon_stand01.jpg" alt="ステンレスツールスタンド" /></a></li>
        <li class="mR0"><a href="../detail/?a=Item_detail&id=6052&{%%svid%%}"><img src="../page/labase/images/icon_stand02.jpg" alt="ツールスタンド ブラックタイプ" /></a></li>
      </ul>
      <!--//section--></div>
    <!--//container--></div>
  <div class="labase-aside">
    <div class="labase-container">
      <dl class="labase-aside1">
        <dt><img src="../page/labase/images/txt03.png" alt="有元 葉子［料理研究家］" /></dt>
        <dd><img src="../page/labase/images/txt04.png" alt="雑誌、テレビ、料理本などで活躍。簡単な家庭料理から本格的なイタリアンやエスニック料理まで多種多彩なレシピを紹介している。また、食材や調味料へのこだわり、シンプルな調理法、食器や盛り付けのセンスは、主婦を始め多くの女性たちが支持。旅好きとしても知られ、東京・長野・イタリアの自宅を拠点に各国を巡っている。今ではそのライフスタイルにも注目が集まっている。" /></dd>
      </dl>
      <dl class="labase-aside2">
        <dt><img src="../page/labase/images/txt05.png" alt="新潟・燕市の職人" /></dt>
        <dd class="mT50">
          <div><img src="../page/labase/images/txt06.png" alt="ラバーゼシリーズはすべてが日本製。古くから金属加工の街として日本を支えてきた新潟県燕三条地区でその大半がつくられています。それぞれが得意とする技をもってつくり上げられる逸品たち。有元さんの「良いものをつくりたい」というこだわりと職人たちとが出会い、ともに歩みを重ね、長い時間をかけてたどり着いたカタチが、ラバーゼの一つひとつの製品となっています。" /></div>
          <ul class="clearfix mT50">
            <li><img src="../page/labase/images/photo02.jpg" alt=" "></li>
            <li><img src="../page/labase/images/photo03.jpg" alt=" "></li>
            <li><img src="../page/labase/images/photo04.jpg" alt=" "></li>
            <li class="mR0"><img src="../page/labase/images/photo05.jpg" alt=" "></li>
          </ul>
        </dd>
      </dl>
      <!--//container--></div>
    <!--//aside--></div>
  <!--//article--> </div>
  <!---//Edit Area//-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
