<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>For Christmas Jewelry & Watch Collection | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/jewelry1610/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/jewelry1610/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/jewelry1610/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/jewelry1610/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/jewelry1610/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
    
<!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
  <li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">For Christmas Jewelry & Watch Collection</li>
	</ul>
	<div id="mainvisual"><img src="../page/jewelry1610/images/title.png" alt="For Christmas Jewelry & Watch Collection" /></div>
	<div id="main">


		<div id="itemCatalog">
			<h1>BIBIGI&#39;  ビービージー</h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=8468&{%%svid%%}"><img src="../page/jewelry1610/images/item_b1.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8468&{%%svid%%}">
				<h2>＜スカーレット＞ ペンダント</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8467&{%%svid%%}"><img src="../page/jewelry1610/images/item_b2.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8467&{%%svid%%}">
				<h2>＜スカーレット＞ リング</h2></a><p class="price"></p>
			</div>
		</div>


		<div id="itemCatalog">
			<h1>Boucheron  ブシュロン</h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=8466&{%%svid%%}"><img src="../page/jewelry1610/images/item_c1.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8466&{%%svid%%}">
				<h2>＜エリソン＞ WGペンダント</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8465&{%%svid%%}"><img src="../page/jewelry1610/images/item_c2.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8465&{%%svid%%}">
				<h2>＜エリソン＞ WGリング</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8464&{%%svid%%}"><img src="../page/jewelry1610/images/item_c3.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8464&{%%svid%%}">
				<h2>＜エリソン＞ PGリング</h2></a><p class="price"></p>
			</div>
		</div>


		<div id="itemCatalog">
			<h1>Damiani  ダミアーニ</h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=8463&{%%svid%%}"><img src="../page/jewelry1610/images/item_d1.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8463&{%%svid%%}">
				<h2>＜フィオッコ＞ ネックレス</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8462&{%%svid%%}"><img src="../page/jewelry1610/images/item_d2.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8462&{%%svid%%}">
				<h2>＜フィオッコ＞ リング</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8461&{%%svid%%}"><img src="../page/jewelry1610/images/item_d3.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8461&{%%svid%%}">
				<h2>＜フィオッコ＞ ピアス</h2></a><p class="price"></p>
			</div>
		</div>

		<div id="itemCatalog">
			<h1>Forevermark  フォーエバーマーク</h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=8460&{%%svid%%}"><img src="../page/jewelry1610/images/item_e1.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8460&{%%svid%%}">
				<h2>＜ラインワーク＞ ペンダント &#10045;ブラックレーベル ダイヤモンド使用</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8459&{%%svid%%}"><img src="../page/jewelry1610/images/item_e2.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8459&{%%svid%%}">
				<h2>＜ラインワーク＞ リング &#10045;ブラックレーベル ダイヤモンド使用</h2></a><p class="price"></p>
			</div>
		</div>

		<div id="itemCatalog">
			<h1>Piaget  ピアジェ</h1>
	
			<div>
				<a href="../detail/?a=Item_detail&id=8448&{%%svid%%}"><img src="../page/jewelry1610/images/item_a1.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8448&{%%svid%%}">
				<h2>＜ピアジェ ローズ＞ リング</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8447&{%%svid%%}"><img src="../page/jewelry1610/images/item_a2.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8447&{%%svid%%}">
				<h2>＜ピアジェ ローズ＞ ペンダント</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8449&{%%svid%%}"><img src="../page/jewelry1610/images/item_a3.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8449&{%%svid%%}">
				<h2>＜シークレッツ&ライツ＞ ネックレス</h2></a><p class="price"></p>
			</div>

			<div>
				<a href="../detail/?a=Item_detail&id=8450&{%%svid%%}"><img src="../page/jewelry1610/images/item_a4.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8450&{%%svid%%}">
				<h2>＜ライムライト＞ ウオッチ（レディース）</h2></a><p class="price"></p>
			</div>
			<div>
				<a href="../detail/?a=Item_detail&id=8446&{%%svid%%}"><img src="../page/jewelry1610/images/item_a5.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=8446&{%%svid%%}">
				<h2>＜ピアジェ ポロ S＞ ウオッチ（メンズ）</h2></a><p class="price"></p>
			</div>
	
	
		</div>


	</div>

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
