<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スカヴィア | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/scavia/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">スカヴィア</li>
	</ul>
	<div id="brand"><img src="../page/luxury/scavia/images/scavia.jpg" alt="スカヴィア" /></div>
	<div id="main">
		<div id="itemCatalog">
			<div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2144&{%%svid%%}"><img src="../page/luxury/scavia/images/item01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2144&{%%svid%%}">
					<h1>＜カッレ＞ リング</h1></a>
					<p id="price">1,890,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2145&{%%svid%%}"><img src="../page/luxury/scavia/images/item02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2145&{%%svid%%}">
					<h1>＜カッレ＞ リング</h1></a>
					<p id="price">1,890,000円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2146&{%%svid%%}"><img src="../page/luxury/scavia/images/item03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2146&{%%svid%%}">
					<h1>＜カッレ＞ リング</h1></a>
					<p id="price">1,575,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2147&{%%svid%%}"><img src="../page/luxury/scavia/images/item04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2147&{%%svid%%}">
					<h1>＜アイリス＞ ブレスレット</h1></a>
					<p id="price">5,250,000円</p>
			</div>
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
