<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>コート特集 | ファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/coat/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/coat/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/coat/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/coat/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>
		<li id="presentLocation">コート特集</li>
	</ul>
	<div id="main">
    <h1 class="ttl"><img src="../page/coat/images/coat.jpg" alt="コート特集" /></h1>
		<div id="itemCatalog">
			<div id="itemList">
            <div>
			        <a href="../detail/?a=Item_detail&id=2001&{%%svid%%}"><img src="../page/coat/images/item01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2001&{%%svid%%}">
					<h1>ストラネス　ムートンコート</h1></a>
					<p id="price">346,500円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2002&{%%svid%%}"><img src="../page/coat/images/item02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2002&{%%svid%%}">
					<h1>マックスマーラ　コート</h1></a>
					<p id="price">235,200円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2006&{%%svid%%}"><img src="../page/coat/images/item03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2006&{%%svid%%}">
					<h1>ポール カ　コート</h1></a>
					<p id="price">162,750円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2003&{%%svid%%}"><img src="../page/coat/images/item04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2003&{%%svid%%}">
					<h1>エポカ　コート</h1></a>
					<p id="price">189,000円</p>
			</div>
			<div>
					<a href="../detail/?a=Item_detail&id=2004&{%%svid%%}"><img src="../page/coat/images/item05.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2004&{%%svid%%}">
					<h1>アクアスキュータム　コート</h1></a>
					<p id="price">115,500円</p>
			</div>
			<div class="end">
					<a href="../detail/?a=Item_detail&id=2005&{%%svid%%}"><img src="../page/coat/images/item06.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=2005&{%%svid%%}">
					<h1>ダックス　リバーダッフルコート</h1></a>
					<p id="price">136,500円</p>
			</div>
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
