<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title></title>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<style type="text/css">
<!--
body {overflow: hidden}
-->
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script type="text/javascript">
<!--
var query_str=window.location.search.substring(1,window.location.search.length);
var page_no=location.hash;


if ( query_str != "" || page_no!="" ) {
if ((navigator.userAgent.indexOf('iPhone') > 0) || (navigator.userAgent.indexOf('iPad') > 0) || (navigator.userAgent.indexOf('iPod') > 0) || (navigator.userAgent.indexOf('Android') > 0)) {top.location.replace('sp&{%%svid%%}?'+query_str +page_no);}else{location.replace('pc&{%%svid%%}?'+query_str +page_no);
}
} else {
if ((navigator.userAgent.indexOf('iPhone') > 0) || (navigator.userAgent.indexOf('iPad') > 0) || (navigator.userAgent.indexOf('iPod') > 0) || (navigator.userAgent.indexOf('Android') > 0)) {top.location.replace('sp&{%%svid%%}');}else{location.replace('pc&{%%svid%%}');
}
}

// -->
</script>
</body>
</html>
