<!----------- 編集エリアここから ----------->
<style>
#main .sec_header {width:950px; height:100px; position:relative; margin-top:30px;}
#main .sec_header h1 {position:absolute; text-indent: 0px!important; margin:0px!important; height:100px!important;}
#main .sec_header a {position:absolute;left:670px;top:25px;margin:0; text-indent:inherit;}
#main .sec_nav {margin-top:10px;background:#e1e5eb;padding:10px 30px;}
#main .sec_nav h3 {margin-bottom:10px;}
#main .sec_nav ul {margin-bottom:10px;}
#main .sec_nav ul li {float:left;width:206px;padding:0;}
#main .sec_nav ul.ul4 li {margin-left:22px;}
#main .sec_nav ul.ul4 li:first-child {margin-left:0;}
.clfx {zoom:1;}
.clfx:after {content:"";display:block;clear:both;}
</style>

<h1>フード</h1>
<div style="width:934px; margin-top:20px; background-color:#fff;">
<p>
美食家の方々にもご満足いただける、“美味しさ”を追い求めて。<br />目利きバイヤーたちが、日本各地、世界中から、吟味してお届けいたします。丹精し、磨きをかけた「味の逸品」を、心ゆくまでご堪能ください。
</p>
</div>

<div class="sec_header">
<h1><img src="../_common/images/summer2016/cmn_header_ttl.jpg" alt="2016 夏の逸品会 公開期間：6月15日（水）〜7月15日（金）" /></h1>
<a href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../_common/images/summer2016/cmn_header_btn.gif" alt="逸品会トップへ戻る" /></a>
</div>
<div class="sec_nav">
<h3><img src="../_common/images/summer2016/hd_sttl02.gif" alt="" /></h3>
<ul class="clfx ul4">
<li><a href="#category188"><img src="../_common/images/summer2016/food_nav01.gif" alt="" /></a></li>
<li><a href="#category187"><img src="../_common/images/summer2016/food_nav02.gif" alt="" /></a></li>
<li><a href="#category2"><img src="../_common/images/summer2016/food_nav03.gif" alt="" /></a></li>
<li><a href="#category96"><img src="../_common/images/summer2016/food_nav04.gif" alt="" /></a></li>
</ul>
</div>
<!----------- 編集エリアここまで ----------->