<!----------- 編集エリアここから ----------->
<style>
#main .sec_header {width:950px; height:100px; position:relative; margin-top:30px;margin-bottom:40px;}
#main .sec_header h1 {position:absolute; text-indent: 0px!important; margin:0px!important; height:100px!important;}
#main .sec_header a {position:absolute;left:670px;top:25px;margin:0; text-indent:inherit;}
</style>

<h1>ライフスタイル</h1>
<div style="width:934px; margin-top:20px; background-color:#fff;">
<p>
ご紹介するアイテムひとつひとつから広がるのは、より上質な毎日。<br />生活雑貨から健康用品、ギフトまで、作り手やデザイナーたちのこだわりを散りばめた、選りすぐりの品々を多彩にご紹介いたします。
</p>
</div>

<div class="sec_header">
<h1><img src="../_common/images/summer2016/cmn_header_ttl.jpg" alt="2016 夏の逸品会 公開期間：6月15日（水）〜7月15日（金）" /></h1>
<a href="/rps/static/?f=page/summer2016/index&{%%svid%%}"><img src="../_common/images/summer2016/cmn_header_btn.gif" alt="逸品会トップへ戻る" /></a>
</div>

<!----------- 編集エリアここまで ----------->