<!----------- 編集エリアここから ----------->
		<h1>フード</h1>
        <div style="width:934px; margin-top:20px; background-color:#fff;">
        <p>
        美食家の方々にもご満足いただける、“美味しさ”を追い求めて。<br />
目利きバイヤーたちが、日本各地、世界中から、吟味してお届けいたします。丹精し、磨きをかけた「味の逸品」を、心ゆくまでご堪能ください。
		</p>
		</div>
<!--<div style="width:950px; margin-top:30px;">
<img src="../_common/images/categoryIndex/title_whiteday.jpg" alt="ホワイトデーの贈り物" width="950" height="254" />
</div>-->

		<!--<div style="width:934px; margin-top:30px; background-color:#e9e9e9; padding:8px;">
		<div style="width:934px; height:98px;">
        <p style="float:left"><a href="/rps/static/?f=page/tokinoaji/index&{%%svid%%}"><img alt="季の味倶楽部" src="../_common/images/categoryIndex/01-tokinoaji-banner.jpg" /></a></p>
        </div>
		</div>-->
<!----------- 編集エリアここまで ----------->
