<script type="text/javascript"><!--
function drawTitleImage() {
	var r1 = Math.floor(Math.random() * 2), bid,
		brandItem = {
		filename: [ "baccarat", "berluti", "bottega", "chloe", "dunhill",  "fendi", "armani", "jilsander", "marcjacobs", "meissen", "morabito", "moynat", "ferragamo", "tods", "zegna"
		],
		alt: [ "バカラ", "ベルルッティ", "ボッテガ・ヴェネタ", "クロエ", "ダンヒル", "フェンディ", "ジョルジオ・アルマーニ", "ジルサンダー", "マーク ジェイコブス", "マイセン", "モラビト",  "モワナ",  "サルヴァトーレ フェラガモ", "トッズ", "エルメネジルド ゼニア"
		]
	};
	　
	/*フェンディを50%*/
	if (r1 % 2 == 0)
		bid = 7;
	 else {
		var r2 = Math.floor(Math.random() * 16);
		bid = (r2 >= 5)? (r2 + 1): r2;
	}

	bid = Math.floor(Math.floor(Math.random() * 16));

	document.write('<a href="../static/?f=page/luxury/' + brandItem["filename"][bid] + '/index&{%%svid%%}">' +
	               '<img alt="' + brandItem["alt"][bid] + '" src="../_common/images/categoryIndex/05-title-' + brandItem["filename"][bid] + '.jpg" /></a>');
}
//--></script>
	<h1 class="brandbnr"><script type="text/javascript"><!--
drawTitleImage();
// --></script>
</h1>
		<div id="brandBannerArea">
		<ul>
		<li><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-baccarat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}">バカラ</a></p></li>
		<li><a href="../static/?f=page/luxury/berluti/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-berluti.jpg" /></a>
		<p><a href="../static/?f=page/luxury/berluti/index&{%%svid%%}">ベルルッティ</a></p></li>
		<li><a href="../static/?f=page/luxury/bottega/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-bottegaveneta.jpg" /></a>
		<p><a href="../static/?f=page/luxury/bottega/index&{%%svid%%}">ボッテガ・ヴェネタ</a></p></li>
		<li><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-burberry.jpg" /></a>
		<p><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}">バーバリー</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/celine/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-celine.jpg" /></a>
		<p><a href="../static/?f=page/luxury/celine/index&{%%svid%%}">セリーヌ</a></p></li>-->
		<li><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-chloe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}">クロエ</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-damiani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}">ダミアーニ</a></p></li>-->
		<!--<li><a href="../static/?f=page/luxury/dior/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dior.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dior/index&{%%svid%%}">ディオール</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-donnakaran.jpg" /></a>
		<p><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}">ダナキャラン</a></p></li-->
		<li><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dunhill.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}">ダンヒル</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/etro/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-etro.jpg" /></a>
		<p><a href="../static/?f=page/luxury/etro/index&{%%svid%%}">エトロ</a></p></li>-->
		<li><a href="../static/?f=page/luxury/zegna/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-zegna.jpg" /></a>
		<p><a href="../static/?f=page/luxury/zegna/index&{%%svid%%}">エルメネジルド ゼニア</a></p></li>
		<li><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-fendi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}">フェンディ</a></p></li>
		<li><a href="../static/?f=page/luxury/armani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-armani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/armani/index&{%%svid%%}">ジョルジオ アルマーニ</a></p></li>
		<!--
		<li><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-gucci02.jpg" /></a>
		<p><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}">グッチ</a></p></li>
		-->
		<li><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-jilsander.jpg" /></a>
		<p><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}">ジル・サンダー</a></p></li>
		<li><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-loewe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}">ロエベ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-lucien.jpg" /></a>
		<p><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}">ルシアン ペラフィネ</a></p></li-->
		<!--<li><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-huntingworld.jpg" /></a>
		<p><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}">ハンティング・ワールド</a></p></li>-->
		<li><a href="../static/?f=page/luxury/marcjacobs/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-marcjacobs.jpg" /></a>
		<p><a href="../static/?f=page/luxury/marcjacobs/index&{%%svid%%}">マーク ジェイコブス</a></p></li>
		<!--li><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-mathon.jpg" /></a>
		<p><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}">マットン</a></p></li-->
		<li><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-meissen.jpg" /></a>
		<p><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}">マイセン</a></p></li>
		<li><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moncler.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}">モンクレール</a></p></li>
		<li><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-morabito.jpg" /></a>
		<p><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}">モラビト</a></p></li>
		<li><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moynat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}">モワナ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-repossi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}">レポシ</a></p></li-->
		<!--li><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-rolex.jpg" /></a>
		<p><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}">ロレックス</a></p></li-->
		<li><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-ferragamo.jpg" /></a>
		<p><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}">サルヴァトーレ フェラガモ</a></p></li>
		<li><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-stellmccartney.jpg" /></a>
		<p><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}">ステラ マッカートニー</a></p></li>
		<!--li><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-scavia.jpg" /></a>
		<p><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}">スカヴィア</a></p></li-->
		<li><a href="../static/?f=page/luxury/tods/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-tods.jpg" /></a>
		<p><a href="../static/?f=page/luxury/tods/index&{%%svid%%}">トッズ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/watch/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-watch.jpg" /></a>
		<p><a href="../static/?f=page/luxury/watch/index&{%%svid%%}">ウオッチ</a></p></li-->
		</ul>
		</div>
