<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>「e.CASTEL（イーキャステル）」について | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/aboutecastel/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/aboutecastel/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/aboutecastel/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/aboutecastel/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/aboutecastel/js/heightline.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">「e.CASTEL（イーキャステル）」について</li>
</ul>

<div id="main">

<div id="sec_header">
<div class="inner">
<h1><img src="../page/aboutecastel/images/img_01logo.jpg" alt="e.CASTEL" /></h1>
<img src="../page/aboutecastel/images/img_02main.jpg" alt="日本初のラグジュアリーブランド専門ショッピングサイト、「e.CASTEL（イーキャステル）」がオープン。" />
</div><!--/.inner-->
</div><!--/#sec_header-->



<div id="sec_contents">
<img src="../page/aboutecastel/images/img_03contents.jpg" alt="世界的有名メゾンの正規品のみを専門に取り扱うスペシャルサイトが、「西武・そごうのe.デパート」内にオープンしました。名立たるブランドラインアップに合わせ、お買い物の舞台は、由緒あるお城をイメージ。つまりあなたは、特別に招かれたお客さま。スペシャルムービーが、さらに胸を高鳴らせます。商品はもちろん、ブランドの歴史もご紹介し、執事にもてなされるような、特別なひとときを演出。経験したことのない上質なお買い物体験を、どうぞごゆっくりお楽しみください。
" />
<h2><img src="../page/aboutecastel/images/img_04captit.jpg" alt="ご利用に関するご案内" /></h2>
<ul>
<li><span></span>「e.CASTEL」は、実際にお買い物いただける、「西武・そごうのe.デパート」内のサイトです。</li>
<li><span></span>サイトでお買い物いただくためには、オムニ7「西武・そごうのe.デパート」の会員にご登録いただきます。</li>
<li><span></span>「ロイヤル・プラチナ セレクション」にお戻りいただき、これまで通り、担当者にお問い合わせいただくことも可能です。その場合は、「e.CASTEL」での会員登録は不要です。</li>
<li><span></span>“ティファニー”や“ブルガリ”、“ケイトスペード”、“セオリー”、“エルメス”などの一部ブランドにつきましては、それぞれのブランド公式サイトに移動いたします。オムニ7「西武・そごうのe.デパート」がご提供する送料無料サービスや決済ポイントサービスなどは、対象外となりますのでご注意ください。お気に召したお品物がございましたら担当者にお申しつけください。</li>
</ul>
<p>※オムニ7はセブン＆アイ・ホールディングスの総合ショッピングサイトです。</p>

</div><!--/#sec_contents-->


<div id="sec_footer">
<div class="inner">
<p>e.CASTELのサイトへはこちらから</p>
<a href="http://edepart.omni7.jp/land/?t=0515&r=http%3A%2F%2Fedepart.omni7.jp%2Fgeneral%2Fecastel%2Flu00ptop%2F%3Futm_source%3D515%26utm_medium%3Dhp%26utm_campaign%3Dinflow_oss" target="new"><img src="../page/aboutecastel/images/img_btn.jpg" alt="ご利用に関するご案内" /></a>
</div><!--/.inner-->
</div><!--/#sec_contents-->


</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
