<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ゴールド会員さま 特別ご優待 期間限定企画 『お得なリゾートホテルクーポン券』特別販売 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
<!-- 作業終了時削除 -->   
  	<link rel="stylesheet" href="../../_common/css/default.css" type="text/css" />
<!-- 作業終了時削除 -->  
	<link rel="stylesheet" href="../page/g_kaiin_yutai02/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/g_kaiin_yutai02/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/g_kaiin_yutai02/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
	<li><a href="../?{%%svid%%}">TOP</a></li>
	<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
	<li id="presentLocation">ゴールド会員さま 特別ご優待 期間限定企画 『お得なリゾートホテルクーポン券』特別販売</li>
</ul>
<div id="main">
<h1><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_ttl01.png" alt="ゴールド会員さま特別ご優待 期間限定企画" width="950" height="40" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_ttl02.png" alt="お申し込み期間：1月20日（月）〜2月28日（金）「プリンスホテル＆リゾーツ」「星野リゾート 界」全19施設から選べる" width="950" height="139" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_ttl03.png" alt="『お得なリゾートホテルクーポン券』特別販売 クーポン券のご利用で、お得なご優待をはじめワンドリンクサービスなどのオリジナル特典もご用意しております。" width="950" height="146" /></h1>
   
<div id="rpsGold_idx_mainSec">
    <div class="rpsGold_images">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img01.jpg" alt="" width="405" height="338" />
    </div>
    <div class="rpsGold_text">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img02.png" alt="春・夏のご宿泊を“今”この価格で さらに永久不滅ポイントが2倍貯まります" width="545" height="161" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img03.png" alt="［お申し込み・お問い合わせはお電話にて承ります。］ （株）セブンカルチャーネットワーク ロイヤル・プラチナ旅倶楽部 TEL：03（5949）3970（午前10：00〜午後6：00）" width="545" height="177" />
    </div>
</div>
<!-- /#rpsGold_idx_mainSec -->

<div id="rpsGold_idx_sec01">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_sttl01.png" alt="「プリンスホテル＆リゾーツ」コース" width="950" height="86" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_sttl02.png" alt="クーポン券有効期間（宿泊）3月1日（土）から8月31日（日）まで" width="950" height="86" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_img04.jpg" alt="" width="950" height="199" />
    <div class="rpsGold_idx_courseList01">
	     <img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_img02.png" alt="A. 18,000円（税込）クーポン券 ［お1人さま1泊2食付 21,000円相当］" width="473" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_img03.png" alt="対象施設：・新富良野プリンスホテル（十勝岳ビューツイン）・十和田プリンスホテル（レイクサイドツイン）・軽井沢プリンスホテル（イーストツインルーム）・嬬恋プリンスホテル（ツインA）・万座プリンスホテル（ファミリーB）・ホテル大箱根（ツイン）・箱根湯の花温泉（和12＋4畳）" width="473" height="242" />
    </div>
    <div class="rpsGold_idx_courseList02">
    	  <img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_img05.png" alt="B. 28,000円（税込）クーポン券 ［お1人さま1泊2食付 31,500円相当］" width="477" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec01_img06.png" alt="対象施設：・ザ・プリンス箱根 （本館ガーデンビューツイン）・芦ノ湖畔蛸川温泉 龍宮殿（和13＋8畳）・グランドプリンスホテル京都（スタンダードツインルーム）" width="477" height="242" />
    </div>
    <!-- /.rpsGold_idx_courseList -->
</div>
<!-- /#rpsGold_idx_sec01 -->

<div id="rpsGold_idx_sec02">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_sttl01.png" alt="「星野リゾート 界」コース" width="950" height="80" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_sttl02.png" alt="クーポン券有効期間（宿泊）3月1日（土）から7月18日（金）まで" width="950" height="77" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img01.jpg" alt="" width="950" height="198" />
    <div class="rpsGold_idx_courseList01">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img02.png" alt="C. 25,750円（税込）クーポン券［お1人さま1泊2食付 28,750円相当］" width="473" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img03.png" alt="対象施設：・星野リゾート 界 アルプス（スタンダード客室）" width="473" height="143" />
    </div>
    <div class="rpsGold_idx_courseList02">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img06.png" alt="D. 35,700円（税込）クーポン券［お1人さま1泊2食付 37,800円相当］" width="477" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img07.png" alt="対象施設：・星野リゾート 界 津軽（和室）・星野リゾート 界 伊東（優雅和室）・星野リゾート 界 出雲（露天風呂付き客室）・星野リゾート 界 遠州（遠州モダン）" width="477" height="143" />
    </div>
    <div class="rpsGold_idx_courseList03">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img04.png" alt="E. 42,000円（税込）クーポン券［お1人さま1泊2食付 44,100円相当］" width="473" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img05.png" alt="対象施設：・星野リゾート 界 箱根（和室10畳次の間付き）・星野リゾート 界 松本（スタンダード客室）" width="473" height="143" />
    </div>
    <div class="rpsGold_idx_courseList04">
    	<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img08.png" alt="F. 51,450円（税込）クーポン券［お1人さま1泊2食付 54,050円相当］" width="477" height="92" /><img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_sec02_img09.png" alt="対象施設・星野リゾート 界 熱海（和室6畳次の間付き）・星野リゾート 界 阿蘇（露天風呂付き洋室）" width="477" height="143" />
    </div>
    <!-- /.rpsGold_idx_courseList -->
</div>
<!-- /#sec02 -->

<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img04.png" alt="『お得なリゾートホテルクーポン券』のご利用方法：お申し込みはお電話にて承ります。ご希望の宿泊日が決まりましたら、上記から施設をお選びいただき、
下記「お申し込み・お問い合わせ」へご予約ください。ご予約の際には、「リゾートホテルクーポン券」ご利用の旨を必ずお申し出ください。" width="950" height="126" />
<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img05.png" alt="※クーポン券には、ご利用対象除外日がございます。また、満室によりご予約を承れない場合がございます。あらかじめご了承ください。※各宿泊施設までの往復の移動費用は、お客さまのご負担となります。※ご宿泊の消費税・入湯税は含まれております。旅行取扱＝株式会社セブンカルチャーネットワーク（観光庁長官登録旅行業第1870号）日本旅行業協会正会員" width="950" height="128" />
<img src="../page/g_kaiin_yutai02/images/rps_gold_idx01_img06.png" alt="［お申し込み・お問い合わせはお電話にて承ります。］（株）セブンカルチャーネットワーク ロイヤル・プラチナ旅倶楽部 TEL:03（5949）3970（午前10：00〜午後6：00）※写真はすべてイメージです。" width="950" height="128" />
    
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
