@charset "EUC-JP";

.marginbottom10 {
	margin-bottom: 10px;
}
.positionabsolute {
	position:absolute;
	top:11px;
	left:622px;
}
#messageArea {
	width: 860px;
	margin: 0 auto;
	padding: 15px 45px;
	background: #fff;
}
#main {
	width: 949px;
	margin: 0 auto;
	color: #4d392a;
	background: #f7f7f7;
}
#messageArea .RedLabel, #main .RedLabel {
	background:#C80000;
	padding:5px 0;
	color:#fff;
	text-align:center;
}
#main .RedLabel {
	margin-bottom: 30px;
}
#main .contact {
	background:#EDEDED;
	padding:15px 20px;
	margin-top:15px;
	color:#000;
}
#main #contactButton {
	background:#EDEDED;
	padding:15px 0;
	margin-bottom:10px;
}
#catch {
	width: 950px;
	height: 270px;
	margin:0 auto;
	position:relative;
}
#catch img {
	vertical-align:bottom;
	}
#brand {
	width: 950px;
	height: 157px;
	margin:0 auto;
	padding:1px 0;
	text-align:center;
	background-color: #fff;
	position:relative;
	overflow:hidden;
}
#itemInfo, #itemPhoto, #itemInfoWide, #itemPhotoWide {
	padding-bottom: 45px;
}
#itemInfo {
	float: right;
	width: 492px;
}
#itemInfoL {
	float: left;
	width: 492px;
	margin-right:40px;
}
#itemInfoWide {
	float: right;
	width: 722px;
}
#itemInfoWide .itemInfoName {
	font-weight:bold;
}
#itemInfoWide .itemInfoNotice {
	margin:10px 0 0 -5px;
}
#itemPhotoWide .photo01 {
	width:115px;
	height:115px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../../../modeplus/images/itemPhoto-luxury01.jpg");
}
#itemPhotoWide .photo02 {
	width:115px;
	height:115px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../../../modeplus/images/itemPhoto-luxury02.jpg");
}
#itemInfoWide .itemInfoWideMain {
	width:580px;
	border-top:1px #ccc solid;
	padding:10px 158px 15px 0;
}
#itemInfoWide .itemInfoWideMain p {
	margin-bottom:10px;
}
#category, #catch .category05  {
	width: 110px;
	height: 16px;
	margin-bottom: 10px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.category01 #category {
	background-image: url("../images/Food.gif");
}
.category02 #category {
	background-image: url("../images/Beauty.gif");
}
.category03 #category {
	background-image: url("../images/Fashion.gif");
}
.category04 #category {
	background-image: url("../images/Goods.gif");
}
.category05 #category, #catch .category05 {
	background-image: url("../images/Luxury.gif");
}
.category06 #category {
	background-image: url("../images/Entertainment.gif");
}
h1 {
	font-weight: bold;
}
#price {
	margin-bottom: 5px;
}
#price strong {
	font-weight: bold;
}
#itemInfo .message {
	margin-bottom: 10px;
	color: #d40303;
	text-align: center;
	background: #f4c7d6;
	font-weight:bold;
}
#desc {
	margin-bottom: 25px;
}
#desc2 {
	padding-top: 10px;
	margin-bottom: 25px;
	border-top:1px #ccc dotted;
}
#spec h2 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../images/spec-title.gif") no-repeat 0 0;
}
#spec2 h2 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../images/spec-title2.gif") no-repeat 0 0;
}
#spec3 h2 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../images/spec-title3.gif") no-repeat 0 0;
}
#itemPhoto {
	float: left;
	width: 328px;
}
#itemPhotoWide {
	float: left;
	width: 115px;
}
#itemPhotoWide img {
	width:115px;
	height:115px;
}
#itemPhotoLarge {
	margin-bottom: 7px;
}
#itemPhoto ul {
	position: relative;
	width: 335px;
	margin-right: -7px;
}
#itemPhoto li {
	float: left;
	width: 60px;
	padding-right: 7px;
}
#purchaseForm {
	padding: 11px 20px 20px;
	background: #ededed;
}
#purchaseForm h2 {
	width: 81px;
	height: 16px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../images/purchaseForm-title.gif") no-repeat 0 0;
}
#selectBoxes {
	position: relative;
	width: 832px;
	margin-right: -12px;
	margin-bottom: 20px;
}
#selectBoxes li {
	float: left;
	width: 196px;
	padding-right: 12px;
}
#selectBoxes select {
	width: 196px;
}
#purchaseForm textarea {
	display: block;
	width: 818px;
	height: 68px;
}
#formButtons {
	width: 627px;
	margin: 30px auto;
}
#formButtons li {
	width: 304px;
	height: 39px;
}
#submitButton {
	float: left;
}
#formButtons a {
	display: block;
	width: 304px;
	height: 39px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
#submitButton a:link, #submitButton a:visited {
	background-position: 0 0;
}
#submitButton a:hover, #submitButton a:active {
	background-position: 0 -39px;
}
#contactButton {
	float: right;
}
#contactButton a:link, #contactButton a:visited {
	background-position: -304px 0;
}
#contactButton a:hover, #contactButton a:active {
	background-position: -304px -39px;
}
#itemNotice li {
	padding-left: 1em;
	text-indent: -1em;
}
.contact a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../images/purchaseForm-button.gif") no-repeat;
}
.contact a:link, .contact a:visited {
	background-position: -304px 0;
}
.contact a:hover, .contact a:active {
	background-position: -304px -39px;
}
.submit a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit a:link, .submit a:visited {
	background-position: 0 0;
}
.submit a:hover, .submit a:active {
	background-position: 0 -39px;
}
.submit2 a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit2 a:link, .submit2 a:visited {
	background-position: -608px 0;
}
.submit2 a:hover, .submit2 a:active {
	background-position: -608px -39px;
}
.submit3 a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../images/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit3 a:link, .submit3 a:visited {
	background-position: -912px 0;
}
.submit3 a:hover, .submit3 a:active {
	background-position: -912px -39px;
}
.reserve a {
	display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../images/reserve.jpg") no-repeat;
}
.reserve a:link, .reserve a:visited {
	background-position: 0 0;
}
.reserve a:hover, .reserve a:active {
	background-position:0 -39px;
}

#itemTopic{
	clear:both;
	margin:0 0 30px;
	height:211px;
}
#itemTopic div#pic{
	float:left;
	margin:0 10px 0 0;
	width:545px;
	height:211px;
}
#itemTopic div#msg{
	float:left;
	margin:0;
	width:300px;
	height:211px;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
}
#itemTopic div#msg img{
	padding:7px 0;
	width:300px;
	border-bottom:1px #ccc dotted;
}
#itemTopic div#msg p{
	padding:7px 0;
}
#itemTopic div#msg .infoDetailLink{
	position:relative;
	top:25px;
}

#itemTopic div#msg .infoDetailLink a{
	background:url("../images/infoDetailLinkbg.gif") left center no-repeat;
	padding-left:15px;
}

#itemTopic div#msg .infoDetailLink a{
	color:#CB0100;
}
#itemTitle{
	clear:both;
	width:856px;
	padding:10px 0;
}
#itemList{
	clear:both;
	margin:0 0 15px 0;
}
#itemList div{
	float:left;
	width:276px;
	margin:0 12px 20px 0;
}
#itemList div.end{
	float:left;
	width:276px;
	margin:0 0 20px 0;
}
#itemList div img{
	width:273px;
	height:430px;
	border:#dddddd 1px solid;
}
#itemList div h1{
	margin-top:7px;
}

#itemList div a{
	color:#4D392A;
}
#itemList div a:hover{
	color: #ccc881;
}

#itemList:after {
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

h1.ttl {
	margin: 0 auto 25px auto;
	width: 846px;
}

#desc {
	height:60px;
}

.item_btnarea{
	position:relative;
}

.item_btnarea .btn01{
	display: block;
	position: absolute;
	left: 486px;
	top: 44px;
}

.item_btnarea .btn02{
	display: block;
	position: absolute;
	left: 260px;
	top: 308px;
}

.item_btnarea .btn03{
	display: block;
	position: absolute;
	left: 488px;
	top: 480px;
}

.item_btnarea .btn04{
	display: block;
	position: absolute;
	left: 611px;
	top: 579px;
}

.item_btnarea .btn05{
	display: block;
	position: absolute;
	left: 174px;
	top: 614px;
}

.item_btnarea2{
	width:949px;
	height:573px;
	background:url(../images/img04.jpg) top left no-repeat;
}

.item_btnarea2 ul{
	margin-left:45px;
	padding-top:28px;
	width:872px;
}

.item_btnarea2 ul li{
	display:block;
	float:left;
	padding:0 13px 13px 0;
	height:160px;
}
.mb30{
	margin-bottom:30px;
}
