@charset "EUC-JP";

/**
 * ブラウサ間の調整
 */
#step, #button, #main, .historyBB, .searchBB, .Rwrapper, .family, #main .reservemain .imagew, #InquiryWrapper, #searchli {
	display: inline-block;
}
#step, #button, #main, .historyBB, .searchBB, .Rwrapper, .family, #main .reservemain .imagew, #InquiryWrapper, #searchli {
	display: block;
}
#step:after, #button:after, #main:after, .historyBB:after, .searchBB:after, .Rwrapper:after, .family:after, #main .reservemain .imagew:after, #InquiryWrapper:after, #searchli:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
