@charset "EUC-JP";

/**
 * サイト内共通スタイル
 */
.marginbottom10 {
	margin-bottom: 10px;
}
.marginbottom6 {
	margin-bottom: 6px;
}
.marginright10 {
	margin-right: 10px;
}
.floatleft {
	float: left;
}
.p_red {
	color: #cc0001;
}
#breadcrumbs {
	width: 950px;
	margin: 0 auto;
	/*padding: 0 5px;*/
	/*color: #fff;*/
	color:#000;
	font-weight: bold;
	/*background:#c2bfb6;*/
	margin-bottom:10px;
}
#breadcrumbs a:link, #breadcrumbs a:visited{
	color: #000;
	font-weight: normal;
	/*text-decoration: none;*/
	text-decoration: underline;
}
#breadcrumbs a:hover, #breadcrumbs a:active {
	/*text-decoration: underline;*/
	color: #8f8246;
	text-decoration: none;
}
#breadcrumbs span {
	margin: 0 5px;
	color: #000;
	font-weight: normal;
}
#main {
	width: 862px;
	color: #000;
	margin: 0 auto 60px;
	padding: 30px 34px 40px;
	border: 10px solid #ffffff;
	/*border: 10px solid #f2f1ed;*/
	background: #fff;
}
#main h1 {
	width: 164px;
	height: 25px;
	margin: 0 0 20px;
	text-indent: -9999px;
	background: url("../../images/form/touroku.gif") no-repeat;
}
#main .edit {
	background: url("../../images/form/edit.gif") no-repeat;
}
#main .reserve {
	background: url("../../images/form/reserve.gif") no-repeat;
}
#main .reserve2 {
	background: url("../../images/form/reserve2.gif") no-repeat;
}
#main .reserve3 {
	background: url("../../images/form/reserve3.gif") no-repeat;
	width:237px;
}
#main .reserve4 {
	background-image: url("../../images/Service/acceptConfirmh2.gif");
}
#main .logout {
	background: url("../../images/form/logout.gif") no-repeat;
}
#main .history {
	width: 359px;
	height: 53px;
	background: url("../../images/form/history.gif") no-repeat;
}
#main .secessionh1 {
	background: url("../../images/form/secession.gif") no-repeat;
}
#main .reminderh1 {
	width: 274px;
	background: url("../../images/form/reminderh1.gif") no-repeat;
}
#main .reminder2h1 {
	width: 199px;
	background: url("../../images/form/reminder2h1.gif") no-repeat;
}
#main .search {
	width: 359px;
	background: url("../../images/form/search.gif") no-repeat;
}
#step {
	height: 38px;
	margin: 0 0 26px;
}
#step li {
	float: left;
}
#main .rule {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/kiyaku.jpg") no-repeat;
}
#main .attention {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/attention.jpg") no-repeat;
}
#main .registconf {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/registconf.jpg") no-repeat;
}
#main .registinput {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/registinput.jpg") no-repeat;
}
#main .registcomplete {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/registcomplete.jpg") no-repeat;
}
#main .preregistcomplete {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/preregistcomplete.jpg") no-repeat;
}
#main .secessionReception {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/secessionReception.jpg") no-repeat;
}
#main .secessionComplete {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/secessionComplete.jpg") no-repeat;
}
#main .secessionconfirm {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/secessionConfirm.jpg") no-repeat;
}
#main .editinput {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/editinput.jpg") no-repeat;
}
#main .editconf {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/editconf.jpg") no-repeat;
}
#main .editconplete {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/editconplete.jpg") no-repeat;
}
#main .reserveconplete {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconplete.jpg") no-repeat;
}
#main .reserveconplete2 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconplete2.jpg") no-repeat;
}
#main .reserveconplete3 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconplete3.jpg") no-repeat;
}
#main .reserveconplete4 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/Service/acceptCompleteh3.jpg") no-repeat;
}
#main .reserveconfirm {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconfirm.jpg") no-repeat;
}
#main .reserveconfirm2 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconfirm2.jpg") no-repeat;
}
#main .reserveconfirm3 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/form/reserveconfirm3.jpg") no-repeat;
}
#main .reserveconfirm4 {
	width: 859px;
	height: 37px;
	margin: 0 0 38px;
	text-indent: -9999px;
	background: url("../../images/Service/acceptConfirmh3.jpg") no-repeat;
}
#main .historyh2 {
	width: 839px;
	height: 28px;
	margin: 0 0 18px;
	padding: 9px 0 0 20px;
	color: #fff;
	background: url("../../images/h2bg.jpg") no-repeat;
}
#main .logouth2 {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/logouth2.jpg") no-repeat;
}
#main .reminderh2 {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/reminderh2.jpg") no-repeat;
}
#main .reminderConmpleteh2 {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/reminderConmpleteh2.jpg") no-repeat;
}
#main .reminderEdith2 {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/reminderEdith2.jpg") no-repeat;
}
#main .reminderEditCompleteh2 {
	width: 859px;
	height: 37px;
	margin: 0 0 18px;
	text-indent: -9999px;
	background: url("../../images/form/reminderEditCompleteh2.jpg") no-repeat;
}
#main .kome {
	color: #cc0001;
}
#main h3 {
	font-weight: bold;
}
#main .family {
	width: 838px;
	height: 70px;
	margin: 20px 0;
	padding: 10px;
	border: 2px solid #90834f;
	background: #f2f1ed;
}
#main .familyh {
	color: #90854f;
	margin-bottom: 10px;
	font-weight: bold;
}
.familybotton a {
	display: block;
	float:right;
	width: 255px;
	height: 40px;
	margin: 15px 10px 0 0;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/familybotton.jpg") no-repeat;
}
.familybotton a:link, .familybotton a:visited {
	background-position: 0 0;
}
.familybotton a:hover, .familybotton a:active {
	background-position:0px -40px;
}
#main .historyBB {
	padding-bottom: 2px;
	border-bottom: 1px solid #90834f;
}
#main .historyBB span {
	margin: 0 10px;
}
#main .historyBB .Lhistory {
	float: left;
}
#main .Rhistory {
	float: right;
}
#main .Rhistory li {
	float: left;
	margin: 0 2px 0;
	padding: 0 4px;
	border: 1px solid #90834f;
}
#main .Rhistory .borderless {
	padding: 0;
	margin: 0 6px 0 0;
	border: none;
}
#main .Rhistory .selected {
	font-weight: bold;
	background: #e3dfd4;
}
#main .Rhistory .next {
	margin: 0 2px 0;
	padding: 0 10px;
}
#main .Rhistory li a {
	color: #333;
}
.Rwrapper {
	margin-bottom: 40px;
}
#main .historytable {
	width: 862px;
	margin: 20px 0;
}
#main .historytable a {
	color: #CA0204;
}
#main .historytable .tdhead {
	font-weight:bold;
}
#main .historytable th {
	padding: 4px 0 15px 0;
	color: #90834f;
	background: url("../../images/form/historythbg.gif") repeat-x;
}
#main .historytable .thDate {
	padding: 4px 0 15px 10px;
}
#main .historytable td {
	padding:0 0 5px 0;
	border-bottom: 1px solid #90834f;
}
#main .historytable .date {
	width: 125px;
	padding-left:10px;
	padding-top:8px;
	vertical-align:top;
}
#main .historytable .label {
	width: 110px;
	padding:2px 10px 0 0;
	text-align:center;
	color:#fff;
	background: url("../../images/form/historybg.gif") no-repeat center left;
}
#main .historytable .buy {
	width: 465px;
	padding-top:8px;
	vertical-align:top;
}
#main .historytable .number {
	text-align: center;
	padding-top:8px;
	vertical-align:top;
}
#main .reservemain {
	width: 640px;
	margin: 25px auto 0;
}
#main .reservemain .imagew {
	margin-bottom: 20px;
	color: #4c3928;
}
#main .reservemain .imagew img {
	float: left;
	width:280px;
	height:210px;
}
#main .reservemain .imagew .specw{
	float: right;
	width: 340px;
}
#main .reservemain .spectable{
	width: 640px;
}
#main .reservemain .name {
	font-weight: bold;
}
#main .reservemain .value span {
	vertical-align: middle;
	font-weight: bold;
}
#main .reservemain .spec {
	margin: 25px 0 0;
}
#main .reservemain .spec p {
	width: 81px;
	height: 12px;
	margin-bottom: 10px;
	text-indent: -9999px;
	background: url("../../images/form/spec.gif") no-repeat center center;
}
#main .reservemain .spectable {
	margin-bottom: 50px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}
#main .reservemain .spectable td {
	border-width: 0 0 1px 1px;
	border: 1px solid #ccc;
	padding: 6px 0 6px 20px;
}
#main .reservemain .spectable th {
	width: 173px;
	vertical-align: top;
	padding: 6px 0 6px 30px;
	border-width: 0 0 1px 1px;
	border: 1px solid #ccc;
	background: url("../../images/tablebg.gif") no-repeat left top;
}
#scrollBoxw {
	padding: 25px 0 0;
}
#scrollBox {
	width: 813px;
	padding: 21px 22px;
	border: 1px solid #7e9db9;
	overflow: auto;
}
#scrollBox .scrollBoxbottom {
	margin-bottom: 25px;
}
#scrollBox li {
	list-style-type: disc;
	margin: 0 0 0 15px;
}
#agreement {
	margin: 0 0 0 126px;
}
#agreement li {
	float: left;
	margin-right: 18px;
}
#agreement a {
	display: block;
	overflow: hidden;
	height: 39px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/form/agree.jpg");
	background-repeat: no-repeat;
}
#agreement .agree a, #agreement .disagree a {
	width: 304px;
}
#agreement .agree a:link, #agreement .agree a:visited {
	background-position: -304px 0;
}
#agreement .agree a:hover, #agreement .agree a:active {
	background-position: -304px -39px;
}
#agreement .disagree a:link, #agreement .disagree a:visited {
	background-position: 0 0;
}
#agreement .disagree a:hover, #agreement .disagree a:active {
	background-position: -1px -40px;
}
#button {
	margin: 0 0 0 126px;
}
#button li {
	float: left;
	margin-right: 18px;
}
#button a {
	display: block;
	overflow: hidden;
	height: 39px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/form/button.jpg");
	background-repeat: no-repeat;
}
#button .correct a, #button .final a, #button .register a, #button .secession a, #button .send a  {
	width: 304px;
}
#button .correct a:link, #button .correct a:visited {
	background-position: 0 0;
}
#button .correct a:hover, #button .correct a:active {
	background-position: 0 -39px;
}
#button .final a:link, #button .final a:visited {
	background-position: -304px 0;
}
#button .final a:hover, #button .final a:active {
	background-position: -304px -39px;
}
#button .register a:link, #button .register a:visited {
	background-position: -608px 0;
}
#button .register a:hover, #button .register a:active {
	background-position: -608px -39px;
}
#button .secession a:link, #button .secession a:visited {
	background-position: -912px 0;
}
#button .secession a:hover, #button .secession a:active {
	background-position: -912px -39px;
}
#button .send a:link, #button .send a:visited {
	background-position: -1216px 0;
}
#button .send a:hover, #button .send a:active {
	background-position: -1216px -39px;
}
.proceed a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/proceed.jpg") no-repeat;
}
.proceed a:link, .proceed a:visited {
	background-position: 0 0;
}
.proceed a:hover, .proceed a:active {
	background-position:-1px -40px;
}
.register2 a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/button.jpg") no-repeat;
}
.register2 a:link, .register2 a:visited {
	background-position: -608px 0;
}
.register2 a:hover, .register2 a:active {
	background-position: -608px -39px;
}
.confirm a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/conf.jpg") no-repeat;
}
.confirm a:link, .confirm a:visited {
	background-position: 0 0;
}
.confirm a:hover, .confirm a:active {
	background-position:0 -39px;
}
.gotop a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/gotop.jpg") no-repeat;
}
.gotop a:link, .gotop a:visited {
	background-position: 0 0;
}
.gotop a:hover, .gotop a:active {
	background-position:0 -39px;
}
.backtop a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/backtop.jpg") no-repeat;
}
.backtop a:link, .backtop a:visited {
	background-position: 0 0;
}
.backtop a:hover, .backtop a:active {
	background-position:0 -39px;
}
.goLogin a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/form/goLogin.jpg") no-repeat;
}
.goLogin a:link, .goLogin a:visited {
	background-position: 0 0;
}
.goLogin a:hover, .goLogin a:active {
	background-position:0 -39px;
}
#step .step01_off {
	width: 150px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step01_off.gif") no-repeat;
}
#step .step01_on {
	width: 150px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step01_on.gif") no-repeat;
}
#step .step01_non {
	width: 150px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step01_non.gif") no-repeat;
}
#step .step02_off {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step02_off.gif") no-repeat;
}
#step .step02_on {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step02_on.gif") no-repeat;
}
#step .step02_non {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step02_non.gif") no-repeat;
}
#step .step03_off {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step03_off.gif") no-repeat;
}
#step .step03_on {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step03_on.gif") no-repeat;
}
#step .step03_non {
	width: 142px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step03_non.gif") no-repeat;
}
#step .step04_off {
	width: 144px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step04_off.gif") no-repeat;
}
#step .step04_on {
	width: 144px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step04_on.gif") no-repeat;
}
#step .step04_non {
	width: 144px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step04_non.gif") no-repeat;
}
#step .step05_off {
	width: 141px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step05_off.gif") no-repeat;
}
#step .step05_on {
	width: 141px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step05_on.gif") no-repeat;
}
#step .step05_non {
	width: 141px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step05_non.gif") no-repeat;
}
#step .step06_off {
	width: 141px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step06_off.gif") no-repeat;
}
#step .step06_on {
	width: 141px;
	height: 38px;
	text-indent: -9999px;
	background: url("../../images/form/step06_on.gif") no-repeat;
}
.form {
	width: 859px;
	margin: 5px 0 50px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}
.form input, .form select {
	vertical-align: middle;
	margin: 0 10px 6px 0;
}
.form td {
	vertical-align: top;
	padding: 6px 0 0 20px;
	border-width: 0 0 1px 1px;
	border: 1px solid #ccc;
}
.form .formleft {
	width: 173px;
	padding-left: 30px;
	background: url("../../images/tablebg.gif") no-repeat left top;
}
.form .formReason {
	width: 195px;
}
.form .formReasonB {
	width:610px;
	margin:5px 0 10px;
}
.form .pid {
	width: 250px;
}
.form .phone {
	width: 250px;
}
.form .birth {
	width: 70px;
}
.form td td {
	vertical-align: top;
	padding: 0;
	border: none;
}
.form td .mailmargin {
	width: 60px;
}
.form td .confmargin {
	padding: 0 10px 0 0;
}
.form .mail-attention {
	margin-bottom: 10px;
	color: #cc0001;
}
.form .pass-attention {
	margin-bottom: 5px;
	color: #cc0001;
}
.form .mail {
	width: 300px;
}
.form .gender {
	vertical-align: text-bottom;
	margin: 0 10px 0 0;
}
.form .genderfont {
	margin: 0 20px 0 0;
}
.form .magazinefont {
	margin: 0 10px 0 0;
}
.form .magazine {
	vertical-align: text-bottom;
	margin: 0 10px;
}
.form .magazinetable {
	margin-bottom: 6px;
	border-collapse: separate;
	border-spacing: 2px;
}
.form .magazinehead {
	width: 70px;
	text-align: center;
	background: #90834e;
}
.form .magazinehead span {
	color: #fff;
}
.form .formName {
	width: 280px;
}
.form .Rmargin {
	width: 140px;
	margin-right: 10px;
}
.form .phonemargin {
	margin: 0 5px 0 -5px;
}
.form .birthmargin {
	margin: 0 10px 0 0;
}
.completeCenter {
	margin: 0 0 90px;
	padding: 20px 0 0;
	text-align: center;
}
.completeCenter2 {
	margin: 0 0 70px;
	padding: 20px 0 0;
	text-align: center;
}
.completeRed {
	margin: 0 0 10px;
	color: #cc0001;
	font-weight: bold;
}
#main .underTable {
	margin:-40px 0 40px;
	font-weight:bold;
	color: #cc0001;
}
#main .underTable2 {
	margin:10px 0 40px;
	font-weight:bold;
	color: #cc0001;
}
.clubonnumber {
	margin-left:-19px;
}
.clubonnumber a {
	color: #cc0001;
}
.clubonnumber a:hover {
	text-decoration:none;
}
#main .searchBB {
	padding-bottom: 2px;
	border-bottom: 1px solid #90834f;
	margin-bottom:30px;
}
#main .searchBB span {
	margin: 0 10px;
	font-weight:bold;
}
#main .searchBB .Lsearch {
	float: left;
}
#main .Rsearch {
	float: right;
}
#main .Rsearch li {
	float: left;
	margin: 0 4px 0 0;
	padding: 0 4px;
	border: 1px solid #90834f;
}
#main .Rsearch .borderless {
	padding: 0;
	margin: 0 6px 0 0;
	border: none;
}
#main .Rsearch .selected {
	font-weight: bold;
	background: #e3dfd4;
}
#main .Rsearch .next {
	margin: 0 2px 0 0;
	padding: 0 10px;
}
#main .Rsearch .back {
	padding: 0 10px;
}
#main .Rsearch li a {
	color: #333;
}
#searchli {
	border-bottom: 1px solid #90834f;
	padding:10px 0;
}
#searchli li {
	float:left;
}
#searchli .searchNumber {
	width:30px;
	font-weight:bold;
}
#searchli .searchName {
	width:610px;
}
#searchli .searchName  a {
	font-weight:bold;
	color:#CB0004;
}
#searchli .searchName  p {
	margin:5px 0 0 0;
}
#searchli .searchName .category01 {
	background:url("../../images/Food.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category02 {
	background:url("../../images/Beauty.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category03 {
	background:url("../../images/Fashion.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category04 {
	background:url("../../images/Goods.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category05 {
	background:url("../../images/Luxury.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category06 {
	background:url("../../images/Entertainment.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchName .category07 {
	background:url("../../images/Luxury.gif") no-repeat;
	width: 110px;
	height: 16px;
	margin:0 0 2px;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
}
#searchli .searchImage {
	width:180px;
	height:135px;
	margin-right:20px;
	border:1px solid #98989a;
}
#searchKeywordSearch {
	padding-left:200px;
	background:#ededed;
	margin-bottom:40px;
}
#searchKeywordSearch .searchtextWrapper {
	height:31px;
	padding:12px 0 0 135px;
	background:url("../../images/form/searchbg.gif") no-repeat;
}
#searchKeywordSearch .searchtext {
	width:270px;
}
#searchKeywordSearch .searchButton {
	border: 0;
	width: 50px;
	height: 19px;
	cursor: pointer;
	text-indent: -9999px;
	background: transparent url("../../images/form/searchbutton.gif") no-repeat 0 0;
}
#searchKeywordSearch .searchButtonHover {
	background-position:-50px 0;
}
#main .tokuten {
	width:860px;
	height:91px;
	margin-top:-30px;
	text-indent:-9999px;
	background:url("../../images/form/tokuten.gif") no-repeat;
}