@charset "EUC-JP";
@import url("../../../_common/css/global-fontsizemedium.css");

.historyh2, .historyBB, .historytable, .Rwrapper {
	font-size: 12px;
}
#breadcrumbs {
	font-size: 12px;
}
#main p {
	font-size: 12px;
}
#main .reservemain .name, #main .reservemain .value, #main .reservemain .spectable {
	font-size: 12px;
}
#main .reservemain .value span {
	font-size: 18px;
}
#main .reservemain .spec {
	font-size: 10px;
}
#scrollBox {
	font-size: 12px;
}
.form {
	font-size: 12px;
}
#main .historytable .label {
	font-size: 12px;
}