<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>特別企画　サイトで日本各地を旅して旅行クーポンが当たる！ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/cp_summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/cp_summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/cp_summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/cp_summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/cp_summer2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">特別企画　サイトで日本各地を旅して旅行クーポンが当たる！</li>
</ul>

<!-- main -->
<div id="main" class="idx">

<div id="sec_header">
	<div class="bg">
		<h2><img src="../page/cp_summer2016/images/idx_hd_ttl01.gif" alt="" /></h2>
		<div class="inner">
			<h3><img src="../page/cp_summer2016/images/idx_hd_ttl02.png" alt="" /></h3>
			<div class="img"><img src="../page/cp_summer2016/images/idx_hd_img01.png" alt="" /></div>
			<ul class="clfx">
				<li><a href="#sec02"><img src="../page/cp_summer2016/images/idx_hd_btn01_01.png" alt="" /></a></li>
				<li><a href="#sec03"><img src="../page/cp_summer2016/images/idx_hd_btn01_02.png" alt="" /></a></li>
				<li><a href="#sec04"><img src="../page/cp_summer2016/images/idx_hd_btn01_03.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
</div>

<div id="sec01">
	<div class="inner clfx">
		<p><img src="../page/cp_summer2016/images/idx_sec01_txt01.gif" alt="" /></p>
		<div class="img"><img src="../page/cp_summer2016/images/idx_sec01_img01.jpg" alt="" /></div>
	</div>
</div>

<div id="sec02">
	<div class="inner">
		<div class="bg01"></div>
		<div class="bg02">
			<div class="cnts01">
				<div class="txt01">
					<h4><img src="../page/cp_summer2016/images/idx_sec02_ttl.png" alt="" /></h4>
					<p><img src="../page/cp_summer2016/images/idx_sec02_txt01.png" alt="" usemap="#map02_01" /><!--
					--><map name="map02_01"><area shape="rect" coords="243,55,294,72" href="/rps/static/?f=page/cp_summer2016/note&{%%svid%%}" alt=""></map></p>
				</div>
				<ul class="ul01">
					<li class="li01"><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category276"><img src="../page/cp_summer2016/images/idx_sec02_img01_01_off.png" alt="" /></a></li>
					<li class="li02"><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}#category96"><img src="../page/cp_summer2016/images/idx_sec02_img01_02_off.png" alt="" /></a></li>
					<li class="li03"><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category66"><img src="../page/cp_summer2016/images/idx_sec02_img01_03_off.png" alt="" /></a></li>
					<li class="li04"><a href="/rps/static/?f=page/summer2016/ja_index4&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec02_img01_04_off.png" alt="" /></a></li>
					<li class="li05"><a href="/rps/static/?f=page/summer2016/ja_index3&{%%svid%%}#2016_ja03_01"><img src="../page/cp_summer2016/images/idx_sec02_img01_05_off.png" alt="" /></a></li>
					<li class="li06"><a href="/rps/item/?a=Item_list&category=1&{%%svid%%}#category96"><img src="../page/cp_summer2016/images/idx_sec02_img01_06_off.png" alt="" /></a></li>
				</ul>
				<ul class="ul02">
					<li class="li01"><img src="../page/cp_summer2016/images/idx_sec02_img02_01.png" alt="" /></li>
					<li class="li02"><img src="../page/cp_summer2016/images/idx_sec02_img02_02.png" alt="" /></li>
					<li class="li03"><img src="../page/cp_summer2016/images/idx_sec02_img02_03.png" alt="" /></li>
					<li class="li04"><img src="../page/cp_summer2016/images/idx_sec02_img02_04.png" alt="" /></li>
					<li class="li05"><img src="../page/cp_summer2016/images/idx_sec02_img02_05.png" alt="" /></li>
					<li class="li06"><img src="../page/cp_summer2016/images/idx_sec02_img02_06.png" alt="" /></li>
				</ul>
			</div>
			<div class="cnts02">
				<p><img src="../page/cp_summer2016/images/idx_sec02_txt02.png" alt="" /></p>
				<div class="btn">
					<img src="../page/cp_summer2016/images/idx_sec02_btn01_off.png" alt="" class="cnts02_btn01" />
					<a href="../detail/?a=Item_detail&id=7590&{%%svid%%}" class="cnts02_btn02"><img src="../page/cp_summer2016/images/idx_sec02_btn01_on.png" alt="" /></a>
				</div>
				<p>※PART1とPART2で、巡っていただく対象商品は変わります。※ご応募はPART1・PART2それぞれ、お一人さま1回に限らせていただきます。<br />
				※抽選の結果は7月22日（金）に当選者の方へのみメールにてお知らせいたします。</p>
			</div>
		</div>
		<div class="bg03"></div>
	</div>
</div>

<div id="sec03">
	<div class="inner">
		<h4><img src="../page/cp_summer2016/images/idx_sec03_ttl.png" alt="" /></h4>
		<div class="cnts01 clfx">
			<div class="img"><img src="../page/cp_summer2016/images/idx_sec03_img01.jpg" alt="" /></div>
			<p><img src="../page/cp_summer2016/images/idx_sec03_txt01.png" alt="" /></p>
		</div>
		<ul>
			<li>※本クーポンは、株式会社セブンカルチャーネットワーク「ロイヤル・プラチナ旅倶楽部」でご注文の際にご利用いただけます。お申し込みの旅行代金の合計金額から、クーポンに記載の金額をご優待いたします。</li>
			<li>※ご利用の際は、クーポンに記載のご優待番号（6桁）を担当者にお伝えください。</li>
			<li>※ご利用有効期限は、2017年2月28日（火）までです。</li>
			<li>※本クーポンは金券ではございません。換金できないほか、上記以外でお申し込みいただいた宿泊施設での精算などにはご使用いただだけません。</li>
		</ul>
	</div>
</div>

<div id="sec04">
	<div class="inner">
		<h4><img src="../page/cp_summer2016/images/idx_sec04_ttl.png" alt="" /></h4>
		<p class="txt01"><img src="../page/cp_summer2016/images/idx_sec04_txt01.png" alt="" /></p>
		<ul class="clfx">
			<li>
				<div class="img"><img src="../page/cp_summer2016/images/idx_sec04_img01.jpg" alt="" /></div>
				<div class="txt">
					<h5><img src="../page/cp_summer2016/images/idx_sec04_sttl01.png" alt="" /></h5>
					<p><img src="../page/cp_summer2016/images/idx_sec04_txt02_01.png" alt="" /></p>
					<div class="btn"><a href="../detail/?a=Item_detail&id=7924&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec04_btn01.png" alt="" /></a></div>
				</div>
			</li>
			<li>
				<div class="img"><img src="../page/cp_summer2016/images/idx_sec04_img02.jpg" alt="" /></div>
				<div class="txt">
					<h5><img src="../page/cp_summer2016/images/idx_sec04_sttl02.png" alt="" /></h5>
					<p><img src="../page/cp_summer2016/images/idx_sec04_txt02_02.png" alt="" /></p>
					<div class="btn"><a href="../detail/?a=Item_detail&id=7923&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec04_btn01.png" alt="" /></a></div>
				</div>
			</li>
		</ul>
		<ul class="clfx">
			<li>
				<div class="img"><img src="../page/cp_summer2016/images/idx_sec04_img03.jpg" alt="" /></div>
				<div class="txt">
					<h5><img src="../page/cp_summer2016/images/idx_sec04_sttl03.png" alt="" /></h5>
					<p><img src="../page/cp_summer2016/images/idx_sec04_txt02_03.png" alt="" /></p>
					<div class="btn"><a href="../detail/?a=Item_detail&id=7922&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec04_btn01.png" alt="" /></a></div>
				</div>
			</li>
			<li>
				<div class="img"><img src="../page/cp_summer2016/images/idx_sec04_img04.jpg" alt="" /></div>
				<div class="txt">
					<h5><img src="../page/cp_summer2016/images/idx_sec04_sttl04.png" alt="" /></h5>
					<p><img src="../page/cp_summer2016/images/idx_sec04_txt02_04.png" alt="" /></p>
					<div class="btn"><a href="../detail/?a=Item_detail&id=7921&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec04_btn01.png" alt="" /></a></div>
				</div>
			</li>
		</ul>
		<ul class="clfx">
			<li>
				<div class="img"><img src="../page/cp_summer2016/images/idx_sec04_img05.jpg" alt="" /></div>
				<div class="txt">
					<h5><img src="../page/cp_summer2016/images/idx_sec04_sttl05.png" alt="" /></h5>
					<p><img src="../page/cp_summer2016/images/idx_sec04_txt02_05.png" alt="" /></p>
					<div class="btn"><a href="../detail/?a=Item_detail&id=7920&{%%svid%%}"><img src="../page/cp_summer2016/images/idx_sec04_btn01.png" alt="" /></a></div>
				</div>
			</li>
		</ul>
	</div>
</div>


</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
