<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>特別企画　サイトで日本各地を旅して旅行クーポンが当たる！ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/cp_summer2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/cp_summer2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/cp_summer2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/cp_summer2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/cp_summer2016/js/index.js" type="text/javascript"></script>
	<script>
	$(window).load(function() {
		/*フラグ用関数 ここから*/
		var c01 = 'cp_summer2016_2_01',
		c02 = 'cp_summer2016_2_02',
		c03 = 'cp_summer2016_2_03',
		c04 = 'cp_summer2016_2_04',
		c05 = 'cp_summer2016_2_05',
		c06 = 'cp_summer2016_2_06',
		/*フラグ用関数 ここまで*/

		flg01 = localStorage.getItem(c01),flg02 = localStorage.getItem(c02),flg03 = localStorage.getItem(c03),flg04 = localStorage.getItem(c04),flg05 = localStorage.getItem(c05),flg06 = localStorage.getItem(c06);
		if(flg01){$('.test ul li.li01').addClass('active');}
		if(flg02){$('.test ul li.li02').addClass('active');}
		if(flg03){$('.test ul li.li03').addClass('active');}
		if(flg04){$('.test ul li.li04').addClass('active');}
		if(flg05){$('.test ul li.li05').addClass('active');}
		if(flg06){$('.test ul li.li06').addClass('active');}
		$('.test ul li').click(function() {
			flg01 = localStorage.getItem(c01);
			flg02 = localStorage.getItem(c02);
			flg03 = localStorage.getItem(c03);
			flg04 = localStorage.getItem(c04);
			flg05 = localStorage.getItem(c05);
			flg06 = localStorage.getItem(c06);
			if($(this).hasClass('li01')){
				if(!flg01) {localStorage.setItem(c01,1);$(this).addClass('active');}
				else {localStorage.removeItem(c01);$(this).removeClass('active');}
			}
			if($(this).hasClass('li02')){
				if(!flg02) {localStorage.setItem(c02,1);$(this).addClass('active');}
				else {localStorage.removeItem(c02);$(this).removeClass('active');}
			}
			if($(this).hasClass('li03')){
				if(!flg03) {localStorage.setItem(c03,1);$(this).addClass('active');}
				else {localStorage.removeItem(c03);$(this).removeClass('active');}
			}
			if($(this).hasClass('li04')){
				if(!flg04) {localStorage.setItem(c04,1);$(this).addClass('active');}
				else {localStorage.removeItem(c04);$(this).removeClass('active');}
			}
			if($(this).hasClass('li05')){
				if(!flg05) {localStorage.setItem(c05,1);$(this).addClass('active');}
				else {localStorage.removeItem(c05);$(this).removeClass('active');}
			}
			if($(this).hasClass('li06')){
				if(!flg06) {localStorage.setItem(c06,1);$(this).addClass('active');}
				else {localStorage.removeItem(c06);$(this).removeClass('active');}
			}
		});
	});
	</script>
	<style>
	.test ul li {
		width:100%;
		height:50px;
		line-height:50px;
		background:#ddd;
		color:#fff;
		font-size:20px;
		text-align:center;
		border-radius:10px;
		margin-top:20px;
		cursor:pointer;
	}
	.test ul li:hover {
		background:#fdd;
	}
	.test ul li.active {
		background:#faa;
		color:#000;
	}
	.test p {
		font-size:14px;
		text-align:center;
	}
	</style>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">特別企画　サイトで日本各地を旅して旅行クーポンが当たる！</li>
</ul>

<!-- main -->
<div id="main" class="test" style="width:600px;margin:0 auto;padding:50px 0;">
<p>以下ボタンをクリックすると、該当ページのアクセス判定が有効になります。<br />
・<span style="color:#ddd;">グレー</span>：アクセス前　・<span style="color:#faa;">レッド</span>：アクセス済<br />
もう一度クリックしてグレーに戻すと、アクセス前の状態に戻せます。</p>
<ul>
	<li class="li01">メッセージ1：北海道エリア<span></span></li>
	<li class="li02">メッセージ2：東北エリア<span></span></li>
	<li class="li03">メッセージ3：関東・中部エリア<span></span></li>
	<li class="li04">メッセージ4：近畿エリア<span></span></li>
	<li class="li05">メッセージ5：中国・四国エリア<span></span></li>
	<li class="li06">メッセージ6：九州エリア<span></span></li>
</ul>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
