@charset "EUC-JP";

img{ border:0; vertical-align:bottom;}
.clear{ clear:both;}
.center{ text-align:center;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:0;}
* html .clearfix{ height:0; /*¥*//*/ height: auto; overflow: hidden; /**/}

h1,h2,p{ margin:0; padding:0;}
#rps_wrap{ width:950px; margin:0 auto; color:#241B12;}
#rps_wrap a{ color:#241B12; text-decoration:none;}
#rps_wrap a:hover{ color:#241B12; text-decoration:none;}
#rps_wrap .lead{ margin:0;}
#rps_inner{ width:950px; padding:0 0 40px 0; background-color:#E0D7CE;}
#rps_inner .rps_section{ width:890px; margin:0 auto; padding-bottom:30px;}
#rps_inner .l_rps_inner{ float:left; width:580px;}
#rps_inner .r_rps_inner{ float:right; width:280px;}
#rps_inner .r_rps_inner .btn_top{ margin-bottom:30px;}
#rps_inner .r_rps_inner .btn_mid{ margin-bottom:30px;}
#rps_inner .r_rps_inner .btn_btm{ margin-bottom:0;}

#calendar{ margin:0 auto; width:890px;}
#calendar .ttl_calendar{ float:left; width:205px; padding:0;}
#calendar .l_calendar{ float:left; width:330px; padding:0;}
#calendar .r_calendar{ float:right; width:355px; padding:0;}

#rps_inner .adobe{ width:899px; margin:45px auto 0; line-height:140%; font-size:12px;}
