<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>季の味倶楽部 デジタルカタログ | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/tokinoaji_1604/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/tokinoaji_1604/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/tokinoaji_1604/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/tokinoaji_1604/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">季の味倶楽部</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
<img src="../page/tokinoaji_1604/images/img01.jpg" alt="季の味倶楽部" border="0" />
<img src="../page/tokinoaji_1604/images/img02.jpg" alt="季の味倶楽部" border="0" />
<img src="../page/tokinoaji_1604/images/img03.jpg" alt="季の味倶楽部" border="0" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="0,78,197,181" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_2.pdf" target="_blank" alt="季の味倶楽部" />
<area shape="rect" coords="208,78,405,181" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_3.pdf" target="_blank" alt="にっぽんのお米" />
<area shape="rect" coords="0,201,197,306" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_4.pdf" target="_blank" alt="季節のスイーツ" />
<area shape="rect" coords="208,201,405,306" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_5.pdf" target="_blank" alt="お酒コレクション" />
<area shape="rect" coords="433,110,651,306" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_1.pdf" target="_blank" alt="特別限定品・巻頭特集 巡りあう、季の響き" />
<area shape="rect" coords="663,110,860,306" href="../page/tokinoaji_1604/pdf/tokinoaji_1604_6.pdf" target="_blank" alt="特別限定品" />
</map>
<img src="../page/tokinoaji_1604/images/img04.jpg" alt="季の味倶楽部" border="0" />
    
<!--お問い合わせ-->
		<div class="footer">
			<p>こちらからお申し込みいただけます。<br />カタログをご希望の方は、担当者にお問い合わせください。</p>
			<a href="https://fofa.jp/sose/a.p/147/" target="_blank">
			<img name="btn" src="../page/tokinoaji_1604/images/btn.jpg" onMouseOver="document.btn.src='../page/tokinoaji_1604/images/btn.jpg';"
onMouseOut="document.btn.src='../page/tokinoaji_1604/images/btn.jpg';" alt="お問い合わせ" />
			</a>
			
		</div>


<!--注記-->
<div class="bnav">
<a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/tokinoaji_1604/images/img05.jpg" alt="PDFをご覧いただくためには、Adobe Readerが必要です。こちらから無料でダウンロードできます。" border="0" /></a>
<div class="flL">
</div>



<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
