<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>エルメネジルド ゼニア | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/zegna/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	
       <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('#itemCatalog>div').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック --> 
    
    <!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">エルメネジルド ゼニア</li>
	</ul>
	<div id="brand"><img src="../page/luxury/zegna/images/zegna.jpg" alt="エルメネジルド ゼニア" /></div>
	<div id="main">
		<div id="itemCatalog">
       		<!--2017春の逸品会追加分ここから-->
       			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜15milmil15＞ スーツ</h1></a>
				</div>
      			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>マイクロチェックスーツ</h1></a>
				</div>
      			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ペッレ テスータ＞ ビジネスバッグ</h1></a>
				</div>
      			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ペッレ テスータ＞ キャリーオール クロスボディ バッグ</h1></a>
				</div>
      			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn05.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ペッレ テスータ＞ 長財布</h1></a>
				</div>
      			<div>
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}"><img src="../page/luxury/zegna/images/170222_ermenegildozegn06.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.3.8.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=XXXX&{%%svid%%}">
					<h1>＜ペッレ タスータ＞ 2つ折り札入れ</h1></a>
				</div>
    	  		
       		<!--2017春の逸品会追加分ここまで-->
       			
        		<div>
					<a href="../detail/?a=Item_detail&id=8845&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_170110_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.1.24.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8845&{%%svid%%}">
					<h1>メランジプルオーバー</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8844&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_170110_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.1.24.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8844&{%%svid%%}">
					<h1>ドット柄ネクタイ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8843&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_170110_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.1.24.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8843&{%%svid%%}">
					<h1>ストライプ柄ネクタイ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8842&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_170110_04.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2017.1.24.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8842&{%%svid%%}">
					<h1>カシミヤ混スカーフ</h1></a>
				</div>
        <!--冬の逸品会2016追加分ここから-->
				<div>
					<a href="../detail/?a=Item_detail&id=8584&{%%svid%%}"><img src="../page/luxury/zegna/images/ermenegildozegna_01_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8584&{%%svid%%}">
					<h1>バックパック</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8583&{%%svid%%}"><img src="../page/luxury/zegna/images/ermenegildozegna_02_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8583&{%%svid%%}">
					<h1>クロスボディーバッグ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8582&{%%svid%%}"><img src="../page/luxury/zegna/images/ermenegildozegna_03_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8582&{%%svid%%}">
					<h1>札入れ</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8581&{%%svid%%}"><img src="../page/luxury/zegna/images/ermenegildozegna_04_01_161118.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.12.2.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8581&{%%svid%%}">
					<h1>カードケース</h1></a>
				</div>        
        <!--冬の逸品会2016追加分ここまで-->
				<div>
					<a href="../detail/?a=Item_detail&id=8409&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_161007_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.10.21.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8409&{%%svid%%}">
					<h1>ステンカラーコート</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8408&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_161007_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2016.10.21.9</div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8408&{%%svid%%}">
					<h1>エレメンツトロフェオ オーバージャケット</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8114&{%%svid%%}"><img src="../page/luxury/zegna/images/A_zegna_0815_01.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8114&{%%svid%%}">
					<h1>トロフェオスーツ（カラー：グレー）</h1></a>
				</div>
                <div>
					<a href="../detail/?a=Item_detail&id=8113&{%%svid%%}"><img src="../page/luxury/zegna/images/A_zegna_0815_02.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8113&{%%svid%%}">
					<h1>ハイパフォーマンスジャケット</h1></a>
				</div>
                   <div>
					<a href="../detail/?a=Item_detail&id=8112&{%%svid%%}"><img src="../page/luxury/zegna/images/A_zegna_0815_03.jpg" alt="" /></a>
					<!-- newマークギミック --><span class="newIcn"></span><div class="closeDate"></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=8112&{%%svid%%}">
					<h1>トラウザー</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8039&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=8039&{%%svid%%}">
					<h1>スーツ（カラー：ネイビーブルー）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8038&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=8038&{%%svid%%}">
					<h1>トロフェオジャケット（カラー：ネイビーブルー）</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8079&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160812_01.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=8079&{%%svid%%}">
					<h1>織り柄入りシャツ／ストライプ柄ネクタイ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=8078&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160812_02.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=8078&{%%svid%%}">
					<h1>ストライプシャツ／格子柄ネクタイ</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7709&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_03.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=7709&{%%svid%%}">
					<h1>ジャケット</h1></a>
				</div>

				<div>
					<a href="../detail/?a=Item_detail&id=7708&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_04.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=7708&{%%svid%%}">
					<h1>バックパック</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7219&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_05.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=7219&{%%svid%%}">
					<h1>ブリーフケース</h1></a>
				</div>
				<div>
					<a href="../detail/?a=Item_detail&id=7218&{%%svid%%}"><img src="../page/luxury/zegna/images/zegna_160729_06.jpg" alt="" /></a>
					<a href="../detail/?a=Item_detail&id=7218&{%%svid%%}">
					<h1>カーフスキン バーティカル 長財布</h1></a>
				</div>

				
</div>
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
