@charset "EUC-JP";

#main {
	overflow: hidden;
	min-width: 950px;
	width: expression(document.body.clientWidth < 952? "950px" : "auto");
	margin: 0 auto;
	color: #ffffff;
	background: #ffffff;
	padding-bottom:60px;
}
#main h1 {
	width: 950px;
	height: 370px;
	margin: 0 auto;
	background-image: url(../images/idx_title.gif);
	background-color:#fff;
	background-position: center top;
	background-repeat: no-repeat;
	text-align:center;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
#main #product {
	height: 464px;
	width: 925px;
	margin: 0 auto;
	padding: 26px 0 0 25px;
	background-image: url(../images/idx_prd_bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}
#main #prd01,#prd02,#prd03{
	float: left;
	width: 288px;
}
#main #prd01,#prd02 {
	margin-right: 18px;
}
#main #prd01 a {
	display: block;
	position: relative;
	width: 288px;
	height: 432px;
	background-image: url(../images/idx_prd01_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd01 a div {
	display: none;
	width: 288px;
	height: 432px;
	background-image: url(../images/idx_prd01_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

}
#main #prd02 a {
	display: block;
	position: relative;
	width: 288px;
	height: 432px;
	background-image: url(../images/idx_prd02_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd02 a div {
	display: none;
	overflow: hidden;
	width: 288px;
	height: 432px;
	background-image: url(../images/idx_prd02_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
#main #prd03 a {
	display: block;
	position: relative;
	width: 288px;
	height: 432px;;
	background-image: url(../images/idx_prd03_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
}
#main #prd03 a div {
	display: none;
	width: 288px;
	height: 432px;;
	background-image: url(../images/idx_prd03_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
#main .inner {
	height: 432px;
	margin:0 auto;
}
#main .inner a img {
	width: 288px;
	height: 432px;
}