<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Valentine’s “Premium” Gifts | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/valentine2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/valentine2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/nihonsyu2015/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/nihonsyu2015/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/valentine2016/js/jquery.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/valentine2016/js/jquery.isotope.min.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/valentine2016/js/isotope_setting.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">Valentine’s “Premium” Gifts</li>
</ul>

<div id="main">

<div id="sec_header">
<div class="wrapper">
<div class="inner clfx">
	<h1><img src="../page/valentine2016/images/title.png" alt="Valentine’s “Premium” Gifts　バレンタイン　プレミアム　ギフト" /></h1>
    <p class="fl"><img src="../page/valentine2016/images/read_text.png" alt="年に一度、愛を伝えることを許された日。大切な方だから、特別な贈り物で、想いや感謝を伝えませんか。洋服や雑貨は、男性に身に着けてほしい、華やかなアイテムを厳選。こだわりあふれるチョコレートやお酒なら、男性から女性にお贈りになっても、女性同士でプレゼントし合っても素敵。選んで楽しい、贈られて嬉しい、そんなギフトを取りそろえました。" /></p>
    <p class="fr"><img src="../page/valentine2016/images/comingsoon_0129.png" alt=" 1月29日（金）coming soon　ほかではお目にかかれないチョコレートやお酒もまもなく公開。ご期待ください！【第3弾】サプライズギフトは2月1日（月）公開！" /></p>
    <p class="articleBox"><img src="../page/valentine2016/images/valentine.png" alt="【バレンタインデーの起源：ローマ戦士の悲恋物語。成就を願った、司祭「バレンタイン」。】269年のローマでは、若い兵士の結婚は許されていませんでした。愛する人ができると、戦意が下がってしまうから。哀れんだ司祭「バレンタイン」は、恋人たちを密かに結婚させていたのですが、やがて見つかってしまいます。皇帝に背いた罰により、彼が処刑された日が2月14日。この事件以降、「恋人たちの日」として「バレンタインデー」は世界に広まっていきました。" /></p>
</div>
</div>
</div><!--/#sec_header-->

<div id="prd_listArea">
<div class="isotope">

			<div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6996&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_01.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6996&{%%svid%%}">
				<h1>コルシーニ　ニットカーディガン</h1></a>
                <p class="symbol">2.fashion</p>
			</div>
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6995&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_02.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6995&{%%svid%%}">
				<h1>チャールス レイス パリス　ストール</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
        		<div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6994&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_03.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6994&{%%svid%%}">
				<h1>ジョージ・フロスト　ソーダライト バングル</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
            					
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6993&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_04.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6993&{%%svid%%}">
				<h1>ジョージ・フロスト　ダイヤモンド バングル</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6992&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_05.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6992&{%%svid%%}">
				<h1>ジョージ・フロスト　天然石 メッセージブレスレット</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
        		<div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6991&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_06.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6991&{%%svid%%}">
                <h1>ラルコバレーノ　二つ折り財布</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
            
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6990&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_07.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6990&{%%svid%%}">
				<h1>ラルコバレーノ　二つ折り長財布</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6989&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_08.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6989&{%%svid%%}">
				<h1>ラルコバレーノ　ラウンドファスナー長財布</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
        		<div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6988&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_09.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6988&{%%svid%%}">
				<h1>グレイブホールド　ボクサーパンツ</h1></a>
                <p class="symbol">2.fashon</p>
			</div>
            
            <div class="element-item fashion" data-category="fashion">
				<a href="../detail/?a=Item_detail&id=6987&{%%svid%%}"><img src="../page/valentine2016/images/valentine2016_01_10.jpg" alt="" /></a>
				<a href="../detail/?a=Item_detail&id=6987&{%%svid%%}">
				<h1>ハンロ　インナーウエア（半袖Ｖ首）／ボクサーパンツ（前閉じ）</h1></a>
                <p class="symbol">2.fashon</p>
			</div>

</div>            
</div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
