@charset "EUC-JP";

#mainvisual {
	width: 950px;
	margin:0 auto;
	padding:0;
	text-align:center;
}
#main {
	width: 950px;
	margin: 0 auto 50px;
}
#main .end {
	margin:0;
}
#main .bg_blue {
	background:#e8f3fa;
}
#main .bg_glay {
	background:#f5f5f5;
}
.itemList {
	width:236px;
	height:420px;
	float:left;
	margin:0 2px 0 0;
}
.itemList h2 {
	margin0;
}
.itemList p {
	margin:15px 10px 10px 10px;
	line-height: 1.7;
	font-size: 13px;
}
.itemList h3 {
	margin:0 10px 10px 10px;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    line-height: 1.5;
}
.itemList .thum {
	margin:10px;
	background:#fff;
}
.itemList a:hover img {
    opacity: 0.5;
}
.itemList a {
	color:#000;
}
.itemList a:hover {
	color: #9f8b65;
}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
