<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>冬の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_winter2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_winter2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_winter2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_winter2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_winter2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">

<!-- main -->
<div id="main" class="entry">

<div id="header">
	<div class="cnts01">
		<div class="in">
			<h1><a href="../?{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_ttl.gif" alt="ROYAL PLATINUM SELECTION" /></a></h1>
		</div>
	</div>
	<div class="cnts02">
		<div class="in">
			<ul>
				<li class="li01"><a href="/rps/static/?f=page/sp_winter2016/index&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_btn01.gif" alt="キャンペーントップへ" /></a></li>
				<li class="li02 modal_open"><img src="../page/sp_winter2016/images/cmn_hd_btn02.gif" alt="プレゼント内容を見る" /></li>
				<li class="li03"><a href="/rps/static/?f=page/sp_winter2016/entry&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_btn03.gif" alt="応募ページを見る" /></a></li>
			</ul>
		</div>
	</div>
</div>

<div id="sec_header">
	<h2><img src="../page/sp_winter2016/images/entry_ttl.png" alt="応募ページ" /></h2>
	<p class="txt01"><img src="../page/sp_winter2016/images/entry_txt01.png" alt="" /></p>
	<p class="txt02"><img src="../page/sp_winter2016/images/entry_txt02.png" alt="" /></p>
</div>

<div id="sec01">
	<ul class="ul01">
		<li class="li01"><img src="../page/sp_winter2016/images/entry_01_img01_01.jpg" alt="" /></li>
		<li class="li02"><img src="../page/sp_winter2016/images/entry_01_img01_02.jpg" alt="" /></li>
		<li class="li03"><img src="../page/sp_winter2016/images/entry_01_img01_03.jpg" alt="" /></li>
		<li class="li04"><img src="../page/sp_winter2016/images/entry_01_img01_04.jpg" alt="" /></li>
		<li class="li05"><img src="../page/sp_winter2016/images/entry_01_img01_05.jpg" alt="" /></li>
		<li class="li06"><a href="../detail/?a=Item_detail&id=8748&{%%svid%%}"><img src="../page/sp_winter2016/images/entry_01_btn01_01.jpg" alt="" /></a></li>
	</ul>
	<ul class="ul02">
		<li class="li01"><img src="../page/sp_winter2016/images/entry_01_img02_01.jpg" alt="" /></li>
		<li class="li02"><img src="../page/sp_winter2016/images/entry_01_img02_02.jpg" alt="" /></li>
		<li class="li03"><img src="../page/sp_winter2016/images/entry_01_img02_03.jpg" alt="" /></li>
		<li class="li04"><img src="../page/sp_winter2016/images/entry_01_img02_04.jpg" alt="" /></li>
		<li class="li05"><img src="../page/sp_winter2016/images/entry_01_img02_05.jpg" alt="" /></li>
		<li class="li06"><a href="../detail/?a=Item_detail&id=8767&{%%svid%%}"><img src="../page/sp_winter2016/images/entry_01_btn01_02.jpg" alt="" /></a></li>
	</ul>
	<ul class="ul03">
		<li class="li01"><img src="../page/sp_winter2016/images/entry_01_img03_01.jpg" alt="" /></li>
		<li class="li02"><img src="../page/sp_winter2016/images/entry_01_img03_02.jpg" alt="" /></li>
		<li class="li03"><img src="../page/sp_winter2016/images/entry_01_img03_03.jpg" alt="" /></li>
		<li class="li04"><img src="../page/sp_winter2016/images/entry_01_img03_04.jpg" alt="" /></li>
		<li class="li05"><img src="../page/sp_winter2016/images/entry_01_img03_05.jpg" alt="" /></li>
		<li class="li06"><a href="../detail/?a=Item_detail&id=8768&{%%svid%%}"><img src="../page/sp_winter2016/images/entry_01_btn01_03.jpg" alt="" /></a></li>
	</ul>
</div>

<div id="sec02">
	<div id="num02"></div>
	<div id="num01"></div>
	<div id="num00"></div>
	<p class="txt01"><img src="../page/sp_winter2016/images/entry_02_txt01.jpg" alt="" /></p>
	<p class="txt02"><img src="../page/sp_winter2016/images/entry_02_txt02.jpg" alt="" /></p>
	<ul>
		<li class="li01"><a href="../detail/?a=Item_detail&id=8749&{%%svid%%}"><img src="../page/sp_winter2016/images/entry_02_btn01.jpg" alt="" /></a></li>
		<li class="li02"><a href="../detail/?a=Item_detail&id=8750&{%%svid%%}"><img src="../page/sp_winter2016/images/entry_02_btn01.jpg" alt="" /></a></li>
	</ul>
</div>

<div id="sec03">
	<p><img src="../page/sp_winter2016/images/entry_03_txt01.png" alt="" usemap="#link" /></p>
	<map name="link">
		<area shape="rect" coords="621,0,672,14" href="/rps/static/?f=page/sp_winter2016/note&{%%svid%%}" alt="">
	</map>
</div>

<div id="modal">
	<div class="modal_close"><img src="../page/sp_winter2016/images/cmn_modal_btn01.jpg" alt="閉じる" /></div>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img01.png" alt="プレゼント内容" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img02.jpg" alt="特賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img03.jpg" alt="A賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img04.jpg" alt="B賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img05.jpg" alt="サンタポイント賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img06.jpg" alt="参加賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img07.png" alt="" /></p>
	<div class="btn"><a href="/rps/static/?f=page/sp_winter2016/entry&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_modal_btn02.jpg" alt="応募ページを見る" /></a></div>
</div>
<div id="modal_ov"></div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
