<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>秋の逸品会特別企画　プレゼントキャンペーン | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/sp_winter2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/sp_winter2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/sp_winter2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/sp_winter2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/sp_winter2016/js/index.js" type="text/javascript"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">

<!-- main -->
<div id="main" class="note">

<div id="header">
	<div class="cnts01">
		<div class="in">
			<h1><a href="../?{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_ttl.gif" alt="ROYAL PLATINUM SELECTION" /></a></h1>
		</div>
	</div>
	<div class="cnts02">
		<div class="in">
			<ul>
				<li class="li01"><a href="/rps/static/?f=page/sp_winter2016/index&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_btn01.gif" alt="キャンペーントップへ" /></a></li>
				<li class="li02 modal_open"><img src="../page/sp_winter2016/images/cmn_hd_btn02.gif" alt="プレゼント内容を見る" /></li>
				<li class="li03"><a href="/rps/static/?f=page/sp_winter2016/entry&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_hd_btn03.gif" alt="応募ページを見る" /></a></li>
			</ul>
		</div>
	</div>
</div>

<div id="sec_header">
	<h2><img src="../page/sp_winter2016/images/note_ttl.gif" alt="ご参加に際しての注意"></h2>
</div>

<div id="sec01">
	<div class="in clfx">
		<p>※本キャンペーンは、LocalStorage（ローカルストレージ）、JavaScript（ジャバスクリプト）を使用しております。<br />
		LocalStorage（ローカルストレージ）とは、コンピューターのハードディスクに閲覧履歴情報を記録する機能のことで、その記録にお客さまの個人情報は含みません。</p>
		<p>※ブラウザのLocalStorage（ローカルストレージ）、JavaScript（ジャバスクリプト）の設定は、通常有効となっております。お客さまのご都合で無効にされている際は、本キャンペーンをご利用いただけない場合がございます。</p>
		<p>※本キャンペーンは、以下のブラウザ以外では正しく動作しない場合がございます。<br />
		■推奨環境<br />
		　・Internet Explorer8以降<br />
		　・Mozilla Firefox最新<br />
		　・GoogleChrome最新</p>
		<p>※上記の条件を満たしていても、お客さま固有の環境によってはご利用になれない場合がございますので、あらかじめご了承ください。</p>
		<p>※ご不明な点がございましたら、下記のボタンからお問い合わせください。</p>
		<div class="btn"><a href="/rps/?a=InquiryInput&{%%svid%%}"><img src="../page/sp_winter2016/images/note_btn.gif" alt="お問い合わせ" /></a></div>
	</div>
</div>

<div id="modal">
	<div class="modal_close"><img src="../page/sp_winter2016/images/cmn_modal_btn01.jpg" alt="閉じる" /></div>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img01.png" alt="プレゼント内容" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img02.jpg" alt="特賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img03.jpg" alt="A賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img04.jpg" alt="B賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img05.jpg" alt="サンタポイント賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img06.jpg" alt="参加賞" /></p>
	<p><img src="../page/sp_winter2016/images/cmn_modal_img07.png" alt="" /></p>
	<div class="btn"><a href="/rps/static/?f=page/sp_winter2016/entry&{%%svid%%}"><img src="../page/sp_winter2016/images/cmn_modal_btn02.jpg" alt="応募ページを見る" /></a></div>
</div>
<div id="modal_ov"></div>

</div><!--/#main-->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
