@charset "EUC-JP";

#itemCatalog, #itemPhoto ul, #selectBoxes, #formButtons, #designer {
	display: inline-block;
}
#itemCatalog, #itemPhoto ul, #selectBoxes, #formButtons, #designer {
	display: block;
	margin-bottom:10px;
}
#itemCatalog:after, #itemPhoto ul:after, #selectBoxes:after, #formButtons:after, #designer:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

*html #itemPhoto ul.li_itemA li {
	padding-right:5px;
}
