@charset "EUC-JP";

#pht {
	margin-bottom:20px;
	padding-bottom:30px;
	border-bottom:2px solid #d6d6d6;
}
dl.products_info {
	margin-bottom:50px;
	vertical-align:text-bottom;
}
dl.products_info dt { color:#383838; }
dl.products_info dd {
	line-height:1.6;
	color:#383838;
}
dl.products_info dd.area1 {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px dotted #d9d9d9;
}
dl.products_info .fsL { font-size:140%; }
.bold { font-weight:bold; }
.pt20 { padding-top:20px;}

/*======slideshow======*/
.bs_specialselect140630_01 #slideshow {
	margin: 0 auto 30px auto;
	width: 860px;
	text-align: left;
	position: relative;
	height: 495px;
}
.bs_specialselect140630_01 #slideshow a img {
	border: none;
}
.bs_specialselect140630_01 #slideshow div {
	width: 860px;
	height: 495px;
	overflow: hidden;
	position: relative;
}
.bs_specialselect140630_01 #slideshow div div {
	top: 0;
	left: 0;
	position: absolute;
}
.bs_specialselect140630_01 #slideshow ul {
	bottom: 8px;
	left: 10px;
	position: absolute;
	z-index: 100;
	width: 272px;
}
.bs_specialselect140630_01 #slideshow ul li {
	width: 60px;
	height: 40px;
	float: left;
	display: inline;
	margin-right: 8px;
}
.bs_specialselect140630_01 #slideshow ul li a {
	border: none;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border: 1px solid #ccc;
}
.bs_specialselect140630_01 #slideshow ul li a img {
	margin: -1px;
}
.bs_specialselect140630_01 #slideshow ul .active a {
	border: 3px solid #c6bd9d;
}
.bs_specialselect140630_01 #slideshow ul .active a img {
	margin: -3px;
}
.bs_specialselect140630_01 #slideshow ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
.bs_specialselect140630_01 #slideshow ul {
	display: inline-block;
	overflow: hidden;
}
/*======slideshow======*/

.bs_specialselect140630_01 #dummyImage {
	padding-bottom: 28px;
	margin-bottom: 20px;
	border-bottom: 2px solid #d6d6d6;
}
