@charset "EUC-JP";

#dior_lv {
	width: 950px;
	margin: 0 auto;
}
#dior_lv #title {
	width: 950px;
	margin: 0 auto;
}
#dior_lv #prd_img {
	width: 950px;
	margin: 0 auto;
}
#dior_lv #prd_spec {
	width:860px;
	border: solid 1px #cfcfcf;
	line-height:1.6;
	color:#383838;
	text-align:center;
	margin:0 auto 40px auto;
}
#dior_lv .lv_spec {
	width:950px;
	background-color:#221815;
	padding-bottom:20px;
}
#dior_lv .lv_spec #prd_spec {
	color:#cfcfcf;
}
#dior_lv #prd_spec table {
	text-align:left;
	margin : 20px auto;
}
#dior_lv #prd_spec table  td {
	padding-left:10px;
}