@charset "EUC-JP";
@import url("../global-fontsizemedium.css");

h1 {
	font-size: 14px;
}
#price, #purchaseForm h3, #purchaseForm textarea , #desc, #desc2, #spec table, #spec3 li {
	font-size: 12px;
}
#price strong {
	font-size: 18px;
}
#itemInfo .message, #spec li, #itemNotice li, #spec2, #itemPhotoWide li, #spec .fs001 {
	font-size: 10px;
}
#selectBoxes select {
	font-size: 11px;
}