@charset "EUC-JP";

.marginbottom10 {
	margin-bottom: 10px;
}
.YellowLabel {
	width:950px;
	padding-top: 8px;
	padding-bottom: 9px;
	margin:0 auto;
	text-align:center;
	margin-bottom:20px;
	background-color:#a3975b;
}
.positionabsolute {
	position:absolute;
	top:11px;
	left:622px;
}
#messageArea {
	width: 860px;
	margin: 0 auto;
	padding: 15px 45px;
	background: #fff;
}
#main {
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	/*border: 10px solid #f2f1ed;*/
	border: 10px solid #ffffff;
	color: #4d392a;
	background: #fff;
}
#messageArea .RedLabel, #main .RedLabel {
	background:#C80000;
	padding:5px 0;
	color:#fff;
	text-align:center;
}
#main .RedLabel {
	margin-bottom: 30px;
}
#main .contact {
	background:#EDEDED;
	padding:15px 20px;
	margin-top:15px;
	color:#000;
}
#main #contactButton {
	background:#EDEDED;
	padding:15px 0;
	margin-bottom:10px;
}
#catch {
	width: 950px;
	height: 270px;
	margin:0 auto;
	position:relative;
}
#catch img {
	vertical-align:bottom;
	}
#brand {
	width: 950px;
	height: 254px;
	margin:0 auto;
	padding:1px 0;
	text-align:center;
	background-color: #fff;
	position:relative;
	overflow:hidden;
}
#itemInfo, #itemPhoto, #itemInfoWide, #itemPhotoWide {
	padding-bottom: 45px;
}
#itemInfo {
	float: right;
	width: 492px;
}
#itemInfoL {
	float: left;
	width: 492px;
	margin-right:40px;
}
#itemInfoWide {
	float: right;
	width: 722px;
}
#itemInfoWide .itemInfoName {
	font-weight:bold;
}
#itemInfoWide .itemInfoNotice {
	margin:10px 0 0 -5px;
}
#itemPhotoWide .photo01 {
	width:115px;
	height:115px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/item/itemPhoto-luxury01.jpg");
}
#itemPhotoWide .photo02 {
	width:115px;
	height:115px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/item/itemPhoto-luxury02.jpg");
}
#itemInfoWide .itemInfoWideMain {
	width:580px;
	border-top:1px #ccc solid;
	padding:10px 158px 15px 0;
}
#itemInfoWide .itemInfoWideMain p {
	margin-bottom:10px;
}
#category, #catch .category05  {
	width: 110px;
	height: 16px;
	margin-bottom: 10px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.category01 #category {
	background-image: url("../../images/Food.gif");
}
.category02 #category {
	background-image: url("../../images/Beauty.gif");
}
.category03 #category {
	background-image: url("../../images/Fashion.gif");
}
.category04 #category {
	background-image: url("../../images/Goods.gif");
}
.category05 #category, #catch .category05 {
	background-image: url("../../images/Luxury.gif");
}
.category06 #category {
	background-image: url("../../images/Entertainment.gif");
}
h1 {
	font-weight: bold;
}
#main #itemTitle {
	width: 856px;
	margin: 0 0 25px;
}
#price {
	margin-bottom: 5px;
}
#price strong {
	font-weight: bold;
}
#pricebottom {
	font-size:10px;
	margin-bottom:20px;
}
#itemInfo .message {
	margin-bottom: 10px;
	color: #d40303;
	text-align: center;
	background: #f4c7d6;
	font-weight:bold;
}
#desc {
	margin-bottom: 25px;
}
#desc2 {
	padding-top: 10px;
	margin-bottom: 25px;
	border-top:1px #ccc dotted;
}
.category {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle.gif") no-repeat 0 0;
}
.category2 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle2.gif") no-repeat 0 0;
}
.category3 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle3.gif") no-repeat 0 0;
}
.category4 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle4.gif") no-repeat 0 0;
}
.category5 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle5.gif") no-repeat 0 0;
}
.category6 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle6.gif") no-repeat 0 0;
}
.category7 {
	width: 81px;
	height: 12px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/SpecTitle7.gif") no-repeat 0 0;
}
#itemPhoto {
	float: left;
	width: 328px;
}
#itemPhoto img{
	border:#dddddd 1px solid;
}
#itemPhotoWide {
	float: left;
	width: 115px;
}
#itemPhotoWide img {
	width:115px;
	height:115px;
}
#itemPhotoLarge {
	margin-bottom: 7px;
}
#itemPhoto ul {
	position: relative;
	width: 335px;
	margin-right: -7px;
}
#itemPhoto li {
	float: left;
	width: 37px;
	padding-right: 9px;
}

#itemPhoto ul.li_w li {
	width: 60px;
}
#itemPhoto ul.li_itemA li {
	width: 60px;
	padding-right:7px;
}

#itemPhoto .rightver {
	float: left;
	width: 60px;
	padding-right: 7px;
}
#itemPhoto .rightver2 {
	float: left;
	width: 45px;
	padding-right: 7px;
}
#purchaseForm {
	padding: 11px 20px 20px;
	background: #ededed;
}
#purchaseForm h2 {
	width: 168px;
	height: 16px;
	line-height: 0;
	margin-bottom: 10px;
	font-size: 0;
	text-indent: -9999px;
	background: transparent url("../../images/item/purchaseForm-title.gif") no-repeat 0 0;
}
#selectBoxes {
	position: relative;
	width: 832px;
	margin-right: -12px;
	margin-bottom: 20px;
}
#selectBoxes li {
	float: left;
	width: 196px;
	padding-right: 12px;
}
#selectBoxes select {
	width: 196px;
}
#purchaseForm textarea {
	display: block;
	width: 818px;
	height: 68px;
}
#formButtons {
	width: 627px;
	margin: 30px auto;
}
#formButtons li {
	width: 304px;
	height: 39px;
}
#submitButton {
	float: left;
}
#formButtons a {
	display: block;
	width: 304px;
	height: 39px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/item/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
#submitButton a:link, #submitButton a:visited {
	background-position: 0 0;
}
#submitButton a:hover, #submitButton a:active {
	background-position: 0 -39px;
}
#contactButton {
	float: right;
}
#contactButton a:link, #contactButton a:visited {
	background-position: -304px 0;
}
#contactButton a:hover, #contactButton a:active {
	background-position: -304px -39px;
}
#itemNotice li {
	padding-left: 1em;
	text-indent: -1em;
}
.contact a {
	display: block;
	width: 304px;
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/item/purchaseForm-button.gif") no-repeat;
}
.contact a:link, .contact a:visited {
	background-position: -304px 0;
}
.contact a:hover, .contact a:active {
	background-position: -304px -39px;
}
.submit a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/item/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit a:link, .submit a:visited {
	background-position: 0 0;
}
.submit a:hover, .submit a:active {
	background-position: 0 -39px;
}
.submit2 a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/item/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit2 a:link, .submit2 a:visited {
	background-position: -608px 0;
}
.submit2 a:hover, .submit2 a:active {
	background-position: -608px -39px;
}
.submit3 a {
display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url("../../images/item/purchaseForm-button.gif");
	background-repeat: no-repeat;
}
.submit3 a:link, .submit3 a:visited {
	background-position: -912px 0;
}
.submit3 a:hover, .submit3 a:active {
	background-position: -912px -39px;
}
.reserve a {
	display: block;
	width: 304px;
	height: 39px;
	margin:30px auto 10px;
	overflow: hidden;
	text-indent: -9999px;
	background: url("../../images/Service/reserve.jpg") no-repeat;
}
.reserve a:link, .reserve a:visited {
	background-position: 0 0;
}
.reserve a:hover, .reserve a:active {
	background-position:0 -39px;
}
.sizechartp {
	width:90px;
	height:15px;
	text-indent:-9999px;
	background:url("../../images/item/sizechart.gif") no-repeat;
}
#sizechart {
	margin-top:20px;
}
#sizechart table {
	margin-bottom:3px;
}
#sizechart table tr td {
	width:30px;
	height:25px;
	border:1px solid #d6d6d6;
	text-align:center;
}
#sizechart table tr .apparel, #sizechart table tr .shoes, #sizechart table tr .american, #sizechart table tr .japanese {
	background:#f6f6f6;
}
#sizechart table tr .apparel, #sizechart table tr .shoes {
	width:101px;
}
#sizechart table tr .size {
	width:138px;
}
#sizechart table tr .xp, #sizechart table tr .pt, #sizechart table tr .sm {
	width:60px;
	text-align:center;
}
#sizechart table tr .md {
	width:90px;
	text-align:center;
}
#sizechart table tr .xl {
	width: 30px;
	text-align: center;
}
#sizechart .infoDetailLink {
	margin: 22px 0;
}
#sizechart .infoDetailLink a {
	background:url("../../images/infoDetailLinkbg.gif") no-repeat scroll left center transparent;
	padding-left:15px;
	color: #CB0100;
}
#spec table {
	border: 1px solid #D6D6D6;
	margin-bottom: 20px;
	border-collapse:collapse;
	width: 490px;
}
#spec #table2 {
	margin: 0;
}
#spec th {
	border: 1px solid #D6D6D6;
	background-color:#f6f6f6;
	padding: 5px 5px 5px 10px;
}
#spec td {
	border: 1px solid #D6D6D6;
	padding: 5px 10px 5px 5px;
	width: 100px;
	text-align: right;
}
#spec .knife th {
	text-align:center;
	width: auto;
}
#spec .knife td {
	width:auto;
}
#spec .fs001 {
	margin-top:10px;
}
#spec .fs001 td {
	text-align:left;
}
#spec .fs001 .top {
	vertical-align:top;
}
#spec .fs001 .fs001_01 {
	width:126px;
}
#spec .fs001 .fs001_02 {
	width:295px;
}
#spec .fs001 .fs001_03 {
	width:65px;
}
#designer {
	margin-top:25px;
	padding:6px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#designer .designerPhoto {
	float:right;
	margin:0 0 30px 15px;
}
#designer .designerPhotoMargin0 {
	float:right;
	margin:0 0 0 15px;
}
#itemPhotolarge{
	width:456px;
	float:left;
}

#itemInfosmall{
	width:362px;
	float:right;
}

.maintopthumb{
	margin:0px 0px 30px 0px;
}

.magt15{
	margin-top:15px;
}

#main  div.iconBlock {
	width: 180px;
	height: 13px;
	margin-bottom: 10px;
	/*border: 1px solid #f7f7f7;*/
}
#main  div.iconBlock span{
	margin-right: 5px;
}

