@charset "EUC-JP";

#itemCatalog {
	background:#ededed;
	margin-bottom:15px;
}

#itemInfo {
	float: right;
	width: 300px;
	margin:20px 20px 0;
	display:inline;
}

#itemInfo, #itemPhoto {
	padding-bottom:0;
}

#itemInfo .bBlkOut {
	border-bottom:1px solid #fff;
	margin:0 0 15px;	
}

#itemInfo .bBlkIn {
	border-bottom:1px solid #c2c2c2;
	padding:0 0 15px;
}

#itemInfo .bBlkIn #price,
#itemInfo .bBlkIn #desc {
	margin-bottom: 0;
}

#itemPhoto {
	width:520px;
	overflow: hidden;
}

#itemPhotoLarge {
    margin-bottom: 10px;
}

#itemPhoto ul.li_itemA {
	padding:0 0 10px;
    width: auto;
}

#itemPhoto ul.li_itemA li {	
	width:96px;
	display:inline;
	margin:0 0 0 7px;
	padding:0!important;
}

#itemPhoto ul.li_itemA li a img {
	vertical-align:bottom;
}