@charset "EUC-JP";

#veuveClicquot {
	width: 950px;
	margin: 0 auto;
}
#veuveClicquot #title {
	width: 950px;
	margin: 0 auto;
}
#veuveClicquot #prd_img {
	width: 950px;
	margin: 0 auto;
}
#veuveClicquot .prd_spec {
	width:950px;
	background-color:#FFF;
	padding:40px 0 0 0;
}
#veuveClicquot .prd_spec #spec_box {
	width:860px;
	border: solid 1px #cfcfcf;
	line-height:1.6;
	color:#383838;
	text-align:left;
	margin:0 auto 40px auto;
}
#veuveClicquot #spec_box table {
	text-align:left;
	margin : 20px;
}
#veuveClicquot #spec_box table  td {
	padding-left:10px;
}

#veuveClicquot .prd_spec p.price {
	dispray:brock;
	width:860px;
	margin:20px auto;
	padding:20px 0 18px 0;
	border-bottom:1px dotted #d9d9d9;
	border-top:1px dotted #d9d9d9;
}
#veuveClicquot .prd_spec p.price .fsL {
	font-size:140%;
	font-weight:bold;
}
