@charset "EUC-JP";

#main {
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background: #fff;
}
#brand {
	width: 950px;
	height: 254px;
	margin:0 auto;
	padding:1px 0;
	text-align:center;
	background-color: #fff;
	position:relative;
	overflow:hidden;
}
#itemList{
	clear:both;
	margin:0 0 15px 0;
}
#itemList div{
	float:left;
	width:276px;
	margin:0 12px 20px 0;
}
#itemList div.end{
	float:left;
	width:276px;
	margin:0 0 20px 0;
}
#itemList div img{
	width:273px;
	height:205px;
	border:#dddddd 1px solid;
}
#itemList div h1{
	margin-top:7px;
}

#itemList div a{
	color:#4D392A;
}
#itemList div a:hover{
	color: #ccc881;
}
#itemList:after {
    content: "";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}
#itemList div .price {
	background: url("../images/icon_s-price.gif") no-repeat;
	height:18px;
	padding-left:70px;
	margin: 5px 0 0 0;
}
