@charset "EUC-JP";

#main {
	/*
	width: 860px;
	margin: 0 auto 50px;
	padding: 35px;
	border: 10px solid #ffffff;
	color: #4d392a;
	background-color: #fff;
	background-position: 35px;
	*/
	width:100%;
	background:#f7f7f7;
}

/*お問い合わせ*/
.footer {
	background: #EDEDED;
	text-align: center;
	width:810px;
	margin: 30px auto 10px auto;
	padding: 20px;
	color: #000;
	font-size: 120%;
}
.footer p { margin-top: 20px; }



#ss_wrap {
	margin:35px auto 50px auto;
	padding-bottom:35px;
	position:relative;
	width:950px;
	background:url(../images/ss_bg.gif) left top no-repeat #efefef;
}
#ss_wrap h1 {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 35px;
}
#ss_wrap #copy_txt {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 35px;
}
#ss_wrap select {
	border:1px solid #dadada;
	position:absolute;
	top:130px;
	right:35px;
	background:url(../page/bs_specialselect/images/ss_icn_pdown.gif) left top no-repeat #ffffff;
}
#ss_wrap select:hover {
	background:#ffffff;
}



#contents {
	margin:0 auto;
	width:880px;
}
#contents ul.anchor {
	width:880px;
}


#contents ul.anchor:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#contents ul.anchor { min-height: 1px; }
* html #contents ul.anchor {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}



#contents ul.anchor li {
	margin:0;
	padding:0;
	line-height:0;
	width:430px;
	font-size:0;
}
#contents ul.anchor li.lf { float:left; }
#contents ul.anchor li.rf { float:right; }
#contents .section {
	clear:both;
	background:#ffffff;
}
#contents .section .btn_detail {
	margin:15px 0 20px 0;
	float:left;
	width:607px;
	text-align:right;
}
#contents .section .btn_change {
	margin:15px 0 20px 0;
	float:right;
	width:74px;
}
/* #pullDown */
#bkntitle {
	position:absolute;
	right:35px;
	width:auto;
	top: 112px;
}

#pullDown {
	position:absolute;
	right:35px;
	width:auto;
	top: 132px;
}
#pullDown dt {
	margin:0;
	padding:0;
	border-top:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	line-height:0;
	float:right;
	width:24px;
	height:24px;
	font-size:0;
}
#pullDown dt img { vertical-align:top; }
#pullDown dt a { cursor:pointer !important; }
#pullDown dd {
	display:block;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	float:right;
	line-height:24px;
/*	width:7em;*/
	width:100px;
	min-height:24px;
	height:auto !important;
	height:24px;
	color:#000000;
	text-align:center;
	background-color: #ffffff;
	background-image: url(../images/ss_bg_pdown.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#pullDown dd a {
	color:#333333;
	text-decoration:none;
	cursor:pointer !important;
}
#pullDown dd ul#sub {
	margin-left:-1px;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
/*	width:7em !important;*/
	width:100px; !important;
	color:#333333;
	z-index:100;
}
#pullDown dd ul#sub li { color:#333333; }
#pullDown dd ul#sub li a {
	display:block;
	width:100%;
	background:#cccccc;
}
#pullDown dd ul#sub li a:hover { background:#eeeeee; }

.disNone { display:none; }

.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }

a.alpha:hover img {
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter:"alpha( opacity=70 )";
}
a.alpha2:hover img {
	opacity:0.9;
	filter:alpha(opacity=90);
	-ms-filter:"alpha( opacity=90 )";
}




img{ border:0; vertical-align:bottom;}
.clear{ clear:both;}
.center{ text-align:center;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:0;}
* html .clearfix{ height:0; /*\*//*/ height: auto; overflow: hidden; /**/}

h1,h2,p{ margin:0; padding:0;}
#rps_wrap{ width:950px; margin:0 auto; color:#241B12;}
#rps_wrap a{ color:#241B12; text-decoration:none;}
#rps_wrap a:hover{ color:#241B12; text-decoration:none;}
#rps_wrap .lead{ margin:0;}
#rps_inner{ width:950px; padding:0 0 40px 0; background-color:#E0D7CE;}
#rps_inner .rps_section{ width:890px; margin:0 auto; padding-bottom:30px;}
#rps_inner .l_rps_inner{ float:left; width:580px;}
#rps_inner .r_rps_inner{ float:right; width:280px;}
#rps_inner .r_rps_inner .btn_top{ margin-bottom:30px;}
#rps_inner .r_rps_inner .btn_mid{ margin-bottom:30px;}
#rps_inner .r_rps_inner .btn_btm{ margin-bottom:0;}

#calendar{ margin:0 auto; width:890px;}
#calendar .ttl_calendar{ float:left; width:205px; padding:0;}
#calendar .l_calendar{ float:left; width:330px; padding:0;}
#calendar .r_calendar{ float:right; width:355px; padding:0;}

#rps_inner .adobe{ width:899px; margin:45px auto 0; line-height:140%; font-size:12px;}