@charset "EUC-JP";

/*main*/
#main {
	width:950px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:40px;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main.over a:hover img {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*sec_header*/
#main #sec_header {
	margin-bottom:50px;
}
#main #sec_header .cnts01 {
	position:relative;
}
#main #sec_header .cnts01 .btn {
	display:block;
	position:absolute;
	right:30px;
	top:25px;
}
#main #sec_header .cnts02 {
	margin-top:10px;
	background:#e1e5eb;
	padding:10px 30px;
}
#main #sec_header .cnts02 h3 {
	margin-bottom:10px;
}
#main #sec_header .cnts02 ul {
	margin-bottom:10px;
}
#main #sec_header .cnts02 ul li {
	float:left;
}
#main #sec_header .cnts02 ul.ul2 li:first-child {
	margin-right:18px;
}
#main #sec_header .cnts02 ul.ul4 li {
	margin-left:22px;
}
#main #sec_header .cnts02 ul.ul4 li:first-child {
	margin-left:0;
}
#main #sec_header .sttl {
	margin-top:10px;
}
#main #sec_header .cnts03 {
	margin-top:20px;
	background:#e6f2fe;
	padding:25px 20px;
}
#main #sec_header .cnts03 h3 {
	font-size:1.667em;
	border-bottom:1px solid #000;
	padding-bottom:5px;
	margin-bottom:5px;
}
#main #sec_header .cnts03 p {
	font-size:1.333em;
}



/*sec_ttl*/
#main .sec_ttl {
	background:#9aa9be;
	color:#fff;
	padding:10px 20px;
	margin-bottom:20px;
}
#main .sec_ttl table th {
	width:164px;
	border-right:1px solid #fff;
	font-size:2em;
	padding:0 10px;
}
#main .sec_ttl table td {
	font-size:1.167em;
	padding:10px 0 10px 20px;
}



/*sec_ttl2*/
#main .sec_ttl2 {
	background:#9aa9be;
	color:#fff;
	padding:10px 20px;
	margin-bottom:30px;
}
#main .sec_ttl2 h4 {
	font-size:1.833em;
	margin-bottom:5px;
}
#main .sec_ttl2 p {
	font-size:1.167em;
}


/*sec_ttl*/
#main h4.sttl {
	background:url(../images/cnts_ico_01.gif) no-repeat left center;
	font-size:1.667em;
	padding-left:20px;
	margin-bottom:15px;
}


/*sec_cnts*/
#main .sec_cnts {
	padding-bottom:20px;
}
#main .sec_cnts ul {
	margin-bottom:40px;
}
#main .sec_cnts ul li {
	float:left;
	margin-left:10px;
}
#main .sec_cnts ul li a {
	display:block;
	color:#000;
	text-decoration:none;
}
#main .sec_cnts ul li a:hover {
	text-decoration: underline;
}
#main .sec_cnts ul li a img {
	border:1px solid #d3d3d3;
	margin-bottom:10px;
}
#main .sec_cnts.cnts3 ul li:first-child,
#main .sec_cnts.cnts4 ul li:first-child,
#main .sec_cnts.cnts5 ul li:first-child {
	margin-left:0;
}
#main .sec_cnts.cnts3 ul li {
	width:310px;
}
#main .sec_cnts.cnts3 ul li a img {
	width:308px;
}
#main .sec_cnts.cnts4 ul li {
	width:230px;
}
#main .sec_cnts.cnts4 ul li a img {
	width:228px;
}
#main .sec_cnts.cnts5 ul li {
	width:182px;
}
#main .sec_cnts.cnts5 ul li a img {
	width:180px;
}



/*index*/
#main.index {
	padding-top:30px;
	padding-bottom:70px;
	background:url(../images/idx_bg01.jpg) no-repeat center top;
}
#main.index #idx_sec_header {
	text-align:center;
	margin-bottom:60px;
}
#main.index #idx_sec_header .cnts01 {
	width:950px;
	height:115px;
	background:url(../images/idx_bg02.jpg) no-repeat;
	margin-bottom:30px;
}
#main.index #idx_sec_header .cnts01 h2 {
	padding-top:16px;
	margin-bottom:11px;
}
#main.index #idx_sec_header ul {
	width:760px;
	margin:25px auto 0;
}
#main.index #idx_sec_header ul li {
	float:left;
	padding:0 20px;
}

#main.index #idx_sec01 h3,
#main.index #idx_sec02 h3 {
	text-align:center;
}
#main.index #idx_sec01 ul,
#main.index #idx_sec02 ul {
	position:relative;
	width:100%;
}
#main.index #idx_sec01 li,
#main.index #idx_sec02 li {
	position:absolute;
}
#main.index #idx_sec01 {
	margin-bottom:80px;
}
#main.index #idx_sec01 ul {
	height:1189px;
	margin-top:20px;
}
#main.index #idx_sec01 li.li01 {
	left:51px;
	top:72px;
}
#main.index #idx_sec01 li.li02 {
	left:363px;
	top:7px;
}
#main.index #idx_sec01 li.li03 {
	left:629px;
	top:67px;
}
#main.index #idx_sec01 li.li04 {
	left:35px;
	top:316px;
}
#main.index #idx_sec01 li.li05 {
	left:463px;
	top:350px;
}
#main.index #idx_sec01 li.li06 {
	left:102px;
	top:614px;
}
#main.index #idx_sec01 li.li07 {
	left:531px;
	top:657px;
}
#main.index #idx_sec01 li.li08 {
	left:18px;
	top:808px;
}
#main.index #idx_sec01 li.li09 {
	left:357px;
	top:903px;
}
#main.index #idx_sec01 li.li10 {
	left:613px;
	top:932px;
}

#main.index #idx_sec02 {
	margin-bottom:80px;
}
#main.index #idx_sec02 ul {
	height:577px;
	margin-top:10px;
}
#main.index #idx_sec02 li.li01 {
	left:27px;
	top:19px;
}
#main.index #idx_sec02 li.li02 {
	left:302px;
	top:124px;
}
#main.index #idx_sec02 li.li03 {
	left:573px;
	top:35px;
}
#main.index #idx_sec02 li.li04 {
	left:34px;
	top:385px;
}
#main.index #idx_sec02 li.li05 {
	left:505px;
	top:285px;
}

#main.index #idx_sec03 {
	text-align:center;
}




/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}