@charset "EUC-JP";

/*main*/
#main {
	width:950px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:40px;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
@media screen and (min-width:1px) {
	#main a:hover img {
		opacity:.7;
		filter:alpha(opacity=70);
		-ms-filter: "alpha( opacity=70 )";
	}
}


/*sec_header*/
#main #sec_header .item01 {
	position:relative;
	width:950px;
	height:100px;
	background:#8d455b;
}
#main #sec_header .item01 h2 {
	position:absolute;
	left:117px;
	top:11px;
}
#main #sec_header .item01 p {
	position:absolute;
	left:191px;
	top:69px;
}
#main #sec_header .item01 .btn {
	position:absolute;
	right:30px;
	top:25px;
}
#main #sec_header .item02 {
	padding:20px 40px;
	background:#f3eaea;
	margin-top:10px;
}
#main #sec_header .item02 h3 {
	text-align:center;
}
#main #sec_header .item02 p {
	margin-top:15px;
	font-size:133.3%;
}
#main #sec_header .item03 {
	padding:20px 30px;
	background:#e9e9e9;
	margin-top:10px;
}
#main #sec_header .item01 + .item03 {
	margin-top:20px;
}
#main #sec_header .item03 ul + ul {
	margin-top:20px;
}
#main #sec_header .item03 ul li,
#main #sec_header .item03_02 ul li {
	float:left;
	background:#fff;
	height:40px;
	margin-left:22px;
}
#main #sec_header .item03 ul li a,
#main #sec_header .item03_02 ul li a {
	display:block;
	text-align:center;
	background:url(../images/cmn_03_ico.gif) no-repeat right center;
}
#main #sec_header .item03 ul.ul02 li {
	width:434px;
}
#main #sec_header .item03 ul.ul03 li {
	width:282px;
}
#main #sec_header .item03 ul.ul04 li {
	width:206px;
}
#main #sec_header .item03 ul li:first-child,
#main #sec_header .item03_02 ul li:first-child {
	margin-left:0;
}
#main #sec_header .item03_02 {
	margin-top:20px;
}
#main #sec_header .item03_02 h3 {
	margin-bottom:10px;
}
#main #sec_header .item03_02 .block_l {
	float:left;
	background:#e9e9e9;
	padding:10px 30px 20px;
}
#main #sec_header .item03_02 .block_r {
	float:right;
	background:#e9e9e9;
	padding:10px 30px 20px;
}
#main #sec_header .item03_02 ul li {
	width:265px;
}

#main #sec_cnts {
	padding-top:60px;
}
#main #sec_cnts .item01 {
	background:#9f7e89;
	padding:10px 20px;
	color:#fff;
	margin-top:60px;
	margin-bottom:30px;
}
#main #sec_cnts .item01:first-child {
	margin-top:0;
}
#main #sec_cnts .item01 h4 {
	font-size:200%;
}
#main #sec_cnts .item01 p {
	margin-top:5px;
	font-size:116.7%;
}
#main #sec_cnts .item02 ul + ul {
	margin-top:40px;
}
#main #sec_cnts .item02 ul li {
	float:left;
	margin-left:10px;
	width:230px;
}
#main #sec_cnts .item02 ul.ul03 li {
	width:310px;
}
#main #sec_cnts .item02 ul li:first-child {
	margin-left:0;
}
#main #sec_cnts .item02 ul li a img {
	width:228px;
	border:solid 1px #d3d3d3; 
}
#main #sec_cnts .item02 ul.ul03 li a img {
	width:308px;
}
#main #sec_cnts .item02 ul li a p {
	color:#000;
	padding-top:5px;
	text-decoration:underline;
}
#main #sec_cnts .item03 {
	background:url(../images/cmn_04_ico.gif) no-repeat left center;
	padding-left:25px;
	font-size:166.7%;
	margin-top:60px;
	margin-bottom:15px;
}
#main #sec_cnts .item03:first-child {
	margin-top:0;
}


/*fashion*/
.main_fashion{
}

.main_fashion ul.fashion_01{
	position:relative;
	width:950px;
	height:1170px;
}
.main_fashion ul.fashion_01 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_fashion ul.fashion_01 li.li02{
	position:absolute;
	top:161px;
	left:223px;
}
.main_fashion ul.fashion_01 li.li02_02{
	position:absolute;
	top:0;
	left:446px;
}
.main_fashion ul.fashion_01 li.li03{
	position:absolute;
	top:0;
	right:0;
}
.main_fashion ul.fashion_01 li.li04{
	position:absolute;
	top:330px;
	left:184px;
}
.main_fashion ul.fashion_01 li.li05{
	position:absolute;
	top:464px;
	right:0;
}
.main_fashion ul.fashion_01 li.li06{
	position:absolute;
	top:698px;
	left:0;
}
.main_fashion ul.fashion_01 li.li07{
	position:absolute;
	top:760px;
	right:0;
}
.main_fashion ul.fashion_01 li.li08{
	position:absolute;
	bottom:43px;
	left:222px;
}

.main_fashion ul.fashion_02{
	position:relative;
	width:950px;
	height:630px;
}
.main_fashion ul.fashion_02 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_fashion ul.fashion_02 li.li02{
	position:absolute;
	top:0;
	left:293px;
}
.main_fashion ul.fashion_02 li.li03{
	position:absolute;
	top:131px;
	right:0;
}
.main_fashion ul.fashion_02 li.li04{
	position:absolute;
	top:303px;
	left:106px;
}

.main_fashion ul.fashion_03{
	position:relative;
	width:950px;
	height:700px;
}
.main_fashion ul.fashion_03 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_fashion ul.fashion_03 li.li02{
	position:absolute;
	top:67px;
	left:346px;
}
.main_fashion ul.fashion_03 li.li03{
	position:absolute;
	top:0;
	right:0;
}
.main_fashion ul.fashion_03 li.li04{
	position:absolute;
	top:336px;
	left:83px;	
}
.main_fashion ul.fashion_03 li.li05{
	position:absolute;
	top:319px;
	right:130px;	
}

.main_fashion ul.fashion_04{
	position:relative;
	width:950px;
	height:600px;
}
.main_fashion ul.fashion_04 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_fashion ul.fashion_04 li.li02{
	position:absolute;
	top:0;
	right:53px;
}
.main_fashion ul.fashion_04 li.li03{
	position:absolute;
	top:295px;
	left:0;
}
.main_fashion ul.fashion_04 li.li04{
	position:absolute;
	top:340px;
	right:28px;
}

.main_fashion ul.fashion_05{
	position:relative;
	width:950px;
	height:600px;
}
.main_fashion ul.fashion_05 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_fashion ul.fashion_05 li.li02{
	position:absolute;
	top:0;
	right:0;
}
.main_fashion ul.fashion_05 li.li03{
	position:absolute;
	top:143px;
	right:149px;
}


/*baccarat*/
.main_baccarat{
}
.main_baccarat ul.baccarat_01{
	position:relative;
	width:950px;
	height:900px;
}
.main_baccarat ul.baccarat_01 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_baccarat ul.baccarat_01 li.li02{
	position:absolute;
	top:0;
	right:0;
}
.main_baccarat ul.baccarat_01 li.li03{
	position:absolute;
	top:191px;
	left:257px;
}
.main_baccarat ul.baccarat_01 li.li04{
	position:absolute;
	top:435px;
	left:0;
}
.main_baccarat ul.baccarat_01 li.li05{
	position:absolute;
	top:530px;
	left:153px;
}
.main_baccarat ul.baccarat_01 li.li06{
	position:absolute;
	top:413px;
	right:0;
}

/*index*/
.main_index{
	width:100% !important;
}

.main_index .center01{
	position:static !important;
    padding-top:12px;
	text-align:center;
}
.main_index .center02{
	position:static !important;
    padding-top:6px;
	text-align:center;
}
.main_index .center03{
	position:static !important;
	margin:0 auto;
	width:950px;
}

/*index list*/
ul.index01{
	position:relative;
	width:950px;
	height:1752px;
}
.main_index ul.index01 li.li01{
	position:absolute;
	top:0;
	left:0;
}
.main_index ul.index01 li.li02{
	position:absolute;
	top:177px;
	left:354px;
}
.main_index ul.index01 li.li03{
	position:absolute;
	top:0;
	right:0;
}
.main_index ul.index01 li.li04{
	position:absolute;
	top:403px;
	left:0;
}
.main_index ul.index01 li.li05{
	position:absolute;
	top:660px;
	left:222px;
}
.main_index ul.index01 li.li06{
	position:absolute;
	top:551px;
	right:43px;
}
.main_index ul.index01 li.li07{
	position:absolute;
	top:1013px;
	left:22px;
}
.main_index ul.index01 li.li08{
	position:absolute;
	top:1045px;
	right:65px;
}
.main_index ul.index01 li.li09{
	position:absolute;
	top:1373px;
	left:31px;
}
.main_index ul.index01 li.li10{
	position:absolute;
	bottom:92px;
	right:0;
}

/*index_b list*/
ul.index02{
	position:relative;
	width:950px;
	height:1874px;
}
.main_index ul.index02 li.li01{
	position:absolute;
	top:51px;
	left:0;
}
.main_index ul.index02 li.li02{
	position:absolute;
	top:45px;
	right:0;
}
.main_index ul.index02 li.li03{
	position:absolute;
	top:222px;
	left:73px;
}
.main_index ul.index02 li.li04{
	position:absolute;
	top:344px;
	right:0;
}
.main_index ul.index02 li.li05{
	position:absolute;
	top:510px;
	left:32px;
}
.main_index ul.index02 li.li06{
	position:absolute;
	top:738px;
	right:260px;
}
.main_index ul.index02 li.li07{
	position:absolute;
	top:943px;
	left:48px;
}
.main_index ul.index02 li.li08{
	position:absolute;
	top:1052px;
	right:0;
}
.main_index ul.index02 li.li09{
	position:absolute;
	top:1249px;
	left:101px;
}
.main_index ul.index02 li.li10{
	position:absolute;
	top:1302px;
	right:22px;
}
.main_index ul.index02 li.li11{
	position:absolute;
	top:1471px;
	left:63px;
}

.main_index ul.index02 li.li12{
	position:absolute;
	top:1542px;
	right:117px;
}





/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}