@charset "EUC-JP";
@import url("../../../_common/css/global-fontsizelarge.css");

h1 {
	font-size: 16px;
}
#price, #purchaseForm h3, #purchaseForm textarea {
	font-size: 14px;
}
#price strong {
	font-size: 20px;
}
#itemInfo .message, #spec li, #itemNotice li, #spec2, #itemPhotoWide li {
	font-size: 12px;
}
#selectBoxes select {
	font-size: 13px;
}
