@charset "EUC-JP";

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
common
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*main*/
#main {
	position:relative;
	width:100%;
	margin: 25px 0 0;
	padding: 0 0 80px;
}
#main .in {
	width:950px;
	margin:0 auto;
}
#main img {
	vertical-align:bottom;
}
#main a:hover {
	text-decoration:none;
}
#main a:hover img,
#main .hover:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}



/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
index
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
/*index*/
#main.index {
	background:url(../images/index_bg.jpg) repeat-x center top;
}

/*main_header*/
#main.index #main_header {
	text-align: center;
	background:url(../images/index_hd_bg.jpg) no-repeat center top;
	padding-top: 25px;
}

/*main_sec01*/
#main.index #main_sec01 {
	margin-top: 60px;
}
#main.index #main_sec01 .cnts {
	margin-top: 70px;
	padding-left: 65px;
}
#main.index #main_sec01 h2 + .cnts {
	margin-top: 45px;
}
#main.index #main_sec01 .cnts .block_figure {
	float: left;
}
#main.index #main_sec01 .cnts .block_figure img {
	border: 1px solid #ccc;
}
#main.index #main_sec01 .cnts .block_txt {
	float: left;
	margin-left: 60px;
}
#main.index #main_sec01 .cnts .block_txt dl {
	overflow: hidden;
}
#main.index #main_sec01 .cnts .block_txt dl dt {
	float: left;
}
#main.index #main_sec01 .cnts .block_txt dl dd {
	margin-left: 115px;
	font-size: 1.667em;
	line-height: 36px;
}
#main.index #main_sec01 .cnts .block_txt h3 {
	margin-top: 15px;
	font-size: 2.000em;
	font-weight: bold;
}
#main.index #main_sec01 .cnts .block_txt p {
	margin-top: 10px;
	font-size: 1.333em;
}
#main.index #main_sec01 .cnts .block_txt .btn {
	margin-top: 25px;
}



/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}