<!----------- 編集エリアここから ----------->
<style>
#main #sec_header {margin:30px 0;}
#main #sec_header .item01 {position:relative;width:950px;height:100px;background:#8d455b;}
#main #sec_header .item01 h2 {position:absolute;left:117px;top:11px;margin:0;padding:0;background:none;}
#main #sec_header .item01 p {position:absolute;left:191px;top:69px;}
#main #sec_header .item01 .btn {position:absolute;right:30px;top:25px;}
#main #sec_header .item02 {padding:20px 40px;background:#f3eaea;margin-top:10px;}
#main #sec_header .item02 h3 {text-align:center;}
#main #sec_header .item02 p {margin-top:15px;font-size:133.3%;}
#main #sec_header .item03 {padding:20px 30px;background:#e9e9e9;margin-top:10px;}
#main #sec_header .item01 + .item03 {margin-top:20px;}
#main #sec_header .item03 ul + ul {margin-top:20px;}
#main #sec_header ul {width:auto;margin-right:0;}
#main #sec_header .item03 ul li,#main #sec_header .item03_02 ul li {float:left;background:#fff;height:40px;margin-left:22px;padding:0;}
#main #sec_header .item03 ul li a,#main #sec_header .item03_02 ul li a {display:block;text-align:center;background:url(../_common/images/autumn2016/cmn_03_ico.gif) no-repeat right center;}
#main #sec_header .item03 ul.ul02 li {width:434px;}
#main #sec_header .item03 ul.ul03 li {width:282px;}
#main #sec_header .item03 ul.ul04 li {width:206px;}
#main #sec_header .item03 ul li:first-child,#main #sec_header .item03_02 ul li:first-child {margin-left:0;}
#main #sec_header .item03_02 {margin-top:20px;}
#main #sec_header .item03_02 h3 {margin-bottom:10px;}
#main #sec_header .item03_02 .block_l {float:left;background:#e9e9e9;padding:20px 30px 20px;}
#main #sec_header .item03_02 .block_r {float:right;background:#e9e9e9;padding:20px 30px 20px;}
#main #sec_header .item03_02 ul li {width:265px;}
@media screen and (min-width:1px) {
	#main #sec_header a:hover {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
}
/*module*/
.clfx {zoom:1;}
.clfx:after {content:"";display:block;clear:both;}
</style>

		<h1>ライフスタイル</h1>
        <div style="width:934px; margin-top:20px; background-color:#fff;">
        <p>
        ご紹介するアイテムひとつひとつから広がるのは、より上質な毎日。<br />生活雑貨から健康用品、ギフトまで、作り手やデザイナーたちのこだわりを散りばめた、選りすぐりの品々を多彩にご紹介いたします。
		</p>
		</div>

<div id="sec_header">
	<div class="item01">
		<h2><img src="../_common/images/autumn2016/cmn_01_ttl.png" alt="" /></h2>
		<p><img src="../_common/images/autumn2016/cmn_01_txt.png" alt="" /></p>
		<a class="btn" href="../?{%%svid%%}"><img src="../_common/images/autumn2016/cmn_01_btn.png" alt="" /></a>
	</div>
	<div class="item03 clfx">
			<ul class="ul03 clfx">
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category270"><img src="../_common/images/autumn2016/cmn_03_txt04_01.gif" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category66"><img src="../_common/images/autumn2016/cmn_03_txt04_02.gif" alt="" /></a></li>
				<li><a href="/rps/item/?a=Item_list&category=4&{%%svid%%}#category91"><img src="../_common/images/autumn2016/cmn_03_txt04_03.gif" alt="" /></a></li>
			</ul>

	</div>	
</div>

<!----------- 編集エリアここまで ----------->