<!----------- 編集エリアここから ----------->
<style>
/*sec_header*/
#main #sec_header {margin:30px 0;}
#main #sec_header .item01 {position:relative;width:950px;height:100px;background:#8d455b;}
#main #sec_header .item01 h2 {position:absolute;left:117px;top:11px;margin:0;padding:0;background:none;}
#main #sec_header .item01 p {position:absolute;left:191px;top:69px;}
#main #sec_header .item01 .btn {position:absolute;right:30px;top:25px;}
#main #sec_header .item02 {padding:20px 40px;background:#f3eaea;margin-top:10px;}
#main #sec_header .item02 h3 {text-align:center;}
#main #sec_header .item02 p {margin-top:15px;font-size:133.3%;}
#main #sec_header .item03 {padding:20px 30px;background:#e9e9e9;margin-top:10px;}
#main #sec_header .item01 + .item03 {margin-top:20px;}
#main #sec_header .item03 ul + ul {margin-top:20px;}
#main #sec_header ul {width:auto;margin-right:0;}
#main #sec_header .item03 ul li,#main #sec_header .item03_02 ul li {float:left;background:#fff;height:40px;margin-left:22px;padding:0;}
#main #sec_header .item03 ul li a,#main #sec_header .item03_02 ul li a {display:block;text-align:center;background:url(../_common/images/autumn2016/cmn_03_ico.gif) no-repeat right center;}
#main #sec_header .item03 ul.ul02 li {width:434px;}
#main #sec_header .item03 ul.ul04 li {width:206px;}
#main #sec_header .item03 ul li:first-child,#main #sec_header .item03_02 ul li:first-child {margin-left:0;}
#main #sec_header .item03_02 {margin-top:20px;}
#main #sec_header .item03_02 h3 {margin-bottom:10px;}
#main #sec_header .item03_02 .block_l {float:left;background:#e9e9e9;padding:10px 30px 20px;}
#main #sec_header .item03_02 .block_r {float:right;background:#e9e9e9;padding:10px 30px 20px;}
#main #sec_header .item03_02 ul li {width:265px;}
@media screen and (min-width:1px) {
	#main #sec_header a:hover {opacity:.7;filter:alpha(opacity=70);-ms-filter: "alpha( opacity=70 )";}
}
/*module*/
.clfx {zoom:1;}
.clfx:after {content:"";display:block;clear:both;}
</style>
<div id="sec_header">
<div class="item01">
<h2><img src="../_common/images/autumn2016/cmn_01_ttl.png" alt="" /></h2>
<p><img src="../_common/images/autumn2016/cmn_01_txt.png" alt="" /></p>
<a class="btn" href="../?{%%svid%%}"><img src="../_common/images/autumn2016/cmn_01_btn.png" alt="" /></a>
</div>
</div>

		<div id="brandBannerArea">
		<ul>
		<li><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-baccarat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/baccarat/index&{%%svid%%}">バカラ</a></p></li>
		<li><a href="../static/?f=page/luxury/berluti/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-berluti.jpg" /></a>
		<p><a href="../static/?f=page/luxury/berluti/index&{%%svid%%}">ベルルッティ</a></p></li>
		<!-- <li><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-burberry.jpg" /></a>
		<p><a href="../static/?f=page/luxury/burberry/index&{%%svid%%}">バーバリー</a></p></li> -->
        	<li><a href="../static/?f=page/luxury/celine/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-celine.jpg" /></a>
		<p><a href="../static/?f=page/luxury/celine/index&{%%svid%%}">セリーヌ</a></p></li>
		<li><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-chloe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/chloe/index&{%%svid%%}">クロエ</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-damiani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/damiani/index&{%%svid%%}">ダミアーニ</a></p></li>-->
		<!--<li><a href="../static/?f=page/luxury/dior/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dior.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dior/index&{%%svid%%}">ディオール</a></p></li>-->
		<!--li><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-donnakaran.jpg" /></a>
		<p><a href="../static/?f=page/luxury/donnakaran/index&{%%svid%%}">ダナキャラン</a></p></li-->
		<li><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-dunhill.jpg" /></a>
		<p><a href="../static/?f=page/luxury/dunhill/index&{%%svid%%}">ダンヒル</a></p></li>
		<!--<li><a href="../static/?f=page/luxury/etro/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-etro.jpg" /></a>
		<p><a href="../static/?f=page/luxury/etro/index&{%%svid%%}">エトロ</a></p></li>-->
        <li><a href="../static/?f=page/luxury/zegna/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-zegna.jpg" /></a>
		<p><a href="../static/?f=page/luxury/zegna/index&{%%svid%%}">エルメジド ゼニア</a></p></li>
		<li><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-fendi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/fendi/index&{%%svid%%}">フェンディ</a></p></li>
		<li><a href="../static/?f=page/luxury/armani/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-armani.jpg" /></a>
		<p><a href="../static/?f=page/luxury/armani/index&{%%svid%%}">ジョルジオ アルマーニ</a></p></li>
		<!--
		<li><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-gucci02.jpg" /></a>
		<p><a href="../static/?f=page/luxury/gucci/index&{%%svid%%}">グッチ</a></p></li>
		-->
		<li><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-jilsander.jpg" /></a>
		<p><a href="../static/?f=page/luxury/jilsander/index&{%%svid%%}">ジル・サンダー</a></p></li>
		<li><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-loewe.jpg" /></a>
		<p><a href="../static/?f=page/luxury/loewe/index&{%%svid%%}">ロエベ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-lucien.jpg" /></a>
		<p><a href="../static/?f=page/luxury/lucien/index&{%%svid%%}">ルシアン ペラフィネ</a></p></li-->
		<!--<li><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-huntingworld.jpg" /></a>
		<p><a href="../static/?f=page/luxury/huntingworld/index&{%%svid%%}">ハンティング・ワールド</a></p></li>-->
		<li><a href="../static/?f=page/luxury/marcjacobs/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-marcjacobs.jpg" /></a>
		<p><a href="../static/?f=page/luxury/marcjacobs/index&{%%svid%%}">マーク ジェイコブス</a></p></li>
		<!--li><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-mathon.jpg" /></a>
		<p><a href="../static/?f=page/luxury/mathon/index&{%%svid%%}">マットン</a></p></li-->
		<li><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-meissen.jpg" /></a>
		<p><a href="../static/?f=page/luxury/meissen/index&{%%svid%%}">マイセン</a></p></li>
		<li><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moncler.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moncler/index&{%%svid%%}">モンクレール</a></p></li>
		<li><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-morabito.jpg" /></a>
		<p><a href="../static/?f=page/luxury/morabito/index&{%%svid%%}">モラビト</a></p></li>
		<li><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-moynat.jpg" /></a>
		<p><a href="../static/?f=page/luxury/moynat/index&{%%svid%%}">モワナ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-repossi.jpg" /></a>
		<p><a href="../static/?f=page/luxury/repossi/index&{%%svid%%}">レポシ</a></p></li-->
		<!--li><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-rolex.jpg" /></a>
		<p><a href="../static/?f=page/luxury/rolex/index&{%%svid%%}">ロレックス</a></p></li-->
		<li><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-ferragamo.jpg" /></a>
		<p><a href="../static/?f=page/luxury/ferragamo/index&{%%svid%%}">サルヴァトーレ フェラガモ</a></p></li>
		<li><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-stellmccartney.jpg" /></a>
		<p><a href="../static/?f=page/luxury/stellamccartney/index&{%%svid%%}">ステラ マッカートニー</a></p></li>
		<!--li><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-scavia.jpg" /></a>
		<p><a href="../static/?f=page/luxury/scavia/index&{%%svid%%}">スカヴィア</a></p></li-->
		<li><a href="../static/?f=page/luxury/tods/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-tods.jpg" /></a>
		<p><a href="../static/?f=page/luxury/tods/index&{%%svid%%}">トッズ</a></p></li>
		<!--li><a href="../static/?f=page/luxury/watch/index&{%%svid%%}"><img alt="" src="../_common/images/categoryIndex/05-brandBanner-watch.jpg" /></a>
		<p><a href="../static/?f=page/luxury/watch/index&{%%svid%%}">ウオッチ</a></p></li-->
		</ul>
		</div>
<!----------- 編集エリアここまで ----------->
