@charset "EUC-JP";
body {
	background:#fff;
}
p.note {
	padding:15px 20px 50px 20px;
	width: 909px;
	background:url(../images/inner_bg02.gif) no-repeat 0 100%;
	clear:both;
}
#main {
	width: 949px;
	margin: 0 auto;
	color: #4d392a;
}
#main h1 {
	padding: 0 0 35px 0;
}
.mainInner {
	padding:0;
	height:228px;
	background:url(../images/main_bg01.jpg) no-repeat 100% 100%;
}
.mainDate {
	padding: 0;
}
.mainInner h3  {
	padding: 20px 0 0 0;
}
.mainLead {
	padding: 20px 0 0 0;
}
.btnArea01 {
	padding:14px 7px;
	height:209px;
	background:url(../images/main_bg02.gif) no-repeat 0 0;
}
.btnArea01 ul {
	width: 949px;
	clear: both;
}
.btnArea01 ul:after {
	content: "";
	display: block;
	clear: both;
}
.btnArea01 li {
	padding-left:7px;
	width: 302px;
	float: left;
}
#limited  {
	padding: 25px 0 0 0;
}
#limited h3 {
	margin: 0 auto;
	width: 949px;
}
.limitedInner {
	margin: 0 auto;
	width: 949px;
	background:url(../images/inner_bg01.gif) repeat-y 0 0;
}
.limitedList{
	background:url(../images/limited_bg01.gif) no-repeat 0 0;
}
.limitedList:after {
	content: "";
	display: block;
	clear: both;
}
#limited dl {
	padding-left:21px;
	width: 281px;
	float: left;
}
#limited dd {
	padding-top:5px;
}
#week {
	margin: 0 auto;
	width: 949px;
}
.weekInner {
	margin: 0 auto;
	width: 949px;
	background:url(../images/inner_bg01.gif) repeat-y 0 0;
}
.weekInner:after {
	content: "";
	display: block;
	clear: both;
}
#week .left {
	padding:0 0 0 30px;
	width: 366px;
	float: left;
}
#week .right {
	padding-top:0;
	width: 531px;
	float: right;
}
#week .right dl {
	padding:0 0 20px 20px;
	width: 229px;
	float: left;
	font-size:1px;
}
#week dd {
	padding-top:5px;
}
#week dd.btn {
	padding-top:10px;
}
#week .right dd {
	min-height:72px;
	_height:72px;
}

.weekInner p.note {
	padding:15px 25px 50px 25px;
	width: 899px;
	background:url(../images/inner_bg02.gif) no-repeat 0 100%;
	clear:both;
}
#present {
	margin: 0 auto;
}
#present h3 {
	margin: 0 auto;
	width: 929px;
	height:88px;
	position:relative;
	top:0;
	left:0;
}
#present h3 img {
	position:absolute;
	top:-32px;
	left:0;
	z-index:2;
}
.presentInner {
	margin: 0 auto;
	padding-top:10px;
	width: 949px;
	background:url(../images/inner_bg01.gif) repeat-y 0 0;
}
.presentLead {
	margin:10px 22px 0 22px;
	padding-bottom:20px;
	background:url(../images/inner_line01.gif) repeat-x 0 100%;
}
.presentList {
	padding: 0 12px;
}
.presentList:after {
	content: "";
	display: block;
	clear: both;
}
#present dl {
	margin-top:20px;
	padding-left:10px;
	width: 169px;
	float: left;
}
#present dd {
	padding-top:5px;
}
#jewelry {
	margin: 0 auto;
	padding:30px;
	width: 869px;
	height: 410px;
	background:url(../images/jewelry_bg01.jpg) no-repeat 0 0;
}
#jewelry :after {
	content: "";
	display: block;
	clear: both;
}
#jewelry h2 {
	padding: 15px 0 30px 0;
	border-bottom:solid 1px #a37e39;
}
#jewelry p {
	padding: 25px 0 20px 0;
}
#jewelry li {
	padding: 10px 0 0 0;
}
#jewelry .left {
	width: 285px;
	float: left;
}
#jewelry .right {
	width: 555px;
	float: right;
}
dl.note {
	padding:0 10px 30px 10px;
	clear:both;
	font-size: 80%;
}
dl.note dt {
	padding-right: 3px;
	float:left;
}
.pagetop{
	padding:0 10px 30px 10px;
	text-align:right;
}

.bottomBox {
	border-top:solid 2px #815f2c;
	margin:0 10px 0 10px;
	padding:10px 0;
	clear:both;
}
.bottomBox  dl.note {
	margin:0;
	padding:0;
	clear:both;
	font-size: 80%;
}
.bottomBox  dl.note dt {
	padding-right: 3px;
	float:left;
}
.bottomBox  dl.info {
	margin:5px 0 0 0;
	padding:0;
	clear:both;
	font-size: 80%;
}
.bottomBox  dl.info dt {
	margin:0;
	padding:0;
}