<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ROLEX | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/rolex/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
    
    <!-- newマークギミック -->
<style>
	.closeDate {display: none;}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('.itemCatalog>div>div>h1').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->  
    
    
    <!--　画像きりかえ用　ここから　-->
	<script type="text/javascript"><!--
	function changeItemLargePhoto2(num) {
	var target = document.getElementById("itemPhotoLargeImage2");
	target.src = itemLargePhotoList2[num];
}
var itemLargePhotoList = new Array(
	"../page/luxury/rolex/images/rolex_mens_items_130710_0.jpg",
	"../page/luxury/rolex/images/rolex_mens_items_130710_1.jpg",
	"../page/luxury/rolex/images/rolex_mens_items_130710_2.jpg",
	"../page/luxury/rolex/images/rolex_mens_items_130710_3.jpg"
);
var itemLargePhotoList2 = new Array(
	"../page/luxury/rolex/images/rolex_ladies_items_130710_0.jpg",
	"../page/luxury/rolex/images/rolex_ladies_items_130710_1.jpg",
	"../page/luxury/rolex/images/rolex_ladies_items_130710_2.jpg",
	"../page/luxury/rolex/images/rolex_ladies_items_130710_3.jpg"
);
// --></script>	
	
<!--　画像きりかえ用　ここまで　-->
    
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">ROLEX</li>
	</ul>
	<div id="brand"><img src="../page/luxury/rolex/images/rolex.jpg" alt="ロレックス" /></div>
	<div id="main">
    
    <div id="itemLink">
    <div class="fLeft"><a href="#mens"><img src="../page/luxury/rolex/images/rolex_mens_130710.jpg" alt="メンズ"></a></div>
    <div class="fRight"><a href="#rladies"><img src="../page/luxury/rolex/images/rolex_ladies_130710.jpg" alt="レディース"></a></div>
    </div>
    
    <img src="../page/luxury/rolex/images/rolex_mens.jpg" alt="メンズ" id="mens">
        <div class="itemPhotoLarge"><img id="itemPhotoLargeImage" src="../page/luxury/rolex/images/rolex_mens_items_130710_0.jpg" width="860" height="629" usemap="#items1" />
            <map name="items1">
            <area shape="poly" coords="263,393,263,392,266,365,269,330,271,329,271,325,282,324,291,295,308,250,313,235,316,219,317,219,322,219,324,217,325,216,326,215,327,214,327,206,327,198,326,197,326,195,325,194,323,193,318,192,317,194,315,195,314,196,315,188,309,169,295,134,280,96,266,93,265,84,263,75,263,73,262,64,260,58,258,52,242,52,241,52,202,52,201,51,184,52,181,57,178,63,177,73,176,74,174,77,172,84,170,96,169,97,161,97,158,98,156,100,147,120,137,147,129,168,126,179,125,181,125,186,123,189,123,196,122,197,122,205,122,206,122,209,122,222,125,237,135,262,143,281,151,301,152,304,152,307,156,315,157,319,159,324,170,326,172,326,174,338,178,354,178,354,179,358,179,358,179,362,184,384,185,388,185,390,187,393,189,394,204,395,205,394,263,393,263,393" alt="＜オイスター パペーチュアル デイトジャストII＞ メンズウオッチ（ブレスレット）" href="../detail/?a=Item_detail&id=3613&{%%svid%%}" onmouseover="changeItemLargePhoto(1);return false;" onmouseout="changeItemLargePhoto(0);return false;" />
            <area shape="poly" coords="379,593,385,586,398,567,411,547,415,549,420,546,427,534,435,517,448,488,463,468,472,472,475,469,477,469,482,462,486,452,487,445,485,444,485,440,479,437,478,433,482,415,485,383,489,374,497,352,506,326,509,312,510,300,508,297,506,296,503,294,502,291,500,291,497,287,488,279,477,272,467,267,449,263,435,263,433,262,427,261,422,262,418,263,409,270,400,277,389,289,387,288,388,286,382,284,376,283,373,283,364,288,339,309,310,337,300,347,298,351,296,352,295,355,293,358,292,359,290,362,289,365,288,366,286,370,285,373,284,374,282,380,278,393,276,414,276,422,275,443,275,473,277,491,278,495,280,498,287,504,289,504,293,497,292,516,292,540,294,553,297,557,302,560,307,565,320,578,329,583,339,587,358,590,366,591,372,592,379,593,379,593" alt="＜オイスター パペーチュアル スカイドゥエラー＞ メンズウオッチ（ストラップ）" href="../detail/?a=Item_detail&id=3612&{%%svid%%}"  onmouseover="changeItemLargePhoto(2);return false;" onmouseout="changeItemLargePhoto(0);return false;" />
            <area shape="poly" coords="682,413,750,374,753,371,754,366,757,363,758,356,759,342,757,340,760,337,760,331,760,313,759,310,756,305,755,304,757,303,757,295,762,292,764,289,765,283,764,257,759,225,768,225,770,224,772,219,773,208,771,204,770,201,759,201,761,196,761,192,760,185,755,175,764,169,765,162,762,155,754,146,752,145,747,144,739,148,732,141,727,136,721,133,719,132,721,128,719,125,715,121,709,117,702,116,700,117,698,119,699,120,697,121,693,118,687,116,673,106,652,94,647,94,636,97,633,95,625,95,623,92,610,83,605,81,598,81,597,79,592,78,588,76,581,76,510,115,506,121,506,127,509,135,508,138,512,156,515,163,518,167,517,168,519,180,525,197,528,202,531,204,530,205,529,208,536,223,542,234,535,239,545,256,558,276,559,277,558,279,571,301,581,318,589,329,592,332,592,334,600,346,606,353,606,355,609,361,617,371,623,370,626,370,631,373,633,375,641,384,649,391,650,393,651,393,655,396,661,402,674,412,676,412,682,413,682,413" alt="＜オイスター パペーチュアル ヨットマスターII＞ メンズウオッチ（ブレスレット））" href="../detail/?a=Item_detail&id=3611&{%%svid%%}"  onmouseover="changeItemLargePhoto(3);return false;" onmouseout="changeItemLargePhoto(0);return false;" />
            </map>
        
</div>
     
      
      
		<div class="itemCatalog">
		  <div id="itemList">
            <div>
					
			
			<h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3613&{%%svid%%}" onmouseover="changeItemLargePhoto(1);return false;" onmouseout="changeItemLargePhoto(0);return false;">1,＜オイスター パーペチュアル デイトジャストII＞ メンズウオッチ（ブレスレット）</a></h1>
            </div>
            <div>
                    
 			<h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3612&{%%svid%%}" onmouseover="changeItemLargePhoto(2);return false;" onmouseout="changeItemLargePhoto(0);return false;">2,＜オイスター パーペチュアル スカイドゥエラー＞ メンズウオッチ（ストラップ）</a></h1>
			</div>
            <div>
            
			<h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3611&{%%svid%%}" onmouseover="changeItemLargePhoto(3);return false;" onmouseout="changeItemLargePhoto(0);return false;">3,＜オイスターパーペチュアル ヨットマスターII＞ メンズウオッチ（ブレスレット）</a></h1>
			</div>
            </div>
            </div>
        
        <img src="../page/luxury/rolex/images/rolex_ladies.jpg" alt="レディース" id="rladies">
        <div class="itemPhotoLarge"><img id="itemPhotoLargeImage2" src="../page/luxury/rolex/images/rolex_ladies_items_130710_0.jpg" width="859" height="629" usemap="#items2" />
            <map name="items2">
            <area shape="poly" coords="202,595,138,572,138,568,134,566,137,551,135,549,135,543,141,525,139,524,141,516,148,497,145,495,146,488,151,470,150,470,140,464,140,414,140,392,143,372,149,356,159,342,183,314,202,292,208,286,220,288,220,291,221,291,225,280,233,268,234,268,235,265,238,257,246,246,248,245,252,235,256,229,261,225,262,226,264,222,270,215,288,222,289,223,291,223,306,230,306,231,309,232,309,232,317,235,318,235,334,242,335,241,340,244,339,253,342,253,342,259,336,273,336,275,338,275,338,281,331,296,331,299,332,300,331,304,329,312,321,329,320,328,319,330,321,331,321,335,318,343,310,360,309,362,308,370,300,389,300,394,297,406,298,405,305,409,305,411,308,414,306,424,303,430,299,435,295,437,286,434,279,446,271,459,269,459,267,461,269,462,269,465,261,482,257,491,256,491,255,493,256,494,256,495,249,510,244,521,242,520,242,521,242,524,239,530,232,545,230,545,225,560,220,572,217,572,214,579,210,588,207,588,205,591,202,595,202,595" alt="＜オイスター パペーチュアル レディ デイトジャスト＞ レディースウオッチ（ブレスレット）" href="../detail/?a=Item_detail&id=3610&{%%svid%%}" onmouseover="changeItemLargePhoto2(1);return false;" onmouseout="changeItemLargePhoto2(0);return false;" />
            <area shape="poly" coords="386,537,406,537,407,536,445,536,446,537,466,537,469,519,470,501,470,498,470,492,471,491,474,445,473,441,475,441,475,443,486,441,493,426,504,393,512,374,516,362,518,347,520,349,528,350,529,348,532,346,534,341,535,334,533,325,532,323,529,320,520,319,518,321,517,310,508,283,497,256,489,232,487,230,484,228,475,226,473,228,473,209,470,184,468,160,465,145,446,145,444,146,407,145,405,144,386,144,383,168,380,227,380,228,379,229,378,227,369,228,366,230,364,234,358,251,346,281,336,308,333,322,332,341,335,358,338,369,347,393,356,414,364,435,366,439,370,442,378,443,379,441,380,441,382,485,384,516,386,537,386,537" alt="＜オイスター パペーチュアル デイトジャスト レディ31＞ レディースウオッチ（ブレスレット）" href="../detail/?a=Item_detail&id=3609&{%%svid%%}"  onmouseover="changeItemLargePhoto2(2);return false;" onmouseout="changeItemLargePhoto2(0);return false;" />
            <area shape="poly" coords="709,371,714,371,718,370,769,338,773,334,775,327,774,316,771,303,767,299,768,297,768,292,759,269,755,262,753,259,751,256,752,254,752,250,748,243,754,239,756,233,754,219,746,171,744,158,740,147,742,146,748,143,750,136,749,133,747,127,740,120,737,119,735,118,727,122,727,124,724,120,716,112,690,95,666,77,655,71,647,76,638,68,635,67,635,64,628,56,613,43,612,43,605,37,597,33,589,33,533,68,530,70,530,75,530,80,534,88,533,89,533,91,540,109,546,121,551,123,549,124,549,129,555,143,562,157,567,162,567,165,566,168,571,180,580,196,585,210,591,221,598,229,602,235,612,250,617,254,617,258,620,262,627,273,637,287,641,293,647,298,649,302,657,314,662,320,661,321,661,324,669,336,672,340,676,342,680,349,684,352,687,354,689,355,690,358,696,363,709,371,709,371" alt="＜オイスター パペーチュアル レディ デイトジャスト パールマスター＞ レディースウオッチ（ブレスレット" href="../detail/?a=Item_detail&id=3608&{%%svid%%}"  onmouseover="changeItemLargePhoto2(3);return false;" onmouseout="changeItemLargePhoto2(0);return false;" />
            </map>
        
</div>
      
      
      
      <div class="itemCatalog">
		  <div id="itemList">
            <div>
					
			<h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3610&{%%svid%%}" onmouseover="changeItemLargePhoto2(1);return false;" onmouseout="changeItemLargePhoto2(0);return false;">1,＜オイスター パーペチュアル レディ デイトジャスト＞ レディースウオッチ（ブレスレット）</a></h1>
            </div>
            <div>
                    
			  <h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3609&{%%svid%%}" onmouseover="changeItemLargePhoto2(2);return false;" onmouseout="changeItemLargePhoto2(0);return false;">2,＜オイスターパーペチュアル デイトジャスト レディ31＞ レディースウオッチ（ブレスレット）</a></h1>
			</div>
            <div>
				
             <h1><!-- newマークギミック --><span class="newIcn"></span><div class="closeDate">2013.7.31.9</div><!-- newマークギミック --><a href="../detail/?a=Item_detail&id=3608&{%%svid%%}" onmouseover="changeItemLargePhoto2(3);return false;" onmouseout="changeItemLargePhoto2(0);return false;">3,＜オイスター パーペチュアル レディ デイトジャスト パールマスター＞ レディースウオッチ（ブレスレット）</a></h1>
			</div>
          </div>

            

            
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
