@charset "EUC-JP";

#main {
	overflow: hidden;
	min-width: 950px;
	width: expression(document.body.clientWidth < 1202? "1200px" : "auto");
	margin: 0 auto;
	color: #4d392a;
	background: #ffffff;
	padding-bottom:60px;
}
#main h1 {
	width: 100%;
	height: 502px;
	background-image: url(../images/img01.jpg);
	background-color:#000;
	background-position: center top;
	background-repeat: no-repeat;
	text-align:center;
	border-top:1px solid #818182;
	border-bottom:1px solid #878788;
}
#main #btn01 a {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn01_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #fff;
}
#main #btn01 a div {
	display: none;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn01_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
#main #btn02 a {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn02_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #fff;
}
#main #btn02 a div {
	display: none;
	overflow: hidden;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn02_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
#main #btn03 a {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn03_rollout.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#d9d9d9;
	text-align:center;
	border-bottom:1px solid #f7f7f8;
}
#main #btn03 a div {
	display: none;
	width: 100%;
	height: 340px;
	background-image: url(../images/btn03_rollover.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
#main .inner {
	height:340px;
	margin:0 auto;
}
#main .inner a img {
	width:1200px;
	height:340px;
}