@charset "EUC-JP";

/* clearfix */
#main, .guidemain, #guideWrapper, .anchorList, .guideboxfloat, #firstWrapper, .firstlinkbox {
	display: inline-block;
}
#main, .guidemain, #guideWrapper, .anchorList, .guideboxfloat, #firstWrapper, .firstlinkbox {
	display: block;
}
#main:after, .guidemain:after, #guideWrapper:after, .anchorList:after, .guideboxfloat:after, #firstWrapper:after, .firstlinkbox:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
