@charset "EUC-JP";
@import url("../../../_common/css/global-fontsizelarge.css");

.sidebar ul .Linetwo a, .sidebar ul .Linetwo span {
	padding:4px 0;
	line-height:1.5 !important;
}
.sidebar ul .Linethree a, .sidebar ul .Linethree span {
	padding:4px 0;
	line-height:1.5 !important;
}
#guideleft, .box, .gotoPagetop, .anchorList, .guidebox {
	font-size:14px;
}