@charset "EUC-JP";

.margintop15 {
	margin-top:15px;
}
.vmargin10 {
	margin:10px 0;
}
.marginbottom10 {
	margin-bottom:10px;
}
.marginbottom30 {
	margin-bottom:30px;
}
.paddingtop20 {
	padding-top:20px;
}
#breadcrumbs {
	width: 940px;
	margin: 0 auto;
	padding: 0 5px;
	color: #fff;
	font-weight: bold;
	background:#c2bfb6;
}
#breadcrumbs a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#breadcrumbs a:hover, #breadcrumbs a:active {
	text-decoration: underline;
}
#breadcrumbs span {
	margin: 0 5px;
	color: #000;
	font-weight: normal;
}
#main {
	width: 862px;
	color: #000;
	margin: 0 auto 60px;
	padding: 30px 34px 40px;
	border: 10px solid #ffffff;
	background: #fff;
}
#main h1 {
	width: 164px;
	height: 25px;
	margin: 0 0 20px;
	text-indent: -9999px;
	background: url("../images/guide.gif") no-repeat;
}
.guideintroduction #main h1 {
	width:197px;
	background: url("../images/intro.gif") no-repeat;
}
.guidefirst #main h1 {
	background: url("../images/firsth1.gif") no-repeat;
}
.firsth201 {
	width:859px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	background: url("../images/firsth201.jpg") no-repeat;
	margin-bottom:20px;
}
.firsth202 {
	width:859px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	background: url("../images/firsth202.jpg") no-repeat;
	margin-bottom:20px;
}
.firsth203 {
	width:859px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	background: url("../images/firsth203.jpg") no-repeat;
	margin-bottom:20px;
}
#main #guidemainWrapper {
	float:left;
	width:651px;
	overflow:hidden;
}
#main #guidemainWrapper h2 {
	width: 649px;
	height: 37px;
	text-indent: -9999px;
	margin-bottom:15px;
}
#main #guidemainWrapper .indexh2 {
	margin-bottom:25px;
	background: url("../images/indexh2.jpg") no-repeat;
}
#main #guidemainWrapper .searchh2 {
	background: url("../images/searchh2.jpg") no-repeat;
}
#main #guidemainWrapper .basich2 {
	background: url("../images/basich2.jpg") no-repeat;
}
#main #guidemainWrapper .flowh2 {
	background: url("../images/flowh2.jpg") no-repeat;
}
#main #guidemainWrapper .itemh2 {
	background: url("../images/itemh2.jpg") no-repeat;
}
#main #guidemainWrapper .serviceh2 {
	background: url("../images/serviceh2.jpg") no-repeat;
}
#guidemainWrapper .guidemain {
	width:680px;
	margin-right:-30px;
	margin-bottom:28px;
}
.guidemain .box {
	float:left;
	width:330px;
	margin-right:10px;
}
.guidemain .box ul {
	padding:18px 0 0 18px;
}
.guidemain .box ul li {
	padding-left:12px;
	background:url("../images/libg02.gif") no-repeat left center;
}
.guidemain .box h3 {
	width:292px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	padding-left:18px;
	line-height:24px;
	background:url("../images/libg01.gif") no-repeat left center;
}
.guidemain .box .Linetwo {
	line-height:1.5;
	background:url("../images/libg01.gif") no-repeat left 12%;
}
#main #guideleft {
	float:left;
	margin-right:30px;
}
#guideleft .sideintro, #guideleft .sidebar {
	border:1px solid #ccc;
	width:176px;
	margin-bottom:10px;
}
#guideleft .sideintro ul, #guideleft .sidebar ul {
	border:1px solid #fff;
	width:174px;
}
#guideleft .sideintro li a, #guideleft .sideintro li span {
	display:block;
	padding-left:21px;
	width:153px;
	line-height:33px;
	background:url("../images/introbg.gif") no-repeat;
	overflow:hidden;
	background-position:0 -33px;
	color:#fff;
}
#guideleft .sideintro li a:link, #guideleft .sideintro li a:visited {
	background-position:0 0;
	color:#000;
}
#guideleft .sideintro li a:hover, #guideleft .sideintro li a:active {
	background-position:0 -33px;
	color:#fff;
}
#main .sidebar ul li {
	border-bottom:1px solid #ccc;
}
#main .sidebar ul .borderless {
	border:none;
}
#main .sidebar ul li a, #main .sidebar ul li span {
	display:block;
	padding-left:21px;
	width:153px;
	line-height:31px;
	background:url("../images/sidebg.gif") no-repeat;
	overflow:hidden;
	text-decoration:none;
	background-position:0 -75px;
	color:#fff;
}
#main .sidebar ul li a:link, #main .sidebar ul li a:visited {
	background-position:0 0;
	color:#000;
}
#main .sidebar ul li a:hover, #main .sidebar ul li a:active {
	background-position:0 -75px;
	color:#fff;
}
.gotoPagetop a {
	display:block;
	padding-left:11px;
	background:url("../images/gotopbg.gif") no-repeat left center;
	float:right;
}
#guidemainWrapper .anchorList {
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
	white-space: nowrap;
}
#guidemainWrapper .anchorList li {
	float:left;
	padding:0 14px;
	background:url("../images/libg03.gif") no-repeat left center;
}
#guidemainWrapper .anchorList li p {
	height:1.5em;
}
#guidemainWrapper .anchorListplus {
	padding-top:15px;
	border-top:1px solid #ccc;
}
#guidemainWrapper .guidebox {
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}
#guidemainWrapper #rule ul {
	list-style-type:disc;
	padding-left:20px;
}
#guidemainWrapper .guidebox h3 {
	color:#90834e;
	margin-bottom:10px;
	font-weight:bold;
}
#guidemainWrapper .guidebox img {
	width:649px;
	border:1px solid #ccc;
}
#guidemainWrapper .guidebox .flowleft {
	float:left;
	width:255px;
}
#guidemainWrapper .guidebox .flowright {
	float:right;
	width:351px;
	height:185px;
}
.marginleft12 li {
	margin-left:12px;
}
.marginleft24 li {
	margin-left:24px;
}
#main #firstWrapper {
	width:860px;
	margin-bottom:40px;
}
#firstWrapper .firstleft {
	float:left;
}
.firstleft .firstleft01 {
	width:473px;
	height:127px;
	margin-bottom:20px;
	text-indent:-9999px;
	background:url("../images/floatleft01.jpg") no-repeat;
}
.firstleft .buttonfirst01 a {
	width:255px;
	height:39px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/buttonfirst01.jpg") no-repeat;
}
.firstleft .buttonfirst01 a:link, .firstleft .buttonfirst01 a:visited {
	background-position:0 0;
}
.firstleft .buttonfirst01 a:hover, .firstleft .buttonfirst01 a:active {
	background-position:0 -39px;
}
.firstleft .qrcode {
	width:461px;
	height:174px;
	text-indent:-9999px;
	background:url("../images/qrcode.jpg") no-repeat;
}
.firstleft .tantousha {
	width:442px;
	height:160px;
}
.more01 {
	width:114px;
	height:22px;
	text-indent:-9999px;
	background:url("../images/more01.jpg") no-repeat;
}
#firstWrapper .rightimg {
	float:right;
	width:341px;
	height:463px;	
}
#firstWrapper .firstborderbox {
	border:1px solid #ccc;
	width:857px;
	margin-bottom:25px;
}
#firstWrapper .firstborderbox img {
	width:857px;
	height:214px;
	margin-bottom:9px;
}
.firstborderbox .firstlinkbox {
	padding:0 0 10px 0;
}
.firstborderbox .firstlinkbox li {
	float:left;
	width:115px;
}
.firstborderbox .firstlinkbox .linkA {
	padding-left:40px;
}
.firstborderbox .firstlinkbox .linkB {
	padding-left:350px;
}
.firstborderbox .firstlinkbox .linkC {
	padding-left:82px;
}
#firstWrapper .rightimg02 {
	float:right;
	width:372px;
	height:210px;	
}
#firstWrapper .buttonfirst02 a {
	width:254px;
	height:39px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/buttonfirst02.jpg") no-repeat;
}
#firstWrapper .buttonfirst02 a:link, #firstWrapper .buttonfirst02 a:visited {
	background-position:0 0;
}
#firstWrapper .buttonfirst02 a:hover, #firstWrapper .buttonfirst02 a:active {
	background-position:0 -39px;
}
#firstWrapper .buttonfirst03 a {
	width:353px;
	height:39px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/buttonfirst03.jpg") no-repeat;
}
#firstWrapper .buttonfirst03 a:link, #firstWrapper .buttonfirst03 a:visited {
	background-position:0 0;
}
#firstWrapper .buttonfirst03 a:hover, #firstWrapper .buttonfirst03 a:active {
	background-position:0 -39px;
}
.firstborderbox .firstlinkbox li a {
	width:115px;
	height:29px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../images/more02.jpg") no-repeat;
}
.firstborderbox .firstlinkbox li a:link, .firstborderbox .firstlinkbox li a:visited {
	background-position:0 0;
}
.firstborderbox .firstlinkbox li a:hover, .firstborderbox .firstlinkbox li a:active {
	background-position:0 -29px;
}
.guidebox h4 {
	margin-bottom:10px;
	font-weight:bold;
}
/* 赤字、マウスオーバー時下線なし部分の共通スタイル */
.guidemain .box ul li a, .gotoPagetop a, .anchorList li a, .guidebox a {
	color:#cb0004 !important;
}
.guidemain .box ul li a:hover, .gotoPagetop a:hover, .anchorList li a:hover, .guidebox a:hover {
	text-decoration:none !important;
}