<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>商品について</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">商品について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

本ｻｲﾄでは4つの検索方法で商品をお探しいただけます｡<br clear="none">
(1)ｷｰﾜｰﾄﾞから商品を探す<br clear="none">
ﾄｯﾌﾟﾍﾟｰｼﾞにある｢商品&amp;ｻｰﾋﾞｽ検索｣からお探しいただけます｡お探しの商品名やｷｰﾜｰﾄﾞをご入力ください｡複数の語句をすべて含む場合は､ｽﾍﾟｰｽで区切ってください｡<br clear="none"><br clear="none">
(2)ｶﾃｺﾞﾘｰから商品を探す<br clear="none">
ﾗｸﾞｼﾞｭｱﾘｰ､ｺｽﾒ&amp;ﾋﾞｭｰﾃｨｰ､ﾌｧｯｼｮﾝ､ﾗｲﾌｽﾀｲﾙ､ｶﾙﾁｬｰ､ﾌｰﾄﾞからお好きなｶﾃｺﾞﾘｰを選択のうえ､商品をお探しください｡ﾗｸﾞｼﾞｭｱﾘｰﾍﾟｰｼﾞには､ﾌﾞﾗﾝﾄﾞ別のﾍﾟｰｼﾞも設けております｡<br clear="none">
<br clear="none">
(3)最新ﾋﾟｯｸｱｯﾌﾟから商品を探す<br clear="none">
新着商品やおすすめ商品は､ﾄｯﾌﾟﾍﾟｰｼﾞの｢<span class="marginbottom10">PICK UP ITEM</span>｣にてご紹介しております｡ <br clear="none"><br clear="none">
(4)履歴一覧から商品を探す<br clear="none">
過去にご購入希望やお問い合わせなどをしていただいた商品については､履歴一覧ﾍﾟｰｼﾞでご確認いただけます｡<br clear="none">
<br clear="none">
<a href="./?f=mbpage/guide/search04&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;くわしくはこちらをご覧ください｡</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>