<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝのご利用方法</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝのご利用方法</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝは､お得意さまとそのご家族さまだけに特別な商品やｻｰﾋﾞｽをご案内する会員制ｻｲﾄです｡担当者にお問い合わせいただくには､会員登録が必要です(ただし､一部のお客さまには会員登録いただけない場合がございます｡あらかじめご了承ください｡)｡<br clear="none">
気になる商品などがございましたら､ｻｲﾄ上からお気軽にお問い合わせください｡お問い合わせ承り後､お客さまの担当者からﾒｰﾙまたはお電話にてご連絡差しあげます｡正式なご注文は､お客さまの担当者経由で承ります｡商品はご希望の日時､場所にお届けもしくは配送させていただきます｡

<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>