<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ご購入希望､ご試用希望､ご予約希望､くわしい情報希望について</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ご購入希望､ご試用希望､ご予約希望､くわしい情報希望について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

本ｻｲﾄに掲載されている商品のご購入やご試用、ご予約､くわしい情報を希望されるお客さまは､商品詳細画面にて数量やｻｲｽﾞなどを選択後､｢ご購入希望｣または｢ご試用希望｣｢ご予約希望｣｢くわしい情報希望｣ﾎﾞﾀﾝからお申し込みください｡<br clear="none"><br clear="none">
<a href="./?f=mbpage/guide/flow02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;くわしくはこちらをご覧ください｡</span></a> <br clear="none">
<br clear="none">

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>