<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ご注文について</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ご注文について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

＜ご注文の流れ＞<br clear="none">
(1)ご購入希望／ご試用希望／ご予約希望／くわしい情報希望<br clear="none">
<a href="./?f=mbpage/guide/flow02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品のご購入やご試用希望､ご予約希望､くわしい情報を希望する</span></a><br clear="none">
<br clear="none">
(2)担当者によるご確認<br clear="none"><br clear="none">
(3)商品手配<br clear="none"><br clear="none">
(4)お届け<br clear="none">
お届け方法(ご自宅お届け/ｻﾛﾝお渡し/売場お渡し/ご自宅配送)<br clear="none">
<a href="./?f=mbpage/guide/flow07&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;お問い合わせ後の流れについて</span></a><br clear="none">
<br clear="none">
(5)お支払い<br clear="none">
お支払い方法(ｸﾗﾌﾞ･ｵﾝ/ﾐﾚﾆｱﾑｶｰﾄﾞ ｾｿﾞﾝ ｺﾞｰﾙﾄﾞ/現金/他社ｶｰﾄﾞ/その他)<br clear="none">
<a href="./?f=mbpage/guide/flow08&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;お支払いについて</span></a><br clear="none">
<br clear="none">

<a href="./?f=mbpage/guide/introduction&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞ</span></a><br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/first&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;初めての方へTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>