<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ｻｰﾋﾞｽのお問い合わせについて</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ｻｰﾋﾞｽのお問い合わせについて</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

(1)専門販売員ｻｰﾋﾞｽについて､お客さまの担当者へお問い合わせすることが可能です｡各ｻｰﾋﾞｽ詳細ﾍﾟｰｼﾞにて｢お問い合わせ｣ﾎﾞﾀﾝをｸﾘｯｸし､お問い合わせ内容をご入力のうえ､｢確認画面へ｣をｸﾘｯｸしてください｡<br clear="none"><br clear="none">
(2)｢お問い合わせ 内容確認｣画面では､お客さまが入力されたお問い合わせ内容が表示されます｡内容をご確認のうえ､正しければ｢送信｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br clear="none"><br clear="none">
(3)｢お問い合わせ 完了｣画面では､お問い合わせ番号が表示されます｡また､ご確認のためにご登録いただいているﾒｰﾙｱﾄﾞﾚｽへ受付完了のﾒｰﾙをお送りいたします｡お問い合わせ内容につきましては､お客さまの担当者より追ってご連絡差しあげます｡



<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>