<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>専門販売員ｻｰﾋﾞｽの予約をする</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">専門販売員ｻｰﾋﾞｽの予約をする</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

(1)本ｻｲﾄでは､西武渋谷店に在籍する専門販売員のｻｰﾋﾞｽご予約を承っております｡ﾄｯﾌﾟﾍﾟｰｼﾞ下部の｢専門販売員ｻｰﾋﾞｽのご紹介｣ﾊﾞﾅｰをｸﾘｯｸし､ｻｰﾋﾞｽ一覧をご確認ください｡<br clear="none"><br clear="none">
(2)一覧よりご希望のｻｰﾋﾞｽを選択し､各ｻｰﾋﾞｽ詳細ﾍﾟｰｼﾞにてご希望日時やご要望をご入力後､｢ご予約希望｣ﾎﾞﾀﾝよりお申し込みください｡<br clear="none"><br clear="none">
(3)｢ご予約希望 内容確認｣画面では､お客さまが入力されたご予約希望の内容が表示されます｡内容をご確認のうえ､正しければ｢確定｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br clear="none">
ご希望内容につきましては､お客さまの担当者より追ってご連絡差し上げます｡<br clear="none">
※｢ご予約希望｣ﾎﾞﾀﾝは､受付期間以外は表示されません｡お問い合わせなどが必要な場合は､｢お問い合わせ｣ﾎﾞﾀﾝよりご用命ください｡


<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>