<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>お問い合わせ後の流れについて</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">お問い合わせ後の流れについて</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<br />
本ｻｲﾄからお問い合わせいただいた内容につきましては､お客さまの担当者からﾒｰﾙまたはお電話にてご回答いたします｡商品のご購入希望やご試用希望、ご予約希望､くわしい情報希望をいただいた場合は､お客さまの担当者からお申し込み内容ご確認の電話またはﾒｰﾙを送らせていただきます｡(商品､個数､色､柄､包装内容､のし､お届け､お支払い方法等)<br clear="none"><br clear="none">
＜お届けについて＞<br clear="none">
ご希望の場所､日時にお届けもしくは配送させていただきます｡<br clear="none">
※ご自宅･勤務先･ご指定の場所でのお受け取り､売場･ｻﾛﾝでのお受け取りやご自宅配送など､お客さまのご要望にお応えします｡


<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>