<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>商品のご購入やご試用､ご予約､くわしい情報を希望する</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">商品のご購入やご試用､ご予約､くわしい情報を希望する</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

(1)本ｻｲﾄに掲載されている商品は､ｻｲﾄ上で｢ご購入希望｣｢ご試用希望｣｢ご予約希望｣｢くわしい情報希望｣のいずれかを承っております｡<br clear="none">
各商品のご購入やご試用､ご予約､くわしい情報をご希望のお客さまは､数量やｻｲｽﾞ等をご入力のうえ､ﾎﾞﾀﾝ(｢ご購入希望｣｢ご試用希望｣｢ご予約希望｣｢くわしい情報希望｣のいずれか)をｸﾘｯｸしてください｡<br clear="none">
※ご希望いただける項目(｢ご購入希望｣｢ご試用希望｣｢ご予約希望｣｢くわしい情報希望｣)は､商品によって異なります｡お申し込み前に､各商品ﾍﾟｰｼﾞにてご確認ください｡<br clear="none">
<br clear="none">
(2)内容確認画面では､お客さまが入力されたご希望内容が表示されます｡内容をご確認のうえ､正しければ｢確定｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br clear="none"><br clear="none">
(3)ご希望内容につきましては､お客さまの担当者から追ってご連絡差し上げます｡<br clear="none">
※｢ご購入希望｣｢ご試用希望｣｢ご予約希望｣｢くわしい情報希望｣ﾎﾞﾀﾝは､受付期間前や受付期間終了後には表示されません｡ｷｬﾝｾﾙ待ちをご希望のお客さまは､｢商品お問い合わせ｣ﾎﾞﾀﾝからご用命ください｡

<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>