<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ご利用ｶﾞｲﾄﾞ</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ご利用ｶﾞｲﾄﾞ</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />
■基本的なご利用方法<br clear="none">
<a href="./?f=mbpage/guide/basic01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝのご利用方法</span></a><br clear="none">
<a href="./?f=mbpage/guide/basic02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品について</span></a><br clear="none">
<a href="./?f=mbpage/guide/basic03&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご購入希望､ご試用希望、ご予約希望､くわしい情報希望について</span></a><br clear="none">
<a href="./?f=mbpage/guide/basic04&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品お問い合わせについて</span></a><br clear="none">
<br clear="none">

■商品の探し方<br clear="none">
<a href="./?f=mbpage/guide/search01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ｷｰﾜｰﾄﾞから商品を探す</span></a><br clear="none">
<a href="./?f=mbpage/guide/search02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ｶﾃｺﾞﾘｰから商品を探す</span></a><br clear="none">
<a href="./?f=mbpage/guide/search03&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;最新ﾋﾟｯｸｱｯﾌﾟから商品を探す</span></a><br clear="none">
<a href="./?f=mbpage/guide/search04&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;履歴一覧から商品を探す</span></a><br clear="none">
<br clear="none">
■お買い物までの基本的な流れ<br clear="none">
<a href="./?f=mbpage/guide/flow01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ﾛｸﾞｲﾝをする</span></a><br clear="none">
<a href="./?f=mbpage/guide/flow02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品のご購入やご試用､ご予約､くわしい情報を希望する</span></a><br clear="none">
<a href="./?f=mbpage/guide/flow03&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品のお問い合わせをする</span></a><br clear="none">
<a href="./?f=mbpage/guide/flow06&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;担当者へのお問い合わせについて</span></a><br clear="none">
<a href="./?f=mbpage/guide/flow07&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;お問い合わせ後の流れについて</span></a><br clear="none">
<a href="./?f=mbpage/guide/flow08&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;お支払いについて</span></a><br clear="none">
<br clear="none">

■お取り扱い商品について<br clear="none">
<a href="./?f=mbpage/guide/item01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ｻｲｽﾞについて</span></a><br clear="none">
<a href="./?f=mbpage/guide/item02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ｶﾗｰについて</span></a><br clear="none">
<br clear="none">

■ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝ会員ｻｰﾋﾞｽについて<br clear="none">
<a href="./?f=mbpage/guide/service01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;新規会員登録について</span></a><br clear="none">
<a href="./?f=mbpage/guide/service02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご家族さまの会員登録について</span></a><br clear="none">
<a href="./?f=mbpage/guide/service03&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ﾒｰﾙﾏｶﾞｼﾞﾝについて</span></a><br clear="none">
<a href="./?f=mbpage/guide/service04&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;履歴一覧について</span></a><br clear="none">
<a href="./?f=mbpage/guide/service05&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;会員情報変更について</span></a><br clear="none">
<a href="./?f=mbpage/guide/service06&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ﾊﾟｽﾜｰﾄﾞをお忘れの場合</span></a><br clear="none">
<a href="./?f=mbpage/rule/agreement_s&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;会員規約について</span></a><br clear="none">

<br clear="none">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1_2" style="text-align:center; color:#ffffff;">｢お試しでご利用｣について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />
<a href="./?f=mbpage/guide/trial01&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;｢お試しでご利用｣とは</span></a><br clear="none">
<a href="./?f=mbpage/guide/trial02&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;｢お試しでご利用｣のﾛｸﾞｲﾝ方法</span></a><br clear="none">
<a href="./?f=mbpage/guide/trial03&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;商品お問い合わせについて</span></a><br clear="none">
<a href="./?f=mbpage/guide/trial04&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;会員登録について</span></a><br clear="none">
<br clear="none">

<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>