<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>推奨端末について</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">推奨端末について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />
本ｻｲﾄは以下の機種を推奨端末としています｡<br clear="none">
※推奨端末以外でも一部使用できる端末はありますが､表示/機能等正常に扱えない可能性があります｡<br clear="none">
<br clear="none">
●docomo<br clear="none">
FOMA701ｼﾘｰｽﾞ/902ｼﾘｰｽﾞ以上<br clear="none">
<br clear="none">
●au<br clear="none">
CDMA1X Winｼﾘｰｽﾞ<br clear="none">
<br clear="none">
●softbank<br clear="none">
3Gｼﾘｰｽﾞ<br clear="none">
<br clear="none">
※上記推奨端末でも一部機能がご利用頂けない場合がございます｡<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/introduction&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;本ｻｲﾄについてTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>