<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ﾒｰﾙﾏｶﾞｼﾞﾝについて</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">ﾒｰﾙﾏｶﾞｼﾞﾝについて</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

ﾒｰﾙﾏｶﾞｼﾞﾝ配信にご登録いただきますと､選りすぐりの商品情報や耳寄りのお得情報などを｢ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝﾒｰﾙﾏｶﾞｼﾞﾝ｣として､ご登録いただいたﾊﾟｿｺﾝ･携帯電話のﾒｰﾙｱﾄﾞﾚｽにお届けいたします｡なお､新たにご登録いただく前には､必ずﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰをお読みください｡<br clear="none">
※携帯ﾒｰﾙｱﾄﾞﾚｽをご利用の会員さまでﾒｰﾙ受信制限を設定されている方は､ﾄﾞﾒｲﾝ｢@sogo-seibu.co.jp｣から受信できるよう設定をお願いいたします｡<br clear="none"><br clear="none">
ﾒｰﾙﾏｶﾞｼﾞﾝ配信の登録を変更する場合<br clear="none">
ﾒｰﾙﾏｶﾞｼﾞﾝ配信の登録を変更したい場合は､ﾄｯﾌﾟﾍﾟｰｼﾞにある｢会員情報変更｣から行ってください｡<br clear="none"><br clear="none">
[配信を希望される方]<br clear="none">
｢ﾒｰﾙﾏｶﾞｼﾞﾝ｣の欄にある､ﾊﾟｿｺﾝ･携帯電話それぞれお望みの項目を｢希望する｣にお切り替えください｡<br clear="none"><br clear="none">
[配信を停止したい方]<br clear="none">
｢ﾒｰﾙﾏｶﾞｼﾞﾝ｣の欄にある､ﾊﾟｿｺﾝ･携帯電話それぞれお望みの項目を｢希望しない｣にお切り替えください｡配信を停止いたします｡<br clear="none"><br clear="none">
※個人情報保護法の順守という観点から､ﾒｰﾙﾏｶﾞｼﾞﾝの配信停止をご希望の場合につきましては､お手数ではございますが､お客さまご自身で配信停止のお手続きをお願いいたしております｡<br clear="none">
※ｼｽﾃﾑの都合上､解除依頼のあとも1~2回ﾒｰﾙが届く場合がございます｡あらかじめご了承ください｡<br clear="none">
※西武･そごうからの重要なお知らせにつきましては､会員さま全員にお送りさせていただく場合がございます｡<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>