<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>新規会員登録について</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa; }
]]></style>
</head>
<body id="Rule" class="root" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" style="text-align:center; color:#ffffff;">新規会員登録について</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />

<br />

ﾛｲﾔﾙ･ﾌﾟﾗﾁﾅ ｾﾚｸｼｮﾝは､ｸﾗﾌﾞ･ｵﾝ ｶｰﾄﾞ ｾｿﾞﾝｺﾞｰﾙﾄﾞ､ﾐﾚﾆｱﾑ ｶｰﾄﾞ ｾｿﾞﾝｺﾞｰﾙﾄﾞ 会員さま限定のｻｲﾄです｡ご登録は弊社からご案内を差しあげたお客さまおよびそのご家族さまに限ります｡ﾛｸﾞｲﾝﾍﾟｰｼﾞの｢初めての方はこちらから｣ﾎﾞﾀﾝをｸﾘｯｸし､ご利用規約にご同意いただいたうえ､ご登録いただいているｸﾗﾌﾞ･ｵﾝ /ﾐﾚﾆｱﾑｶｰﾄﾞ会員のｶｰﾄﾞ情報とご登録時のご自宅電話番号をご入力ください｡登録情報ご入力後､ご登録いただいたﾒｰﾙｱﾄﾞﾚｽに認証ﾒｰﾙをお送りします｡ﾒｰﾙに記載されたURLにｱｸｾｽ後､ご登録完了となります｡

<br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />
<a href="./?f=mbpage/guide/index&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;">&gt;&gt;ご利用ｶﾞｲﾄﾞTOPへ戻る</span></a> <br clear="none">
<br clear="none">
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0;" size="2" />

{%%authfooter%%}
</div>