<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Cara Italia!（カーラ イタリア） | ファッション | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/italia/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/italia/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/italia/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    <script src="../page/italia/js/mouseover.js" type="text/javascript" charset="EUC-JP"></script>
<!--[if IE 6]>
<script src="../page/italia/js/DD_belatedPNG.js" type="text/javascript" charset="EUC-JP"></script>
<script type="text/javascript">
var oldFixPng = DD_belatedPNG.fixPng;
    DD_belatedPNG.fixPng = function (el) {
        oldFixPng(el);
        if (el.vml && el.vml.image.fill.getAttribute("src").match(/_off\./)) {
            el.vml.image.shape.attachEvent('onmouseenter', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_off.", "_ov."));
            });
            el.vml.image.shape.attachEvent('onmouseleave', function() {
                var image = el.vml.image.fill;
                image.setAttribute("src", image.getAttribute("src").replace("_ov.", "_off."));
            });
        }
    };
DD_belatedPNG.fix('img, .png');
</script>
<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">Cara Italia!（カーラ イタリア）</li>
	</ul>
	<div id="main">
    <h1><img src="../page/italia/images/ita_tl.jpg" width="949" height="292" alt="ROYAL PLATINUM SELECTION カーラ イタリア！ Cara Italia! 〜親愛なるイタリア〜 ■10月15日（火）まで この秋、西武・そごうでは、秘密にしたい、とっておきのイタリアをご紹介します。どうぞ、知られざるイタリアを存分に楽しんでください。" /></h1>
    <div class="item_btnarea"><p><img src="../page/italia/images/img01.jpg" width="262" height="727" alt="Cara Italia!（カーラ イタリア）" /><img src="../page/italia/images/img02.jpg" width="403" height="727" alt="Cara Italia!（カーラ イタリア）" /><img src="../page/italia/images/img03.jpg" width="284" height="727" alt="Cara Italia!（カーラ イタリア）" /></p>
    <div class="btn01"><a href="../detail/?a=Item_detail&id=3852&{%%svid%%}"><img src="../page/italia/images/btn01_off.png" width="173" height="83" alt="Ladies item ピエール ルイ マシァ ファーストール" /></a></div>
    <div class="btn02"><a href="../detail/?a=Item_detail&id=3851&{%%svid%%}"><img src="../page/italia/images/btn02_off.png" width="173" height="83" alt="Mens item サルトリオ ジャケット" /></a></div>
    <div class="btn03"><a href="../detail/?a=Item_detail&id=3844&{%%svid%%}"><img src="../page/italia/images/btn03_off.png" width="173" height="83" alt="Wine こだわりイタリア自然派 赤ワイン 3本セット" /></a></div>
    <div class="btn04"><a href="../detail/?a=Item_detail&id=3854&{%%svid%%}"><img src="../page/italia/images/btn04_off.png" width="173" height="83" alt="Ladies ステファニア カレーラ コート" /></a></div>
    <div class="btn05"><a href="../detail/?a=Item_detail&id=3853&{%%svid%%}"><img src="../page/italia/images/btn05_off.png" width="173" height="83" alt="Ladies ステファニア カレーラ フード付コート" /></a></div>
    </div>
    
    <div class="item_btnarea2">
    	<ul class="clearBoth">
        	<li><a href="../detail/?a=Item_detail&id=3849&{%%svid%%}"><img src="../page/italia/images/btn2_1_off.png" width="423" height="160" alt="Mens item デルガ ＜イタリアンファクトリーバッグコレクション＞ トートバッグ" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3845&{%%svid%%}"><img src="../page/italia/images/btn2_2_off.png" width="423" height="160" alt="Tableware イッケンドルフ ＜デコ コレクション＞  ウオーターグラス ブルー6客" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3850&{%%svid%%}"><img src="../page/italia/images/btn2_3_off.png" width="423" height="160" alt="Mens item デルガ ＜イタリアンファクトリーバッグコレクション＞ かぶせショルダーバッグ" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3847&{%%svid%%}"><img src="../page/italia/images/btn2_4_off.png" width="423" height="160" alt="Tableware ラビターレ＜デュオ＞  コーヒーカップ＆ソーサー" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3848&{%%svid%%}"><img src="../page/italia/images/btn2_5_off.png" width="423" height="160" alt="Mens item デルガ ＜イタリアンファクトリーバッグコレクション＞ ボストンバッグ" /></a></li>
            <li><a href="../detail/?a=Item_detail&id=3846&{%%svid%%}"><img src="../page/italia/images/btn2_6_off.png" width="423" height="160" alt="Tableware ラビターレ＜デュオ＞  ティーカップ＆ソーサー" /></a></li>
        </ul>
    </div>
    
    <p class="mb30"><img src="../page/italia/images/ita_tl02.jpg" width="949" height="221" alt="フロアに広がる、イタリアの魅力。気分はイタリア小旅行。 カーラ イタリア！ Cara Italia! 〜親愛なるイタリア〜 会期 西武池袋本店：9月26日（木）〜10月1日（火） そごう横浜店：10月3日（木）〜8日（火） そごう千葉店：10月10日（木）〜15日（火） 各店の催事場にてイタリアフェアを開催。オリーブオイルは100種類以上をそろえ、ワインはイタリア全土20州から集まります。本場のバールの雰囲気をお楽しみいただけるイートインも充実。また今回は、イタリアの中にある独立国、サンマリノ共和国の味覚も紹介いたします。" /></p>
    
</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
