<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>ポイントプレゼント | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/point_cp_2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/point_cp_2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/point_cp_2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/point_cp_2016/css/fontsizesmall.css" type="text/css" title="text size small" />
    <link rel="stylesheet" href="../page/point_cp_2016/css/layout.css" type="text/css" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
		<li id="presentLocation">ポイントプレゼント</li>
	</ul>

	<div id="main">
		<div id="main_visual">
			<div><img src="../page/point_cp_2016/images/img01.jpg" width="1200" height="30" alt="ロイヤル・プラチナ セレクション会員さま限定"></div>
			<div><img src="../page/point_cp_2016/images/img02.jpg" width="1200" height="380" alt="特別企画　サイトでラッキーナンバーを見つけた方に1,000ポイントプレゼント！　抽選で各回100名さま、合計200名さまに、クラブ・オン／ミレニアムポイント1,000ポイントをプレゼントいたします。　チャンスは2回　PART 1 受付期間終了　PART 2 2月15日（月）〜2月21日（日）"></div>
		</div>
		<div id="main_contents">
			<div id="contents04">
				<div class="img01"><img src="../page/point_cp_2016/images/img05.jpg" width="950" height="63" alt="応募ページ" /></div>
				<div class="img02"><img src="../page/point_cp_2016/images/img06.gif" width="882" height="106" alt="1 先ほどの3桁のラッキーナンバーを、下記の「担当者へのご希望内容」欄にご入力ください。　2 下記の「応募する」ボタンを押してください。" /></div>
				<ul>
					<li>※PART 1とPART 2でテーマ・メッセージおよびラッキーナンバーが変わります。</li>
					<li>※ポイントはご登録の本会員さまの会員番号にお付けいたします。＜3月中旬予定＞</li>
				</ul>
				<div class="img03"><img src="../page/point_cp_2016/images/img07.jpg" width="942" height="45" alt="抽選の結果は2月26日（金）に当選者の方へのみメールにてお知らせいたします。" /></div>
				<p class="txt01">※次の画面で確定ボタンを押していただくことで応募が完了いたします。</p>
				<div class="img04"><img src="../page/point_cp_2016/images/img08.gif" width="56" height="36" alt="" /></div>
			</div>
		</div>

		<div id="purchaseForm">
			<h2>ご希望内容</h2>
			<form name="form1" action="./?a=AcceptConfirm&amp;id=7039&amp;svid=1" method="POST">
			<input type="hidden" name="a" value="AcceptConfirm">
			<input type="hidden" name="id" value="7039">
			<input type="hidden" name="option_flg" value="0">
			<input type="hidden" name="pre_flg" value="0">
			<input type="hidden" name="limit_flg" value="1">
			<input type="hidden" name="svid" value="1">
			<ul id="selectBoxes">
			</ul>
			<h3>ご要望がございましたら以下にお申しつけください。</h3>
			<textarea rows="5" cols="30" name="demand"></textarea>
			<p class="submit3"><a href="javascript:void(0)" onclick="document.form1.submit();return false;">くわしい情報希望</a></p>
			</form>
		</div>

    </div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
