@charset "EUC-JP";
body {
	background:#fff;
}
#main {
	width: 950px;
	margin: 0 auto;
	color: #4d392a;
}

#rpsGold_idx_mainSec {
}


#rpsGold_idx_sec01:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.rpsGold_idx_courseList01,
.rpsGold_idx_courseList03 {
	float: left;
	width: 467px;
}

.rpsGold_idx_courseList02,
.rpsGold_idx_courseList04 {
	float: right;
	width: 467px;
}

.rpsGold_idx_shop {
	position: relative;
}
.rpsGold_idx_shop01 a {
	position: absolute;
	left: 251px;
	top: 318px;
}
.rpsGold_idx_shop02 a {
	position: absolute;
	left: 251px;
	top: 239px;
}
.rpsGold_idx_shop03 a {
	position: absolute;
	left: 252px;
	top: 164px;
}
.rpsGold_idx_shop04 a {
	position: absolute;
	left: 252px;
	top: 164px;
}
.rpsGold_idx_shop05 a {
	position: absolute;
	left: 252px;
	top: 166px;
}
.rpsGold_idx_shop a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='**.png',sizingMethod=scale);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7; 
	cursor:pointer;
	*zoom:1;
}
#rpsGold_idx_sec02 {
	margin-top: 53px;
	clear: both;
}
#rpsGold_idx_sec02:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
#rpsGold_idx_sec02 .rpsGold_idx_sec02_inner01 {
	float: left;
	width: 466px;
}
#rpsGold_idx_sec02 .rpsGold_idx_sec02_inner02 {
	float: right;
	width: 476px;
}

.rpsGold_itemPage #main h1 {
	padding:0;
}

.rpsGold_itemPage #main {
	width: 950px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.rpsGold_itemPage #main img {
	vertical-align: bottom;
}
.rpsGold_itemPage .rpsGold_ttl a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='**.png',sizingMethod=scale);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7; 
	cursor:pointer;
	*zoom:1;
}

.rpsGold_itemPage .rpsGold_table {
	padding: 10px;
}

.rpsGold_itemPage .rpsGold_table table {
	width: 100%;
	border-bottom: 3px solid #b4910c;
	border-left: 3px solid #b4910c;
	border-right: 3px solid #b4910c;
}

.rpsGold_itemPage .rpsGold_table th {
	width: 50%;
	font-size: 20px;
	color: #fff;
	background: #b4910c;
	text-align: center;
	line-height: 40px;
}

.rpsGold_itemPage .rpsGold_table th.rpsGold_table_ttl02 {
	border-left: 1px solid #fff;
}

.rpsGold_itemPage .rpsGold_table td {
	height: 50px;
	padding: 5px 5px 5px 20px;
	vertical-align: middle;
	background: #f5f2dc;	
	border-left: 1px solid #b4910c;
	font-size: 14px;
}

.rpsGold_itemPage .rpsGold_table .rpsGold_table_attention {
	width: 27%;
	border-left: 0;
}

.rpsGold_itemPage .rpsGold_table .rpsGold_table_price {
	font-size: 16px;		
}

.rpsGold_itemPage .rpsGold_table td.rpsGold_table_sttl {
	width: 25%;
	padding: 5px 10px;
	border-left: none;
}

.rpsGold_itemPage .rpsGold_table_course01 td {
	background: #f7f7f4;
	border-bottom: 3px solid #b4910c;
}
.rpsGold_itemPage .rpsGold_table_course01 .rpsGold_table_sttl,
.rpsGold_itemPage .rpsGold_table_course01 .rpsGold_table_price {
	background: #eae9e2;		
}
.rpsGold_itemPage .rpsGold_table_course02 td,
.rpsGold_itemPage .rpsGold_table_course03 td,
.rpsGold_itemPage .rpsGold_table_course04 td {
	background: #fbfaf1;
	border-bottom: 3px solid #b4910c;
}
.rpsGold_itemPage .rpsGold_table_course02 .rpsGold_table_sttl,
.rpsGold_itemPage .rpsGold_table_course02 .rpsGold_table_price,
.rpsGold_itemPage .rpsGold_table_course03 .rpsGold_table_sttl,
.rpsGold_itemPage .rpsGold_table_course03 .rpsGold_table_price,
.rpsGold_itemPage .rpsGold_table_course04 .rpsGold_table_sttl,
.rpsGold_itemPage .rpsGold_table_course04 .rpsGold_table_price {
	background: #f5f2dc;		
}

.rpsGold_itemPage .rpsGold_table_course02 td,
.rpsGold_itemPage .rpsGold_table_course03 td {
	border-bottom: 1px solid #b4910c;			
}

.rpsGold_itemPage .rpsGold_table_notice {
	font-size: 14px;
	margin-top: 20px;
}


.rpsGold_itemPage .rpsGold_coupon {
	position: relative;
	width: 930px;
	margin: 10px auto 40px;
}

.rpsGold_itemPage .rpsGold_coupon img {
	position: relative;
}

.rpsGold_itemPage .rpsGold_coupon .rpsGold_coupon_bg {
	position: absolute;
	left: 0;
	top:0;
}

.rpsGold_itemPage .rpsGold_coupon .rpsGold_btnArea01 {
	position: absolute;
	width: 210px;
	height: 51px;
	background: #fff;
}

.rpsGold_itemPage .rpsGold_cat01  {
	height: 174px;
}
.rpsGold_itemPage .rpsGold_cat02  {
	height: 184px;
}
.rpsGold_itemPage .rpsGold_cat03  {
	height: 209px;
}
.rpsGold_itemPage .rpsGold_cat04  {
	height: 235px;
}.rpsGold_itemPage .rpsGold_cat05  {
	height: 184px;
}

.rpsGold_itemPage .rpsGold_cat01 .rpsGold_btnArea01 {
	top: 103px;
	left: 702px;
}
.rpsGold_itemPage .rpsGold_cat02 .rpsGold_btnArea01 {
	top: 113px;
	left: 702px;
}
.rpsGold_itemPage .rpsGold_cat03 .rpsGold_btnArea01 {
	top: 139px;
	left: 702px;
}
.rpsGold_itemPage .rpsGold_cat04 .rpsGold_btnArea01 {
	top: 165px;
	left: 702px;
}
.rpsGold_itemPage .rpsGold_cat05 .rpsGold_btnArea01 {
	top: 113px;
	left: 702px;
}

.rpsGold_itemPage .rpsGold_btnArea02 {
	text-align: right;			
}

.rpsGold_itemPage .rpsGold_coupon .rpsGold_btnArea01 a:hover img,
.rpsGold_itemPage .rpsGold_btnArea02 a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='**.png',sizingMethod=scale);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7; 
	cursor:pointer;
	*zoom:1;
}
		
