*html body { zoom: 60%; }
body {
	-webkit-print-color-adjust: exact;
}
img {
	-ms-interpolation-mode: bicubic;
}
.rpsGold_table table {
	*border-top: 3px solid #b4910c !important;
}
.rpsGold_table th {
	*line-height: 37px;
	*border-bottom: 1px solid #b4910c;
	*color: #b4910c;
	*background: #fff;
}
.rpsGold_table th.rpsGold_table_ttl02 {
	*border-left: 1px solid #b4910c;
}

/* footer no display */
.fortop, #publication, #footer {
	display: none !important;
}