@charset "EUC-JP";

/*module*/
.clfx {zoom: 1;}
.clfx:after {content: "";  display: block;  clear: both;}
.fl {float:left !important;}
.fr {float:right !important;}


/*#main*/

#main a {
	color:#000;
}
#main a:hover {
	text-decoration: none;
}
#main a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha(opacity=60)";
}


/*#sec_header*/
#main #sec_header {
	background:#000;
	width:100%;
	padding-bottom:40px;
}
#main #sec_header .inner {
	width:950px;
	margin:0px auto;
}
#main #sec_header h1 {
	height:110px;
}

/*#sec_contents*/
#main #sec_contents {
	width:950px;
	margin:0 auto;
	padding-top:80px;
}
#main #sec_contents h2 {
	padding-top:80px;
	margin-bottom:30px;
}

#main #sec_contents ul {
	margin-bottom:30px;
}
#main #sec_contents ul li {
	padding-left:1em;
	font-size:16px;
	line-height:1.8em;
	
}
#main #sec_contents ul li span {
	margin-left:-1em;
	display:block;
	height:0.5em;
	width:0.5em;
	float:left;
	background:#d6d1c1;
	content:"";
	margin-top:0.65em;
	
}
#main #sec_contents p {
	font-size:15px;
	margin-bottom:60px;
}

/*#sec_footer*/
#sec_footer {
	width:100%;
	background:#e4e4e4;
	padding:30px 0 36px;
	margin-bottom:60px;
}
#sec_footer .inner {
	width:950px;
	margin:0 auto;
}
#sec_footer p {
	margin:0px auto 10px;;
	display:block;
	text-align:center;
}
#sec_footer a {
	display:block;
	text-align:center;
	width:600px;
	margin:auto;;
}