<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャル セレクト | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/bs_specialselect/js/page.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">スペシャル セレクト</li>
</ul>

<div id="main">
<div id="ss_wrap">
<h1><img src="../page/bs_specialselect/images/ss_ttl.gif" width="403" height="105" alt="名品との出合いから始まる、上質な生活 スペシャル セレクト" /></h1>
<p id="copy_txt"><img src="../page/bs_specialselect/images/ss_txt_copy.gif" width="880" height="75" alt="ロイヤル・プラチナ セレクションが厳選した名品をご紹介いたします。日々の暮らしを彩る名品をピックアップしました。" /></p>

<p id="bkntitle"><img src="../page/bs_specialselect/images/ss_bkn.gif" width="129" height="20" /></p>
<dl id="pullDown">
<dt><a class="alpha2"><img src="../page/bs_specialselect/images/ss_icn_pdown.gif" width="24" height="24" alt="" /></a></dt>
<dd><a>2015年7月7日</a>
	<ul id="sub" class="disNone">
        <li><a class="pdNo" id="no1507_1">2015年7月7日</a></li>
    	<li><a class="pdNo" id="no1506_1">2015年6月26日</a></li>
    	<li><a class="pdNo" id="no1506_1-2">2015年6月18日</a></li>
    	<li><a class="pdNo" id="no1506_1-3">2015年6月5日</a></li>
		<li><a class="pdNo" id="no1505_1">2015年5月7日</a></li>
		<li><a class="pdNo" id="no1504_1">2015年4月22日</a></li>
		<li><a class="pdNo" id="no1504_1-2">2015年4月6日</a></li>
		<li><a class="pdNo" id="no1503_1">2015年3月27日</a></li>
		<li><a class="pdNo" id="no1503_1-2">2015年3月20日</a></li>
		<li><a class="pdNo" id="no1503_1-3">2015年3月13日</a></li>
		<li><a class="pdNo" id="no1502_1">2015年2月23日</a></li>
		<li><a class="pdNo" id="no1502_1-3">2015年2月13日</a></li>
		<li><a class="pdNo" id="no1502_1-4">2015年2月6日</a></li>
		<li><a class="pdNo" id="no1501_1">2015年1月23日</a></li>
		<li><a class="pdNo" id="no1501_1-2">2015年1月7日</a></li>
	</ul>
</dd>
</dl><!-- /#pullDown -->

<div id="contents">

<!-- ▼2015年7月更新分▼ -->
<div class="sectionNo" id="boxno1507_1">


<div id="prd1507_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201507_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=6040&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>
<!-- ▲2015年7月更新分▲ -->


<!-- ▼2015年6月更新分▼ -->
<div class="sectionNo  disNone" id="boxno1506_1">

<ul class="anchor">
<li class="btn1"><a href="#prd1506_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201506_3.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1506_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201506_2.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1506_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201506_1.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1506_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201506_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5995&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1506_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1506_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201506_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5965&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1506_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1506_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1506_1-3" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201506_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5728&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1506_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>
<!-- ▲2015年6月更新分▲ -->


<!-- ▼2015年5月更新分▼ -->
<div class="sectionNo  disNone" id="boxno1505_1">


<div id="prd1505_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201505_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5651&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>
<!-- ▲2015年5月更新分▲ -->


<!-- ▼2015年4月更新分▼ -->
<div class="sectionNo disNone" id="boxno1504_1">

<ul class="anchor">
<li class="lf"><a href="#prd1504_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201504_2.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1504_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201504_1.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>


<div id="prd1504_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201504_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5601&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1504_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1504_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201504_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5578&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1504_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>

<!-- ▲2015年4月更新分▲ -->

<!-- ▼2015年3月更新分▼ -->

<div class="sectionNo  disNone" id="boxno1503_1">

<ul class="anchor">
<li class="btn1"><a href="#prd1503_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201503_3.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1503_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201503_2.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1503_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201503_1.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1503_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201503_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5512&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1503_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1503_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201503_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5474&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1503_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1503_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1503_1-3" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201503_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5466&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1503_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>

<!-- ▲2015年3月更新分▲ -->



<!-- ▼2015年2月更新分▼ -->
<div class="sectionNo  disNone" id="boxno1502_1">

<ul class="anchor">
<li class="btn1"><a href="#prd1502_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201502_3.gif" width="287" height="50" alt="" /></a></li>
<li class="btn1"><a href="#prd1502_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201502_2.gif" width="287" height="50" alt="" /></a></li>
<li class="btn2"><a href="#prd1502_1-4" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201502_1.gif" width="287" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1502_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201502_3.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5438&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1502_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


<div id="prd1502_1-3" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201502_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5231&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1502_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<p class="btn_change"><a href="#prd1502_1-4" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


<div id="prd1502_1-4" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201502_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5219&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1502_1-3" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>

<!-- ▲2015年2月更新分▲ -->




<!-- ▼2015年1月更新分▼ -->
<div class="sectionNo disNone" id="boxno1501_1">


<ul class="anchor">
<li class="lf"><a href="#prd1501_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201501_1.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1501_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201501_2.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>


<div id="prd1501_1" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201501_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5168&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1501_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


<div id="prd1501_1-2" class="section mt20">
<p><img src="../page/bs_specialselect/images/ss_img_201501_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=5090&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1501_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->


</div>

<!-- ▲2015年1月更新分▲ -->


<!-- ピックアップここから -->
<div id="ss_bk">
	<h2><img src="../page/bs_specialselect/images/ss_bk_title.gif" alt="Pick up 過去6ヶ月に掲載いたしました、名品をご紹介いたします。"  width="88px" height="23px" /></h2>
	
<ul>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=5995&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1507_01.jpg" alt="2015.06.26 マンダリン オリエンタル 東京に泊まる2日間" width="273" height="100" /></a></li>
    <li class="mr10"><a href="../detail/?a=Item_detail&id=5965&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1507_02.jpg" alt="2015.06.18 フジモリ　＜サイクルチェア＞ ヴィヴォ" width="273" height="100" /></a></li>
    <li class=""><a href="../detail/?a=Item_detail&id=5728&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1507_03.jpg" alt="2015.06.5 バース デザイン　ハンドメイド バブーシュ" width="273" height="100" /></a></li>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=5651&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1506_01.jpg" alt="2015.05.07 リヤドロ ディープインパクト" width="273" height="100" /></a></li>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=5601&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1505_02.jpg" alt="2015.04.22 レイコップ レイコップPR（ふとんクリーナー）" width="273" height="100" /></a></li>
	<li class=""><a href="../detail/?a=Item_detail&id=5578&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1505_01.jpg" alt="2015.04.06 マークジェイコブス トートバッグ" width="273" height="100" /></a></li>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=5512&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1503_03.jpg" alt="2015.03.27 ゲラン　オーキデ アンペリアル ホワイト ザ セロム／オーキデ アンペリアル ザ プロテクター" width="273" height="100" /></a></li>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=5474&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1503_02.jpg" alt="2015.03.20 ザ・リッツ・カールトン東京 クラブ デラックス（ツインルーム）に泊まる2日間" width="273" height="100" /></a></li>
	<li class=""><a href="../detail/?a=Item_detail&id=5466&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1503_01.jpg" alt="2015.03.13 アイロボット　ブラーバ380j" width="273" height="100" /></a></li>
</ul>

</div><!-- /#ss_bk -->
<!-- ピックアップここまで -->

</div><!-- /#contents -->

</div><!-- /#ss_wrap -->
</div><!-- /#main -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
