<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>スペシャル セレクト | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/bs_specialselect/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/bs_specialselect/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../page/bs_specialselect/js/page.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<li id="presentLocation">スペシャル セレクト</li>
</ul>

<div id="main">
<div id="ss_wrap">
<h1><img src="../page/bs_specialselect/images/ss_ttl.gif" width="403" height="105" alt="名品との出合いから始まる、上質な生活 スペシャル セレクト" /></h1>
<p id="copy_txt"><img src="../page/bs_specialselect/images/ss_txt_copy.gif" width="880" height="75" alt="ロイヤル・プラチナ セレクションが厳選した名品をご紹介いたします。日々の暮らしを彩る名品をピックアップしました。" /></p>

<p id="bkntitle"><img src="../page/bs_specialselect/images/ss_bkn.gif" width="129" height="20" /></p>
<dl id="pullDown">
<dt><a class="alpha2"><img src="../page/bs_specialselect/images/ss_icn_pdown.gif" width="24" height="24" alt="" /></a></dt>
<dd><a>2016年5月16日</a>
	<ul id="sub" class="disNone">
		<li><a class="pdNo" id="no1605_1">2016年5月16日</a></li>
		<li><a class="pdNo" id="no1602_1">2016年2月5日</a></li>
		<li><a class="pdNo" id="no1601_1">2016年1月18日</a></li>
		<li><a class="pdNo" id="no1512_1">2015年12月18日</a></li>
		<li><a class="pdNo" id="no1512_1-2">2015年12月11日</a></li>

	</ul>
</dd>
</dl><!-- /#pullDown -->

<div id="contents">

<!-- ▼2016年5月更新分▼ -->
<div class="sectionNo" id="boxno1605_1">

<div id="prd1605_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201605_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../static/?f=page/sleep/index&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2016年5月更新分▲ -->

<!-- ▼2016年2月更新分▼ -->
<div class="sectionNo disNone" id="boxno1602_1">

<div id="prd1602_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201602_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=7100&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2016年2月更新分▲ -->

<!-- ▼2016年1月更新分▼ -->
<div class="sectionNo disNone" id="boxno1601_1">

<div id="prd1601_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201601_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=7012&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2016年1月更新分▲ -->

<!-- ▼2015年12月更新分▼ -->
<div class="sectionNo  disNone" id="boxno1512_1">

<ul class="anchor">
<li class="lf"><a href="#prd1512_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201512_2.gif" width="430" height="50" alt="" /></a></li>
<li class="rf"><a href="#prd1512_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_201512_1.gif" width="430" height="50" alt="" /></a></li>
</ul><div class="clearBoth"></div>

<div id="prd1512_1" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201512_2.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=6927&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1512_1-2" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_next.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->

<div id="prd1512_1-2" class="section mt20">
  <p><img src="../page/bs_specialselect/images/ss_img_201512_1.jpg" width="880" height="740" alt="" /></p>
<p class="btn_detail"><a href="../detail/?a=Item_detail&id=6918&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_detail.gif" width="331" height="39" alt="商品についてくわしくはこちら" /></a></p>
<p class="btn_change"><a href="#prd1512_1" class="alpha"><img src="../page/bs_specialselect/images/ss_btn_prev.gif" width="49" height="35" alt="" /></a></p>
<div class="clearBoth"></div>
</div><!-- /.section -->
</div>
<!-- ▲2015年12月更新分▲ -->



<!-- ピックアップここから -->
<div id="ss_bk">
	<h2><img src="../page/bs_specialselect/images/ss_bk_title.gif" alt="Pick up 過去6ヶ月に掲載いたしました、名品をご紹介いたします。"  width="88px" height="23px" /></h2>
	
<ul>
<li class="mr10"><a href="../detail/?a=Item_detail&id=7100&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1605_01.jpg" alt="2016.2.5 メゾン マルジェラ　＜5AC＞ラージバッグ" width="273" height="100" /></a></li>
	<li class="mr10"><a href="../detail/?a=Item_detail&id=7012&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1602_01.jpg" alt="2016.1.18 手ばしや　輪島塗箸「百寿箸」" width="273" height="100" /></a></li>
	<li class=""><a href="../detail/?a=Item_detail&id=6927&{%%svid%%}" class="alpha"><img src="../page/bs_specialselect/images/ss_bk_1601_02.jpg" alt="2015.12.18 平安桂甫作　親王飾り ひな人形" width="273" height="100" /></a></li>
</ul>

</div><!-- /#ss_bk -->
<!-- ピックアップここまで -->

</div><!-- /#contents -->

</div><!-- /#ss_wrap -->
</div><!-- /#main -->
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
