@charset "EUC-JP";
body {
	background:#fff;
}

#main {
	background: url(../images/main_bg.jpg) repeat-x center top #eee;
	color: #4d392a;
	font-size: 0;
	margin: 0 auto;
	width: 950px;
}

#mainHeader {
	background: #fff;
	padding: 0 0 30px;
}

#main dl, 
#main ol, 
#main ul { line-height: 0; }

#main .pagetop {
	background: #fff;
	padding: 65px 10px 30px;
	text-align: right;
}

/**************************
general
**************************/
.flt-l { float: left !important; }

.flt-r { float: right !important; }

.clr { clear: both; }

a:hover img {
	filter:alpha(opacity=70) !important;
	opacity:0.70 !important;
	position: relative;
}

/**************************
index
**************************/
.bnr {
	margin: 0 0 33px;
	text-align: center;
}

/**************************
trial
**************************/
li img, 
dt img, 
dd img {
	vertical-align: bottom;
}

div#main.trial div#mainBody ul {
	background: url(../images/trial_mainBody_skincare_list_bg.jpg) no-repeat center top #fff;
}

div#main.trial ul.trial-inquiry {
	background: #fff;
	overflow: hidden;
}

div#main.trial div#trial-method dl, 
div#main.trial div#trial-method p, 
div#main.trial ul.trial-inquiry li, 
div#main.trial ol li {
	float: left;
}

























