<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>2015-2016 高輪会・千種会</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/takanawa2015_2016/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/takanawa2015_2016/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/takanawa2015_2016/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/takanawa2015_2016/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li id="presentLocation">2015-2016 高輪会・千種会 デジタルカタログ</li>
	</ul>
	<div id="main">
<!--コンテンツ-->
<div id="header">
<div class="inner">
<img src="../page/takanawa2015_2016/images/ctl_hd.gif" alt="" width="950" height="101" border="0"/>
<!--/.inner--></div>
<!--/#header--></div>

<div id="catalog">
<div id="contents">

<img src="../page/takanawa2015_2016/images/ctl_cnt01.jpg" alt="" width="950" height="660" border="0" usemap="#Map2" />
<map name="Map2" id="Map2">
  <!--ジュエリー-->
  <area shape="rect" coords="5,494,210,539" href="http://e-catalog.seibu.jp/common/20150930/005/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="5,549,210,595" href="../page/takanawa2015_2016/pdf/jewelry.pdf" target="_blank" title="PDFでカタログを見る" />
  
  <!--ウオッチ-->
  <area shape="rect" coords="251,494,456,539" href="http://e-catalog.seibu.jp/common/20150930/006/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="251,548,456,593" href="../page/takanawa2015_2016/pdf/watch.pdf" target="_blank" title="PDFでカタログを見る" />

<!--ファインアート-->
  <area shape="rect" coords="495,494,700,539" href="http://e-catalog.seibu.jp/common/20150930/002/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="495,549,701,594" href="../page/takanawa2015_2016/pdf/fine_art.pdf" target="_blank" title="PDFでカタログを見る" />


<!--ライフスタイル-->
  <area shape="rect" coords="740,494,945,539" href="http://e-catalog.seibu.jp/common/20150930/001/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="740,549,946,594" href="../page/takanawa2015_2016/pdf/life_style.pdf" target="_blank" title="PDFでカタログを見る" />
  

</map>
<img src="../page/takanawa2015_2016/images/ctl_cnt02.jpg" alt="" width="950" height="597" border="0" usemap="#Map3" />
<map name="Map3" id="Map3">
<!--ファッション-->
<area shape="rect" coords="5,397,210,443" href="http://e-catalog.seibu.jp/common/20150930/003/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="5,452,211,498" href="../page/takanawa2015_2016/pdf/fashion.pdf" target="_blank" title="PDFでカタログを見る" />

  <!--千種会-->
<area shape="rect" coords="250,452,455,498" href="../page/takanawa2015_2016/pdf/chigusakai.pdf" target="_blank" title="PDFでカタログを見る" />
  <area shape="rect" coords="250,397,456,443" href="http://e-catalog.seibu.jp/common/20150930/004/index.html" target="_blank" title="デジタルカタログを見る" />

  <!--ルイヴィトン-->
<area shape="rect" coords="494,397,700,443" href="http://e-catalog.seibu.jp/common/20150930/008/index.html" target="_blank" title="デジタルカタログを見る" />
  <area shape="rect" coords="494,452,700,498" href="../page/takanawa2015_2016/pdf/lv.pdf" target="_blank" title="PDFでカタログを見る" />

<!--ディオール-->
<area shape="rect" coords="741,452,948,498" href="../page/takanawa2015_2016/pdf/dior.pdf" target="_blank" title="PDFでカタログを見る" />
<area shape="rect" coords="741,397,948,442" href="http://e-catalog.seibu.jp/common/20150930/007/index.html" target="_blank" title="デジタルカタログを見る" />



</map>


<!--/#contents--></div>
<!--/#catalog--></div>
    
<!--お問い合わせ-->
		<div class="footer">
			<a href="{tpl_var name=sys_pc_path}?a=InquiryInput&{%%svid%%}" target="_blank">
			<img name="btn" src="../page/takanawa2015_2016/images/inq_btn_off.gif" onMouseOver="document.btn.src='../page/takanawa2015_2016/images/inq_btn_on.gif';"
onMouseOut="document.btn.src='../page/takanawa2015_2016/images/inq_btn_off.gif';" alt="担当者へのお問い合わせ" />
			</a>
			<p>※掲載商品のご確認や詳細につきましては、こちらの「担当者へのお問い合わせ」からご用命ください。</p>
		</div>


<!--注記-->
<div class="bnav">

<div class="flL">

<div class="guide"><a href="https://www.sogo-seibu.jp/common/d_catalog/howto/index.html" target="_blank">≫デジタルカタログ　使い方ガイドはこちら</a></div>
<ul>
<li>【推奨環境】</li>
<li>デジタルカタログをご覧いただくためには、下記の動作環境が必要です。</li>
<li>・Microsoft Internet Explorer 6以上のブラウザ</li>
<li>・横800ピクセル以上　縦600ピクセル以上の解像度</li>
<li>・Adobe Flash プラグイン</li>
<li>・JavaScriptが動作する環境<br />
また、ADSL・CATV・FTTHなどのブロードバンド環境でお楽しみいただくことを推奨します。</li>
</ul>

</div>

<div class="flR">

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="../page/takanawa2015_2016/images/cmn_flash.png" alt="" /></a></th>
    <td>デジタルカタログをご覧いただくためには、Adobe Flash Playerが必要です。<a href="http://get.adobe.com/jp/flashplayer/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
  <tr>
    <th><a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../page/takanawa2015_2016/images/cmn_pdf.png" alt="" /></a></th>
    <td>PDFをご覧いただくためには、Adobe Readerが必要です。<a href="http://get.adobe.com/jp/reader/" target="_blank">こちら</a>から無料でダウンロードできます。</td>
  </tr>
</table>


</div>




<div class="clearBoth"></div>
</div>

<br />
<br />
<br />

</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
