<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>ﾌｪﾙﾒｰﾙ特集</title>
<style type="text/css"><![CDATA[
body,div,p,dl,dd { margin:0; padding:0; } td { font-size:small; }
a:link,a:focus,a:visited { color:#000000; }
img { border-color:#aaaaaa;}
]]></style>
</head>
<body id="List" class="item" bgcolor="#000000" text="#aaaaaa" style="background:#000000; color:#aaaaaa; font-size:small;">
<div id="pagetop" name="pagetop">

<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<div id="h1" align="center" style="text-align:center; color:#ffffff;">ﾌｪﾙﾒｰﾙ特集</div>
<hr style="width:100%;color:#b7b7b7;background-color:#b7b7b7;border:0px solid #b7b7b7;margin:0em 0;" size="1" />
<br />
	<img src="../../mbpage/vermeer/images/vermeer_title.jpg" align="center" />
	<br /><br />

			<div>
				<font color="#ffffff">17世紀、ｵﾗﾝﾀﾞで活躍した画家“ﾌｪﾙﾒｰﾙ”。<br />
彼の制作した作品のなかから特に人気の高い名作をｾﾚｸﾄし、ﾘ・ｸﾘｴｲﾄ作品として再現しました。<br />
最新の技術が生み出す、見事な傑作の数々。この機会に、ぜひお手にとってご覧ください。</font>
</div>

    <br />
    
    <br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />
    
    <div>
	<img src="../../mbpage/vermeer/images/item01s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2100&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「小路」</font></span></a>
		<br />
		<span style="color:#ffffff;">148,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item02s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2101&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「牛乳を注ぐ女」</font></span></a>
		<br />
		<span style="color:#ffffff;">198,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item03s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2102&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「ﾃﾞﾙﾌﾄ眺望」</font></span></a>
		<br />
		<span style="color:#ffffff;">198,000円</span>
        <br />
        <br />
	</div>
</div>
<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item04s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2103&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「青衣の女」</font></span></a>
		<br />
		<span style="color:#ffffff;">138,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item05s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2104&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「真珠の首飾りの少女」</font></span></a>
		<br />
		<span style="color:#ffffff;">148,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item06s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2105&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「真珠の耳飾りの少女」</font></span></a>
		<br />
		<span style="color:#ffffff;">138,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

<div>
	<img src="../../mbpage/vermeer/images/item07s.jpg" style="float:left;margin-bottom:3px;margin-right:6px;margin-bottom:3px;" align="left" />
	<div style=" float:left">
		<a href="../detail/?a=Pitem_detail&id=2106&{%%svid%%}&{%%sid%%}"><span style="color:#ffffff;"><font color="#ffffff">＜ﾌｪﾙﾒｰﾙ＞<br />
ﾘ・ｸﾘｴｲﾄ作品<br />
「ﾚｰｽを編む女」</font></span></a>
		<br />
		<span style="color:#ffffff;">88,000円</span>
		<br />
		<br />
	</div>
</div>

<br />
<hr style="width:100%;color:#5c5c5c;background-color:#5c5c5c;border:0px solid #5c5c5c;margin:0em 0; clear:both" size="1" />
<br />

{%%authfooter%%}

</div>