<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>Royal Platinum News 3月号 MARCH 2014 | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/rpn_news/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/rpn_news/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/rpn_news/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>

<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
<li><a href="../?{%%svid%%}">TOP</a></li>
<!--<li><a href="../item/?a=item_list&category=3&{%%svid%%}">ファッション</a></li>-->
<li id="presentLocation">ロイヤル・プラチナ  ニュース 3月号</li>
</ul>

<div id="main" class="mar2014 clearfix">

<div id="fontSize">
<div id="contents">

<h2 class="mb40"><img src="../page/rpn_news/images/rpn03_ttl.jpg" width="656" height="378" alt="愉楽の 大人修学旅行 学生時代、漠然と引率されて行った京都の街。それから何度か足を運んで馴染みとなっても、大人の知識と子どもの目で再び京都を楽しむ。 &copy;平等院鳳凰堂 平等院鳳凰堂（宇治市）※改修後のイメージCG ※現在修理中のため、拝観は4月1日（火）以降" onContextMenu="return false"></h2>

<div class="clearfix">
<div id="sec01" class="section sec01 clearfix">
<h3><img src="../page/rpn_news/images/rpn03_sttl01.png" width="81" height="376" alt="何度行っても新鮮な京都の魅力"></h3>

<div class="text clearfix">
<div class="photo ml20 mb20"><img src="../page/rpn_news/images/rpn03_photo01.jpg" width="235" height="342" alt="&copy;平等院鳳凰堂 平等院本尊 阿弥陀如来坐像 仏師定朝による丈六仏 ※鳳凰堂にまつられているため、拝観は4月3日（木）以降" onContextMenu="return false"></div>
<p>京都は日本の観光地として“ひとり勝ち”状態と言っていいでしょう。歴史の積み重なり方がほかの地域とはまったく違います。バチカンみたいなものですね。</p>
<p>古いものが古いままではやがて朽ちてしまいますが、京都は常にしっかり更新されているので、多くの古いものがちゃんと残っています。歴史ある旅館も、最新式の設備を取り入れていますし、町家なども新しいスタイルを見せています。こうして、基本を守りながら積極的にリノベーションをする姿勢が正しい継承につながっていると思います。</p>
<p>平等院鳳凰堂は、洛外にあって歴史的な戦火を免れたために、ほぼ昔のまま残っていますが、学術的な考証をしっかりして、創建当初（11世紀ごろ）の姿に復元しようとしています。</p>
<p>平安時代の人が夢見た極楽浄土が再現される、この春の公開（4月1日［火］以降）が楽しみです。</p>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

</div>	

<!-- /.sec01 --></div>

<div id="sec02" class="section sec02 clearfix">
<div class="secColumnL">
<div class="text">
<p>ここ10〜15年の間に、改めて日本の文化を見直す風潮が高まってきました。とくに、戦争に負けて徹底的に日本の文化を否定してきた世代が、日本美術の展覧会に行ったり、名所旧跡を訪ねたりと、日本回帰ともいえる動きを見せています。そうした、日本文化に目を開かれた人たちにとって、京都は贅沢な時間を過ごせる場所ではないでしょうか。</p>
<p>定番の観光地に行くものいいですが、新門前や寺町の古美術商を巡るのも楽しいですよ。自分の感性に合うものが数万円で手に入ることもあります。それが本物だとか偽物だとか気にしなくてもいいんです。</p>
</div>
<div class="photo"><img src="../page/rpn_news/images/rpn03_photo02.jpg" width="517" height="364" alt="渡月橋（京都市）" onContextMenu="return false"></div>
</div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn03_sttl02.png" width="79" height="307" alt="大人の京都の楽しみ方"></h3>
</div>
<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /.sec01-02 --></div>
</div>

<div id="sec03" class="section sec03 mt45 clearfix">
<div class="secColumnL pl20">
<h3><img src="../page/rpn_news/images/rpn03_sttl03.png" width="82" height="417" alt="園なら銀閣寺、仏像なら三十三間堂"></h3>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<div class="text">
<p>京都の観光スポットで私が強くおすすめしたいのは、庭園では銀閣寺の白砂の造作、仏像は三十三間堂の千体千手観音立像です。</p>
<p>銀閣寺の庭園には、銀沙灘（ぎんしゃだん）と呼ばれる段状に盛られた白砂の上に、同じ白砂で円すい形の上を切ったような、向月台と呼ばれる造作があります。かの岡本太郎も驚いたといわれる前衛的な庭です。</p>
<p>何のためのものか、はっきりしたことはわかりませんが、白い砂が月のわずかな光を反射して周囲を明るくするものだと思われます。</p>
<p>私はテレビの取材で、朝の6時に行ったことがあるのですが、朝日が当たるとさらに美しく輝いていました。</p>
<p>三十三間堂は、何よりその仏像の数の多さに圧倒されます。私は、初めて京都を訪ねる人がいたら、必ずここに連れて行きます。</p>
<p>仏像なら、東寺も見どころがあります。平安時代の仏像が立体曼荼羅という当時の配置のまま残っています。</p>
</div>
<div class="photo"><img src="../page/rpn_news/images/rpn03_photo03.jpg" width="253" height="191" alt="東寺（京都市）" class="mr10" onContextMenu="return false"><img src="../page/rpn_news/images/rpn03_photo04.jpg" width="254" height="191" alt="銀閣寺（京都市）" onContextMenu="return false"></div>
</div>

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>
<!-- /#sec02 --></div>


<div id="sec04" class="section sec04 mt45 clearfix">
<div class="secColumnL">
<div class="photo mt20 pr40"><img src="../page/rpn_news/images/rpn04_photo05.jpg" width="150" height="240" alt="並河靖之七宝記念館（京都市）" class="mb10" onContextMenu="return false"><img src="../page/rpn_news/images/rpn04_photo06.jpg" width="150" height="178" alt="河井寛次郎記念館（京都市）" onContextMenu="return false"></div>
<div class="text">
<p>もう何度も京都を訪ね、見どころは見尽くした、という上級者の方にもおすすめの場所があります。</p>
<p>私がよく行くのが、並河靖之七宝記念館です。明治を代表する七宝作家・並河靖之の邸宅兼工房をそのまま小さな美術館として公開しています。琵琶湖疏水（びわこそすい※琵琶湖の水を京都に流すために造られた水路）から水を引いた「水の庭」が京都らしい空間を造っています。</p>
<p>もうひとつは、河井寛次郎記念館です。こちらも同じく邸宅兼仕事場を公開しています。河井寛次郎は大正・昭和にかけて京都を拠点に活動した陶工。作家の当時の暮らしをそのまま体験できる貴重な空間です。
</div>
<!-- /.secColumnL --></div>

<div class="secColumnR">
<h3><img src="../page/rpn_news/images/rpn04_sttl04.png" width="79" height="396" alt="京都旅の上級者におすすめのスポット"></h3>

</div>

<!--div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

<div class="pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div>

<!-- /#sec04 --></div>

<div id="sec5" class="section sec05 mt45 clearfix">
<img src="../page/rpn_news/images/rpn03_infotl.png" width="654" height="24" alt="!information">

<div class="innerbox">
<img src="../page/rpn_news/images/rpn03_info_sub01.png" width="417" height="29" alt="「平等院ミュージアム鳳翔館」" class="mb15">

<img src="../page/rpn_news/images/rpn03_info_sub02.png" width="466" height="63" alt="建築はもとより、国宝の彫刻･絵画･工芸も見どころの平等院鳳凰堂。鳳翔館は、平等院の宝物館として2001年に建てられ、国宝の美術工芸品を収蔵･公開しています。" class="mb15">

<div class="clearfix mb50">
<div class="photo"><img src="../page/rpn_news/images/rpn04_info_ph01.jpg" width="259" height="184" alt="&copy;平等院鳳凰堂" onContextMenu="return false"></div>
<div class="text">◎お問い合わせ<br>
<a href="http://www.byodoin.or.jp/tanbou-in-muesium.html" target="_blank">http://www.byodoin.or.jp/tanbou-in-muesium.html</a><br><br>

京都府宇治市宇治蓮華116<br>
電話：0774（21）2861<br>
開館時間：午前9時〜午後5時（受付は午後4時45分まで）年中無休</div>
</div>

<img src="../page/rpn_news/images/rpn03_info_sub03.png" width="302" height="27" alt="並河靖之七宝記念館" class="mb15">
<div class="mb40">京都府京都市東山区三条通北裏白川筋東入堀池町388<br>
電話：075（752）3277<br>
開館時間：午前10時〜午後4時30分（入館受付は午後4時まで）<br>
休館日：毎週月曜日・木曜日（祝日は開館、翌日休館、夏季・冬季休館あり）<br>
<a href="http://www.kyoto-namikawa.jp" target="_blank">http://www.kyoto-namikawa.jp</a><br>
※3月17日（月）まで冬季休館</div>

<img src="../page/rpn_news/images/rpn03_info_sub04.png" width="268" height="28" alt="河井寛次郎記念館" class="mb15">
<div>京都府京都市東山区五条坂鐘鋳町569<br>
電話：075（561）3585<br>
開館時間：午前10時〜午後５時（入館受付は午後4時30分まで）<br>
休館日：毎週月曜（祝日は開館、翌日休館、夏季・冬季休館あり）<br>
<a href="http://www.kanjiro.jp" target="_blank">http://www.kanjiro.jp</a></div>

</div>
</div>

<div class="caption mt10">写真提供：平等院、銀閣寺（東山慈照寺）、東寺（教王護国寺）、京都市メディア支援センター、並河靖之七宝記念館、河井寛次郎記念館</div>
<!-- /#contents --></div>

<div id="side">
<h1><img src="../page/rpn_news/images/rpn03_logo01.jpg" width="240" height="240" alt="Royal Platinum News 3月号 MARCH 2014"></h1>

<div class="navList clearfix">
<p><img src="../page/rpn_news/images/rpn03_lead.jpg" width="27" height="286" alt="愉楽の大人の修学旅行"></p>
<ul>
<li class="ml30"><a href="#sec01"><img src="../page/rpn_news/images/rpn03_nav01.jpg" width="15" height="255" alt="何度行っても新鮮な京都の魅力"></a></li>
<li class="ml30"><a href="#sec02"><img src="../page/rpn_news/images/rpn03_nav02.jpg" width="16" height="193" alt="大人の京都の楽しみ方"></a></li>
<li class="ml30"><a href="#sec03"><img src="../page/rpn_news/images/rpn03_nav03.jpg" width="15" height="307" alt="庭園なら銀閣寺、仏像なら三十三間堂"></a></li>
<li><a href="#sec04"><img src="../page/rpn_news/images/rpn03_nav04.jpg" width="14" height="312" alt="京都旅の上級者におすすめのスポット"></a></li>
</ul>		
</div>

<div class="anunc">
<p>ロイヤル・プラチナ会員さまへ毎月お届けする「ロイヤル・プラチナ ニュース」の特集をさらにくわしくご紹介いたします。</p>
</div>

<div class="navigtr">
<p class="mb20"><img src="../page/rpn_news/images/rpn03_navigator.jpg" width="240" height="100" alt="今月のナビゲーター 山下 裕二(やました　ゆうじ) 明治学院大学文学部 芸術学科教授"></p>
<p>1958年広島県呉市生まれ。東京大学大学院修了。日本美術史研究者。1996年から、赤瀬川原平氏とともに日本美術応援団を結成。団長に就任し、独自の活動を展開している。主な著書に『室町絵画の残像』（中央公論美術出版）、赤瀬川原平氏との共著シリーズに『日本美術応援団』（日経BP社）、『日本美術観光団』（朝日新聞出版）、『京都、オトナの修学旅行』（ちくま文庫）などがある。</p>
</div>

<!-- .backnumber -->
<div class="backnumber">
<p><img src="../page/rpn_news/images/rpn01_ssttl02.png" width="140" height="16" alt="バックナンバー"></p>
<ul>
<li class="jan2014"><a href="/rps/static/?f=page/rpn_news/index&{%%svid%%}
"><img src="../page/rpn_news/images/rpn01_bk_01.png" width="240" height="110" alt="1月号「初春、いざ城へ」"></a></li>
<li class="feb2014"><a href="/rps/static/?f=page/rpn_news/index_02&{%%svid%%}
"><img src="../page/rpn_news/images/rpn02_bk_02.jpg" width="240" height="110" alt="2月号「早春　スポーツに目覚める」"></a></li>
<li class="mar2014"><a href="/rps/static/?f=page/rpn_news/index_03&{%%svid%%}
"><img src="../page/rpn_news/images/rpn03_bk_03.jpg" width="240" height="110" alt="3月号「愉楽の大人修学旅行」"></a></li>
</ul>
</div>

<!-- /.backnumber -->

<!-- /.sideNav --></div>

<!-- /#fontSize --></div>

<!-- /#main --></div>

<!--div class="ftr pnav"><a href="#sogo_seibu"><img src="../page/rpn_news/images/rpn01_pnav.png" width="61" height="11" alt="PageTop"></a></div-->

					

{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
