<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>エトロ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/etro/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
    
          <!-- newマークギミック -->
<style>
	.closeDate {display: none;}

#sogo_seibu #main .newicon {
	margin-bottom:5px !important;
	
}
</style>
<script>
$(function(){
var d = new Date();
// 年月日・曜日・時分秒の取得
var nowyear   = d.getFullYear();
var nowmonth  = d.getMonth() + 1;
var nowday    = d.getDate();
var nowhours  = d.getHours();

$('.newicon').each(function(){
var time = $(this).children('.closeDate').text().split('.');
var onyear = (time[0]);
var onmonth = (time[1])-0;
var onday = (time[2])-0;
var ontime = (time[3])-0;
var checkyear = onyear - nowyear;
var checkmonth = onmonth - nowmonth;
var checkday = onday - nowday;
var checktime = ontime - nowhours;
var newIcn = $(this).children('.newIcn');
var newIcnImg = '<img class="item_icon" src="../_common/images/Icon_new.gif" width="36" height="13" />';
if(checkyear > 0) {
	newIcn.html(newIcnImg);
} else if(checkyear == 0) {
if(checkmonth >= 1) {
if( onmonth == 1 || onmonth == 2 || onmonth == 4 || onmonth == 6 || onmonth == 8 || onmonth == 9 || onmonth == 11) {
onday = onday+31;		
} else if(onmonth == 3) {
onday = onday+28;							
} else {
onday = onday+30;
}
checkday = onday - nowday;
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
}

} else if(checkmonth == 0) {
if(checkday > 0) {
	newIcn.html(newIcnImg);
} else if(checkday == 0 && checktime > 0) {
	newIcn.html(newIcnImg);
};
};
};

});  
});

</script>
<!-- newマークギミック -->

	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li><a href="/rps/static/?f=page/luxury/etro/index&{tpl_var name=svid_get}">エトロ</a></li>
		<li id="presentLocation">Ladies&rsquo;</li>
	</ul>
	<div id="brand"><img src="../page/luxury/etro/images/etro03.jpg" alt="エトロ" /></div>
	<div id="main">
		<div id="itemCatalog">
		
		<p class="sttl"><img src="../page/luxury/etro/images/etro_sttl02.gif" alt="Ladies'" /></p>
        
			<div id="itemList">
			
				<div>
					 <a href="../detail/?a=Item_detail&id=4542&{%%svid%%}"><img src="../page/luxury/etro/images/etro_140623_01.jpg" alt="" /></a>
					<!-- newマークギミック --><div class="newicon"><span class="newIcn left"></span><div class="closeDate">2014.7.7.9</div></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=4542&{%%svid%%}">
					<h1>＜カルカッタ＞ トートバッグ</h1></a>
				</div>
			
				<div>
					<a href="../detail/?a=Item_detail&id=4541&{%%svid%%}"><img src="../page/luxury/etro/images/etro_140623_02.jpg" alt="" /></a>
					<!-- newマークギミック --><div class="newicon"><span class="newIcn left"></span><div class="closeDate">2014.7.7.9</div></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=4541&{%%svid%%}">
					<h1>＜カルカッタ＞ ミニボストンバッグ</h1></a>
				</div>
            
				<div class="end">
					<a href="../detail/?a=Item_detail&id=4540&{%%svid%%}"><img src="../page/luxury/etro/images/etro_140623_03.jpg" alt="" /></a>
              		<!-- newマークギミック --><div class="newicon"><span class="newIcn left"></span><div class="closeDate">2014.7.7.9</div></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=4540&{%%svid%%}">
					<h1>＜カルカッタ＞ ハンドバッグ</h1></a>
					</div>
				</div>


			<div id="itemList">
			
				<div>
					<a href="../detail/?a=Item_detail&id=4058&{%%svid%%}"><img src="../page/luxury/etro/images/etro_131210_04.jpg" alt="" /></a>
  					<!-- newマークギミック --><div class="newicon"><span class="newIcn left"></span><div class="closeDate">2013.12.25.9</div></div><!-- newマークギミック -->
					<a href="../detail/?a=Item_detail&id=4058&{%%svid%%}">
					<h1>＜アンブレ＞ 長財布</h1></a>
			</div>
				<div>
				<a href="../detail/?a=Item_detail&id=3774&{%%svid%%}"><img src="../page/luxury/etro/images/etro_130910_01.jpg" alt="" /></a>
				<!-- newマークギミック --><div class="newicon"><span class="newIcn left"></span><div class="closeDate">2013.10.25.9</div>
                <span><img class="gentei item_icon" alt="限定" src="../_common/images/Icon_01.gif"></span></div><!-- newマークギミック -->
              <a href="../detail/?a=Item_detail&id=3774&{%%svid%%}">
			  <h1>ショール</h1></a>
			</div>
          </div>

            
            
       
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
</html>
