<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=EUC-JP" />
	<title>エトロ | ラグジュアリー | ROYAL PLATINUM SELECTION</title>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../page/luxury/etro/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../page/luxury/_common/css/fontsizemedium.css" type="text/css" title="text size medium" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizelarge.css" type="text/css" title="text size large" />
	<link rel="alternate stylesheet" href="../page/luxury/_common/css/fontsizesmall.css" type="text/css" title="text size small" />
	<script src="../_common/js/jquery-1.4.2.min.js" type="text/javascript" charset="EUC-JP"></script>
	<script src="../_common/js/function.js" type="text/javascript" charset="EUC-JP"></script>
	<!--[if lt IE 7]>
	<script src="_common/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="EUC-JP"></script>
	<script type="text/javascript">DD_belatedPNG.fix(".png");</script>
	<![endif]-->
</head>
<body id="sogo_seibu" class="itemPage category01">
{%%authheader%%}
<ul id="topicPath">
		<li><a href="../?{%%svid%%}">TOP</a></li>
		<li><a href="../item/?a=item_list&category=5&{%%svid%%}">ラグジュアリー</a></li>
		<li id="presentLocation">エトロ</li>
	</ul>
	<div id="brand"><img src="../page/luxury/etro/images/etro01.jpg" alt="エトロ 文化と美をこよなく愛するジンモ・エトロによって、1968年に設立されたイタリアのラグジュアリーブランド“エトロ”。独自の技法とセンスで現代に蘇らせた伝統的な模様「ペイズリー柄」をはじめ、その美しくオリジナリティー溢れる色使いやプリント、上質な素材によるコレクションは、世界中の人々を魅了してやみません。" /></div>
	<div id="main">
		<div id="itemCatalog">
			<div id="itemLink">
			<dl class="fLeft">
			<dt><a href="../static/?f=page/luxury/etro/index02&{%%svid%%}"><img src="../page/luxury/etro/images/etro_ttl01.gif" alt="Men's" border="0" /></a></dt>
			<dd><a href="../static/?f=page/luxury/etro/index02&{%%svid%%}"><img src="../page/luxury/etro/images/etro_photo01.jpg" alt="" /></a></dd>
			</dl>
			
			<dl class="fRight">
			<dt><a href="../static/?f=page/luxury/etro/index03&{%%svid%%}"><img src="../page/luxury/etro/images/etro_ttl02.gif" alt="Ladies'" /></a></dt>
			<dd><a href="../static/?f=page/luxury/etro/index03&{%%svid%%}"><img src="../page/luxury/etro/images/etro_photo02.jpg" alt="" /></a></dd>
			</dl>
			
			</div>
		</div>
	</div>
{%%about%%}
{%%authfooter%%}
{%%analytics%%}
</body>
</html>
